// NOTE: this file was pulled from the "do-it" theme
//       and needs to be re-written!

// DEFAULT COLORS

// COLOR SCHEMES
// experimental math-generated color schemes
// define a primary color to base these on
$white: #fff
$primary: $white

$black:              #000000
$black-not:          #161616
$gray:               #5f5c58
$gray2:              #8e8a86
$gray3:              #bcbcbc
$gray4:              #3e3e3e
$gray5:              #525252
$gray6:              #d2d2d2
$gray-bg1:           #3f3f3f
$gray-dark:          #222222
$gray-darker:        #343434
$gray-light:         #d1d1d1
$gray-lighter:       #e3e3e3
$gray-lighter2:      #a1a1a1
$gray-lighter3:      #c6c6c6
$gray-gloss-light:   #b7b7b7
$gray-gloss-dark:    #a5a5a5
$gray-thin-dark:     #4c4c4c
$gray-thin-light:    #767370
$gray-green:         #888b81
$blue:               #014e9c
$blue2:              #005dab
$blue-light:         #005ba9
$blue-lighter:       #2c85d0
$blue-light2:        #005daa
$blue-alt:           #417cb4
$yellow:             #ffd203
$yellow-gloss-light: #fbdf61
$yellow-gloss-dark:  #fbc013
$purple:             #652e72
$purple-trans:       rgba($purple, 0.8)

$blue: #18408b
$gold: #fed100
$purple: #502862
$gray1: #1e1d1c
$gray2: #333131
$gray3: #4b4744
$gray4: #807A75
$gray5: #d4d2d1
$gray6: #efefef

// grays for double underlines on titles
$gray-border-alt: #292726
$gray-border: #938D88

// secondary colors
$blue-light: #2b63b1
$gray1-trans: rgba($gray1, 0.75)
$gray2-trans: rgba($gray2, 0.5)
$gray3-trans: rgba($gray3, 0.35)
$gray4-trans: rgba($gray4, 0.25)

// system colors
$alert-green: #47C965
$alert-red: red

// $c-twitter-block-text: $gray3
// $c-utility-bar-bg: $gray-darker
// $c-become-member: $gray
// $c-impact: $gray-dark
// $c-content-bg: $gray-lighter
// $c-right-lower-sidebar: $gray-light
// $c-menu-primary-bg: $blue-light
// $c-menu-primary-text: $blue-lighter
// $c-menu-secondary-bg: $blue
// $c-menu-secondary-hover: $blue-alt
// $c-headings: $blue
// $c-headers: $blue2
// $c-callouts: $yellow
// $c-callouts-secondary: $purple
// $c-button-dark: $gray-darker
// $c-button-dark-active: $black-not
// $c-thin-line-dark: $gray-thin-dark
// $c-thin-line-light: $gray-thin-light

// select dropdowns
$c-select-field-bg: $gray2
$c-select-menu-bg: scale-lightness($gray2, -20%)
$c-select-link-hover: $gray-dark


// Color variables expected by _defaults.sass ------------------
$base-color: $gray1
$alt-color: $blue
$background-color: $blue
$border-color: $white
