// NOTE: this file was pulled from the "do-it" theme
//       and needs to be re-written!

// This file establishes simple clean default font stacks

$font-sans: "Trebuchet MS", sans-serif
$font-serifs: Georgia, serif
$font-mono: Consolas, Menlo, 'Courier New', monospace, monospace

$font-din: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, $font-sans
$font-din-reg: din-web-reg, $font-sans
// uncomment to integrate typekit or similar
// $font-typekit-FONTNAME: fontname
// $font-typekit-FONTNAME: fontname
//
// $font-sans: $font-typekit-FONTNAME, $font-sans
// $font-serifs: $font-typekit-FONTNAME, $font-serifs

$font-body: $font-din-reg
$font-headline: $font-din
$font-logo: $font-sans

// special use font stacks
// ampersands
// $font-amp: $font-serifs
// CAPS
// $font_cap: $font-sans
