////////////////////////////
// Create your site-specific
// styles here
////////////////////////////
#page
  width: 760px
  min-height: 800px
  margin: auto
  padding-bottom: 20px

body
  background: $background-color url(../images/bg.png) no-repeat
  background-position: center

.front
  #page
    background: url(../images/pitbull-bg.png) no-repeat
    background-position: 0 -350px
    padding-bottom: 12px


#logo
  +float-right
  margin: 6px

#name-and-slogan
  +float-left

#content
  clear: both

.page-pics-for-pets-gallery
  #content
    margin-top: -140px

.mission-text
  @extend %league-gothic
  background: rgba($white, 0.75)
  width: 100%
  text-transform: uppercase
  font-size: 45px
  text-align: center
  line-height: 1.125
  margin-top: 225px

#gallery-link
  @extend %league-gothic
  +float-right
  text-transform: uppercase
  font-size: 24px
  line-height: 1.25
  a
    color: $pfp-red
    &:hover
      color: $pfp-gray-lt

.picsforpets-scholarship
  +float-left
  // z-index: 1000px
  position: relative
  a
    +replace-text-with-dimensions('10k-scholarship.png')
    display: block

.picsforpets-gallery
  background: $white
  padding-right: 40px
  padding-left: 24px
  +float-left
  margin-top: 30px
  margin-left: -12px

#ds-logo
  +replace-text-with-dimensions('ds-logo.png')
  +float-left
  margin: 12px

.white-block
  background: rgba($white, 0.75)
  text-align: center
  text-transform: uppercase
  height: 200px
  width: 200px
  margin: 18px
  +float-left
  margin-top: 100px
  font-size: 22px
  padding: 0 12px 0 12px
  border: 1px solid $pfp-gray-lt
  +border-radius(8px)
  p
    @extend %league-gothic
    border-bottom: 1px solid $black
    height: 50px

.panel-1col
  margin: 0 auto
  margin-bottom: 24px

div[role="main"]
  padding: 6px

////////////////////////////
// LETS GET STARTED
////////////////////////////
// .page-pics-for-pets-lets-get-started,
// .node-type-fb-app-data-gathering-form
//   #main-wrapper
//     margin-top: -124px

#find-a-shelter
  background: rgba($white, 0.75) url(../images/find-a-shelter.png) no-repeat
  background-position: 50% 80px

#get-the-guide
  background: rgba($white, 0.75) url(../images/get-the-guide.png) no-repeat
  background-position: 50% 85px

#submit-your-shelter-pic
  background: rgba($white, 0.75) url(../images/submit-your-shelter.png) no-repeat
  background-position: 50% 74px

.picsforpets-menu
  @extend %league-gothic
  +horizontal-list($padding: 4px, $direction: left)
  +clearfix
  text-transform: uppercase
  font-size: 20px
  line-height: 1.5
  text-align: center
  clear: both
  position: bottom
  height: 54px
  padding-top: 12px
  padding-bottom: 14px
  li
    background: $white
    width: 190px
    a
      +link-colors($pfp-gray, $pfp-gray-lt, $pfp-gray-lt, $pfp-gray, false)

a.footer-furtography
  +clearfix
  background: url(../images/links-10k-icon.png) no-repeat
  padding-left: 60px
  background-position: -4px -4px
  height: 75px
  padding-top: 12px
  padding-bottom: 24px

////////////////////////////
// POPUP MESSAGES
////////////////////////////
#dosomething-picsforpets-general-furtographer-form--2
  +clearfix
  div
    clear: both

.views-exposed-widgets
  margin-bottom: -3px

.ui-widget-overlay
  +opacity(0.75)
  background: $black

.ui-dialog .ui-dialog-titlebar
  @extend %league-gothic
  padding: 12px

.ui-widget-header
  @extend %league-gothic
  +border-radius(0)
  padding: 0
  background: none
  border: none
  color: $white
  text-align: center
  font-family: $font-sans
  text-transform: uppercase
  font-size: 52px
  border-bottom: 1px solid $white
  margin-bottom: 12px

.ui-dialog-content
  color: $white
  clear: both
  font-family: $font-sans

#shelter-results
  background: $white
  color: $black
  padding: 24px
  +border-radius(12px)
  input
    +float-left
  .form-item-results
    +clearfix
    margin-bottom: 24px
    .label-shelter-title
      font-weight: bold

////////////////////////////
// MODAL GENERAL LAYOUT
////////////////////////////

#dosomething-picsforpets-furtographer-dialog
  margin-top: 12px

.ui-dialog
  background: rgba($black, 0.75)
  border: none
  padding: 23px
  +border-radius(0)
  .ui-dialog-content
    padding: 0
  .ui-dialog-title
    height: 0
    margin: 0
    float: none
  .ui-dialog-titlebar
    display: inline
    height: 0
    margin: 0
    padding: 0
  .ui-dialog-titlebar-close
    margin: 0
    padding: 0
    right: 0
    top: 0
    width: 0
    span
      margin: 0

.ui-icon.ui-icon-closethick
  +replace-text-with-dimensions('close.png')
  position: absolute
  text-indent: -1000px
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
  background-image: none
  border: none
  outline: none
  text-decoration: none

.pane-share
  margin-top: -175px
  position: absolute
  text-transform: uppercase
  text-align: center
  padding-left: 60px
  // top: -200

#picsforpets-share
  h1
    border-bottom: 1px solid $black
    padding-bottom: 8px
    margin-bottom: 16px
    padding-top: 20px
  .fb-share-me
    @extend h1
    +float-left
    +border-radius(8px)
    cursor: pointer
    color: $white
    padding: 10px 8px
    background: $pfp-blue-fb
    border-bottom: 0
    margin-right: -46px
    margin-bottom: 0
    margin-top: -8px
    margin-left: 46px

.picsforpets-share-count-arrow
  background: url(../images/fb-share-count.png) no-repeat
  background-position: 2px 8px
  position: relative
  z-index: 800
  padding: 3px
  margin-right: -2px

.picsforpets-share-count
  border: 1px solid #c5c6c8
  position: relative
  z-index: 750
  background-color: $white
  padding: 2px 12px

// Submit a pet picture
#webform-client-form-3
  margin: 0 auto
  width: 552px
  select
    +box-shadow(#ddd 0 0 10px inset)
    border: 1px solid #C9CBCD
  legend
    margin-left: -20px
  label
    cursor: default
  .form-item-submitted-enter-animal-info-field-fb-app-animal-type-und
    label
      margin-right: 15px
    select
      width: 80px
  #submitted-field-fb-app-age-add-more-wrapper
    label
      margin-right: 67px
    input
      width: 80px
  #field-fb-app-three-words-values
    tr.odd .form-item, tr.even .form-item
      margin-bottom : 5px
  input[type="text"]
    +box-shadow(#ddd 0 0 10px inset)
    border: 1px solid #C9CBCD

.big-numbers
  +replace-list-numbers
  li
    border-left: 3px solid $black
    margin-bottom: 0.5em
    padding: 0 0 0 5px
    position: relative
    &:before
      @extend %h1
      font-size: 38px
      position: absolute
      right: 100%
      top: 8px
      padding-right: 5px
