////////////////////////////
// INVITE FRIENDS
////////////////////////////
#picsforpets-invite-friends
  +border-radius(8px)
  +box-shadow(rgba($black, 0.3) 0px 0px 20px)
  +clearfix
  cursor: pointer
  background: $pfp-blue-fb
  padding: 10px 8px 10px 0
  margin: auto
  width: 190px
  margin-bottom: 50px
  #picsforpets-invite-friends-image
    +float-left
    height: 50px
    width: 50px
    border-right: 1px solid $white
    margin-top: -10px
    margin-bottom: -10px
    background: url(../images/fp-invite-friends.png) no-repeat
    background-position: center 8px
  #picsforpets-invite-friends-text
    @extend %league-gothic
    +float-right
    font-size: 27px
    line-height: 1
    text-transform: uppercase
    color: $white
    padding-left: 12px
