// Styling for the questions page

.page-pics-for-pets-questions
  .content
    +border-radius(8px)
    +box-sizing(border-box)
    background: rgba($white, 0.75)
    border: 1px solid $pfp-gray-lt
    margin: 0 auto
    margin-bottom: 100px
    padding: 12px 18px
    width: 490px
    .fieldset-legend
      letter-spacing: 0
    fieldset.collapsed
      height: auto
    fieldset
      a
        color: $black
        font-family: $font-sans
        font-size: 20px
        text-transform: none
      .fieldset-wrapper
        border: none
        background-color: transparent
        padding-left: 36px
