// Find a shelter lookup styles

#dosomething-picsforpets-shelters-lookup-form
  +clearfix
  margin: 0 auto
  width: 270px
  // Style the zip code label
  .form-item-zip label
    cursor: default
    text-transform: uppercase
    font-size: 24px
    font-family: $font-dinweb-condbold
    line-height: 1
    margin-right: 3px
  // Style search button
  #edit-zip,
  #edit-submit
    +float-left
  #edit-submit
    background: image_url('magnify-box.png')
    background-repeat: no-repeat
    background-position: 50% 50%
    border: none
    box-shadow: none
    height: 15px
    margin-top: 3px
    margin-left: 3px
    overflow: hidden
    padding: none
    text-indent: 9999px
    white-space: nowrap
    width: 15px
