.main-inner {
  padding-top: 10px;
  width: 750px; }
  .main-inner a {
    color: blue; }
    .main-inner a:hover {
      color: black; }
  .main-inner b {
    font-weight: 600; }

p {
  font-size: 14px; }

h1.title {
  display: none; }

h2.pane-title {
  background: red; }

img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }

ul {
  margin: 0; }

body {
  background-color: #1f4ba7;
  background-image: url("assets/logo-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 405px;
  background-color: white; }

div[role="main"] {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 8px;
  padding-top: 10px;
  background: none; }

.three-boxes {
  width: 32% !important;
  float: left !important;
  margin-right: 2% !important; }
  .three-boxes:last-child {
    margin-right: 0 !important; }
  .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-flexible, .panel-row-actions {
  margin: 0px; }
  .panel-row-flexible .panel-pane, .panel-row-actions .panel-pane {
    margin-bottom: 15px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    border: none !important;
    background: none; }
    .panel-row-flexible .panel-pane .pane-title, .panel-row-actions .panel-pane .pane-title {
      background: red; }

.ds-panel .pane-content {
  padding-bottom: 0px; }

#breadcrumb {
  display: none; }

.panel-row-ad-quick-info h2.pane-title {
  color: blue !important; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background: rgba(255, 255, 255, 0.8);
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu li {
      line-height: 1.2em; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black;
      font-family: "din-web-reg"; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: blue;
        text-decoration: none; }

.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.field-name-field-campaign-logo img {
  width: 480px;
  height: 230px;
  margin-top: 0px !important; }

.panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 1.4em; }
  .panel-top-right-mini-info .field-name-field-campain-date {
    color: blue;
    padding: 0;
    font-weight: 600; }
  .panel-top-right-mini-info .field-name-field-campaign-teaser p {
    margin-bottom: 15px; }
  .panel-top-right-mini-info .pane-content {
    padding-bottom: 0; }

.pane-campaign-social .pane-content .fb-facepile {
  margin-bottom: 5px; }
  .pane-campaign-social .pane-content .fb-facepile:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.pane-campaign-social .pane-content .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .pane-content .socialWrapper:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 247px; }

.panel-row-actions {
  background: #eeeeee;
  margin: 0 0 15px 0;
  width: 750px;
  border: none !important; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: blue; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

.webform-client-form #edit-actions,
.webform-client-form #edit-actions--2 {
  position: absolute;
  right: 80px;
  top: 48px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px;
  padding: 15px 0 12px 0; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 13px;
    left: 324px;
    color: blue; }
    #campaign-opt-in a:hover {
      color: black;
      text-decoration: none; }

.pane-campaign-counter .pane-content {
  padding: 20px 25px; }
  .pane-campaign-counter .pane-content .campaign-counter-labels {
    text-transform: uppercase;
    font-size: 25px;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 500;
    line-height: 25px;
    float: left; }
  .pane-campaign-counter .pane-content .digits, .pane-campaign-counter .pane-content .campaign-counter-label-bottom, .pane-campaign-counter .pane-content .campaign-counter-label-top {
    margin-bottom: 8px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em;
  padding: 0; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: blue;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 0.8em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-ad-psa {
  margin-top: 35px; }

.panel-row-logos {
  margin-top: 2em; }
  .panel-row-logos .pane-title {
    color: blue;
    background: none;
    margin: 0;
    padding: 0; }
  .panel-row-logos .pane-content {
    background: none;
    padding: 0; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content ul {
    margin: 0px 10px;
    padding: 1.5em; }
  .faq-section .pane-content li h3 {
    font-size: 1.6em;
    text-transform: none; }
  .faq-section .pane-content li p {
    margin-top: 0; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 20px 20px 0;
    float: left; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: blue;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none !important;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #eeeeee; }

#edit-submitted-field-webform-school-reference,
#submitted-field-webform-school-zip-add-more-wrapper {
  display: none; }

.node-type-campaign-sign-up #webform-component-first-name, .node-type-campaign-sign-up #webform-component-last-name, .node-type-campaign-sign-up #webform-component-address-1, .node-type-campaign-sign-up #webform-component-address-2, .node-type-campaign-sign-up #webform-component-city, .node-type-campaign-sign-up #webform-component-state, .node-type-campaign-sign-up #webform-component-zip-code, .node-type-campaign-sign-up #webform-component-who-with, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value, .node-type-campaign-sign-up .form-item-first-name, .node-type-campaign-sign-up .form-item-last-name, .node-type-campaign-sign-up .form-item-email, .node-type-campaign-sign-up .form-item-cell, .node-type-campaign-sign-up .form-item-pass {
  clear: both;
  margin: 0 auto !important;
  float: left !important; }
  .node-type-campaign-sign-up #webform-component-first-name label, .node-type-campaign-sign-up #webform-component-last-name label, .node-type-campaign-sign-up #webform-component-address-1 label, .node-type-campaign-sign-up #webform-component-address-2 label, .node-type-campaign-sign-up #webform-component-city label, .node-type-campaign-sign-up #webform-component-state label, .node-type-campaign-sign-up #webform-component-zip-code label, .node-type-campaign-sign-up #webform-component-who-with label, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email label, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value label, .node-type-campaign-sign-up .form-item-first-name label, .node-type-campaign-sign-up .form-item-last-name label, .node-type-campaign-sign-up .form-item-email label, .node-type-campaign-sign-up .form-item-cell label, .node-type-campaign-sign-up .form-item-pass label {
    width: 220px;
    padding: 5px 0 0 40px; }
  .node-type-campaign-sign-up #webform-component-first-name label, .node-type-campaign-sign-up #webform-component-first-name input, .node-type-campaign-sign-up #webform-component-last-name label, .node-type-campaign-sign-up #webform-component-last-name input, .node-type-campaign-sign-up #webform-component-address-1 label, .node-type-campaign-sign-up #webform-component-address-1 input, .node-type-campaign-sign-up #webform-component-address-2 label, .node-type-campaign-sign-up #webform-component-address-2 input, .node-type-campaign-sign-up #webform-component-city label, .node-type-campaign-sign-up #webform-component-city input, .node-type-campaign-sign-up #webform-component-state label, .node-type-campaign-sign-up #webform-component-state input, .node-type-campaign-sign-up #webform-component-zip-code label, .node-type-campaign-sign-up #webform-component-zip-code input, .node-type-campaign-sign-up #webform-component-who-with label, .node-type-campaign-sign-up #webform-component-who-with input, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email label, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value label, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input, .node-type-campaign-sign-up .form-item-first-name label, .node-type-campaign-sign-up .form-item-first-name input, .node-type-campaign-sign-up .form-item-last-name label, .node-type-campaign-sign-up .form-item-last-name input, .node-type-campaign-sign-up .form-item-email label, .node-type-campaign-sign-up .form-item-email input, .node-type-campaign-sign-up .form-item-cell label, .node-type-campaign-sign-up .form-item-cell input, .node-type-campaign-sign-up .form-item-pass label, .node-type-campaign-sign-up .form-item-pass input {
    float: left;
    margin: 8px 0;
    font-size: 14px; }
  .node-type-campaign-sign-up #webform-component-first-name input, .node-type-campaign-sign-up #webform-component-last-name input, .node-type-campaign-sign-up #webform-component-address-1 input, .node-type-campaign-sign-up #webform-component-address-2 input, .node-type-campaign-sign-up #webform-component-city input, .node-type-campaign-sign-up #webform-component-state input, .node-type-campaign-sign-up #webform-component-zip-code input, .node-type-campaign-sign-up #webform-component-who-with input, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input, .node-type-campaign-sign-up .form-item-first-name input, .node-type-campaign-sign-up .form-item-last-name input, .node-type-campaign-sign-up .form-item-email input, .node-type-campaign-sign-up .form-item-cell input, .node-type-campaign-sign-up .form-item-pass input {
    width: 225px !important; }
    .node-type-campaign-sign-up #webform-component-first-name input:focus, .node-type-campaign-sign-up #webform-component-last-name input:focus, .node-type-campaign-sign-up #webform-component-address-1 input:focus, .node-type-campaign-sign-up #webform-component-address-2 input:focus, .node-type-campaign-sign-up #webform-component-city input:focus, .node-type-campaign-sign-up #webform-component-state input:focus, .node-type-campaign-sign-up #webform-component-zip-code input:focus, .node-type-campaign-sign-up #webform-component-who-with input:focus, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input:focus, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input:focus, .node-type-campaign-sign-up .form-item-first-name input:focus, .node-type-campaign-sign-up .form-item-last-name input:focus, .node-type-campaign-sign-up .form-item-email input:focus, .node-type-campaign-sign-up .form-item-cell input:focus, .node-type-campaign-sign-up .form-item-pass input:focus {
      background-color: lightyellow; }
.node-type-campaign-sign-up .webform-component-markup {
  float: left;
  clear: both;
  width: 100%; }
.node-type-campaign-sign-up #webform-component-who-with label {
  width: 100%;
  padding-left: 0; }
.node-type-campaign-sign-up #webform-component-who-with textarea {
  border: none;
  -webkit-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  -moz-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  outline: none;
  padding-left: 5px; }
  .node-type-campaign-sign-up #webform-component-who-with textarea:focus {
    background-color: lightyellow; }
.node-type-campaign-sign-up #webform-component-who-with .grippie {
  margin-bottom: 10px; }
.node-type-campaign-sign-up .panel-row-flexible-top {
  width: 550px;
  margin: 0 auto; }
  .node-type-campaign-sign-up .panel-row-flexible-top h2.pane-title {
    display: none; }
.node-type-campaign-sign-up #webform-component-instructions {
  margin: 0 0 -10px 0 !important; }
.node-type-campaign-sign-up form.webform-client-form #edit-actions--2, .node-type-campaign-sign-up form.webform-client-form #edit-actions {
  text-align: center;
  margin: 10px;
  clear: both; }

.center {
  text-align: center; }

.pane-dosomething-login-register-block {
  margin-bottom: 0 !important; }
  .pane-dosomething-login-register-block h2.pane-title {
    display: block !important; }

#dosomething-login-register-popup-form input:focus {
  background-color: lightyellow; }
#dosomething-login-register-popup-form .form-item-last-name, #dosomething-login-register-popup-form .form-item-cell, #dosomething-login-register-popup-form .form-item-pass {
  width: 100%; }
#dosomething-login-register-popup-form .ds-registration-form-required {
  position: static; }
#dosomething-login-register-popup-form .popup-content {
  height: 100% !important;
  padding: 15px 15px 0 15px !important;
  margin: 0 !important; }
#dosomething-login-register-popup-form #edit-birthday input {
  width: 68px; }
#dosomething-login-register-popup-form #edit-birthday label {
  width: 220px;
  padding: 5px 0 0 40px;
  margin: 8px 0; }
  #dosomething-login-register-popup-form #edit-birthday label .login-popup-birthday {
    position: static !important;
    font-size: 14px !important; }
#dosomething-login-register-popup-form #edit-birthday .form-item-month, #dosomething-login-register-popup-form #edit-birthday .form-item-day, #dosomething-login-register-popup-form #edit-birthday .form-item-year {
  margin-top: 8px !important; }

.node-type-campaign-report-back .panel-row-flexible-top {
  width: 550px;
  margin: 0 auto; }
  .node-type-campaign-report-back .panel-row-flexible-top label {
    margin-top: 1em; }
  .node-type-campaign-report-back .panel-row-flexible-top fieldset legend {
    padding: 20px 0 0 0 !important; }
  .node-type-campaign-report-back .panel-row-flexible-top #edit-actions--2, .node-type-campaign-report-back .panel-row-flexible-top #edit-actions {
    text-align: center;
    margin: 10px;
    clear: both; }

#block-dosomething-campaign-styles-campaign-nav, #block-dosomething-login-become-member, #block-dosomething-blocks-dosomething-make-impact, #block-dosomething-blocks-dosomething-social-skyscraper, #block-block-5 {
  display: none; }

hr.gray {
  border-top: 1px solid lightgray;
  border-bottom: none;
  clear: both;
  margin: 0px; }

.flaghead-box {
  text-align: center;
  margin-top: 0px; }

.flaghead {
  background: #ff9700;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: -1px auto 20px auto;
  clear: both;
  padding: 15px 20px 10px;
  font-size: 16px;
  font-family: din-web-reg, din-web, "Trebuchet MS", sans-serif;
  font-weight: 400;
  width: 250px; }

a.wannago-btn {
  background: #00ccf5;
  background-image: linear-gradient(bottom, #00b9ec 32%, #00ccf5 53%, #a2e0fb 83%);
  background-image: -o-linear-gradient(bottom, #00b9ec 32%, #00ccf5 53%, #a2e0fb 83%);
  background-image: -moz-linear-gradient(bottom, #00b9ec 32%, #00ccf5 53%, #a2e0fb 83%);
  background-image: -webkit-linear-gradient(bottom, #00b9ec 32%, #00ccf5 53%, #a2e0fb 83%);
  background-image: -ms-linear-gradient(bottom, #00b9ec 32%, #00ccf5 53%, #a2e0fb 83%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #00b9ec), color-stop(0.53, #00ccf5), color-stop(0.83, #a2e0fb));
  display: inline-block;
  padding: 16px 20px 8px;
  color: white !important;
  text-transform: uppercase;
  font-size: 32px;
  font-family: din-web-reg;
  font-weight: 500;
  border-radius: 8px;
  margin: 10px auto 30px;
  line-height: 1em; }
  a.wannago-btn:hover {
    text-decoration: none;
    color: #e1e1e1 !important; }

.bottom-btn {
  margin-top: 20px !important; }

#header-hackathon {
  text-align: center; }
  #header-hackathon img {
    margin: 30px auto 20px;
    display: block; }

.box-thirds {
  float: left;
  padding: 20px;
  text-align: center;
  line-height: 1.4em;
  width: 250px;
  margin-bottom: 20px; }
  .box-thirds img {
    margin: 0 auto;
    display: block; }
  .box-thirds h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: din-web-reg, din-web, "Trebuchet MS", sans-serif;
    font-weight: 500; }

.half-box {
  float: left;
  width: 50%; }
  .half-box p {
    text-align: justify;
    margin: 20px 0 50px; }
  .half-box img {
    margin-top: 60px !important; }

#beer-goggles {
  background: white url("assets/lager.jpg") no-repeat top center;
  min-height: 227px;
  margin-bottom: 20px; }

.beer {
  position: relative; }
  .beer p {
    background: #111111;
    zoom: 1;
    filter: alpha(opacity=75);
    opacity: 0.75;
    padding: 10px;
    color: white;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    width: 750px; }

p.plain {
  width: 620px;
  margin: 30px auto 60px; }

img.plain {
  padding: 0px !important;
  margin-bottom: 30px !important; }

ul.come {
  margin: 10px auto 40px;
  width: 500px;
  font-size: 14px; }

img.cater2me {
  float: right;
  margin: 0 !important;
  padding: 0 0 20px; }

p.cater2me {
  float: left;
  width: 50%;
  padding: 38px 0 0 0; }

h2.note {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: red;
  padding: 12px 0 0;
  font-family: din-web-reg;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 102px;
  height: 40px; }
  h2.note:before, h2.note:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 20px solid red;
    border-bottom: 20px solid red; }
  h2.note:before {
    left: -20px;
    border-right: 20px soild red;
    border-left: 20px solid transparent; }
  h2.note:after {
    right: -20px;
    border-left: 20px soild red;
    border-right: 20px solid transparent; }

p.note {
  text-align: center;
  width: 620px;
  margin: 0 auto 24px;
  padding: 14px 10px 10px; }
