// This file establishes simple clean default font stacks

$font-sans: "Trebuchet MS", sans-serif
$font-serifs: Georgia, serif
$font-mono: Consolas, Menlo, 'Courier New', monospace, monospace

$font-din: din-web, $font-sans

// uncomment to integrate typekit or similar
// $font-typekit-FONTNAME: fontname
// $font-typekit-FONTNAME: fontname
//
// $font-sans: $font-typekit-FONTNAME, $font-sans
// $font-serifs: $font-typekit-FONTNAME, $font-serifs

$font-body: $font-sans
$font-headline: $font-din
$font-logo: $font-sans

// special use font stacks
// ampersands
// $font-amp: $font-serifs
// CAPS
// $font_cap: $font-sans