/* line 7, styles.sass */
.breadcrumb, .breadcrumbs, .region-sidebar-first {
  display: none !important;
}

/* line 10, styles.sass */
[role="main"] {
  width: 100% !important;
  margin: 0 !important;
}

/* line 14, styles.sass */
#page-title {
  display: none;
}

/* line 17, styles.sass */
#cgg {
  position: relative;
  float: none;
  width: 100%;
  background: white;
  margin: 7% 0;
  padding: 1% 3% 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 25, styles.sass */
#cgg .pane-title {
  display: none;
}
/* line 27, styles.sass */
#cgg form {
  width: 75%;
  float: right;
  padding: 0;
  box-shadow: none !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
}
/* line 33, styles.sass */
#cgg form label {
  font-size: 2em;
  padding: 2.5em 0 1.2em;
  text-transform: uppercase;
}
/* line 37, styles.sass */
#cgg form.webform-client-form #edit-actions {
  height: auto !important;
  margin: 2em 0 0 !important;
  text-align: center !important;
  float: left !important;
}
/* line 42, styles.sass */
#cgg h1, #cgg h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 0.4em 0;
}
/* line 46, styles.sass */
#cgg h1 {
  padding: 1em 0 0.2em 0;
}
/* line 48, styles.sass */
#cgg span {
  color: #1da4e4;
}
/* line 50, styles.sass */
#cgg #edit-submitted--2.form-wrapper {
  display: none;
}

/* line 53, styles.sass */
.cgg_logo {
  float: left;
  width: 21%;
  padding: 0;
}
/* line 57, styles.sass */
.cgg_logo img {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

/* line 62, styles.sass */
.field-name-ccg-celeb-image img {
  margin: 3% auto;
  width: 40%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 67, styles.sass */
.cgg_facebook, .cgg_twitter {
  display: block;
  width: 150px;
  height: 50px;
  text-indent: -1000px;
  margin: 1% 0 0 0;
  float: left;
}
/* line 74, styles.sass */
.cgg_facebook:hover, .cgg_twitter:hover {
  background-position-y: -50px;
}

/* line 77, styles.sass */
.cgg_facebook {
  background-image: url("http://files.dosomething.org/files/campaigns/cgg/cgg_facebook.png");
  margin: 1% 9% 2% 30.1%;
}

/* line 81, styles.sass */
.cgg_twitter {
  background-image: url("http://files.dosomething.org/files/campaigns/cgg/cgg_twitter.png");
}

/* line 84, styles.sass */
.go-button, #edit-submit, .form-submit {
  font-family: din-web !important;
  background: #fed100 !important;
  margin: 4% 0 1% !important;
  padding: 0.3em 0.7em !important;
  position: absolute !important;
  font-size: 1.5em !important;
  height: 35px !important;
  display: inline-block !important;
  bottom: 4em;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
  border-radius: 7px !important;
}

/* line 96, styles.sass */
#page-title {
  text-align: right;
  box-shadow: none !important;
  border: none !important;
}

/* line 101, styles.sass */
body, .container, div[role="main"] {
  background: #222222 !important;
}

@media only screen and (max-width: 1030px) {
  /* line 109, styles.sass */
  #page {
    width: 100% !important;
  }

  /* line 111, styles.sass */
  .region-sidebar-first {
    display: none !important;
  }

  /* line 113, styles.sass */
  #site-name {
    top: -54px !important;
    left: 5px !important;
  }
  /* line 116, styles.sass */
  #site-name a {
    height: 50px !important;
    width: 60px !important;
    background-size: 60px !important;
  }

  /* line 120, styles.sass */
  #utility-bar {
    height: 55px !important;
  }

  /* line 123, styles.sass */
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .search, #utility-bar #block-dosomething-blocks-dosomething-utility-bar #help-center {
    display: none !important;
  }
  /* line 125, styles.sass */
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .login {
    padding: 0.5em 1em 0 0 !important;
    font-size: 1.5em !important;
  }

  /* line 128, styles.sass */
  #main-wrapper div[role="main"] {
    float: none !important;
    width: 100% !important;
  }

  /* line 131, styles.sass */
  nav[role="navigation"] {
    display: none !important;
  }

  /* line 133, styles.sass */
  .container {
    margin: 0 auto !important;
    width: 100% !important;
  }

  /* line 139, styles.sass */
  #block-menu-menu-footer .content {
    width: 80% !important;
    margin: 0 auto !important;
  }

  /* line 142, styles.sass */
  #block-menu-menu-footer .content ul.menu li span {
    font-size: 16px !important;
    line-height: 1em !important;
  }

  /* line 145, styles.sass */
  #block-menu-menu-footer .content ul.menu ul li a {
    font-size: 14px !important;
    line-height: 1em !important;
  }
}
@media only screen and (max-width: 1030px) and (max-width: 775px) {
  /* line 136, styles.sass */
  header[role="banner"] {
    width: 100% !important;
  }
}
