/* Tables --------------------------------------------------------------
/* tables still need 'cellspacing="0"' in the markup

table
  @extend %constrain-to-parent
  border: 1px $gray5 solid

table, td, th
  // vertical-align: top

th, thead th
  // @extend .bold

th, td, caption
  // padding: $base-rhythm-unit * 0.5
  // text-align: left

table, th
  // +trailing-border(1px, 0.5)
  // border-color: $gray
  // border-style: dotted

// tr.even
  background-color: $gray5

tfoot
  // @extend .bold

caption
  // @extend .allcaps

//colgroup
//
//col

tbody
  border-top: none

thead tr th
  background-color: $blue
  border-right: 1px $gray5 solid
  border-bottom: none
  font-family: $font-headline
  height: $s9
  @extend %medium
  padding-left: $s0
  &:last-of-type
    border-right: none
  &,
  a
    @extend %white
    font-size: $s5
    line-height: 1.5
    &:hover
      @extend %white

tr
  &.odd, &.even
    padding: 0

td
  border: 1px solid $gray5
  padding: $s0
  &:last-of-type
    border-right: none

th.field-label
  background-color: transparent
  border-bottom: 1px $gray5 solid
  color: $base-color
  font-family: $font-body
  font-size: $s0
  label
    color: $base-color
    padding-left: $s-2
    &:hover
      color: $base-color

#edit-field-picture-und-table
  thead
    tr
      th
        background-color: transparent
        @extend %sans
        @extend %gray1
        @extend %bold
        font-size: $s0
        text-transform: none
        &:nth-of-type(odd)
          background-color: transparent

// Column width for clubs list table
.view-id-clubs
  td
    width: 25%
