////////////////////////////
// CONNECT THRU FACEBOOK BUTTON
// replace text with facebook button
// centered
////////////////////////////
.connect-thru-facebook
  a
    +replace-text-with-dimensions('btn-facebook-dashboard-login.png')
    display: block
    margin-bottom: 2px
    margin-left: auto
    margin-right: auto