////////////////////////////
// MAIN CONTENT SECTION
////////////////////////////
div[role=main]
  background-color: $gray6
  padding: $s6
  +box-sizing(border-box)
  min-height: 752px
  // border-top: 5px solid $background-color

// 404 Page

.headline-404, .subhead-404, .copy-404, .newshead-404, .news-404
  text-align: center
  line-height: 1em
  font-family: din-web

.headline-404
  font-size: 42px
  margin: 15px 0 10px 0

.subhead-404
  font-size: 20px
  margin: 0  

.copy-404
  font-size: 18px

.newshead-404
  font-size: 36px
  margin: 30px 0 5px 0

.news-404
  font-size: 24px
  margin-bottom: 5px
  input
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
  input[type="submit"]
    background: red
    border: none
    color: white
    margin-top: 6px
    padding: 4px 6px
    font-size: 16px
  input[type="text"]
    border: 3px solid #d9d9d9
    padding: 6px
    font-size: 13px
    width: 225px 
    margin-top: 4px

#search-404-page
  text-align: center
  h3
    font-family: din-web
    text-transform: uppercase
    color: #333
  input
    margin: 4px
  input[type="submit"]
    color: black
    background: #ffda3f
    border: none
    text-transform: uppercase
    padding: 6px 12px
    border-radius: 6px
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    font-weight: 600       	

.page-node-721535
  h1.title
    display: none
  h2.pane-title
    display: none  
  .form-type-searchfield
    label
      display: none
  .pane-search-form
    text-align: center
  #edit-submit 
    background: gray
    border: none
    padding: 6px 8px
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
    color: white
  #edit-keys
    border: 1px solid lightgray
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px


// 30sec Win for Home Page
#winning
  margin-bottom: 10px
  text-align: center
  h1
    background: #EFEFEF
    padding: 4px 10px
    display: inline-block
    margin: 0 auto
    font-size: 32px
    font-weight: 400
    text-transform: uppercase
    font-family: din-web-reg
  hr
    border-top: 2px solid #004B85
    border-bottom: none
    margin-top: -23px
    margin-bottom: 30px  
  a.cause-btn, a.cause-btn-center
    float: left
    width: 248px
    border: none !important
    margin: 0 0 4px
    color: #333
    text-shadow: 0 1px 1px #F5EBD7
    text-transform: uppercase
    font-weight: 600
    font-size: 21px
    font-family: din-web
    border-radius: 8px
    &:hover
      color: #000
      text-decoration: none
    img
      border-top-left-radius: 8px
      border-top-right-radius: 8px
      opacity: 1.0
      filter: alpha(opacity=100)
      &:hover
        opacity: 0.85
        filter: alpha(opacity=85)
    span
      background: #F4CA00
      display: block
      padding: 18px 0 14px
      background-image: linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -o-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -moz-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -webkit-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -ms-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(244,203,0)), color-stop(0.69, rgb(249,216,82)), color-stop(0.85, rgb(247,229,68)))
      border-bottom-left-radius: 8px
      border-bottom-right-radius: 8px
      border-top: 1px solid #F4CB00
  a.cause-btn-center
    margin: 0 3px

// Three Boxes
.three-boxes
  p
    font-size: 0.9em
    line-height: 1.4em

// Scholarship Pages
.scholarship-current
  border: none !important

// Mobile Apps, Maybe Webform
#mobile-apps-maybe
  .pane-title
    display: none
  form
    box-shadow: none
    border: none
    background: #f1f1f1
  label
    margin-top: 16px
  h2
    font-size: 21px
    line-height: 1.2em
    font-weight: 500
    font-family: din-web-reg
    color: #444
  input[type="text"]
    width: 320px
  input[type="submit"]
    float: left
    margin: 16px 0 0
    font-size: 21px