////////////////////////////
// MAIN CONTENT SECTION
////////////////////////////
div[role=main]
  background-color: $gray6
  padding: $s6
  +box-sizing(border-box)
  min-height: 752px
  // border-top: 5px solid $background-color

// 404 Page

.headline-404, .subhead-404, .copy-404, .newshead-404, .news-404
  text-align: center
  line-height: 1em
  font-family: din-web

.headline-404
  font-size: 42px
  margin: 15px 0 10px 0

.subhead-404
  font-size: 20px
  margin: 0  

.copy-404
  font-size: 18px

.newshead-404
  font-size: 36px
  margin: 30px 0 5px 0

.news-404
  font-size: 24px
  margin-bottom: 5px
  input
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
  input[type="submit"]
    background: red
    border: none
    color: white
    margin-top: 6px
    padding: 4px 6px
    font-size: 16px
  input[type="text"]
    border: 3px solid #d9d9d9
    padding: 6px
    font-size: 13px
    width: 225px 
    margin-top: 4px

#search-404-page
  text-align: center
  h3
    font-family: din-web
    text-transform: uppercase
    color: #333
  input
    margin: 4px
  input[type="submit"]
    color: black
    background: #ffda3f
    border: none
    text-transform: uppercase
    padding: 6px 12px
    border-radius: 6px
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    font-weight: 600       	

.page-node-721535
  h1.title
    display: none
  h2.pane-title
    display: none  
  .form-type-searchfield
    label
      display: none
  .pane-search-form
    text-align: center
  #edit-submit 
    background: gray
    border: none
    padding: 6px 8px
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
    color: white
  #edit-keys
    border: 1px solid lightgray
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px