////////////////////////////
// MAIN CONTENT SECTION
////////////////////////////
div[role=main]
  background-color: $gray6
  padding: $s6
  +box-sizing(border-box)
  min-height: 752px
  // border-top: 5px solid $background-color
