////////////////////////////
// SITE-WIDE UTILITY-BAR
////////////////////////////
#utility-bar
  background-color: $gray2
  color: $white
  height: $menu-height
  line-height: $menu-height / $base-font-size
  +box-sizing(border-box)
  .utility-block
    padding-left: $left-col-width
