.view-campaign-blog
  .views-row
    +clearfix

  .views-field-field-picture
    float: left
    margin-right: 16px

  .views-field-title
    font-size: 20px
    line-height: 2em

  //.views-field-body
    
