////////////////////////////
// SCHOOL PROXIMITY SEARCH PAGE RESULTS
// results from searching school location
////////////////////////////

.view-school-proximity
  @extend %two-column-grid
  @extend %image-teaser-module
  .item-list
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        margin: 0 0 12px 0
  .views-row
    @extend %image-teaser-module-teaser
