// GENERAL
// -------
.call-to-action,
.headline,
.footer
  background: $panel-color

// HEADER
// ------
.header
  position: relative
  width: 100%
  height: 330px
  border-bottom: 0
  background-color: transparent
  padding: 1% 2%
  overflow: visible
  @include respond-to(phones)
    height: 270px
    @include transition(height 0.5s)

  .header-logotype
    text-align: right
    color: #fff
    text-transform: uppercase
    line-height: 1.2em
    font-weight: 600
    font-size: 4em
    margin: 0.25em -0.7em 0 0
    @media only screen and (max-width: $break-large)
      margin: 0.25em 0 0
    @include respond-to(phones)
      text-align: center
      margin-top: 1em

    img
      width: 325px
      @include respond-to(phones)
        @include transition(width 0.5s)
      

  .log-out
    color: $font-light

  .header-social
    position: absolute
    bottom: 1em
    left: 1em
    width: auto
    height: 20px
    margin: 25px 0 0 0
    @include respond-to(tablets_and_phones)
      display: none

  .header-facebook-share,
  .header-twitter-share
    display: inline-block
    height: 20px

  .header-twitter-share
    margin-left: 1em

  .header-date
    position: absolute
    bottom: 0.25em
    left: 38%
    float: left
    width: auto
    text-transform: uppercase
    @media only screen and (max-width: 1140px)
      left: 0%
    @media only screen and (max-width: 600px)
      display: none

    p
      font-size: 24px
      color: #fff
      padding: 1.5em 0 0 1em
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.5))

  .header-sponsor
    position: absolute
    bottom: 0.25em
    right: 1.5%
    @media only screen and (max-width: 600px)
      display: none

  .row-bottom
    position: absolute
    bottom: 0
    left: 0
    padding: 1%

// HEADLINE
// --------
.headline
  margin: 0
  padding-bottom: 0

.header-desktop
  font-size: 2em
  @media only screen and (max-width: 780px)
    display: none

.header-mobile
  display: none
  @media only screen and (max-width: 780px)
    display: inherit



// CALL TO ACTION
// --------------
.call-to-action
  border: 1px solid #ddd
  p
    line-height: 3em
    letter-spacing: 0.05em

  .btn
    margin: 0 0 0 1em
    clear: none

  .section-container
    width: 43em

// BANNER
// --------------
.banner
  background: $accent-color
  padding: 1em
  p
    color: #fff
    float: left
    width: 50%
  .lead
    text-align: right
    padding: 1em
  .follow
    text-align: left
  @media only screen and (max-width: 780px)
    padding: 0.5em
    p
      float: none
      width: 100%
    .lead, .follow
      text-align: center
    .lead
      padding: 0.5em
    .follow
      padding-bottom: 0.5em


// LEGAL
// --------------
.official-rules
  display: block
  margin: 1em auto 0
  width: 13em
  text-align: center
  color: #1e1d1c !important

.legal
  color: darken($panel-color, 15)
  font-size: em-calc(12)


// HOW IT WORKS
// ------------
.how-it-works
  padding: 2em 0

  .sub-para
    max-width: 700px
    padding: 1em
    margin: 0 auto

  .how-it-works-container
    clear: both
    overflow: hidden
    margin: 0 1em 1em

// ACTION-KIT
// ----------
.action-kit
  img
    position: relative
    top: 15px
    right: 20px

  .section-container
    width: $section-content-width

// TECH TIPS
// ---------
#tips
  a
    background: $accent-color
    color: #fff
    padding: 0.75em 0.75em 0.5em
    +border-radius(12px)
    text-decoration: none
    border: 2px solid white
    box-shadow: 0px 0px 8px #ccc
    text-transform: uppercase
    font-weight: 500
    -webkit-transition: background-color 0.25s linear
    transition: background-color 0.25s linear  
    width: 30%
    display: inline-block
    text-align: center
    margin: 1.5% 1.5%
    font-size: 1.2em
    &:hover
      background: $secondary-color
    @media only screen and (max-width: $break-large)
      width: 46%
    @media only screen and (max-width: $break-small)
      width: 85%
      margin: 3%
  .tech-link
    margin: 1em 0





// PRIZING
// -------
.prizing
  p
    padding: 1em 0

  .prizing-container
    width: ( $section-unit-width * 2 )
    margin: 0 auto
    clear: both

  .btn
    margin: 0 auto 1em


// #INFO
// ----------------
#info
  .headline-callout
    text-align: left
  em
    font-style: italic
  .center
    text-align: center
  

// PROFILES
// --------
.profiles
  .intro
    margin-bottom: 2em

  .profile-photo, .profile-copy
    float: left
    text-align: left

    @include respond-to(tablets_and_phones)
      float: none

  .profile-photo
    width: 290px
    clear: both
    margin: 0.5em 2em 0 1em

    @include respond-to(tablets_and_phones)
      margin: 0.5em auto 0

  .profile-copy
    width: $section-content-width
    margin: 0 0 3em 0

    @include respond-to(tablets_and_phones)
      width: 90%
      max-width: $section-content-width
      margin: 0 auto 3em

    p
      text-align: left
    h2
      color: $header-color
      text-align: left

      @include respond-to(tablets_and_phones)
        text-align: center

// CONTENT
// -------
.content
  width: 90%
  max-width: $section-content-width
  margin: 0 auto

  p
    display: block
    text-align: left
    line-height: 1.5em
    padding-bottom: 1em
  h2
    padding-bottom: 0.5em


// SMS
// ---
.pane-dosomething-campaign-kiva-signup
  text-align: center
  padding: 3% 0 0
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  background: $panel-color
  label
    margin: 3% 0 0
  form
    width: 80%
    margin: 0 auto 0

  .btn
    width: 9.4em
    margin: 1em auto

  #edit-submit
    float: none
    margin: 24px auto 0
    padding: 0.3em 1em 0.2em

  .form-type-textfield
    width: 45%
    float: left
    margin: 0 2.5% 0 2.5%

    @include respond-to(phones)
      width: 100%

  .form-item-alpha-email
    float: right

    @include respond-to(phones)
      float: none

  #edit-beta-mobiles
    clear: both
    width: 100%
    min-width: 100%

.sms-lower
  background: $panel-color
  border-bottom: 1px solid #ddd
  padding-bottom: 3%

// GALLERY
// -------
#gallery
  p
    margin-bottom: 1em
.section#gallery
  border-bottom: none
.gallery
  img
    //border: 1px solid #ddd !important
    //+border-radius(3px)
    //+box-shadow(0 10px 10px -10px #bbb !important)


// MAP
// ---
.map
  iframe
    width: 90%
    margin: 0 auto
    display: block
    border: 1px solid #ddd
    +box-shadow(0 10px 10px -10px #ccc)

// THANKS
// ------
.success_msg
  margin: 0 auto 1em
  h2
    text-transform: uppercase
    font-weight: 600
    color: $campaign-accent

// FAQ
// ---
.section#faq
  border-bottom: none

.faq
  width: 90%
  max-width: $section-content-width
  margin: 0 auto

  position: relative
  h3, p
    text-align: left
  h3
    cursor: pointer
    color: #333
    font-weight: 600
  div /* TODO - GIVE THIS A CLASS */
    margin: 0 0 0.5em 0

  .btn
    margin: 1em auto 0

  .back-to-top /* TODO - THESE STYLES WERE INHERITED; REFACTOR THEM */
    text-align: right
    padding: 1em 0 1em
    @media only screen and (max-width: $break-small)
      display: none

  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 1em
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0% 40%

  li
    padding: 1em

  ol li:before
    font-size: 18px
    font-weight: 600

  p
    padding: 0.5em 0


// SPONSOR
// ------
.sponsor
  p
    padding: 8px
    text-align: center

  a
    padding: 8px
    text-align: center

    @include respond-to(phones)
      display: block

// FOOTER
// ------
.footer
  padding: 2% 0
  margin: 0 0 -2%
  text-align: center
  img
    width: 50px
    +block-center

.footer-partner, .footer-banner
  display: none
  img
    margin: 0.5em auto 2em
    display: block
  @media only screen and (max-width: $break-small)
    display: inherit
.footer-partner
  p
    margin-top: 1.5em
.footer-banner
  background: $main-color
  padding: 1em
  a, p
    color: white


// CONFIRMATION
// ------
.pane-dosomething-campaign-kiva-confirmation
  background: $panel-color
  text-align: center
  padding-bottom: 32px

  .pane-content a
    background: $btn-color
    margin: 0 auto
    padding: 0.25em 2em
    font-size: 32px
    clear: both
    position: static
    height: 2em
    display: inline-block
    border: 1px solid $btn-border
    cursor: pointer
    color: $off-black !important
    font-family: din-web-reg
    font-weight: 600
    text-align: center
    text-decoration: none !important
    text-transform: uppercase
    +border-radius(5px)
    &:hover /* While mouse hovers */
      background: $btn-hover
      +background-image(linear-gradient($btn-color, $btn-hover))
      +box-shadow(0 10px 10px -10px #bbb)
    &:active /* While mouse clicks */
      color: lighten($off-black, 10) !important
      padding: 0.35em 0 0.15em !important
      background: $btn-color
      +background-image(linear-gradient($btn-hover, $btn-color))
      +box-shadow(0 10px 10px -10px #bbb)
    &:link, &:active, &:hover
      color: $off-black
      text-decoration: none !important



