=ds-bevel-single
  +box-shadow($gray5 0 1px 0 0)
  border-bottom: 1px $white solid

=box-shadow-none
  -moz-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none

=ds-dropdown
  background: $c-select-field-bg
  border: none
  color: $white
  width: 100%
  height: image-height('icn-leftsidebar-pointer-yellow.png')
  font-family: $font-headline
  font-weight: normal
  +adjust-font-size-to($s2)
  margin-bottom: calc-em(6px, $s2)
  .selectBox-arrow
    background: image_url('icn-leftsidebar-pointer-yellow.png') no-repeat right top
    width: image-width('icn-leftsidebar-pointer-yellow.png')

=ds-tabs
  padding-top: 20px
  padding-bottom: 8px
  li
    a
      +background-image(linear-gradient(top, #FCFDFA, #F1F2EF))
      +border-top-radius(3px)
      color: $blue
      padding-top: 8px
      padding-bottom: 8px
      margin-right: 1px
      border-color: #CCCCCC
    a.active
      color: #222222
      background: $white
      border-color: #CCCCCC

// Apply to the ul or ul equivalent class
=status-bar($selector: 'li')
  @if $selector == 'li'
    +horizontal-list
  #{$selector}
    color: $blue
    font-weight: bold
    font-size: $s1
    font-style: italic
    margin-left: 0.2em
    padding-top: 0.3em
    .label
      color: $black
    &:after
      background: image_url("bg-statbar-divider.png") no-repeat right center
      content: "\0020"
      height: 1em
      +inline-block
      width: 1em
    &:last-child
      &:after
        display: none
