////////////////////////////
// VIEWS EXPOSED WIDGETS
// used for filters on blog center and causes pages
////////////////////////////

.views-exposed-widgets
  margin-bottom: 30px

.views-exposed-form .views-exposed-widget
  padding-top: 0

// Use Pane title instead of label for sort by:
.pane-views-exp-blog-center-panel-pane-3
  @extend .black-h2
  h2.pane-title
    height: 24px
    line-height: 8px
