////////////////////////////
// PROJECT SEARCH PAGE RESULTS
// results from searching projects
////////////////////////////

.view-projects-by-state
  .views-exposed-widget label
    display: block
  #edit-submit-projects-by-state
    margin-top: 16px
    margin-bottom: 0
