@import 'compass/css3'

// ---------- //
// admin tabs //
// ---------- //

// drupal defaults
.element-invisible
  display: none

// admin tabs
ul.tabs
  margin: 0.5em
  padding: 0.5em 0
  width: 6.5em
  font-family: din-condensed
  position: absolute
  top: 0
  right: 0
  z-index: 1
  background: rgba(0,0,0,0.1)
  border: 2px solid rgba(0,0,0,0.05)
  border-radius: 3px
  li
    width: 80%
    margin: 0 5%
    padding: 5% 5% 3%
    text-align: left
    border-radius: 2px
    &:hover
      cursor: pointer
      background: rgba(0, 0, 0, 0.05)
    a
      font-size: 1em
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
      color: rgba(17, 17, 17, 0.7)

// ---------- //
// hide admin //
// ---------- //

#toggle-button-wrapper
  width: 105px
  height: 30px
  margin: 0 5% 0
  padding: 0
  &:hover
    background: none

#toggle-button
  display: inline-block
  padding: 3px
  background: rgba(0, 0, 0, 0.05)
  width: 98px
  height: 20px

  .state
    display: inline-block
    position: relative
    width: 5px
    padding: 0px 6px
    text-align: center
    border-radius: 3px
    background: rgba(255, 255, 255, 0.8)
    color: transparent
    z-index: 2
    line-height: 0
    height: 18px
    top: -10px
    left: 2px

  .state.active
    width: 68px
    z-index: 1
    height: 6px
    top: -5px

#show.active
  left: -2px
  background: rgba(144, 238, 144, 0.5)
  border-radius: 0 3px 3px 0

#hide.active
  right: -2px
  background: rgba(255, 102, 102, 0.4)
  border-radius: 3px 0 0 3px

html body.admin-menu
  margin-top: 0 !important

#admin-menu
  display: none

