@import 'compass/css3'

// variables
$bg: rgba(0, 0, 0, 0.05)
$bg-inv: invert($bg)
$accent: #ff4444

$toggle-active: #ccc
$toggle-inactive: #333

// ---------- //
// admin tabs //
// ---------- //

// drupal defaults
.element-invisible
  display: none

// admin tabs
ul.tabs
  margin: 0.5em
  padding: 0.5em 0
  width: 6.5em
  font-family: din-condensed
  position: absolute
  top: 0
  right: 0
  z-index: 1
  background: rgba(0,0,0,0.1)
  border: 2px solid rgba(0,0,0,0.05)
  border-radius: 3px
  li
    width: 80%
    margin: 0 5%
    padding: 5% 5% 3%
    text-align: left
    border-radius: 2px
    &:hover
      cursor: pointer
      background: $bg
    a
      font-size: 1em
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
      color: rgba(17, 17, 17, 0.7)

// ---------- //
// hide admin //
// ---------- //

#toggle-button-wrapper
  width: 105px
  height: 38px
  margin: 0 5% 3%
  padding: 0
  &:hover
    background: none

#toggle-button
  display: inline-block
  padding: 3px
  background: rgba(0,0,0,0.05)
  width: 98px
  height: 31px

  .state
    display: inline-block
    position: relative
    width: 20px
    padding: 5px 7px 1px
    text-align: center
    border-radius: 3px
    background: rgba(255, 255, 255, 0.9)
    text-indent: -999em
    color: #fff
    color: rgba(255, 255, 255, 0.8)
    z-index: 2

  .state.active
    cursor: default
    width: 50px
    text-indent: 0
    z-index: 1

#show.active
  left: -2px
  background: rgba(144, 238, 144, 0.5)
  color: rgba(255, 255, 255, 0.9)
  border-radius: 0 3px 3px 0

#hide.active
  right: -2px
  background: rgba(255, 102, 102, 0.4)
  color: rgba(255, 255, 255, 0.9)
  border-radius: 3px 0 0 3px

html body.admin-menu
  margin-top: 0 !important

#admin-menu
  display: none

