@import 'compass/css3'

// ---------- //
// ADMIN TABS //
// ---------- //

// VARIABLES
$bg: rgba(0, 0, 0, 0.05)
$bg-inv: invert($bg)

// DRUPAL DEFAULTS
.element-invisible
  display: none

// ADMIN TABS
ul.tabs
  margin: 0.5em
  padding: 0.5em 0
  width: 150px
  background: $bg
  position: absolute
  top: 0
  right: 0
  z-index: 1
  li
    display: block
    width: 80%
    margin: 0 5%
    padding: 5% 5% 3%
    text-align: left
    border-radius: 2px
    &:hover
      background: $bg
      cursor: pointer
    a
      font-size: 1em
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
      color: #000



// -------------------
// HIDE ADMIN FEATURES
// -------------------

#toggle-button
  position: absolute
  top: 125px
  right: 13px
  left: auto
  color: #222
  background: rgba(255, 255, 255, 0.9)
  border: 3px solid rgba(255, 255, 255, 0.8)
  padding: 10px 15px 5px
  font-weight: 500
  font-size: 16
  z-index: 3
  font-size: 16px
  width: 125px
  +border-radius(4px)
  @media only screen and (max-width: 960px)
    top: 185px
    left: 15px
    right: auto
  &:hover
    text-decoration: none
    background: rgba(255, 255, 255, 0.85)

#toggle-button.active
  top: 125px
  background: rgba(255, 255, 255, 0.4)
  border: 3px solid rgba(255, 255, 255, 0.5)
  @media only screen and (max-width: 960px)
    top: 252px
  &:hover
    background: rgba(255, 255, 255, 0.3)

html body.admin-menu
  margin-top: 0 !important
  background: pink

html body.admin-menu.admin-active
  margin-top: 29px !important

#admin-menu, div.tabs
  display: none

