#skip-link, #utility-bar, nav[role="navigation"], header[role="banner"], .region-sidebar-first, .region-footer {
  display: none; }

body.html {
  background: #f7f7f7; }

#page.container {
  width: 100%; }

#main-wrapper div[role="main"] {
  float: none;
  width: 800px;
  min-height: auto;
  margin: 2% auto 0;
  padding: 3% 3% 1% 3%;
  background: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #cccccc 0px 15px 20px -10px;
  -moz-box-shadow: #cccccc 0px 15px 20px -10px;
  box-shadow: #cccccc 0px 15px 20px -10px; }
  @media only screen and (max-width: 850px) {
    #main-wrapper div[role="main"] {
      width: 96%;
      padding: 6% 6% 1% 6%; } }

#reg_header h1, #reg_leftcol h1 {
  color: #1f7aff;
  text-transform: uppercase; }

#reg_header {
  width: 100%;
  overflow: hidden; }
  #reg_header h1, #reg_header h2 {
    text-align: right;
    float: right;
    width: 70%; }
  #reg_header h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0.4em 0 0 0; }
  #reg_header h2 {
    margin: 0.5em 0.3em 0 0; }
  #reg_header img.ds_logo {
    float: left;
    width: 28%; }
  #reg_header img.bang {
    width: 30px;
    margin: -6px 5px 0; }

@media only screen and (max-width: 650px) {
  #reg_header {
    float: none; }
    #reg_header h1 {
      margin: 0.5em 0 0 0;
      font-size: 31px; }
    #reg_header h2 {
      margin: 0.1em 0.2em 0 0;
      font-size: 19px; }
    #reg_header img.ds_logo {
      width: 25%; }
    #reg_header img.bang {
      width: 20px;
      margin: -6px 2px 0; } }
@media only screen and (max-width: 530px) {
  #reg_header h1 {
    margin: 0.2em 0 0 0; } }

#reg_leftcol {
  float: left;
  width: 40%;
  margin-left: 3%; }
  #reg_leftcol h1 {
    font-size: 25px;
    margin-top: 4em; }
  #reg_leftcol h2 {
    font-size: 18px; }
  #reg_leftcol p {
    margin-top: 14em; }

@media only screen and (max-width: 650px) {
  #reg_leftcol {
    float: none;
    margin: 2% auto;
    width: 95%; }
    #reg_leftcol h1, #reg_leftcol p {
      margin-top: 1em; } }

#reg_footer {
  clear: both;
  width: 95%;
  padding: 3% 0 0 0; }
  #reg_footer p, #reg_footer a {
    color: #dddddd; }
  #reg_footer p {
    font-size: 10px;
    text-align: center; }
  #reg_footer a {
    text-decoration: underline; }

#dosomething-login-register-popup-form div.popup-content, #dosomething-login-login-popup-form div.popup-content {
  background: white;
  min-height: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-shadow: none; }

#main-content, #page-title, #edit-title-text, #edit-connect, #edit-or, .form-required {
  display: none; }

#dosomething-login-register-popup-form {
  margin: 0 0 2% 0;
  float: right;
  width: 50%; }
  @media only screen and (max-width: 650px) {
    #dosomething-login-register-popup-form {
      float: none;
      margin: 5% auto;
      width: 95%; } }
  @media only screen and (max-width: 500px) {
    #dosomething-login-register-popup-form {
      margin: 8% auto 4%; } }

#dosomething-login-register-popup-form div .popup-content .disclaimer {
  display: none; }
#dosomething-login-register-popup-form div .popup-content label {
  text-transform: lowercase;
  padding: 0 0 0.4em 0;
  font-weight: 600;
  font-size: 13px;
  color: #666666; }
#dosomething-login-register-popup-form div .popup-content .under-13-field {
  padding: 0; }
#dosomething-login-register-popup-form div .popup-content .form-item-parent-email {
  margin: 0.5em 0 0 0; }
#dosomething-login-register-popup-form div .form_header {
  margin: 0 0 4% 0;
  display: block; }
#dosomething-login-register-popup-form div .form-item {
  width: 100%;
  float: none !important;
  margin: 0; }
#dosomething-login-register-popup-form div .form-item-first-name, #dosomething-login-register-popup-form div .form-item-last-name {
  float: left !important;
  width: 40%; }
#dosomething-login-register-popup-form div .form-item-last-name {
  width: 55%;
  margin: 0 0 0 5%; }
#dosomething-login-register-popup-form div #edit-birthday label {
  float: none !important;
  margin: 0; }
#dosomething-login-register-popup-form div #edit-birthday span {
  position: static !important; }
#dosomething-login-register-popup-form div .form-item-day, #dosomething-login-register-popup-form div .form-item-month, #dosomething-login-register-popup-form div .form-item-year {
  float: left !important;
  width: 10%;
  margin: 0 5% 0 0;
  padding: 0; }
#dosomething-login-register-popup-form div .form-item-year {
  width: 15%; }
#dosomething-login-register-popup-form div .ds-login-popup-footer {
  margin: 0 0 1em 0; }
#dosomething-login-register-popup-form div .already-member {
  float: none;
  padding: 0;
  font-family: din-web-reg;
  font-weight: 500;
  font-size: 14px;
  color: #222222; }

#dosomething-login-register-popup-form #edit-final-submit,
#dosomething-login-login-popup-form #edit-final-submit--2 {
  background: #fed100;
  margin: 1% 0 0 0;
  padding: 1px 0 0 0;
  position: static;
  font-size: 22px;
  height: 31px;
  width: 65px;
  display: block;
  color: #333131;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

#dosomething-login-register-popup-form input,
#dosomething-login-login-popup-form input {
  height: 2.5em;
  width: 100%;
  margin: 0 0 1em 0;
  background: #fafafa;
  border: none;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

#dosomething-login-login-popup-form .already-member {
  display: none; }

@media only screen and (max-width: 550px) {
  div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"] {
    width: 100% !important; } }
div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"] .ui-dialog-titlebar {
  float: right; }
div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"] .ui-dialog-titlebar-close {
  top: -15px;
  right: 5px;
  z-index: 3; }

#edit-or--2, #edit-title-text--2, #edit-connect--2, .see-whats-new {
  display: none !important; }
