/* line 13, ../sass/robocalls_celeb_scholarship.sass */
div.pane-taxonomy-term-field-celeb-photo {
  border: 1px solid white;
  height: 316px;
  -webkit-box-shadow: 0px 0px 5px gray;
  -moz-box-shadow: 0px 0px 5px gray;
  box-shadow: 0px 0px 5px gray; }
/* line 18, ../sass/robocalls_celeb_scholarship.sass */
div.pane-taxonomy-term-field-celeb-photo img {
  height: 314px; }

/* line 21, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form {
  background: red !important; }
/* line 23, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form #webform-component-step-2 {
  display: none !important; }
/* line 26, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form label[for="edit-submitted-field-celeb-friend-phone-und-0-value"], .celeb-page-form label[for="edit-submitted-field-celeb-friend-phone-5-und-0-value"] {
  width: 145px !important; }
/* line 30, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form #edit-fb-preview {
  display: inline; }
/* line 33, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form #edit-fb-button {
  float: left !important;
  width: 140px !important; }
/* line 37, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form #edit-preview {
  width: 125px !important;
  float: left !important;
  padding-left: 20px !important; }
/* line 42, ../sass/robocalls_celeb_scholarship.sass */
.celeb-page-form #edit-preview h3 {
  margin-right: 0px; }

/* line 45, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-who-should-celeb-call {
  margin-top: 25px; }

/* line 49, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form .field-type-text {
  margin-top: -13px; }
/* line 52, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form div.pane-content {
  background: white;
  -webkit-box-shadow: rgba(75, 71, 68, 0.35) 0 0 12px;
  -moz-box-shadow: rgba(75, 71, 68, 0.35) 0 0 12px;
  box-shadow: rgba(75, 71, 68, 0.35) 0 0 12px; }
/* line 56, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form {
  height: 317px;
  padding-top: 24px;
  position: relative;
  width: 486px;
  border: 0px;
  margin-left: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
/* line 65, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-mobile-commons-id, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celebrity-chooser {
  display: none; }
/* line 68, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form label {
  width: 139px;
  padding-top: 8px;
  padding-right: 12px;
  text-align: left;
  font-size: 12pt; }
/* line 75, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-send-now-und"] {
  float: none;
  font-size: 9.5pt; }
/* line 79, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-und-0-value"], div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-5-und-0-value"] {
  padding-bottom: 7px; }
/* line 83, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form input[type="text"], div#robocalls-celeb-form form.webform-client-form input[type="tel"] {
  width: 210px;
  height: 30px;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  -webkit-box-shadow: #f1f1f1 0 0 5px 1px inset;
  -moz-box-shadow: #f1f1f1 0 0 5px 1px inset;
  box-shadow: #f1f1f1 0 0 5px 1px inset;
  border: 1px solid #bfbfbf;
  margin-bottom: 2px;
  color: #565656; }
/* line 95, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #or-send-now-button {
  float: left;
  margin-top: -8px; }
/* line 99, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-your-name, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-your-phone, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-1, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-2, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-3, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-4, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-5 {
  width: 210px;
  float: left;
  margin-right: 18px; }
/* line 110, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-und-0-value"], div#robocalls-celeb-form form.webform-client-form div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-5-und-0-value"] {
  width: 145px; }
/* line 117, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-2 label, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-3 label, div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-4 label {
  display: none; }
/* line 121, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-5 label {
  visibility: hidden; }
/* line 124, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone-4 {
  clear: left; }
/* line 127, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted-field-celeb-friend-phone {
  width: 210px;
  float: left;
  clear: left;
  margin-right: 20px; }
/* line 136, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form .form-type-select {
  margin-right: 10px; }
/* line 139, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form .form-type-select.form-item-submitted-field-celeb-date-und-0-value-year, div#robocalls-celeb-form form.webform-client-form .form-type-select.form-item-submitted-field-celeb-date-und-0-value-ampm {
  margin-right: 0px; }
/* line 142, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date {
  margin: 0px;
  height: 45px;
  text-align: center;
  margin-right: 5px;
  display: none;
  clear: both; }
/* line 150, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date fieldset.date-processed {
  border: none; }
/* line 153, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date fieldset.date-processed legend {
  display: none; }
/* line 156, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date fieldset.date-processed select {
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  width: 50px;
  padding: 3px;
  background: url(/sites/all/modules/dosomething/features/robocalls/images/dropdown-arrow.png) 100% 50% no-repeat; }
/* line 166, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date fieldset.date-processed select .form-item.form-type-select {
  background: white; }
/* line 169, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div#edit-submitted-field-celeb-date fieldset.date-processed select#edit-submitted-field-celeb-date-und-0-value-year {
  width: 58px; }
/* line 172, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-submitted--2 {
  display: none; }
/* line 175, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form .go-button {
  width: 153px;
  height: 38px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 27pt;
  float: right;
  margin-right: 10px;
  margin-top: -10px;
  line-height: 0;
  padding-top: 7px;
  position: absolute;
  bottom: 12px;
  right: 25px;
  z-index: 1; }
/* line 191, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form .date-padding {
  padding: 0px;
  margin-top: -16px; }
/* line 195, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form .date-spacer {
  display: none; }
/* line 198, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview {
  clear: both;
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  height: 55px;
  width: 385px;
  margin: 0px;
  margin-bottom: 5px; }
/* line 209, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-fb-button-container {
  width: 149px;
  border-right: 1px solid #dbd9d8;
  height: 52px;
  margin-top: -13px;
  padding-top: 16px; }
/* line 216, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-fb-button-container img {
  cursor: pointer; }
/* line 219, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-preview-button-container {
  float: right;
  margin-right: 115px;
  border-right: 1px solid #dbd9d8;
  width: 104px;
  height: 52px;
  margin-top: -13px;
  padding-top: 10px; }
/* line 229, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-preview-button-container p {
  display: none; }
/* line 232, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-preview-button-container h3 {
  float: left;
  margin-top: 10px;
  margin-right: 10px; }
/* line 238, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form #edit-fb-preview .robocalls-preview-button-container #robocalls_preview_link img {
  width: 36px;
  height: 36px; }
/* line 242, ../sass/robocalls_celeb_scholarship.sass */
div#robocalls-celeb-form form.webform-client-form div.ajax-progress {
  margin-top: 50px;
  margin-left: 90px; }

/* line 246, ../sass/robocalls_celeb_scholarship.sass */
.main-robocall-flag {
  position: absolute;
  margin-top: -320px;
  background: rgba(24, 64, 139, 0.7);
  padding: 3px 17px;
  z-index: 0;
  margin-left: -7px;
  color: white;
  text-transform: uppercase;
  font-size: 17pt;
  line-height: 1;
  height: 24px;
  font-family: din-web; }
/* line 260, ../sass/robocalls_celeb_scholarship.sass */
.main-robocall-flag.birthday {
  background: rgba(216, 31, 42, 0.7); }
/* line 263, ../sass/robocalls_celeb_scholarship.sass */
.main-robocall-flag:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0px;
  background: transparent;
  z-index: -1;
  border-top: 7px solid black;
  border-left: 7px solid transparent; }

/* line 267, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity h2.pane-title {
  margin-left: -10px; }
/* line 270, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity img {
  width: 206px;
  height: 107px;
  margin-bottom: 0px; }
/* line 277, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity .jcarousel-skin-default a.jcarousel-prev.jcarousel-prev-horizontal, #robocalls-choose-another-celebrity .jcarousel-skin-default a.jcarousel-next.jcarousel-next-horizontal {
  margin-top: 60px; }
/* line 280, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity .jcarousel-skin-default .jcarousel-item, #robocalls-choose-another-celebrity .jcarousel-skin-default .jcarousel-clip-horizontal {
  height: auto;
  width: 660px; }
/* line 284, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity .jcarousel-skin-default .jcarousel-container-horizontal {
  margin: 0px;
  height: 250px;
  width: auto;
  padding: 0px; }
/* line 290, ../sass/robocalls_celeb_scholarship.sass */
#robocalls-choose-another-celebrity .jcarousel-skin-default li.jcarousel-item {
  background: none;
  width: 205px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px; }

/* line 298, ../sass/robocalls_celeb_scholarship.sass */
div.robocalls-submitted-message-dialog {
  background: #fefefe; }
/* line 301, ../sass/robocalls_celeb_scholarship.sass */
div.robocalls-submitted-message-dialog div.ui-dialog-titlebar {
  position: relative;
  top: -15px;
  float: right;
  right: 5px; }

/* line 307, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message {
  background: white;
  display: none; }
/* line 311, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message div.send-another-robocall {
  text-align: center;
  margin: 40px 0px; }
/* line 315, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message div.send-another-robocall a.go-button {
  font-size: 19px;
  padding: 17px 70px; }
/* line 319, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbd9d8; }
/* line 324, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message #edit-title-text p {
  font-weight: 600;
  font-family: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, "Trebuchet MS", sans-serif;
  font-size: 40px;
  margin: 20px 0px 10px;
  padding: 0px; }
/* line 331, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message #edit-or--2 {
  padding-top: 10px;
  margin: 10px 0px; }
/* line 335, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message span.ui-icon-closethick {
  color: transparent; }
/* line 338, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message a.ui-dialog-titlebar-close {
  display: inline;
  float: right; }
/* line 341, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message .robocalls-awesome-and-sharing {
  text-align: center;
  font-size: 11px; }
/* line 345, ../sass/robocalls_celeb_scholarship.sass */
#dosomething-robocalls-submitted-message .share-images {
  margin-top: 15px;
  margin-bottom: 25px; }
