.preview a {
  display: inline-block;
  background: url(/sites/all/modules/dosomething/features/robocalls/images/play.png) top left no-repeat;
  padding-left: 30px;
  padding-top: 4px;
  height: 26px;
  width: 26px; }

body {
  background: white; }
  body div#site-name {
    display: none; }
  body div#page {
    width: 100% !important; }
  body div.gallery-col {
    float: left; }
  body .panels-flexible-row-last {
    width: 1030px;
    margin: 0px auto; }
  body div.views-field-nothing {
    position: relative; }
    body div.views-field-nothing div.hover-state {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      color: white; }
      body div.views-field-nothing div.hover-state .preview-share div.preview {
        display: inline-block;
        margin-left: -70px; }
        body div.views-field-nothing div.hover-state .preview-share div.preview .file {
          display: inline-block;
          margin-left: -8px; }
        body div.views-field-nothing div.hover-state .preview-share div.preview span.preview {
          position: relative;
          top: 5px;
          left: 12px; }
      body div.views-field-nothing div.hover-state .preview-share div.share {
        display: inline-block;
        float: right;
        margin: 7px; }
      body div.views-field-nothing div.hover-state .name {
        position: absolute;
        bottom: 0px; }
        body div.views-field-nothing div.hover-state .name a {
          color: white; }

#webform-component-friends-info--primary-friend {
  width: 33%;
  display: inline-block; }

#cof-submit-form #webform-component-my-info #webform-component-my-info--my-name,
#cof-submit-form #webform-component-my-info #webform-component-my-info--my-number,
#cof-submit-form #webform-component-my-info #webform-component-my-info--my-password {
  width: 33%;
  display: inline-block; }

#edit-submitted-field-webform-pictures,
#edit-submitted-field-webform-videos,
#edit-submitted-field-webform-school-reference {
  display: none; }

div[role="main"] {
  background: white;
  padding: 30px;
  margin: 0px;
  padding-top: 0px; }
  div[role="main"] nav#breadcrumb {
    display: none; }
  div[role="main"] h1#page-title {
    color: transparent;
    background: url(/sites/all/modules/dosomething/features/robocalls/images/header.png) top left no-repeat;
    height: 275px;
    width: 1810px;
    margin-left: -31px;
    border-bottom: none;
    -webkit-box-shadow: 0px !important;
    -moz-box-shadow: 0px !important;
    box-shadow: 0px !important; }
  div[role="main"] h2.pane-title {
    background: #6bb5b2;
    color: black;
    padding: 0px 0px 10px 0px; }

div.view-id-cause_its_your_birthday div.views-field-nothing {
  clear: left;
  width: 205px;
  margin-left: 0px;
  margin-bottom: 8px;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0px 0px 15px gray;
  -moz-box-shadow: 0px 0px 15px gray;
  box-shadow: 0px 0px 15px gray;
  box-sizing: border-box;
  margin: 10px 10px 15px 10px;
  position: relative; }
