// FRAMEWORK 

.section
  overflow: hidden
  background: #fff
  margin: 0 auto
  padding: 2% 2% 0 2%
  text-align: center

.col33, .col40, .col50, .col60
  float: left

.col33
  width: 33%

.col40
  width: 40%

.col50
  width: 50%

.col60
  width: 60%

.col33-inner
  padding: 0 1.5%
  p
    margin: 0 auto
    text-align: left
    font-size: 0.9em

.divider, .divider-mobile
  text-align: center
  border-top: 2px solid #ccc
  margin: 0 0 3% 0
  padding: 0.5em 0 0 0
  span
    background: $dividerBG
    padding: 0.5em 0.8em 0.35em
    position: relative
    font-weight: 400
    letter-spacing: 0.1em
    -webkit-border-bottom-left-radius: 6px
    -webkit-border-bottom-right-radius: 6px
    -moz-border-bottom-left-radius: 6px
    -moz-border-bottom-right-radius: 6px
    -o-border-bottom-right-radius: 6px
    -o-border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    border-bottom-left-radius: 6px
    color: white
    text-transform: uppercase

.go-button, #edit-submit
  font-family: din-web
  background: $buttonBG
  margin: 4% 0 1%
  padding: 0.4em 0.7em
  position: static
  font-size: 2em
  height: 1.4em
  display: inline-block
  color: $offBlack
  +border-radius(5px)
  text-decoration: none
