# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
files
tag

# Ignore hidden files
._*
.DS_Store

#Ignore modules & libraries
sites/all/modules/livereload/
sites/all/libraries/FirePHPCore/

# Ignore sass-cache
.sass-cache

# Ignore local dev settings
sites/default/local-settings.php
