[submodule "sites/all/modules/webform_entity"]
	path = sites/all/modules/webform_entity
	url = git@git.drupal.org:project/webform_entity.git
[submodule "sites/all/themes/survivalkit"]
	path = sites/all/themes/survivalkit
	url = git@git.drupal.org:project/survivalkit.git






