[submodule "sites/all/themes/survivalkit"]
	path = sites/all/themes/survivalkit
	url = git@git.drupal.org:project/survivalkit.git






[submodule "obama"]
	path = obama
	url = git@github.com:DoSomething/president-text.git
