@font-face {
  font-family: "din-web";
  src: url('DINWeb-CondMedium.eot');
  src: url('DINWeb-CondMedium.eot?iefix') format('eot'), url('DINWeb-CondMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "din-web"; 
  src: url('DINWeb-Cond.eot');
  src: url('DINWeb-Cond.eot?iefix') format('eot'), url('DINWeb-Cond.woff') format('woff');
  font-style: normal;
  font-weight: false;
}

@font-face {
  font-family: "din-web";
  src: url('DINWeb-CondBold.eot');
  src: url('DINWeb-CondBold.eot?iefix') format('eot'), url('DINWeb-CondBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "din-web-reg";
  src: url('DINWeb.eot');
  src: url('DINWeb.eot?iefix') format('eot'), url('DINWeb.woff') format('woff');
  font-style: normal;
  font-weight: false;
}