// DO IT THEME RESETS
// ------------------
img
  +noBorder
  +noShadow

// SECTION STYLES
// --------------

section
  margin: 0 auto
  padding: 1% 0
  overflow: hidden
  background: $bg-light
  @media only screen and (max-width: 825px)
    padding: 3% 2%

.section-container
  width: $section-container-width
  margin: 0 auto
  @media only screen and (max-width: 825px)
    width: 100%

.section-unit-single,
.section-unit-double
  padding: 0 2% 0 0
  width: $section-unit-width
  float: left
  text-align: center
  img
    width: 100px
    margin: 0 auto 1em
    display: block

.section-unit-double
  width: 2 * $section-unit-width
  margin: 0 0 2em 0
  border-bottom: 1px solid #ddd

// GENERAL-USE CLASSES
.bg-header
  margin: 0 0 0.5em 0

.log-out
  float: right
  text-decoration: none
  &:hover
    text-decoration: underline

.official-rules
  font-size: em-calc( 12 )

.error
  background: none

// TYPOGRAPHY
// ----------

h1, h2, h3, h4, p, b, a, label, .divider, .disclaimer
  font-weight: 400
  font-family: $din
  text-align: left
  color: $off_black
  line-height: em-calc(28)

h1, h2, h3, p, img
  text-align: center

p
  color: #222
  display: inline
  font-weight: 400
  line-height: 1.5em
  font-size: 16px

h1
  font-size: em-calc(28)

h2
  font-size: em-calc(24)

h3
  font-size: em-calc(18)

h4
  font-size: em-calc(16)

strong
  font-weight: 800

section a /* increase specificity */
  text-decoration: none
  &:link, &:visited, &:active
    color: $campaign-main
  &:hover
    text-decoration: underline

// BUTTON STYLES
// -------------

// TODO - WRITE THIS AS A SERIES OF CLASSES
//        @EXTENDING THE BASE STYLES

.form-submit, .btn-cta-medium
  background: $btn-color
  margin: 1em auto
  padding: 0.25em 0
  position: static
  font-size: 16px
  height: 2em
  display: block
  border: none
  cursor: pointer
  color: $off-black !important
  font-family: din-web-reg
  font-weight: 600
  text-align: center
  text-decoration: none
  text-transform: uppercase
  +border-radius(5px)
  &:link, &:active, &:hover
    color: $off-black
    text-decoration: none

