// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)
  //      //
  //  #report-back
  //      //
  #report-back
    margin-left: auto
    margin-right: auto


@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 0 auto  
  
  //			//
  //	#header
  //			//

  //      //
  //  #teeth
  //      //
  #teeth
    h2
      font-size: 1em


  //      //
  //  #toolkit
  //      //
  #toolkit
    .square
      float: none
      width: auto
      img
        margin: 0 auto 12px auto
        display: block
      h3
        font-size: 20px
        text-transform: uppercase
        font-family: din-web-reg
        line-height: 1.2em
      p
        line-height: 1.4em
    .sq-one, .sq-two, .sq-three, .sq-four
      height: auto
      padding: 0
      margin: 2em auto 3em
      border: none


  //#header
    //background-position: 29% 60%

  #contact-form
    //margin: 2% 0 0 0
    h3
      margin: 0

  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.3em auto 0

  //			//
  //	#action
  //			//

  #action
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left
  #action  
    img
      display: none 

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

  
  //			//
  //	#scholarship
  //			//
  
  #scholarship
    padding: 2% 0
    .col50
      width: 100%

  .refer5
    width: 100%
    margin: 0
    &:before, &:after
      display: none 


  //      //
  //  #secondary-content
  //      //

  #secondary-content
    .divider
      margin-bottom: 6%
    .prizes-a, .prizes-b
      h2
        text-align: left
        font-size: 1.75em
      width: 95%
      margin: 3% 0
      float: none
      text-align: center
    img
      display: none
    p
      width: 80%
      margin: 0 auto  

  #facts
    ol li
      padding: 3% 6% 3% 14%  

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 5%
    img
      float: left
      width: 40%

  //      //
  //  #report-back
  //      //
  #report-back
    width: 100%  

@media only screen and (max-width: 550px)
  
  #scholarship
    h3
      &:before, &:after
        display: none

    .third
      width: 94%
      margin: 3%
      p
        padding-top: 0.1em

  #facts
    .divider
      display: none
    .divider-mobile
      display: block

  #meet
    .activist-photo, .activist-copy
      clear: both
      width: 96%
      margin: 0 4%
    .activist-copy
      margin-bottom: 8% 
    .activist-photo
      margin-top: 4%   

  #game
    .see-more
      margin: 0% 2% 8%
      img
        display: none

@media only screen and (max-width: 450px)
  .section
    margin: 0 auto

  //			//
  //	#header
  //			//

  //#header
    //background-position: 66% 77%
    #edit-submit
      margin: 0.5em 0 0 0
      float: left

  #edit-submitted-field-webform-email
    width: 68%
    margin: 1% 0

  #edit-submitted-field-webform-mobile
    width: 32%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 100%

  //      //
  //  #drive
  //      //



  //			//
  //	#action
  //			//

  a.print-pdf
    width: 55%

  .email-spit, .email-spit img
    width: 85%
    display: block
    margin: 0 auto

  .email-spit img
    width: 100%

  //      //
  //  .search
  //      //

  .pane-drive-search-panel-pane-1 form
    width: 85%

  .views-field-nothing
    margin: 0

  //			//
  //	#content
  //			//


  //			//
  //  #scholarship
  //      //
  
  #scholarship
    h2.scholar-headline
      font-size: 2.5em
      padding: 0 2%
    padding: 2% 0
    .go-button
      font-size: 2.4em

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 2% 5%
    img
      float: left
      width: 50%
    h3
      font-size: 1em
      text-align: left
      padding: 0.5em 

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //
