.main-inner a {
  color: #0a5083;
  text-decoration: none; }
  .main-inner a:hover {
    color: #0a5083;
    text-decoration: underline; }
  .main-inner a:visited {
    color: #0a5083; }

h1.title {
  display: none; }

body {
  background: url("assets/bg.png") #ffdd00 no-repeat;
  background-position: center;
  background-size: 1200px 100%; }

div[role="main"] {
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px;
  background: black; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-panel {
  margin-bottom: 15px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.li-circles {
  list-style-image: url("assets/dot.png"); }

h2.pane-title {
  background-color: #0a5083;
  color: #ffdd00; }

#block-dosomething-campaign-styles-campaign-nav {
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif;
  background: black; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: inherit;
    background-image: none;
    text-align: right;
    padding-top: 12px; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      text-decoration: none; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #ffdd00;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #0a5083;
    padding: 0;
    font-size: 26px;
    line-height: 1em;
    margin-top: 15px; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em;
    font-weight: 600;
    color: #ffdd00; }

#scholarship_bubble {
  height: 85px; }
  #scholarship_bubble img {
    position: absolute;
    right: -65px;
    top: -25px; }

.pane-node-field-campain-date .field-item {
  font-size: 27px;
  color: #ffdd00; }

.pane-node-field-campaign-teaser p {
  font-weight: lighter;
  color: white;
  margin-bottom: 0; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: #ffdd00;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .field-name-body {
  margin-top: 1em;
  padding: 0; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #ffdd00;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.8em;
  padding: 7px 0 5px; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0 0 0.8 0;
  color: white; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }
.panel-row-ad-quick-info .pane-content a {
  color: #ffdd00; }
.panel-row-ad-quick-info .pane-content:active, .panel-row-ad-quick-info .pane-content:visited {
  color: #ffdd00; }

.psa-image .pane-content {
  height: 425px; }
  .psa-image .pane-content img {
    position: absolute;
    top: -50px; }

.panel-row-ad {
  margin: 0; }

.panel-row-ad-psa {
  margin: 45px 0 0 0; }

.panel-row-flexible .panel-pane {
  background: white;
  border: none !important; }

.panel-row-actions {
  background: #dddddd; }
  .panel-row-actions .pane-title {
    background: #0a5083; }
  .panel-row-actions .pane-content {
    padding-right: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      border: none; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }

#post-sign-up {
  padding: 15px;
  width: 100%; }
  #post-sign-up .go-button {
    position: relative;
    bottom: -17px;
    left: -5px; }

.panel-row-actions-stats .campaign-counter {
  margin: 15px 5px 0 0; }

.pane-campaign-counter .pane-title {
  width: 376px; }

.campaign-counter-labels {
  text-transform: uppercase;
  font-size: 25px;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 25px;
  float: left;
  margin: 5px 0 0 10px; }

.campaign-counter-label-top {
  margin-bottom: 10px; }

.campaign-counter-number-top {
  margin: 6px 0 10px 0; }

.campaign-counter-numbers {
  float: right; }

.campaign-counter-number-top,
.campaign-counter-number-bottom {
  text-align: right; }

.panel-pane {
  margin-bottom: 0; }

#campaign-opt-in {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 250px; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content {
    background: white;
      background-padding: 5px 5px 5px 20px;
      background-margin: 0; }

.resources-section,
.faq-section {
  border: none !important;
  padding: 15px; }
  .resources-section .pane-content,
  .faq-section .pane-content {
    background: white;
    padding: 10px 15px; }
  .resources-section h3,
  .faq-section h3 {
    font-size: 20px;
    color: black;
    padding-bottom: 5px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post span {
    display: none; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 auto 15px;
    display: block; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #0a5083;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: #ffdd00; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: #ffdd00; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #dddddd; }

.fb-social-comments-plugin {
  padding-bottom: 40px; }
  .fb-social-comments-plugin iframe {
    margin: 20px 0 0 100px; }

#node-722143 .field-label-above {
  display: none; }
#node-722143 #webform-component-instructions {
  margin: -20px 0 10px 0; }
#node-722143 #edit-actions {
  height: 60px;
  margin: 10px 0 0 0; }

#edit-submitted-field-webform-school-reference {
  display: none; }

.mcommons-webform {
  width: 100%;
  overflow: auto;
  background-color: white !important;
  color: black; }
  .mcommons-webform input.field {
    width: 100%;
    height: 22px;
    margin-bottom: 15px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .go-button {
    padding-top: 3px;
    margin: 0 10px 5px 0;
    left: 150px;
    bottom: -15px;
    position: relative; }
  .mcommons-webform .pane-content {
    padding: 10px; }

.mcommons-webform-long {
  float: none;
  height: 300px;
  margin: 0 0 15px 0;
  border: none !important;
  background-color: white !important; }
  .mcommons-webform-long .go-button {
    left: 285px; }

#five_friends {
  width: 170px;
  position: absolute;
  bottom: 0px;
  left: 15px; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 10%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.view-campaign-gallery #thumbs {
  margin: 0 0 0 -8px; }
  .view-campaign-gallery #thumbs .thumbs {
    width: 750px; }
.view-campaign-gallery .pager {
  margin: 0;
  padding: 0 0 20px; }
  .view-campaign-gallery .pager a {
    color: black; }

.gallery-header .pane-content {
  display: none; }

#slideshow {
  margin: 30px auto; }

.pane-content #sponsor-and-help {
  text-align: right;
  background: black;
  border-top: 2px solid #ffdd00;
  padding-top: 10px;
  color: white; }
  .pane-content #sponsor-and-help img {
    float: right;
    margin: 0; }
  .pane-content #sponsor-and-help a {
    color: #ffdd00; }

#contest_button {
  text-decoration: underline;
  text-align: center; }

#contest_info {
  background-color: #dddddd;
  width: 721px;
  position: relative;
  bottom: -15px;
  padding: 15px;
  margin-bottom: 15px; }
  #contest_info a {
    text-align: center; }

#breadcrumb {
  display: none; }

img {
  border: none !important;
  box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.ds-panel .pane-content {
  padding-bottom: 0 !important; }

.panel-row-top .panel-panel {
  margin-bottom: 0; }

.panel-row-actions {
  border: none !important; }
