.main-inner a {
  color: #0a5083;
  text-decoration: none; }
  .main-inner a:hover {
    color: #0a5083;
    text-decoration: underline; }
  .main-inner a:visited {
    color: #0a5083; }

h1.title {
  display: none; }

body {
  background: url("assets/bg.png") #ffdd00 no-repeat;
  background-position: center;
  background-size: 1200px 100%; }

div[role="main"] {
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px;
  background: black; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-panel {
  margin-bottom: 15px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.li-circles {
  list-style-image: url("assets/dot.png"); }

h2.pane-title {
  background-color: #0a5083;
  color: #ffdd00; }

#block-dosomething-campaign-styles-campaign-nav {
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif;
  background: black; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: inherit;
    background-image: none;
    text-align: right;
    padding-top: 12px; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      text-decoration: none; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #ffdd00;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #0a5083;
    padding: 0;
    font-size: 26px;
    line-height: 1em;
    margin-top: 15px; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em;
    font-weight: 600;
    color: #ffdd00; }

#scholarship_bubble {
  height: 85px; }
  #scholarship_bubble img {
    position: absolute;
    right: -65px;
    top: -25px; }

.pane-node-field-campain-date .field-item {
  font-size: 27px;
  color: #ffdd00; }

.pane-node-field-campaign-teaser p {
  font-weight: lighter;
  color: white;
  margin-bottom: 0; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: #ffdd00;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .field-name-body {
  margin-top: 1em;
  padding: 0; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #ffdd00;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.8em;
  padding: 7px 0 5px; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0 0 0.8 0;
  color: white; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }
.panel-row-ad-quick-info .pane-content a {
  color: #ffdd00; }
.panel-row-ad-quick-info .pane-content:active, .panel-row-ad-quick-info .pane-content:visited {
  color: #ffdd00; }

.psa-image .pane-content {
  height: 425px; }
  .psa-image .pane-content img {
    position: absolute;
    top: -50px; }

.panel-row-ad {
  margin: 0; }

.panel-row-ad-psa {
  margin: 45px 0 0 0; }

.panel-row-flexible .panel-pane {
  background: white;
  border: none !important; }

.panel-row-actions {
  background: #0da0e6;
  margin: 0 0 15px 0;
  width: 750px;
  border: none !important; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: #0da0e6; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px;
  padding: 20px 0 0px 0 !important; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 13px;
    left: 324px; }
    #campaign-opt-in a:hover {
      text-decoration: none; }

#post-sign-up {
  padding: 15px;
  width: 100%; }
  #post-sign-up .go-button {
    position: relative;
    bottom: -17px;
    left: -5px; }

.panel-row-actions-stats .campaign-counter {
  margin: 15px 5px 0 0; }

.pane-campaign-counter .pane-title {
  width: 376px; }

.campaign-counter-labels {
  text-transform: uppercase;
  font-size: 25px;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 25px;
  float: left;
  margin: 5px 0 0 10px; }

.campaign-counter-label-top {
  margin-bottom: 10px; }

.campaign-counter-number-top {
  margin: 6px 0 10px 0; }

.campaign-counter-numbers {
  float: right; }

.campaign-counter-number-top,
.campaign-counter-number-bottom {
  text-align: right; }

.panel-pane {
  margin-bottom: 0; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content {
    background: white;
      background-padding: 5px 5px 5px 20px;
      background-margin: 0; }

.resources-section,
.faq-section {
  border: none !important;
  padding: 15px; }
  .resources-section .pane-content,
  .faq-section .pane-content {
    background: white;
    padding: 10px 15px; }
  .resources-section h3,
  .faq-section h3 {
    font-size: 20px;
    color: black;
    padding-bottom: 5px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post span {
    display: none; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 auto 15px;
    display: block; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #0a5083;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: #ffdd00; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: #ffdd00; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #dddddd; }

.fb-social-comments-plugin {
  padding-bottom: 40px; }
  .fb-social-comments-plugin iframe {
    margin: 20px 0 0 10px;
    width: 530px !important; }

#node-722143 .field-label-above {
  display: none; }
#node-722143 #webform-component-instructions {
  margin: -20px 0 10px 0; }
#node-722143 #edit-actions {
  height: 60px;
  margin: 10px 0 0 0; }

#edit-submitted-field-webform-school-reference,
#submitted-field-webform-school-zip-add-more-wrapper {
  display: none; }

.mcommons-webform {
  width: 100%;
  overflow: auto;
  background-color: white !important;
  color: black; }
  .mcommons-webform input.field {
    width: 100%;
    height: 22px;
    margin-bottom: 15px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .go-button {
    padding-top: 3px;
    margin: 0 10px 5px 0;
    left: 150px;
    bottom: -15px;
    position: relative; }
  .mcommons-webform .pane-content {
    padding: 10px; }

.mcommons-webform-long {
  float: none;
  height: 300px;
  margin: 0 0 15px 0;
  border: none !important;
  background-color: white !important; }
  .mcommons-webform-long .go-button {
    left: 285px; }

#five_friends {
  width: 170px;
  position: absolute;
  bottom: 0px;
  left: 15px; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 10%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.view-campaign-gallery #gallery {
  height: auto !important; }
.view-campaign-gallery #thumbs {
  margin: 0 0 0 -8px; }
  .view-campaign-gallery #thumbs .thumbs {
    width: 750px; }
.view-campaign-gallery .pager {
  margin: 0;
  padding: 0 0 20px; }
  .view-campaign-gallery .pager a {
    color: black; }

.gallery-header .pane-content {
  display: none; }

#slideshow {
  margin: 30px auto; }

.pane-content #sponsor-and-help {
  text-align: right;
  background: black;
  border-top: 2px solid #ffdd00;
  padding-top: 10px;
  color: white; }
  .pane-content #sponsor-and-help img {
    float: right;
    margin: 0; }
  .pane-content #sponsor-and-help a {
    color: #ffdd00; }

#contest_button {
  text-decoration: underline;
  text-align: center; }

#contest_info {
  background-color: #dddddd;
  width: 721px;
  position: relative;
  bottom: -15px;
  padding: 15px;
  margin-bottom: 15px; }
  #contest_info a {
    text-align: center; }

#breadcrumb {
  display: none; }

img {
  border: none !important;
  box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.ds-panel .pane-content {
  padding-bottom: 0 !important; }

.panel-row-top .panel-panel {
  margin-bottom: 0; }

.panel-row-actions {
  border: none !important; }

#thumbwars_facts h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  border-bottom: 3px solid black; }
#thumbwars_facts .thumbwars_stats {
  height: 250px; }
  #thumbwars_facts .thumbwars_stats .thumbwars_stat {
    float: left;
    background: #ffdf00;
    width: 218px;
    height: 218px;
    margin: 0 16px 16px; }
    #thumbwars_facts .thumbwars_stats .thumbwars_stat p {
      font-family: din-web;
      font-size: 2em;
      line-height: 1.3em;
      text-align: center;
      padding: 16px 16px 0;
      margin-bottom: 12px; }
    #thumbwars_facts .thumbwars_stats .thumbwars_stat a {
      display: block;
      text-align: center;
      color: black;
      text-decoration: underline; }
#thumbwars_facts .thumbwars_col {
  width: 380px;
  padding: 0 0 2em; }
  #thumbwars_facts .thumbwars_col ul {
    margin: 0 5px 0; }
  #thumbwars_facts .thumbwars_col li {
    list-style-type: none;
    padding-left: 14px;
    background: url("assets/list-dot.png") no-repeat 0 45%; }
  #thumbwars_facts .thumbwars_col a {
    color: black;
    text-decoration: underline;
    font-family: din-web;
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: 500; }
#thumbwars_facts .thumbwars_rightcol {
  float: right;
  margin-left: 16px; }

#thumbwars_actionguide .action-step {
  float: left;
  display: block;
  width: 300px;
  margin: 10px 37px;
  -webkit-box-shadow: 0 15px 20px -10px #cccccc;
  -moz-box-shadow: 0 15px 20px -10px #cccccc;
  box-shadow: 0 15px 20px -10px #cccccc; }
  #thumbwars_actionguide .action-step h1 {
    width: 45px;
    padding-top: 5px;
    margin: 16px auto 16px;
    text-align: center;
    background: #0a5083;
    color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px; }
  #thumbwars_actionguide .action-step h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.5em; }
  #thumbwars_actionguide .action-step img {
    border: 0 !important;
    margin: 0;
    padding: 0; }
#thumbwars_actionguide .outro {
  clear: both;
  text-align: center;
  font-family: din-web;
  font-size: 3em;
  padding: 2em; }

#thumbwars_scholarship h1 {
  margin: 16px;
  text-align: center;
  font-size: 5em;
  border-bottom: 3px solid black;
  font-weight: bold;
  text-transform: uppercase; }
#thumbwars_scholarship h3 {
  text-transform: lowercase;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em; }
#thumbwars_scholarship .scholarship-method {
  width: 250px;
  margin: 16px 62px;
  float: left; }
  #thumbwars_scholarship .scholarship-method img {
    border: 0 !important;
    margin: 0;
    padding: 0; }
  #thumbwars_scholarship .scholarship-method p {
    background: #ffdf00;
    font-family: din-web;
    font-size: 1.75em;
    line-height: 1em;
    padding: 16px; }
#thumbwars_scholarship .outro {
  clear: both;
  font-family: din-web;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  padding: 16px 200px;
  text-align: center; }
  #thumbwars_scholarship .outro span {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 0.5em; }

#edit-submitted-field-webform-school-reference {
  display: none; }

#edit-submitted-group-audience {
  display: none; }

#thumbwars_reportback {
  width: 550px;
  margin: 0 auto; }
  #thumbwars_reportback label {
    font-family: din-web;
    font-weight: 500;
    font-size: 1.75em;
    padding: 1em 0 0.5em; }
  #thumbwars_reportback .form-select {
    width: 240px;
    height: 40px;
    overflow: hidden;
    background: #919396 url("assets/dropdown_arrow.png") no-repeat 95% 50%;
    border: 0;
    padding: 7px 14px;
    color: white;
    font-family: din-web;
    font-size: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none; }
  #thumbwars_reportback textarea {
    -webkit-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
    -moz-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
    box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
    border: 0; }
  #thumbwars_reportback #edit-submitted-field-webform-pictures legend {
    padding: 1em 0 0;
    margin-bottom: 0;
    line-height: 1em; }
  #thumbwars_reportback #edit-submitted-field-webform-pictures .fieldset-wrapper {
    background: white;
    margin-top: 0;
    width: 300px;
    padding: 0 15px 15px;
    -webkit-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
    -moz-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
    box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset; }
    #thumbwars_reportback #edit-submitted-field-webform-pictures .fieldset-wrapper label {
      font-weight: normal; }
  #thumbwars_reportback #edit-submitted-field-webform-pictures input {
    margin: 5px 0; }
  #thumbwars_reportback #edit-actions {
    margin-bottom: 16px;
    text-align: left; }

.mcommons-webform {
  float: left;
  background: #ffdf00 !important;
  width: 66%;
  margin-right: 2%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 23px;
    margin-bottom: 6px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .pane-content {
    height: 175px;
    padding: 0.5em; }
  .mcommons-webform .go-button {
    position: absolute;
    width: 60px;
    left: 380px;
    bottom: 5px; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.form-wrapper {
  margin-bottom: 5px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

.hidden {
  display: none; }

#celebsocks {
  background: #ffdf00;
  text-align: center;
  font-family: din-web;
  font-size: 2em;
  line-height: 1.3em;
  height: 209px;
  width: 240px; }
  #celebsocks img {
    margin: 20px 0 15px; }
  #celebsocks p {
    padding: 0 10px; }
  #celebsocks a {
    text-decoration: underline;
    color: black; }

#thumbwars_conf p {
  text-align: center;
  padding: 2em;
  font-family: din-web;
  font-size: 2.5em;
  font-weight: 500; }

.node-type-campaign-sign-up #webform-component-first-name, .node-type-campaign-sign-up #webform-component-last-name, .node-type-campaign-sign-up #webform-component-address-1, .node-type-campaign-sign-up #webform-component-address-2, .node-type-campaign-sign-up #webform-component-city, .node-type-campaign-sign-up #webform-component-state, .node-type-campaign-sign-up #webform-component-zip-code, .node-type-campaign-sign-up #webform-component-who-with, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value, .node-type-campaign-sign-up .form-item-first-name, .node-type-campaign-sign-up .form-item-last-name, .node-type-campaign-sign-up .form-item-email, .node-type-campaign-sign-up .form-item-cell, .node-type-campaign-sign-up .form-item-pass {
  clear: both;
  margin: 0 auto !important;
  float: left !important; }
  .node-type-campaign-sign-up #webform-component-first-name label, .node-type-campaign-sign-up #webform-component-last-name label, .node-type-campaign-sign-up #webform-component-address-1 label, .node-type-campaign-sign-up #webform-component-address-2 label, .node-type-campaign-sign-up #webform-component-city label, .node-type-campaign-sign-up #webform-component-state label, .node-type-campaign-sign-up #webform-component-zip-code label, .node-type-campaign-sign-up #webform-component-who-with label, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email label, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value label, .node-type-campaign-sign-up .form-item-first-name label, .node-type-campaign-sign-up .form-item-last-name label, .node-type-campaign-sign-up .form-item-email label, .node-type-campaign-sign-up .form-item-cell label, .node-type-campaign-sign-up .form-item-pass label {
    width: 220px;
    padding: 5px 0 0 40px; }
  .node-type-campaign-sign-up #webform-component-first-name label, .node-type-campaign-sign-up #webform-component-first-name input, .node-type-campaign-sign-up #webform-component-last-name label, .node-type-campaign-sign-up #webform-component-last-name input, .node-type-campaign-sign-up #webform-component-address-1 label, .node-type-campaign-sign-up #webform-component-address-1 input, .node-type-campaign-sign-up #webform-component-address-2 label, .node-type-campaign-sign-up #webform-component-address-2 input, .node-type-campaign-sign-up #webform-component-city label, .node-type-campaign-sign-up #webform-component-city input, .node-type-campaign-sign-up #webform-component-state label, .node-type-campaign-sign-up #webform-component-state input, .node-type-campaign-sign-up #webform-component-zip-code label, .node-type-campaign-sign-up #webform-component-zip-code input, .node-type-campaign-sign-up #webform-component-who-with label, .node-type-campaign-sign-up #webform-component-who-with input, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email label, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value label, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input, .node-type-campaign-sign-up .form-item-first-name label, .node-type-campaign-sign-up .form-item-first-name input, .node-type-campaign-sign-up .form-item-last-name label, .node-type-campaign-sign-up .form-item-last-name input, .node-type-campaign-sign-up .form-item-email label, .node-type-campaign-sign-up .form-item-email input, .node-type-campaign-sign-up .form-item-cell label, .node-type-campaign-sign-up .form-item-cell input, .node-type-campaign-sign-up .form-item-pass label, .node-type-campaign-sign-up .form-item-pass input {
    float: left;
    margin: 8px 0;
    font-size: 14px; }
  .node-type-campaign-sign-up #webform-component-first-name input, .node-type-campaign-sign-up #webform-component-last-name input, .node-type-campaign-sign-up #webform-component-address-1 input, .node-type-campaign-sign-up #webform-component-address-2 input, .node-type-campaign-sign-up #webform-component-city input, .node-type-campaign-sign-up #webform-component-state input, .node-type-campaign-sign-up #webform-component-zip-code input, .node-type-campaign-sign-up #webform-component-who-with input, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input, .node-type-campaign-sign-up .form-item-first-name input, .node-type-campaign-sign-up .form-item-last-name input, .node-type-campaign-sign-up .form-item-email input, .node-type-campaign-sign-up .form-item-cell input, .node-type-campaign-sign-up .form-item-pass input {
    width: 225px !important; }
    .node-type-campaign-sign-up #webform-component-first-name input:focus, .node-type-campaign-sign-up #webform-component-last-name input:focus, .node-type-campaign-sign-up #webform-component-address-1 input:focus, .node-type-campaign-sign-up #webform-component-address-2 input:focus, .node-type-campaign-sign-up #webform-component-city input:focus, .node-type-campaign-sign-up #webform-component-state input:focus, .node-type-campaign-sign-up #webform-component-zip-code input:focus, .node-type-campaign-sign-up #webform-component-who-with input:focus, .node-type-campaign-sign-up .form-item-submitted-field-webform-email-und-0-email input:focus, .node-type-campaign-sign-up .form-item-submitted-field-webform-mobile-und-0-value input:focus, .node-type-campaign-sign-up .form-item-first-name input:focus, .node-type-campaign-sign-up .form-item-last-name input:focus, .node-type-campaign-sign-up .form-item-email input:focus, .node-type-campaign-sign-up .form-item-cell input:focus, .node-type-campaign-sign-up .form-item-pass input:focus {
      background-color: lightyellow; }
.node-type-campaign-sign-up label[for="edit-last-name"], .node-type-campaign-sign-up label[for="edit-first-name"], .node-type-campaign-sign-up label[for="edit-cell-or-email"] {
  display: block !important; }
.node-type-campaign-sign-up #webform-component-who-with label {
  width: 100%;
  padding-left: 0; }
.node-type-campaign-sign-up #webform-component-who-with textarea {
  border: none;
  -webkit-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  -moz-box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  box-shadow: rgba(151, 151, 151, 0.5) 0 0 4px 1px inset;
  outline: none;
  padding-left: 5px; }
  .node-type-campaign-sign-up #webform-component-who-with textarea:focus {
    background-color: lightyellow; }
.node-type-campaign-sign-up #webform-component-who-with .grippie {
  margin-bottom: 10px; }
.node-type-campaign-sign-up .panel-row-flexible-top {
  width: 550px;
  margin: 0 auto; }
  .node-type-campaign-sign-up .panel-row-flexible-top h2.pane-title {
    display: none; }
.node-type-campaign-sign-up #webform-component-instructions {
  margin: 0 0 -10px 0 !important; }
.node-type-campaign-sign-up form.webform-client-form #edit-actions--2, .node-type-campaign-sign-up form.webform-client-form #edit-actions {
  text-align: center;
  margin: 10px;
  clear: both; }

.center {
  text-align: center; }

.pane-dosomething-login-register-block {
  margin-bottom: 0 !important; }
  .pane-dosomething-login-register-block h2.pane-title {
    display: block !important; }

.node-type-campaign-report-back .panel-row-flexible-top {
  width: 550px;
  margin: 0 auto; }
  .node-type-campaign-report-back .panel-row-flexible-top label {
    margin-top: 1em; }
  .node-type-campaign-report-back .panel-row-flexible-top fieldset legend {
    padding: 20px 0 0 0 !important; }
  .node-type-campaign-report-back .panel-row-flexible-top #edit-actions--2, .node-type-campaign-report-back .panel-row-flexible-top #edit-actions {
    text-align: center;
    margin: 10px;
    clear: both; }

#fb-social-comments-plugin {
  display: none; }

.pane-campaign-sign-up #edit-actions {
  left: 200px; }

.pane-campaign-sign-up #edit-actions {
  position: absolute;
  top: 50px !important;
  right: 75px; }
