.campaign-counter:after {
  content: "";
  display: table;
  clear: both;
}

.campaign-counter {
  width: 100%;
}

.campaign-counter-labels {
  float: left;
}

.campaign-counter-numbers {
  float: right;
}
