<div  class="section s4">

  <img class="thanks" src="http://files.dosomething.org/files/campaigns/animals/p4p-fb-logo2.png" alt="Thanks to You">

  <ul class="numbers">
    <li><span>1140</span><br>Animals shared</li>
    <li><span>75,000</span><br>Shares</li>
    <li><span>160+</span><br>Animals Adopted</li>
    <li class="last"><span>$5,000</span><br>In Supplies Donated to shelters</li>
  </ul>

  <hr>

  <h2>Check out these awesome adoption stories:</h2>

  <div class="carter">
      <img src="//files.dosomething.org/files/campaigns/animals/maci1.jpg">
    <h3>Hi, I'm Maci</h3>
    <p><span>Adopted From:</span> Humane Society of West Michigan</p>

    <p><span>Adopted By:</span> Rick &amp; Paula</p>

    <p>Rick and Paula have always wanted to adopt a shelter animal as they believe that shelter animals need the second chance to be loved. On a visit to the Asheville Humane Society, Rick and Paula found Maci and it was love at first site. It only took a few days for Maci to settle in at her new home, and now she greets Rick and Paula every day when they get home from work. Maci is so happy to be in her new home, and has even passed her K9 Good Citizen Test!</p>
  </div>

  <div class="carter">
      <img src="//files.dosomething.org/files/campaigns/animals/ernesto1.jpg">
    <h3>Hi, I'm Ernesto</h3>
    <p><span>Adopted From:</span> NorCal German Shorthaired Pointer Rescue</p>

    <p><span>Adopted By:</span> Pam</p>

    <p>Pam didn’t plan on adopting originally; she only wanted to foster an older dog, because these dogs are typically less likely to be adopted. Ernesto (formerly Dougal) is over 12 years old, has bad arthritis and is deaf (which is why it was okay to change his name) so once Pam started fostering Ernesto, and fell in love with him, she decided that he didn’t need any more change in his life, and that stability would be the best for him. Ernesto was originally found in a house where he had been alone for a week without food or water, and when he came to Pam he was so weak he would often fall over. After a few weeks of TLC from Pam and her family, Ernesto now runs up and down the beach, enjoying his golden years. He has changed from the weak, timid Dougal, to the happy, outgoing, energetic Dougal, and all it took was a fur-ever home!</p>
  </div>

  <div class="lastcarter">
      <img src="//files.dosomething.org/files/campaigns/animals/woody1.jpg">
    <h3>Hi, I'm Woody</h3>
    <p><span>Adopted From:</span> Second Chance Shelter</p>

    <p><span>Adopted By:</span> Catherine and Adam</p>

    <p>Catherine and Adam knew they were meant to adopt a dog, in order to give a pet a second chance, so adopting from Second Chance Shelter seemed like the only choice! When they met Woody, they knew right away he was the one for them. Woody has already settled in with his two kitty siblings, Radar and Dixie, and doesn’t chase or bark them. Since living with them (for only a little over a month now!) Woody has learned 5 or 6 commands and has learned to walk on a leash. Catherine and Adam love bringing Woody to work, and they both feel as though Woody has made their house a home.</p>
  </div>

  <h3 class="wantmore">Want to do more to help homeless animals?</h3>

  <p class="join-club"><a href="//www.dosomething.org/clubs">Join a club</a></p>
  <p class="learn-about"><a href="//www.dosomething.org/cause/animals">Learn About Animal Welfare</a></p>

</div>
