.page-node .content form.webform-client-form {
  width: 797px;
  margin: 0 0 0 -23px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px;
  background: #0c3565;
  color: white;
  padding: 0px; }
  .page-node .content form.webform-client-form label {
    margin-left: 5px; }
  .page-node .content form.webform-client-form img {
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2% 0;
    margin: 0 auto;
    display: block; }
  .page-node .content form.webform-client-form h1 {
    color: white;
    margin: 15px;
    margin-top: 0px;
    text-align: center; }
  .page-node .content form.webform-client-form .quote-highlight p {
    background: #a78b79;
    max-width: 525px;
    margin: 0 auto 0.8em;
    padding: 3%;
    font-family: din-web-reg;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    font-size: 27px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }
  .page-node .content form.webform-client-form input[type="text"] {
    padding: 0.8em 0.5em;
    float: left;
    height: 3em;
    width: 48%;
    margin: 1%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em; }
  .page-node .content form.webform-client-form fieldset {
    width: 735px;
    margin: 0px auto; }
  .page-node .content form.webform-client-form #webform-component-referall-your-info .webform-component {
    width: 48%;
    float: left;
    margin: 1%; }
    .page-node .content form.webform-client-form #webform-component-referall-your-info .webform-component input {
      width: 100%; }
  .page-node .content form.webform-client-form #campaign-opt-in {
    text-align: center; }
    .page-node .content form.webform-client-form #campaign-opt-in a {
      color: white; }
  .page-node .content form.webform-client-form #edit-actions {
    margin: 20px 0px;
    text-align: center; }
