// GENERAL
// -------
.call-to-action,
.headline
  background: $color-two

.official-rules
  display: block
  margin: 0 auto
  width: 13em
  text-align: center
  color: black

// HEADER
// ------
.header
  position: relative
  width: 100%
  height: 360px
  background-color: $bg-header-fallback
  background-image: url($bg-header-image)
  background-repeat: no-repeat
  background-position: center center
  @include background-size(cover)
  padding: 1% 2%
  overflow: hidden
  border: none
  @include respond-to(tablets_and_phones)
    height: auto
    padding: 1% 2% 12% 2%

  .logo-campaign
    width: 550px
    margin: 8% auto 0
    height: 225px
    padding: 25px
    @media only screen and (max-width: 531px)
      width: 96%
      height: auto

  .log-out
    color: $font-light

  .header-social
    width: 22%
    min-width: 140px
    @include respond-to(phones)
      display: none

  .header-facebook-share,
  .header-twitter-share
    display: inline-block
    height: 20px

  .header-facebook-share
    width: 80px
    border: 1px solid rgb(202, 212, 231)
    +border-radius(2px)
    &:hover
      border: 1px solid rgb(236, 238, 245)

  .header-date
    width: 53%
    text-align: center
    text-transform: uppercase
    font-weight: 600
    font-size: 1.5em
    color: #fff
    @include respond-to(phones)
      width: 96%

  .header-sponsor
    width: 22%
    margin: -3% 0 0 0
    float: right
    a
      float: left
      display: block
      width: 45%
      background: #fff
      background: rgba(255,255,255,0.7)
      border-radius: 3px
      padding: 2% 5%
      margin: 0 2%
    @include respond-to(phones)
      display: none

  .row-bottom
    position: absolute
    bottom: 0
    left: 0
    padding: 1% 2%

// HEADLINE
// --------
.headline
  background: $bg-light !important
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd

  @include respond-to(phones)
    .headline-callout span
      background: none
      font-size: 0.6em
      background: none
      color: $color-one
      line-height: 1.5em
      font-weight: 600

// CALL TO ACTION
// --------------
.call-to-action
  p
    line-height: 3em
    letter-spacing: 0.05em
    color: $font-light
    @include respond-to(tablets_and_phones)
      float: none
    @include respond-to(phones)
      line-height: 2em

  .btn
    margin: 0 0 0 1em
    clear: none
    @include respond-to(tablets_and_phones)
      float: none
      margin: 0 auto

  .section-container
    width: 80%
    margin: 0 auto

    @include respond-to(phones)
      width: 96%

// HOW IT WORKS
// ------------
.how-it-works
  padding: 2em 0
  +noBorder

  .how-it-works-container
    clear: both
    overflow: hidden
    margin: 0 0 1em 0

    .section-unit-single
      padding: 0 2% 0

// ACTION-KIT
// ----------
.action-kit
  p
    display: inline-block
    color: $font-light
    line-height: 3em
    letter-spacing: 0.05em
    @include respond-to(tablets_and_phones)
      width: 100%
      text-align: center
    @include respond-to(phones)
      line-height: 2em
  h4
    color: lighten($color-two, 45)
    text-align: right
    font-size: 14px
    a
      color: #fed100 !important
      &:hover
        color: lighten(#fed100, 10)

  .btn
    display: inline-block
    margin: 0 0 0 1em
    clear: none
    +transition(ease background-color 0.5s)
    @include respond-to(tablets_and_phones)
      float: none
      margin: 0 auto
      display: block

  .section-unit-half
    margin: 0
    @media only screen and (max-width: 725px)
      width: 100%
      max-width: 100%

  .section-container
    padding: 15px 0
    background-color: $color-two
    @include respond-to(tablets_and_phones)
      padding: 0 0 1em 0
    @include respond-to(phones)
      height: auto

    .wrapper
      max-width: 680px
      margin: 0 auto
      @include respond-to(phones)
        width: 96%
      p
        @include respond-to(phones)
          font-size: 1em
          line-height: 2.5em

  .section-label
    display: none
    overflow: hidden
    background: lighten($color-two, 3)
    padding: 2em
    @media only screen and (max-width: 725px)
      padding: 1em

  .section-container
    padding: 15px 0
    background-color: $color-two
    @include respond-to(tablets_and_phones)
      padding: 0 0 1em 0

  .btn#getlabel
    @include respond-to(phones)
      width: 12em !important

  .btn.less-than
    width: 13em !important
    @media only screen and (max-width: 725px)
      margin: 0 auto 0.5em
    @include respond-to(phones)
      width: 12em !important

  .btn.greater-than
    width: 13em !important
    @include respond-to(phones)
      width: 12em !important

// PRIZING
// -------
.prizing
  p
    padding: 0 1em 1em 1em

  .prizing-container
    width: ( $section-unit-width * 2 )
    margin: 0 auto
    clear: both

  .btn
    margin: 1em auto

  #italic
    span
      display: block
      text-align: center
      font-style: italic

  .section-unit-half
    margin: 0 0 1em 0


// CONTENT
// -------
.content
  width: 90%
  max-width: $section-content-width
  margin: 0 auto
  p
    display: block
    text-align: left
    line-height: 1.5em
    padding-bottom: 1em
    word-wrap: break-word
  h2
    padding-bottom: 0.5em
  ul
    margin: 0 0 1em 0.5em

  /* this padding should be abstracted to all <h3> */
  .headline-callout
    padding: 0 0 0.5em 0
    text-transform: capitalize
    text-align: left
    span
      background: $color-one



// GALLERY
// -------
.gallery
  img
    border: 1px solid #ddd !important
    +border-radius(3px)
    +box-shadow(0 10px 10px -10px #bbb !important)

  .btn
    margin: 1.5em auto


// THANKS
// ------
.success_msg
  margin: 0 auto 1em
  h2
    text-transform: uppercase
    font-weight: 600
    color: $campaign-accent

// FAQ
// ---
.faq
  width: 90%
  max-width: $section-content-width
  margin: 0 auto
  height: auto

  h3, p
    text-align: left
    margin-bottom: 0.5em
  h3
    cursor: pointer
    color: $off-black
    font-weight: bold
  div /* TODO - GIVE THIS A CLASS */
    margin: 0 0 0.5em 0

  .btn
    margin: 1em auto 0

  .back-to-top /* TODO - THESE STYLES WERE INHERITED; REFACTOR THEM */
    text-align: right
    padding: 1em 0 1em

  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 1em
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0% 40%

// REPORT BACK
// -----------
#report-back
  background: #fff
  margin: 2% auto 0
  padding: 2em 0px
  width: 100%
  max-width: 600px
  margin: 0px auto
  +border-radius(3px)

  .field-name-field-mandrill-key
    display: none

  #edit-submit
    font-size: 18px
    font-weight: 600
    font-family: din-web-reg
    padding: 4px 1px 0 0
    height: 37px
    width: 100px
    margin: 1em 0 0 0

  #edit-submitted-field-webform-pictures-und-0-upload-button,
  #edit-submitted-field-webform-pictures-und-1-upload-button
    color: #555 !important
    font-size: 18px
    font-weight: 500
    width: 100px

#edit-submitted-taxonomy-vocabulary-5,
#edit-submitted-field-webform-school-reference,
#edit-submitted-field-webform-school,
#edit-submitted-field-webform-school-zip,
#edit-submitted-field-webform-videos
  display: none

.footer
  background: #f8f8f8

  .sponsor
    display: none
    width: 200px
    margin: 0 auto
    @include respond-to(tablets_and_phones)
      display: block
    a
      display: block
      margin: 15px 0

#ten-or-more
  background: #fff
  margin: 10% auto
  max-width: 40em
  border-radius: 3px
  padding: 1em
  h1
    text-align: left

  #webform-component-e-mail
    width: 22em
    margin: 0 auto

  #edit-submitted-e-mail
    float: left
    width: 4em

  #edit-submitted-e-mail
    width: 16em

  #edit-submit
    float: none
    font-size: 24px
    font-weight: 500
    font-family: din-web-reg
    border-radius: 3px
    padding: 10px 30px 5px 30px
    height: auto
    width: auto
    margin: 0 0 0 1em

  #edit-actions
    width: 10em
    margin: 1em auto
