// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)

  #how
    img
      display: block
      margin: 0 auto 2%
    .exp
      margin: 0 auto 2%
      float: none


@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 0 auto  
  
  //			//
  //	#action
  //			//

  #action
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left
  #action  
    img
      display: none 

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

@media only screen and (max-width: 550px)
.section#header
  background-position: 80% 0%
  #header
    .subhead
      font-size: 1.2em
    .subhead2
      font-size: 1em


@media only screen and (max-width: 450px)
  .section
    margin: 0 auto

  a.print-pdf
    width: 55%
