success-message// PANES 

///      //
//  #header     - sign up -
//      //
.section#header
  background: url('https://www.dosomething.org/files/campaigns/preg14/header-new.jpg') top center no-repeat
  margin-bottom: 0
  height: 330px
#header
  margin: 0 auto
  text-align: left
  position: relative
  padding: 0
  h1, h2
    text-align: left
    color: black
    margin: 0
  .headline
    max-width: 800px
    margin: 0 auto
  h1
    margin: 1.5%
    background: $second-color
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    float: left
    font-weight: 600
    font-size: 3.4em
    color: white
    padding: 1.5% 1.5% 0
    line-height: 1em
  h2
    text-align: center
    text-transform: uppercase
    font-size: 1.8em
    font-family: $din
    font-weight: 600
    width: 80%
    margin: 0 auto
    line-height: 1.2em
    span
      color: $second-color
      font-weight: 700
      padding: 0
  .subhead
    text-transform: uppercase
    color: white
    background: $second-color
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 1.5% 0
    float: left
    font-size: 1.4em
    padding: 1% 1.5% 0
  .subhead2
    max-width: 375px
    color: white
    background: $first-color
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 1.5% 0
    float: left
    font-size: 1.1em
    padding: 1% 1.5%
    clear: both
  .date
    color: white
    background: #333
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 5% 1.5% 1.5% 1.5% 
    float: right
    clear: both
    font-size: 1.2em
    padding: 1% 1.5%
    text-transform: uppercase

  .header-date
    //width: 53%
    text-align: center
    text-transform: uppercase
    position: absolute
    bottom: 2px
    right: 16px
    p
      color: $offBlack
      font-size: 1.2em
      font-weight: 500
      display: inline-block
      padding: 0
    @media only screen and (max-width: 600px)

  .pane-campaign-signed
    h2
      text-align: center
      text-transform: uppercase
      color: white
      font-size: 2em
      font-weight: 400
    .action-now
      margin: 0 auto
      display: inline-block
      text-align: center         
      img
        margin: 0em 0.8em 0 0
        float: left
      .go-button
        margin-top: 0.1em 
        float: left
        font-size: 1.8em
  .header-social
    position: absolute
    bottom: 0
    left: 8px
  .header-facebook-share, .header-twitter-share
    display: inline-block
    margin: 0 2px

  .header-facebook-share img
    border: 1px solid #ccc
    +border-radius(4px)

  .ctia_bottom, .ctia_top
    font-weight: 400
    text-transform: none

  .logo
    margin: 1.75em 0 0 12em
    @media only screen and (max-width: 600px)
      margin: 1.75em auto 0
      display: block


//      //
//  #game
//      //
#game
  color: white
  background: $first-color
  h2, h3
    max-width: 700px
    margin: 0 auto 0.5em
    text-transform: uppercase
    padding: 0.6em 1em 0.3em
  h2
    color: $offBlack
    background: $second-color
    line-height: 1.1em
    display: inline-block
    letter-spacing: 2px
    font-size: 2.2em
    @media only screen and (max-width: 600px)
      font-size: 1.4em
  h3
    color: $offBlack
    background: $second-color
    font-size: 1.2em
    letter-spacing: 1px
    @media only screen and (max-width: 600px)
      font-size: 1em
  label
    color: black
    text-align: left
    margin: 2% 1% 0
  form
    max-width: 600px
    margin: 0 auto
  hr
    border: 1px solid white
    border-bottom: 0
    clear: both
  input[type="text"]
    float: left
    width: 48%
    margin: 2% 1%
  .scholar-input
    float: left
    width: 50%
    label
      margin-top: 2%
    input
      width: 96%
      margin: 2% 1% 4%

  input[type="submit"]
    background: $second-color
    color: $offBlack
    display: block
    margin: 0.5em auto
    font-size: 2em
    font-family: din-web-reg
    height: 1.6em
    padding: 0.4em 1em 0.2em
    &:hover
      opacity: 0.95
  .msg-data
    margin-left: 2%
    text-align: center
    font-size: 0.55em
    line-height: 1.2em
    font-weight: 500
    color: black
  .rule-regs
    margin-left: 2%
    font-size: 0.8em
    text-align: center
    margin-bottom: 1em
    a
      color: black
      font-weight: 600
  .success_msg p
    color: white
    margin-bottom: 1.5em
    border: 1px solid #e1e1e1
    padding: 2%
    display: inline-block


//			//
//	#action
//			//
#action
  padding-bottom: 2em
  h3
    margin: 0.5em
    font-weight: 500
    text-transform: none
  .divider
    border-top: none


//      //
//  #how
//      //
#how
  border-top: 1px solid #ccc
  padding-bottom: 3em
  img.expect
    display: block
    margin: 1em auto 2em
  .btn
    max-width: 230px
    padding: 0.65em 0
  .go-button
    background: $second-color
    color: $offBlack
    margin: 0 auto 2em 
    font-size: 1.6em
    font-family: din-web-reg
    padding: 0.7em 0.75em 0.35em
    height: 2.1em
    &:hover
      opacity: 0.85
  .col33
    margin-bottom: 2em
  @media only screen and (max-width: 600px)
    .col33
      width: 100%
      margin-bottom: 0em
      p
        padding: inherit 1em
        max-width: 400px
        margin: 0 auto 2em
    .mid img
      display: none


//      //
//  #example
//      //
.sms-game-example
  padding-bottom: 3em
  border-top: 1px solid #ccc

  .divider
    border-top: none
    @media only screen and (max-width: 600px)
      span
        font-size: 1.6em


  .sms-game-container
    width: 100%
    max-width: 30em
    margin: 0 auto 1em
    overflow: hidden
    clear: both

  .game-conversation
    margin: 1em auto 2em
    padding: 1em 2em
    background: $third-color
    position: relative
    clear: both
    +border-radius(4px)
    @media only screen and (max-width: 600px)
      padding: 0.7em 1em
    &:after
      content: ""
      display: block
      position: absolute
      border-style: solid
      border-width: 15px
    p
      line-height: 1.6em
      font-size: 1.3em
      font-weight: 400
      @media only screen and (max-width: 600px)
        font-size: 1.1em

  .cta-header
    clear: both
    text-align: left
    margin: 0 0 2em 0
    position: relative
    font-size: 1.3em
    top: 1.5em

  .game-ds
    float: left
    &:after
      bottom: -30px
      left: 20px
      border-color: darken($third-color, 15) darken($third-color, 15) white white
    p
      text-align: left
      color: white

  .game-user
    float: right
    background-color: $first-color
    @media only screen and (max-width: 600px)
      margin: 0em auto 2em
    &:after
      bottom: -29px
      right: 20px
      border-color: darken($first-color, 15) white white darken($first-color, 15)
    p
      text-align: right
      color: #fff
      min-width: 60px

  .btn
    width: 230px

//      //
//  #scholarship
//      //
#scholarship
  border-top: 1px solid #ccc
  padding-bottom: 1em
  .divider
    border-top: none
  .btn
    max-width: 230px
    margin: 1em auto
    padding: 0.65em 0
  p
    max-width: 400px
    margin: 0 auto 1em
  .rule-regs
    a
      color: black



//      //
//  #info
//      //
#info
  text-align: left
  border-top: 1px solid #ccc
  .divider
    border-top: none
    @media only screen and (max-width: 600px)
      span
        line-height: 1.2em
  p
    margin-bottom: 1em
  .gray
    color: #999
    font-style: italic
  h2
    background: $third-color
    color: white
    display: inline-block
    padding: 0.2em 2% 0
    margin-bottom: 0.7em
    text-transform: uppercase
    font-size: 1.4em
    font-weight: 500
  .content
    width: 90%
    max-width: 45em
    margin: 0 auto
  a
    color: $first-color


//      //
//  #faq
//      //
#faq
  border-top: 1px solid #ccc 
  div
    padding: 0 1.2em 1.2em 1.2em
  div.divider
    padding: 0.5em 0 0
    border-top: none
    @media only screen and (max-width: 600px)
      span
        line-height: 1.2em  
  h4, li, p
    text-align: left
  ul
    list-style: disc
    margin: 0 0 0 2em
    line-height: 1.4em
  li
    margin: 0
    color: $second-color
    span
      color: black 
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 1.2em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  h4
    color: $offBlack
    cursor: pointer
    background: url("//files.dosomething.org/files/campaigns/prep/arrows.png")
    background-repeat: no-repeat
    background-position-y: 0.4em
    padding: 0.3em 1.2em
  h4.activeFAQ
    background-position-y: -1.4em
  .go-button
    background: $third-color
    color: $second-color
    margin: 2% auto
    font-size: 2em
    font-family: din-web-reg
    &:hover
      opacity: 0.85
  .back-to-top
    text-align: right
    padding: 1em 0 1em
  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 15px
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position-y: 0.5em
  .action-copy
    text-transform: uppercase  
  .action-box
    position: relative
    display: inline-block
  .action-arrow-left, .action-arrow-right
    position: absolute
    bottom: 0.5em
  .action-arrow-right
    right: -70px
  .action-arrow-left
    left: -70px 

  .content
    width: 90%
    max-width: 45em
    margin: 0 auto
    @media only screen and (max-width: 600px)
      width: 100%
  a
    color: $first-color

//      //
//  #signup
//      //

#signup-logo, #signup-email
  width: 50%
  float: left

#signup-logo
  padding: 3em 2em 1em
  img
    margin: 0 auto
    display: block

#signup-email
  padding: 2em 3em

  h3
    color: #47BDFC
    margin-bottom: 0.7em
    font-size: 1.1em
    letter-spacing: 1px
  p
    font-size: 1.25em
    color: #1E1D1C
    margin-bottom: 1em
    font-weight: 300
  .email-text
    font-size: 0.9em
    color: #777
  .form-email
    width: 100%
    max-width: 320px
    color: #555
  #edit-actions
    width: 100% !important
    height: inherit !important
  #edit-submit
    float: left
    display: inline-block
    background: #ffcb15
    margin: 0.5em auto 0
    padding: 0.5em 1.5em 0.3em
    clear: both
    position: static
    border: 1px solid #feb800
    cursor: pointer
    color: #1e1d1c !important
    font-family: din-web-reg
    font-weight: 600
    text-align: center
    text-decoration: none !important
    text-transform: uppercase
    -webkit-appearance: none !important
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    -ms-border-radius: 5px
    -o-border-radius: 5px
    border-radius: 5px
    height: 1.95em
    &:hover
      background: #feb800
      background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#ffcb15),color-stop(100%,#feb800))
      background-image: -webkit-linear-gradient(#ffcb15,#feb800)
      background-image: -moz-linear-gradient(#ffcb15,#feb800)
      background-image: -o-linear-gradient(#ffcb15,#feb800)
      background-image: linear-gradient(#ffcb15,#feb800)
      -webkit-box-shadow: 0 10px 10px -10px #bbb
      -moz-box-shadow: 0 10px 10px -10px #bbb
      box-shadow: 0 10px 10px -10px #bbb

#success-message, #success-message2
  float: left
  width: 100%
  margin: 0 0 4%
  border: 1px solid #47BDFC
  padding: 1.4em 1em 0
  text-align: center
  p
    color: #47BDFC
#success-message2
  p
    color: white
    border: 1px dotted white
    display: inline-block
    padding: 1em

@media only screen and (max-width: 775px)
  #signup-logo, #signup-email
    float: none
    width: 100%
  #signup-logo
    padding: 1em
  #signup-email
    padding: 1em 0em
    max-width: 380px
    margin: 0 auto
  .header-social
    display: none

@media only screen and (max-width: 550px)
  #signup-email
    padding: 0 1.5em 1em
