// PANES 

///      //
//  #header     - sign up -
//      //
.section#header
  background: url('http://www.dosomething.org/files/campaigns/ok/header.jpg') top center no-repeat
  background-size: contain
  margin-bottom: 0
  //min-height: 270px
#header
  max-width: 800px
  margin: 0 auto
  text-align: left
  position: relative
  padding: 0
  h1, h2
    text-align: left
    color: black
    margin: 0
  .headline
    max-width: 800px
    margin: 0 auto
  .subhead
    max-width: 525px
    color: white
    background: $thirdColor
    zoom: 1
    filter: alpha(opacity=75)
    opacity: 0.75
    margin: 17% 0 6.5%
    font-weight: 500
    float: left
    font-size: 1.8em
    padding: 1% 1.5%
    clear: both
  .pane-campaign-signed
    h2
      text-align: center
      text-transform: uppercase
      color: white
      font-size: 2em
      font-weight: 400
    .action-now
      margin: 0 auto
      display: inline-block
      text-align: center         
      img
        margin: 0em 0.8em 0 0
        float: left
      .go-button
        margin-top: 0.1em 
        float: left
        font-size: 1.8em
  .header-social
    position: absolute
    bottom: 5px
    left: 8px
  .header-facebook-share, .header-twitter-share
    display: inline-block
    margin: 0 2px


//			//
//	#action
//			//
#action
  padding: 3% 0 2%
  img
    margin: 4% 0
  .bottom-p
    clear: both
    padding-top: 4%


//      //
//  #info
//      //
.section#info
  padding: 2% 0
#info
  text-align: left
  p
    margin-bottom: 1.4em
    padding: 0 4%
    font-size: 1.05em
    line-height: 1.4em
  .center
    text-align: center
    max-width: 750px
    margin: 0 auto 1.4em
  .gray
    color: #999
    font-style: italic
  h2
    background: $secondaryColor
    color: black
    display: inline-block
    padding: 0.2em 2% 0
    margin-bottom: 1em
    text-transform: uppercase
    font-size: 1.4em
    font-weight: 500
  .divider
    margin: 0 2% 3%
  ul
    margin: 0 2% 1.4em 8%
    list-style-type: disc
  li
    font-size: 1.4em
    line-height: 1.2em
    margin-bottom: 0.1em

//      //
//  #sms-map
//      //
#sms-map
  background: $secondaryColor
  img
    display: block
    margin: 5px auto 20px

#map
  .tableauPlaceholder
    margin: 0 auto


//      //
//  #impact     - gallery -
//      // 
.view-campaign-gallery #slideshow
  margin: 0 auto

#impact
  .go-button
    margin: 2% auto
    font-size: 1.6em
    padding: 0.5em 0.7em
    height: 1.8em


//      //
//  #faq
//      //
#faq 
  div
    padding: 0 1.2em 1.2em 1.2em
  div.divider
    padding: 0.5em 0 0  
  h4, li, p
    text-align: left
  ul
    list-style: disc
    margin: 0 0 0 2em
    line-height: 1.4em
  li
    margin: 0
    color: $secondaryColor
    span
      color: black 
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 1.2em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  h4
    color: $offBlack
    cursor: pointer
    background: url("//files.dosomething.org/files/campaigns/prep/arrows.png")
    background-repeat: no-repeat
    background-position-y: 0.4em
    padding: 0.3em 1.2em
  h4.activeFAQ
    background-position-y: -1.4em
  .go-button
    background: $buttonColor
    color: $secondaryColor
    margin: 2% auto
    padding: 0.5em
    height: 1.8em
    font-size: 1.8em
    font-family: din-web-reg
    &:hover
      opacity: 0.85
  .back-to-top
    text-align: right
    padding: 1em 0 1em
  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 15px
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position-y: 0.5em
  .action-copy
    text-transform: uppercase  
  .action-box
    position: relative
    display: inline-block