// **** BASE **** 

// ------ variable definitions ------

// backgrounds colors
$fallbackBG: #241F20
$panelBG: #008BD9
$dividerBG: #241F20
$linkBG: yellow
$transBG: rgba(127, 63, 128, 0.6)

// font colors
$mainCopy: #fff
$secondaryCopy: #fff
$offBlack: #1E1D1C

// link color
$mainLink: #fff
$navLink: #999

// font-family
$din: din-web-reg,"Trebuchet MS",sans-serif


// ------ mixin definitions ------
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target)
  @return ($target/16)*1em
