// RESPONSIVE STYLES

@media only screen and (max-width: 775px)
  .section
    width: 100%
  
  .refer5
    width: 106%
    margin: 0 0 0 -3%
    padding: 3%
    &:before, &:after
      display: none 

@media only screen and (max-width: 450px)
  .section
    margin: 0
