// FRAMEWORK 

.section
  //overflow: auto
  background: $panelBG
  margin: 0 auto
  padding: 0
  text-align: center
  padding: 2%

.col33, .col40, .col50, .col60
  float: left
  padding: 0 1.5%

.col33
  width: 33%

.col40
  width: 40%

.col50
  width: 50%

.col60
  width: 60%

.divider
  text-align: center
  border-top: 1px solid #9BC1D5
  margin: 0 -2% 3%
  padding: 0
  h3
    color: #fff
    background: $dividerBG
    padding: 0.5em 0.8em
    margin: -1px 0 0
    width: 35%
    display: inline-block
    font-weight: 400


.go-button, #edit-submit
  font-family: din-web
  background: $linkBG
  margin: 4% 0 1%
  padding: 0.4em 0.7em
  font-size: 2em
  height: 1.4em
  display: inline-block
  color: $offBlack
  +border-radius(5px)
  &:hover
    color: darken($mainLink, 12)
