@import compass
@mixin flag-corner
	content: " "
	display: block
	position: absolute
	bottom: -7px
	left: 0px
	background: transparent
	z-index: -1
	border-top: 7px solid #000000
	border-left: 7px solid transparent

div.pane-taxonomy-term-field-celeb-photo 
	border: 1px solid #ffffff
	height: 316px
	+box-shadow(0px 0px 5px #808080)

	img
		height: 314px

#robocalls-who-should-celeb-call
	margin-top: 25px

div#robocalls-celeb-form
	.field-type-text
		margin-top: -13px

	div.pane-content
		background: #fff
		+box-shadow(rgba(75, 71, 68, 0.35) 0 0 12px)

	form.webform-client-form
		height: 317px
		padding-top: 24px
		position: relative
		width: 486px
		border: 0px
		margin-left: 20px
		+box-shadow(none)

		#edit-submitted-field-mobile-commons-id, #edit-submitted-field-celebrity-chooser
			display: none

		label
			width: 139px
			padding-top: 8px
			padding-right: 12px
			text-align: left
			font-size: 12pt

			&[for="edit-submitted-field-celeb-send-now-und"]
				float: none
				font-size: 9.5pt

			&[for="edit-submitted-field-celeb-friend-phone-und-0-value"],
			&[for="edit-submitted-field-celeb-friend-phone-5-und-0-value"]
				padding-bottom: 7px

		input[type="text"], input[type="tel"]
			width: 210px
			height: 30px
			box-sizing: border-box
			+border-radius(10px)
			font-size: 18px
			padding-left: 10px
			+box-shadow(#F1F1F1 0 0 5px 1px inset)
			border: 1px solid #BFBFBF
			margin-bottom: 2px
			color: #565656

		#or-send-now-button
			float: left
			margin-top: -8px

		#edit-submitted-field-celeb-your-name,
		#edit-submitted-field-celeb-your-phone,
		#edit-submitted-field-celeb-friend-phone-1,
		#edit-submitted-field-celeb-friend-phone-2,
		#edit-submitted-field-celeb-friend-phone-3,
		#edit-submitted-field-celeb-friend-phone-4,
		#edit-submitted-field-celeb-friend-phone-5
			width: 210px
			float: left
			margin-right: 16px

		div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-und-0-value"], div#robocalls-celeb-form form.webform-client-form label[for="edit-submitted-field-celeb-friend-phone-5-und-0-value"]
			width: 145px


		#edit-submitted-field-celeb-friend-phone-2,
		#edit-submitted-field-celeb-friend-phone-3,
		#edit-submitted-field-celeb-friend-phone-4,
			label
				display: none

		#edit-submitted-field-celeb-friend-phone-5
			label
				visibility: hidden

		#edit-submitted-field-celeb-friend-phone-4
			clear: left

		#edit-submitted-field-celeb-friend-phone
			//border-top: 1.5px solid #DBD9D8
			//padding-top: 11px
			width: 210px
			float: left
			clear: left
			margin-right: 20px
			//margin-top: -8px

		.form-type-select
			margin-right: 10px

			&.form-item-submitted-field-celeb-date-und-0-value-year, &.form-item-submitted-field-celeb-date-und-0-value-ampm
				margin-right: 0px

		div#edit-submitted-field-celeb-date
			margin: 0px
			height: 45px
			text-align: center
			margin-right: 5px
			display: none
			clear: both

			fieldset.date-processed
				border: none

				legend
					display: none

				select
					background: transparent
					border: 0px
					-webkit-appearance: none
					border: 1px solid #eaeaea
					+border-radius(0px)
					width: 50px
					padding: 3px
					background: url(/sites/all/modules/dosomething/features/robocalls/images/dropdown-arrow.png) 100% 50% no-repeat

					.form-item.form-type-select
						background: white

					&#edit-submitted-field-celeb-date-und-0-value-year
						width: 58px

		#edit-submitted--2
			display: none

		.go-button
			width: 153px
			height: 38px
			box-sizing: border-box
			font-weight: 600
			font-size: 27pt
			float: right
			margin-right: 10px
			margin-top: -10px
			line-height: 0
			padding-top: 7px
			position: absolute
			bottom: 12px
			right: 25px
			z-index: 1

		.date-padding
			padding: 0px
			margin-top: -16px

		.date-spacer
			display: none

		#edit-fb-preview
			clear: both
			//border-top: 1.5px solid #DBD9D8
			padding-top: 15px
			position: absolute
			bottom: 0px
			height: 55px
			width: 385px
			margin: 0px
			margin-bottom: 5px

			.robocalls-fb-button-container
				width: 149px
				border-right: 1px solid #DBD9D8
				height: 52px
				margin-top: -13px
				padding-top: 16px

				img
					cursor: pointer

			.robocalls-preview-button-container
				float: right
				//margin-top: -10px
				margin-right: 115px
				border-right: 1px solid #DBD9D8
				width: 104px
				height: 52px
				margin-top: -13px
				padding-top: 10px

				p
					display: none

				h3 
					float: left
					margin-top: 10px
					margin-right: 10px

				#robocalls_preview_link
					img
						width: 36px
						height: 36px

		div.ajax-progress
			margin-top: 50px
			margin-left: 90px

.main-robocall-flag
	position: absolute
	margin-top: -320px
	background: rgba(24, 64, 139, 0.7)
	padding: 3px 17px
	z-index: 0
	margin-left: -7px
	color: #ffffff
	text-transform: uppercase
	font-size: 17pt
	line-height: 1
	height: 24px
	font-family: din-web

	&.birthday
		background: rgba(216,31,42,0.7)

	&:after
		@include flag-corner

#robocalls-choose-another-celebrity
	h2.pane-title
		margin-left: -10px

	img
		width: 206px
		height: 107px
		margin-bottom: 0px


	.jcarousel-skin-default
		a.jcarousel-prev.jcarousel-prev-horizontal, a.jcarousel-next.jcarousel-next-horizontal
			margin-top: 60px

		.jcarousel-item, .jcarousel-clip-horizontal
			height: auto
			width: 660px

		.jcarousel-container-horizontal
			margin: 0px
			height: 250px
			width: auto
			padding: 0px

		li.jcarousel-item
			background: none
			width: 205px
			border: 0px
			margin: 0px
			padding: 0px
			border: 0px

div.robocalls-submitted-message-dialog
	background: #fefefe

	div.ui-dialog-titlebar
		position: relative
		top: -15px
		float: right
		right: 5px

#dosomething-robocalls-submitted-message
	background: #fff
	display: none

	div.send-another-robocall
		text-align: center
		margin: 40px 0px

		a.go-button
			font-size: 19px
			padding: 17px 70px

	h2
		padding-bottom: 10px
		border-bottom: 1px solid #DBD9D8

	#edit-title-text
		p
			font-weight: 600
			font-family: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, "Trebuchet MS", sans-serif
			font-size: 40px
			margin: 20px 0px 10px
			padding: 0px

	#edit-or--2 
		padding-top: 10px
		margin: 10px 0px

	span.ui-icon-closethick
		color: transparent

	a.ui-dialog-titlebar-close
		+float-right

	.robocalls-awesome-and-sharing
		text-align: center
		font-size: 11px

	.share-images
		margin-top: 15px
		margin-bottom: 25px

