@import compass

#edit-submitted-field-celeb-your-name,
#edit-submitted-field-celeb-your-phone,
#edit-submitted-field-celeb-your-password,
.field-widget-telwidget
	width: 33%
	display: inline-block
	padding: 10px

	input
		width: 100%

		&.not-required
			display: none

	label
		display: none

#edit-submitted-field-celebrity-chooser,
#edit-submitted-field-mobile-commons-id,
#edit-submitted-field-celeb-send-now,
#edit-submitted-field-celeb-date
	display: none

