@import compass

.preview
	a
		display: inline-block
		background: url(/sites/all/modules/dosomething/features/robocalls/images/play.png) top left no-repeat
		padding-left: 30px
		padding-top: 4px
		height: 26px
		width: 26px

body
	background: #fff

	div#site-name
		display: none

	div#page
		width: 100% !important

	div.gallery-col
		float: left

	.panels-flexible-row-last
		width: 1030px
		margin: 0px auto

	div.views-field-nothing
		position: relative

		div.hover-state
			display: none
			position: absolute
			width: 100%
			height: 100%
			z-index: 1
			top: 0
			background: rgba(0, 0, 0, 0.3)
			color: #fff

			.preview-share
				div.preview
					display: inline-block
					margin-left: -70px

					.file
						display: inline-block
						margin-left: -8px

					span.preview
						position: relative
						top: 5px
						left: 12px

				div.share
					display: inline-block
					float: right
					margin: 7px

			.name
				position: absolute
				bottom: 0px

				a
					color: #fff

#webform-component-friends-info--primary-friend
	width: 33%
	display: inline-block

#cof-submit-form
	#webform-component-my-info
		#webform-component-my-info--my-name,
		#webform-component-my-info--my-number,
		#webform-component-my-info--my-password
			width: 33%
			display: inline-block


#edit-submitted-field-webform-pictures,
#edit-submitted-field-webform-videos,
#edit-submitted-field-webform-school-reference
	display: none

div[role="main"]
	background: #fff
	padding: 30px
	margin: 0px
	//width: 791px
	padding-top: 0px

	nav#breadcrumb
		display: none

	h1#page-title
		color: transparent
		background: url(/sites/all/modules/dosomething/features/robocalls/images/header.png) top left no-repeat
		height: 275px
		width: 1810px
		margin-left: -31px
		border-bottom: none
		+box-shadow(0px !important)

	h2.pane-title
		background: #6bb5b2
		color: #000000
		padding: 0px 0px 10px 0px


div.view-id-cause_its_your_birthday
	div.views-field-nothing
		clear: left
		width: 205px
		//height: 215px
		margin-left: 0px
		margin-bottom: 8px
		text-align: center
		background: #fff
		+box-shadow(0px 0px 15px #808080)
		box-sizing: border-box
		margin: 10px 10px 15px 10px
		position: relative