// Create the design for your site below
/* SITE-WIDE DESIGN --------------------------------------------------------------

// $c-utility-bar-bg: $gray-darker
// $c-become-member: $gray
// $c-impact: $gray-dark
// $c-content-bg: $gray-lighter
// $c-right-lower-sidebar: $gray-light
// $c-menu-primary-bg: $blue-light
// $c-menu-primary-text: $blue-lighter
// $c-menu-secondary-bg: $blue
// $c-headings: $blue
// $c-callouts: $yellow
// $c-callouts-secondary: $purple


#utility-bar
  background-color: $c-utility-bar-bg
  color: $white
  height: 44px / $base-font-size + em
  line-height: 44px / $base-font-size
  +box-sizing(border-box)
  padding-left: percentage(200px / $page-width)
  
#site-name
  a
    +replace-text-with-dimensions("ds-logo.png")
    display: block
    +remove-link-underlines
  


nav
  font-family: $font-headline
  font-size: 29px