// Set up the layout for your site using your chosen grid framework
/* LAYOUT --------------------------------------------------------------

.container
  width: 95%
  max-width: $page-width
  margin: 0 auto
  position: relative

// DON'T LEAVE THIS IN PRODUCTION  
.wireframe
  $wf-color: $red
  outline: 1px dashed $wf-color
  > *
    outline: 1px dashed adjust-hue($wf-color, 30deg)
    > *
      outline: 1px dashed adjust-hue($wf-color, 60deg)
      > *
        outline: 1px dashed adjust-hue($wf-color, 90deg)

[role=main]
  body.one-sidebar.sidebar-first &
    width: percentage($main-width / $page-width)
    float: right
  body.node-type-project &
    .main-inner
      float: left
      width: percentage($main-inner / $main-width)
    .main-interior-sidebar
      width: percentage($main-interior-sidebar / $main-width)
      float: right

.region-sidebar-first
  width: percentage($left-col-width / $page-width)
  float: left

