// NOTE: this file was pulled from the "do-it" theme
//       and needs to be re-written!

// SET VARIABLES FOR USE BY DEFAULTS, MIXINS, AND FRAMEWORKS
// value used in compass typography
// see: basic/default/typography
// and: http://compass-style.org/reference/compass/typography/vertical_rhythm/
$base-font-size: 14px


// --- Modular SCALE (used by _defaults.sass) -----------
// values used to determine modular scale values
// see: src/common/mixins/_modular-scale.sass
// and http://modularscale.com/
// $ratio: $golden $major-third
$base-size: $base-font-size

// TEXT SIZES FROM DESIGN
// 10px // sidebar twitter
// 11px // breadcrumbs, right sidebar
// 12px
// 14px // callout subhead,
// 18px // submenu, h3
// 24px // h2,
// 29px // menu,
// 35px // h1,

$s-2: 5px
$s-1: 10px
$s0:  $base-size
$s1:  14px
$s2:  15px
$s3:  17px
$s4:  18px
$s4a: 20px
$s5:  21px
$s6:  23px
$s7:  30px
$s8:  33px
$s9:  34px
$s10: 40px
$s11: 68px


// Dimensions
// basic values, independant of any css framework
$page-width: 925px
$kit-baseline: $base-font-size * 1.166666667
$kit-baseline-half: $kit-baseline * 0.5
$kit-baseline-neg: $kit-baseline * -1
$kit-gutter: $s6
$kit-gutter-half: $kit-gutter * 0.5
$kit-gutter-neg: $kit-gutter * -1
// $kit-gutter-wide: $s2a
// $kit-gutter-medium: $s-2
// $kit-gutter-narrow: 5px



// pick a reset of normalization
// accepted values: 'meyer', 'normalize'
$init-type: normalize


// override default compass variable
$default-border-radius: 6px
