// see: elements-ui-patterns-drupal.html for markup

// SITE NAME
#site-name
  a
    +remove-link-underlines

// MENUS
// #main-menu
//   +horizontal-list(0.5em)

// SEARCH FIELD

// MESSAGES
.messages, div.messages
  border: 2px solid $base-color
  padding: 0.5em
  background-position: 0 0
  p:last-child
    margin-bottom: 0
.status, .warning, .error,
div.status, div.warning, div.error
  @extend .messages
.status, div.status
  border-color: $green
  background-color: tint($green, 90%)
  +background-image(repeating-linear-gradient(35deg, rgba($black, 0), rgba($black, 0) 25px, tint($green, 85%) 25px, tint($green, 85%) 50px))
  color: $green
  +link-colors($green, $green, $green, $green, false)
.warning, div.warning
  border-color: $orange
  background-color: tint($orange, 90%)
  +background-image(repeating-linear-gradient(35deg, rgba($black, 0), rgba($black, 0) 25px, tint($orange, 85%) 25px, tint($orange, 85%) 50px))
  color: $orange
  +link-colors($orange, $orange, $orange, $orange, false)
.error, div.error
  +box-sizing(border-box)
  border-color: $red
  background-color: tint($red, 90%)
  +background-image(repeating-linear-gradient(35deg, rgba($black, 0), rgba($black, 0) 25px, tint($red, 85%) 25px, tint($red, 85%) 50px))
  color: $red
  +link-colors($red, $red, $red, $red, false)

label[for="edit-last-name"],
label[for="edit-first-name"],
label[for="edit-cell-or-email"]
  display: none !important
// BLOCK

// TABS
ul.tabs.primary
  +ds-tabs

// NEW USER FORM
.form-required
  color: $alert-red

// LOG IN FORM

// NEW PASSWORD FORM

// PAGERS
// uncomment to override or replace styles from _ui-patterns-common
ul.pager
  margin-top: 0.5em
  color: $blue
  +horizontal-list(0)
  a
    color: $blue
  li
    &.pager-current
      @extend .bold
      position: relative
      color: $gray
      // font-size: 1.5em
      // top: 0.125em
  .pager-first,
  .pager-item,
  .pager-last,
  .pager-ellipsis
    //display: none

// RSS LINK
a.feed-icon
  +remove-link-underlines

// INLINE LINKS
ul.inline
  +inline-list

// TAXONOMY LIST
.field-type-taxonomy-term-reference
  .field-item
    display: inline
    &:after
      content: ", "
    &:last-child
      &:after
        content: ""

// FIELDS
.field-label-above
  .field-label
    display: block

// NODE PAGE

// COMMENTS
#comments
  .comment
    +vertical-separation
    &:last-child
      +un-vertical-separation
  .indented
    padding-left: 1em

// COMMENT FORM
