a, a:visited {
  color: #f48b8c; }
  a:hover, a:visited:hover {
    color: black; }

h1.title {
  display: none; }

body {
  background-color: #f0ebde;
  background-image: url("assets/bg.jpg");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: white;
  margin: 0;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    height: 166px;
    text-align: center;
    font-size: 12px;
    padding: 30px 10px; }
  .three-boxes .pane-title {
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 600; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #f48b8c;
  border-bottom: 1px solid #f48b8c; }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #f48b8c;
  border-bottom: 1px solid #f48b8c; }

/* universal declarations to be overridden per block if necessary */
.pane-content {
  background: #f0ebde;
  padding: 5px 5px 10px 5px; }
  .pane-content ul {
    margin-bottom: 1em;
    padding: 1em;
    background: #f0ebde;
    overflow: hidden;
    *zoom: 1; }
  .pane-content li {
    list-style-image: url("assets/bullet.png");
    list-style-position: outside;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    float: left;
    line-height: 26px;
    width: 310px;
    margin: 0 20px 0 10px;
    padding-left: 10px; }
  .pane-content br {
    clear: left; }

.pane-title {
  background: #f48b8c; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #f48b8c; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #f48b8c;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 30px; }
  .panel-row-top-right .panel-top-right-mini-info .pane-node-field-campain-date, .panel-row-top-right .panel-top-right-mini-info .pane-node-field-campaign-date {
    font-size: 36px;
    color: #92d2ba;
    font-weight: 600; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #92d2ba;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    color: din-web, "Trebuchet MS", sans-serif;
    font-size: 21px;
    line-height: 1.4em;
    background: none;
    padding-bottom: 0; }

.pane-node-field-campaign-teaser {
  color: black; }
  .pane-node-field-campaign-teaser .pane-content {
    padding-bottom: 5px; }

.panel-row-actions {
  background: #f0ebde; }
  .panel-row-actions .pane-title {
    background: #92d2ba; }
  .panel-row-actions .pane-content {
    padding-right: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      border: none; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }

.panel-row-actions-stats .campaign-counter {
  margin: 10px 5px 0 0; }

.campaign-counter-labels {
  text-transform: uppercase;
  font-size: 25px;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 25px;
  float: left; }

.campaign-counter-label-top {
  margin-bottom: 14px; }

.campaign-counter-number-top {
  margin: 6px 0 10px 0; }

.campaign-counter-numbers {
  float: right; }

.campaign-counter-number-top,
.campaign-counter-number-bottom {
  text-align: right; }

.panel-pane {
  margin-bottom: 0; }

#campaign-opt-in {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 250px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
  .panel-row-ad-quick-info .pane-title:after {
    border: none; }
.panel-row-ad-quick-info .pane-content {
  padding: 0;
  background: transparent; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #f48b8c;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 1em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c;
    margin-bottom: 20px;
    background: transparent; }

.panel-row-ad-psa {
  background: transparent; }
  .panel-row-ad-psa .pane-title {
    background: #92d2ba; }
  .panel-row-ad-psa .pane-content {
    background: none;
    padding: 0; }

.panel-row-flexible .panel-pane {
  margin-bottom: 15px;
  border: none;
  background: white; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #92d2ba; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c; }

.panel-row-logos .pane-title {
  color: #f48b8c;
  background: none;
  margin: 0;
  padding: 0; }
.panel-row-logos .pane-content {
  background: none;
  padding: 0;
  text-align: right; }
.panel-row-logos hr {
  color: #f48b8c; }

.panel-row-top-logo .pane-content {
  padding: 0;
  background: none; }
.panel-row-top-logo p {
  color: #f48b8c;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 20px; }

.drive .pane-content {
  background: #f0ebde;
  padding: 10px 20px 10px 0; }
.drive p {
  padding-left: 25px; }
.drive li {
  margin: 0;
  width: 100%;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 22px;
  float: none; }
  .drive li h3 {
    font-family: din-web, "Trebuchet MS", sans-serif;
    color: #f48b8c;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em; }

#location-pane .pane-content {
  padding: 25px; }
#location-pane iframe {
  border: 6px solid #92d2ba;
  margin: 15px auto;
  display: block; }
#location-pane h2, #location-pane p {
  text-align: center; }

.campaign-counter-labels {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #92d2ba;
  text-transform: uppercase; }

.scholarships .pane-1, .scholarships .pane-2 {
  float: left;
  width: 48%; }

.pane-campaign-social {
  border-top: 2px solid #f48b8c; }
  .pane-campaign-social .pane-content {
    background: white; }

.fb-facepile::before {
  border-top: 2px solid #f48b8c; }

.mcommons-webform {
  float: left;
  width: 66%;
  margin-right: 5%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 23px;
    margin-bottom: 6px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .go-button {
    padding-top: 3px; }
  .mcommons-webform .pane-content {
    height: 175px;
    padding: 0.5em; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.form-wrapper {
  margin-bottom: 5px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

.prizes .pane-content {
  padding: 10px; }
.prizes #scholarship, .prizes p {
  text-align: center; }

#webform-client-form-721424,
img {
  border: none;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

#breadcrumb {
  display: none; }

img {
  border: none !important;
  box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.panel-row-ad-quick-info .pane-title {
  color: #f48b8c !important; }

.panel-panel {
  margin-bottom: 15px; }

.panel-row-flexible-bot.panel-panel,
.panel-row-logos.panel-panel {
  margin-bottom: 0; }

.pane-dosomething-login-register-block .popup-content {
  height: 160px !important; }

#thumbs li {
  list-style: none;
  height: 100px;
  width: 100px;
  margin: 20px;
  padding: 0;
  float: left; }

#slideshow {
  margin: 20px auto;
  display: block; }
