a, a:visited {
  color: #f48b8c; }
  a:hover, a:visited:hover {
    color: black; }

h1.title {
  display: none; }

body {
  background-color: #f0ebde;
  background-image: url("assets/bg.jpg");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: white;
  -moz-box-shadow: black 0 0 30px -10px;
  -webkit-box-shadow: black 0 0 30px -10px;
  -o-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    height: 166px;
    text-align: center;
    font-size: 14px; }
  .three-boxes .pane-title {
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 600; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #f48b8c;
  border-bottom: 1px solid #f48b8c; }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #f48b8c;
  border-bottom: 1px solid #f48b8c; }

/* universal declarations to be overridden per block if necessary */
.pane-content {
  background: #f0ebde;
  padding: 5px 5px 10px 5px; }
  .pane-content ul {
    margin-bottom: 1em;
    padding: 1em;
    background: #f0ebde;
    overflow: hidden;
    *zoom: 1; }
  .pane-content li {
    list-style-image: url("assets/bullet-pink.png");
    list-style-position: outside;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    float: left;
    line-height: 26px;
    width: 310px;
    margin: 0 20px 0 10px;
    padding-left: 10px; }
  .pane-content br {
    clear: left; }

.pane-title {
  background: #f48b8c; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #f48b8c; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #f48b8c;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 30px; }
  .panel-row-top-right .panel-top-right-mini-info .pane-node-field-campain-date, .panel-row-top-right .panel-top-right-mini-info .pane-node-field-campaign-date {
    color: #92d2ba; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #92d2ba;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    color: din-web, "Trebuchet MS", sans-serif;
    font-size: 21px;
    line-height: 1.4em;
    background: none; }

.pane-node-field-campaign-teaser {
  color: black; }
  .pane-node-field-campaign-teaser .pane-content {
    padding-bottom: 5px; }

.panel-row-actions {
  background: #f0ebde; }
  .panel-row-actions .pane-title {
    background: #92d2ba; }
  .panel-row-actions .pane-content {
    padding: 18px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
  .panel-row-ad-quick-info .pane-title:after {
    border: none; }
.panel-row-ad-quick-info .pane-content {
  padding: 0;
  background: transparent; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #f48b8c;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0; }
  .panel-row-ad-quick-info .pane-content:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c;
    margin-bottom: 20px;
    background: transparent; }

.panel-row-ad-psa {
  background: transparent; }
  .panel-row-ad-psa .pane-title {
    background: #92d2ba; }
  .panel-row-ad-psa .pane-content {
    background: none;
    padding: 0; }

.panel-row-flexible .panel-pane {
  background: white; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #92d2ba; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #f48b8c;
    border-bottom: 1px solid #f48b8c; }

.panel-row-logos .pane-title {
  color: #f48b8c;
  background: none;
  margin: 0;
  padding: 0; }
.panel-row-logos .pane-content {
  background: none;
  padding: 0;
  text-align: right; }
.panel-row-logos hr {
  color: #f48b8c; }

.panel-row-top-logo .pane-content {
  padding: 0;
  background: none; }
.panel-row-top-logo p {
  color: #f48b8c;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 20px; }

.drive {
  background: white; }
  .drive .pane-content {
    background: #f0ebde; }
  .drive p {
    padding-left: 25px; }
  .drive li {
    margin: 0;
    width: 100%;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 22px;
    float: none; }
    .drive li h3 {
      font-family: din-web, "Trebuchet MS", sans-serif;
      color: #f48b8c;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.5em; }

.campaign-counter-labels {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #92d2ba;
  text-transform: uppercase; }

.scholarships .pane-1, .scholarships .pane-2 {
  float: left;
  width: 48%; }

.pane-campaign-social {
  border-top: 2px solid #f48b8c; }
  .pane-campaign-social .pane-content {
    background: white; }

.fb-facepile::before {
  border-top: 2px solid #f48b8c; }
