// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #f48B8C  /* pink */
$complement: #92d2ba /* teal */
$secondaryLink: black
$contentBG: #f0ebde /* light gray */

// borders
$borderTop: 1px solid $baseColor
$borderBot: 1px solid $baseColor

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif

// page background
$imageBackground: url('assets/bg.jpg')
$bgFallback: $contentBG

// block definition (all blocks--don't define width or float here)
@mixin block
  background: #ffffff

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot


//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

a, a:visited
  color: $baseColor
  &:hover
    color: $secondaryLink

h1.title
  display: none

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat-y
  background-position: center top

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px

.three-boxes
  width: 29%
  float: left
  margin-right: 6.5%
  &:last-child
    margin-right: 0
  .pane-content
    height: 166px
    text-align: center
    font-size: 12px
    padding: 30px 10px
  .pane-title
    font-family: $accent
    font-weight: 600
.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

/* universal declarations to be overridden per block if necessary */

.pane-content
  background: $contentBG
  padding: 5px 5px 10px 5px
  ul
    margin-bottom: 1em
    padding: 1em
    background: $contentBG
    +clearfix
  li
    list-style-image: url('assets/bullet-pink.png')
    list-style-position: outside
    font-weight: bold
    text-decoration: underline
    font-size: 20px
    float: left
    line-height: 26px
    width: 310px
    margin: 0 20px 0 10px
    padding-left: 10px
  br
    clear: left

.pane-title
  background: $baseColor
  

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    .active
      color: $baseColor
    background-image: none
    text-align: right
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: $secondaryLink
      &:hover
        color: $baseColor
        text-decoration: none

// top right wrapper campaign date
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    font-size: 30px
    .pane-node-field-campain-date, .pane-node-field-campaign-date
      font-size: 36px
      color: $complement
      font-weight: 600
    .pane-title
      background: none
      color: $complement
      padding: 0
      font-size: 26px
      line-height: 1em
    // dates
    .pane-content
      color: $accent
      font-size: 21px
      line-height: 1.4em
      background: none
      padding-bottom: 0

.pane-node-field-campaign-teaser
  color: black
  .pane-content
    padding-bottom: 5px

// actions panel (sign-up and counter)
.panel-row-actions
  background: $contentBG
  .pane-title
    background: $complement
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    .pane-campaign-sign-up
      margin: 0
    .pane-content
      padding: 0
      .webform-client-form
        border: none
      .field-name-field-webform-mobile  
        margin-bottom: 0.5em
        input
          width: 78%
      .field-name-field-webform-email
        margin-bottom: 0.5em
        input
          width: 100%

#webform-client-form-721424
  #edit-actions
    position: absolute
    right: 5px
    bottom: 3px

#campaign-opt-in
  margin: -10px 0 10px 15px
  a
    color: #fff
  a:hover
    color: #bbb

// ad row (quick info and psa)
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: #000000
    line-height: 1.3em
    font-weight: 500
    &:after
      border: none
  .pane-content
    padding: 0
    background: transparent
    h3
      color: $baseColor
      font-size: 26px
      text-transform: uppercase
      font-weight: 600
      line-height: 1em
    p
      margin: 0 0 1em 0
    &:before
      +insetBorder
      margin-bottom: 20px
      background: transparent

.panel-row-ad-psa
  background: transparent
  .pane-title
    background: $complement
  .pane-content
    background: none  
    padding: 0
  	
.panel-row-flexible
  .panel-pane
    margin-bottom: 15px
    +block
    .pane-title
      background: $complement
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0
  .pane-content
    background: none
    padding: 0 
    text-align: right 
  hr
    color: $baseColor
.panel-row-top-logo
  .pane-content
    padding: 0
    background: none
  p
    color: $baseColor
    font-size: 28px 
    font-weight: bold
    margin: 0 0 0 20px

// Drive list page styling
.drive
  background: white    
  .pane-content
    background: $contentBG
    padding: 10px 10px 10px 0
  p
    padding-left: 25px
  li
    margin: 0
    width: 100%
    text-decoration: none
    font-weight: normal
    font-size: 12px
    font-family: $body
    line-height: 22px
    float: none
    h3
      font-family: $accent
      color: $baseColor
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      line-height: 1.5em

// campaign counter labels
.campaign-counter-labels
  font-family: $accent
  font-size: 22px
  font-weight: 500
  color: $complement
  text-transform: uppercase

// scholarships
.scholarships
  .pane-1, .pane-2
    float: left
    width: 48%

//social
.pane-campaign-social
  border-top: 2px solid $baseColor
  .pane-content
    background: white
.fb-facepile::before
  border-top: 2px solid $baseColor
  
// refer
.mcommons-webform
  float: left
  width: 66%
  margin-right: 5%
  border: none !important
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600
  // overriding padding on go-button to center the SUBMIT text
  .go-button
    padding-top: 3px
  .pane-content
    height: 175px
    padding: 0.5em
    
.mcommons-webform-column
  float: left
  width: 40%
  margin-right: 2%
  
.webform-client-form
  border: none
  box-shadow: none

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0

// prizes page
.prizes
  .pane-content
    padding: 10px
  #scholarship, p
    text-align: center

// resetting the nonsense
#webform-client-form-721424,
img
  border: none
  box-shadow: none
  -o-box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none

// sweepin' away the breadcrumb trail
#breadcrumb
  display: none