.rotoslider-with-image img.rotoslider-image,
.rotoslider-with-image .rotoslider-images,
.rotoslider-with-image .rotoslider-images img {
  width: 478px;
}
.rotoslider-with-image .rotoslider-description {
  bottom: 0;
  top: initial;
}
.rotoslider-with-image .rotoslider-descriptions > div {
  height: 34px;
  padding-right: 227px;
  width: 448px;
}
.rotoslider-with-image .rotoslider-menu {
  border-bottom-width: 0;
  height: 201px;
}
.rotoslider-with-image .rotoslider-nav {
  height: 201px;
  top: 0;
}
.rotoslider-with-image .rotoslider-nav li {
  margin: 0;
}
.rotoslider-with-image .rotoslider-nav li a {
  padding: 0;
}
.rotoslider-with-image .rotoslider-nav img {
  height: 40.2px;
  vertical-align: middle;
  width: 100%;
}
