.rotoslider {
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 700px;
  z-index: 0;
}
.rotoslider img.rotoslider-image,
.rotoslider .rotoslider-images,
.rotoslider .rotoslider-images img {
  height: 250px;
  overflow: hidden;
  position: absolute;
  width: inherit;
}
.rotoslider img.rotoslider-image {
  z-index: 1;
}
.rotoslider .rotoslider-images img {
  display: none;
  z-index: 11;
}
.rotoslider .rotoslider-images img.active {
  display: block;
}
.rotoslider .rotoslider-description {
  left: 0;
  position: absolute;
  z-index: 2;
}
.rotoslider .rotoslider-text {
  display: none;
  left: 0;
  max-height: 100px;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  width: 470px;
  z-index: 12;
}
.rotoslider .rotoslider-text.active {
  display: block;
}
.rotoslider .rotoslider-menu {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  height: 244px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 30;
}
.rotoslider .rotoslider-menu .heading {
  height: 16px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 50;
}
.rotoslider .rotoslider-nav {
  height: 218px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 26px;
  width: 200px;
  z-index: 40;
}
.rotoslider .rotoslider-nav li {
  left: 0;
  margin: 0 0 2px;
  position: relative;
  top: 0;
}
.rotoslider .rotoslider-nav li a {
  display: block;
}
