// Grid Variables --------------------------------------------------------------
// $kit-total-cols: 1
// $kit-col-width: 925px
// $kit-gutter-width: $kit-gutter
// $kit-side-gutter-width: 0px
//
// $kit-container-width: ($kit-col-width * $kit-total-cols) + ($kit-gutter-width * ($kit-total-cols - 1))

// Custom "Grid"
$page-width: 925px
$main-width: 720px
$main-width-w-padding: 690px
$left-col-width: 205px
$left-col-width-inner: $left-col-width - $s2 - $s0
// @debug $left-col-width-inner
$main-inner: 527px
$main-interior-sidebar: 188px
$menu-height: 44px
$submenu-height: 30px

$two-col-even: ($main-width-w-padding - $kit-gutter) / 2
$two-col-wide: 428px
$two-col-thin: 259px
$two-col-wide2: 462px
$two-col-thin2: 226px

$three-col-even: ($main-width-w-padding - ($kit-gutter * 2)) / 3
$three-col-wide: 251px
$three-col-thin: 181px

$campaign-wide: 500px
$campaign-thin: 207px

