// GENERAL
// -------
.call-to-action,
.headline,
.footer
  background: $bg-alt

// HEADER
// ------
.header
  background-color: $bg-header-fallback
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: 50% 50%
  padding: 1% 2%
  overflow: hidden
  @media only screen and (max-width: 1075px)
    background-size: auto

  .logo-dosomething
    display: none
    @media only screen and (max-width: 1075px)
      display: block
      float: left
      width: 73px
      height: 65px

  .logo-campaign
    margin: 0 auto
    display: block
    width: 450px
    clear: both
    @media only screen and (max-width: 550px)
      width: 400px

  .header-logotype
    text-align: center
    color: #fff
    text-transform: uppercase
    line-height: 1.2em
    font-weight: 600
    font-size: 4em
    width: 8em
    margin: 0.5em auto

  .log-out
    color: $font-light

  .header-social
    width: 16%
    height: 20px
    margin: 25px 0 0 0

  .header-facebook-share,
  .header-twitter-share
    display: inline-block
    height: 20px

  .header-facebook-share
    width: 80px
    border: 1px solid rgb(202, 212, 231)
    +border-radius(2px)
    &:hover
      border: 1px solid rgb(236, 238, 245)

  .header-date
    width: 73%
    p
      padding: 1.5em 0 0 0
      color: darken($bg-alt, 25)

  .header-sponsor
    width: 11%

// CALL TO ACTION
// --------------
.call-to-action
  p
    line-height: 3em
    letter-spacing: 0.05em

  .btn
    margin: 0 0 0 1em
    clear: none

  .section-container
    width: 43em

// HOW IT WORKS
// ------------
.how-it-works
  padding: 2em 0

  .how-it-works-container
    clear: both
    overflow: hidden
    margin: 0 0 1em 0

// ACTION-KIT
// ----------
.action-kit
  display: block
  clear: both
  margin: 0 0 -1em 0
  &:hover
    text-decoration: none
    cursor: pointer
  p
    display: inline
    position: relative
    top: -0.8em
    left: 1em
  img
    margin: 0.7em 0 0 0

  .section-container
    width: $section-content-width

// PRIZING
// -------
.prizing
  p
    padding: 1em 0

  .prizing-container
    width: ( $section-unit-width * 2 )
    margin: 0 auto
    clear: both

  .btn
    margin: 0 auto 1em

// SMS GAME EXAMPLE
// ----------------
.sms-game-example

  .sms-game-container
    width: $section-content-width
    margin: 0 auto 1em
    overflow: hidden
    clear: both

  .game-conversation
    margin: 1em auto 2em
    padding: 1em 2em
    background: $bg-alt
    border-radius: 2px
    position: relative
    min-width: 25em
    clear: both
    &:after
      background: pink
      content: ""
      display: block
      position: absolute
      border-style: solid
      border-width: 15px
    p
      line-height: 3em
      font-weight: 500
      text-transform: uppercase

  .game-ds
    float: left
    &:after
      bottom: -30px
      left: 20px
      border-color: darken($bg-alt, 5) darken($bg-alt, 5) $bg-light $bg-light
    p
      text-align: left

  .game-user
    float: right
    &:after
      bottom: -30px
      right: 20px
      border-color: darken($bg-alt, 5) $bg-light $bg-light darken($bg-alt, 5)
    p
      text-align: right

// PROFILES
// --------
.profiles

  .profile-photo, .profile-copy
    float: left
    text-align: left

  .profile-photo
    width: 290px
    clear: both
    margin: 0.5em 4em 0 0

  .profile-copy
    width: $section-content-width
    margin: 0 0 2em 0
    p
      text-align: left
    h2
      color: $campaign-accent
      text-align: left

// CONTENT
// -------
.content
  width: $section-content-width
  p
    display: block
    text-align: left
    line-height: 1.5em
    padding-bottom: 1em
  h2
    padding-bottom: 0.5em

  /* this padding should be abstracted to all <h3> */
  .headline-callout
    padding: 0 0 0.5em 0
    text-transform: capitalize
    text-align: left

// SMS
// ---
.sms
  background: $bg-alt
  label
    margin: 3% 0 0
  form
    width: 80%
    margin: 0 auto

  .btn
    width: 9.4em
    margin: 1em 0

.sms-input-wrapper
  width: 50%
  float: left
  margin: 0 0 4% 0

.sms-input
  width: 85%
  margin: 5% 0 0 0

.sms-alpha-wrapper
  float: left
  width: 35.8%
  margin: 0 0 4% 0
  input
    width: 83.5%

.sms-beta-mobile
  clear: both
  margin: 5% 0 -1%

// GALLERY
// -------
.gallery
  img
    +border-radius(3px)

// MAP
// ---
.map
  iframe
    margin: 0 auto
    display: block
    border: 1px solid #ddd
    +box-shadow(0 10px 10px -10px #ccc)

// THANKS
// ------
.success_msg
  margin: 0 auto 1em
  h2
    text-transform: uppercase
    font-weight: 600
    color: $campaign-accent

// FAQ
// ---
.faq
  width: $section-content-width
  position: relative
  h3, p
    text-align: left
  h3
    cursor: pointer
    color: #ccc
  div /* TODO - GIVE THIS A CLASS */
    margin: 0 0 0.5em 0

  .btn
    margin: 1em auto 0

  .back-to-top /* TODO - THESE STYLES WERE INHERITED; REFACTOR THEM */
    text-align: right
    padding: 1em 0 1em

  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 1em
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0% 40%

// FOOTER
// ------
.footer
  padding: 2% 0
  margin: 0 0 -2%
  text-align: center
  img
    width: 50px
    +block-center
