#conditions-container
  position: relative
  margin: 0
  padding: 0

  li
    clear: both
    margin: 0
    padding: 0
    list-style-type: none

  input[type="text"]
    width: 175px !important

  .form-item
    padding-left: 10px
    float: left

  #options
    clear: both
    margin-left: 25px

    a
      &.delete
        color: #ff0000
    &.first
      margin-left: 10px

  .form-item-options-conditions-condition
    margin-left: 60px

  span.form-item
    display: block
    width: 42px