////////////////////////////
// PANELS PANES
// Narrow block with header, thumbnail, and title with teaser
// i.e. Related stuff right sidebar
////////////////////////////


.panes-2 .panel-second
  @extend %pane-narrow-block
  .pane-title
    text-align: center
    margin-bottom: 15px
  .views-field-title
    font-size: 14px
    margin-bottom: 2px
    a
      font-weight: bold
