// DO IT THEME RESETS
// ------------------

#page, body.one-sidebar.sidebar-first [role="main"]
  width: 100%
  margin: 0
  padding: 0

// set width of ds.org logo container
header[role="banner"]
  width: 800px
  margin: 0 auto
  position: relative

// re-position ds.org logo
#site-name
  top: -38px
  left: -94px
  @media only screen and (max-width: 1075px)
    display: none

// fixes admin tab styling to increase usability + aesthetics
.tabs
  border: none !important
  background-color: #ff885e

// more tab work
#main-wrapper div[role="main"] ul.primary
  height: 50px
  width: 312px
  margin: 0 auto
  padding: 20px 0 0 0
  li a
    text-transform: uppercase
    color: #111
    background-color: #ddd !important
    border: none
    +border-radius(2px)
    // this is gross; all apologies

// thanks for the @extend, brah!
.webform-client-form
  box-shadow: none !important
  border: none !important

// fuck this ID
#edit-actions
  height: auto !important
  margin: 0 !important
  text-align: inherit !important

// hide elements inherited from global site
#skip-link,
.breadcrumb,
.pane-title,
#breadcrumb,
#page-title,
#block-dosomething-login-become-member,
#block-dosomething-blocks-dosomething-make-impact,
#block-dosomething-blocks-dosomething-social-skyscraper,
#block-block-5,
#block-menu-menu-footer,
.region-sidebar-first,
nav[role="navigation"]
  display: none
