@import compass
@import 'variables'
@import 'buttons'

// ABOUT PAGE
// ----------

.subject_wrapper, .tip_wrapper
  width: 150px
  float: left

.tip_wrapper
  width: 650px
  background-color: #fff
  +border-radius(4px)
  h1
    background-color: $off_black
    text-transform: uppercase
    text-align: center
    color: #fff
    font-size: 30px
    line-height: 45px
    padding: 5px 0 0 0
    margin: 5% 0

.tip_subject /* subject buttons */
  width: 120px
  height: 50px
  display: block
  background: $off_black
  color: #fff !important
  line-height: 50px
  text-transform: uppercase
  text-align: center
  padding: 0 10px
  margin: 0 0 25px 0 
  +border-radius(4px)
  &:hover
    text-decoration: none
    background-color: lighten($off_black, 5)

.active_subject 
  background-color: $blue_button
  &:hover
    background-color: lighten($blue_button, 5)

.tip_center
  background-image: url(//files.dosomething.org/files/campaigns/crazy13/tip_bg.png)
  background-repeat: no-repeat
  background-size: 680px
  background-position-x: -15px
  margin: 0 0 2% 0
  p
    width: 55%
    margin: 0 auto
    font-size: 20px
    line-height: 30px

.tip_left, .tip_right
  float: left
  width: 50%
  padding: 0 3% 2%

.tip_left
  b
    float: left
    clear: left
    margin: 2% 0 0 0
    text-transform: uppercase

.tip_right
  .small_button
    float: right


// GENERAL
// -------

.section
  width: 800px
  margin: 0 auto
