@import compass
@import 'variables'
@import 'buttons'

// FORMS
// -----

@mixin meme-text
  position: absolute
  width: 400px
  text-align: center
  color: #fff
  background: rgba(0, 0, 0, .25)
  font-family: din-web-reg
  font-size: 20px
  text-transform: uppercase
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  padding-top: 3px
  line-height: 1.2
  overflow: hidden

nav[role="navigation"] .region-navigation
  margin: 0px 0px

input#edit-submitted-field-crazy-crazy-picture-und-0-upload-button
  display: none

input#edit-submitted-field-crazy-crazy-picture-und-0-remove-button
  position: relative
  top: -45px
  margin-left: 40%

#upload-cover
  position: relative
  margin: -55px auto 0
  width: 130px
  cursor: pointer

footer.author, #edit-submitted-dosomething-webform-numbering
  display: none

.step-field
  margin-bottom: 15px

#top_text
  @include meme-text
  top: 0px

#bottom_text
  @include meme-text
  bottom: 0px

div.image-widget-data
  clear: both
  width: 400px
  height: 400px
  margin: 30px auto
  float: none
  border: 1px solid black

  input
    //visibility: hidden

.description,
#edit-submitted-field-crazy-vouch-count,
#edit-submitted-field-crazy-bullshit-count, 
#edit-submitted-field-crazy-count,
#edit-submitted-field-crazy-total-count,
#edit-submitted-field-crazy-today-count,
#edit-submitted-field-crazy-week-count,
.image-preview,
.file,
.file-size,
.form-item-submitted-field-crazy-crazy-picture-und-0 label
  display: none

#edit-submitted-sbutton
  text-align: center
  position: relative

  img
    position: static
    margin-bottom: -2px
    z-index: -1
    border: 0px
    +box-shadow(none)
    margin-top: 0px

#edit-submitted-field-crazy-top-text,
#edit-submitted-field-crazy-bottom-text
  overflow: hidden
  label, input
    float: left
    font-size: 15px
    line-height: 30px
    text-transform: uppercase
  label
    width: 30%
  input
    width: 70%
    height: 35px
    background: rgb(245, 245, 245)
    text-transform: uppercase
    padding: 0 3%
    box-shadow: none
    border: none
    +border-radius(2px)
