// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)

@media only screen and (max-width: 900px)
  
  #action .kickass
    font-size: 1.5em

@media only screen and (max-width: 775px)

  #header
    .header-social
      display: none
    .date
      position: inherit
      padding: 0.5em 0 0
      text-align: center

  .section
    width: 100%
    margin: 0 auto
    background: none


  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.4em auto 0
  
  //			//
  //	#action
  //			//

  .titleline
    color: $secondaryColor
  h3, h4, p, li
    color: white

  #action
    .col33
      width: 94%
      margin: 3%
    .col33-inner
      text-align: left
    p
      text-align: left
      width: 100%
    h3
      display: none
    img
      max-width: none
      display: block
      margin: 0 auto 0.5em
    .kickass, .kickass-sub
      background: none
      color: $thirdColor
      display: inline
      padding: 0
      margin: 0
      line-height: 1.2em
      font-size: 1.4em
      text-align: center
    .kickbr
      display: none
    .kickwrap
      padding: 0 4%
      text-align: center
    .titleline
      display: none
    .titleline-mobile
      display: inline-block
    .headsup
      color: black
      text-align: center
    .peek
      text-align: center

  #prize
    img
      width: 100%
      margin-bottom: 0.25em
    .col50
      width: 94%
      margin: 3%
      p
        max-width: none
    .col50-inner
      text-align: left
    p
      text-align: left
      width: 100%
    h3
      font-weight: 500
    a
      color: white

  #info
    .sub
      text-align: left
      margin-top: 2%
    h3
      font-style: normal

  #impact p
    margin-bottom: 1em

  #faq
    h4
      color: white
      background: none
    .email-mobile
      display: block

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

@media only screen and (max-width: 675px)
  #header   
    .subhead
      margin: 17% 0 7%
      font-size: 1.4em
      width: 70%


@media only screen and (max-width: 550px)
  .section#header
    background-position: 80% 0%
  #header
    .subhead
      margin: 17% 0 7.5%
      font-size: 1.1em
      width: 75%
    .header-social
      bottom: 0px

  #action
    .kickass, .kickass-sub
      font-size: 1em
    .headsup
      font-size: 1.4em


@media only screen and (max-width: 450px)
  #header
    .subhead
      margin: 17% 0 7.5%
      font-size: 1em
    .header-social
      bottom: 0px
    .date
      font-size: 1em

  #action
    .headsup
      font-size: 1.2em

  .section
    margin: 0 auto

  #info
    .divider
      font-size: 0.75em
      padding-top: 0.1em


  a.print-pdf
    width: 55%

  #edit-submitted-field-webform-email
    width: 68%
    margin: 1% 0

  #edit-submitted-field-webform-mobile
    width: 32%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 100%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 0.5em auto 0
