// PANES

// ------------ //
// REPORT BACKS //
// ------------ //
#report-back
  padding: 2em
  background: #fff

#report-back-header
  background: none
  padding: 1em 1em 2em 1em
  text-align: left
  h2
    color: $mainColor
    text-transform: uppercase
  p
    color: #fff

.pane-hunt-report-back-hunt-report-back
  background: #fff
  padding: 2em

#challenges.form-wrapper
  fieldset
    display: block
    clear: both
    float: none
    overflow: hidden
  legend
    width: 100%
    margin: 0 0 1em 0
    background: none repeat scroll 0% 0% $thirdColor
  h2
    padding: 0.5em 0 0 0
  span
    background-image: none
    text-transform: uppercase
    color: rgb(0, 173, 239)
    font-style: italic
    font-weight: 500
    font-size: 1.2em
    display: block
  p
    clear: both
    padding: 0.5em 0
  a
    padding: 0.2em 0 0 0.7em
    cursor: pointer
    color: $secondaryColor
    font-size: 1.2em
    font-weight: 400
    width: 100%
    display: block
    text-decoration: none
  b // Completed "✓"
    position: absolute
    right: 0.7em
    top: 0
    font-size: 1.5em
    line-height: 2.1em
    color: #fff

  .files a
    padding: 0.3em 0 0.2em

  .form-submit
    font-size: 1.6em
    margin: 0 0 1em 0
    padding: 0.2em 1em 1.8em
    color: #222
    font-weight: 500
    text-transform: uppercase

  .form-submit.ajax-processed
    background: #ccc
    margin: 0.5em 0

  .form-type-textfield
    label
      padding: 0.7em 0 0.5em 0

  .error,
  .status,
  .messages
    padding: 0
    margin: 0

  div.error,
  div.status,
  div.messages
    background-image: none
    margin: 1em 0 0 0
    padding: 0.5em
    +border-radius(3px)

  .throbber,
  .summary,
  .file img
    display: none

  .grippie
    display: none

  .form-textarea-wrapper
    padding: 1em 0px 0px

  .form-file
    font-size: 1em
    border: none

// INACTIVE
#challenges.form-wrapper
  .inactive
    legend
      background: #ddd
    span
      color: #bbb
      font-weight: 400
      font-size: 1.4em
      padding: 0.5em 0.5em 0.4em 0.7em

// OTHER STYLES
.section
  max-width: 1000px
  p
    font-size: 1.15em
    line-height: 1.3em

.titleline, .titleline-mobile
  color: #222
  border-bottom: 12px solid $thirdColor
  display: inline-block
  letter-spacing: 3px
  font-weight: 600
  line-height: 1.2em
  min-width: 280px
  font-size: 2em
  margin: 2%

.titleline-mobile
  color: $secondaryColor
  display: none


///      //
//  #header     - sign up -
//      //
.section#header
  background: none
  margin: 20px auto 10px
#header
  margin: 0 auto
  text-align: left
  position: relative
  padding: 0
  img.header-img
    display: block
    margin: 0 auto 0
  h1, h2
    text-align: left
    color: black
    margin: 0
  .headline
    max-width: 800px
    margin: 0 auto 0
  h1
    margin: 1.5%
    background: $secondaryColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    float: left
    font-weight: 600
    font-size: 3.4em
    color: white
    padding: 1.5% 1.5% 0
    line-height: 1em
  h2
    text-align: center
    text-transform: uppercase
    font-size: 1.8em
    font-family: $din
    font-weight: 600
    width: 80%
    margin: 0 auto
    line-height: 1.2em
    span
      color: $secondaryColor
      font-weight: 700
      padding: 0
  .subhead
    text-transform: uppercase
    color: white
    background: $thirdColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 1.5% 0
    float: left
    font-size: 1.4em
    padding: 1% 1.5% 0
  .subhead2
    max-width: 375px
    color: white
    background: $thirdColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 9% 0 2%
    font-weight: 500
    float: left
    font-size: 1.2em
    padding: 1% 1.5%
    clear: both
  .date
    margin: 0
    font-weight: 500
    text-transform: uppercase
    position: absolute
    bottom: 0px
    right: 12px
    color: white
    font-size: 1.3em
    padding: 0
  .pane-campaign-signed
    h2
      text-align: center
      text-transform: uppercase
      color: white
      font-size: 2em
      font-weight: 400
    .action-now
      margin: 0 auto
      display: inline-block
      text-align: center
      img
        margin: 0em 0.8em 0 0
        float: left
      .go-button
        margin-top: 0.1em
        float: left
        font-size: 1.8em
  .header-social
    position: absolute
    bottom: 0px
    left: 12px
  .header-facebook-share, .header-twitter-share
    display: inline-block
    margin: 0 2px


//			//
//	#action
//			//
.section#action
  padding: 2% 0 1em
#action
  padding: 3% 0 4%
  img
    margin: 4% 0
    max-width: 300px
    width: 100%
  .bottom-p
    clear: both
    padding-top: 4%
  .titleline
    font-size: 1.5em
  h3
    text-transform: none
    font-size: 1.5em
    font-weight: 600
    margin-bottom: 0.4em
  .kickass, .kickass-sub
    background: $thirdColor
    color: $secondaryColor
    text-transform: uppercase
    display: inline-block
    font-weight: 600
    padding: 0.5em 0.75em 0.3em
    line-height: 1.2em
  .kickass
    font-size: 1.8em
    letter-spacing: 4px
    margin: 0 0 0.2em
  .kickass-sub
    font-size: 1.3em
    letter-spacing: 3px
  .headsup
    background: $secondaryColor
    font-size: 1.7em
    font-weight: 600
    padding: 0.8em 4% 0.4em
    margin: 0.75em 0 0.5em
    line-height: 1.2em
    span
      font-size: 1.4em
  .peek
    clear: both
    border-top: 1px solid #C1C1C1
    border-bottom: 1px solid #C1C1C1
    padding: 2%
  .col33
    margin-bottom: 2%

//      //
//  #prize
//      //
.section#prize
  padding: 0 2%
#prize
  h3
    text-transform: none
    font-size: 1.5em
    font-weight: 400
    margin-bottom: 0.25em
    line-height: 1.2em
  .col50
    margin: 2em 0 3em
    p
      max-width: 305px
  .rules
    clear: both
  a
    color: black

//      //
//  #info
//      //
.section#info
  padding: 2% 6%
#info
  h3, ul, p
    text-align: left
    margin: 0 0 1em
    clear: both
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
  .sub
    text-align: center
  h3, h4
    background: $thirdColor
    color: $secondaryColor
    font-style: italic
    display: inline-block
    float: left
    margin: 0 0 0.5em 0
    padding: 0.25em 0.75em 0
    font-size: 1.8em
    font-weight: 600
  h4
    padding: 0.3em 0 0.2em 0.4em
    cursor: pointer
    font-size: 1.4em
    font-weight: 400
    width: 100%
    &:hover
      color: lighten($secondaryColor, 10)
  h4.unavailable
    cursor: default
    background: #ddd
    color: #bbb
  ul
    margin-bottom: 0
  li
    font-size: 1.25em
    font-weight: 500
    margin-bottom: 0.4em

#challenges
  text-align: left
  h4, div.content
    clear: both
  div.content
    display: none
    float: left
  div.copy
    float: right
    width: 68%
  img
    display: block
    float: left
    width: 30%
  ul
    margin: 0 0 1em 0
  li
    font-weight: 400
    font-size: 1.1em
    margin: 0 0 0 1em
    padding: 0 0 0 0.5em
    list-style: disc
  span
    text-transform: uppercase
    color: $thirdColor
    font-style: italic
    font-weight: 500
    font-size: 1.2em
    padding: 0.5em 0
    display: block

  .submit-challenge
    margin: 0 0 1em 0
    span
      display: inline
      color: #222
      font-weight: 600
      font-size: 1.4em

    .go-button
      margin: 0 0 0 1em
      font-size: 1.6em
      padding: 0.5em 1em 1.4em 1em
      color: #222

//      //
//  #impact     - gallery -
//      // 
.view-campaign-gallery #slideshow
  margin: 0 auto

.section#impact
  padding: 2% 0
#impact
  .go-button
    margin: 2% auto
    font-size: 1.6em
    padding: 0.5em 0.7em
    height: 1.8em
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
  p
    margin-bottom: 3em
  #galleriffic
    margin: 0 2%

//      //
//  #faq
//      //
.section#faq
  padding: 2% 0
#faq
  .faqwrap
    padding: 0 6%
  div
    padding: 0 1.2em 1.2em 1.2em
  div.divider
    padding: 0.5em 0 0
  h4, li, p
    text-align: left
  ul
    list-style: disc
    margin: 1% 0 1% 2em
    line-height: 1.4em
  li
    margin: 0 0 1%
    color: black
    span
      color: black
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position-y: 50%
    background-position-x: 1.2em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  h4
    color: black
    cursor: pointer
    background: url("//files.dosomething.org/files/campaigns/prep/arrows.png")
    background-repeat: no-repeat
    background-position: 0 11px
    padding: 0.3em 1.2em
    font-size: 1.15em
    line-height: 1.4em
  h4.activeFAQ
    background-position: 0 -18px
  .go-button
    background: $buttonColor
    color: $secondaryColor
    margin: 2% auto
    padding: 0.5em
    height: 1.8em
    font-size: 1.8em
    font-family: din-web-reg
    &:hover
      opacity: 0.85
  .email-mobile
    display: none
    background: $thirdColor
    color: white
    text-align: center
    padding: 2%
    margin: 2% 0 0
    a
      color: white
      font-weight: 400
  .back-to-top
    text-align: right
    padding: 1em 2% 1em
  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 15px
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0 8px
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
