// PANES 

.section
  max-width: 1000px
  p
    font-size: 1.15em
    line-height: 1.3em

///      //
//  #header     - sign up -
//      //
.section#header
  background: none
  margin: 20px auto 10px
#header
  margin: 0 auto
  text-align: left
  position: relative
  padding: 0
  img.header-img
    display: block
    margin: 0 auto 0
  h1, h2
    text-align: left
    color: black
    margin: 0
  .headline
    max-width: 800px
    margin: 0 auto 0
  h1
    margin: 1.5%
    background: $secondaryColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    float: left
    font-weight: 600
    font-size: 3.4em
    color: white
    padding: 1.5% 1.5% 0
    line-height: 1em
  h2
    text-align: center
    text-transform: uppercase
    font-size: 1.8em
    font-family: $din
    font-weight: 600
    width: 80%
    margin: 0 auto
    line-height: 1.2em
    span
      color: $secondaryColor
      font-weight: 700
      padding: 0
  .subhead
    text-transform: uppercase
    color: white
    background: $thirdColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 1.5% 0
    float: left
    font-size: 1.4em
    padding: 1% 1.5% 0
  .subhead2
    max-width: 375px
    color: white
    background: $thirdColor
    zoom: 1
    filter: alpha(opacity=85)
    opacity: 0.85
    margin: 9% 0 2%
    font-weight: 500
    float: left
    font-size: 1.2em
    padding: 1% 1.5%
    clear: both
  .date
    margin: 0
    font-weight: 500
    text-transform: uppercase
    position: absolute
    bottom: 0px
    right: 12px
    color: white
    font-size: 1.3em
    padding: 0     
  .pane-campaign-signed
    h2
      text-align: center
      text-transform: uppercase
      color: white
      font-size: 2em
      font-weight: 400
    .action-now
      margin: 0 auto
      display: inline-block
      text-align: center         
      img
        margin: 0em 0.8em 0 0
        float: left
      .go-button
        margin-top: 0.1em 
        float: left
        font-size: 1.8em
  .header-social
    position: absolute
    bottom: 0px
    left: 12px
  .header-facebook-share, .header-twitter-share
    display: inline-block
    margin: 0 2px


//			//
//	#action
//			//
.section#action
  padding: 2% 0 1em
#action
  padding: 3% 0 4%
  img
    margin: 4% 0
    max-width: 280px
  .bottom-p
    clear: both
    padding-top: 4%
  h2
    color: $offBlack
    border-bottom: 12px solid $thirdColor
    display: inline-block
    letter-spacing: 3px
    font-weight: 600
    line-height: 1.2em
  h3
    text-transform: none
    font-size: 1.5em
    font-weight: 600
    margin-bottom: 0.4em
  .kickass, .kickass-sub
    background: $thirdColor
    color: $secondaryColor
    text-transform: uppercase
    display: inline-block
    font-weight: 600
    padding: 0.5em 0.75em 0.3em
    line-height: 1.2em
  .kickass
    font-size: 1.8em
    letter-spacing: 4px
    margin: 0 0 0.2em
  .kickass-sub
    font-size: 1.3em
    letter-spacing: 3px
  .headsup
    background: $secondaryColor
    font-size: 1.7em
    font-weight: 600
    padding: 0.8em 4% 0.4em
    margin: 0.75em 0 1em
    line-height: 1.2em
    span
      font-size: 1.4em
  .peek
    clear: both
    border-top: 1px solid #C1C1C1
    border-bottom: 1px solid #C1C1C1
    padding: 2%
  .col33
    margin-bottom: 2%

//      //
//  #prize
//      //
.section#prize
  padding: 0 2%
#prize
  h2
    color: $offBlack
    border-bottom: 12px solid $thirdColor
    display: inline-block
    min-width: 280px
    font-weight: 600
    letter-spacing: 3px
    font-size: 2em
    line-height: 1.2em
  h3
    text-transform: none
    font-size: 1.5em
    font-weight: 400
    margin-bottom: 0.25em
    line-height: 1.2em
  .col50
    margin: 3em 0
    p
      max-width: 305px
  .rules
    clear: both
  a
    color: black

//      //
//  #info
//      //
.section#info
  padding: 2% 0
#info
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
  h2
    color: $offBlack
    border-bottom: 12px solid $thirdColor
    display: inline-block
    min-width: 280px
    font-weight: 600
    letter-spacing: 3px
    font-size: 2em
    margin: 2% 2% 0.5em
    line-height: 1.2em
  .sub
    text-align: center
  h3
    background: $thirdColor
    color: $secondaryColor
    font-style: italic
    display: inline-block
    float: left
    padding: 0.25em 0.75em 0
    font-size: 1.8em
    font-weight: 600
  li
    font-size: 1.25em
    font-weight: 500
    margin-bottom: 0.4em
  h3, ul, p
    text-align: left
    margin: 0 6% 1em
    clear: both


//      //
//  #impact     - gallery -
//      // 
.view-campaign-gallery #slideshow
  margin: 0 auto

.section#impact
  padding: 2% 0
#impact
  .go-button
    margin: 2% auto
    font-size: 1.6em
    padding: 0.5em 0.7em
    height: 1.8em
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
  h2
    color: $offBlack
    border-bottom: 12px solid $thirdColor
    display: inline-block
    min-width: 280px
    font-weight: 600
    letter-spacing: 3px
    font-size: 2em
    margin: 2% 2% 0.5em
    line-height: 1.2em
  p
    margin-bottom: 3em
  #galleriffic
    margin: 0 2%


//      //
//  #faq
//      //
.section#faq
  padding: 2% 0
#faq
  .faqwrap
    padding: 0 6%
  div
    padding: 0 1.2em 1.2em 1.2em
  div.divider
    padding: 0.5em 0 0  
  h4, li, p
    text-align: left
  ul
    list-style: disc
    margin: 1% 0 1% 2em
    line-height: 1.4em
  li
    margin: 0 0 1%
    color: black
    span
      color: black 
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 1.2em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  h4
    color: black
    cursor: pointer
    background: url("//files.dosomething.org/files/campaigns/prep/arrows.png")
    background-repeat: no-repeat
    background-position-y: 0.55em
    padding: 0.3em 1.2em
    font-size: 1.15em
    line-height: 1.4em
  h4.activeFAQ
    background-position-y: -1em
  .go-button
    background: $buttonColor
    color: $secondaryColor
    margin: 2% auto
    padding: 0.5em
    height: 1.8em
    font-size: 1.8em
    font-family: din-web-reg
    &:hover
      opacity: 0.85
  .back-to-top
    text-align: right
    padding: 1em 0 1em
  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 15px
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position-y: 0.5em
  hr
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #C1C1C1
  h2
    color: $offBlack
    border-bottom: 12px solid $thirdColor
    display: inline-block
    min-width: 280px
    font-weight: 600
    letter-spacing: 3px
    font-size: 2em
    margin: 2% 2% 0.5em
    line-height: 1.2em