.ui-dialog {
  background: none;
  color: white;
}

.ui-dialog h1, .ui-widget-content {
  color: white;
}

.ui-dialog h1 {
  border-bottom: 1px solid white;
  font-size: 6em;
}

.ui-widget-overlay {
  opacity: .9;
}

.ui-dialog .connect-with-facebook {
  margin-top: 50px;
}

.quiz-share {
  font-size: 0;
  background: url('images/share-fb.png');
  width: 168px;
  height: 25px;
  display: block;
}

.share-pane {
  height: 45px;
  background: url('images/arrow.png') bottom right no-repeat;
  width: 225px;
  margin-bottom: 20px;
}
