////////////////////////////
// LOGIN POPUP
// white version
////////////////////////////
#block-dosomething-login-become-member
  #dosomething-login-register-popup-form
    height: auto !important
    display: none

div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"]
  background: $white
  padding: 25px 34px
  height:  485px !important
  top: 90px !important
  right: 30%
  left: 30%
  .ui-dialog .ui-dialog-titlebar
    padding: 0
  .ui-icon.ui-icon-closethick
    top: -22px
    right: -502px
  input
    &[type="text"],
    &[type="textarea"]
      +box-shadow(rgba(#979797, .5) 0 0 4px 1px inset)
      @extend .black
      background: $white
      &:focus
        outline: none

  // Facebook connect button
  .connect-with-facebook .form-wrapper
    margin-bottom: 0

  #edit-connect
    margin-bottom: 0

  // Title and border
  #edit-title-text
    margin-top: 0
    margin-bottom: 15px
    label
      @extend .black
      font-weight: 600
      font-family: $font-headline
      font-size: 40px
      border-bottom: 1px $gray6 solid
      line-height: 40px
      padding-bottom: 12px

  .separator
    @extend .bold
    font-size: 21px
    font-family: $font-headline
    margin-bottom: 12px
    text-align: center

  // Field required asterisk and error message
  .ds-registration-form-required
    float: right
    top: 10px
    right: 12px
    position: relative

  .error
    @extend .alert-red
    @extend .medium
    font-size: 12px

  // Left column fields
  .form-item-first-name,
  .form-item-email,
  .form-item-pass,
  .form-item-month,
  .form-item-day,
  .form-item-year
    float: left
    input
      margin-left: 18px
      margin-top: 12px
      width: 212px

  // Right column fields
  .form-item-last-name,
  .form-item-cell
    float: right
    input
      margin-right: 14px
      margin-top: 12px
      width: 212px

  // Birthday fields
  .form-item-month,
  .form-item-day,
  .form-item-year
    input
      margin-left: 16px
      width: 40px
      text-align: center

  .form-item-month
    .field-prefix
      float: left
      font-family: $font-sans
      font-size: 12px
      margin-left: 18px
      margin-top: 17px
    input
      margin-left: 14px

  // Password fields
  .ok
    @extend .alert-green

  // Finish terms and weekly update
  .disclaimer
    background: $gray6
    margin-top: -5px
    height: 240px
    @extend .box-shadow
    padding: 18px
    width: 478px
    .description
      float: left
      @extend .black
      font-size: 12px
      padding-top: 30px
    a
      @extend .blue
      text-decoration: underline

  .already-member
    @extend .bold
    font-family: $font-headline
    float: right
    font-size: 18px
    padding-top: 15px
    padding-bottom: 6px
    a
      text-decoration: underline

// Yellow GO button
input#edit-final-submit
  @extend .go-button
  float: right
  margin-top: -40px
  margin-right: 18px
