////////////////////////////
// LOGIN POPUP
// white version
////////////////////////////
#block-dosomething-login-become-member
  #dosomething-login-register-popup-form,
  #dosomething-login-register-facebook
    height: auto !important
    display: none

.js div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"],
.js div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"]
  background: $white
  padding: 25px 34px
  top: 90px !important
  right: 30%
  left: 30%
  label
    cursor: default
  .ui-dialog .ui-dialog-titlebar
    padding: 0
  .ui-icon.ui-icon-closethick
    top: -22px
    right: -502px
  input
    &[type="text"],
    &[type="textarea"]
      +box-shadow(rgba(#979797, .5) 0 0 4px 1px inset)
      @extend .black
      background: $white
      &:focus
        outline: none

  // Gray box wrapper
  .popup-content
    // Left column fields
    .form-item-first-name,
    .form-item-email,
    .form-item-pass,
    .form-item-month,
    .form-item-day,
    .form-item-year
      float: left
      input
        width: 212px
    // Right column fields
    .form-item-last-name,
    .form-item-cell
      float: right
      margin-right: -7px
      input
        width: 212px
    .form-item-email,
    .form-item-pass,
    .form-item-cell,
    .form-item-month,
    .form-item-day,
    .form-item-year
      margin-top: 12px
    // Birthday fields
    #edit-birthday
      +pie-clearfix
      label
        float: left
        margin-right: 31px
        width: 54px
        .login-popup-birthday
          font-family: $font-sans
          font-size: 12px
          position: relative
          right: -18px
          top: 16px
    .form-item-month,
    .form-item-day,
    .form-item-year
      float: left
      margin-right: 12px
      input
        width: 40px
        text-align: center
    .form-item-year
      margin-right: 0
    // Password fields
    label.error
      // margin-top: 12px
      height: 27px
      border: 1px
      font-size: 10px
    .form-item-pass
      label.error
        width: 212px
    // Under 13 fields
    .under-13-field
      float: left
      padding: 12px 0
      input
        width: 212px
        margin-top: 12px

    .form-item-parent-email
      input
        width: 212px

      label.error
        float: right
    // Finish terms and weekly update
    .disclaimer
      margin-top: 30px
      .description
        float: left
        @extend .black
        font-size: 12px
      a
        @extend .blue
        text-decoration: underline

  // Register to be a user button 'Finish'
  .ds-login-popup-footer #edit-final-submit,
  .ds-login-popup-footer #edit-final-submit--2
    @extend .go-button
    position: relative
    top: -38px
    right: -403px

  // Already a member text
  .already-member,
  .see-whats-new
    @extend .bold
    font-family: $font-headline
    float: right
    font-size: 18px
    padding-bottom: 6px
    padding-right: 0px
    a
      text-decoration: underline
  .see-whats-new
    float: left

// Actual log in popup styling not covered in defaults
#dosomething-login-login-popup-form
  // Gray box
  .popup-content
    min-height: 240px
    padding: 18px
    width: 478px
    margin: auto
  #edit-title-text--2
    margin-top: 0
    margin-bottom: 15px
    label
      @extend .black
      font-weight: 600
      font-family: $font-headline
      font-size: 40px
      border-bottom: 1px $gray6 solid
      line-height: 40px
      padding-bottom: 12px

// Popup only forms for IE8 register or login, will not affect non-js forms
.no-js.ie.ie8.js
  div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"],
  div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"]
    +box-sizing("border-box")
    .popup-content
      // Left column fields
      .form-item-first-name,
      .form-item-email,
      .form-item-pass,
      .form-item-last-name,
      .form-item-cell
        width: 212px

      .form-item-month,
      .form-item-day,
      .form-item-year
        width: 40px

      #edit-birthday
        position: relative
        top: -17px
        left: 7px

  #dosomething-login-login-popup-form
    .popup-content
      width: 446px

// Popup only forms for IE7 register or login, will not affect non-js forms
.no-js.ie.ie7.js
  div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"],
  div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"]
    +box-sizing("border-box")
    .popup-content
      // Left column fields
      .form-item-first-name,
      .form-item-email,
      .form-item-pass,
      .form-item-last-name,
      .form-item-cell
        width: 212px

      .form-item-month,
      .form-item-day,
      .form-item-year
        width: 40px

      #edit-birthday
        position: relative
        top: -17px
        left: 7px

  #dosomething-login-register-popup-form,
  #dosomething-login-register-facebook
    .pass-field-label
      float: left
    .ds-registration-form-required
      left: 212px
      top: -32px
    .popup-content
      width: 446px
      // Left column fields
      .form-item-first-name,
      .form-item-email,
      .form-item-pass,
      .form-item-last-name,
      .form-item-cell
        height: 27px
        width: 212px

      .form-item-month,
      .form-item-day,
      .form-item-year
        width: 40px

      #edit-birthday
        position: relative
        top: 20px
        left: 7px

      .under-13-field
        clear: both
        display: block
        margin-top: 12px
