////////////////////////////
// MODAL GENERAL LAYOUT
////////////////////////////

.ui-dialog
  @extend .white
  background: $gray3
  border: none
  padding: 23px
  @extend .clearfix
  +border-radius(0)
  .ui-dialog-content
    padding: 0

// Exit square overrides
.ui-dialog-title
  height: 0
  margin: 0
.ui-dialog-titlebar
  display: inline
  height: 0
  margin: 0
  padding: 0
.ui-widget-header
  background: none
  border: none
.ui-dialog-titlebar-close
  margin: 0
  padding: 0
  position: inherit !important
.ui-icon.ui-icon-closethick
  +replace-text-with-dimensions('close.png')
  +float-right
  margin: -20px -28px 0 0 !important
.ui-state-hover
  background-image: none
  border: none
  outline: none
  text-decoration: none

// Dark input style
.region-sidebar-first, .ui-dialog
  input
    &[type="text"],
    &[type="textarea"]
      @extend .white
      background: $gray2
      +box-shadow(none)
      +float-left
      &:focus
        outline: none
