@charset "UTF-8";
html > body {
  font-size: 16px; }

#main-wrapper div[role="main"] {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent;
  width: 800px; }
#main-wrapper #breadcrumb, #main-wrapper #page-title, #main-wrapper #block-dosomething-login-become-member, #main-wrapper #block-dosomething-blocks-dosomething-make-impact, #main-wrapper #block-dosomething-blocks-dosomething-social-skyscraper, #main-wrapper #block-block-5 {
  display: none; }
#main-wrapper ul.primary {
  border-bottom: none;
  margin: 0;
  padding: 15px 0 0 8px;
  height: 37px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

.container {
  width: 1050px; }

#footer.section {
  background: transparent; }
  #footer.section img {
    width: 50%;
    margin: 3% auto;
    display: block;
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }

body {
  background: #b79c86;
  background: url("http://files.dosomething.org/files/campaigns/jeans12/bg.jpg"); }

.page-team #contact-form #webform-component-start-header {
  display: none; }

.page-node-724776 #contact-form #webform-component-join-header {
  display: none; }

@media only screen and (max-width: 1075px) {
  .region-sidebar-first {
    display: none; }

  #site-name {
    top: -53px;
    left: 23px; }
    #site-name a {
      height: 50px;
      width: 60px;
      background-size: 60px; }

  #utility-bar {
    height: 55px; }

  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .search, #utility-bar #block-dosomething-blocks-dosomething-utility-bar #help-center {
    display: none; }
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .login {
    padding: 0.5em 1em 0 0;
    font-size: 24px; }

  #page {
    width: 100%; }

  #main-wrapper div[role="main"] {
    float: none;
    width: 775px;
    margin: 0 auto !important; }

  nav[role="navigation"] {
    display: none; }

  .container {
    margin: 0 auto;
    width: 100%; }

  #block-menu-menu-footer .content {
    width: 80%;
    margin: 0 auto; }

  #block-menu-menu-footer .content ul.menu li span {
    font-size: 16px;
    line-height: 1em; }

  #block-menu-menu-footer .content ul.menu ul li a {
    font-size: 14px;
    line-height: 1em; }

  #cmp .pane-content .s0 {
    margin-top: 0; }
  #cmp #campaign-opt-in {
    text-align: center; } }
@media only screen and (max-width: 1075px) and (max-width: 775px) {
  header[role="banner"] {
    width: 100%; } }

@media only screen and (max-width: 775px) {
  #main-wrapper div[role="main"] {
    width: 100%; } }
#cmp, #reset_defaults {
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }
  #cmp img, #reset_defaults img {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  #cmp .pane-title, #reset_defaults .pane-title {
    display: none; }
  #cmp .panel-pane, #reset_defaults .panel-pane {
    border: none !important; }

#reset_defaults {
  width: 100%; }

#cmp {
  background: white; }
  #cmp .panels-flexible-region-379-center, #cmp .panels-flexible-region-351-center {
    width: 100%;
    float: none; }

#roadmap img {
  width: 100%;
  border: 15px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
#roadmap .go-button {
  position: static;
  width: 3.3em;
  display: block;
  margin: 1% auto 3%; }

#block-dosomething-campaign-styles-campaign-nav {
  background: white;
  padding: 1.5em 0 0 0;
  width: 215px;
  margin-top: 15px;
  -webkit-transition: background 5s ease-in;
  transition: background 5s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  #block-dosomething-campaign-styles-campaign-nav .content {
    width: 100%; }
  #block-dosomething-campaign-styles-campaign-nav ul {
    margin: 0;
    padding: 0;
    border-bottom: solid 2px #eeeeee; }
  #block-dosomething-campaign-styles-campaign-nav li {
    margin: 0;
    padding: 2% 0; }
  #block-dosomething-campaign-styles-campaign-nav a {
    font-family: din-web-reg;
    font-weight: 600;
    font-size: 12px;
    padding: 0.2em 1em 0 1.5em;
    text-transform: uppercase;
    color: #0c3565; }
    #block-dosomething-campaign-styles-campaign-nav a:hover {
      text-decoration: none;
      color: #b79c86; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix {
    padding: 1em 1em 0 1em; }
    #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix img {
      margin: 0 auto;
      width: 100%;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important; }
    #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix p {
      font-family: din-web-reg;
      color: #888888;
      text-align: center;
      width: 100%;
      margin-bottom: 1em;
      font-size: 12px; }
    #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix a {
      font-weight: normal;
      font-size: 11px;
      padding: 0;
      text-transform: none;
      color: #888888;
      text-decoration: underline; }

#block-dosomething-campaign-styles-campaign-nav .highlight a {
  background: white; }

.mangoDialog-ui {
  background: #222222;
  margin: 0;
  padding: 2% 1% 0 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .mangoDialog-ui h1 {
    text-align: center;
    padding: 1em 0 0.5em 0;
    color: white; }
  .mangoDialog-ui img {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    display: block;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .mangoDialog-ui .ui-icon.ui-icon-closethick {
    margin: -20px -13px !important; }

#overlay-homelessness {
  display: none;
  overflow: hidden; }
  #overlay-homelessness h2, #overlay-homelessness p {
    color: white;
    line-height: 1.1em; }
  #overlay-homelessness h4, #overlay-homelessness p {
    font-family: din-web-reg; }
  #overlay-homelessness h2 {
    font-family: din-web;
    font-size: 100px;
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: 20px; }
  #overlay-homelessness p {
    font-size: 21px; }
  #overlay-homelessness .official-doer {
    margin: -30px;
    float: left; }
  #overlay-homelessness h3 {
    position: relative;
    top: 112px;
    left: 60px; }
    #overlay-homelessness h3 a {
      color: #333333;
      text-shadow: 0 1px 1px white;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 0 1px 1px #f3e992;
      border: 2px solid #f3e992;
      font-size: 48px;
      font-weight: 600;
      padding: 8px 100px 0px;
      background: #f4ca00;
      background-image: linear-gradient(bottom, #f4cb00 38%, #f9d852 69%, #f7e544 85%);
      background-image: -o-linear-gradient(bottom, #f4cb00 38%, #f9d852 69%, #f7e544 85%);
      background-image: -moz-linear-gradient(bottom, #f4cb00 38%, #f9d852 69%, #f7e544 85%);
      background-image: -webkit-linear-gradient(bottom, #f4cb00 38%, #f9d852 69%, #f7e544 85%);
      background-image: -ms-linear-gradient(bottom, #f4cb00 38%, #f9d852 69%, #f7e544 85%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, #f4cb00), color-stop(0.69, #f9d852), color-stop(0.85, #f7e544));
      border-radius: 18px; }
      #overlay-homelessness h3 a:hover {
        text-decoration: none;
        color: black; }
    #overlay-homelessness h3 img {
      position: relative;
      bottom: -30px;
      left: -60px; }
  #overlay-homelessness h4 {
    clear: both; }
    #overlay-homelessness h4 a {
      font-size: 18px;
      font-weight: 400;
      float: right;
      color: #f4ca00;
      text-decoration: underline; }
      #overlay-homelessness h4 a:hover {
        text-decoration: none; }

.page-node-718484 .ui-dialog, .page-node-725893 .ui-dialog {
  background: none !important; }
.page-node-718484 .ui-icon-closethick, .page-node-725893 .ui-icon-closethick {
  display: none !important; }
.page-node-718484 .ui-widget-overlay, .page-node-725893 .ui-widget-overlay {
  opacity: 0.98; }

#fbc-modal {
  z-index: 999 !important; }

.page-node-724802 #block-dosomething-campaign-styles-campaign-nav, .page-node-727497 #block-dosomething-campaign-styles-campaign-nav {
  display: none; }

#rsvp {
  margin: 5% 0;
  padding: 5%;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  #rsvp iframe {
    width: 100% !important;
    height: 520px; }
  #rsvp .panel-row-flexible .panel-pane {
    border: none !important; }

#sms-referral h3 {
  display: none;
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase; }

#counter_wrapper {
  display: none; }

#counter_wrapper {
  background: #0c3565;
  width: 215px;
  margin: 0 0 0 -16px;
  overflow: hidden;
  height: 50px; }
  #counter_wrapper h3 {
    margin: 7px 5px 0 0;
    float: right;
    width: 30%;
    text-transform: uppercase;
    color: white; }
  #counter_wrapper p#schools_participating {
    font-size: 50px;
    text-align: right;
    margin: 22px 0 0 0;
    float: left;
    width: 60%;
    color: white; }

#sign-up, #report-back {
  width: 55%;
  margin: 10%;
  padding: 3%;
  background: white;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  #sign-up .panel-pane, #sign-up form, #report-back .panel-pane, #report-back form {
    padding: 0;
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  #sign-up .pane-title, #sign-up legend, #sign-up #edit-submitted-field-webform-email, #sign-up #edit-submitted-field-webform-mobile, #report-back .pane-title, #report-back legend, #report-back #edit-submitted-field-webform-email, #report-back #edit-submitted-field-webform-mobile {
    display: none; }
  #sign-up .form-item, #report-back .form-item {
    margin: 5% 0 0 0; }
  #sign-up h2, #report-back h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: din-web-reg;
    font-size: 1.2em; }
  #sign-up input[type="text"], #report-back input[type="text"] {
    width: 100%; }
  #sign-up img, #report-back img {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  #sign-up #edit-actions, #report-back #edit-actions {
    height: auto;
    text-align: inherit; }
  #sign-up .go-button, #sign-up #edit-submit, #sign-up .form-submit, #report-back .go-button, #report-back #edit-submit, #report-back .form-submit {
    font-family: din-web;
    background: #ffcb15;
    margin: 4% 0 1%;
    padding: 0.6em 0.7em;
    position: static;
    font-size: 1.5em;
    height: 2em;
    display: inline-block;
    color: #1e1d1c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    #sign-up .go-button:hover, #sign-up #edit-submit:hover, #sign-up .form-submit:hover, #report-back .go-button:hover, #report-back #edit-submit:hover, #report-back .form-submit:hover {
      color: #06182e; }

#sign-up input.form-autocomplete {
  width: 100%; }

#report-back {
  border: none;
  width: 70%;
  padding: 1% 2%;
  background: white; }
  #report-back .pane-title,
  #report-back .fb-social-comments-plugin {
    display: none; }
  #report-back form {
    border: none; }
    #report-back form #edit-submitted-how-many-people-participated-in-this-drive,
    #report-back form #edit-submitted-how-many-potential-donors-were-registered {
      width: 60px; }
    #report-back form .form-item {
      margin-top: 10px; }
    #report-back form .fb-social-comments-plugin {
      display: none; }
    #report-back form #edit-submitted-taxonomy-vocabulary-5,
    #report-back form #edit-submitted-field-webform-email,
    #report-back form #edit-submitted-field-webform-mobile,
    #report-back form #edit-submitted-field-webform-videos,
    #report-back form #edit-submitted-field-webform-school-reference,
    #report-back form #edit-submitted-field-webform-school,
    #report-back form #edit-submitted-field-webform-school-zip {
      display: none; }
    #report-back form #edit-submitted-field-webform-pictures-und-0-upload-button {
      display: block !important;
      margin: 10px !important; }

#report-back .image-widget .form-submit {
  height: 1em;
  padding: 0.4em 1.3em 1.1em;
  text-transform: uppercase;
  font-weight: 600; }

.go-button, #edit-submit, .form-submit {
  font-family: din-web;
  background: #ffcb15;
  margin: 4% 0 1%;
  padding: 0.3em 0.7em;
  font-size: 1.5em;
  height: 1.4em;
  display: inline-block;
  color: #1e1d1c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  line-height: 1em; }
  .go-button:hover, #edit-submit:hover, .form-submit:hover {
    color: #06182e; }

.ui-widget-overlay {
  opacity: 0.9; }

div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"],
div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"],
div[aria-labelledby="ui-dialog-title-1"] {
  background: none !important;
  width: 100% !important;
  height: 1250px !important;
  min-height: 1250px !important;
  top: 0 !important;
  left: 0 !important; }

.ui-dialog .ui-dialog-content {
  height: 1250px !important;
  min-height: 1250px !important; }

#dosomething-login-register-popup-form #edit-title-text,
#dosomething-login-register-popup-form #edit-title-text--2,
#dosomething-login-register-facebook #edit-title-text,
#dosomething-login-register-facebook #edit-title-text--2 {
  margin: 2em 0; }
  #dosomething-login-register-popup-form #edit-title-text label, #dosomething-login-register-popup-form #edit-title-text div,
  #dosomething-login-register-popup-form #edit-title-text--2 label,
  #dosomething-login-register-popup-form #edit-title-text--2 div,
  #dosomething-login-register-facebook #edit-title-text label,
  #dosomething-login-register-facebook #edit-title-text div,
  #dosomething-login-register-facebook #edit-title-text--2 label,
  #dosomething-login-register-facebook #edit-title-text--2 div {
    border-bottom: none;
    text-align: center;
    color: white; }
  #dosomething-login-register-popup-form #edit-title-text label,
  #dosomething-login-register-popup-form #edit-title-text--2 label,
  #dosomething-login-register-facebook #edit-title-text label,
  #dosomething-login-register-facebook #edit-title-text--2 label {
    text-transform: uppercase; }

#edit-title-text h2, #edit-title-text h3 {
  color: white;
  text-transform: uppercase;
  text-align: center; }

#edit-title-text h2 {
  font-size: 1.8em;
  padding: 0.5em 0 0 0; }

#edit-title-text h3 {
  padding: 1.43em 0 0 0;
  font-size: 1.3em; }

#dosomething-login-register-popup-form label {
  color: white; }
  #dosomething-login-register-popup-form label span {
    color: #ec0000;
    position: static !important;
    padding-left: 0.2em; }
#dosomething-login-register-popup-form #edit-birthday {
  float: left;
  width: 250px;
  margin: 0; }
  #dosomething-login-register-popup-form #edit-birthday label {
    width: 100% !important;
    margin: 0; }
  #dosomething-login-register-popup-form #edit-birthday span.login-popup-birthday {
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Arial, sans-serif;
    line-height: 24px;
    color: white; }
  #dosomething-login-register-popup-form #edit-birthday input {
    height: 2.5em;
    margin: 0.2em 0 0 0;
    padding: 0 0.6em;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  #dosomething-login-register-popup-form #edit-birthday .form-item {
    margin-top: 0; }
#dosomething-login-register-popup-form #edit-final-submit {
  position: static;
  width: 55%;
  margin: 0 auto;
  display: block;
  font-size: 1.7em;
  color: #222222;
  background: #ffcb15;
  max-width: 15em;
  height: 1.5em;
  padding: 0.35em 0.5em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#dosomething-login-register-popup-form .already-member {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em; }
  #dosomething-login-register-popup-form .already-member a {
    color: white; }
#dosomething-login-register-popup-form .form-type-textfield,
#dosomething-login-register-popup-form .form-type-password {
  float: left;
  margin: 0;
  width: 100%;
  margin: 0.5em 0; }
  #dosomething-login-register-popup-form .form-type-textfield input,
  #dosomething-login-register-popup-form .form-type-password input {
    height: 2.5em;
    padding: 0 0.6em;
    font-size: 0.9em;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
#dosomething-login-register-popup-form .form-item-day, #dosomething-login-register-popup-form .form-item-month, #dosomething-login-register-popup-form .form-item-year {
  width: 3em;
  margin: 0.5em;
  margin-left: 0; }
  #dosomething-login-register-popup-form .form-item-day input, #dosomething-login-register-popup-form .form-item-month input, #dosomething-login-register-popup-form .form-item-year input {
    width: 3em; }
#dosomething-login-register-popup-form .form-item-year {
  width: 5em !important; }
  #dosomething-login-register-popup-form .form-item-year input {
    width: 5em; }
#dosomething-login-register-popup-form .ds-login-popup-footer {
  width: 80%;
  height: 100%;
  margin: 0 auto; }
  #dosomething-login-register-popup-form .ds-login-popup-footer .description {
    color: white !important;
    font-size: 0.7em; }
    #dosomething-login-register-popup-form .ds-login-popup-footer .description a {
      color: white !important; }

.popup-content,
.ds-login-popup-footer {
  width: 66%;
  padding: 0 1em;
  background: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.form-wrapper {
  margin: 0; }

.separator {
  font-family: din-web;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0.5em 0 0 0;
  color: white; }

@media only screen and (max-width: 450px) {
  div[aria-labelledby="ui-dialog-title-dosomething-login-register-popup-form"],
  div[aria-labelledby="ui-dialog-title-dosomething-login-login-popup-form"],
  div[aria-labelledby="ui-dialog-title-1"] {
    background: none !important; }

  #dosomething-login-register-popup-form .popup-content,
  #dosomething-login-register-facebook .popup-content {
    width: 100%; }

  #dosomething-login-register-popup-form #edit-submit {
    width: 85%; }

  .invite_friends .connect-with-facebook {
    margin-top: 8%; } }
#dosomething-login-login-popup-form #edit-title-text--2 label {
  border: none;
  text-align: center;
  color: white; }

#dosomething-login-login-popup-form .form-item label {
  color: white; }

#dosomething-login-login-popup-form .ds-login-popup-footer {
  margin: 0 auto; }
#dosomething-login-login-popup-form input {
  height: 2.5em;
  margin: 0.2em 0 0 0;
  padding: 0 0.6em;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
#dosomething-login-login-popup-form input[type=submit]#edit-final-submit--2 {
  position: static;
  width: 55%;
  margin: 0 auto;
  display: block;
  font-size: 1.7em;
  color: #222222;
  background: white;
  max-width: 15em;
  height: 1.5em;
  padding: 0.05em 0.5em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#dosomething-login-register-popup-form .disclaimer .description,
#dosomething-login-register-facebook .disclaimer .description {
  color: white; }

#edit-title-text div {
  display: block;
  max-width: 24em;
  margin: 0 auto; }

.invite-module {
  width: 850px !important;
  margin: 0 auto; }

.invite_friends .connect-with-facebook {
  margin-top: 23%; }
  .invite_friends .connect-with-facebook a {
    margin: 0.6em auto; }

.invite_friends {
  padding: 0.5% 2% 2% 2%; }
  .invite_friends h2, .invite_friends h3, .invite_friends p, .invite_friends label {
    color: white; }
  .invite_friends h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    line-height: 2em;
    text-transform: uppercase; }
  .invite_friends h3 {
    font-family: din-web;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0 0.5em 0.5em;
    color: white; }
  .invite_friends .form-item {
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 0 0 5% 5%; }
  .invite_friends img.banner {
    margin: 0 auto 5%;
    display: block; }
  .invite_friends input[type="text"] {
    width: 90%;
    height: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .invite_friends input[type="submit"] {
    float: left;
    font-weight: 600;
    text-transform: uppercase; }
  .invite_friends .invite-module-facebook, .invite_friends .invite-module-email, .invite_friends .invite-module-sms {
    width: 43%;
    float: left;
    border: 2px solid #cccccc;
    height: 18em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  .invite_friends .invite-module-sms {
    height: 30em; }
  .invite_friends .invite-module-facebook p, .invite_friends .invite-module-or p, .invite_friends .invite-module-email p, .invite_friends .invite-module-sms p {
    font-size: 0.8em; }
  .invite_friends .invite-module-facebook input[type="submit"] {
    background: #3b5998;
    color: white;
    margin: 33% 0 0 5%;
    width: 18.5em;
    height: 3em; }
  .invite_friends .invite-module-or {
    width: 14%;
    float: left; }
    .invite_friends .invite-module-or h3 {
      line-height: 2.5em;
      color: white; }
  .invite_friends .facebook-action-connect {
    display: block;
    margin: 8% auto 0;
    width: 40%; }
  .invite_friends #edit-submit {
    font-family: din-web;
    background: #ffcb15;
    margin: 0 0 0 5%;
    font-size: 1.5em;
    height: 1.4em;
    display: inline-block;
    border: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .invite_friends #edit-submit:hover {
      background: #fbc300; }

#teams-notification-area {
  float: left;
  margin: 3em 0;
  text-align: center;
  width: 100%; }
  #teams-notification-area div {
    color: #aaaaaa; }

#teams-add-member-form {
  width: 85%;
  margin: 0 auto; }
  #teams-add-member-form label {
    display: none; }
  #teams-add-member-form .form-submit {
    position: static;
    margin: 0 auto;
    display: block;
    font-size: 2em;
    color: #222222;
    background: white;
    max-width: 15em;
    height: 1.5em;
    padding: 0.05em 0.5em 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    float: right;
    font-family: din-web;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

#edit-friend {
  background: white;
  color: #444444;
  width: 18em;
  height: 3em;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0 0 0 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

@media only screen and (max-width: 900px) {
  .invite-module {
    width: 100% !important; }

  .invite_friends .invite-module-facebook, .invite_friends .invite-module-email, .invite_friends .invite-module-sms {
    margin: 0 15%;
    width: 70%;
    height: 12em; }

  .invite_friends .invite-module-email {
    height: 20em; }

  .invite_friends .invite-module-sms {
    height: 33em; }

  .invite_friends .invite-module-or {
    width: 100%; }
    .invite_friends .invite-module-or h3 {
      margin: 0; }

  .invite_friends .invite-module-facebook input[type="submit"] {
    margin: 4em 0 0 10%;
    width: 80%; }

  .invite_friends h2 {
    margin: 0.2em;
    line-height: 1em; }

  .invite-module-or h3 {
    line-height: 2em; }

  #edit-friend {
    width: 66%; }

  #teams-notification-area div {
    width: 80%;
    margin: 0 auto; } }
@media only screen and (max-width: 575px) {
  .invite_friends .invite-module-facebook, .invite_friends .invite-module-email, .invite_friends .invite-module-sms {
    margin: 0 2%;
    width: 95%;
    height: 10em; }

  .invite_friends .invite-module-email {
    height: 18em; }

  .invite_friends .invite-module-sms {
    height: 32em; }

  .invite_friends .invite-module-facebook {
    margin: 3.5em 0 0 8%;
    width: 85%; }

  #edit-friend {
    width: 100%; } }
#cmp {
  /* search block */
  /* results block */
  /* element floats */
  /* centers wrappers contained within floated segments */ }
  #cmp html, #cmp body, #cmp div, #cmp span, #cmp applet, #cmp object, #cmp iframe,
  #cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp h5, #cmp h6, #cmp p, #cmp blockquote, #cmp pre,
  #cmp a, #cmp abbr, #cmp acronym, #cmp address, #cmp big, #cmp cite, #cmp code,
  #cmp del, #cmp dfn, #cmp em, #cmp img, #cmp ins, #cmp kbd, #cmp q, #cmp s, #cmp samp,
  #cmp small, #cmp strike, #cmp strong, #cmp sub, #cmp sup, #cmp tt, #cmp var,
  #cmp b, #cmp u, #cmp i, #cmp center,
  #cmp dl, #cmp dt, #cmp dd, #cmp ol, #cmp ul, #cmp li,
  #cmp fieldset, #cmp form, #cmp label, #cmp legend,
  #cmp table, #cmp caption, #cmp tbody, #cmp tfoot, #cmp thead, #cmp tr, #cmp th, #cmp td,
  #cmp article, #cmp aside, #cmp canvas, #cmp details, #cmp embed,
  #cmp figure, #cmp figcaption, #cmp footer, #cmp header, #cmp hgroup,
  #cmp menu, #cmp nav, #cmp output, #cmp ruby, #cmp section, #cmp summary,
  #cmp time, #cmp mark, #cmp audio, #cmp video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font: inherit;
    vertical-align: baseline; }
  #cmp article, #cmp aside, #cmp details, #cmp figcaption, #cmp figure,
  #cmp footer, #cmp header, #cmp hgroup, #cmp menu, #cmp nav, #cmp section {
    display: block; }
  #cmp body {
    line-height: 1; }
  #cmp ol, #cmp ul {
    list-style: none; }
  #cmp blockquote, #cmp q {
    quotes: none; }
  #cmp blockquote:before, #cmp blockquote:after,
  #cmp q:before, #cmp q:after {
    content: "";
    content: none; }
  #cmp table {
    border-collapse: collapse;
    border-spacing: 0; }
  #cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp p, #cmp b, #cmp a, #cmp label, #cmp .divider, #cmp .disclaimer {
    font-weight: 500;
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    color: black; }
  #cmp h1, #cmp h3, #cmp .divider {
    text-transform: uppercase; }
  #cmp h1 {
    font-size: 40px;
    line-height: 1.54em; }
  #cmp h1.condensed {
    font-size: 60px;
    font-weight: 600;
    font-family: "din-web"; }
  #cmp h2 {
    font-size: 24px;
    line-height: 1.55em; }
  #cmp h3 {
    font-size: 20px;
    line-height: 1.4em; }
  #cmp h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em; }
  #cmp p, #cmp label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em; }
  #cmp input[type="submit"] {
    font-size: 24px; }
  #cmp a {
    color: #0c3565; }
  #cmp a.mango {
    background: #0c3565;
    color: white; }
  #cmp .divider {
    color: white; }
  #cmp .legal {
    font-size: 10px;
    font-weight: 500;
    line-height: 1em; }
  #cmp .section {
    overflow: hidden;
    background: white;
    margin: 0 auto;
    padding: 2% 2% 0 2%;
    text-align: center; }
  #cmp .col33, #cmp .col40, #cmp .col50, #cmp .col60 {
    float: left; }
  #cmp .col33 {
    width: 33%;
    margin-bottom: 4%; }
  #cmp .col33-inner {
    padding: 0 1.5%; }
  #cmp .col40 {
    width: 40%; }
  #cmp .col50 {
    width: 50%; }
  #cmp .col60 {
    width: 60%; }
  #cmp .jeans-divider {
    background: #0c3565;
    width: 110%;
    margin-left: -5%;
    padding-top: 0.5em; }
    #cmp .jeans-divider h1, #cmp .jeans-divider h2 {
      text-transform: uppercase;
      color: white; }
    #cmp .jeans-divider h2 {
      font-weight: 400; }
    #cmp .jeans-divider span {
      font-weight: 600; }
  #cmp .divider {
    text-align: center;
    border-top: 2px solid #d2d2d3;
    margin: 0 0 3% 0;
    padding: 0.5em 0 0 0; }
    #cmp .divider span {
      font-size: 14px;
      background: black;
      padding: 0.5em 0.8em;
      position: relative;
      font-weight: 500;
      letter-spacing: 0.1em;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -ms-border-radius: 0 0 4px 4px;
      -o-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  #cmp .go-button, #cmp #edit-submit, #cmp .form-submit {
    font-family: din-web;
    background: #ffcb15;
    margin: 4% 0 1%;
    padding: 0.4em 0.7em;
    position: static;
    font-size: 24px;
    height: auto;
    display: inline-block;
    color: #1e1d1c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  #cmp #header {
    background-image: url("//files.dosomething.org/files/campaigns/jeans12/flip_header.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 375px; }
    #cmp #header h1, #cmp #header h2 {
      text-align: left;
      color: #0c3565;
      margin: 0; }
    #cmp #header h1 {
      font-weight: 600;
      font-size: 54px;
      font-family: din-web;
      line-height: 1em; }
    #cmp #header h2 {
      font-size: 22px;
      line-height: 1.6em;
      font-weight: 400;
      width: 50%; }
    #cmp #header span {
      color: #b79c86; }
  #cmp .tagline {
    padding: 2%; }
  #cmp .pane-campaign-social {
    display: none; }
  #cmp #social_media {
    margin: 0 0 250px 0; }
  #cmp .socialWrapper {
    margin: 0; }
    #cmp .socialWrapper .socialButton:last-child {
      display: none; }
  #cmp #next-steps {
    padding: 5%; }
    #cmp #next-steps h3, #cmp #next-steps p {
      text-align: left; }
    #cmp #next-steps h1 {
      font-size: 64px;
      font-weight: 600; }
    #cmp #next-steps h4 {
      text-transform: uppercase;
      font-weight: 500; }
    #cmp #next-steps p {
      padding: 0 1.5em 1em;
      color: #444444; }
    #cmp #next-steps .next-steps-help {
      font-size: 14px;
      text-align: center;
      color: #bbbbbb;
      padding: 2em 0 0 0; }
    #cmp #next-steps .go-button {
      margin-top: 0.5em; }
  #cmp #drive {
    text-align: left; }
  #cmp .drive-info-wrapper {
    float: left;
    width: 56%; }
  #cmp .drive-participants {
    float: right;
    width: 40%;
    margin: 6% 0 0 0;
    padding: 0 0 0 5%;
    border-left: 2px solid #d2d2d3; }
    #cmp .drive-participants ul {
      max-height: 160px;
      overflow: scroll; }
  #cmp .drive-info-title h2 {
    color: #0c3565;
    margin: 0 0 0.4em 0;
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #d2d2d3; }
  #cmp .drive-info-info {
    display: none; }
  #cmp .drive-info-where, #cmp .drive-info-when {
    font-weight: uppercase;
    font-weight: 600; }
    #cmp .drive-info-where span, #cmp .drive-info-when span {
      font-weight: 500;
      text-transform: none;
      color: #777777; }
  #cmp .drive-share {
    display: none; }
  #cmp .drive-facebook, #cmp .drive-twitter {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -9999em;
    margin: 0 3% 0 0;
    float: left; }
    #cmp .drive-facebook:hover, #cmp .drive-twitter:hover {
      background-position-y: -30px; }
  #cmp .drive-twitter {
    background-image: url(//files.dosomething.org/files/campaigns/jeans12/twitter-small.png); }
  #cmp .drive-facebook {
    background-image: url(//files.dosomething.org/files/campaigns/jeans12/facebook-small.png); }
  #cmp .drive-info-description, #cmp .drive-info-countdown {
    display: none; }
  #cmp input.remove_participant {
    border: none;
    font-size: 16px;
    font-family: din-web-reg;
    width: 18px;
    height: 18px;
    line-height: 16px;
    background: #0c3565;
    color: white;
    letter-spacing: 1px;
    margin: -18px 0 0 0;
    padding: 0;
    float: right;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
    #cmp input.remove_participant:hover {
      color: white;
      background: #082445; }
  #cmp .drive-participants-list li {
    padding: 0.2em 0; }
  #cmp .drive-action-link {
    text-align: center; }
  #cmp #action.action-anonymous h3, #cmp #action.action-participant h3 {
    line-height: 2em; }
  #cmp #action.action-anonymous p, #cmp #action.action-participant p {
    text-align: left; }
  #cmp #action.action-anonymous img, #cmp #action.action-participant img {
    display: block;
    margin: 0 auto; }
  #cmp #action.action-anonymous #drive-scholarship, #cmp #action.action-participant #drive-scholarship {
    padding: 2%;
    margin: 4% -2% 1%;
    clear: both;
    background: #0c3565; }
    #cmp #action.action-anonymous #drive-scholarship h1, #cmp #action.action-participant #drive-scholarship h1 {
      color: white;
      line-height: 1.1em;
      margin: 2% 0 1%; }
    #cmp #action.action-anonymous #drive-scholarship p, #cmp #action.action-participant #drive-scholarship p {
      text-align: center;
      text-transform: uppercase;
      color: white; }
    #cmp #action.action-anonymous #drive-scholarship .go-button, #cmp #action.action-participant #drive-scholarship .go-button {
      margin: 0; }
    #cmp #action.action-anonymous #drive-scholarship a, #cmp #action.action-participant #drive-scholarship a {
      color: #1e1d1c; }
      #cmp #action.action-anonymous #drive-scholarship a:hover, #cmp #action.action-participant #drive-scholarship a:hover {
        text-decoration: none;
        color: black; }
  #cmp #action.action-leader {
    text-align: left; }
    #cmp #action.action-leader h1 {
      font-size: 22px;
      margin: 0 0 0 -1em; }
    #cmp #action.action-leader ul {
      padding: 1em 1.5em; }
    #cmp #action.action-leader li {
      list-style: disc; }
    #cmp #action.action-leader b {
      color: #0c3565;
      background: white;
      width: 10em;
      display: block;
      text-align: center;
      padding: 0.2em 0 0 0; }
    #cmp #action.action-leader strong {
      color: #0c3565; }
  #cmp .email-spit {
    margin: 0 auto;
    width: 90%;
    display: block; }
    #cmp .email-spit img {
      width: 50%; }
  #cmp a.print-pdf, #cmp a.print-pdf img {
    display: block;
    margin: 0 auto; }
  #cmp a.print-pdf {
    width: 30%; }
    #cmp a.print-pdf img {
      width: 100%; }
  #cmp #search img {
    width: 50%;
    display: block;
    margin: 0 auto 2%; }
  #cmp #search p {
    padding: 0 0 1em 0; }
  #cmp #search .go-button {
    height: 36px;
    margin: 0 1%; }
  #cmp .pane-drive-search-panel-pane-1 form {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    border-top: 2px solid #d2d2d3;
    border-bottom: 2px solid #d2d2d3; }
  #cmp #edit-field-geofield-distance-wrapper {
    width: 67%;
    margin: 0.4em 0 0 0; }
  #cmp .form-type-geofield-proximity {
    width: 100%; }
  #cmp .form-item-field-geofield-distance-distance input,
  #cmp .form-item-field-geofield-distance-origin input {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  #cmp .form-item-field-geofield-distance-distance {
    display: none; }
  #cmp .geofield-proximity-origin-from {
    text-align: center;
    padding: 0.2em 0 0 0;
    width: 50%; }
  #cmp .form-item-field-geofield-distance-origin {
    width: 33%; }
    #cmp .form-item-field-geofield-distance-origin input {
      background-color: #ebebeb; }
  #cmp .views-submit-button input {
    text-transform: uppercase;
    font-weight: 500; }
  #cmp .view-id-drive_search .view-content {
    background-color: #ebebeb;
    padding: 1em; }
  #cmp .drive-search-wrapper ul {
    overflow: auto;
    margin: 0 auto;
    width: 95%; }
  #cmp .views-label-field-team-name,
  #cmp .views-label-field-drive-location {
    display: none; }
  #cmp li.views-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em; }
  #cmp .views-field-field-team-name,
  #cmp .views-field-field-drive-location,
  #cmp .views-field-field-geofield-distance,
  #cmp .views-field-nothing {
    width: 25%;
    float: left; }
  #cmp .views-field-field-drive-location,
  #cmp .views-field-field-geofield-distance {
    font-size: 12px;
    font-weight: 400;
    font-family: din-web-reg;
    line-height: 1.4em; }
  #cmp .views-field-field-geofield-distance {
    text-align: center; }
  #cmp .views-field-nothing span {
    width: 5em;
    display: block;
    margin: 1em auto; }
  #cmp .views-field-nothing a.go-button {
    position: static; }
  #cmp .jeans-divider {
    margin-bottom: 4%; }
  #cmp .free-banner {
    float: right;
    margin-top: -4%; }
  #cmp .make-a-difference {
    margin: 0 0 0 12%;
    float: left;
    width: 60%; }
    #cmp .make-a-difference h2, #cmp .make-a-difference p {
      text-align: left; }
    #cmp .make-a-difference h2 {
      text-transform: uppercase;
      padding-top: 0.3em; }
    #cmp .make-a-difference p {
      font-size: 14px;
      width: 110%; }
    #cmp .make-a-difference img {
      float: left;
      padding-right: 3%; }
  #cmp #scholarship {
    overflow: visible;
    position: relative; }
    #cmp #scholarship img.scholar-copy {
      padding: 0; }
    #cmp #scholarship img {
      clear: both;
      display: block;
      margin: 0 auto;
      padding: 2% 0; }
    #cmp #scholarship h1 {
      color: white; }
    #cmp #scholarship p {
      color: white; }
    #cmp #scholarship form {
      margin: 0 auto;
      max-width: 600px; }
      #cmp #scholarship form label {
        color: white;
        font-weight: 500;
        text-align: left; }
      #cmp #scholarship form input[type="text"] {
        padding: 0.8em 0.5em;
        float: left;
        height: 3em;
        width: 48%;
        margin: 1%;
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        border-radius: 0.3em; }
    #cmp #scholarship .go-button {
      margin: 4% 0 1% 0;
      padding: 0.6em 0.7em;
      height: 2em;
      width: 8em; }
    #cmp #scholarship #campaign-opt-in {
      text-align: center; }
      #cmp #scholarship #campaign-opt-in a {
        color: white;
        font-weight: 500; }
    #cmp #scholarship .quote-highlight p {
      background: #a78b79;
      max-width: 525px;
      margin: 0 auto 0.8em;
      padding: 3%;
      font-family: din-web-reg;
      font-weight: 600;
      font-size: 27px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px; }
    #cmp #scholarship .scholar-input {
      float: left;
      width: 48%;
      margin: 1%; }
      #cmp #scholarship .scholar-input input[type="text"] {
        width: 100%;
        margin: 1% 0; }
    #cmp #scholarship .your-input input[type="text"] {
      width: 100%; }
    #cmp #scholarship .rules {
      font-size: 16px; }
  #cmp label.friends {
    padding-left: 0.3em; }
  #cmp .refer5 {
    background: #0c3565;
    width: 110%;
    margin: 0 0 0 -4.95%;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
    #cmp .refer5:before, #cmp .refer5:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 11px;
      top: -6px; }
    #cmp .refer5:before {
      border-color: transparent #06182e #06182e transparent;
      left: -22px; }
    #cmp .refer5:after {
      border-color: transparent transparent #06182e #06182e;
      right: -22px; }
  #cmp .refer5-inner {
    padding: 3%; }
  #cmp #prizing h2 {
    width: 60%;
    margin: 0 auto;
    font-size: 20px; }
  #cmp #prizing h3 {
    margin: 1em 0; }
  #cmp #prizing p {
    width: 70%;
    margin: 4% auto; }
  #cmp #psa.section {
    padding-bottom: 3%; }
    #cmp #psa.section h2 {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 48px;
      padding: 0 0 0.3em 0;
      color: #b79c86; }
  #cmp #psa_wrapper {
    position: relative;
    padding-bottom: 55%;
    margin: 0 3%;
    padding-top: 5%;
    height: 0; }
    #cmp #psa_wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 88%; }
  #cmp #social img.fb-share {
    width: auto; }
  #cmp #impact .go-button {
    margin: 2% 0 1% 0; }
  #cmp .view-campaign-gallery #slideshow {
    margin: 0 auto; }
  #cmp #faq {
    padding-bottom: 3%;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
    #cmp #faq h4, #cmp #faq li, #cmp #faq p {
      text-align: left; }
    #cmp #faq li, #cmp #faq div {
      padding: 0 0 0 1.5em; }
    #cmp #faq h1 {
      font-size: 32px;
      font-family: din-web;
      text-transform: uppercase; }
    #cmp #faq h4 {
      color: #0c3565;
      cursor: pointer;
      background: url("//files.dosomething.org/files/campaigns/jeans12/faq_arrows.png");
      background-repeat: no-repeat;
      background-position-y: 0.4em;
      padding: 0.3em 1.2em; }
    #cmp #faq h4.activeFAQ {
      background-position-y: -3.8em; }
    #cmp #faq div.divider {
      padding: 0.5em 0 0 0; }
    #cmp #faq .go-button {
      height: 36px;
      margin: 0 0 1% 0; }
  #cmp #footer.section h1 {
    font-size: 32px;
    font-family: din-web;
    text-transform: uppercase;
    background: url("//files.dosomething.org/files/campaigns/jeans12/faq3.png");
    background-repeat: no-repeat;
    background-position: 50% 0.7em;
    padding: 0 0 1em 0;
    margin: 0 0 -1em 0; }
  #cmp #footer.section .go-button {
    margin: 0 0 1% 0; }
  #cmp #iframe_wrapper {
    height: 404px !important; }
  #cmp #nextaction {
    padding: 0 0 4%;
    margin-top: 2%; }
    #cmp #nextaction .bluebox {
      padding: 2%;
      background: #043a61;
      margin: 0; }
      #cmp #nextaction .bluebox h2, #cmp #nextaction .bluebox h4 {
        font-family: din-web-reg;
        font-weight: 300;
        line-height: 1.1em; }
      #cmp #nextaction .bluebox h2 {
        float: left;
        color: white;
        font-size: 35px;
        margin: 2% 0 1%; }
      #cmp #nextaction .bluebox h4 a {
        float: right;
        margin: 3.75% 0 1%;
        text-transform: uppercase;
        font-size: 12px;
        color: #ffcb15;
        font-family: din-web-reg;
        font-weight: 300; }
    #cmp #nextaction p {
      margin-bottom: 4%; }
    #cmp #nextaction .doit-btn {
      font-family: din-web-reg;
      font-weight: 600;
      background: #ffcb15;
      padding: 1% 2.5% 0;
      text-transform: uppercase;
      border-radius: 6px;
      color: #333333; }
      #cmp #nextaction .doit-btn:hover {
        text-decoration: none;
        color: black; }
    #cmp #nextaction .divider {
      border-top: none;
      padding: 0.4em 0 0 0;
      margin: 0 0 4% 0; }
      #cmp #nextaction .divider span {
        font-weight: 400; }
  #cmp #node-727486 h1 {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.4em; }
  #cmp #node-727486 h3 {
    font-size: 1.2em;
    margin-top: 0.8em; }
  #cmp #node-727486 .content {
    padding: 1em 1em 3em; }
  #cmp #node-727486 input {
    margin-bottom: 1em; }
  #cmp #node-727486 label {
    font-size: 1.4em !important;
    font-weight: 400; }
  #cmp #node-727486 #edit-submitted-field-webform-pictures {
     background: #f1f1f1;
    border: 2px solid #e1e1e1 !important;
    padding: 1% 3% 1.5% !important;
    margin: 1% 0 !important;
    max-width: 375px;
     border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; }
  #cmp #node-727486 .fb-social-comments-plugin {
    display: none; }
  #cmp #checklist p.rules {
    font-size: 0.7em;
    text-align: center;
    display: block; }
  #cmp #contact-form {
    background: #ffcb15;
    width: 100%; }
    #cmp #contact-form h3 {
      color: white;
      font-size: 1.3em;
      font-weight: 600;
      text-align: left;
      padding: 0.5em 0 0 0;
      font-size: 0.9em; }
  #cmp #header .form-submit {
    font-weight: 600;
    margin-top: 0.3em;
    height: 2em;
    color: white;
    background: #0c3565; }
  #cmp .focusOutline {
    box-shadow: 0px 0px 10px 4px navy; }
  #cmp #edit-submitted-field-webform-mobile-und-0-value {
    float: left; }
  #cmp form.webform-client-form #edit-actions--2 {
    height: auto;
    text-align: inherit; }
  #cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
    height: 3em;
    margin-top: 0.5em;
    padding-left: 0.7em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  #cmp .pane-campaign-sign-up label {
    color: white;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
    font-family: din-web-reg;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: left; }
  #cmp .pane-campaign-sign-up .form-submit {
    position: static;
    margin: 1em auto 0;
    padding: 0.3em 0.7em; }
  #cmp #campaign-opt-in {
    clear: both;
    text-align: left;
    padding: 0.5em !important; }
    #cmp #campaign-opt-in span {
      font-size: 0.7em;
      line-height: 0.7em;
      background: transparent;
      color: white; }
    #cmp #campaign-opt-in strong {
      font-weight: 600; }
  #cmp .webform-client-form {
    box-shadow: none; }
  #cmp .already_submitted {
    margin: 0 auto;
    width: 85%; }
    #cmp .already_submitted img {
      margin: 2% 0 0 0;
      float: left; }
    #cmp .already_submitted .go-button {
      margin: 3% 0 6% 0;
      padding: 0.4em;
      font-size: 2em;
      display: block;
      width: 7em;
      float: right; }
  #cmp #webform-component-join-header, #cmp #webform-component-start-header, #cmp #edit-submitted-field-webform-email, #cmp #edit-submitted-field-webform-mobile, #cmp .form-actions.form-wrapper {
    width: 25%;
    float: left; }
  #cmp #edit-submitted-field-webform-email {
    width: 35%; }
  #cmp .form-actions.form-wrapper {
    width: 15%;
    position: static;
    height: 60px; }
  #cmp #submitted-field-webform-email-add-more-wrapper, #cmp #submitted-field-webform-mobile-add-more-wrapper, #cmp #contact-form h3 {
    width: 90%;
    margin: 0 auto; }
  #cmp #checklist {
    padding: 0 2%;
    width: 100%;
    overflow: hidden; }
    #cmp #checklist p {
      display: inline;
      padding-left: 0.5em; }
    #cmp #checklist a {
      font-weight: 600; }
      #cmp #checklist a img {
        margin: 2% auto 0;
        display: block;
        width: 81%; }
    #cmp #checklist fieldset {
      display: none; }
    #cmp #checklist #webform-component-header {
      margin-bottom: 3%; }
      #cmp #checklist #webform-component-header h3, #cmp #checklist #webform-component-header p {
        padding: 0 2%; }
    #cmp #checklist .divider {
      margin: 3% 0 6%; }
    #cmp #checklist .webform-component-checkboxes {
      padding: 0.3em 0; }
      #cmp #checklist .webform-component-checkboxes label:first-child {
        display: none; }
    #cmp #checklist .form-actions.form-wrapper {
      float: none; }
    #cmp #checklist .form-submit {
      margin: 1em;
      font-weight: 600;
      text-transform: uppercase; }
  #cmp label {
    cursor: default; }
  @media only screen and (max-width: 775px) {
    #cmp .section {
      width: 100%;
      margin: 2% auto;
      padding: 0 2%; }
    #cmp .already_submitted {
      width: 100%; }
      #cmp .already_submitted img {
        float: none; }
      #cmp .already_submitted .go-button {
        margin: 0 auto;
        float: none; }
    #cmp #header {
      background-size: 30%;
      background-position: 100% 10%; }
      #cmp #header h1 {
        font-size: 3em; }
      #cmp #header h2 {
        font-size: 1.2em; }
      #cmp #header #edit-submit {
        margin-top: 0.55em; }
    #cmp #contact-form {
      margin: 2% 0 0 0;
      padding: 2%; }
      #cmp #contact-form h3 {
        margin: 0; }
    #cmp #webform-component-start-header {
      width: 100%;
      float: none; }
    #cmp #submitted-field-webform-email-add-more-wrapper, #cmp #submitted-field-webform-mobile-add-more-wrapper {
      margin: 0; }
    #cmp #edit-submitted-field-webform-email, #cmp #edit-submitted-field-webform-mobile {
      width: 37%;
      margin: 1% 0; }
    #cmp .form-actions.form-wrapper {
      width: 20%; }
    #cmp .pane-campaign-sign-up #edit-submit {
      margin: 1.3em auto 0; }
    #cmp .drive-info-wrapper, #cmp .drive-participants {
      overflow: auto;
      float: none;
      width: 100%; }
    #cmp .drive-participants {
      border-left: none;
      border-top: 2px solid #d2d2d3;
      margin: 2% 0;
      padding: 4% 0 0 0;
      padding: 4% 0 0 0; }
    #cmp #action.action-anonymous .col33, #cmp #action.action-participant .col33 {
      width: 95%;
      margin: 3% 0; }
    #cmp #action.action-anonymous h3, #cmp #action.action-participant h3 {
      text-align: left; }
    #cmp #action.action-anonymous img, #cmp #action.action-participant img {
      display: none; }
    #cmp a.print-pdf {
      width: 37%; }
      #cmp a.print-pdf img {
        margin: 5% auto; }
    #cmp #content-module h1 {
      font-size: 1.6em; }
    #cmp #content-module img {
      display: none; }
    #cmp .make-a-difference {
      width: 85%;
      margin: 1em 1em 1em 0.5em; }
    #cmp #psa img {
      width: 20%;
      float: left;
      margin-top: 5%; }
    #cmp #prizing p {
      width: 90%;
      margin: 1em auto; }
    #cmp .views-field-nothing {
      width: 100%; }
      #cmp .views-field-nothing .go-button {
        margin: 3% auto 2%; }
    #cmp .pane-drive-search-panel-pane-1 form {
      width: 65%; }
    #cmp .views-field-field-team-name,
    #cmp .views-field-field-drive-location {
      width: 50%; }
    #cmp #scholarship {
      padding: 0; }
      #cmp #scholarship .col50 {
        width: 100%; }
    #cmp .refer5 {
      width: 100%;
      margin: 0; }
      #cmp .refer5:before, #cmp .refer5:after {
        display: none; }
    #cmp #social .col33 {
      width: 90%;
      margin: 5%; }
    #cmp #social img {
      float: left;
      width: 40%; } }
  @media only screen and (max-width: 550px) {
    #cmp .email-spit {
      width: 100%; }
      #cmp .email-spit img {
        width: 50%; }
    #cmp .socialWrapper {
      display: none; }
    #cmp #header {
      background-size: 40%;
      background-position: 95% -60%; }
      #cmp #header h1 {
        font-size: 2.5em;
        margin-top: 3%; }
      #cmp #header h2 {
        font-size: 1em; } }
  @media only screen and (max-width: 450px) {
    #cmp .section {
      margin: 5% auto; }
    #cmp #header {
      background-position: 95% -10%; }
      #cmp #header #edit-submit {
        margin-top: 0.5em;
        float: left; }
    #cmp .tagline {
      padding-left: 4%; }
    #cmp #edit-submitted-field-webform-email {
      width: 68%;
      margin: 1% 0; }
    #cmp #edit-submitted-field-webform-mobile {
      width: 32%;
      margin: 1% 0; }
    #cmp .form-actions.form-wrapper {
      width: 100%; }
    #cmp a.print-pdf {
      width: 55%; }
    #cmp .email-spit, #cmp .email-spit img {
      width: 85%;
      display: block;
      margin: 0 auto; }
    #cmp .email-spit img {
      width: 100%; }
    #cmp .pane-drive-search-panel-pane-1 form {
      width: 85%; }
    #cmp .views-field-nothing {
      margin: 0; }
    #cmp #prizing h1 {
      font-size: 1.6em; }
    #cmp #scholarship h1.condensed {
      font-size: 2.75em; }
    #cmp #social .col33 {
      width: 90%;
      margin: 2% 5%; }
    #cmp #social img {
      float: left;
      width: 50%; }
    #cmp #social h3 {
      font-size: 1em;
      text-align: left;
      padding: 0.5em; } }
