// _result.sass

#cgg
  h1, h2
    text-align: center
    text-transform: uppercase
  h2
    margin: 1em 0
  span
    color: #1DA4E4
  
.field-name-ccg-celeb-image img
  margin: 3% auto
  width: 40%
  display: block

.cgg_facebook, .cgg_twitter
  display: block
  width: 150px
  height: 50px
  text-indent: -1000px
  margin: 0
  float: left
  &:hover
    background-position-y: -50px

.cgg_facebook
  background-image: url("http://files.dosomething.org/files/campaigns/cgg/cgg_facebook.png")
  margin: 0 9% 0 30.1%

.cgg_twitter
  background-image: url("http://files.dosomething.org/files/campaigns/cgg/cgg_twitter.png")
