a {
  color: #d33936; }
  a:hover {
    color: black; }
  a:visited {
    color: #d33936; }

b {
  font-weight: 600; }

h1.title {
  display: none; }

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

body {
  background-color: #f5c36e;
  background-image: url("assets/bg.jpg");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: rgba(188, 134, 70, 0.4);
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%;
  border: none !important; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    font-weight: 600;
    height: 166px;
    padding: 1.5em;
    text-align: center; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: rgba(188, 134, 70, 0.4);
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #d33936; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #d33936;
        text-decoration: none; }

.campaign-counter-labels {
  color: white;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase; }

.node-campaign-blog-post .field-name-field-picture img {
  float: left;
  margin: 0 24px 24px 0; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .pane-campaign-blog-panel-pane-1:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 1em 0 1em 0; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 1em; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1em 0 1em 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
    border: none;
    margin: 0; }
  .pane-campaign-blog-panel-pane-2 .views-field-title a {
    color: white; }

.pane-campaign-social .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .socialWrapper:before {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 248px; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #d33936;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }

.panel-row-actions {
  background: rgba(188, 134, 70, 0.4);
  border: none !important;
  margin: 1em 0 2em 0; }
  .panel-row-actions .pane-title {
    background: #d33936; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content {
      padding: 0; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .webform-client-form {
        border: none !important;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .field-name-field-webform-mobile {
        margin-bottom: 0.5em; }
        .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .field-name-field-webform-mobile input {
          width: 100%; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .field-name-field-webform-email {
        margin-bottom: 0.5em; }
        .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .field-name-field-webform-email input {
          width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up #edit-.form-wrapper {
      margin-bottom: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up #edit-actions {
      height: auto; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up #edit-submit {
      margin-right: 0; }

.panel-row-ad-psa {
  margin-top: 46px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #d33936;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0;
    line-height: 1.25em; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  background: rgba(188, 134, 70, 0.4); }
  .panel-row-flexible .panel-pane .pane-title {
    background: #d33936; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-flexible-top {
  margin-bottom: 2em; }

.panel-row-logos .pane-title {
  color: #d33936;
  background: none;
  margin: 0;
  padding: 0; }

.border-none {
  border: none !important; }

.clear-both {
  clear: both; }

.epic-list-items {
  border: none !important; }
  .epic-list-items .pane-content {
    padding: 1.5em; }
  .epic-list-items h3 {
    color: white;
    font-size: 1.5em; }
  .epic-list-items li p {
    margin-bottom: 1em; }

.epic-resources h3 {
  line-height: 1.5em; }

.margin-bottom-0 {
  margin-bottom: 0; }
  .margin-bottom-0 .pane-content {
    padding-bottom: 0; }
    .margin-bottom-0 .pane-content p {
      margin-bottom: 0; }

.mcommons-webform {
  float: left;
  width: 66%;
  margin-right: 5%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 1.6em; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .go-button {
    padding-top: 3px; }
  .mcommons-webform .pane-content {
    height: 166px;
    padding: 0.5em; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

.pane-node-field-campain-date {
  color: #d33936;
  font-weight: 600; }

.panel-row-ad-quick-info h2 {
  color: black;
  font-size: 26px;
  font-weight: 600; }
.panel-row-ad-quick-info .pane-content p {
  margin-bottom: 1em; }

.prizes-2-column-body {
  float: left;
  margin-right: 4%;
  width: 48%;
  border: none !important; }
  .prizes-2-column-body:last-child {
    margin-right: 0; }
  .prizes-2-column-body .cash-header {
    margin-bottom: 2em; }
    .prizes-2-column-body .cash-header p {
      margin-bottom: 0; }
  .prizes-2-column-body .pane-content {
    height: 365px;
    padding: 1.5em;
    text-align: center; }
    .prizes-2-column-body .pane-content .prizes-pane-content-text-content {
      margin-right: 1.5em;
      position: absolute;
      top: 214px; }
    .prizes-2-column-body .pane-content h2 {
      color: black;
      font-size: 3.5em;
      font-weight: 600;
      line-height: 1em; }
    .prizes-2-column-body .pane-content h3 {
      color: black;
      font-size: 2em;
      font-weight: 600;
      line-height: 1em; }

.prizes-2-column-body-last-child {
  margin-right: 0 !important; }

.red-dot {
  list-style-image: url("assets/red-dot.png");
  list-style-position: outside; }

.report-back-teaser {
  font-size: 1.25em;
  padding: 1em; }
  .report-back-teaser h3 {
    color: white;
    font-size: 1.5em; }

.sign-up-long-form {
  border: none !important; }
  .sign-up-long-form .webform-client-form {
    border: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.text-align-right {
  text-align: right; }

.pane-campaign-school-list-panel-pane-1 {
  border: none !important; }
  .pane-campaign-school-list-panel-pane-1 .pane-content form {
    margin-left: 275px; }
  .pane-campaign-school-list-panel-pane-1 .pane-content .views-field-name a {
    color: white !important;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 14px; }
  .pane-campaign-school-list-panel-pane-1 .pane-content ul {
    list-style: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    -o-column-gap: 0px;
    column-gap: 0px;
    margin-left: 80px; }

#campaign-opt-in {
  font-size: 11px; }
  #campaign-opt-in a#opt-in-help {
    vertical-align: super;
    font-weight: bold; }
  #campaign-opt-in a#opt-in-help:hover {
    color: black;
    text-decoration: none; }

#report-back {
  border: 0; }
  #report-back form {
    border: 0; }
  #report-back .form-wrapper {
    margin-bottom: 0px; }

#school-name {
  border: 0;
  background-color: #d33936; }
  #school-name .pane-content {
    padding: 6px 12px 6px 12px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px; }
    #school-name .pane-content h2 {
      color: white; }

#share-your-story {
  border: 0;
  float: left; }
  #share-your-story .pane-content {
    padding: 10px;
    padding-bottom: 25px;
    width: 480px;
    text-align: center; }
    #share-your-story .pane-content .content-content {
      padding: 5px 5px 35px 5px;
      background: rgba(0, 0, 0, 0.13); }
      #share-your-story .pane-content .content-content a {
        right: 222px;
        bottom: 30px; }

#members-list {
  border: 0;
  float: left; }
  #members-list .pane-title {
    background: none;
    padding: 10px 0 0 10px;
    font-size: 24px;
    line-height: 24px; }
  #members-list .pane-content {
    padding: 10px;
    width: 271px;
    height: 177px;
    overflow: auto; }
    #members-list .pane-content ul {
      list-style: none; }
      #members-list .pane-content ul li {
        font-size: 18px;
        line-height: 18px; }
    #members-list .pane-content .content-content {
      padding: 5px 5px 34px 5px; }

#drive-tools {
  border: 0;
  clear: both; }
  #drive-tools .pane-content {
    padding: 10px;
    padding-bottom: 25px;
    width: 480px; }
    #drive-tools .pane-content .content-content {
      padding: 5px;
      background: rgba(0, 0, 0, 0.13); }
      #drive-tools .pane-content .content-content img {
        margin-left: 115px; }
      #drive-tools .pane-content .content-content ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        -o-column-gap: 0px;
        column-gap: 0px;
        margin-left: 20px; }
        #drive-tools .pane-content .content-content ul li {
          margin-bottom: 15px; }
          #drive-tools .pane-content .content-content ul li a {
            font-size: 18px;
            line-height: 18px;
            color: white; }

.pane-campaign-school-pages-photo-gallery {
  border: none; }
  .pane-campaign-school-pages-photo-gallery .jcarousel-container-horizontal {
    padding: 5px 0; }
    .pane-campaign-school-pages-photo-gallery .jcarousel-container-horizontal img {
      border: none; }

#breadcrumbs {
  display: none; }
