// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #D33936
$complement: #ffffff
$secondaryLink: black

// borders
@mixin borderTop
  border-top: 1px solid #000000
  border-top: 1px solid rgba(0,0,0,.5)
@mixin borderBot
  border-bottom: 1px solid #ffffff
  border-bottom: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif

// custom font vars
$boldWeight: 600
$fontHeaderSize: 26px

// padding and margins
$paneContentPadding: 1.5em

// page background
$imageBackground: url('assets/bg.jpg')
$bgFallback: #F5C36E

// block definition (all blocks--don't define width or float here)
@mixin block
  background: transparent
  background: rgba(188,134,70,.4)

@mixin grayLine
  +borderTop
  +borderBot

@mixin noBorder
  border: none !important

@mixin noBoxShadow
  -moz-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  +borderTop
  +borderBot


//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

a
  color: $baseColor
  &:hover
    color: $secondaryLink
  &:visited
    color: $baseColor

b
  font-weight: $boldWeight

h1.title
  display: none

hr
  +grayLine

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat-y
  background-position: center top

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 20px
  padding-top: 10px

.three-boxes
  width: 29%
  float: left
  margin-right: 6.5%
  +noBorder
  &:last-child
    margin-right: 0
  .pane-content
    font-weight: $boldWeight
    height: 166px
    padding: $paneContentPadding
    text-align: center

.three-boxes-last-child
  margin-right: 0 !important

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder


//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    .active
      color: $baseColor
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: $secondaryLink
      &:hover, .active
        color: $baseColor
        text-decoration: none

.campaign-counter-labels
  color: white
  font-family: $accent
  font-size: 24px
  line-height: 24px
  text-transform: uppercase

.node-campaign-blog-post
  .field-name-field-picture
    img
      float: left
      margin: 0 24px 24px 0

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  border: none !important
  &:before
    +insetBorder
  &:after
    +insetBorder
  .pane-content
    padding: 1em 0 1em 0

.pane-campaign-blog-panel-pane-2
  border: none !important
  .pane-content
    padding: 1em
  .view-campaign-blog
    .views-row
      &:before
        +insetBorder
        margin: 1em 0 1em 0
      &:first-child
        &:before
          border: none
          margin: 0
  .views-field-title
    a
      color: white

.pane-campaign-social
  .socialWrapper
    margin: 0 0 8px 18px
    &:before
      +grayLine
      content: ""
      display: block
      left: -18px
      margin-bottom: 8px
      position: relative
      width: 248px

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    .pane-title
      background: none
      color: $baseColor
      padding: 0
      font-size: $fontHeaderSize
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em

// actions panel (sign-up and counter)
.panel-row-actions
  +block
  +noBorder
  margin: 1em 0 2em 0
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    .pane-campaign-sign-up
      margin: 0
      .pane-content
        padding: 0
        .webform-client-form
          +noBorder
          +noBoxShadow
        .field-name-field-webform-mobile
          margin-bottom: 0.5em
          input
            width: 100%
        .field-name-field-webform-email  
          margin-bottom: 0.5em
          input
            width: 100%
      #edit-.form-wrapper
        margin-bottom: 0
      #edit-actions
        height: auto
      #edit-submit
        margin-right: 0

// ad row (quick info and psa)
.panel-row-ad-psa
  margin-top: 46px

.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $secondaryLink
    line-height: 1.3em
    font-weight: 500
  .pane-content
    margin-top: 1em
    h3
      color: $baseColor
      font-size: $fontHeaderSize
      text-transform: uppercase
      font-weight: 600
      line-height: 1em
    p
      margin: 0
      line-height: 1.25em
    &:before
      margin-bottom: 20px

.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

.panel-row-flexible-top
  margin-bottom: 2em

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0

// custom
.border-none
  +noBorder

.clear-both
  clear: both

.epic-list-items
  +noBorder
  .pane-content
    padding: $paneContentPadding
  h3
    color: white
    font-size: $paneContentPadding
  li
    p
      margin-bottom: 1em

.epic-resources
  h3
    line-height: 1.5em

.margin-bottom-0
  margin-bottom: 0
  .pane-content
    padding-bottom: 0
    p
      margin-bottom: 0

.mcommons-webform
  float: left
  width: 66%
  margin-right: 5%
  +noBorder
  input.field
    width: 85%
    height: 1.6em
  label
    font-weight: $boldWeight
  // overriding padding on go-button to center the SUBMIT text
  .go-button
    padding-top: 3px
  .pane-content
    height: 166px
    padding: 0.5em

.mcommons-webform-column
  float: left
  width: 40%
  margin-right: 2%

.pane-node-field-campain-date
  color: $baseColor
  font-weight: $boldWeight

.panel-row-ad-quick-info
  h2
    color: black
    font-size: $fontHeaderSize
    font-weight: $boldWeight
  .pane-content
    p
      margin-bottom: 1em

.prizes-2-column-body
  float: left
  margin-right: 4%
  width: 48%
  +noBorder
  &:last-child
    margin-right: 0
  .cash-header
    margin-bottom: 2em
    p
      margin-bottom: 0
  .pane-content
    height: 365px
    padding: $paneContentPadding
    text-align: center
    .prizes-pane-content-text-content
      margin-right: $paneContentPadding
      position: absolute
      top: 214px
    h2
      color: black
      font-size: 3.5em
      font-weight: $boldWeight
      line-height: 1em
    h3
      color: black
      font-size: 2em
      font-weight: $boldWeight
      line-height: 1em

.prizes-2-column-body-last-child
  margin-right: 0 !important

.red-dot
  list-style-image: url("assets/red-dot.png")
  list-style-position: outside

.report-back-teaser
  font-size: 1.25em
  padding: 1em
  h3
    color: white
    font-size: 1.5em

.sign-up-long-form
  +noBorder
  .webform-client-form
    +noBorder
    +noBoxShadow

.text-align-right
  text-align: right

.pane-campaign-school-list-panel-pane-1
  border: 0
  .pane-content
    form
      margin-left: 275px
    .views-field-name a
      color: white !important
      text-decoration: none
      font-weight: 300 !important
      font-size: 14px
    ul
      list-style: none
      +column-count(2)
      +column-gap(0px)
      margin-left: 80px

#campaign-opt-in
  font-size: 11px
  a#opt-in-help
    vertical-align: super
    font-weight: bold
  a#opt-in-help:hover
    color: $secondaryLink
    text-decoration: none

#report-back
  border: 0
  form 
    border: 0
  .form-wrapper	
    margin-bottom: 0px

#school-name
  border: 0
  background-color: #D33936
  .pane-content
    padding: 6px 12px 6px 12px
    margin-top: 0
    margin-bottom: 0
    line-height: 22px
    h2
      color: white

#share-your-story
  border: 0
  float: left
  .pane-content
    padding: 10px
    padding-bottom: 25px
    width: 480px
    text-align: center
    .content-content
      padding: 5px 5px 35px 5px
      background: rgba(0, 0, 0, .13)
      a
        right: 222px
        bottom: 30px

#members-list
  border: 0
  float: left
  .pane-title
    background: none
    height: 207px
    padding: 10px 0 0 10px
    font-size: 24px
    line-height: 24px
  .pane-content
    padding: 10px
    width: 271px
    max-height: 140px
    overflow: auto
    ul
      list-style: none
      li
        font-size: 18px
        line-height: 18px
    .content-content
      padding: 5px 5px 35px 5px

#drive-tools
  border: 0

#school-gallery
  clear: both
