=remove-link-underlines

// see: elements-ui-patterns-drupal.html for markup

// SITE NAME
#site-name
  a
    text-decoration: none

// MENUS
#main-menu
  +horizontal-list(0.5em)

// SEARCH FIELD

// MESSAGES
.messages
  border: 1px solid $border-color
  padding: $kit-baseline-half 0.5em
  p:last-child
    margin-bottom: 0
.status, .warning, .error
  @extend .messages
.status
  border-color: $green
  color: $green
.warning
  border-color: $orange
  color: $orange
.error
  border-color: $red
  color: $red

// BLOCK

// TABS
ul.tabs
  +tabs

.tabs
  clear: both
  ul.tabs
    font-size: 12px
    // width: 100%
    border-bottom: 1px solid #CCCCCC
    padding-left: 12px
    padding-top: 12px
    +clearfix
    margin-bottom: 12px
    li
      padding: 6px 0 4px 0
      border: 0
      a
        +background-image(linear-gradient(top, #FCFDFA, #F1F2EF))
        +border-top-radius(6px)
        color: #666666
        padding: 6px
        margin-right: 4px
        border-color: #CCCCCC
        &.active
          color: $gray
          background: $white
          border-color: #CCCCCC
          border-bottom: 0
          &:hover
            color: $gray
            background: $white
        &:hover
          color: $white
          background: $gray
          border-color: #CCCCCC


// NEW USER FORM
.form-required
  color: $red

// LOG IN FORM

// NEW PASSWORD FORM

// PAGERS
ul.pager
  +horizontal-list(0.5em)
  a
    text-decoration: none

// RSS LINK
a.feed-icon
  text-decoration: none

// INLINE LINKS
ul.inline
  +inline-list

// TAXONOMY LIST
.field-type-taxonomy-term-reference
  .field-item
    display: inline

// FIELDS
.field-label-above
  .field-label
    display: block

// NODE PAGE

// COMMENTS
#comments
  .comment
    +vertical-separation
    &:last-child
      +un-vertical-separation
  .indented
    padding-left: 1em


//  - flip content -
body.pics-for-pets-home 
  div[role="main"]
    background: none !important
.s4
  hr
    clear: both
    border: 1px solid #ccc
  h2, h3
    color: #E52127
    text-align: center
  h2
    font-size: 40px
    margin: 10px 0 10px
  h3
    font-size: 30px
    margin: 26px 0 20px
.carter, .lastcarter
  background: white
  float: left
  margin: 4px 9px 10px
  border: 3px solid #CCEAEC
  box-shadow: 0px 6px 18px -8px #444
  h3
    text-align: left
    text-transform: uppercase
    margin: 10px 4px
    font-size: 24px
    color: #222
  p
    font-size: 14px
    text-transform: none
    font-weight: normal
    font-family: arial
    margin: 0 10px 10px
    span
      color: red
  img
    float: left
    width: 215px
    padding: 10px
.lastcarter
  margin-bottom: 40px    

ul.numbers
  li
    float: left
    width: 21%
    margin: 20px 2% 10px
    padding: 0
    text-align: center
    border-right: 2px solid #ccc
    line-height: 1.1em
    font-weight: 600
    text-transform: uppercase
    font-size: 18px
    list-style: none
    &.last
      border-right: none
  span
    color: #E52127
    font-size: 38px
    font-weight: 600
    line-height: 1.1em

.join-club, .learn-about
  text-transform: uppercase
  font-size: 36px
  margin: 40px 0
  text-align: center
  line-height: 1.1em
  a
    padding: 20px 10px 12px
    width: 400px
    text-shadow: 0px 1px -1px #9EE4E5
    display: block
    color: #222 !important
    margin: 0 auto
    box-shadow: 0px 0px 16px #cbcbcb
    border: 1px solid #7EB1B2
    border-radius: 16px
    background: #91e2e4
    background: -moz-linear-gradient(top,  #91e2e4 0%, #cceaec 30%, #cceaec 55%, #91e2e4 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91e2e4), color-stop(30%,#cceaec), color-stop(55%,#cceaec), color-stop(100%,#91e2e4))
    background: -webkit-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: -o-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: -ms-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: linear-gradient(to bottom,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e2e4', endColorstr='#91e2e4',GradientType=0 )
    &:hover
      color: #000
      text-decoration: none
.thanks
  margin: -130px auto 0
  display: block
