#main-wrapper div[role="main"] {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent;
  width: 800px; }
#main-wrapper #breadcrumb, #main-wrapper #page-title, #main-wrapper #block-dosomething-login-become-member, #main-wrapper #block-dosomething-blocks-dosomething-make-impact, #main-wrapper #block-dosomething-blocks-dosomething-social-skyscraper {
  display: none; }
#main-wrapper ul.primary {
  border-bottom: none;
  margin: 0;
  padding: 15px 0 0 8px;
  height: 37px; }

body {
  background: #d69a92;
  background: url(assets/bg.jpg); }

@media only screen and (max-width: 1075px) {
  .region-sidebar-first {
    display: none; }

  #site-name {
    top: -53px;
    left: 23px; }
    #site-name a {
      height: 50px;
      width: 60px;
      background-size: 60px; }

  #utility-bar {
    height: 55px; }

  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .search, #utility-bar #block-dosomething-blocks-dosomething-utility-bar #help-center {
    display: none; }
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .login {
    padding: 1em 2em 0 0; }

  #page {
    width: 100%; }

  #main-wrapper div[role="main"] {
    float: none;
    width: 100%; }

  nav[role="navigation"] {
    display: none; }

  .container {
    margin: 0 auto;
    width: 100%; }

  header[role="banner"] {
    position: relative;
    width: 797px;
    margin: 0 auto; }
  #block-menu-menu-footer .content {
    width: 80%;
    margin: 0 auto; }

  #block-menu-menu-footer .content ul.menu li span {
    font-size: 16px;
    line-height: 1em; }

  #block-menu-menu-footer .content ul.menu ul li a {
    font-size: 14px;
    line-height: 1em; }

  #cmp .pane-content .s0 {
    margin-top: 0; }
  #cmp #campaign-opt-in {
    text-align: center; } }
  @media only screen and (max-width: 1075px) and (max-width: 775px) {
    header[role="banner"] {
      width: 100%; } }

#cmp img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }
#cmp .pane-title {
  display: none; }

#cmp html, #cmp body, #cmp div, #cmp span, #cmp applet, #cmp object, #cmp iframe,
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp h5, #cmp h6, #cmp p, #cmp blockquote, #cmp pre,
#cmp a, #cmp abbr, #cmp acronym, #cmp address, #cmp big, #cmp cite, #cmp code,
#cmp del, #cmp dfn, #cmp em, #cmp img, #cmp ins, #cmp kbd, #cmp q, #cmp s, #cmp samp,
#cmp small, #cmp strike, #cmp strong, #cmp sub, #cmp sup, #cmp tt, #cmp var,
#cmp b, #cmp u, #cmp i, #cmp center,
#cmp dl, #cmp dt, #cmp dd, #cmp ol, #cmp ul, #cmp li,
#cmp fieldset, #cmp form, #cmp label, #cmp legend,
#cmp table, #cmp caption, #cmp tbody, #cmp tfoot, #cmp thead, #cmp tr, #cmp th, #cmp td,
#cmp article, #cmp aside, #cmp canvas, #cmp details, #cmp embed,
#cmp figure, #cmp figcaption, #cmp footer, #cmp header, #cmp hgroup,
#cmp menu, #cmp nav, #cmp output, #cmp ruby, #cmp section, #cmp summary,
#cmp time, #cmp mark, #cmp audio, #cmp video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline; }
#cmp article, #cmp aside, #cmp details, #cmp figcaption, #cmp figure,
#cmp footer, #cmp header, #cmp hgroup, #cmp menu, #cmp nav, #cmp section {
  display: block; }
#cmp body {
  line-height: 1; }
#cmp ol, #cmp ul {
  list-style: none; }
#cmp blockquote, #cmp q {
  quotes: none; }
#cmp blockquote:before, #cmp blockquote:after,
#cmp q:before, #cmp q:after {
  content: "";
  content: none; }
#cmp table {
  border-collapse: collapse;
  border-spacing: 0; }
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp p, #cmp b, #cmp a, #cmp label, #cmp .divider, #cmp .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  color: black; }
#cmp h1, #cmp h3, #cmp .divider {
  text-transform: uppercase; }
#cmp h1 {
  font-size: 2.5em;
  line-height: 1.54em; }
#cmp h1.condensed {
  font-size: 3.75em;
  font-weight: 600;
  font-family: "din-web"; }
#cmp h2 {
  font-size: 1.5em;
  line-height: 1.55em; }
#cmp h3 {
  font-size: 1.25em;
  line-height: 22px; }
#cmp h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 17px; }
#cmp p, #cmp label {
  font-size: 1em;
  font-weight: 500;
  line-height: 17px; }
#cmp input[type="submit"] {
  font-size: 2em; }
#cmp .divider {
  color: white; }
#cmp .legal {
  font-size: 0.625em;
  font-weight: 500;
  line-height: 1em; }
#cmp .section {
  overflow: auto;
  background: white;
  margin: 0 auto;
  padding: 2% 2% 0 2%;
  text-align: center; }
#cmp .col33, #cmp .col40, #cmp .col50, #cmp .col60 {
  float: left;
  padding: 0 1.5%; }
#cmp .col33 {
  width: 33%; }
#cmp .col40 {
  width: 40%; }
#cmp .col50 {
  width: 50%; }
#cmp .col60 {
  width: 60%; }
#cmp .divider {
  border-top: 2px solid #eeeeee;
  margin: 0 0 3% 0;
  padding: 0.8% 0 0 0; }
  #cmp .divider span {
    background: black;
    padding: 0.5em 0.8em;
    position: relative; }
#cmp .mcommons-col {
  width: 45%;
  margin: 0 0 0 5%;
  float: left; }
  #cmp .mcommons-col input[type="text"] {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: none; }
  #cmp .mcommons-col input, #cmp .mcommons-col label {
    float: left;
    margin: 0 0 5% 0; }
#cmp .header {
  background: url("assets/brad.jpg");
  background-position: 29% -120%; }
  #cmp .header h1, #cmp .header h2 {
    text-align: left;
    color: #ffcb15; }
  #cmp .header span {
    text-align: center;
    background: #7f3f80;
    background: rgba(127, 63, 128, 0.6); }
  #cmp .header .webform {
    margin: 0 0 0 -2%;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    width: 105%; }
#cmp .pane-campaign-sign-up {
  clear: both;
  width: 100%;
  margin: 18% 0 0 0; }
  #cmp .pane-campaign-sign-up h1 {
    font-family: din-web;
    font-size: 23px;
    text-align: center;
    color: white; }
  #cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
    width: 35%;
    float: left;
    margin: 0 2.5%; }
  #cmp .pane-campaign-sign-up #edit-actions {
    float: right;
    position: static;
    margin: 0 2% 0 0;
    height: 32px; }
#cmp #campaign-opt-in {
  clear: both; }
  #cmp #campaign-opt-in span {
    font-size: 10px; }
#cmp .webform-client-form {
  box-shadow: none; }
#cmp .action img {
  display: block;
  margin: 5% auto; }
#cmp .mcommons-webform input.field {
  width: 85%;
  height: 23px;
  margin-bottom: 6px; }
#cmp .mcommons-webform label {
  font-weight: 600; }
#cmp .mcommons-webform-column {
  float: left;
  width: 40%;
  margin-left: 9%; }
#cmp .go-button {
  position: static;
  float: right;
  padding: 1.5% 5% 1% 5%;
  margin: 0 14% 0 0; }
#cmp form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }
#cmp .form-wrapper {
  margin-bottom: 5px; }
#cmp .ds-panel .pane-content {
  padding-bottom: 0; }
#cmp .hidden {
  display: none; }
#cmp .scholarship {
  overflow: visible; }
  #cmp .scholarship label, #cmp .scholarship input[type="text"] {
    height: 25px;
    padding: 0.5em 0;
    margin: 0.8% 0;
    width: 50%;
    text-align: left; }
  #cmp .scholarship label {
    float: left;
    clear: left;
    color: white; }
  #cmp .scholarship input[type="text"], #cmp .scholarship input[type="submit"] {
    float: right;
    clear: right; }
  #cmp .scholarship input[type="submit"] {
    background: #ffcb15;
    margin: 0;
    padding: 0 0.7em;
    font-size: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    #cmp .scholarship input[type="submit"]:hover {
      color: #464341; }
#cmp .refer5 {
  background: #7f3f80;
  width: 110%;
  margin: 0 0 0 -5%; }
  #cmp .refer5:before, #cmp .refer5:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 11px; }
  #cmp .refer5:before {
    border-color: transparent #3b1d3c #3b1d3c transparent;
    left: -22px;
    top: 43px; }
  #cmp .refer5:after {
    border-color: transparent transparent #3b1d3c #3b1d3c;
    right: -22px;
    top: 43px; }
#cmp .faq h4, #cmp .faq li, #cmp .faq p {
  text-align: left;
  padding: 0 0 0 1.5em; }
#cmp .faq li, #cmp .faq p {
  display: none; }
#cmp .faq h4 {
  color: #7f3f80;
  cursor: pointer;
  background: url("assets/faq2.png");
  background-repeat: no-repeat; }
#cmp .activeFAQ {
  background-position-y: -27px; }
