$height: 390px
$width: 715px
$sidebar: 188px

@import rotoslider

.rotoslider-image-nav
  img.rotoslider-image,
  .rotoslider-images,
  .rotoslider-images img
    width: $main-width
  .rotoslider-description
    bottom: 0
  .rotoslider-descriptions
    & > div
      background:
        position: bottom right
        repeat: no-repeat
      height: $description-height - $double-text-padding
      padding-right: $sidebar + $text-padding
      width: $main-width - $double-text-padding
  .rotoslider-menu
    height: $image-nav-height
  .rotoslider-nav
    height: $image-nav-height
    img
      height: $image-nav-height / 5
      vertical-align: middle
      width: 100%
