@import base

.rotoslider
  .rotoslider-description
    line-height: 1.4
    padding: 20px $text-padding
    top: 10px
    width: $sidebar - 2 * $text-padding
  .rotoslider-description,
  .rotoslider-text
    background-color: rgba($purple, 0.7)
    color: $white
  .rotoslider-text
    bottom: 5px
    .heading
      font-size: 1.5em
      line-height: 1
  .rotoslider-menu
    border-bottom-color: $yellow
    .heading
      background-color: $yellow
      font-weight: bold
      letter-spacing: 1px
      text-align: center
      text-transform: uppercase
  .rotoslider-nav li a
    background-color: rgba($black, 0.6)
    border-bottom-width: 0
    color: #999
    font-weight: bold
    padding: 0.5em 0
    text-align: center
    text-decoration: none
    &:hover
      background-color: rgba($black, 0.4)
      color: #ccc
    &.active
      background-color: rgba($black, 0.8)
      color: $white
