// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #b196b7
$complement: #ffffff
$secondaryLink: black
$contentBG: rgba(177, 150, 183, 0.7)

// borders
$borderTop: 1px solid rgba(216,217,221,.5)
$borderBot: 2px solid rgba(144,93,166,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif

// page background
$imageBackground: url('/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/bully/assets/bg.jpg')
$bgFallback: #2387c7

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot


//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.region-content a
  color: #000
  text-decoration: underline
  &:hover
    color: #444

h1.title
  display: none

p
  margin-bottom: 1em

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat
  background-position: center top

div[role="main"]
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px
  background: rgba(255,255,255,0.5)	

.three-boxes
  width: 29%
  float: left
  margin-right: 6.5%
  &:last-child
    margin-right: 0


.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

/* universal declarations to be overridden per block if necessary */

.pane-content
  h3
    font-size: 26px
    font-weight: 600
    line-height: 1.1em
    color: black
    text-transform: uppercase
  ul
    margin-left: 1em
    padding: 0
    list-style: none
    +clearfix
  li
    font-weight: bold
    text-decoration: underline
    font-size: 12px
    line-height: 24px
    margin: 0
    padding-left: 0px
  br
    clear: left

.pane-title
  background: black
  color: white

.ds-panel
  .pane-content
    padding-bottom: 0px

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    background-image: none
    text-align: right
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: $secondaryLink
      &:hover, .active
        color: $baseColor
        text-decoration: none

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    margin: 10px 0 0 0
    padding: 0
    font-family: $accent
    .pane-title
      background: none
      color: $baseColor
      padding: 0
      font-size: 26px
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em
      background: none

// actions panel (sign-up and counter)
.panel-row-actions
  background: $contentBG
  .pane-title
    background: black
    color: white
    width: 100%
  .pane-content
    padding: 8px 12px

// ad row (quick info and psa)
.panel-row-ad-quick-info
  .pane-title
    text-transform: uppercase
    color: #333
    height: 40px
    font-size: 30px
    padding: 0px 5px 5px 10px
  .pane-content
    padding: 0
    background: transparent
    h3
      color: black
      font-size: 24px
      text-transform: uppercase
      font-weight: 500
      line-height: 1em
    p
      margin: 0
    &:before
      // +insetBorder
      margin-top: 5px
      margin-bottom: 10px
      background: transparent

.panel-row-ad-psa
  background: transparent
  .pane-title
    background: $baseColor
  .pane-content
    background: none  
    padding: 0
  	
.panel-row-flexible
  // .panel-pane
  //   .pane-title
  //     background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0
  .pane-content
    background: none
    padding: 0  

.panel-row-top-logo
  .pane-content
    padding: 0
    background: none
  p /* in case we need text to go with the logo */
    color: $baseColor
    font-size: 28px 
    font-weight: bold
    margin: 0 0 0 20px

//sponsor logos
#bully-logo
  position: absolute
  top: -1034px
    
/* social buttons */

.pane-node-field-campain-date
  font-weight: 600
  color: $baseColor

.pane-node-field-campaign-teaser
  p
    line-height: 1.2em
    margin: 0 0 15px 0

.panel-top-right-social
  &:before, &:after
    +insetBorder
  .panel-pane
    margin: 0
    padding: 5px 0 0 0
.fb-facepile
  &:before
    +insetBorder

.campaign-counter-numbers
  margin: 15px 15px 0 0

.campaign-counter-labels
  text-transform: uppercase
  font-size: 25px
  font-family: $accent
  font-weight: 500
  margin: 15px 0 0 15px
  line-height: 25px

.panel-pane
  margin-bottom: 0

/* added styles */
.panel-row-ad-psa
  iframe
    border: 10px solid #000

.panel-row-ad-quick-info
  p
    font-size: 12px
    list-style: none
   
.panel-row-flexible 
  .panel-pane 
    h2
      background: url('/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/bully/assets/header_bg.png')
      background-repeat: no-repeat
      margin-bottom: 15px

.panel-row-ad-quick-info
  .panel-pane 
    h2
      background: url('/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/bully/assets/header_bg.png')
      background-repeat: no-repeat
      margin-bottom: 15px

.panel-row-flexible 
  .panel-pane
    border: none

.two-boxes
  width: 45%
  float: left
  h2
    text-transform: uppercase
    color: #333
    height: 40px
    font-size: 30px
    padding: 10px 5px 5px 10px

.panel-row-actions-sign-up
  #quiz-button
    background-color: rgb(252, 207, 43)
    width: 200px
    height: 50px
    text-align: center
    color: #000
    text-decoration: none
    display: block
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    -khtml-border-radius: 4px
    text-transform: uppercase
    padding: 15px
    font-size: 20px
    font-weight: bold
    margin: 15px 10px 0px 15px

.panel-row-ad-quick-info
  .pane-title
    &:after
      border-bottom: none
      border-top: none

.right
  float: right

.sponsor_low
  margin: 135px 10px 0 0

// sweepin' away the breadcrumb trail
#breadcrumb
  display: none

// resetting the nonsense
img
  border: none !important
  box-shadow: none !important
  -o-box-shadow: none !important
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important

.panel-panel
  margin-bottom: 15px

.panel-row-flexible-bot.panel-panel,
.panel-row-logos.panel-panel
  margin-bottom: 0