////////////////////////////
// PANELS PANES
////////////////////////////
.panel-pane
  +trailer

.pane-dosomething-blocks-dosomething-social-node-buttons
  border-top: 1px solid #D8D5D4
  border-bottom: 1px solid $white
  width: 752px

// #edit-submit-action-finder
.views-submit-button
  +float-left
  clear: both
  a
    @extend .go-button

