////////////////////////////
// VITAL STATS
// Stats pane on projects pages
////////////////////////////

.vital-stats
  @extend .border-and-shadow
  @extend .clearfix
  padding: $s1 $s8 $s4a $s8
  ul
    list-style: none
    padding-left: 0
  .title,
  .name
    @extend .large-profile-info
    @extend .bold
  .title
    margin-bottom: $s6
  .info
    +float-left
  .counter,
  .digits
    text-align: right
  .counter
    +float-right
    li
      margin-bottom: $s-1
