////////////////////////////
// Create your site-specific
// styles here
////////////////////////////
#page
  width: 760px
  height: 800px
  margin: auto
  background: $background-color url(../images/bg.png) no-repeat


.front
  #page
    background: #b8e3ea url(../images/pitbull-bg.jpg) no-repeat
    background-position: 0 -350px
    padding-bottom: 12px


#logo
  +float-right

#name-and-slogan
  +float-left

#content
  clear: both

.mission-text
  background: rgba($white, 0.75)
  width: 100%
  text-transform: uppercase
  font-size: 45px
  text-align: center
  line-height: 1.125
  margin-top: 225px

#gallery-link
  // background: $white
  +float-right
  color: $pfp-red
  text-transform: uppercase
  font-size: 24px
  line-height: 1.25

.picsforpets-scholarship
  +replace-text-with-dimensions('5k-scholarship.png')
  +float-left
  // z-index: 1000px
  position: relative

.picsforpets-gallery
  background: $white
  padding-right: 40px
  padding-left: 24px
  +float-left
  margin-top: 30px
  margin-left: -12px

#ds-logo
  +replace-text-with-dimensions('ds-logo.png')
  +float-left
  margin: 12px

#logo
  margin: 6px

