////////////////////////////
// Create your site-specific
// styles here
////////////////////////////
#page
  width: 760px
  min-height: 600px
  margin: auto
  padding: 18px
  // background: $background-color url(../images/pitbull-bg.jpg) no-repeat

.front
  #page
    background: $background-color url(../images/pitbull-bg.jpg) no-repeat
    background-position: 0 -350px

#logo
  +float-right

#name-and-slogan
  +float-left

.mission-text
  background: $white
  width: 100%
  text-transform: uppercase


