////////////////////////////
// Create your site-specific
// styles here
////////////////////////////
#page
  width: 760px
  min-height: 600px
  margin: auto
  // padding: 18px
  // background: $background-color url(../images/pitbull-bg.jpg) no-repeat

.front
  #page
    background: $background-color url(../images/pitbull-bg.jpg) no-repeat
    background-position: 0 -350px

#logo
  +float-right

#name-and-slogan
  +float-left

.mission-text
  background: rgba($white, 0.75)
  width: 100%
  text-transform: uppercase
  font-size: 45px
  text-align: center
  line-height: 1.125
  margin-top: 225px


