/* Forms --------------------------------------------------------------

// USE FORMALIZE TO EVEN FORMS ACROSS BROWSERS
@import _formalize

// aditional form styles

fieldset
  +trailer
  +rhythm-borders(1px)
  border-color: $base-color
  border-style: dotted

legend
  padding: 0 0.25em

label, input[type=button], input[type=submit], button
  cursor: pointer

label
  font-weight: bold
  margin-right: 0.5em

.textinput
  @extend .sans
  +adjust-font-size-to($s0, 1)
  +rhythm-borders(1px, 0.25, $s0)
  border-width: 1px
  +trailer(0.5)
  +box-sizing(border-box)
  // width: ($kit-col-width * 2) + ($kit-gutter * 1)
  width: calc-em(268px, $s0)
  max-width: 100%
  margin-top: 0
  border-color: $base-color
  border-color: rgba($base-color, 0.25)
  // height: $base-line-height / ms(0) * 1.5em
  height: calc-em(25px, $s0)
  +border-radius
  line-height: 1em
  .region-sidebar-first &
    +adjust-font-size-to($s-1, 1)
    line-height: 1em
    +rhythm-borders(1px, 0.25, $s-1)
    width: 100%
    height: $base-line-height / $s-1 * 0.9em

.ie7
  .region-sidebar-first
    input
      &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
      &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
      &[type=number], &[type=range], &[type=search], &[type=color]
        height: auto

.textinput-thin
  width: calc-em(251px, $s0)
  // width: 251px

textarea
  @extend .textinput
  min-height: 8em

input
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color]
    @extend .textinput
  // reset webkit search styles
  &[type=search]
    -webkit-appearance: none
    &::-webkit-search-decoration
      display: none
  &[type=number]
    line-height: 1em

select
  @extend .textinput
  line-height: 1
  .form-item-date &
    width: auto
    padding-right: 2em

button, input[type=button], input[type=submit]
  width: auto
  overflow: visible
  // DoSomething styles
  @extend .ds-button


textarea
  +box-sizing(border-box)
  // width: ($kit-col-width * 2) + ($kit-gutter * 1)

input
  &[type="radio"], &[type="checkbox"]
    margin-left: 0.25em
    margin-right: 0.25em

textarea, input:not([type="radio"])
  max-width: 100%

.region-sidebar-first
  .form-item, .form-actions
    height: calc-em(28px, $s-1)
    margin-top: 0
    margin-bottom: 0
  input[type='submit']
    clear: left
    float: right

// drupal throbber
html.js input.form-autocomplete
  background-position: 100% 5px
html.js input.throbbing
  background-position: 100% -15px

// drupal passwords
.password-strength, div.password-confirm
  width: 13em
.form-item .description
  font-size: 1em
  color: $gray

// drupal fieldsets
fieldset
  // border-color: $gray-light
  border-style: solid
  +border-radius

html.js fieldset.collapsed
  +border-radius(0)

