/* Forms --------------------------------------------------------------


// aditional form styles

.form-item,
.form-actions
  margin: 0

fieldset
  +trailer
  // +rhythm-borders(1px)
  border-width: 1px
  border-color: $gray2-trans
  &.filter-wrapper
    border-color: $gray4-trans

legend
  // padding: 0 0.25em

label, input[type=button], input[type=submit], button
  cursor: pointer

label
  @extend .bold
  // margin-right: 0.5em

form.node-form
  border: 1px $white solid
  +box-shadow(rgba($black, .3) 0 0 6px)
  padding: 12px

// General field styles
.text-full,
.textinput,
.form-select
  @extend .sans
  @extend .constrain-to-parent
  border: none
  +box-shadow(rgba(#979797, .5) 0 0 4px 1px inset)
  outline: none
  padding-left: 5px

// Single field height
.textinput
  height: 27px

// .ie7
//   .region-sidebar-first
//     input
//       &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
//       &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
//       &[type=number], &[type=range], &[type=search], &[type=color]
//         height: auto

// .textinput-thin
//   width: calc-em(251px, $s0)
//   // width: 251px

// textarea
//   @extend .textinput
//   min-height: 8em

input
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color]
    @extend .textinput
//   // reset webkit search styles
//   &[type=search]
//     -webkit-appearance: none
//     &::-webkit-search-decoration
//       display: none
//   &[type=number]
//     line-height: 1em

// Field placeholder color
input::-webkit-input-placeholder
  color: $gray5

input:-moz-placeholder,
textarea:-moz-placeholder
  color: $gray5

input.placeholder-text,
textarea.placeholder-text
  color: $gray5

// Help text
.description
  @extend .sans
  @extend .gray4
  font-size: 13px

// Text area styles
.form-textarea
  padding: 10px

// Resizable area - Grippie style
.resizable-textarea
  .grippie
    border-

// Old styles

// select
//   @extend .textinput
//   line-height: 1
//   .form-item-date &
//     width: auto
//     padding-right: 2em

// button, input[type=button], input[type=submit]
//   width: auto
//   overflow: visible
//   // DoSomething styles
//   @extend .ds-button


// textarea
//   +box-sizing(border-box)
//   // width: ($kit-col-width * 2) + ($kit-gutter * 1)

// input
//   &[type="radio"], &[type="checkbox"]
//     margin-left: 0.25em
//     margin-right: 0.25em

// textarea, input:not([type="radio"])
//   @extend .constrain-to-parent

// .region-sidebar-first
//   .form-item, .form-actions
//     height: calc-em(28px, $s-1)
//     margin-top: 0
//     margin-bottom: 0
//   input[type='submit']
//     clear: left
//     float: right

// // drupal throbber
// html.js input.form-autocomplete
//   background-position: 100% 5px
// html.js input.throbbing
//   background-position: 100% -15px

// // drupal passwords
// .password-strength, div.password-confirm
//   width: 13em
// .form-item .description
//   font-size: 1em
//   color: $gray

// // drupal fieldsets
// fieldset
//   // border-color: $gray-light
//   border-style: solid
//   +border-radius

// html.js fieldset.collapsed
//   +border-radius(0)
