/* Forms --------------------------------------------------------------

.node-form
  // Gray box
  +clearfix
  background: $gray6
  @extend .box-shadow
  min-height: 240px
  padding: 18px
  width: 100%

  .form-type-textfield
    // float: left
    input
      width: 325px
      margin-right: 15px
      margin-bottom: 12px

  // fieldset
  //   clear: both

// .page-user-registration
.popup-content
  +clearfix
  background: $gray6
  @extend .box-shadow
  // min-height: 240px
  // padding: 18px
  // width: 478px
  // margin: auto

// Already a member text
.already-member
  @extend .bold
  font-family: $font-headline
  float: right
  font-size: 18px
  padding-bottom: 6px
  padding-right: 140px
  a
    text-decoration: underline

.see-whats-new
  @extend .already-member
  +float-left

.separator
  @extend .bold
  font-size: 21px
  font-family: $font-headline
  margin-bottom: 12px
  text-align: center

.form-item,
.form-actions
  margin: 0

.form-wrapper
  margin-bottom: $s4a

fieldset
  padding-left: 0
  margin-left: 0
  border: none
  legend
    @extend .large-profile-info
    @extend .bold
    padding: $s4a 0

input[type=button], input[type=submit], button
  cursor: pointer

label
  @extend .bold
  font-size: 16px

.form-item .description
  color: $gray
  clear: both

form.webform-client-form
  @extend .border-and-shadow
  padding: $s0

// General field styles
.text-full,
.textinput
  //@extend .sans
  font-family: $font-din-reg
  font-size: 16px
  @extend .constrain-to-parent
  border: 1px solid #ccc
  //+box-shadow(rgba(#979797, .5) 0 0 4px 1px inset)
  outline: none
  padding-left: 5px

// Single field height
.textinput
  height: 2.2em
  line-height: 2.2em

.page-node-edit
  .textinput
    line-height: normal
    font-size: 12px
  button, input, select, textarea
    font-size: 0.9em

// Throbber position for single field height
html.js input.form-autocomplete
  background-image: url('http://files.dosomething.org/files/u/sitewide/throbber2.gif')
  background-position: 100% 10px

html.js input.throbbing
  background-position: 100% -17px

// Height for collapsed fieldset
html.js fieldset.collapsed
  height: 3em

input
  border: 1px solid #ccc
  +border-radius(5px)
  &:focus
    border: 2px solid #aaa
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color]
    @extend .textinput
//   // reset webkit search styles
//   &[type=search]
//     -webkit-appearance: none
//     &::-webkit-search-decoration
//       display: none
//   &[type=number]
//     line-height: 1em

// Field placeholder color
input::-webkit-input-placeholder
  color: $gray5

input:-moz-placeholder,
textarea:-moz-placeholder
  color: $gray5

input.placeholder-text,
textarea.placeholder-text
  color: $gray5

// Help text
.description
  @extend .sans
  @extend .gray4
  font-size: 13px

// Text area styles
.form-textarea
  padding: 10px

// Resizable area - Grippie style
.resizable-textarea
  .grippie
    border-

select.form-select
  @extend .constrain-to-parent
  max-width: 525px
