// BASE 

// variable definitions
$bgColor: #D1E9ED
$bgFallback: #DA1F26
$accentColor: #E52127
$lightGrey: #B6B8BA
$medGrey: #8D8F92

$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target, $context)
  @return ($target/$context)*1em
