// BASE 

// variable definitions
$BgColor: #D1E9ED
$accentColor: #E52127
$lightGrey: #ECECEC
$medGrey: #E1E1E1
$darkGrey: #A0A2A5

$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target, $context)
  @return ($target/$context)*1em
