#main-wrapper
  div[role="main"]
    padding: 0!important
    margin: 0!important
    background: $bgColor
  #breadcrumb, #page-title
    display: none
  .tabs
    background: $bgColor
  ul.primary
    border-bottom: none
    margin: 0
    padding: 15px 0 0 8px
    height: 37px

body.page-node-724411
  background: $bgColor
  .ui-dialog
    background: none !important
    width: 500px !important
    .ui-dialog-titlebar-close span
      display: none
  .ui-icon-closethick
    display: none
  .ui-widget-overlay
    opacity: 0.98  

@media only screen and (max-width: 1075px)
  .region-sidebar-first
    display: none
  #site-name
    top: -53px
    left: 23px
    a
      height: 50px
      width: 60px
      background-size: 60px 
  #utility-bar
    height: 55px
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar
    .search, #help-center
      display: none
    .login
      padding: 1em 2em 0 0
  #page
    width: 100%
  #main-wrapper div[role="main"]
    float: none
    width: 100%
    background: $bgColor
  nav[role="navigation"]
    display: none
  .container
    margin: 0 auto
    width: 100%
  header[role="banner"]
    position: relative
    width: 797px
    margin: 0 auto
    @media only screen and (max-width: 775px)
      width: 100%
  #block-menu-menu-footer .content
    width: 80%
    margin: 0 auto
  #block-menu-menu-footer .content ul.menu li span
    font-size: 16px
    line-height: 1em
  #block-menu-menu-footer .content ul.menu ul li a
    font-size: 14px
    line-height: 1em
  #cmp
    .pane-content .s0
      margin-top: 0
    #campaign-opt-in
      text-align: center

.pane-title
  display: none

// Overlay Popup for Stories
.animal-stories
  background: white !important
  color: black
  padding: 20px !important
  border-radius: 20px
  img.close
    float: right
    margin: -10px -10px 0 0
    cursor: pointer
    cursor: hand
  p
    clear: both
    span
      color: $accentColor


// Overlay Popup For Share
#overlay-animals
  display: none
  overflow: hidden
  h2, p
    color: white
    line-height: 1.1em
  h4, p
    font-family: din-web-reg
  h2
    font-family: din-web
    font-size: 100px
    font-weight: 600
    border-bottom: 1px solid white
    margin-bottom: 20px
  p
    font-size: 21px
  .official-doer
    margin: -30px
    float: left
  h3
    position: relative
    top: 112px
    left: 60px
    a
      color: #333
      text-shadow: 0 1px 1px #fff
      text-decoration: none
      text-transform: uppercase
      text-shadow: 0 1px 1px #f3e992
      border: 2px solid #f3e992
      font-size: 48px
      font-weight: 600
      padding: 8px 100px 0px
      background: #F4CA00
      background-image: linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -o-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -moz-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -webkit-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -ms-linear-gradient(bottom, rgb(244,203,0) 38%, rgb(249,216,82) 69%, rgb(247,229,68) 85%)
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(244,203,0)), color-stop(0.69, rgb(249,216,82)), color-stop(0.85, rgb(247,229,68)))
      border-radius: 18px
      &:hover
        text-decoration: none
        color: black
    img
      position: relative
      bottom: -30px
      left: -60px
  h4
    clear: both
    a
      font-size: 18px
      font-weight: 400
      float: right
      color: #F4CA00
      text-decoration: underline
      &:hover
        text-decoration: none

#fbc-modal
  z-index: 999 !important