#main-wrapper
  div[role="main"]
    padding: 0!important
    margin: 0!important
  #breadcrumb, #page-title
    display: none
  .tabs
    background: $bgColor
  ul.primary
    border-bottom: none
    margin: 0
    padding: 15px 0 0 8px
    height: 37px

body
  background: $bgColor
