// _framework
.mcommons-col
  width: 45%
  margin: 0 0 0 5%
  float: left
  input[type="text"]
    width: 100%
    height: 20px
    border-radius: 3px
    border: none
  input, label
    float: left
    margin: 0 0 5% 0

// new styles for animals!

#section0, #section1, #section2, #section3
  width: 750px
  background: #fff
  margin: 3% auto
  padding: 2%

#section0
  background-image: url("assets/bg.jpg")

#section1 img
  +noShadow

#section3 img
  +noShadow
