// _framework
.mcommons-col
  width: 45%
  margin: 0 0 0 5%
  float: left
  input[type="text"]
    width: 100%
    height: 20px
    border-radius: 3px
    border: none
  input, label
    float: left
    margin: 0 0 5% 0

// new styles for animals!

.section
  width: 750px
  overflow: hidden
  background: #fff
  margin: 3% auto
  padding: 2%

.s0
  background-image: url("assets/bg.jpg")
  background-size: 100%
  background-repeat: no-repeat
  background-color: $bgFallback

.s1 img, .s3 img
  +noShadow
