// PANES 

#section0 > img
  float: left

#animal_dates
  float: right
  width: 30%
  h1
    font-size: 27px
    color: $accentColor
    font-family: din-web

.pane-campaign-sign-up
  clear: both
  width: 100%
  margin: 36% 0 0 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  input[type="text"], input[type="tel"]
    width: 200px
    float: left
    margin: 0 0 0 5%

#campaign-opt-in
  clear: both
  span
    font-size: 10px

.webform-client-form
  box-shadow: none

#section2 h1
  font-family: din-web
  font-size: 25px
  text-align: center
  color: $accentColor

#section2
  height: 225px
  form
    width: 80%
    height: 100%
    margin: 0 auto

.mcommons-webform
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600

.mcommons-webform-column
  float: left
  width: 40%
  margin-left: 9%

.go-button
  right: 45px
  bottom: 20px
  padding-top: 3px

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0
    
.hidden
  display: none
