// PANES 

//			//
//	.s0			- header (sign up and logo) -
//			//

.s0 > img
  float: left
  width: 21%

#animal_dates
  float: right
  width: 30%
  h1
    font-size: 27px
    color: $accentColor
    font-family: din-web

#contact-form
  background: none !important 
  margin: 0 !important

.pane-campaign-sign-up
  clear: both
  width: 100%
  margin: 10% 0 0 0
  h1
    font-family: din-web
    font-size: 28px
    font-weight: 500
    text-align: center
    color: #fff
  input[type="text"], input[type="tel"]
    width: 35% 
    float: left
    margin: 0 2.5%
  #edit-actions
    float: right
    position: static
    margin: 0 2% 0 0
    height: 32px

#campaign-opt-in
  clear: both
  color: white
  text-align: center
  span
    font-size: 10px

.webform-client-form
  box-shadow: none

//			//
//	.s1			- copy section -
//			//

.s1
  text-align: center
  h1
    color: $lightGrey
    font-size: 24px
    font-family: din-web
    span
      color: $medGrey
  h2
    color: $accentColor
    font-size: 24px
    font-family: din-web
    span
      white-space: nowrap
      background: url("http://files.dosomething.org/files/campaigns/animals/underline.png")
      background-repeat: no-repeat
      background-position-y: 28px
      padding: 0 0 1% 0
  p
    font-family: din-web-reg
    font-size: 14px
    line-height: 1.5em
    width: 69%
    margin: 0 auto
    padding: 1% 0
    span
      font-weight: 600
  img
    position: absolute
    right: 30
//			//
//	.s2			- mobile commons webform -
//			//

.s2
  form
    width: 80%
    height: 100%
    margin: 0 auto
  h1
    color: $accentColor
    font-size: 24px
    font-family: din-web
    text-align: center

.mcommons-webform
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600

.mcommons-webform-column
  float: left
  width: 40%
  margin-left: 9%
  input[type="text"]
    background: #eee
    margin: 2% 0 4% 0

.go-button
  position: static
  float: right
  padding: 1.5% 5% 1% 5%
  margin: 0 14% 0 0

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0
    
.hidden
  display: none

//			//
//	.s3			- footer (sponsor section) -
//			//

.sponsors, .partners
  float: left
  padding: 0 0 0 2%

.sponsors
  width: 26%

.partners
  width: 70%
  margin: 2% 0 2% 3%
  border-left: 1px solid $medGrey
  h3
    text-transform: uppercase
    color: $medGrey
  img
    margin: 2%
  color: $lightGrey

#mobile_site
  background: #fff
  padding: 25px
  width: 800px
  .false_sidebar
    position: absolute
    left: -205px
    top: 115px
  .col_one
    margin-left: 8px
    margin-right: 33px
  h1, h2
    color: $accentColor
  p
    margin: 0 15px 15px 15px
  img
    +noBorder
    +noShadow

.mobile_screenshots
  img
    width: 350px
    background: #222
    margin-top: 20px
    margin-bottom: 15px
    padding: 25px
    +border-radius(7px)
  li
    list-style: none
    text-align: center
    text-transform: uppercase
    float: left

.store_links
  margin-left: -25px
  li
    float: left
    margin-left: 100px
    width: 250px

.features_video
  width: 680px
  height: 410px
  border: 25px solid #222
  margin: 15px auto 25px
  +border-radius(7px)

.feature_highlights
  width: 70%

.requirements
  width: 50%
  float: left
  margin-top: 25px
  ul
    margin-top: 25px

.feature_highlights, .requirements
  li
    list-style: disc
    margin-left: 15px

// post launch header flip!

#appHook, #appIcons
  h1
    color: #fff
  img
    +noBorder
    +noShadow

#appHook, #appIcons
  text-align: center
  margin: 38% 0 0 0
  padding: 3%
  a
    display: block
    margin: 3% 0 0 0
    &:hover
      text-decoration: none
  span
    font-family: din-web
    background: #FFCB15
    padding: 0.2em 0.4em 0
    font-size: 2em
    height: 1.4em
    color: #1E1D1C
    text-transform: uppercase
    +border-radius(5px)

#appIcons
  display: none
  a
    margin: 0
    width: 33%
    float: left


//      //
//  .s4     - flip content -
//      //
.s4
  hr
    clear: both
    border: 1px solid #ccc
  h2, h3
    color: #E52127
    text-align: center
    font-family: din-web
  h2
    font-size: 40px
    margin-top: 10px
  h3
    font-size: 30px
    margin: 26px 0 20px
.carter
  float: left
  margin: 4px 9px 40px
  border: 3px solid #CCEAEC
  box-shadow: 0px 6px 18px -8px #444
  p
    text-align: center
    text-transform: uppercase
    padding: 10px 4px
    font-size: 24px
    font-family: din-web
  img
    display: block
    margin: 0 auto
    width: 215px
    padding: 4px
    +noShadow

ul.numbers
  font-family: din-web
  li
    float: left
    width: 21%
    margin: 20px 2% 10px
    padding: 0
    text-align: center
    border-right: 2px solid #ccc
    line-height: 1.1em
    font-weight: 600
    text-transform: uppercase
    font-size: 18px
    &.last
      border-right: none
  span
    color: #E52127
    font-size: 38px
    font-weight: 600
    line-height: 1.1em

.join-club, .learn-about
  text-transform: uppercase
  font-family: din-web
  font-size: 30px
  margin: 40px 0
  text-align: center
  line-height: 1.1em
  a
    background: red
    padding: 20px 10px 12px
    width: 400px
    text-shadow: 0px 1px -1px #9EE4E5
    display: block
    color: #222
    margin: 0 auto
    box-shadow: 0px 0px 16px #cbcbcb
    border: 1px solid #7EB1B2
    border-radius: 16px
    background: #91e2e4
    background: -moz-linear-gradient(top,  #91e2e4 0%, #cceaec 30%, #cceaec 55%, #91e2e4 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91e2e4), color-stop(30%,#cceaec), color-stop(55%,#cceaec), color-stop(100%,#91e2e4))
    background: -webkit-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: -o-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: -ms-linear-gradient(top,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    background: linear-gradient(to bottom,  #91e2e4 0%,#cceaec 30%,#cceaec 55%,#91e2e4 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e2e4', endColorstr='#91e2e4',GradientType=0 )
    &:hover
      color: #000
      text-decoration: none
.learn-about a
  font-size: 22px    

img.thanks, img.bone
  +noBorder
  +noShadow
  margin: 10px auto
  display: block
img.bone
  margin: 0 auto 10px

