// PANES 

//			//
//	.s0			- header (sign up and logo) -
//			//

.s0 > img
  float: left
  width: 21%

#animal_dates
  float: right
  width: 30%
  h1
    font-size: 27px
    color: $accentColor
    font-family: din-web

.pane-campaign-sign-up
  clear: both
  width: 100%
  margin: 37% 0 0 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  input[type="text"], input[type="tel"]
    width: 35% 
    float: left
    margin: 0 2.5%
  #edit-actions
    float: right
    position: static
    margin: 0 2% 0 0
    height: 32px

#campaign-opt-in
  clear: both
  span
    font-size: 10px

.webform-client-form
  box-shadow: none

//			//
//	.s1			- copy section -
//			//

.s1
  text-align: center
  h1
    color: $lightGrey
    font-size: 24px
    font-family: din-web
    span
      color: $medGrey
  h2
    color: $accentColor
    font-size: 24px
    font-family: din-web
    span
      white-space: nowrap
      background: url("http://files.dosomething.org/files/campaigns/animals/underline.png")
      background-repeat: no-repeat
      background-position-y: 28px
      padding: 0 0 1% 0
  p
    font-family: din-web-reg
    font-size: 14px
    line-height: 1.5em
    width: 69%
    margin: 0 auto
    padding: 1% 0
    span
      font-weight: 600
  img
    position: absolute
    right: 30
//			//
//	.s2			- mobile commons webform -
//			//

.s2
  form
    width: 80%
    height: 100%
    margin: 0 auto
  h1
    color: $accentColor
    font-size: 24px
    font-family: din-web
    text-align: center

.mcommons-webform
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600

.mcommons-webform-column
  float: left
  width: 40%
  margin-left: 9%

.go-button
  position: static
  float: right
  padding: 1.5% 5% 1% 5%
  margin: 0 14% 0 0

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0
    
.hidden
  display: none

//			//
//	.s3			- footer (sponsor section) -
//			//

.sponsors, .partners
  float: left
  padding: 0 0 0 2%

.sponsors
  width: 26%

.partners
  width: 70%
  margin: 2% 0 2% 3%
  border-left: 1px solid $medGrey
  h3
    text-transform: uppercase
    color: $medGrey
  img
    margin: 2%
  color: $lightGrey

#mobile_site
  background: #fff
  padding: 25px
  width: 800px
  .false_sidebar
    position: absolute
    left: -225px
    top: 85px
  .col_one
    margin-left: 8px
    margin-right: 33px
  h1, h2
    color: $accentColor
  p
    margin: 0 15px 15px 15px
  img
    +noBorder
    +noShadow

.mobile_screenshots
  img
    width: 350px
    background: #222
    margin-top: 20px
    margin-bottom: 15px
    padding: 25px
    +border-radius(7px)
  li
    list-style: none
    text-align: center
    text-transform: uppercase
    float: left

.store_links
  margin-left: -25px
  li
    float: left
    margin-left: 100px
    width: 250px

.features_video
  width: 680px
  height: 410px
  border: 25px solid #222
  margin: 15px auto 25px
  +border-radius(7px)

.feature_highlights
  width: 70%

.requirements
  width: 50%
  float: left
  margin-top: 25px
  ul
    margin-top: 25px

.feature_highlights, .requirements
  li
    list-style: disc
    margin-left: 15px
