.field-name-field-noschool-club-name { display: none; }

div#not-logged-in-notice {
	float: right;
	position: absolute;
	top: 50px;
	right: 10px;
	width: 350px;
	padding: 10px;

}

.example-obtuse {
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	/* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
	-webkit-border-top-left-radius:25px 50px;
	-webkit-border-top-right-radius:25px 50px;
	-webkit-border-bottom-right-radius:25px 50px;
	-webkit-border-bottom-left-radius:25px 50px;
	-moz-border-radius:25px / 50px;
	border-radius:25px / 50px;

	font-family: din-web;
	font-size: 13pt;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-obtuse + p {margin:10px 150px 2em 0; text-align:right; font-style:italic;}

/* creates the larger triangle */
.example-obtuse:before {
	content:"";
	position:absolute;
	bottom:-30px;
	right:180px;
	border-width:0 0 30px 50px;
	border-style:solid;
	border-color:transparent #f3961c;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller triangle */
.example-obtuse:after {
	content:"";
	position:absolute;
	bottom:-30px;
	right:210px; 
	border-width:0 0 30px 20px;
	border-style:solid;
	border-color:transparent #efefef;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

div#block-system-main { position: relative; }

div.form-item-parent-email {
	display: none;
}

td.field-multiple-drag {
	display: none;
}

.tabledrag-toggle-weight {
    display: none;
}


div.form-item-field-club-picture-und-0 label {
	display: none;
}

div#edit-field-club-video-und-0-title label {
	font-size: 21px;
	font-family: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, "Trebuchet MS", sans-serif;
}

input#edit-preview, input#edit-preview-changes { display: none; }

div.form-item-field-club-blurb-und-0-value label {
	font-family: din-web;
	font-size: 16pt;
	margin-bottom: 5px;
}

ul.tabs.primary li:nth-child(3) a { display: none; }
.delta-order { display: none; }
thead tr th:last-of-type { display: none; }
#edit-field-mailchimp-group-id { display: none; }
p#club-name-live {
	position: relative;
	top: -10px;
}

#edit-field-noschool-club-name-und-0-value { width: 150px; }
#dosomething-club-tag {
	float: right;
	margin-top: -90px;
	margin-right: 440px;
	display: none;
}
#club-name-live { display: none; }