#edit-field-email label,
#edit-field-phone-required label,
.form-item-password label,
#edit-field-name label,
#edit-field-name-last label,
#edit-field-club-leader-birthdate label,
#edit-field-club-address label,
#edit-field-club-city label,
#edit-field-club-zip label,
.form-item-field-school-reference-und-0-target-id-name label,
#field-noschool-club-name-add-more-wrapper label {
  margin-left: 5px; }

.form-item-field-school-reference-und-0-target-id-type label {
  margin-left: 12px; }

#field-email-add-more-wrapper div {
  padding-right: 15px; }

div.description {
  width: 335px;
  padding-left: 7px;
  margin-top: -10px; }

div#main-wrapper div[role="main"] {
  background-color: white;
  padding-right: 14px; }
  div#main-wrapper div[role="main"] form.node-club-form {
    background: white;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    div#main-wrapper div[role="main"] form.node-club-form fieldset {
      border-top: 1px solid #dedcdb; }
      div#main-wrapper div[role="main"] form.node-club-form fieldset legend {
        background: white;
        padding-right: 10px; }
        div#main-wrapper div[role="main"] form.node-club-form fieldset legend span {
          background: #ffd638;
          text-transform: uppercase;
          padding: 0px 10px;
          font-family: din-web-reg;
          font-size: 14pt; }
      div#main-wrapper div[role="main"] form.node-club-form fieldset div.fieldset-wrapper {
        padding: 20px;
        background: #ededed;
        border: 1px solid #dcdada;
        margin-top: -12px; }
      div#main-wrapper div[role="main"] form.node-club-form fieldset#edit-field-school-reference-und-0-target-id {
        border: 0px; }
        div#main-wrapper div[role="main"] form.node-club-form fieldset#edit-field-school-reference-und-0-target-id div.fieldset-wrapper {
          border: 0px;
          padding: 0px; }
        div#main-wrapper div[role="main"] form.node-club-form fieldset#edit-field-school-reference-und-0-target-id legend {
          display: none; }
  div#main-wrapper div[role="main"] div#field-club-leader-birthdate-add-more-wrapper fieldset {
    border: 0px; }
    div#main-wrapper div[role="main"] div#field-club-leader-birthdate-add-more-wrapper fieldset div.fieldset-wrapper {
      border: 0px;
      padding: 0px; }
    div#main-wrapper div[role="main"] div#field-club-leader-birthdate-add-more-wrapper fieldset legend {
      background: none;
      padding: 0px;
      height: 25px; }
      div#main-wrapper div[role="main"] div#field-club-leader-birthdate-add-more-wrapper fieldset legend span {
        background: none;
        text-transform: none;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 9pt;
        font-weight: normal;
        margin: 0px; }
    div#main-wrapper div[role="main"] div#field-club-leader-birthdate-add-more-wrapper fieldset div#edit-field-club-leader-birthdate-und-0-value {
      padding: 0px; }

#node_club_form_group_club_leader_info,
#node_club_form_group_what_campaigns,
#node_club_form_group_where_should_we_send_the {
  margin-top: -25px; }

html.js input.form-autocomplete {
  background-image: none; }

input#edit-field-school-reference-und-0-target-id-name:before {
  content: "";
  position: absolute;
  z-index: 9999;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url(/misc/throbber.gif) 0 0 repeat;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg); }

#edit-field-school-reference {
  margin: 0px; }
  #edit-field-school-reference fieldset {
    margin: 0px; }
  #edit-field-school-reference div.fieldset-wrapper {
    position: relative; }

#node_club_form_group_clubs_personal_information div.fieldset-wrapper {
  position: relative; }
#node_club_form_group_clubs_personal_information #dstag {
  position: absolute;
  top: 130px;
  right: 55px;
  font-size: 16pt;
  z-index: 1; }
  #node_club_form_group_clubs_personal_information #dstag.noschool {
    top: 95px; }
#node_club_form_group_clubs_personal_information select {
  background: transparent;
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afafaf), color-stop(100%, #817b76));
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -webkit-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -moz-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -o-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -ms-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, linear-gradient(#afafaf, #817b76);
  -webkit-appearance: none;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding-left: 10px;
  color: white;
  font-size: 16pt;
  text-transform: uppercase;
  height: 53px;
  padding: 15px 0px 16.5px 15px;
  padding-left: 15px;
  border: 1px solid #565656;
  width: 346px;
  height: 53px; }
  #node_club_form_group_clubs_personal_information select option {
    color: black; }
  #node_club_form_group_clubs_personal_information select .form-item.form-type-select {
    background: white; }
  #node_club_form_group_clubs_personal_information select#edit-submitted-field-celeb-date-und-0-value-year {
    width: 58px; }
  #node_club_form_group_clubs_personal_information select#edit-field-school-reference-und-0-target-id-type {
    margin-left: 12px; }

.form-item-field-school-reference-und-0-target-id-state,
.form-item-field-school-reference-und-0-target-id-type {
  float: left;
  width: 50%; }

.form-item-field-school-reference-und-0-target-id-name {
  padding-top: 10px;
  clear: left; }
  .form-item-field-school-reference-und-0-target-id-name input#edit-field-school-reference-und-0-target-id-name {
    width: 100%;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px;
    width: 60%; }

#edit-field-noschool-club-name-und-0-value {
  width: 100%;
  height: 53px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14pt;
  padding-left: 10px;
  width: 60%; }

#edit-field-school-reference-und-0-target-id-street,
#edit-field-school-reference-und-0-target-id-city,
#edit-field-school-reference-und-0-target-id-zip {
  width: 100%;
  height: 53px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14pt;
  padding-left: 10px; }

.form-item-field-school-reference-und-0-target-id-city {
  float: left;
  width: 60%; }

.form-item-field-school-reference-und-0-target-id-zip {
  float: left;
  width: 40%;
  padding-left: 15px; }

#edit-field-email,
#edit-field-phone-required {
  float: left;
  width: 50%; }
  #edit-field-email input,
  #edit-field-phone-required input {
    width: 100%;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px; }

#edit-field-club-leader-birthdate {
  margin-bottom: 0px; }
  #edit-field-club-leader-birthdate div.form-wrapper {
    margin-bottom: 0px; }

#edit-field-name {
  clear: left; }

#edit-field-name,
#edit-field-name-last,
#edit-field-club-leader-birthdate {
  float: left;
  margin-bottom: 0px;
  height: 85px; }
  #edit-field-name input,
  #edit-field-name-last input,
  #edit-field-club-leader-birthdate input {
    width: 206px;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px; }
  #edit-field-name div.description,
  #edit-field-name-last div.description,
  #edit-field-club-leader-birthdate div.description {
    display: none; }

#edit-field-club-leader-birthdate fieldset {
  margin-bottom: 0px; }
#edit-field-club-leader-birthdate div.fieldset-wrapper {
  margin-top: -6px; }
#edit-field-club-leader-birthdate div.form-item-field-club-leader-birthdate-und-0-value {
  margin: 0px; }
  #edit-field-club-leader-birthdate div.form-item-field-club-leader-birthdate-und-0-value input {
    width: 257px;
    margin: 0px; }

div.form-item-password {
  clear: left;
  margin-bottom: 15px;
  width: 30%;
  float: left; }
  div.form-item-password input {
    width: 100%;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px; }

div.form-item-parent-email {
  float: left;
  width: 70%;
  padding-left: 10px;
  display: none; }
  div.form-item-parent-email input#edit-parent-email {
    width: 100%;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px;
    width: 100%; }
  div.form-item-parent-email div.description {
    width: auto; }

#edit-field-club-address input {
  width: 100%;
  height: 53px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14pt;
  padding-left: 10px; }

#node_club_form_group_where_should_we_send_the .fieldset-wrapper {
  min-height: 265px; }
#node_club_form_group_where_should_we_send_the select {
  background: transparent;
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afafaf), color-stop(100%, #817b76));
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -webkit-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -moz-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -o-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, -ms-linear-gradient(#afafaf, #817b76);
  background: url(/sites/all/modules/dosomething/features/dosomething_clubs/images/select-arrow.png) 95% 50% no-repeat, linear-gradient(#afafaf, #817b76);
  -webkit-appearance: none;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding-left: 10px;
  color: white;
  font-size: 16pt;
  text-transform: uppercase;
  height: 53px;
  padding: 15px 0px 16.5px 15px;
  padding-left: 15px;
  border: 1px solid #565656; }
  #node_club_form_group_where_should_we_send_the select option {
    color: black; }

#edit-field-club-city,
#edit-field-club-state,
#edit-field-club-zip {
  float: left; }
  #edit-field-club-city input,
  #edit-field-club-state input,
  #edit-field-club-zip input {
    width: 206px;
    height: 53px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 14pt;
    padding-left: 10px; }

#edit-field-club-zip input {
  width: 155px;
  margin: 0px; }

#edit-field-club-state {
  margin-right: 15px; }
  #edit-field-club-state select {
    width: 133px; }

#edit-field-country {
  margin-right: 15px;
  float: left; }
  #edit-field-country select {
    width: 169px; }

div#not-logged-in-notice {
  float: right;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 350px;
  padding: 10px; }

.example-obtuse {
  position: relative;
  padding: 15px 30px;
  margin: 0;
  color: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9d835), color-stop(100%, #f3961c));
  background: -webkit-linear-gradient(#f9d835, #f3961c);
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: -ms-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius: 25px 50px;
  -moz-border-radius: 25px / 50px;
  border-radius: 25px / 50px;
  font-family: din-web;
  font-size: 13pt; }
  .example-obtuse + p {
    margin: 10px 150px 2em 0;
    text-align: right;
    font-style: italic; }
  .example-obtuse:before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    bottom: -30px;
    right: 180px;
    border-width: 0 0 30px 50px;
    border-color: transparent #f3961c; }
  .example-obtuse:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    bottom: -30px;
    right: 210px;
    border-width: 0 0 30px 20px;
    border-color: transparent #efefef; }

div#block-system-main {
  position: relative; }

td.field-multiple-drag, .tabledrag-toggle-weight, div.form-item-field-club-picture-und-0 label, input#edit-preview, input#edit-preview-changes, ul.tabs.primary li:nth-child(3) a, .delta-order, thead tr th:last-of-type, #edit-field-mailchimp-group-id, #club-name-live, .field-name-field-noschool-club-name {
  display: none; }

div#edit-field-club-video-und-0-title label {
  font-size: 21px;
  font-family: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, "Trebuchet MS", sans-serif; }

#field-participants-values {
  border: 0px; }
  #field-participants-values th, #field-participants-values tr, #field-participants-values td {
    border: 0px; }
  #field-participants-values label {
    font-size: 21px;
    font-family: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, "Trebuchet MS", sans-serif; }

div.form-item-field-club-blurb-und-0-value label {
  font-family: din-web;
  font-size: 16pt;
  margin-bottom: 5px; }

p#club-name-live {
  position: relative;
  top: -10px; }
