

label[for="edit-submitted-field-webform-email-und-0-value"] .form-required {
position: relative;
top: 0px;
left: 0px;
display: inline;
float: none;
}

.panel-row-actions-sign-up { position: relative; }
.panel-row-actions-sign-up #edit-submit { position: absolute;
top: 105px;
right: 35px; }