// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)



@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 0 auto  

  #contact-form
    //margin: 2% 0 0 0
    h3
      margin: 0

  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.4em auto 0
  
  //			//
  //	#action
  //			//

  #action
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left 
    img
      max-width: 100%

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

@media only screen and (max-width: 675px)
  #header   
    .subhead
      margin: 17% 0 7%
      font-size: 1.4em
      width: 70%


@media only screen and (max-width: 550px)
  .section#header
    background-position: 80% 0%
  #header
    .subhead
      margin: 17% 0 7.5%
      font-size: 1.1em
      width: 75%
    .header-social
      bottom: 0px


@media only screen and (max-width: 450px)
  #header
    .subhead
      margin: 17% 0 7.5%
      font-size: 1em
    .header-social
      bottom: 0px

  .section
    margin: 0 auto

  a.print-pdf
    width: 55%

  #edit-submitted-field-webform-email
    width: 68%
    margin: 1% 0

  #edit-submitted-field-webform-mobile
    width: 32%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 100%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 0.5em auto 0
