// Cause Taxonomy Page: Blog + Poll

.pane-blog-center-panel-pane-1
  .view-blog-center
    background-color: $gray-light
    .views-field-title h2
      color: $black
      +remove-link-underlines
    .views-field-title,
    .views-field-body,
    .views-field-nothing,
    .views-field-view-node
      padding: 0.5em 0 0 0.5em
  .blog-date
    background: image_url('bg-date.png')
    background:
      height: 88px
      repeat: none
    color: $black
    font-size: 1em
    font-weight: bold
    position: relative
    top: 20px
    left: -3px
    width: 42px
    +inline-block
    +text-shadow($white, 1px 1px 0)

  .views-field-term-node-tid
    padding: 0
    h2
      +border-top-left-radius(6px)
      background-color: $black
      color: $white
      margin: 0
      padding: 0.5em 0 0 0.5em

// Polls
.pane-polls
  .pane-title
    +border-top-right-radius(6px)
    background-color: $purple
    padding: 0.5em 0 0 0.5em
  h2
    color: $white
    margin: 0
  .pane-content
    background-color: $gray-light
  .node-poll
    h2
      padding: 1em 1em 0 1em
      a
        color: $black
        +remove-link-underlines
        margin: 0
    .poll
      padding-left: 1em