// SPRITES
@import "impactbubbles/*.png"
$impactbubbles-sprite-dimensions: true
@import "compass/css3/pie"

@include all-impactbubbles-sprites
@import partials/02-extend/typography
@import partials/03-defaults/markup/headers

#dosomething-blocks-make-an-impact-form-front
  position: relative
  width: 100%
  #edit-description
    margin: 10px 0 20px 0
  label[for='edit-description']
    font-weight: normal
    font-size: 10px
    line-height: 12px
  .form-type-select
    position: absolute
    padding: 0px 0.5em
    label
      @extend .h3
      color: $white
      .form-required
        @extend .visuallyhidden
    select
    .selectBox-dropdown
      background: $gray-lighter2
      cursor: pointer
      width: 100px
      margin-top: 8px
      +link-colors($white, $white, $c-select-link-hover, $white, false)
      .selectBox-label
        width: 95%
        height: 1.5em
      .selectBox-arrow
        display: none
  .form-item, .form-actions,
    margin: 0 auto
  .form-item-what-cause,
  .form-item-who-with,
  .form-item-where,
  .form-item-how-long
    label
      cursor: default
  .form-item-what-cause
    @extend .impactbubbles-impact-bubble-cause
    left: 37px
  .form-item-who-with
    @extend .impactbubbles-impact-bubble-who
    left: 167px
  .form-item-where
    @extend .impactbubbles-impact-bubble-where
    top: 114px
    .selectBox-dropdown
      margin-top: 5px
  .form-item-how-long
    @extend .impactbubbles-impact-bubble-how-long
    left: 200px
    top: 114px
    padding: 0 0.5em 0 14px
    .selectBox-dropdown
      margin-top: 5px
  // Keep commented styles for when the mohawk is no longer wanted
  .dude
    position: absolute
    left: 124px
    // @extend .impactbubbles-impact-bubble-dude
    // top: 138px
    @extend .impactbubbles-impact-bubble-mohawk
    top: 126px
  .form-submit
    position: absolute
    bottom: -30px

.selectBox-dropdown-menu
  // +pie-container(999999, absolute)
  // +pie-element(z-index, 999999)
