@import setup
// import extended classes
@import partials/02-extend/all
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

.front #main-wrapper
  background: none

.left-block-expando-h2
  margin-left: -(percentage($s0 / $left-col-width-inner))
  margin-right: -(percentage($s2 / $left-col-width-inner))
  .inner
    padding-left: (percentage($s0 / $left-col-width-inner))
    padding-right: (percentage($s2 / $left-col-width-inner))
    +background(image_url("btn-leftsidebar-feeds-plus.png") no-repeat 171px center)
  &.active
    .inner
      +background(image_url("btn-leftsidebar-feeds-minus.png") no-repeat 171px center)

#block-dosomething-login-become-member
  background: $c-impact image_url("home-row-2-bg.png") repeat-y 16px top
  margin-top: 65px
  position: relative
  padding-bottom: calc-em(10px, $s0)
  border-bottom: calc-em(5px, $s0) solid $gray2
  overflow: hidden
  h2
    color: $black
  .dosomething-user-block-collapsible h2
    color: $white
  h2.block-title
    margin-left: -(percentage($s0 / $left-col-width-inner))
    margin-right: -(percentage($s2 / $left-col-width-inner))
    text-align: center
    line-height: 1.2em
    +replace-text-with-dimensions('cta-left-col-become-member-btn.png')
    margin-bottom: calc-em(10px, $s5)
  .separator
    +background(image_url("hr-dark.png") repeat-x 50% 50%)
    &.split
      text-align: center
      @extend .h3
      font-weight: 600
      color: $white
      background: none
      position: relative
      &:before, &:after
        position: absolute
        content: ''
        top: 0
        width: percentage(72px / $left-col-width-inner)
        height: 1.3em
        +background(image_url("hr-dark.png") repeat-x 50% 50%)
      &:before
        left: 0
      &:after
        right: 0
  .form-item
    height: auto
  .form-item label.error
    float: left
  .form-item-first-name, .form-item-last-name
    width: percentage(86px / $left-col-width-inner)
    float: left
  .form-item-first-name
    margin-right: percentage(2px / $left-col-width-inner)
  .form-item-cell-or-email
    clear: left
  .age-question
    @extend .h3
    font-weight: 600
    color: $white
    line-height: 0.8em
    float: left
    margin-left: percentage(3px / $left-col-width-inner)
    margin-right: percentage(7px / $left-col-width-inner)
  .form-item-month, .form-item-day, .form-item-year
    float: left
    width: percentage(32px / $left-col-width-inner)
    margin-right: percentage(2px / $left-col-width-inner)
    position: relative
    margin-top: calc-em(-7px, $s0)
    height: calc-em(26px, $s0)
    input
      margin-top: percentage(-3px / $left-col-width-inner)
      margin-bottom: 0
  .form-item-year
    margin-right: 0
    width: percentage(44px / $left-col-width-inner)
  input[type='submit']
    margin-bottom: calc-em(6px, 17px)
    .ie7 &
      margin-top: 27px
      margin-left: -5em
      line-height: 1em
  hr
    clear: both
    margin: 0
    border: none
    width: 100%
    height: calc-em(2px, $s0)
    &.top
      +background(image_url('hr-light-up.png') repeat-x 0 0)
    &.bottom
      +background(image_url('hr-light-down.png') repeat-x 0 0)
      margin-bottom: calc-em(7px, $s0)
  h3
    clear: both
    font-weight: 600
    margin: calc-em(2px, $s2) 0
    color: $white
    a
      +link-colors($white, $white, $white, $white, false)
      +remove-link-underlines
    &.why-member
      a
        padding: calc-em(2px, $s2) 0
        +background(image_url('icn-popup.png') no-repeat right center)
        line-height: 1.15
        display: block
  .ds-button
    margin-right: 0px
  .facebook-login
    margin-right: calc-em(6px, 17px)
  .fb-icon
    +background(image_url('btn-leftsidebar-feeds-facebook.png') no-repeat left calc-em(2px, 17px))
    padding-left: calc-em(25px, 17px)
    margin-left: calc-em(-5px, 17px)
  // ---------------------------------
  // LOGGED IN
  // ---------------------------------
  .logged-in &
    color: $white
    +adjust-font-size-to($s-2)
    a
      +link-colors($white, $white, $white, $white, false)
      +remove-link-underlines
    .dosomething-login-user-name
      +background(image_url("cta-left-col-header-bg.png") no-repeat 50% 50%)
      height: image_height("cta-left-col-header-bg.png")
      width: 193px
      margin-left: -(percentage($s0 / $left-col-width-inner))
      margin-right: -(percentage($s2 / $left-col-width-inner))
      margin-bottom: calc-em(10px, $s5)
      +adjust-font-size-to($s3, 1, $s2)
      line-height: 1.2em
      padding: 0 0.5em
      color: $black-not
      h2
        line-height: 28px
        display: inline
        font-weight: 600
      span
        float: right
        font-weight: 600
        line-height: 30px
    .ds-member-name-bar
      text-decoration: none
    h2
      +adjust-font-size-to($s2, 1, $s-2)
      font-weight: 400
    hr.top
      background: image_url("make-an-impact-home-header.png") no-repeat
      margin: 1em 0
    .dosomething-login-profile
      .profile-header
        a
          float: right
      .dosomething-login-percentage
        +background($gray-lighter2 image_url("profile-percentage-icon.png") no-repeat 3px center)
        height: image_height("profile-percentage-icon.png") + 6
        +border-radius(2px)
        +box-shadow(rgba($black, 0.5) 0 0 4px inset)
        border:
          width: 1px
          style: solid
          color: $black
          color: rgba($black, 0.5)
        padding: 0 3px
        .ratio
          width: $left-col-width-inner - image_width("profile-percentage-icon.png") - 6px
          margin-left: image_width("profile-percentage-icon.png")
          .inner
            +replace-text('profile-percentage-indicator.png')
            background-repeat: repeat-x
            background-position: left center
            position: relative
            top: -1px
            width: 0%
    h2
      &.my-somethings, &.notifications
        @extend .left-block-expando-h2
      &.my-somethings
        margin-bottom: 0.3em
      &.notifications
        margin-top: 0
    .item-list
      ul
        font-family: $font-headline
        font-size: 14px
        margin-left: -6px
        li
          list-style-type: none
          list-style-image: none
          line-height: 1.4
          ul
            margin-top: 6px
            li
              list-style-type: none
              list-style-image: none
              line-height: 1.4
              &:after
                content: " »"
    .dosomething-login-goto-profile
      display: block
      text-align: right

// Not Logged In
.not-logged-in
  #block-dosomething-login-become-member
    color: $white
    padding-bottom: calc-em(11px, $s0)
    h2.block-title
      margin-top: 0
    hr.top
      background: image_url("make-an-impact-home-header.png") no-repeat
      margin: 1em 0
    hr.bottom
      display: none
    .separator
      &.split
        background: image_url("make-an-impact-home-header.png") bottom center repeat
        color: gray
        font-family: $font-sans
        font-size: 1em
        font-weight: normal
        margin: 0.5em 0
        padding-bottom: calc-em(4px, $s0)
        &:before, &:after
          background-image: none
    .form-item
      input
        background-color: $gray-darker
        color: gray
    h3.why-member
      font-weight: 400
    span
      color: gray
      display: block
  .why
    color: $yellow
