@import setup

// --------------------------------------------------------------------------------------

#block-dosomething-blocks-dosomething-utility-bar
  background:
    image: image-url('sprites/bg-utility-search.png')
    repeat: no-repeat
    position: 100% 14%
  line-height: 0
  margin-left: $left-col-width
  .utility-items
    +inline-block
    a
      +remove-link-underlines
  .here-to-help
    +inline-block
    margin-bottom: 9px
  .connect-icons li
    +inline-block
    margin-bottom: 14px
    padding: 0 1em
  .search
    +inline-block
    margin: 0 0 6px 14px
    input[type="search"]
      +single-box-shadow($black-not, 0, 0, 4px, 2px, inset)
      background:
        color: $gray-darker
        repeat: no-repeat
        position: 97% 50%
      +background-image(image_url('sprites/icn-utility-search-magnify.png'))
      border: 1px solid #606060
      color: $gray-light
      font-size: 10px
      height: 22px
      padding: 4px
      text-transform: lowercase
    input[type="search"]::-webkit-search-cancel-button
      -webkit-appearance: none
    textarea, input:not([type="submit"])
      width: 187px
    .form-actions
      margin-left: 5px
      input[type="submit"]
        height: 22px
        margin-bottom: 11px
        padding: 4px 0
        width: 48px
  .login
    margin-bottom: 17px
    a
      color: $white
      font-size: 12px
      margin: 0 20px
  .utility-items.fbconnect
    +float-right
    margin: 1em 8px 1em 0
    
.ui-dialog
  padding: 10px
  background: rgba($black, 0.5)
  border: 0
  +border-radius(5px)
  .ui-dialog-titlebar
    background: none
    border: 0
    .ui-dialog-titlebar-close, .ui-dialog-titlebar-close 
      background-color: none
      a, &:hover
        height: 12px
        width: 12px
        background: none
        margin-right: 7px
      .ui-icon
        background: image_url("x-box.png") no-repeat
  .ui-icon-closethick
    border: 0
  .ui-corner-all
    +border-radius(0)
    a
      border: 0
  #lets-talk-dialog
    +border-radius(5px)
    background: $gray-lighter image_url("lightbox-bg.png") repeat-x
    padding: 0 30px
    margin-top: -35px
    z-index: -10
    h2
      color: $blue2
      font-size: $s5
      padding: 10px 20px 0 20px
      margin: 0
      // background: image_url("about-ds-border.png") repeat-x
      // background-position: 10px 65px
    .lets-talk-about
      margin: -12px -30px
      padding: 0 50px 0 50px
      background: image_url('diagonal-bg.png') repeat right top
      font-size: $s-1
      line-height: 14px
      font-family: $font-sans
      p
        margin-bottom: 10px
      .lets-talk-about-outter
        border-top: 1px solid $gray-lighter3
        border-bottom: 1px solid $gray-lighter3
      .lets-talk-about-inner
        border-top: 1px solid white
        border-bottom: 1px solid white
    #lets-talk
      +border-bottom-radius(5px)
      background: $blue2
      color: $white
      padding: 12px 30px 30px 30px
      +clearfix
      h2
        color: $white
        font-size: $s5
        padding-top: 15px
        margin-bottom: 0
        background: image_url("lets-talk-border.png") repeat-x
        background-position: 10px 48px
        padding: 0
        line-height: 63px
      a
        color: $white
      .left-coloumn
        +float-left
        margin-right: 40px
        font-size: $s-1
        line-height: 27px
        font-family: $font-sans
        .title
          font-weight: bold
        .lets-talk-text
          background: image_url("text-with-us.png") no-repeat
          background-position: 4px 0px
          padding-left: 25px
        .lets-talk-email
          background: image_url("email-us.png") no-repeat
          background-position: 0 6px
          padding-left: 25px
      .right-coloumn
        +float-left
        margin-right: 40px
        font-size: $s-1
        line-height: 27px
        font-family: $font-sans
        span.title
          font-weight: bold
        .lets-talk-phone
          background: image_url("talk-to-us.png") no-repeat
          background-position: 0 4px
          padding-left: 25px
        .lets-talk-faq
          background: image_url("faq.png") no-repeat
          background-position: 0 4px
          padding-left: 25px
