@import setup

// --------------------------------------------------------------------------------------

#block-dosomething-blocks-dosomething-utility-bar
  background:
    image: image-url('bg-utility-search.png')
    repeat: no-repeat
    position: 100% 14%
  line-height: 0
  margin-left: $left-col-width
  .ie7 &
    line-height: 1
  .utility-items
    +inline-block
    a
      +remove-link-underlines
  .here-to-help
    +inline-block
    margin-bottom: 0.75em
    .ie7 &
      margin-bottom: 25px
      position: relative
      top: -24px
  .connect-icons li
    +inline-block
    margin-bottom: 14px
    padding: 0 1em
  .search
    +inline-block
    margin: 0 0 6px 14px
    .ie9 &
      margin-left: 20px
    .ie8 &, .ie7 &
      margin-left: 36px
      height: 36px
      vertical-align: top
    .ie7 &
      position: relative
      top: -4px
    input[type="search"]
      +single-box-shadow($black-not, 0, 0, 4px, 2px, inset)
      background:
        color: $gray-darker
        repeat: no-repeat
        position: 97% 50%
      +background-image(image_url('icn-utility-search-magnify.png'))
      border: 1px solid $gray5
      color: $gray-light
      font-size: 10px
      height: 22px
      padding: 4px
      text-transform: lowercase
      .ie8 &, .ie7 &
        width: 120px
        position: relative
        top: 12px
        float: left
      .ie7 &
        height: 18px
        width: 121px
    .ie7 & input[type="text"]
      height: 18px
      width: 121px
      position: relative
      top: 12px
      float: left
    input[type="search"]::-webkit-search-cancel-button
      -webkit-appearance: none
    textarea, input:not([type="submit"])
      line-height: 10px
      width: 187px
    .form-actions
      margin-left: 5px
      input[type="submit"]
        height: 22px
        margin-bottom: 11px
        padding: 4px 0
        width: 48px
        .ie8 &, .ie7 &
          float: left
          position: relative
          width: 2em
          line-height: 1em
        .ie8 &
          top: -22px
          height: 12px
          margin-left: 8em
        .ie7 &
          top: 14px
          height: 28px
          margin-left: 1em
  .form-item-search-block-form
    margin-left: 1.5em
  .login
    margin-bottom: 17px
    .ie7 &
      margin-bottom: 25px
      position: relative
      top: -24px
    a
      color: $white
      font-size: 12px
      margin: 0 1.5em
  .utility-items.fbconnect
    +float-right
    margin: 1em 8px 1em 0
    .ie7 &
      position: absolute
      top: 5px
      right: 0

.ui-dialog
  padding: 10px
  background: rgba($black, 0.5)
  border: 0
  +border-radius(5px)
  top: 10% !important
  .ui-dialog-titlebar
    background: none
    border: 0
    .ui-dialog-titlebar-close, .ui-dialog-titlebar-close
      background: none
      position: absolute
      top: 18px
      right: 0.3em
      a
        background: none
        padding: 0
        text-decoration: none
        &:hover
          padding: 0 !important
          text-decoration: none
      .ui-icon
        background: image_url("x-box.png") no-repeat $gray-bg1
        height: 12px
        width: 12px
  .ui-icon-closethick
    border: 0
  .ui-corner-all
    +border-radius(0)
    a
      border: 0
  #lets-talk-dialog
    +border-radius(5px)
    background: $gray-lighter image_url("lightbox-bg.png") repeat-x
    padding: 0 30px
    margin-top: -30px
    z-index: -10
    h2
      color: $blue2
      font-size: $s5
      padding: 10px 20px 0 20px
      margin: 0
      // background: image_url("about-ds-border.png") repeat-x
      // background-position: 10px 65px
    .lets-talk-about
      margin: -12px -30px
      padding: 0 50px 0 50px
      background: image_url('diagonal-bg.png') repeat right top
      font-size: $s-1
      line-height: 14px
      font-family: $font-sans
      p
        margin-bottom: 10px
      .lets-talk-about-outter
        border-top: 1px solid $gray-lighter3
        border-bottom: 1px solid $gray-lighter3
      .lets-talk-about-inner
        border-top: 1px solid white
        border-bottom: 1px solid white
    #lets-talk
      +border-bottom-radius(5px)
      background: $blue2
      color: $white
      padding: 12px 30px 30px 30px
      +clearfix
      h2
        color: $white
        font-size: $s5
        padding-top: 15px
        margin-bottom: 0
        background: image_url("lets-talk-border.png") repeat-x
        background-position: 10px 48px
        padding: 0
        line-height: 63px
      a
        color: $white
      .left-coloumn
        +float-left
        margin-right: 40px
        font-size: $s-1
        line-height: 27px
        font-family: $font-sans
        .title
          font-weight: bold
        .lets-talk-text
          background: image_url("text-with-us.png") no-repeat
          background-position: 4px 0px
          padding-left: 25px
        .lets-talk-email
          background: image_url("email-us.png") no-repeat
          background-position: 0 6px
          padding-left: 25px
      .right-coloumn
        +float-left
        margin-right: 40px
        font-size: $s-1
        line-height: 27px
        font-family: $font-sans
        span.title
          font-weight: bold
        .lets-talk-phone
          background: image_url("talk-to-us.png") no-repeat
          background-position: 0 4px
          padding-left: 25px
        .lets-talk-faq
          background: image_url("faq.png") no-repeat
          background-position: 0 4px
          padding-left: 25px

.ui-widget-overlay
  background: $gray-dark
  opacity: 0.6

.lets-talk-chat
  display: none

.chat
  a
    display: none
