@import setup
// import extended classes
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

.region-sidebar-first
  #block-dosomething-blocks-dosomething-twitter-stream
    background-color: $c-impact
    color: $white
    h2
      margin: 0
      background: url(../images/twitter-icon.png) no-repeat 
      padding: 10px 0 0px 28px
      font-size: 18px
    h2.active
      background: url(../images/twitter-icon-active.png) no-repeat 
    a
      border: 0
    #twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4, #twtr-widget-1 .twtr-popular
      background-color: $c-impact !important
      .twtr-tweet
        border: 0
    .twtr-timeline
      border: 0
    #twtr-widget-1
      .twtr-tweet-wrap
        background: $c-impact
      .twtr-tweet
        .twtr-tweet-text
          p
            font-size: 10px
            color: $c-twitter-block-text !important
          a
            color: $white !important
            text-decoration: none
            font-size: 10px
            font-weight: bold
          a.twtr-hyperlink
            color: $yellow2 !important

