@import setup
// import extended classes
@import partials/02-extend/all
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

.left-block-expando-h2
  border-top: calc-em(1px, $s2) solid rgba($c-thin-line-dark, 0.6)
  border-bottom: calc-em(1px, $s2) solid rgba($c-thin-line-dark, 0.6)
  +background-image(linear-gradient(bottom, #403f3d, #5f5c58))
  +box-shadow(rgba($black, 0.5) 0 0 4px inset)
  margin-left: -(percentage($s0 / $left-col-width-inner))
  margin-right: -(percentage($s2 / $left-col-width-inner))
  .inner
    border-top: calc-em(1px, $s2) solid rgba($c-thin-line-light, 0.6)
    border-bottom: calc-em(1px, $s2) solid rgba($c-thin-line-light, 0.6)
    padding-left: (percentage($s0 / $left-col-width-inner))
    padding-right: (percentage($s2 / $left-col-width-inner))
    +background(image_url("sprites/btn-leftsidebar-feeds-plus.png") no-repeat 171px center)
  &.active
    .inner
      +background(image_url("sprites/btn-leftsidebar-feeds-minus.png") no-repeat 171px center)


#block-dosomething-login-become-member
  +background-with-css2-fallback(image_url('sprites/bg-top-left-fade.png') no-repeat center bottom, image_url('sprites/bg-top-left-fade-top.png') no-repeat center top, image_url('sprites/bg-diag-1-2-top-left.png') repeat 0 0)
  //margin-top: -(calc-em(45px, $s0))
  // @todo fix this to be calc-em
  padding-top: 89px
  position: relative
  padding-bottom: calc-em(10px, $s0)
  margin-bottom: calc-em(5px, $s0)
  overflow: hidden
  // guide
  // +background(image_url('guide-pages/facebook-login-dashboard.png'))
  // -- end guide
  h2.block-title
    margin-left: -(percentage($s0 / $left-col-width-inner))
    margin-right: -(percentage($s2 / $left-col-width-inner))
    text-align: center
    line-height: 1.2em
    +replace-text-with-dimensions('sprites/cta-left-col-become-member-btn.png')
    margin-bottom: calc-em(10px, $s5)
  .separator
    +background(image_url("sprites/hr-dark.png") repeat-x 50% 50%)
    &.split
      text-align: center
      @extend .h3
      font-weight: 600
      color: $white
      background: none
      position: relative
      &:before, &:after
        position: absolute
        content: ''
        top: 0
        width: percentage(72px / $left-col-width-inner)
        height: 1.3em
        +background(image_url("sprites/hr-dark.png") repeat-x 50% 50%)
      &:before
        left: 0
      &:after
        right: 0
  .form-item
    height: auto
  .form-item label.error
    float: left
  .form-item-first-name, .form-item-last-name
    width: percentage(86px / $left-col-width-inner)
    float: left
  .form-item-first-name
    margin-right: percentage(2px / $left-col-width-inner)
  .form-item-cell-or-email
    clear: left
  .age-question
    @extend .h3
    font-weight: 600
    color: $white
    line-height: 0.8em
    float: left
    margin-left: percentage(3px / $left-col-width-inner)
    margin-right: percentage(7px / $left-col-width-inner)
  .form-item-month, .form-item-day, .form-item-year
    float: left
    width: percentage(32px / $left-col-width-inner)
    margin-right: percentage(2px / $left-col-width-inner)
    position: relative
    margin-top: calc-em(-7px, $s0)
    height: calc-em(26px, $s0)
    input
      margin-top: percentage(-3px / $left-col-width-inner)
      margin-bottom: 0
  .form-item-year
    margin-right: 0
    width: percentage(44px / $left-col-width-inner)
  input[type='submit']
    // clear: left
    // float: right
    margin-bottom: calc-em(6px, 17px)
  hr
    clear: both
    margin: 0
    border: none
    width: 100%
    height: calc-em(2px, $s0)
    &.top
      +background(image_url('sprites/hr-light-up.png') repeat-x 0 0)
    &.bottom
      +background(image_url('sprites/hr-light-down.png') repeat-x 0 0)
      margin-bottom: calc-em(7px, $s0)
  h3
    clear: both
    font-weight: 600
    margin: calc-em(2px, $s2) 0
    color: $white
    a
      +link-colors($white, $yellow, $yellow, $white, false)
      +remove-link-underlines
    &.why-member
      a
        padding: calc-em(2px, $s2) 0
        +background(image_url('sprites/icn-popup.png') no-repeat right center)
        line-height: 1.15
        display: block
    &.already-member
  .ds-button
    margin-right: 0px
  .facebook-login
    margin-right: calc-em(6px, 17px)
    .fb-icon
      +background(image_url('sprites/btn-leftsidebar-feeds-facebook.png') no-repeat left calc-em(2px, 17px))
      padding-left: calc-em(25px, 17px)
      margin-left: calc-em(-5px, 17px)
  // ---------------------------------
  // LOGGED IN
  // ---------------------------------
  .logged-in &
    color: $white
    +adjust-font-size-to($s-2)
    a
      +link-colors($yellow, $white, $white, $yellow, false)
      +remove-link-underlines
    .dosomething-login-user-name
      +background(image_url("sprites/cta-left-col-header-bg.png") no-repeat 50% 50%)
      height: image_height("sprites/cta-left-col-header-bg.png")
      margin-left: -(percentage($s0 / $left-col-width-inner))
      margin-right: -(percentage($s2 / $left-col-width-inner))
      margin-bottom: calc-em(10px, $s5)
      +adjust-font-size-to($s3, 1, $s2)
      line-height: 1.2em
      padding: 0 0.5em
      font-family: $font-headline
      color: $black-not
      h2
        line-height: 30px
        display: inline
        font-weight: 600
      span
        float: right
        font-weight: 600
        line-height: 30px
    h2
      +adjust-font-size-to($s2, 1, $s-2)
      font-weight: 400
    .dosomething-login-profile
      .profile-header
        a
          float: right
      .dosomething-login-percentage
        +background($gray-lighter2 image_url("sprites/profile-percentage-icon.png") no-repeat 3px center)
        height: image_height("sprites/profile-percentage-icon.png") + 6
        +border-radius(2px)
        +box-shadow(rgba($black, 0.5) 0 0 4px inset)
        border: 1px solid rgba($black, 0.5)
        padding: 0 3px
        .ratio
          width: $left-col-width-inner - image_width("sprites/profile-percentage-icon.png") - 6px
          margin-left: image_width("sprites/profile-percentage-icon.png")
          .inner
            +replace-text('sprites/profile-percentage-indicator.png')
            background-repeat: repeat-x
            background-position: left center
            // background-color: rgba($white, 0.3)
            position: relative
            top: -1px
            width: 0%
    h2
      &.my-somethings, &.notifications
        @extend .left-block-expando-h2
      &.my-somethings
        margin-bottom: 0.3em
      &.notifications
        margin-top: 0
    .item-list
      ul
        margin-left: -6px
        li
          list-style-image: image_url("sprites/list-triangle-right.png")
          line-height: 1.4
          ul
            margin-top: 6pxpx
            margin-left: -4px
            li
              list-style-type: disc
              list-style-image: none
              line-height: 1.4
    .dosomething-login-goto-profile
      display: block
      text-align: right



