@import setup
// import extended classes
// @import partials/02-extend/all
// @import partials/02-extend/dosomething
// @import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------


.pane-blog-center
  background: image_url("blog-center-lines.png") no-repeat
  background-position: 30px 0px
  .page-awesome-things &
    h2.pane-title
      line-height: 56px
      +border-top-left-radius(0)
      +border-top-right-radius(4px)

    .pane-content
      padding: 8px 10px 20px 40px
      background: $gray6 image_url("blog-center-lines.png") bottom no-repeat
      background-position: 30px 0px
      p
        margin-bottom: 0
      .News-icon
        +replace-text-with-dimensions("icn-subnav-news.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .Celebs-Gone-Good-icon
        +replace-text-with-dimensions("icn-subnav-celebs.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .Awe-Some-Ones-icon
        +replace-text-with-dimensions("icn-subnav-awesomes.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .DoSomething-Staff-icon
        +replace-text-with-dimensions("icn-subnav-staff.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .views-field-created, .views-field-created-1
        +float-left
        background
        background-color: $white
        background: image_url("bg-blog-date.png") no-repeat
        width: 41px
        height: 86px
        position: absolute
        margin-left: -52px
        padding-left: 13px
        padding-top: 0px
        .month
          font-weight: bold
          text-transform: uppercase
          font-size: 10px
        .day
          font-weight: bold
          font-size: 14px
        .blog-icon
          margin-top: 10px
      .views-field-field-picture img
        border: 5px $white solid
    
    .blog-center-block-attachment
      padding-top: 20px
      margin-top: 20px
      margin-bottom: 30px
      background: $gray6 image_url("blog-center-lines.png") bottom no-repeat
      background-position: 5px 0px

    .view-blog-center
      h2
        font-size: 16px
        line-height: 18px
        margin-bottom: 5px
        padding-right: 10px
        a
          color: $black

// .ds-pane-news
//   .pane-content
//     background: $gray6
//     padding-left: 40px
//     padding-top: 3px
//     .views-field-created
//       +float-left
//       background-color: $white
//       background: image_url("bg-blog-date.png") no-repeat
//       width: 41px
//       height: 86px
//       position: relative
//       left: -24px
//       padding-left: 13px
//       padding-top: 0px
//       .month
//         font-weight: bold
//         text-transform: uppercase
//         font-size: 10px
//       .day
//         font-weight: bold
//         font-size: 14px
//       .blog-icon
//         margin-top: 10px
//     .views-field-field-picture img
//       border: 5px $white solid
