@import setup
// import extended classes
// @import partials/02-extend/all
// @import partials/02-extend/dosomething
// @import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------


.pane-blog-center
  background: image_url("blog-center-lines.png") no-repeat
  background-position: 30px 0px
  .page-awesome-things &, .node-type-blog &
    h2.pane-title
      line-height: 56px
      +border-top-left-radius(0)
      +border-top-right-radius(4px)

    .pane-content
      padding: 8px 10px 20px 40px
      background: $gray6 image_url("blog-center-lines.png") bottom no-repeat
      background-position: 30px 0px
      p
        margin-bottom: 0
      .News-icon
        +replace-text-with-dimensions("new-icons_news.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .Celebs-Gone-Good-icon
        +replace-text-with-dimensions("new-icons_celebs-gone-good.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .Awe-Some-Ones-icon
        +replace-text-with-dimensions("new-icons_awesome-ones.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .DoSomething-Staff-icon
        +replace-text-with-dimensions("new-icons_staff-stuff.png")
        position: relative
        top: 65px
        left: -40px
        z-index: 100
      .views-field-created, .views-field-created-1
        +float-left
        background
        background-color: $white
        background: image_url("bg-blog-date.png") no-repeat
        width: 41px
        height: 86px
        position: absolute
        margin-left: -52px
        padding-left: 13px
        padding-top: 0px
        .month
          font-weight: bold
          text-transform: uppercase
          font-size: 10px
        .day
          font-weight: bold
          font-size: 14px
        .blog-icon
          margin-top: 10px
      .views-field-field-picture img
        border: 5px $white solid

    .blog-center-block-attachment
      padding-top: 20px
      margin-top: 20px
      margin-bottom: 30px
      background: $gray6 image_url("blog-center-lines.png") bottom no-repeat
      background-position: 5px 0px

    .view-blog-center
      h2
        font-size: 16px
        line-height: 18px
        margin-bottom: 5px
        padding-right: 10px
        a
          color: $black

.view-display-id-panel_pane_1
  background: $gray6
  // padding: 8px 0 20px 0!important
  p
    margin-bottom: 0
    padding-right: 10px
  .News-icon,
  .Celebs-Gone-Good-icon,
  .Awe-Some-Ones-icon,
  .DoSomething-Staff-icon
    position: relative
    top: 65px
    z-index: 100
  .News-icon
    +replace-text-with-dimensions("new-icons_news.png")
  .Celebs-Gone-Good-icon
    +replace-text-with-dimensions("new-icons_celebs-gone-good.png")
  .Awe-Some-Ones-icon
    +replace-text-with-dimensions("new-icons_awesome-ones.png")
  .DoSomething-Staff-icon
    +replace-text-with-dimensions("new-icons_staff-stuff.png")
  .views-field-created, .views-field-created-1
    +float-left
    background-color: $white
    background: image_url("bg-blog-date.png") no-repeat
    width: 41px
    height: 86px
    position: absolute
    margin-left: -12px
    padding-left: 11px
    padding-top: 0
    .month
      font-weight: bold
      font-size: 10px
      margin-left: -3px
      text-transform: uppercase
    .day
      font-weight: bold
      font-size: 14px
    .blog-icon
      margin-top: 10px
  .views-field-field-picture img
    border: 5px $white solid
  .view-blog-center
    h2
      font-size: 16px
      line-height: 18px
      margin-bottom: 5px
      margin-top: 0
      padding-right: 10px
      a
        color: $black
  .views-field-title,
  .views-field-body,
  .read-more-link
    padding-left: 3.5em
  .views-field-nothing
    +float-right
  .views-field-ds-social-plugins
    background: image-url('bg-polls-divider-right.png')
    background-position: right top
    background-repeat: no-repeat
    margin-top: 2em
    margin-right: -1em
    padding-right: 1em
    padding-left: 1em
    .facebook-plugin
      margin-bottom: 1em

.ds-pane-no-padding
  .view-content
    padding-right: 1em

/** Blog Node Styles **/
.node-type-blog
  h1
    color: #000
  .field-name-field-picture
    border: 7px solid #FFF
