@import setup

h2.pane-title
  +ds-bevel-single
  margin: 1em 0

.field-label
  +float-left

.pane-webform-submission
  .pane-title
    border: none
  #webform-component-hidden
    display: none
  .pane-content
    padding-top: 2em !important
    .field
      margin-bottom: 0.5em
    &:last-child
      margin-bottom: 0
ul
  li:nth-of-type(odd)
    .pane-content
      +float-left
      background: image_url('bg-arrowblock-dark.png') no-repeat
  li:nth-of-type(even)
    .pane-content
      background: image_url('bg-arrowblock-light.png') no-repeat

.panel-bottom
  .item-list ul
    list-style: none
    margin: 0
    li
      margin: 0
  .pane-content
    +adjust-font-size-to($s2)
    font-family: $font-headline
    text-rendering: optimizeLegibility
    text-transform: uppercase
    font-weight: 500
    +inline-block
    height: 108px
    margin-bottom: 1em
    width: 50%
  p
    margin: 0
    a
      color: $white
      display: block
      font-size: 18px
      margin: 2.5em 2em
      &:hover
        color: $white