@import setup
// --------------------------------------------------------------------------------------

.view-current-campaigns
  margin-top: 40px
  .views-row
    clear: both
    float: left
    width: 100%
    padding: 15px 0
    border-bottom: 1px solid $white
    border-top: 1px solid $gray-lighter3
  .views-row.views-row-first
    border-top: none
  .views-row.views-row-last
    border-bottom: none
  .campaigns-top
    float: left
    width: 97%
    padding: 20px 10px 10px
  .views-field-field-campaign-logo, .views-field-field-campaign-teaser
    float: left
  .views-field-field-campaign-logo
    padding-right: 20px
  .views-field-field-campaign-teaser
    font-family: $font-headline
    width: 288px
    .campaign-teaser
      font-size: $s2
    .ds-button
      color: $gray-darker
      margin-right: 10px
      &:hover
        color: $black-not
        text-decoration: none
  .views-field-field-campaign-main-image
    padding-left: 10px
  .campaigns-headline-container
    clear: both
    color: $white
    font-family: $font-headline
    padding-left: 10px
    font-size: $s5
    line-height: 1em
    height: 37px
    margin-bottom: 15px
    .campaign-join-this
      a
        display: block
        background: url(../../css/images/join-this-arrow.png) no-repeat
        text-indent: -5000px
        width: 142px
        height: 40px
        float: right
        margin-top: -2px
    .campaign-headline
      padding-top: 3px
  .views-field-fb-social
    clear: both
    float: right
      display: none

.campaign-join-this
  overflow: visible

.related-campaign
  .views-row
    background-color: #615e5a
    margin-bottom: 20px
    max-height: 65px
    padding: 0
  .views-field-title
    +float-left
    +pie-clearfix
    color: $white
    padding-top: 0.5em
  .campaign-headline-label
    display: block
  .campaign-headline
    +float-left
    font-family: $font-headline
    font-size: $s5
    line-height: 1em
  .views-field-view-node
    +float-right
    height: 6em
    +replace-text('arrow-do-this.png', 50%, 50%)
    width: 18.5em
    position: relative
    top: -0.4em
    left: 0.2em
  .views-field-field-campaign-logo
    img
      max-height: 60px
      padding: 2.5px