@import setup
// import extended classes
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

#block-dosomething-blocks-dosomething-facebook-activity
  background-color: $c-impact
  color: $white
  h2
    margin: 0
    background: url(../images/fb-icon.png) no-repeat 
    background-position: 0px 0px
    padding: 0 0 5px 28px
    font-size: 18px
    line-height: 22px
  a
    border: 0
  .fb-activity
    background: $c-impact
  .fb_iframe_widget 
    background: $c-impact
  #f1a9abd964
    background: $c-impact
    .fbConnectWidgetContent

#f1d9af201c
  width: 180px !important
#u830716_1
  width: 100% !important


  