@import setup
// --------------------------------------------------------------------------------------
.panel-2col#project-page 

  .panel-col-last
    float: left
    width: 155px

  .panel-col-first
    float: left
    width: 530px

    .project-status-ribbon
      width: 100%
      background-color: #d1d1d1
