@import setup
// --------------------------------------------------------------------------------------

.view-current-campaigns
  margin-top: 40px
  .views-row
    clear: both
    float: left
    width: 100%
    margin: 15px 0
  .campaigns-top
    float: left
    width: 97%
    padding: 20px 10px 10px
  .views-field-field-campaign-logo, .views-field-field-campaign-teaser
    float: left
  .views-field-field-campaign-logo
    padding-right: 20px
  .views-field-field-campaign-teaser
    font-family: $font-headline
    font-size: $s2
    width: 250px
    .ds-button
      font-size: $s1
      color: black
  .views-field-field-campaign-main-image
    padding-left: 10px
  .campaigns-headline-container
    clear: both
    color: white
    font-family: $font-headline
    padding-left: 10px
    font-size: $s5
    line-height: 1em
    padding-top: 4px
    margin-bottom: 15px
  .views-field-fb-social
    clear: both
    float: right
      display: none
