@import setup
// import extended classes
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------


#block-dosomething-blocks-dosomething-make-impact
  background-color: $c-impact
  color: $white
  h2.block-title
    margin-top: 0
