@import setup
.rotoslider
  &.rotoslider-image-nav
    .rotoslider-descriptions
      .do-this-link
        +replace-text('arrow-do-this.png', right, bottom)
        height: 65px
        position: absolute
        bottom: 0
        right: 0
        width: 220px
        z-index: 100

  .rotoslider-text,
  &.rotoslider-image-nav .rotoslider-description
    .heading a
      color: $white
      font:
        family: $font-headline
        size: 2em

.front
  #main-wrapper
    // @todo This controls the gray sidebar
    background: $gray
    border-bottom: calc-em(5px, $s0) solid $gray2
  [role="main"]
    margin: 0
    padding: 0
    border:
      style: solid
      width: calc-em(5px, $s0) 0 0 calc-em(5px, $s0)
      color: $gray2
  #block-dosomething-login-become-member
    border-bottom: none
