@import setup
// import extended classes
// @import partials/03-defaults/all
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

#block-dosomething-blocks-dosomething-facebook-activity
  background-color: $c-impact
  color: $white
  h2
    margin: 0
    background: url(../images/fb-icon.png) no-repeat
    padding: 0px 0 10px 28px
    font-size: 18px
    line-height: 2
    color: $white
  h2.active
    background: url(../images/fb-icon-active.png) no-repeat
  a
    border: 0
