@import setup
// import extended classes
@import partials/lib/extend/helpers
@import partials/02-extend/dosomething
@import partials/02-extend/jquery-selectbox
// @import partials/02-extend/all
// @import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------
// DON'T LEAVE THIS IN PRODUCTION
.wireframe
  $wf-color: $red
  outline: 1px dashed $wf-color
  > *
    outline: 1px dashed adjust-hue($wf-color, 30deg)
    > *
      outline: 1px dashed adjust-hue($wf-color, 60deg)
      > *
        outline: 1px dashed adjust-hue($wf-color, 90deg)
// -- DON'T LEAVE THIS IN PRODUCTION

#block-panels-mini-home-page
  background: $c-impact image_url("home-row-2-bg.png") no-repeat 16px bottom
  color: $white
  height: 365px
  h2
    color: $white
  // @extend .wireframe
  .panel-panel
    float: left
    width: ($page-width - $left-col-width - $s2 - 36px) / 2
    margin-right: 36px
    +box-sizing(border-box)
  .panel-col-first
    width: $left-col-width
    margin-right: $s2
    padding-right: 6px
    padding-left: 10px
    .panel-separator
      margin: 0
  .panel-col-last
    float: right
    margin-right: 0
    padding-right: $s3




.pane-dosomething-blocks-dosomething-twitter-stream
  h2
    margin: 0 0 -6px 0
    background: image_url("twitter-icon.png") no-repeat
    padding: 0 0 0 28px
    font-size: 18px
    line-height: 2
  h2.active
    background: image_url("twitter-icon-active.png") no-repeat
  a
    border: 0
  #twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4, #twtr-widget-1 .twtr-popular
    background-color: $c-impact !important
    .twtr-tweet
      border: 0
  .twtr-timeline
    border: 0
  #twtr-widget-1
    .twtr-tweet-wrap
      background: $c-impact
    .twtr-tweet
      .twtr-tweet-text
        p
          font-size: 10px
          color: $c-twitter-block-text !important
        a
          color: $white !important
          text-decoration: none
          font-size: 10px
          font-weight: bold
        a.twtr-hyperlink
          color: $yellow !important


.pane-dosomething-blocks-dosomething-facebook-activity
  h2
    margin: 0
    background: url(../images/fb-icon.png) no-repeat
    padding: 0px 0 10px 28px
    font-size: 18px
    line-height: 2
  h2.active
    background: url(../images/fb-icon-active.png) no-repeat
  a
    border: 0



.pane-dosomething-blocks-dosomething-make-impact-front
  h2.pane-title
    background: image_url("make-an-impact-home-header.png") no-repeat
    height: image_height("make-an-impact-home-header.png")
    line-height: 34px


// SPRITES
@import "impactbubbles/*.png"
$impactbubbles-sprite-dimensions: true
@include all-impactbubbles-sprites

#dosomething-blocks-make-an-impact-form-front
  // background: image_url("make-and-impact-form-bg.png") no-repeat center 57px
  position: relative
  width: 100%
  height: 365px
  label[for='edit-description']
    font-weight: normal
  .form-type-select
    position: absolute
    padding: 0px 0.5em
    label
      @extend .h3
      .form-required
        @extend .visuallyhidden
    select
    .selectBox-dropdown
      // @extend .ds-dropdown
      background: $gray-lighter2
      width: 100px
      margin-top: 7px
      +link-colors($white, $white, $c-select-link-hover, $white, false)
      .selectBox-label
        width: 95%
        height: 1.5em
      .selectBox-arrow
        display: none
  .form-item-what-cause
    @extend .impactbubbles-impact-bubble-cause
    left: 37px
  .form-item-who-with
    @extend .impactbubbles-impact-bubble-who
    left: 167px
  .form-item-where
    @extend .impactbubbles-impact-bubble-where
    top: 129px
    .selectBox-dropdown
      margin-top: 5px
  .form-item-how-long
    @extend .impactbubbles-impact-bubble-how-long
    left: 200px
    top: 129px
    padding: 0 0.5em 0 14px
    .selectBox-dropdown
      margin-top: 5px
  .dude
    @extend .impactbubbles-impact-bubble-dude
    position: absolute
    left: 128px
    top: 155px
  .form-submit
    position: absolute
    bottom: -30px




