@import setup
// import extended classes
@import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

#block-dosomething-blocks-dosomething-facebook-activity
  background-color: $c-impact
  color: $white
  h2
    margin: 0

