@import setup
// Poll Block on Causes taxonomy pages
.pane-polls-panel-pane-1
  background-color: $gray-light
  padding: 0
  .node-poll h2
    margin-left: 20px
    a
      color: $black
      +remove-link-underlines
  .poll
    .vote-form
      background: image-url('bg-polls-divider-right.png')
      background-position: right bottom
      background-repeat: no-repeat
      text-align: left
    #edit-choice > .form-item
      background: image_url('bg-polls-divider-left.png')
      background-position: left top
      background-repeat: no-repeat
      padding: 0.5em 1em
    input[type="submit"]
      margin-bottom: 1em
      margin-left: 2em
    input[type="radio"]
      position: static
      top: 0
      vertical-align: middle
    .form-item-choice
      margin-top: 0
    .form-actions
      margin: 1em auto