@import setup
// --------------------------------------------------------------------------------------

.page-taxonomy-term
  .panel-top
    .pane-term-description
      position: relative
      height: 0
      .pane-content
        position: absolute
        margin-top: -110px
        background-color: $purple-trans
        color: $white
        padding: 0.5em 2em
        max-width: 380px
        p:last-of-type
          margin-bottom: 0.5em
  .panel-row-middle
    .panel-panel
      position: relative
      .contextual-links-region
        position: static
      .view-footer
        p
          position: absolute
          right: 0.5em
          bottom: 0.5em
  .panel-row-bottom
    margin-bottom: $kit-baseline

