@import setup

.panel-top
  +box-shadow($white 0 1px -1px 1px, $white 0 5px 0 -4px inset)
  border:
    top: 1px solid $gray-lighter3
    bottom: 1px solid $gray-lighter3

h2.pane-title
  border-bottom: 1px solid $gray-lighter3
  +box-shadow($white 0 1px -1px 1px)
