@import setup

.pane-content
  .block-pair
    +inline-block
    background: $gray2 image_url('triangle-mask-up.png') no-repeat center top
    color: $white
    padding: calc-em(16px, $s0) calc-em(12px, $s0) calc-em(8px, $s0)
    position: relative
    height: calc-em(58px, $s0)
    margin-top: calc-em(-1px, $s0)
    overflow: hidden
    &:nth-of-type(3n+3)
      margin-right: 0
      float: right
    &:nth-of-type(3n+4)
      clear: both
    &:nth-of-type(even)
      background-color: $gray
  a
    color: $white
    cursor: pointer
    display: block
    margin-top: 20px
    text-align: center
    &:visited,
    &:hover
      color: $white
