@import setup

.pane-content
  .block-pair
    +inline-block
    background: $gray2 image_url('triangle-mask-up.png') no-repeat center top
    color: $white
    height: calc-em(45px, $s0)
    margin-top: calc-em(-1px, $s0)
    overflow: hidden
    padding: calc-em(16px, $s0) calc-em(12px, $s0) calc-em(8px, $s0)
    width: 29%
    &:nth-of-type(even)
      background-color: $gray
  a
    color: $white
    cursor: pointer
    display: block
    margin-top: 0.7em
    text-align: center
    +adjust-font-size-to($s2)
    font-family: $font-headline
    text-rendering: optimizeLegibility
    text-transform: uppercase
    font-weight: 500
    &:visited,
    &:hover
      color: $white
