@import setup

// @TODO remove tabs sitewide and then delete this
.tabs
  display: none

#user-my-somethings
  h2, h2.pane-title
    +ds-bevel-single
    margin: 1em 0
    +float-left
    width: 100%

  .pane-3
    clear: both

.page-user
  #page-title
    background: $purple
    color: $white
    padding: 10px 10px 5px 10px
    +border-top-radius(5px)
  .user-picture
    position: absolute
    top: -3em
    right: 1em
    img
      border: 1px solid $purple
      +border-radius
      height: 115px
      width: 130px

// Member user details
.pane-ds-profile-info
  background-color: $gray6
  .edit-profile
    position: absolute
    top: -3em
    right: 18em
  .member-details
    border-bottom: 1px $gray dotted
    margin-bottom: 40px
    padding: 0.5em
    +pie-clearfix
    ul
      list-style: none
      margin: 0
    ul:first-of-type
      background: image_url('bg-mysomethings-divider.png') no-repeat right
      +float-left
      display: block
      margin-right: 1em
      padding-right: 1em
    ul:last-of-type
      display: block
    li .place
      +float-left
      display: block
    label
      cursor: initial
      +float-left
      font-family: $font-headline
      font-size: 18px
      font-weight: bold
      margin-right: 0.3em
  // Related information to member section
  .member-activity
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        background-color: $gray3
        +pie-clearfix
        label
          +float-left
          +background(image_url('bg-mysomethings-bevel-purple.png') right bottom no-repeat, $purple)
          color: $white
          cursor: initial
          font-family: $font-headline
          font-weight: normal
          font-size: 18px
          line-height: 40px
          padding-right: 15px
          text-align: right
          width: 188px
        span
          +float-right
          line-height: 40px
      li:first-of-type
        label
          +border-top-right-radius
      li:last-of-type
        label
          +border-bottom-right-radius
          +background($purple)
      li:nth-of-type(even)
        background-color: $gray6
        label
          background-color: #592865
    .invite-friends
      +float-right
      &:after
        content: "»"

.pane-ds-friends-pics
  position: absolute
  left: 215px
  ul
    list-style: none
    +horizontal-list
  // @TODO Create and image style and remove this hack
  img
    height: 25px
    width: 25px

// Bottom  my sections
.pane-ds-current-somethings,
.pane-my-somethings-panel-pane-1,
.pane-ds-past-somethings
  width: 100%
  .pane-content
    +pie-clearfix

.something-item
  +float-left
  width: 50%
  background: image_url('bg-arrowblock-light.png') no-repeat 98% top
  margin-bottom: 2em
  height: 108px
  &:nth-of-type(even)
    background: image_url('bg-arrowblock-dark.png') no-repeat 98% top

.mysomethings-image
  +float-left
  width: 170px
  height: 107px

.my-somethings-default-img
  background: image_url('members-only-clubs-cropped.jpg') no-repeat
  width: 170px
  height: 107px

.something-description
  width: 162px
  height: 107px
  +float-right

.my-somethings-title,
  & a
    +adjust-font-size-to($s2)
    color: $white
    font-family: $font-headline
    font-weight: 500
    height: 80px
    line-height: 2em
    word-wrap: break-word
    text-rendering: optimizeLegibility
    &:hover,
    &:visited
      color: $white

.my-somethings-link
  padding-right: 10px
  text-align: right
  a
    color: $white
    &:hover,
    &:visited
      color: $white

// Teams has different classes
.pane-my-somethings-panel-pane-1
  width: 100%
  .pane-content
    margin-bottom: 24px
    padding-bottom: 10px
  .views-row
    @extend .something-item
  .views-field-field-club-picture
    @extend .mysomethings-image
  .club-title-container
    @extend .something-description
    .field-content
      @extend .my-somethings-title
