@import setup

.tabs
  display: none

#user-my-somethings
  h2, h2.pane-title
    +ds-bevel-single
    margin: 1em 0
    +float-left
    width: 100%

  .pane-3
    clear: both

.page-user
  #page-title
    background: $purple
    color: $white
    padding: 10px 10px 5px 10px
    +border-top-radius(5px)
  .user-picture
    position: absolute
    top: -3em
    right: 1em
    img
      border: 1px solid $purple
      +border-radius
      height: 115px
      width: 130px

// Member user details
.pane-ds-profile-info
  background-color: $gray6
  .edit-profile
    position: absolute
    top: -3em
    right: 18em
  .member-details
    border-bottom: 1px $gray dotted
    margin-bottom: 40px
    padding: 0.5em
    +pie-clearfix
    ul
      list-style: none
      margin: 0
    ul:first-of-type
      background: image_url('bg-mysomethings-divider.png') no-repeat right
      +float-left
      display: block
      margin-right: 1em
      padding-right: 1em
    ul:last-of-type
      display: block
    li
      .place
        +float-left
        display: block
    label
      cursor: initial
      +float-left
      font-family: $font-headline
      font-size: 18px
      font-weight: bold
      margin-right: 0.3em
  // Related information to member section
  .member-activity
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        background-color: $gray3
        +pie-clearfix
        label
          +float-left
          +background(image_url('bg-mysomethings-bevel-purple.png') right bottom no-repeat, $purple)
          color: $white
          cursor: initial
          font-family: $font-headline
          font-weight: normal
          font-size: 18px
          line-height: 40px
          padding-right: 15px
          text-align: right
          width: 188px
        span
          +float-right
          line-height: 40px
      li:first-of-type
        label
          +border-top-right-radius
      li:last-of-type
        label
          +border-bottom-right-radius
          +background($purple)
      li:nth-of-type(even)
        background-color: $gray6
        label
          background-color: #592865
    .invite-friends
      +float-right
      &:after
        content: "»"

.pane-ds-friends-pics
  position: absolute
  left: 215px
  ul
    list-style: none
    +horizontal-list
  img
    height: 25px
    width: 25px

// Bottom sections
.page-user
  .pane-ds-my-somethings
    .pane-content
      margin-bottom: 24px
      border-bottom: 1px solid #BBB
      padding-bottom: 10px
      span.label
        font-family: $font-headline
        font-weight: bold
        font-size: 18px
        margin-right: 5px

  .view-my-somethings-views-data.view-display-id-panel_pane_1,
  .view-my-somethings-views-data.view-display-id-panel_pane_2,
  .view-my-somethings-views-data.view-display-id-panel_pane_3,
  .view-my-somethings-views-data.view-display-id-panel_pane_4
    color: $white
    .views-row
      +float-left
      width: 50%
      background: image_url('bg-arrowblock-dark.png') no-repeat 98% top
      margin-bottom: 2em
      height: 108px
      .views-field-field-picture
        +float-left
        width: 170px
        height: 107px
        .my-somethings-default-img
          background: image_url('members-only-clubs-cropped.jpg') no-repeat
          width: 170px
          height: 107px
      .my-somethings-wrapper
        padding: 5px 10px 0 20px
        width: 140px
        height: 102px
        +float-left
        .my-somethings-title
          +adjust-font-size-to($s2)
          line-height: 1em
          font-family: $font-headline
          text-rendering: optimizeLegibility
          font-weight: 500
          height: 80px
        .my-somethings-link
          text-align: right
          a
            color: $white

  .pane-my-somethings-panel-pane-1
    +float-left
    width: 100%
  .view-my-somethings.view-display-id-panel_pane_1
    .views-row:nth-of-type(odd)
      background: image_url('bg-arrowblock-dark.png') no-repeat 98% top
    .views-row:nth-of-type(even)
      background: image_url('bg-arrowblock-light.png') no-repeat 98% top
    .views-row
      +float-left
      width: 50%
      margin-bottom: 2em
      height: 108px
      .views-field-field-club-picture
        +float-left
      .club-title-container
        padding: 5px 10px 0 20px
        width: 140px
        height: 102px
        +float-left
        a
          +adjust-font-size-to($s2)
          line-height: 1em
          font-family: $font-headline
          color: $white
          text-rendering: optimizeLegibility
          font-weight: 500
