@import setup
// Action tips node page
.node-action-guide
  // Hide teaser fields from action finder landing
  .submitted,
  .field-name-field-description,
  .field-name-field-picture
    display: none
  .goright
    +float-left
    padding: 0 2.5em 0 0
  ul, ol
    padding-left: 2em
  ul
    margin: 0 auto
    padding-right: 2em
    width: 99%
  li
    margin: 1em 0
