@import setup

#dosomething-login-register-popup-form
  +pie-clearfix
  .age-question
    font-weight: bold
  .form-item-month,
  .form-item-day
    +float-left
    margin-right: 1em
    margin-top: 0
    width: 5%
  .form-item-year
    +float-left
    margin-top: 0
    width: 8%
  #edit-signup
    +float-left
  .form-submit
    margin-bottom: 1em
