@import setup

#dosomething-login-register-facebook,
#dosomething-login-register-popup-form
  +pie-clearfix
  .age-question
    clear: both
    font-weight: bold
  .form-item-month,
  .form-item-day
    +float-left
    margin-right: 1em
    margin-top: 0
    width: 5%
  .form-item-year
    +float-left
    margin-top: 0
    width: 8%
  #edit-signup
    +float-left
  .form-submit
    margin-bottom: 1em
  .ds-registration-form-required
    +float-left
  .form-item-first-name
    +float-left
    clear: both
  .form-item-last-name
    +float-left
    clear: both
  .form-item-cell-or-email
    +float-left
    clear: both
  #edit-parent-email-message
    clear: both
  .form-item-parent-email
    +float-left
