@import setup

@import partials/lib/extend/helpers
@import partials/02-extend/dosomething
@import partials/02-extend/jquery-selectbox

#views-exposed-form-resources-panel-pane-1
  color: $white
  padding-top: percentage(8px / $left-col-width)
  padding-bottom: 1.5em
  +pie-clearfix
  h2.block-title
    color: $white
    line-height: 2.1
    margin-bottom: calc-em(4px, $s3)
    margin-top: 0
  #edit-description
    height: 0
  label
    @extend .visuallyhidden
  .form-item, .form-actions
    height: auto
  #edit-cause-wrapper
    .selectBox-dropdown
      @extend .ds-dropdown
      cursor: pointer
      width: 25%

  .views-exposed-form .views-exposed-widget
    float: none

.pane-resources-panel-pane-1
  .views-row
    +pie-clearfix
    background: (image_url('triangle-mask-left.png') no-repeat 19% center, $gray2)
    height: calc-em(78px, $s0)
    margin-bottom: calc-em(24px, $s0)
    width: 100%
    &:nth-of-type(even)
      background-color: $gray
  .views-field-field-picture
    img
      +float-left
      +inline-block
      height: calc-em(78px, $s0)
      margin-right: calc-em(18px, $s0)
      padding: 0
  .unimage-wrapper
    height: calc-em(78px, $s0)
    padding: calc-em(7px, $s0) 0
    a
      color: $white
      +float-left
    h2
      +adjust-font-size-to($s2)
      color: $white
      font-family: $font-headline
      font-weight: 500
      margin: 0
      text-rendering: optimizeLegibility
      text-transform: uppercase
    .fb-social-like-plugin
      +float-right
      width: 53px
