@import setup

@import partials/lib/extend/helpers
@import partials/02-extend/dosomething
@import partials/02-extend/jquery-selectbox

#views-exposed-form-resources-panel-pane-1
  color: $white
  padding-top: percentage(8px / $left-col-width)
  padding-bottom: 1.5em
  +pie-clearfix
  h2.block-title
    color: $white
    line-height: 2.1
    margin-bottom: calc-em(4px, $s3)
    margin-top: 0
  #edit-description
    height: 0
  label
    @extend .visuallyhidden
  .form-item, .form-actions
    height: auto
  #edit-cause-wrapper,
  #edit-type-wrapper
    .selectBox-dropdown
      @extend .ds-dropdown
      cursor: pointer
      width: 25%

  .views-exposed-form
    height: 30px

  .views-exposed-form .views-exposed-widget
    float: none

  #edit-type-wrapper
    position: relative
    right: -130px
    top: -38px

  .views-submit-button
    position: relative
    right: -260px
    top: -102px

.pane-resources-panel-pane-1
  +alternating-list
