@import setup

#scholarships-landing
  .view-scholarships.view-display-id-panel_pane_1
    .views-field-field-picture
      float: left
    .scholarships-wrapper
      background: image_url('bg-arrowblock-dark.png') no-repeat 
      height: 98px
      padding: 10px 10px 0 20px
      width: 150px
