@import setup

#scholarships-landing
  .view-scholarships.view-display-id-panel_pane_1
    .views-field-field-picture
      float: left
    .scholarships-wrapper
      background: image_url('bg-arrowblock-dark.png') no-repeat 
      float: left
      height: 98px
      padding: 10px 10px 0 20px
      width: 144px
   
  .grant-resources
    clear: both
    .grant-resource
      img
        float: left
      a
        background: image_url('bg-arrowblock-dark.png') no-repeat 
        float: left
        height: 98px
        padding: 10px 10px 0 20px
        width: 144px
