a {
  color: #041f3d; }
  a:hover {
    color: black; }

h1.title {
  display: none; }

body {
  background-color: blue;
  background-image: url("assets/bg.png");
  background-repeat: repeat;
  background-position: center top; }

div[role="main"] {
  background: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: rgba(255, 255, 255, 0.75);
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #041f3d;
        text-decoration: none; }

.campaign-counter-labels {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #041f3d;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }
    .panel-row-top-right .panel-top-right-mini-info .pane-content p {
      margin-bottom: 0; }
.panel-row-top-right * {
  margin-bottom: 0; }
.panel-row-top-right .pane-content {
  padding-bottom: 0; }

.panel-row-actions {
  background: rgba(255, 255, 255, 0.75);
  border: none;
  background: rgba(125, 125, 125, 0.5);
  margin: 0 0 2em 0; }
  .panel-row-actions .pane-title {
    background: #041f3d; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin-bottom: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content {
      padding: 0; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content .webform-client-form {
        -moz-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content #edit-submitted-field-webform-mobile {
        margin-bottom: 0.5em; }
        .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content #edit-submitted-field-webform-mobile input {
          width: 100%; }
      .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content #edit-submitted-field-webform-email {
        margin-bottom: 0.5em; }
        .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-content #edit-submitted-field-webform-email input {
          width: 100%; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #041f3d;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  background: rgba(255, 255, 255, 0.75);
  background: rgba(125, 125, 125, 0.5); }
  .panel-row-flexible .panel-pane .pane-title {
    background: #041f3d; }
  .panel-row-flexible .panel-pane .pane-content {
    padding: 1.5em; }
    .panel-row-flexible .panel-pane .pane-content h3 {
      color: #041f3d;
      font-size: 1.5em; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-content {
  font-size: 2em;
  font-weight: 600;
  line-height: 2em;
  text-align: right; }
.panel-row-logos .pane-title {
  color: #041f3d;
  background: none;
  margin: 0;
  padding: 0; }

.coming-soon {
  color: #00ab4e;
  font-weight: 600; }
  .coming-soon p {
    font-size: 26px; }

.front-page-thanks .pane-content {
  padding-bottom: 0; }

.thanks-text-box .pane-content {
  font-size: 1.2em;
  line-height: 2em;
  padding-bottom: 0; }
.thanks-text-box ul {
  list-style-image: url("assets/list-dot.png"); }
