// @import partials/02-extend/all
// @import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------

// dosomething buttons
.ds-button
  font-family: $font-headline
  +adjust-font-size-to(17px)
  
  line-height: 1.6
  font-weight: 700
  // text-shadow: none
  text-transform: uppercase
  color: $c-button-dark
  +box-sizing(content-box)
  padding: 0 10px
  height: 22px
  border: 1px solid rgba($gray-darker, 0.5)
  border-bottom-color: $gray-darker
  +border-radius
  background-color: $gray-gloss-light
  +background-image(linear-gradient(top, $gray-gloss-light 49%, $gray-gloss-dark 51%))
  &:hover, &:active
    color: $c-button-dark-active

a.ds-button
  +link-colors($c-button-dark $c-button-dark-active, $c-button-dark-active, $c-button-dark, false)  
  +undo-better-links
  display: inline-block


.ds-dropdown
  background: $gray2
  border: none
  color: $white
  width: 100%
  height: image-height('sprites/icn-leftsidebar-pointer-yellow.png')
  font-family: $font-headline
  font-weight: normal
  +adjust-font-size-to($s2)
  margin-bottom: calc-em(6px, $s2)
  // .selectBox-label
    // @extend .h3
  .selectBox-arrow
    background: image_url('sprites/icn-leftsidebar-pointer-yellow.png') no-repeat right top
    width: image-width('sprites/icn-leftsidebar-pointer-yellow.png')
    
// .selectBox-options
//   @extend .h3