// @import partials/02-extend/all
// @import partials/03-defaults/markup/headers
// --------------------------------------------------------------------------------------
// dosomething headers
.ds-pane
  h2.pane-title
    display: block
    color: $white
    background: $c-headers
    margin-bottom: 0
    +adjust-font-size-to($s3)
    line-height: 1.65
    font-weight: 500
    padding: calc-em(3px, $s3) 0.5em 0 !important
    +border-top-left-radius
  .pane-content
    // padding-left: calc-em(12px, $s0)
    // padding-right: calc-em(12px, $s0)
    padding: 5px 0px 10px 20px
    background: $gray6
    p
      margin-top: 0
    h3
      color: $black
      margin-top: 0
      margin-bottom: 5px
      border-bottom: 1px dotted $white
.ds-pane-usergen
  @extend .ds-pane
  h2.pane-title
    background: $purple
    margin-bottom: 0
    line-height: 30px
.ds-pane-news
  @extend .ds-pane
  h2.pane-title
    background: $black
    line-height: 30px
.ds-pane-top-radius
  @extend .ds-pane
  h2.pane-title
    +border-top-radius
    text-align: center
    line-height: 40px
.ds-pane-top-right-radius
  @extend .ds-pane
  h2.pane-title
    +border-top-left-radius(0)
    +border-top-right-radius
    line-height: 30px



// dosomething buttons
.ds-button
  font-family: $font-headline
  +adjust-font-size-to(17px)
  line-height: 1.6
  font-weight: 700
  // text-shadow: none
  text-transform: uppercase
  color: $c-button-dark
  +box-sizing(content-box)
  padding: 0 10px
  height: 22px
  border: 1px solid rgba($gray-darker, 0.5)
  border-bottom-color: $gray-darker
  +border-radius
  background-color: $gray-gloss-light
  +background-image(linear-gradient(top, $gray-gloss-light 49%, $gray-gloss-dark 51%))
  &:hover, &:active
    color: $c-button-dark-active

a.ds-button
  +link-colors($c-button-dark $c-button-dark-active, $c-button-dark-active, $c-button-dark, false)
  +undo-better-links
  display: inline-block


.ds-dropdown
  background: $c-select-field-bg
  border: none
  color: $white
  width: 100%
  height: image-height('icn-leftsidebar-pointer-yellow.png')
  font-family: $font-headline
  font-weight: normal
  +adjust-font-size-to($s2)
  margin-bottom: calc-em(6px, $s2)
  // .selectBox-label
    // @extend .h3
  .selectBox-arrow
    background: image_url('icn-leftsidebar-pointer-yellow.png') no-repeat right top
    width: image-width('icn-leftsidebar-pointer-yellow.png')

// .selectBox-options
//   @extend .h3

.selectBox-dropdown
  .selectBox-label
    width: 80%
    +text-overflow

.selectBox-options
  li
    a
      white-space: normal


// grid styles
.three-across
  ul
    +no-bullets
    li
      width: percentage($three-col-even / $main-width-w-padding)
      float: left
      margin-right: percentage($kit-gutter / $main-width-w-padding)
      background: $red
      &:nth-child(3n+3)
        float: right
        margin-right: 0
        background: $pink
      &:nth-child(3n+4)
        clear: both
        background: $purple


