////////////////////////////
// CLUBS PAGES
// clubs pages theming
// image teaser module
////////////////////////////

.pane-club-counter
  margin-bottom: 21px

// Top block styling
.dosomething-stats
  .club-image
    @extend %border-and-shadow
    img
      height: 120px
      width: 120px
  .dosomething-club-facts
    float: left
    font-family: $font-headline
    font-size: 21px
    @extend %black
    width: 230px
    margin-top: 18px
    .school-name,
    .school-location
      line-height: 1
      padding: 3px 0
    .school-name
      padding-top: 0
    .invite-link
      @extend %bold
      text-transform: uppercase
      padding-top: 18px
    .see-all-members
      font-family: $font-body
      font-size: $s-1
      padding-top: 4px
      text-align: right
      width: 160px
  .vital-stats
    padding-top: 7px

// Three panel styling
.node-type-club
  .pane-club-projects-panel-pane-1,
  .pane-club-projects-panel-pane-2,
  .pane-profile-panel-pane-1
    .views-row
      @extend %clearfix
      +ds-bevel-single
      padding: $s2 0
      &:last-of-type
        +box-shadow-none
        border-bottom: none
    .views-field-field-project-title
      @extend %right-sidebar-headlines
      a
        font-size: 14px
        font-weight: bold
    .views-field-field-picture,
    .views-field-views-ifempty
      float: left
      margin-right: $s0
      width: 60px
      img
        @extend %border-and-shadow
        height: 60px
        width: 60px

// Club page form asterisk
label[for="edit-submitted-field-webform-email-und-0-value"]
  .form-required
    position: relative
    top: 20px
    left: -25px
    +float-right

#og-ui-confirm-subscribe
  #edit-actions
    #edit-submit,
    #edit-submit--2
      @extend %go-button
      margin-right: 12px

// Members page
.page-club-members
  .view-club-members
    padding-top: 12px
    .views-row
      margin-bottom: 12px



