.main-inner {
  padding-top: 10px;
  width: 750px; }
  .main-inner a {
    text-decoration: underline;
    color: black; }
  .main-inner a.go-button {
    text-decoration: none; }
  .main-inner b {
    font-weight: 600; }

h1 {
  font-size: 32px;
  margin-bottom: 5px; }

h1.title {
  display: none; }

h2.pane-title {
  background: #59a64d; }

img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }

ul {
  margin: 0; }

body {
  background-color: #1f4ba7;
  background-image: url("assets/bg.jpg"); }

div[role="main"] {
  background: white;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

form .go-button {
  padding-top: 2px !important; }

.three-boxes {
  width: 32% !important;
  float: left !important;
  margin-right: 2.2% !important; }
  .three-boxes:last-child {
    margin-right: 0 !important; }
  .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    height: 175px;
    padding: 1.5em; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.pane-staples-2012-boxes > .pane-content {
  background: white; }

.panel-row-flexible, .panel-row-actions {
  margin: 0; }
  .panel-row-flexible .panel-pane, .panel-row-actions .panel-pane {
    margin-bottom: 15px;
    background: white; }
    .panel-row-flexible .panel-pane .pane-title, .panel-row-actions .panel-pane .pane-title {
      background-image: url("assets/pane-title-bg.png");
      background-repeat: repeat-x;
      background-position: left top; }
    .panel-row-flexible .panel-pane .pane-content, .panel-row-actions .panel-pane .pane-content {
      background: #59a64d; }

.panel-panel .pane-staples-2012-boxes .pane-content {
  background: white; }

.ds-panel .pane-content {
  padding-bottom: 0px; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#breadcrumb {
  display: none; }

.panel-pane {
  border: none !important; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #ec008c;
        text-decoration: none; }

.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.field-name-field-campaign-logo img {
  width: 480px;
  height: 230px;
  margin-top: 0px !important; }

.panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 1.4em; }
  .panel-top-right-mini-info .field-name-field-campain-date {
    color: #ec008c;
    padding: 0;
    font-weight: 600; }
  .panel-top-right-mini-info .field-name-field-campaign-teaser p {
    margin-bottom: 15px; }
  .panel-top-right-mini-info .pane-content {
    padding-bottom: 0; }

.pane-campaign-social .pane-content .fb-facepile {
  margin-bottom: 5px; }
  .pane-campaign-social .pane-content .fb-facepile:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.pane-campaign-social .pane-content .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .pane-content .socialWrapper:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 247px; }

.panel-row-actions {
  background: #59a64d;
  margin: 0 0 15px 0;
  width: 750px;
  border: none !important; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: #59a64d; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

.webform-client-form #edit-actions {
  position: absolute;
  right: 86px;
  bottom: 9px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px;
  padding: 15px 0 12px 0; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 13px;
    left: 324px; }
    #campaign-opt-in a:hover {
      text-decoration: none; }

.pane-campaign-counter .pane-title {
  background-position: 15px 0px !important; }
.pane-campaign-counter .pane-content {
  padding: 20px 25px; }
  .pane-campaign-counter .pane-content .campaign-counter-labels {
    text-transform: uppercase;
    font-size: 25px;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 500;
    line-height: 25px;
    float: left; }
  .pane-campaign-counter .pane-content .digits, .pane-campaign-counter .pane-content .campaign-counter-label-bottom, .pane-campaign-counter .pane-content .campaign-counter-label-top {
    margin-bottom: 8px; }
  .pane-campaign-counter .pane-content .campaign-counter-label-top, .pane-campaign-counter .pane-content .campaign-counter-number-top {
    display: none; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em;
  padding: 0; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #ec008c;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 0.8em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-ad-psa {
  margin-top: 35px; }

.panel-row-logos {
  margin-top: 2em; }
  .panel-row-logos .pane-title {
    color: #ec008c;
    background: none;
    margin: 0;
    padding: 0; }
  .panel-row-logos .pane-content {
    background: none;
    padding: 0; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content ul {
    margin: 0px 22px;
    padding: 1.5em; }
  .faq-section .pane-content ul.bella-bg {
    background-image: url("http://www.dosomething.org/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/staples/assets/bella.jpg");
    background-position: 510px 0px;
    background-repeat: no-repeat; }
  .faq-section .pane-content li {
    list-style-image: url(assets/bullet.png);
    list-style-position: outside; }
    .faq-section .pane-content li h3 {
      font-size: 1.3em;
      text-transform: none;
      font-weight: bold;
      color: #4e175b; }
    .faq-section .pane-content li p {
      margin-top: 0;
      font-size: 1.1em; }

.faq-section .pane-content ul.bella-bg li p {
  width: 500px; }

.faq-section .pane-content li p {
  width: 500px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 20px 20px 0;
    float: left; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #ec008c;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none !important;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #59a64d; }

.banner .pane-content img {
  margin: 0; }

.mcommons-webform {
  float: left;
  width: 66%;
  margin-right: 2%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 23px;
    margin-bottom: 6px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .pane-content {
    height: 175px;
    padding: 0.5em; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.form-wrapper {
  margin-bottom: 5px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

.hidden {
  display: none; }

.pink-pane .pane-title {
  background-image: url("assets/pane-title-pink-bg.png") !important; }
.pink-pane .pane-content {
  border: 2px solid #e40079;
  background-color: white !important; }

.email-us {
  background: white;
  float: right;
  margin-right: 5px;
  font-size: 13px; }

.prizes, .scholarships {
  width: 49%;
  float: left; }
  .prizes .pane-content, .scholarships .pane-content {
    text-align: center;
    padding-bottom: 10px; }

.prizes {
  margin-right: 2%; }
