// Staples

// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors - define any campaign specific colors here
$baseColor: #EC008C
$secondaryLink: black
$paneBG: #59A64D
$paneTitleBG: #59A64D
$pinkPaneTitleBG: #EC008C
$contactPaneBG: #59A64D
$paneTitleBGIMG: url('assets/pane-title-bg.png') 
$paneTitlePinkBGIMG: url('assets/pane-title-pink-bg.png') 

// borders (all lines - i.e. around social / quick info)
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// sets the background for the entire page
$imageBackground: url('assets/bg.jpg')
$bgFallback: #1F4BA7

// sets the background for the page nav and main section
@mixin block
  // make sure you specify the RBG fallback if you have a RGBA set!
  background: rgb(255,255,255)

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@mixin setBorderBox
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.main-inner 
  padding-top: 10px
  width: 750px
  a
    text-decoration: underline
    color: black
  a.go-button
    text-decoration: none
  b
    font-weight: $boldWeight

h1
  font-size: 32px
  margin-bottom: 5px

h1.title
  display: none

h2.pane-title
  background: $paneTitleBG

img
  +noShadow
  +noBorder

ul
  margin: 0

body
  background-color: $bgFallback
  background-image: $imageBackground
//  background-repeat: repeat-y
//  background-position: center top
  background-size: auto 100%

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px
  
// Override the go button
form .go-button
  padding-top: 2px !important
  color: black
  
.three-boxes
  width: 32% !important
  float: left !important
  margin-right: 2% !important
  &:last-child
    margin-right: 0 !important
  .pane-content
    +setBorderBox
    font-weight: 600
    font-size: 13px
    text-align: center
    height: 175px
    padding: 1.5em
    
// IE8 does not support :last-child
.three-boxes-last-child
  margin-right: 0 !important
    
.pane-staples-2012-boxes > .pane-content
  background: white
    
// General pane definitions
.panel-row-flexible, .panel-row-actions
  margin: 0
  .panel-pane
    margin-bottom: 15px
    +block
    .pane-title
      background-image: $paneTitleBGIMG
      background-repeat: repeat-x
      background-position: left top
    .pane-content
      background: $paneBG
      
// Override for the Mini-panel
.panel-panel .pane-staples-2012-boxes .pane-content
  background: white
.panel-panel .pane-staples-2012-boxes .three-boxes .pane-content
  background: $paneBG
      
.ds-panel .pane-content
  padding-bottom: 0px

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

#breadcrumb
  display: none

.panel-pane
  +noBorder

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    li
      line-height: 1.2em
    a
      display: inline-block
      width: 100%
      padding: 8px 19px 8px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: $secondaryLink
      font-family: "din-web-reg"
      line-height: 1em
      &:hover, .active
        color: $baseColor
        text-decoration: none

// campaign logo
.pane-node-field-campaign-logo .pane-content
  padding-bottom: 0
.field-name-field-campaign-logo img
  width: 480px
  height: 230px
  margin-top: 0px !important

// mini info
// brief campaign description at the top right
.panel-top-right-mini-info
  font-family: $accent
  font-size: 21px
  line-height: 1.4em
  .field-name-field-campain-date
    color: $baseColor
    padding: 0
    font-weight: 600
  .field-name-field-campaign-teaser p
    margin-bottom: 15px
  .pane-content  
    padding-bottom: 0

// campaign social buttons, top right
.pane-campaign-social
  .pane-content
    .fb-facepile
      margin-bottom: 5px
      &:before
        +insetBorder
    // positioning line between social width and campaign teaser
    .socialWrapper
      margin: 0 0 8px 18px
      &:before
        +insetBorder
        content: ""
        display: block
        left: -18px
        margin-bottom: 8px
        position: relative
        width: 247px

// short form
.panel-row-actions
  background: $contactPaneBG
  margin: 0 0 15px 0
  width: 750px
  +noBorder
  .form-wrapper
    margin-bottom: 5px !important
  .pane-title
    background: $paneTitleBG
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    form 
      padding-bottom: 0
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noShadow
        +noBorder
      .field-name-field-webform-email
        font-size: 14px
        width: 280px
        margin-bottom: 0.5em
        input
          width: 100%
      .field-name-field-webform-mobile  
        font-size: 14px
        width: 240px
        margin-bottom: 0.5em
        input
          width: 75%
          margin-top: 5px
      
.webform-client-form
  #edit-actions
    position: absolute
    right: 86px
    bottom: 9px

#campaign-opt-in
  font-size: 11px
  margin-left: 15px
  padding: 15px 0 12px 0
  a
    font-weight: bold
    display: block
    text-decoration: none
    height: 20px
    width: 20px
    position: absolute
    bottom: 13px
    left: 324px
    &:hover
      text-decoration: none

// counter
.pane-campaign-counter
  .pane-title
    background-position: 15px 0px !important
  .pane-content
    padding: 20px 25px
    .campaign-counter-labels
      text-transform: uppercase
      font-size: 25px
      font-family: din-web,"Trebuchet MS",sans-serif 
      font-weight: 500
      line-height: 25px
      float: left
    .digits, .campaign-counter-label-bottom, .campaign-counter-label-top
      margin-bottom: 8px
    .campaign-counter-label-top, .campaign-counter-number-top
      display: none

// Quick Info
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $secondaryLink
    line-height: 1em
    font-weight: 500
  .pane-content
    margin-top: 1em
    padding: 0
    h3
      color: $baseColor
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      line-height: .8em
    p
      margin: 0 0 0.8em 0
    &:before
      margin-bottom: 20px

// PSA
.panel-row-ad-psa
  margin-top: 35px

// sponsor logos
.panel-row-logos
  margin-top: 2em
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0
  .pane-content
    background: none
    padding: 0

// FAQ
.faq-section
  +noBorder
  .pane-content
    ul
      margin: 0 0 0 22px
      padding: 1.5em 1.5em 0.5em 1.5em
    ul.bella-bg
      background-image: url('http://www.dosomething.org/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/staples/assets/bella.jpg')
      background-position: 500px 5px
      background-repeat: no-repeat
    li
      list-style-image: url(assets/bullet.png)
      list-style-position: outside
      h3
        font-size: 1.3em
        text-transform: none
        font-weight: bold
        color: #4E175B
      p 
        margin-top: 0
        //font-size: 1.1em
        
.faq-section .pane-content ul.bella-bg li p
  width: 475px
        
.faq-section
  .pane-content
    li
      p
        width: 500px

// Blog
.node-campaign-blog-post
  padding: 15px !important
  .field-name-field-picture
    img
      margin: 0 20px 20px 0
      float: left
  .field-name-field-blog-video
    clear: both
    position: relative
    bottom: -25px
    right: -125px
    margin: 35px 0
    iframe
      margin: 0 auto
      display: block

.field-type-text-with-summary
  img
    padding: 10px
    margin: 20px auto
    display: block
    border: 1px solid #000!important

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  +noBorder
  .pane-content
    padding: 15px
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink
  .views-field-title
    a
      text-decoration: none
      &:hover
        color: $secondaryLink
  .more-link
    text-transform: uppercase

.pane-campaign-blog-panel-pane-2
  +noBorder
  width: 100%
  .pane-content
    padding: 10px 0 0 0
  .view-campaign-blog
    .views-row
      padding: 5px 15px 15px
        margin: 1em 0 1em 0
      &:first-child
        &:before
          +noBorder
          margin: 0
    .views-row-even
      background-color: $paneBG
      
.banner .pane-content
  img
    margin: 0
    
// refer
.mcommons-webform
  float: left
  width: 66%
  margin-right: 2%
  border: none !important
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600
  .pane-content
    height: 175px
    padding: 0.5em

.mcommons-webform-column
  float: left
  width: 40%
  margin-right: 2%

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0
    
.hidden
  display: none
  
.pink-pane
  .pane-title
    background-image: $paneTitlePinkBGIMG !important
  .pane-content
    border: 2px solid #E40079
    background-color: white !important
    
.pink-title
  .pane-title
    background-image: $paneTitlePinkBGIMG !important
      
.email-us
  background: white
  width: 100%
  p
    float: right
    //margin-right: 5px
    font-size: 13px
  
.prizes, .scholarships
  width: 49%
  float: left
  .pane-content
    text-align: center
    padding-bottom: 10px
    min-height: 235px
    p
      margin: 0 30px

.prizes
  margin-right: 2%
  
.tell-us
  width: 65%
  #edit-submitted-field-webform-school-reference
    display: none
  #edit-submitted-field-webform-pictures
    margin-bottom: 100px
  
.sign-up
  width: 65%
  #edit-submitted-field-webform-school-reference,
  .field-name-group-audience
    display: none
  #webform-component-zip-code
    margin-bottom: 80px
  #webform-component-want-an-action-kit-fill-out-your-address-below
    margin-top: 20px
  
// set the resgister for Do Something block on sign up to be taller
#dosomething-login-register-popup-form .popup-content
  height: 165px !important
  
// Gallery 
.gallery-header
  margin-bottom: 0 !important
  
#gallery
  height: 415px
  #slideshow
    height: 360px
    width: 480px
    margin: 0 auto
    
// blog
.blog-post
  width: 580px
.pane-dosomething-blocks-dosomething-social-node-buttons .pane-content
  background: white
  
// post-referral confirmation page
.confirmation
  padding: 15px
  font-size: 14px
  text-align: center
  
// mini gallery
.mini-gallery
  .pane-content
    height: 130px
  ul.jcarousel-list-horizontal
    width: 999999px !important // ahhhhh gross
    
    li
      width: 118px !important
      
// raise your hand
body.page-node-722266
  background-color: #494949 !important
  background-image: none !important
  
  div[role="main"]
    padding: 0 !important
  
  .panel-row-logos
    width: 797px

#staples_raise-your-hand
  width: 797px
  margin-bottom: 0
  
  .pane-content
    position: relative
    background: #fff url('assets/RaiseYourHand_bg.jpg') no-repeat
    height: 928px
    
  .intro
    position: absolute
    top: 120px
    left: 80px
    width: 450px
    text-align: center
    font-size: 1.2em
    color: #fff

  .campaign-counter
    position: absolute
    top: 210px
    left: 80px
    width: 480px
    
    .campaign-counter-labels
      float: left
      font-family: din-web
      color: #fff
      font-size: 2em
      width: 215px
      text-align: right
    
    .campaign-counter-numbers
      float: left
      margin-left: 15px
  
  .lendahand
    position: absolute
    top: 460px
    left: 60px
    width: 175px
    text-align: center
    font-size: 1.2em
    line-height: 1.4em
    
    strong
      text-transform: uppercase
  
  .showyourhand
    position: absolute
    top: 460px
    left: 240px
    width: 175px
    text-align: center
    font-size: 1.2em
    line-height: 1.4em
    
    strong
      text-transform: uppercase
  
  .gethandson
    position: absolute
    top: 460px
    left: 423px
    width: 175px
    text-align: center
    font-size: 1.2em
    line-height: 1.4em
  
    strong
      text-transform: uppercase
  
  .outro
    position: absolute
    top: 695px
    left: 60px
    width: 380px
    font-size: 0.9em
    color: #fff
  
  .binders
    position: absolute
    top: 765px
    left: 20px
    z-index: 1

  
  .gallery
    position: absolute
    top: 630px
    left: 468px
    width: 295px
    text-align: right
  
    img
      border: 10px solid #fff !important
      -moz-box-shadow: 0 15px 20px -10px #3C5173 !important
      -webkit-box-shadow: 0 15px 20px -10px #3C5173 !important
      box-shadow: 0 15px 20px -10px #3C5173 !important

  .button
    font-family: din-web
    font-weight: bold
    font-size: 16px
    text-transform: uppercase
    text-decoration: none
    background-color: #fed100
    padding: 1px 13px 0
    border: 0
    @include border-radius(12px)
    @include background(linear-gradient(top, white, #FED100))
  
// raise your hand - sweeps
body.page-node-722952
  background-color: #494949 !important
  background-image: none !important
  
  .panel-row-logos
    width: 797px
  
  div[role="main"]
    padding: 0 !important

#staples_raise-your-hand-sweeps
  width: 797px
  margin-bottom: 0
  
  .pane-content
    position: relative
    background: #fff url('assets/Enter_Sweeps_bg.jpg') no-repeat
    height: 600px
    
  .intro
    position: absolute
    top: 135px
    left: 310px
    width: 415px
    text-align: center
    color: #fff
  
  .grandprize
    position: absolute
    top: 263px
    left: 380px
    width: 350px
    color: #401849
    
    strong
      color: #fff
  
  .prettygreat
    position: absolute
    top: 400px
    left: 455px
    width: 300px
    color: #333
    font-size: 11px
    
    ul
      margin-top: 5px
      font-weight: bold
      width: 190px
    
#staples_raise-your-hand-webform
  width: 797px
  
  .pane-title
    display: none
  
  .webform-client-form
    background: #58af47 url('assets/form_border.png') no-repeat 430px 50%
  
  #webform-component-instructions
    width: 400px
    color: #fff
    padding: 70px 15px 5px
    background: url('assets/how_to_enter.png') no-repeat top center
    
    ol
      padding-left: 10px
      
      li
        margin-bottom: 7px
      
      li::before
        font-size: 1em
        font-family: 'Trebuchet MS', sans-serif
        font-weight: bold

  #submitted-field-webform-school-reference-add-more-wrapper
    display: none
  
  #webform-component-first-name
    float: left
    margin-right: 12px
    width: 150px
    
    label
      padding-left: 5px
      color: #2f5e26
      text-transform: uppercase
      font-family: din-web
      font-weight: 600
    
  #webform-component-last-name
    label
      padding-left: 5px
      color: #2f5e26
      text-transform: uppercase
      font-family: din-web
      font-weight: 600
  
  label
    color: #fff
  
  #edit-submitted-field-webform-email
    width: 383px
    margin: 10px 0 12px
    
    label
      padding-left: 5px
      color: #2f5e26
      text-transform: uppercase
      font-family: din-web
      font-weight: 600
    
  input[type="text"]
    font-size: 1.5em
    +noShadow
    @include border-radius(4px)
  
  #edit-submitted-field-webform-pictures
    float: right
    width: 340px
    
    legend
      padding: 1em 0 0
      margin-bottom: 0
      line-height: 1em
    
    .fieldset-wrapper
      background: #eee url('assets/linen_bg.png')
      border: 10px solid #fff
      margin-top: 100px
      margin-left: 15px
      //width: 300px
      padding: 25px 30px
      @include box-shadow(#ccc 0 1px 4px 1px inset, #444 0 15px 20px -10px)
      
      label
        color: #000
        font-weight: normal
      
      .image-widget
        .image-preview
          background: url('assets/uploaded_notification.png') no-repeat center center
          width: 120px
          height: 120px
        
          img
            display: none !important
      
    input
      margin: 5px 0
  
  .form-wrapper
    margin-bottom: 0

  #edit-submitted-field-webform-pictures-und
    legend
      display: none
  
  label[for="edit-submitted-required-checkboxes"]
    display: none
  
  label[for="edit-submitted-opt-in-boxes"]
    display: none
  
  #webform-component-required-checkboxes
    width: 390px
    margin-top: 16px
    
    label
      padding-left: 15px
      text-indent: -15px
  
  #webform-component-birthday
    float: left !important
    margin-top: 12px
    margin-right: 28px !important
    
    label
      padding-left: 5px
      color: #2f5e26
      text-transform: uppercase
      font-family: din-web
      font-weight: 600
  
  #webform-component-state
    margin-top: 12px
    
    label
      padding-left: 5px
      color: #2f5e26
      text-transform: uppercase
      font-family: din-web
      font-weight: 600
  
  #webform-component-extended-instructions
    width: 400px
    margin-top: 16px
    color: #fff
    font-size: 0.8em
  
  #webform-component-opt-in-boxes
    width: 390px
    padding-bottom: 16px
    
    label
      padding-left: 15px
      text-indent: -15px
  
  #webform-component-official-sweepstakes-rules
    float: left
    margin-top: 6px
    width: 400px
    text-align: center
    
    a
      color: #fff !important
  
  // rediculous anonymous-user-only form elements
  #submitted-group-audience-add-more-wrapper
    display: none
  
  #edit-submitted-field-webform-mobile
    display: none
  
  #edit-submitted-taxonomy-vocabulary-5
    display: none
  
  #edit-submitted-field-webform-school
    display: none
  
  #edit-submitted-field-webform-school-zip
    display: none
  
  #edit-submitted-field-webform-videos
    display: none
  
  #edit-submitted-taxonomy-vocabulary-5
    display: none
  
  .fb-social-comments-plugin
    display: none
  
  #edit-actions
    position: relative
    right: 0
    bottom: 0
    
  // upload crap
  #edit-submitted-field-webform-pictures-und-table
    border: 0
    
    thead
      display: none
      
    td
      border: 0 !important
    
    tbody
      border: 0 !important
      
    tr.even, tr.odd
      border-bottom: 0
    
    .handle
      display: none
      
    .image-widget-data
      display: none
    
    .image-preview
      padding: 0
      
      img
        margin: 0
    
    #edit-submitted-field-webform-pictures-und-0-remove-button
      background: #555
      border: 0
      padding: 10px
      color: #fff
      font-weight: bold
      @include border-radius(4px)
    
  .tabledrag-toggle-weight-wrapper
    display: none
  
  .sticky-header
    display: none
  
  .form-item-submitted-field-webform-pictures-und-1
    display: none

// raise your hand: share
body.page-node-722954
  background-color: #494949 !important
  background-image: none !important
  
  div[role="main"]
    padding: 0 !important
  
  .panel-row-logos
    width: 797px
  
  // for confirmation popup
  .ui-dialog
    overflow: visible
    background: blue
    border: 2px solid #fff
    background: #049fdb url('assets/confirmation_msg.jpg') no-repeat center center !important
    @include box-shadow(0 0 205px #222)
    
    .ui-dialog-titlebar
      position: absolute
      top: -10px
      left: -15px
    
    .ui-icon-closethick
      pointer: cursor
      background: #000 url('assets/staples_close.png') no-repeat center center
      text-indent: -9000px !important
      border: 2px solid #fff
      @include border-radius(13px)

#staples_raise-your-hand-share
  width: 797px
  margin-bottom: 0
  
  .pane-content
    background: #fff url('assets/Share_bg.jpg') no-repeat
    height: 1065px
  
  .intro
    position: absolute
    top: 250px
    left: 60px
    width: 400px
    text-align: center
    font-size: 1.4em
    line-height: 1.4em
    color: #fff
  
  .sharebox
    position: absolute
    top: 367px
    left: 230px
    height: 30px
    
    .custom_share
      float: left
      position: relative
      bottom: 13px
      margin-left: 12px
    
    .custom_share:hover
      opacity: 0.7
    
  .showyourhand
    position: absolute
    top: 630px
    left: 80px
    width: 175px
    text-align: center
    font-size: 1.2em
    line-height: 1.4em
    
    strong
      text-transform: uppercase
  
  .gethandson
    position: absolute
    top: 630px
    left: 310px
    width: 175px
    text-align: center
    font-size: 1.2em
    line-height: 1.4em
  
    strong
      text-transform: uppercase
    
  .gallery
    position: absolute
    top: 815px
    left: 475px
    width: 295px
    text-align: right
    
    img
      border: 10px solid #fff !important
      -moz-box-shadow: 0 15px 20px -10px #3C5173 !important
      -webkit-box-shadow: 0 15px 20px -10px #3C5173 !important
      box-shadow: 0 15px 20px -10px #3C5173 !important
      
// raise your hand: confirmation popup
.message
  position: absolute
  top: 80px
  left: 150px
  width: 470px
  color: #fff
  text-align: center
  font-size: 1.05em
  
.call-to-action
  position: absolute
  top: 260px
  left: 250px
  width: 250px
  text-align: center
  color: #049fdb
  font-size: 1.3em
  line-height: 1.3em
  
.link-container
  position: absolute
  top: 340px
  left: 250px
  width: 250px
  text-align: center
  line-height: 2em

#staples_raise-your-hand-popuptrigger
  .pane-content
    background: #fff
    margin: 0 auto
    text-align: center
    
    a
      color: #ccc !important

// raise your hand [common]
.button
  font-family: din-web
  font-weight: bold
  font-size: 16px
  text-transform: uppercase
  text-decoration: none !important
  background-color: #fed100
  padding: 1px 13px 0
  border: 0
  color: #000 !important
  text-decoration: none !important
  @include border-radius(12px)
  @include background(linear-gradient(top, white, #FED100))
  
.button:hover
  text-decoration: none
  
// hiding the Google+ button
#___plusone_0
  display: none !important
  
// staples logo for bottom of page
#staples_sponsor_logo
  .pane-content
    width: 100%
    padding: 0 10px
    font-size: 1.3em
    text-align: right
  
    p
      margin-bottom: 0
    
    a
      color: #ff0000
      text-decoration: none !important
      
// sharethis fix
.st_email_large
  position: relative
  bottom: 1px
  margin-left: 7px