.main-inner {
  padding-top: 10px;
  width: 750px; }
  .main-inner a {
    text-decoration: underline;
    color: black; }
  .main-inner a.go-button {
    text-decoration: none; }
  .main-inner b {
    font-weight: 600; }

h1 {
  font-size: 32px;
  margin-bottom: 5px; }

h1.title {
  display: none; }

h2.pane-title {
  background: #59a64d; }

img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }

ul {
  margin: 0; }

body {
  background-color: #1f4ba7;
  background-image: url("assets/bg.jpg"); }

div[role="main"] {
  background: white;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

form .go-button {
  padding-top: 2px !important;
  color: black; }

.three-boxes {
  width: 32% !important;
  float: left !important;
  margin-right: 2% !important; }
  .three-boxes:last-child {
    margin-right: 0 !important; }
  .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    height: 175px;
    padding: 1.5em; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.pane-staples-2012-boxes > .pane-content {
  background: white; }

.panel-row-flexible, .panel-row-actions {
  margin: 0; }
  .panel-row-flexible .panel-pane, .panel-row-actions .panel-pane {
    margin-bottom: 15px;
    background: white; }
    .panel-row-flexible .panel-pane .pane-title, .panel-row-actions .panel-pane .pane-title {
      background-image: url("assets/pane-title-bg.png");
      background-repeat: repeat-x;
      background-position: left top; }
    .panel-row-flexible .panel-pane .pane-content, .panel-row-actions .panel-pane .pane-content {
      background: #59a64d; }

.panel-panel .pane-staples-2012-boxes .pane-content {
  background: white; }

.panel-panel .pane-staples-2012-boxes .three-boxes .pane-content {
  background: #59a64d; }

.ds-panel .pane-content {
  padding-bottom: 0px; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#breadcrumb {
  display: none; }

.panel-pane {
  border: none !important; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -7px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right;
    padding-bottom: 10px; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 15px 10px 0 0;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: black;
      font-family: "din-web-reg";
      line-height: 1.2em; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #ec008c;
        text-decoration: none; }

.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.field-name-field-campaign-logo img {
  width: 480px;
  height: 230px;
  margin-top: 0px !important; }

.panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 1.4em; }
  .panel-top-right-mini-info .field-name-field-campain-date {
    color: #ec008c;
    padding: 0;
    font-weight: 600; }
  .panel-top-right-mini-info .field-name-field-campaign-teaser p {
    margin-bottom: 15px; }
  .panel-top-right-mini-info .pane-content {
    padding-bottom: 0; }

.pane-campaign-social .pane-content .fb-facepile {
  margin-bottom: 5px; }
  .pane-campaign-social .pane-content .fb-facepile:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.pane-campaign-social .pane-content .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .pane-content .socialWrapper:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 247px; }

.panel-row-actions {
  background: #59a64d;
  margin: 0 0 15px 0;
  width: 750px;
  border: none !important; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: #59a64d; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

.webform-client-form #edit-actions {
  position: absolute;
  right: 86px;
  bottom: 9px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px;
  padding: 15px 0 12px 0; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 13px;
    left: 324px; }
    #campaign-opt-in a:hover {
      text-decoration: none; }

.pane-campaign-counter .pane-title {
  background-position: 15px 0px !important; }
.pane-campaign-counter .pane-content {
  padding: 20px 25px; }
  .pane-campaign-counter .pane-content .campaign-counter-labels {
    text-transform: uppercase;
    font-size: 25px;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 500;
    line-height: 25px;
    float: left; }
  .pane-campaign-counter .pane-content .digits, .pane-campaign-counter .pane-content .campaign-counter-label-bottom, .pane-campaign-counter .pane-content .campaign-counter-label-top {
    margin-bottom: 8px; }
  .pane-campaign-counter .pane-content .campaign-counter-label-top, .pane-campaign-counter .pane-content .campaign-counter-number-top {
    display: none; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em;
  padding: 0; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #ec008c;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 0.8em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-ad-psa {
  margin-top: 35px; }

.panel-row-logos {
  margin-top: 2em; }
  .panel-row-logos .pane-title {
    color: #ec008c;
    background: none;
    margin: 0;
    padding: 0; }
  .panel-row-logos .pane-content {
    background: none;
    padding: 0; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content ul {
    margin: 0 0 0 22px;
    padding: 1.5em 1.5em 0.5em 1.5em; }
  .faq-section .pane-content ul.bella-bg {
    background-image: url("http://www.dosomething.org/sites/all/modules/dosomething/dosomething_campaign_styles/campaign_styles/2012/staples/assets/bella.jpg");
    background-position: 500px 5px;
    background-repeat: no-repeat; }
  .faq-section .pane-content li {
    list-style-image: url(assets/bullet.png);
    list-style-position: outside; }
    .faq-section .pane-content li h3 {
      font-size: 1.3em;
      text-transform: none;
      font-weight: bold;
      color: #4e175b; }
    .faq-section .pane-content li p {
      margin-top: 0; }

.faq-section .pane-content ul.bella-bg li p {
  width: 475px; }

.faq-section .pane-content li p {
  width: 500px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 20px 20px 0;
    float: left; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #ec008c;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: black; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none !important;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #59a64d; }

.banner .pane-content img {
  margin: 0; }

#post-sign-up h3 {
  padding: 20px 15px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 40px; }

.mcommons-webform {
  float: left;
  width: 66%;
  margin-right: 2%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 23px;
    margin-bottom: 6px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .pane-content {
    height: 175px;
    padding: 0.5em; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.form-wrapper {
  margin-bottom: 5px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

.hidden {
  display: none; }

.pink-pane .pane-title {
  background-image: url("assets/pane-title-pink-bg.png") !important; }
.pink-pane .pane-content {
  border: 2px solid #e40079;
  background-color: white !important; }

.pink-title .pane-title {
  background-image: url("assets/pane-title-pink-bg.png") !important; }

.email-us {
  background: white;
  width: 100%; }
  .email-us p {
    float: right;
    font-size: 13px; }

.prizes, .scholarships {
  width: 49%;
  float: left; }
  .prizes .pane-content, .scholarships .pane-content {
    text-align: center;
    padding-bottom: 10px;
    min-height: 235px; }
    .prizes .pane-content p, .scholarships .pane-content p {
      margin: 0 30px; }

.prizes {
  margin-right: 2%; }

.tell-us {
  width: 65%; }
  .tell-us #edit-submitted-field-webform-school-reference {
    display: none; }
  .tell-us #edit-submitted-field-webform-pictures {
    margin-bottom: 100px; }

.sign-up {
  width: 65%;
  margin: 0 auto; }
  .sign-up #edit-submitted-field-webform-school-reference,
  .sign-up .field-name-group-audience {
    display: none; }
  .sign-up #webform-component-zip-code {
    margin-bottom: 80px; }
  .sign-up #webform-component-want-an-action-kit-fill-out-your-address-below {
    margin-top: 20px; }

#dosomething-login-register-popup-form .popup-content {
  height: 165px !important; }

.pane-dosomething-login-register-block {
  width: 500px;
  margin: 0 auto;
  border: none !important; }

.gallery-header {
  margin-bottom: 0 !important; }

.gallery #gallery {
  height: auto; }
  .gallery #gallery #slideshow {
    margin: 0 auto; }
.gallery ul.pager {
  padding-bottom: 20px; }

.blog-post {
  width: 580px; }

.pane-dosomething-blocks-dosomething-social-node-buttons .pane-content {
  background: white; }

.confirmation {
  padding: 15px;
  font-size: 14px;
  text-align: center; }

.mini-gallery .pane-content {
  height: 130px; }
.mini-gallery ul.jcarousel-list-horizontal {
  width: 644px !important; }
  .mini-gallery ul.jcarousel-list-horizontal li {
    width: 118px !important; }

body.page-node-722266 {
  background-color: #494949 !important;
  background-image: none !important; }
  body.page-node-722266 div[role="main"] {
    padding: 0 !important; }
  body.page-node-722266 .panel-row-logos {
    width: 797px; }

#staples_raise-your-hand {
  width: 797px;
  margin-bottom: 0; }
  #staples_raise-your-hand .pane-content {
    position: relative;
    background: white url("assets/RaiseYourHand_bg.jpg") no-repeat;
    height: 928px; }
  #staples_raise-your-hand .intro {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 450px;
    text-align: center;
    font-size: 1.2em;
    color: white; }
  #staples_raise-your-hand .campaign-counter {
    position: absolute;
    top: 210px;
    left: 80px;
    width: 480px; }
    #staples_raise-your-hand .campaign-counter .campaign-counter-labels {
      float: left;
      font-family: din-web;
      color: white;
      font-size: 2em;
      width: 215px;
      text-align: right; }
    #staples_raise-your-hand .campaign-counter .campaign-counter-numbers {
      float: left;
      margin-left: 15px; }
  #staples_raise-your-hand .lendahand {
    position: absolute;
    top: 460px;
    left: 60px;
    width: 175px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
    #staples_raise-your-hand .lendahand strong {
      text-transform: uppercase; }
  #staples_raise-your-hand .showyourhand {
    position: absolute;
    top: 460px;
    left: 240px;
    width: 175px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
    #staples_raise-your-hand .showyourhand strong {
      text-transform: uppercase; }
  #staples_raise-your-hand .gethandson {
    position: absolute;
    top: 460px;
    left: 423px;
    width: 175px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
    #staples_raise-your-hand .gethandson strong {
      text-transform: uppercase; }
  #staples_raise-your-hand .outro {
    position: absolute;
    top: 695px;
    left: 60px;
    width: 380px;
    font-size: 0.9em;
    color: white; }
  #staples_raise-your-hand .binders {
    position: absolute;
    top: 765px;
    left: 20px;
    z-index: 1; }
  #staples_raise-your-hand .gallery {
    position: absolute;
    top: 630px;
    left: 468px;
    width: 295px;
    text-align: right; }
    #staples_raise-your-hand .gallery img {
      border: 10px solid white !important;
      -moz-box-shadow: 0 15px 20px -10px #3c5173 !important;
      -webkit-box-shadow: 0 15px 20px -10px #3c5173 !important;
      box-shadow: 0 15px 20px -10px #3c5173 !important; }
  #staples_raise-your-hand .button {
    font-family: din-web;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fed100;
    padding: 1px 13px 0;
    border: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fed100));
    background: -webkit-linear-gradient(top, #ffffff, #fed100);
    background: -moz-linear-gradient(top, #ffffff, #fed100);
    background: -o-linear-gradient(top, #ffffff, #fed100);
    background: -ms-linear-gradient(top, #ffffff, #fed100);
    background: linear-gradient(top, #ffffff, #fed100); }

body.page-node-722952 {
  background-color: #494949 !important;
  background-image: none !important; }
  body.page-node-722952 .panel-row-logos {
    width: 797px; }
  body.page-node-722952 div[role="main"] {
    padding: 0 !important; }

#staples_raise-your-hand-sweeps {
  width: 797px;
  margin-bottom: 0; }
  #staples_raise-your-hand-sweeps .pane-content {
    position: relative;
    background: white url("assets/Enter_Sweeps_bg.jpg") no-repeat;
    height: 600px; }
  #staples_raise-your-hand-sweeps .intro {
    position: absolute;
    top: 135px;
    left: 310px;
    width: 415px;
    text-align: center;
    color: white; }
  #staples_raise-your-hand-sweeps .grandprize {
    position: absolute;
    top: 263px;
    left: 380px;
    width: 350px;
    color: #401849; }
    #staples_raise-your-hand-sweeps .grandprize strong {
      color: white; }
  #staples_raise-your-hand-sweeps .prettygreat {
    position: absolute;
    top: 400px;
    left: 455px;
    width: 300px;
    color: #333333;
    font-size: 11px; }
    #staples_raise-your-hand-sweeps .prettygreat ul {
      margin-top: 5px;
      font-weight: bold;
      width: 190px; }

#staples_raise-your-hand-webform {
  width: 797px; }
  #staples_raise-your-hand-webform .pane-title {
    display: none; }
  #staples_raise-your-hand-webform .webform-client-form {
    background: #58af47 url("assets/form_border.png") no-repeat 430px 50%; }
  #staples_raise-your-hand-webform #webform-component-instructions {
    width: 400px;
    color: white;
    padding: 70px 15px 5px;
    background: url("assets/how_to_enter.png") no-repeat top center; }
    #staples_raise-your-hand-webform #webform-component-instructions ol {
      padding-left: 10px; }
      #staples_raise-your-hand-webform #webform-component-instructions ol li {
        margin-bottom: 7px; }
      #staples_raise-your-hand-webform #webform-component-instructions ol li::before {
        font-size: 1em;
        font-family: "Trebuchet MS", sans-serif;
        font-weight: bold; }
  #staples_raise-your-hand-webform #submitted-field-webform-school-reference-add-more-wrapper {
    display: none; }
  #staples_raise-your-hand-webform #webform-component-first-name {
    float: left;
    margin-right: 12px;
    width: 150px; }
    #staples_raise-your-hand-webform #webform-component-first-name label {
      padding-left: 5px;
      color: #2f5e26;
      text-transform: uppercase;
      font-family: din-web;
      font-weight: 600; }
  #staples_raise-your-hand-webform #webform-component-last-name label {
    padding-left: 5px;
    color: #2f5e26;
    text-transform: uppercase;
    font-family: din-web;
    font-weight: 600; }
  #staples_raise-your-hand-webform label {
    color: white; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-email {
    width: 383px;
    margin: 10px 0 12px; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-email label {
      padding-left: 5px;
      color: #2f5e26;
      text-transform: uppercase;
      font-family: din-web;
      font-weight: 600; }
  #staples_raise-your-hand-webform input[type="text"] {
    font-size: 1.5em;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures {
    float: right;
    width: 340px; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures legend {
      padding: 1em 0 0;
      margin-bottom: 0;
      line-height: 1em; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures .fieldset-wrapper {
      background: #eeeeee url("assets/linen_bg.png");
      border: 10px solid white;
      margin-top: 100px;
      margin-left: 15px;
      padding: 25px 30px;
      -webkit-box-shadow: #cccccc 0 1px 4px 1px inset, #444444 0 15px 20px -10px;
      -moz-box-shadow: #cccccc 0 1px 4px 1px inset, #444444 0 15px 20px -10px;
      box-shadow: #cccccc 0 1px 4px 1px inset, #444444 0 15px 20px -10px; }
      #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures .fieldset-wrapper label {
        color: black;
        font-weight: normal; }
      #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures .fieldset-wrapper .image-widget .image-preview {
        background: url("assets/uploaded_notification.png") no-repeat center center;
        width: 120px;
        height: 120px; }
        #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures .fieldset-wrapper .image-widget .image-preview img {
          display: none !important; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures input {
      margin: 5px 0; }
  #staples_raise-your-hand-webform .form-wrapper {
    margin-bottom: 0; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und legend {
    display: none; }
  #staples_raise-your-hand-webform label[for="edit-submitted-required-checkboxes"] {
    display: none; }
  #staples_raise-your-hand-webform label[for="edit-submitted-opt-in-boxes"] {
    display: none; }
  #staples_raise-your-hand-webform #webform-component-required-checkboxes {
    width: 390px;
    margin-top: 16px; }
    #staples_raise-your-hand-webform #webform-component-required-checkboxes label {
      padding-left: 15px;
      text-indent: -15px; }
  #staples_raise-your-hand-webform #webform-component-birthday {
    float: left !important;
    margin-top: 12px;
    margin-right: 28px !important; }
    #staples_raise-your-hand-webform #webform-component-birthday label {
      padding-left: 5px;
      color: #2f5e26;
      text-transform: uppercase;
      font-family: din-web;
      font-weight: 600; }
  #staples_raise-your-hand-webform #webform-component-state {
    margin-top: 12px; }
    #staples_raise-your-hand-webform #webform-component-state label {
      padding-left: 5px;
      color: #2f5e26;
      text-transform: uppercase;
      font-family: din-web;
      font-weight: 600; }
  #staples_raise-your-hand-webform #webform-component-extended-instructions {
    width: 400px;
    margin-top: 16px;
    color: white;
    font-size: 0.8em; }
  #staples_raise-your-hand-webform #webform-component-opt-in-boxes {
    width: 390px;
    padding-bottom: 16px; }
    #staples_raise-your-hand-webform #webform-component-opt-in-boxes label {
      padding-left: 15px;
      text-indent: -15px; }
  #staples_raise-your-hand-webform #webform-component-official-sweepstakes-rules {
    float: left;
    margin-top: 6px;
    width: 400px;
    text-align: center; }
    #staples_raise-your-hand-webform #webform-component-official-sweepstakes-rules a {
      color: white !important; }
  #staples_raise-your-hand-webform #submitted-group-audience-add-more-wrapper {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-mobile {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-taxonomy-vocabulary-5 {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-school {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-school-zip {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-videos {
    display: none; }
  #staples_raise-your-hand-webform #edit-submitted-taxonomy-vocabulary-5 {
    display: none; }
  #staples_raise-your-hand-webform .fb-social-comments-plugin {
    display: none; }
  #staples_raise-your-hand-webform #edit-actions {
    position: relative;
    right: 0;
    bottom: 0; }
  #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table {
    border: 0; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table thead {
      display: none; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table td {
      border: 0 !important; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table tbody {
      border: 0 !important; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table tr.even, #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table tr.odd {
      border-bottom: 0; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table .handle {
      display: none; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table .image-widget-data {
      display: none; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table .image-preview {
      padding: 0; }
      #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table .image-preview img {
        margin: 0; }
    #staples_raise-your-hand-webform #edit-submitted-field-webform-pictures-und-table #edit-submitted-field-webform-pictures-und-0-remove-button {
      background: #555555;
      border: 0;
      padding: 10px;
      color: white;
      font-weight: bold;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
  #staples_raise-your-hand-webform .tabledrag-toggle-weight-wrapper {
    display: none; }
  #staples_raise-your-hand-webform .sticky-header {
    display: none; }
  #staples_raise-your-hand-webform .form-item-submitted-field-webform-pictures-und-1 {
    display: none; }

body.page-node-722954 {
  background-color: #494949 !important;
  background-image: none !important; }
  body.page-node-722954 div[role="main"] {
    padding: 0 !important; }
  body.page-node-722954 .panel-row-logos {
    width: 797px; }
  body.page-node-722954 .ui-dialog {
    overflow: visible;
    background: blue;
    border: 2px solid white;
    background: #049fdb url("assets/confirmation_msg.jpg") no-repeat center center !important;
    -webkit-box-shadow: 0 0 205px #222222;
    -moz-box-shadow: 0 0 205px #222222;
    box-shadow: 0 0 205px #222222; }
    body.page-node-722954 .ui-dialog .ui-dialog-titlebar {
      position: absolute;
      top: -10px;
      left: -15px; }
    body.page-node-722954 .ui-dialog .ui-icon-closethick {
      pointer: cursor;
      background: black url("assets/staples_close.png") no-repeat center center;
      text-indent: -9000px !important;
      border: 2px solid white;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      -ms-border-radius: 13px;
      -o-border-radius: 13px;
      border-radius: 13px; }

#staples_raise-your-hand-share {
  width: 797px;
  margin-bottom: 0; }
  #staples_raise-your-hand-share .pane-content {
    background: white url("assets/Share_bg.jpg") no-repeat;
    height: 1065px; }
  #staples_raise-your-hand-share .intro {
    position: absolute;
    top: 250px;
    left: 60px;
    width: 400px;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
    color: white; }
  #staples_raise-your-hand-share .sharebox {
    position: absolute;
    top: 367px;
    left: 230px;
    height: 30px; }
    #staples_raise-your-hand-share .sharebox .custom_share {
      float: left;
      position: relative;
      bottom: 13px;
      margin-left: 12px; }
    #staples_raise-your-hand-share .sharebox .custom_share:hover {
      opacity: 0.7; }
  #staples_raise-your-hand-share .showyourhand {
    position: absolute;
    top: 630px;
    left: 80px;
    width: 175px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
    #staples_raise-your-hand-share .showyourhand strong {
      text-transform: uppercase; }
  #staples_raise-your-hand-share .gethandson {
    position: absolute;
    top: 630px;
    left: 310px;
    width: 175px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em; }
    #staples_raise-your-hand-share .gethandson strong {
      text-transform: uppercase; }
  #staples_raise-your-hand-share .gallery {
    position: absolute;
    top: 815px;
    left: 475px;
    width: 295px;
    text-align: right; }
    #staples_raise-your-hand-share .gallery img {
      border: 10px solid white !important;
      -moz-box-shadow: 0 15px 20px -10px #3c5173 !important;
      -webkit-box-shadow: 0 15px 20px -10px #3c5173 !important;
      box-shadow: 0 15px 20px -10px #3c5173 !important; }

.message {
  position: absolute;
  top: 80px;
  left: 150px;
  width: 470px;
  color: white;
  text-align: center;
  font-size: 1.05em; }

.call-to-action {
  position: absolute;
  top: 260px;
  left: 250px;
  width: 250px;
  text-align: center;
  color: #049fdb;
  font-size: 1.3em;
  line-height: 1.3em; }

.link-container {
  position: absolute;
  top: 340px;
  left: 250px;
  width: 250px;
  text-align: center;
  line-height: 2em; }

#staples_raise-your-hand-popuptrigger .pane-content {
  background: white;
  margin: 0 auto;
  text-align: center; }
  #staples_raise-your-hand-popuptrigger .pane-content a {
    color: #cccccc !important; }

.button {
  font-family: din-web;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  background-color: #fed100;
  padding: 1px 13px 0;
  border: 0;
  color: black !important;
  text-decoration: none !important;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fed100));
  background: -webkit-linear-gradient(top, #ffffff, #fed100);
  background: -moz-linear-gradient(top, #ffffff, #fed100);
  background: -o-linear-gradient(top, #ffffff, #fed100);
  background: -ms-linear-gradient(top, #ffffff, #fed100);
  background: linear-gradient(top, #ffffff, #fed100); }

.button:hover {
  text-decoration: none; }

#___plusone_0 {
  display: none !important; }

#staples_sponsor_logo .pane-content {
  width: 100%;
  padding: 0 10px;
  font-size: 1.3em;
  text-align: right; }
  #staples_sponsor_logo .pane-content p {
    margin-bottom: 0; }
  #staples_sponsor_logo .pane-content a {
    color: red;
    text-decoration: none !important; }

.st_email_large {
  position: relative;
  bottom: 1px;
  margin-left: 7px; }
