body { font-family: "Trebuchet MS"; font-size: 10pt; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
li { clear: both; border-bottom: 1px solid #000000; padding: 10px; height: 20px;}
li:hover { background: #EBEBEB; cursor: pointer; }
li input { float: left; }
li strong { float: left; }
li span { float: right; }

div#choices { clear: both; }
h1, p { text-align: center;}
h1 { margin: 0px;}
div#socials { 
  width: 345px;
  margin: 0px auto;
}

div#response {
  height: 355px;
  overflow: auto;
  display: none;
  margin-top: 5px;
}

textarea { display: none; }

#petition-fb {
  color: transparent;
  background: url("/sites/all/modules/dosomething/features/dosomething_petitions/fb_share.png") center center;
  margin: 0 auto 2em;
  text-indent: -9999px;
  display: block;
  height: 32px;
  width: 185px; }

#check-area, #send-emails { display: none; }
#loading { display: none; }

div.service {
  width: 135px;
  background: #fff;
}

div.service a { text-decoration: none; }
div.service a img {
  float: left;
  margin-right: 5px;
}

p#client-email-link {
  clear: both;
  position: relative;
  top: 15px;
}

div.service { float: left; margin: 5px;}