body {
  background: #ffd215; }

body.one-sidebar.sidebar-first [role="main"] {
  width: 760px;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

div[role="main"] h1, div[role="main"] h2, div[role="main"] h3, div[role="main"] h4, div[role="main"] p, div[role="main"] b, div[role="main"] a, div[role="main"] label, div[role="main"] .divider, div[role="main"] .disclaimer, #cask-aside h1, #cask-aside h2, #cask-aside h3, #cask-aside h4, #cask-aside p, #cask-aside b, #cask-aside a, #cask-aside label, #cask-aside .divider, #cask-aside .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  color: white; }
div[role="main"] h1, div[role="main"] h2, div[role="main"] h3, #cask-aside h1, #cask-aside h2, #cask-aside h3 {
  text-transform: uppercase; }
div[role="main"] h1.massive, #cask-aside h1.massive {
  font-size: 55px;
  line-height: 65px;
  text-align: center; }
div[role="main"] h1, #cask-aside h1 {
  font-size: 32px;
  line-height: 1.54em; }
div[role="main"] h2, div[role="main"] .divider, #cask-aside h2, #cask-aside .divider {
  font-size: 20px;
  line-height: 1.54em; }
div[role="main"] h3, #cask-aside h3 {
  font-size: 18px;
  line-height: 22px; }
div[role="main"] h4, #cask-aside h4 {
  font-size: 14px;
  line-height: 17px; }
div[role="main"] p, div[role="main"] label, #cask-aside p, #cask-aside label {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; }
div[role="main"] .disclaimer, #cask-aside .disclaimer {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px; }
div[role="main"] a, #cask-aside a {
  color: #ffd215;
  text-decoration: none; }
  div[role="main"] a:hover, #cask-aside a:hover {
    text-decoration: underline; }

.col {
  width: 29%;
  float: left; }

.col2 {
  width: 69%;
  float: right; }

.col3, .col4 {
  width: 46%;
  height: 295px;
  float: left; }

.col4 {
  float: right; }

.col, .col2, .col3, .col4 {
  position: relative; }

.mid {
  margin: 0 6%; }

.share-here1,
.share-here2,
.share-here3 {
  display: none;
  position: absolute;
  right: -5%;
  bottom: -11%; }

.divider {
  text-align: center; }
  .divider span {
    background: #ffd215;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: relative;
    top: -15px; }

.social-t, .social-f {
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block; }
  .social-t:hover, .social-f:hover {
    background-position-y: -20px; }

.social-f {
  background-image: url("assets/social-f.jpg");
  width: 15px; }

.social-t {
  background-image: url("assets/social-t.jpg");
  width: 18px; }

.contact_form-aside, .nav-aside {
  background: #231f20;
  padding: 5%; }

.sprint, .toyota {
  width: 130px;
  margin: 0 auto 5%;
  overflow: hidden;
  display: block; }

.sprint {
  height: 58px;
  background: url("assets/sprint.png"); }
  .sprint:hover {
    background-position-y: -61px; }

.toyota {
  height: 25px;
  background: url("assets/toyota.png"); }
  .toyota:hover {
    background-position-y: -26px; }

.refer-form {
  margin: 0 auto;
  width: 80%; }

.mcommons-col {
  width: 35%;
  margin: 0 0 0 5%;
  float: left; }
  .mcommons-col input[type="text"] {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: none; }
  .mcommons-col input, .mcommons-col label {
    float: left;
    margin: 0 0 5% 0; }

.mcommons-col-last {
  width: 15%;
  float: left;
  margin: 120px 0 0 5%; }

.help {
  padding: 1em 0 0 0;
  font-style: italic;
  font-size: 11px; }

.center {
  text-align: center; }

.section {
  border-bottom: 2px solid white; }

.do, .do2, .actionguide, .learn, .scholarship, .did, .faq, .row {
  text-align: center; }
  .do:before, .do:after, .do2:before, .do2:after, .actionguide:before, .actionguide:after, .learn:before, .learn:after, .scholarship:before, .scholarship:after, .did:before, .did:after, .faq:before, .faq:after, .row:before, .row:after {
    zoom: 1;
    content: "";
    display: table; }
  .do:after, .do2:after, .actionguide:after, .learn:after, .scholarship:after, .did:after, .faq:after, .row:after {
    clear: both; }

#cask-aside {
  margin-top: 104px;
  float: left;
  width: 250px; }

#cork, #cask {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 2%; }

#cork {
  height: 270px;
  background: url("assets/header.jpg") no-repeat; }

#cask {
  background: #231f20; }

.header {
  height: 270px; }

.do {
  height: 300px; }

.do2 {
  height: 285px; }

.actionguide {
  height: 570px; }

.learn {
  height: 630px; }

.scholarship {
  height: 595px; }

.faq {
  height: 345px;
  text-align: left;
  border-bottom: none; }

div.contact_form-aside {
  margin: 5% 0; }
  div.contact_form-aside h1, div.contact_form-aside h2 {
    text-align: center; }
  div.contact_form-aside h1 {
    font-size: 40px;
    margin: 0 0 0 0; }
  div.contact_form-aside h2 {
    padding: 0 0 5% 0;
    border-bottom: 2px solid white; }

form.webform-client-form {
  text-align: center; }
  form.webform-client-form input {
    width: 80%; }
  form.webform-client-form #edit-actions {
    text-align: center; }

.webform-client-form ::-webkit-input-placeholder {
  color: grey; }

.webform-client-form input:-moz-placeholder,
.webform-client-form textarea:-moz-placeholder {
  color: grey; }

.webform-client-form input.placeholder-text,
.webform-client-form textarea.placeholder-text {
  color: grey; }

div.nav-aside h3 {
  color: #ffd215; }
div.nav-aside h4 {
  text-transform: uppercase; }
div.nav-aside ul {
  margin: 0 0 5% 0;
  padding: 0 0 5% 0;
  border-bottom: 2px solid white;
  list-style-type: none; }

div.header {
  margin: 0 auto;
  text-align: right;
  position: relative;
  border-bottom: 2px solid white; }
  div.header h1, div.header h2 {
    color: #ffd215;
    text-align: right;
    padding: 1.5% 0; }
  div.header a {
    display: inline-block;
    margin: 2% 0 0 1%; }
  div.header span {
    padding: 0 0.3em;
    background: #0a5080;
    background: rgba(10, 80, 128, 0.5); }

.do img, .do2 img {
  width: 100%; }
.do p, .do2 p {
  position: absolute;
  bottom: 0; }
.do p.disclaimer, .do2 p.disclaimer {
  position: relative;
  text-align: left;
  font-size: 10px;
  width: 145px;
  float: left; }
.do .col, .do2 .col {
  height: 245px; }

.do2 {
  padding: 2% 0; }
  .do2 .col2 {
    margin: 2% 0 0 0; }

.actionguide {
  padding: 5% 0; }

div.learn h3 {
  margin: 40% 0 0; }
div.learn p {
  margin: 2% 0 10%; }
div.learn .disclaimer {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 2%;
  display: block; }
  div.learn .disclaimer:hover {
    color: #ffd215; }
div.learn .row {
  margin-bottom: 5%; }
div.learn .col2 {
  float: left; }
div.learn .learn1, div.learn .learn2, div.learn .learn3 {
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
  overflow: hidden;
  background-repeat: no-repeat; }
  div.learn .learn1:hover, div.learn .learn2:hover, div.learn .learn3:hover {
    background-position-y: -200px; }
div.learn .learn1 {
  background: url("assets/learn1.png"); }
div.learn .learn2 {
  background: url("assets/learn2.png"); }
div.learn .learn3 {
  background: url("assets/learn3.png"); }
div.learn .go-button {
  padding-top: 2%; }
  div.learn .go-button:hover {
    text-decoration: none; }

div.scholarship h1, div.scholarship img, div.scholarship .disclaimer {
  margin: 2% 0; }

div.did {
  padding-bottom: 5%; }
  div.did h1 {
    color: #ffd215;
    line-height: 1em;
    margin-top: 1em; }
  div.did a {
    color: white;
    font-size: 18px;
    text-decoration: underline; }

div.faq h4 {
  color: #ffd215;
  background-image: url("assets/arrow-faq.png");
  background-repeat: no-repeat;
  background-position-y: 5px;
  cursor: pointer; }
div.faq h4, div.faq p {
  padding-left: 1em; }
div.faq .activeFAQ {
  background-position-y: -15px; }

#thumb-wars-action-guide {
  color: white;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative; }
  #thumb-wars-action-guide #thumb-wars-action-guide-nav ul {
    margin-top: 0.5em; }
  #thumb-wars-action-guide ul {
    padding-left: 0;
    margin: 0; }
  #thumb-wars-action-guide .action-guide-description {
    margin: 2% 0 0 0; }
  #thumb-wars-action-guide #action-guide-right, #thumb-wars-action-guide #action-guide-left {
    position: absolute;
    top: 120px;
    font-size: 60px; }
    #thumb-wars-action-guide #action-guide-right:hover, #thumb-wars-action-guide #action-guide-left:hover {
      text-decoration: none;
      color: white; }
  #thumb-wars-action-guide #action-guide-right {
    right: 60px; }
  #thumb-wars-action-guide #action-guide-left {
    left: 60px; }
  #thumb-wars-action-guide li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #thumb-wars-action-guide li.action-guide-circle {
      display: inline-block;
      width: 40px;
      cursor: pointer;
      font-size: 60px;
      line-height: 40px;
      color: #ffdd00;
      margin-right: -12px;
      text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0; }
      #thumb-wars-action-guide li.action-guide-circle.active {
        color: white; }

.view-campaign-gallery .pager a, .view-campaign-gallery .pager a {
  color: white; }

.go-button {
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: none;
  height: 30px;
  padding: 1px 13px 0;
  background-color: #fed100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100% color-stop(0%, white), color-stop(100%, #fed100));
  background-image: -webkit-linear-gradient(top, white, #fed100);
  background-image: -moz-linear-gradient(top, white, #fed100);
  background-image: -o-linear-gradient(top, white, #fed100);
  background-image: linear-gradient(top, #ffffff, #fed100);
  font-size: 18px;
  text-transform: uppercase; }
