* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p, b, a, label, .divider, .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  color: white; }

h1, h2, h3 {
  text-transform: uppercase; }

h1.massive {
  font-size: 55px;
  line-height: 65px;
  text-align: center; }

h1 {
  font-size: 32px;
  line-height: 1.54em; }

h2, .divider {
  font-size: 20px;
  line-height: 1.54em; }

h3 {
  font-size: 18px;
  line-height: 22px; }

h4 {
  font-size: 14px;
  line-height: 17px; }

p, label {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; }

.disclaimer {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px; }

a {
  color: #ffdd00;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.col {
  width: 29%;
  float: left; }

.col2 {
  width: 69%;
  float: right; }

.col3, .col4 {
  width: 46%;
  height: 295px;
  float: left; }

.col4 {
  float: right; }

.col, .col2, .col3, .col4 {
  position: relative; }

.mid {
  margin: 0 6%; }

.share-here1,
.share-here2,
.share-here3 {
  display: none;
  position: absolute;
  right: -5%;
  bottom: -11%; }

.divider {
  text-align: center; }
  .divider span {
    background: #ffdd00;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: relative;
    top: -15px; }

.social-t, .social-f {
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block; }
  .social-t:hover, .social-f:hover {
    background-position-y: -20px; }

.social-f {
  background-image: url("assets/social-f.jpg");
  width: 15px; }

.social-t {
  background-image: url("assets/social-t.jpg");
  width: 18px; }

.contact_form-aside, .nav-aside {
  background: #231f20;
  padding: 5%; }

.sprint, .toyota {
  width: 130px;
  margin: 0 auto 5%;
  overflow: hidden;
  display: block; }

.sprint {
  height: 50px;
  background: url("assets/sprint.png"); }
  .sprint:hover {
    background-position-y: -61px; }

.toyota {
  height: 20px;
  background: url("assets/toyota.png"); }
  .toyota:hover {
    background-position-y: -26px; }

.refer-form {
  margin: 0 auto;
  width: 65%; }

.mcommons-col {
  width: 45%;
  margin: 0 0 0 5%;
  float: left; }
  .mcommons-col input[type="text"] {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: none; }
  .mcommons-col input, .mcommons-col label {
    float: left;
    margin: 0 0 5% 0; }

.help {
  padding: 1em 0 0 0;
  font-style: italic;
  font-size: 11px; }

.center {
  text-align: center; }

.section {
  border-bottom: 2px solid white; }

.do, .do2, .actionguide, .learn, .scholarship, .did, .faq, .row {
  text-align: center; }
  .do:before, .do:after, .do2:before, .do2:after, .actionguide:before, .actionguide:after, .learn:before, .learn:after, .scholarship:before, .scholarship:after, .did:before, .did:after, .faq:before, .faq:after, .row:before, .row:after {
    zoom: 1;
    content: "";
    display: table; }
  .do:after, .do2:after, .actionguide:after, .learn:after, .scholarship:after, .did:after, .faq:after, .row:after {
    clear: both; }

#cask-aside {
  width: 250px; }

#cork, #cask {
  margin: 0 auto;
  max-width: 727px;
  padding: 0 2%; }

#cork {
  height: 270px;
  background: url("assets/header.jpg") no-repeat; }

#cask {
  background: #231f20; }

.header {
  height: 270px; }

.do {
  height: 300px; }

.do2 {
  height: 250px; }

.actionguide {
  height: 480px; }

.learn {
  height: 630px; }

.scholarship {
  height: 595px; }

.faq {
  height: 345px;
  text-align: left;
  border-bottom: none; }

.contact_form-aside {
  margin: 5% 0; }
  .contact_form-aside h2 {
    text-align: center;
    border-bottom: 2px solid white; }

.nav-aside h3 {
  color: #ffdd00; }
.nav-aside h4 {
  text-transform: uppercase; }
.nav-aside ul {
  margin: 0 0 5% 0;
  padding: 0 0 5% 0;
  border-bottom: 2px solid white; }

.header {
  margin: 0 auto;
  text-align: right;
  position: relative;
  border-bottom: 2px solid white; }
  .header h1, .header h2 {
    color: #ffdd00;
    text-align: right;
    padding: 1.5% 0; }
  .header a {
    display: inline-block;
    margin: 2% 0 0 1%; }
  .header span {
    padding: 0 0.3em;
    background: #0a5080;
    background: rgba(10, 80, 128, 0.5); }

.do img, .do2 img {
  width: 100%; }
.do p, .do2 p {
  position: absolute;
  bottom: 0; }
.do p.disclaimer, .do2 p.disclaimer {
  position: relative;
  text-align: left;
  font-size: 10px;
  width: 145px;
  float: left; }
.do .col, .do2 .col {
  height: 230px; }
.do .col2, .do2 .col2 {
  margin-top: 2%; }

.do2 {
  padding: 2% 0; }

.actionguide {
  padding: 5% 0; }

.learn h3 {
  margin: 40% 0 0; }
.learn p {
  margin: 5% 0; }
.learn .disclaimer {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 2%;
  display: block; }
  .learn .disclaimer:hover {
    color: #ffdd00; }
.learn .row {
  margin-bottom: 5%; }
.learn .col2 {
  float: left; }
.learn .learn1, .learn .learn2, .learn .learn3 {
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
  overflow: hidden;
  background-repeat: no-repeat; }
  .learn .learn1:hover, .learn .learn2:hover, .learn .learn3:hover {
    background-position-y: -200px; }
.learn .learn1 {
  background: url("assets/learn1.png"); }
.learn .learn2 {
  background: url("assets/learn2.png"); }
.learn .learn3 {
  background: url("assets/learn3.png"); }
.learn .go-button {
  padding-top: 5%; }

.scholarship h1, .scholarship img, .scholarship .disclaimer {
  margin: 2% 0; }

.faq h4 {
  color: #ffdd00;
  background-image: url("assets/arrow-faq.png");
  background-repeat: no-repeat;
  background-position-y: 5px;
  cursor: pointer; }
.faq h4, .faq p {
  padding-left: 1em; }
.faq .activeFAQ {
  background-position-y: -15px; }

#thumb-wars-action-guide {
  color: white;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative; }
  #thumb-wars-action-guide .action-guide-description {
    margin: 2% 0 0 0; }
  #thumb-wars-action-guide #action-guide-right, #thumb-wars-action-guide #action-guide-left {
    position: absolute;
    top: 120px;
    font-size: 60px; }
    #thumb-wars-action-guide #action-guide-right:hover, #thumb-wars-action-guide #action-guide-left:hover {
      text-decoration: none;
      color: white; }
  #thumb-wars-action-guide #action-guide-right {
    right: 60px; }
  #thumb-wars-action-guide #action-guide-left {
    left: 60px; }
  #thumb-wars-action-guide li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #thumb-wars-action-guide li.action-guide-circle {
      display: inline-block;
      width: 40px;
      cursor: pointer;
      font-size: 40px;
      line-height: 40px;
      color: #ffdd00;
      margin-right: -12px;
      text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0; }
      #thumb-wars-action-guide li.action-guide-circle.active {
        color: white; }

.go-button {
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: none;
  height: 30px;
  padding: 1px 13px 0;
  background-color: #fed100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100% color-stop(0%, white), color-stop(100%, #fed100));
  background-image: -webkit-linear-gradient(top, white, #fed100);
  background-image: -moz-linear-gradient(top, white, #fed100);
  background-image: -o-linear-gradient(top, white, #fed100);
  background-image: linear-gradient(top, #ffffff, #fed100);
  font-size: 18px;
  text-transform: uppercase; }
