* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p, b, a, label, .divider, .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  padding: 0.2em 0;
  color: white; }

h1.massive {
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-size: 32px;
  line-height: 38px; }

h2, .divider {
  font-size: 20px;
  line-height: 25px; }

h3 {
  font-size: 18px;
  line-height: 22px; }

h4 {
  font-size: 14px;
  line-height: 17px; }

p, label {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; }

.disclaimer {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px; }

a {
  color: #ffdd00;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#cask {
  background: #231f20;
  margin: 0 auto;
  width: 670px;
  padding: 0 2%; }

.col {
  width: 29.333%;
  padding: 2%;
  float: left;
  position: relative; }

.col2 {
  width: 66%;
  float: left; }

.col3 {
  width: 50%;
  float: left; }

.col4 {
  width: 50%;
  float: right; }

.section {
  border-bottom: 2px solid white;
  height: 400px; }

.do, .learn, .scholarship, .did, .faq, .row {
  width: 100%;
  overflow: visible; }

div.divider {
  text-align: center; }
  div.divider span {
    background: #ffdd00;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: relative;
    top: -15px; }

.cause h1, .cause h2 {
  color: #ffdd00;
  text-align: right; }
.cause h1 {
  text-transform: uppercase; }
.cause span {
  padding: 0 5px;
  background: black;
  background: rgba(0, 0, 0, 0.7); }

.do {
  text-align: center; }
  .do h1, .do h2 {
    text-transform: uppercase; }
  .do p {
    position: absolute;
    bottom: 0; }
  .do img {
    padding: 10% 0; }
  .do .col {
    height: 280px; }
