// compass imports
@import compass/css3

// variable definitions
$thumbYellow: #FFDD00
$thumbBlue: #0A5083
$thumbGrey: #231F20

$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

// element styling
*
  margin: 0
  padding: 0

h1, h2, h3, h4, p, b, a, label, .divider, .disclaimer
  font-weight: 600
  font-family: $din
  padding: 0.2em 0
  color: #fff
  
h1.massive
  font-size: 55px
  line-height: 65px
  text-transform: uppercase
  text-align: center
  
h1
  font-size: 32px
  line-height: 38px 
  
h2, .divider
  font-size: 20px
  line-height: 25px
  
h3
  font-size: 18px
  line-height: 22px
  
h4
  font-size: 14px
  line-height: 17px
  
p, label
  font-size: 14px
  font-weight: 500
  line-height: 17px
  
.disclaimer
  font-size: 12px
  font-weight: 500
  line-height: 14px

a
  color: $thumbYellow
  text-decoration: none
  &:hover
    text-decoration: underline
    
// class definitions
#cask
  background: $thumbGrey
  margin: 0 auto
  width: 670px
  padding: 0 2%

.col
  width: 29.3333333%
  padding: 2%
  float: left
  position: relative

.col2
  width: 66%
  float: left

.col3
  width: 50%
  float: left

.col4
  width: 50%
  float: right

.section
  border-bottom: 2px solid #fff
  height: 400px

.do, .learn, .scholarship, .did, .faq, .row
  width: 100%
  overflow: visible

div.divider
  text-align: center
  span
    background: $thumbYellow
    text-transform: uppercase
    padding: 0.5em 0.8em
    font-size: 18px
    font-weight: 500
    color: #000
    position: relative
    top: -15px
    
// page sections
.cause
  h1, h2
    color: $thumbYellow
    text-align: right
  h1
    text-transform: uppercase
  span
    padding: 0 5px
    background: rgb(0,0,0)
    background: rgba(0,0,0,0.7)

.do
  text-align: center
  h1, h2
    text-transform: uppercase
  p
    position: absolute
    bottom: 0
  img
    padding: 10% 0
  .col
    height: 280px

.learn
.scholarship
.did
.faq

// le fin!