/* Forms --------------------------------------------------------------
fieldset
  margin-bottom: 14px
  border: 0

.fieldset-wrapper
  background: rgba($white, 0.75)
  border: 1px solid $pfp-gray-lt
  +border-radius(8px)
  padding: 12px
  +box-sizing(border-box)

legend
  padding: 0 0.25em

label
  cursor: pointer

label
  margin-right: 0.5em
  font-weight: normal
  +float-left
  font-size: 12px

%textinput
  @extend %constrain-to-parent
  +adjust-font-size-to($base-font-size, 1)
  border: 1px solid $pfp-gray-lt
  width: 140px
  margin-top: 0
  height: 22px
  font-size: 12px
  // @extend %gray-white-radial

textarea
  @extend %textinput

input
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color]
    @extend %textinput
  // reset webkit search styles
  &[type=search]
    -webkit-appearance: none
    &::-webkit-search-decoration
      display: none

// textarea
//   width: ($kit-col-width * 2) + ($kit-gutter * 1)

input
  &[type="radio"], &[type="checkbox"]
    margin-left: 0.25em
    margin-right: 0.25em

textarea, input:not([type="radio"])
  @extend %constrain-to-parent

//////////////////////////////
// PFP FORM STYLES
//////////////////////////////
.fieldset-legend
  @extend %h1
  @extend %allcaps
  font-size: 26px


#field-fb-app-three-words-values
  width: 400px
  tbody
    border-top: 0
  th
    border-bottom: 0
    font-weight: normal
    font-size: 14px
  tr
    background: none
    border-bottom: 0

.form-actions
  input[type="submit"]
    @extend %league-gothic
    +float-right
    color: $pfp-red
    background: $white
    padding: 2px 12px
    +border-radius(10px)
    border: 0
    text-transform: uppercase
    font-family: $font-league
    font-size: 18px
    +box-shadow(rgba($black, 0.1) 0px 0px 10px)











