@import compass/css3

// global variables and mixins
@import "base"
@import "variables"

// "do it" theme-specific overrides
@import "drupal"

// "jv" template styles
#cmp
  @import "reset"
  @import "general"
  @import "sections"
  @import "forms"

// "reset"    = Eric Meyer CSS reset
// "general"  = generic HTML element styling, typography and global classes
// "sections" = specific styles that pertain to individual sections of the page (e.g. .header)
// "forms"    = all form-related styles (input fields, form-specific buttons, etc.)


// POPPY POPUP FORM STYLES
// -----------------------
#modalContent
  input[type="submit"]
    display: inline-block
    background: $btn-color
    margin: 1em auto 0
    padding: 0.5em 1.5em 0.3em
    clear: both
    position: static
    border: 1px solid $btn-border
    cursor: pointer
    color: $off-black !important
    font-family: din-web-reg
    font-weight: 600
    font-size: 1.25em
    text-align: center
    text-decoration: none !important
    text-transform: uppercase
    -webkit-appearance: none !important
    +border-radius(5px)
    &:hover /* While mouse hovers */
      background: $btn-hover
      +background-image(linear-gradient($btn-color, $btn-hover))
      +box-shadow(0 10px 10px -10px #bbb)
    &:active /* While mouse clicks */
      color: lighten($off-black, 10) !important
      background: $btn-color
      +background-image(linear-gradient($btn-hover, $btn-color))
      +box-shadow(0 10px 10px -10px #bbb)
    &:link, &:active, &:hover
      color: $off-black
      text-decoration: none !important

  h2
    margin-top: 2em !important

  .form-item
    margin: 0.5em 0 !important