////////////////////////////
// CONNECT WITH FACEBOOK BUTTON
// replace text with facebook button
// centered
////////////////////////////
.connect-with-facebook
  a
    +replace-text-with-dimensions('btn-facebook-popup-login.png')
    display: block
    margin-bottom: 2px
    margin-left: auto
    margin-right: auto