////////////////////////////
// SITE NAME
////////////////////////////
#site-name
  margin: 0
  padding: 0
  position: absolute
  top: -78px
  left: -17px
  z-index: 101
  a
    +replace-text-with-dimensions('ds-logo.png')
    display: block
    // +remove-link-underlines
