// VARIABLES
// ---------
$din: din-web-reg,"Trebuchet MS",sans-serif
$off-black: #1E1D1C
$campaign-main: #86005D
$campaign-accent: #D5904C
$btn-grey: #666
$btn-color: #FFCB15
$bg-light: #FFF
$bg-alt: #EEE
$bg-header: '//www.dosomething.org/files/campaigns/pbjs13/bg-header.png'
$font-grey: #CCC
$font-light: #FFF

// MIXINS
// -----
@mixin noBorder
  border: none !important
  
@mixin block-center
  margin: 0 auto
  display: block

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target)
  @return ($target/12)*1em
