/* line 4, ../sass/_drupal.sass */
#page, body.one-sidebar.sidebar-first [role="main"] {
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 10, ../sass/_drupal.sass */
header[role="banner"] {
  width: 800px;
  margin: 0 auto;
  position: relative; }

/* line 16, ../sass/_drupal.sass */
#site-name {
  top: -38px;
  left: -94px; }
@media only screen and (max-width: 1075px) {
  /* line 16, ../sass/_drupal.sass */
  #site-name {
    display: none; } }

/* line 23, ../sass/_drupal.sass */
#skip-link, .breadcrumb, #breadcrumb, #page-title, #block-dosomething-login-become-member, #block-dosomething-blocks-dosomething-make-impact, #block-dosomething-blocks-dosomething-social-skyscraper, #block-block-5, .region-sidebar-first, nav[role="navigation"] {
  display: none; }

/* line 14, ../sass/crazy.sass */
#page {
  background-color: #cccccc; }

/* line 21, ../sass/crazy.sass */
.crazy-menu-wrapper, .crazy-sub-menu-wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 26, ../sass/crazy.sass */
.crazy-menu, .crazy-sub-menu {
  overflow: hidden;
  list-style: none; }
/* line 29, ../sass/crazy.sass */
.crazy-menu li, .crazy-sub-menu li {
  float: left;
  text-align: center; }
/* line 32, ../sass/crazy.sass */
.crazy-menu a, .crazy-sub-menu a {
  display: block;
  font-family: din-web-reg;
  font-weight: 400;
  text-transform: uppercase; }
/* line 37, ../sass/crazy.sass */
.crazy-menu a:hover, .crazy-sub-menu a:hover {
  text-decoration: none; }

/* line 43, ../sass/crazy.sass */
.crazy-menu-wrapper {
  background-color: #231f20; }

/* line 46, ../sass/crazy.sass */
.crazy-menu {
  margin: 0 auto;
  width: 600px; }
/* line 49, ../sass/crazy.sass */
.crazy-menu li {
  width: 25%; }
/* line 51, ../sass/crazy.sass */
.crazy-menu a {
  font-size: 25px;
  line-height: 50px;
  color: white; }
/* line 55, ../sass/crazy.sass */
.crazy-menu a:hover {
  color: #f8c72f; }
/* line 58, ../sass/crazy.sass */
.crazy-menu a.active {
  color: #f8c72f; }
/* line 60, ../sass/crazy.sass */
.crazy-menu a.active:hover {
  color: #f8c72f; }

/* line 67, ../sass/crazy.sass */
.crazy-sub-menu-wrapper {
  background-color: white; }

/* line 70, ../sass/crazy.sass */
.crazy-sub-menu {
  margin: 1% auto;
  width: 400px; }
/* line 73, ../sass/crazy.sass */
.crazy-sub-menu li {
  margin: 2% 0;
  width: 33.33%; }
/* line 76, ../sass/crazy.sass */
.crazy-sub-menu a {
  font-size: 18px;
  line-height: 36px;
  color: #231f20; }
/* line 80, ../sass/crazy.sass */
.crazy-sub-menu a:hover {
  color: #675b5e; }
/* line 83, ../sass/crazy.sass */
.crazy-sub-menu a.active {
  background-color: #231f20;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
/* line 87, ../sass/crazy.sass */
.crazy-sub-menu a.active:hover {
  color: white; }

/* line 94, ../sass/crazy.sass */
.crazy-submission {
  background: white;
  text-align: center;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray; }
/* line 102, ../sass/crazy.sass */
.crazy-submission .crazy-button, .crazy-submission .bs-button, .crazy-submission .vouch-button {
  display: inline-block; }
/* line 105, ../sass/crazy.sass */
.crazy-submission .crazy-button a, .crazy-submission .bs-button a, .crazy-submission .vouch-button a {
  background: gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black; }
/* line 112, ../sass/crazy.sass */
.crazy-submission .crazy-button a.clicked, .crazy-submission .bs-button a.clicked, .crazy-submission .vouch-button a.clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 118, ../sass/crazy.sass */
.crazy-submission .crazy-button a.clicked:hover, .crazy-submission .bs-button a.clicked:hover, .crazy-submission .vouch-button a.clicked:hover {
  text-decoration: none; }
/* line 121, ../sass/crazy.sass */
.crazy-submission .crazy-button span, .crazy-submission .bs-button span, .crazy-submission .vouch-button span {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  padding: 0px 5px;
  margin-left: 5px; }
/* line 128, ../sass/crazy.sass */
.crazy-submission .crazy-button span:after, .crazy-submission .crazy-button span:before, .crazy-submission .bs-button span:after, .crazy-submission .bs-button span:before, .crazy-submission .vouch-button span:after, .crazy-submission .vouch-button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 138, ../sass/crazy.sass */
.crazy-submission .crazy-button span:after, .crazy-submission .bs-button span:after, .crazy-submission .vouch-button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 145, ../sass/crazy.sass */
.crazy-submission .crazy-button span:before, .crazy-submission .bs-button span:before, .crazy-submission .vouch-button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: black;
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 152, ../sass/crazy.sass */
.fb-invite-friends {
  display: block;
  width: 200px;
  background: yellow;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 0px 6px gray;
  margin: 0px auto;
  text-align: center; }

/* line 162, ../sass/crazy.sass */
.connect-with-facebook {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("/sites/all/themes/doit/css/images/btn-facebook-popup-login.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto; }
