/* line 4, ../sass/_buttons.sass */
.crazy-button, .bs-button, .vouch-button {
  display: inline-block; }
/* line 6, ../sass/_buttons.sass */
.crazy-button a, .bs-button a, .vouch-button a {
  background: #4b84e6;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 12, ../sass/_buttons.sass */
.crazy-button a:hover, .bs-button a:hover, .vouch-button a:hover {
  text-decoration: none;
  background-color: #6193e9; }
/* line 15, ../sass/_buttons.sass */
.crazy-button a.clicked, .bs-button a.clicked, .vouch-button a.clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 20, ../sass/_buttons.sass */
.crazy-button span, .bs-button span, .vouch-button span {
  background-color: #dddddd;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 27, ../sass/_buttons.sass */
.crazy-button span:after, .crazy-button span:before, .bs-button span:after, .bs-button span:before, .vouch-button span:after, .vouch-button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 35, ../sass/_buttons.sass */
.crazy-button span:after, .bs-button span:after, .vouch-button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dddddd;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 41, ../sass/_buttons.sass */
.crazy-button span:before, .bs-button span:before, .vouch-button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 47, ../sass/_buttons.sass */
.vouch-button {
  margin: 0 25px 25px 50px; }

/* line 50, ../sass/_buttons.sass */
.small_button {
  float: left;
  background: #4b84e6;
  color: white !important;
  padding: 5px 7px 1px 7px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 60, ../sass/_buttons.sass */
.small_button:hover {
  text-decoration: none;
  background-color: #6193e9; }
/* line 63, ../sass/_buttons.sass */
.small_button .clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 68, ../sass/_buttons.sass */
.small_button span {
  background-color: #dddddd;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 75, ../sass/_buttons.sass */
.small_button span:after, .small_button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 83, ../sass/_buttons.sass */
.small_button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dddddd;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 89, ../sass/_buttons.sass */
.small_button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 4, ../sass/_drupal.sass */
#page, body.one-sidebar.sidebar-first [role="main"] {
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 10, ../sass/_drupal.sass */
header[role="banner"] {
  width: 800px;
  margin: 0 auto;
  position: relative; }

/* line 16, ../sass/_drupal.sass */
#site-name {
  top: -38px;
  left: -94px; }
@media only screen and (max-width: 1075px) {
  /* line 16, ../sass/_drupal.sass */
  #site-name {
    display: none; } }

/* line 23, ../sass/_drupal.sass */
.tabs {
  border: none !important;
  background-color: #ff885e; }

/* line 28, ../sass/_drupal.sass */
#main-wrapper div[role="main"] ul.primary {
  height: 50px;
  width: 312px;
  margin: 0 auto;
  padding: 20px 0 0 0; }
/* line 33, ../sass/_drupal.sass */
#main-wrapper div[role="main"] ul.primary li a {
  text-transform: uppercase;
  color: #111111;
  background-color: #dddddd !important;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 42, ../sass/_drupal.sass */
.webform-client-form {
  box-shadow: none !important;
  border: none !important; }

/* line 47, ../sass/_drupal.sass */
#edit-actions {
  height: auto !important;
  margin: 0 !important;
  text-align: inherit !important; }

/* line 53, ../sass/_drupal.sass */
#skip-link, .breadcrumb, .pane-title, #breadcrumb, #page-title, #block-dosomething-login-become-member, #block-dosomething-blocks-dosomething-make-impact, #block-dosomething-blocks-dosomething-social-skyscraper, #block-block-5, #block-menu-menu-footer, .region-sidebar-first, nav[role="navigation"] {
  display: none; }

/* line 9, ../sass/crazy.sass */
#page {
  background-color: #cccccc; }

/* line 16, ../sass/crazy.sass */
.crazy-menu-wrapper, .crazy-sub-menu-wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 21, ../sass/crazy.sass */
.crazy-menu, .crazy-sub-menu {
  overflow: hidden;
  list-style: none; }
/* line 24, ../sass/crazy.sass */
.crazy-menu li, .crazy-sub-menu li {
  float: left;
  text-align: center; }
/* line 27, ../sass/crazy.sass */
.crazy-menu a, .crazy-sub-menu a {
  display: block;
  font-family: din-web-reg;
  font-weight: 400;
  text-transform: uppercase; }
/* line 32, ../sass/crazy.sass */
.crazy-menu a:hover, .crazy-sub-menu a:hover {
  text-decoration: none; }

/* line 38, ../sass/crazy.sass */
.crazy-menu-wrapper {
  background-color: #231f20; }

/* line 41, ../sass/crazy.sass */
.crazy-menu {
  margin: 0 auto;
  width: 600px; }
/* line 44, ../sass/crazy.sass */
.crazy-menu li {
  width: 25%; }
/* line 46, ../sass/crazy.sass */
.crazy-menu a {
  font-size: 25px;
  line-height: 50px;
  color: white; }
/* line 50, ../sass/crazy.sass */
.crazy-menu a:hover {
  color: #f8c72f; }
/* line 53, ../sass/crazy.sass */
.crazy-menu a.active {
  color: #f8c72f; }
/* line 55, ../sass/crazy.sass */
.crazy-menu a.active:hover {
  color: #f8c72f; }

/* line 62, ../sass/crazy.sass */
.crazy-sub-menu-wrapper {
  background-color: white; }

/* line 65, ../sass/crazy.sass */
.crazy-sub-menu {
  margin: 0 auto 1%;
  padding: 0;
  width: 500px; }
/* line 69, ../sass/crazy.sass */
.crazy-sub-menu li {
  margin: 2%;
  width: 29%; }
/* line 72, ../sass/crazy.sass */
.crazy-sub-menu a {
  font-size: 18px;
  line-height: 36px;
  color: #231f20; }
/* line 76, ../sass/crazy.sass */
.crazy-sub-menu a:hover {
  background-color: #444444;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
/* line 81, ../sass/crazy.sass */
.crazy-sub-menu a.active {
  background-color: #444444;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
/* line 85, ../sass/crazy.sass */
.crazy-sub-menu a.active:hover {
  color: white; }

/* line 92, ../sass/crazy.sass */
.crazy-submission, .submit-start, .node-crazy-shit {
  background-color: white;
  width: 500px;
  margin: 2% auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 102, ../sass/crazy.sass */
.crazy-submission {
  background-color: white;
  width: 500px;
  margin: 2% auto; }

/* line 107, ../sass/crazy.sass */
.fb-picture {
  width: 50px;
  margin: 0 0 0 -75px; }

/* line 111, ../sass/crazy.sass */
.simg {
  margin: -50px 0 0 0;
  padding: 50px 0 10px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 16, ../sass/_variables.sass */
.simg img {
  display: block;
  margin: 0 auto;
  width: 400px; }
@media only screen and (max-width 800px) {
  /* line 16, ../sass/_variables.sass */
  .simg img {
    width: 80%; } }

/* line 119, ../sass/crazy.sass */
.dateline {
  display: none; }

/* line 125, ../sass/crazy.sass */
.fb-invite-friends {
  margin: 25px auto 0;
  display: block;
  height: 45px;
  width: 215px;
  background-image: url("//files.dosomething.org/files/campaigns/crazy13/facebook.png");
  background-color: transparent;
  background-repeat: no-repeat;
  text-indent: -9999em; }

/* line 135, ../sass/crazy.sass */
.connect-with-facebook {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("/sites/all/themes/doit/css/images/btn-facebook-popup-login.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto; }

/* line 154, ../sass/crazy.sass */
.submit-start p {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase; }
/* line 158, ../sass/crazy.sass */
.submit-start .pane-content {
  padding: 50px; }
/* line 16, ../sass/_variables.sass */
.submit-start img {
  display: block;
  margin: 0 auto;
  width: 400px; }
@media only screen and (max-width 800px) {
  /* line 16, ../sass/_variables.sass */
  .submit-start img {
    width: 80%; } }

/* line 165, ../sass/crazy.sass */
.node-crazy-shit {
  box-shadow: none; }
/* line 167, ../sass/crazy.sass */
.node-crazy-shit .webform-client-form {
  padding: 50px; }

/* line 174, ../sass/crazy.sass */
.fakefile, #edit-submitted-field-crazy-crazy-picture-und-0-remove-button {
  background: #ffcb15;
  padding: 10px;
  text-transform: uppercase;
  font-family: din-web;
  font-weight: 600;
  font-size: 22px;
  width: 130px;
  height: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 186, ../sass/crazy.sass */
.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; }

/* line 192, ../sass/crazy.sass */
#edit-submitted-field-crazy-crazy-picture-und-0-remove-button {
  margin: -10px auto 25px;
  padding: 2px 0 0 0;
  width: 80px;
  border: none;
  display: block; }

/* line 199, ../sass/crazy.sass */
.form-file.new {
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  width: 130px;
  height: 35px;
  cursor: pointer; }

/* line 209, ../sass/crazy.sass */
.submit-start button, .node-crazy-shit #edit-actions .form-submit {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  background: #4b84e6;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: din-web-reg;
  font-weight: 400;
  font-size: 18px;
  height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 224, ../sass/crazy.sass */
.submit-start button:hover, .node-crazy-shit #edit-actions .form-submit:hover {
  color: white;
  background-color: #6193e9; }

/* line 228, ../sass/crazy.sass */
.submit-start button, #edit-next {
  width: 60px !important; }

/* line 232, ../sass/crazy.sass */
#edit-previous {
  width: 60px !important;
  float: left !important; }

/* line 236, ../sass/crazy.sass */
#edit-submit {
  width: 80px;
  float: right !important; }
