/* line 5, ../sass/_drupal.sass */
nav[role="navigation"], .region-sidebar-first {
  display: none; }

/* line 8, ../sass/_drupal.sass */
#page, body.one-sidebar.sidebar-first [role="main"] {
  width: 100%;
  background: white;
  margin: 0;
  padding: 0; }

/* line 15, ../sass/_drupal.sass */
header[role="banner"] {
  width: 800px;
  margin: 0 auto;
  position: relative; }

/* line 21, ../sass/_drupal.sass */
#site-name {
  top: -38px;
  left: -94px; }
@media only screen and (max-width: 1075px) {
  /* line 21, ../sass/_drupal.sass */
  #site-name {
    display: none; } }

/* line 6, ../sass/crazy.sass */
.crazy-submission {
  background: white;
  text-align: center;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray; }
/* line 14, ../sass/crazy.sass */
.crazy-submission .crazy-button, .crazy-submission .bs-button, .crazy-submission .vouch-button {
  display: inline-block; }
/* line 17, ../sass/crazy.sass */
.crazy-submission .crazy-button a, .crazy-submission .bs-button a, .crazy-submission .vouch-button a {
  background: gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black; }
/* line 24, ../sass/crazy.sass */
.crazy-submission .crazy-button a.clicked, .crazy-submission .bs-button a.clicked, .crazy-submission .vouch-button a.clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 30, ../sass/crazy.sass */
.crazy-submission .crazy-button a.clicked:hover, .crazy-submission .bs-button a.clicked:hover, .crazy-submission .vouch-button a.clicked:hover {
  text-decoration: none; }
/* line 33, ../sass/crazy.sass */
.crazy-submission .crazy-button span, .crazy-submission .bs-button span, .crazy-submission .vouch-button span {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  padding: 0px 5px;
  margin-left: 5px; }
/* line 40, ../sass/crazy.sass */
.crazy-submission .crazy-button span:after, .crazy-submission .crazy-button span:before, .crazy-submission .bs-button span:after, .crazy-submission .bs-button span:before, .crazy-submission .vouch-button span:after, .crazy-submission .vouch-button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 50, ../sass/crazy.sass */
.crazy-submission .crazy-button span:after, .crazy-submission .bs-button span:after, .crazy-submission .vouch-button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 57, ../sass/crazy.sass */
.crazy-submission .crazy-button span:before, .crazy-submission .bs-button span:before, .crazy-submission .vouch-button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: black;
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 64, ../sass/crazy.sass */
.fb-invite-friends {
  display: block;
  width: 200px;
  background: yellow;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 0px 6px gray;
  margin: 0px auto;
  text-align: center; }

/* line 74, ../sass/crazy.sass */
ul.crazyshit-menu {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid black;
  list-style-type: none;
  height: 30px; }
/* line 81, ../sass/crazy.sass */
ul.crazyshit-menu li {
  width: 25%;
  float: left;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black; }
/* line 89, ../sass/crazy.sass */
ul.crazyshit-menu li a {
  padding: 5px;
  display: block; }
/* line 93, ../sass/crazy.sass */
ul.crazyshit-menu li a:hover {
  background: white;
  color: black; }
/* line 97, ../sass/crazy.sass */
ul.crazyshit-menu li a.active {
  background: #e1e1e1; }

/* line 100, ../sass/crazy.sass */
ul.crazyshit-sub-menu {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-top: 20px;
  border: 1px solid black;
  border-right: 0px;
  height: 30px;
  width: 425px;
  margin-left: 10px; }
/* line 111, ../sass/crazy.sass */
ul.crazyshit-sub-menu li {
  width: 33.3%;
  float: left;
  border-right: 1px solid black;
  text-align: center; }
/* line 117, ../sass/crazy.sass */
ul.crazyshit-sub-menu li a {
  padding: 5px;
  display: block; }
/* line 121, ../sass/crazy.sass */
ul.crazyshit-sub-menu li a:hover {
  background: white;
  color: black; }
/* line 125, ../sass/crazy.sass */
ul.crazyshit-sub-menu li a.active {
  background: #e1e1e1; }

/* line 128, ../sass/crazy.sass */
.connect-with-facebook {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("/sites/all/themes/doit/css/images/btn-facebook-popup-login.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto; }
