/* line 4, ../sass/_buttons.sass */
.crazy-button, .bs-button, .vouch-button {
  display: inline-block; }
/* line 6, ../sass/_buttons.sass */
.crazy-button a, .bs-button a, .vouch-button a {
  background: #4b84e6;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 12, ../sass/_buttons.sass */
.crazy-button a:hover, .bs-button a:hover, .vouch-button a:hover {
  text-decoration: none;
  background-color: #6193e9; }
/* line 15, ../sass/_buttons.sass */
.crazy-button a.clicked, .bs-button a.clicked, .vouch-button a.clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 20, ../sass/_buttons.sass */
.crazy-button span, .bs-button span, .vouch-button span {
  background-color: #dddddd;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 27, ../sass/_buttons.sass */
.crazy-button span:after, .crazy-button span:before, .bs-button span:after, .bs-button span:before, .vouch-button span:after, .vouch-button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 35, ../sass/_buttons.sass */
.crazy-button span:after, .bs-button span:after, .vouch-button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dddddd;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 41, ../sass/_buttons.sass */
.crazy-button span:before, .bs-button span:before, .vouch-button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 47, ../sass/_buttons.sass */
.vouch-button {
  margin: 7% 7% 7% 0; }
@media only screen and (max-width: 700px) {
  /* line 47, ../sass/_buttons.sass */
  .vouch-button {
    margin: 5% 5% 20px 4%; } }
@media only screen and (max-width: 320px) {
  /* line 47, ../sass/_buttons.sass */
  .vouch-button {
    margin: 15px 20% 20px 15px; } }

@media only screen and (max-width: 400px) {
  /* line 54, ../sass/_buttons.sass */
  .vouch-button, .bs-button {
    margin: 15px 0 15px 4%; } }

/* line 58, ../sass/_buttons.sass */
.fb-share {
  position: absolute;
  right: 50px;
  bottom: 20px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999em;
  background-image: url("//files.dosomething.org/files/campaigns/crazy13/share_mini.png");
  background-color: transparent;
  background-repeat: no-repeat; }
/* line 63, ../sass/_buttons.sass */
.fb-share a {
  display: block;
  height: 30px;
  width: 30px; }
/* line 67, ../sass/_buttons.sass */
.fb-share:hover {
  background-position-y: -30px; }
@media only screen and (max-width: 700px) {
  /* line 58, ../sass/_buttons.sass */
  .fb-share {
    right: 36px;
    bottom: 19px; } }
@media only screen and (max-width: 400px) {
  /* line 58, ../sass/_buttons.sass */
  .fb-share {
    right: 13px;
    bottom: 14px; } }

/* line 76, ../sass/_buttons.sass */
.small_button, .more_tips {
  float: left;
  background: #4b84e6;
  color: white !important;
  cursor: pointer !important;
  padding: 5px 7px 1px 7px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 87, ../sass/_buttons.sass */
.small_button:hover, .more_tips:hover {
  text-decoration: none;
  background-color: #6193e9; }
/* line 90, ../sass/_buttons.sass */
.small_button .clicked, .more_tips .clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 95, ../sass/_buttons.sass */
.small_button span, .more_tips span {
  background-color: #dddddd;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 102, ../sass/_buttons.sass */
.small_button span:after, .small_button span:before, .more_tips span:after, .more_tips span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 110, ../sass/_buttons.sass */
.small_button span:after, .more_tips span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dddddd;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 116, ../sass/_buttons.sass */
.small_button span:before, .more_tips span:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 122, ../sass/_buttons.sass */
a.no_thanks {
  color: #cccccc;
  cursor: pointer;
  text-transform: lowercase; }

/* line 8, ../sass/crazy-about.sass */
#tips .section {
  width: 900px; }
@media only screen and (max-width: 950px) {
  /* line 8, ../sass/crazy-about.sass */
  #tips .section {
    width: 600px; } }
@media only screen and (max-width: 630px) {
  /* line 8, ../sass/crazy-about.sass */
  #tips .section {
    width: 96%; } }

/* line 15, ../sass/crazy-about.sass */
.subject_wrapper {
  width: 150px;
  float: left; }
@media only screen and (max-width: 950px) {
  /* line 15, ../sass/crazy-about.sass */
  .subject_wrapper {
    width: 100%;
    overflow: hidden; } }

/* line 23, ../sass/crazy-about.sass */
.tip_subject {
  padding: 0 10px;
  margin: 0 0 25px 0;
  width: 120px;
  height: 50px;
  float: left;
  display: block;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  background-color: #231f20;
  color: white !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
/* line 36, ../sass/crazy-about.sass */
.tip_subject:hover {
  text-decoration: none;
  background-color: #312b2c; }
@media only screen and (max-width: 950px) {
  /* line 23, ../sass/crazy-about.sass */
  .tip_subject {
    margin: 3% 0 0 0;
    height: 40px;
    line-height: 40px; } }
@media only screen and (max-width: 550px) {
  /* line 23, ../sass/crazy-about.sass */
  .tip_subject {
    margin: 2% 0 0 0;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    width: 28%; } }

@media only screen and (max-width: 950px) {
  /* line 51, ../sass/crazy-about.sass */
  #tip1 {
    margin: 3% 20% 0;
    float: left; }

  /* line 55, ../sass/crazy-about.sass */
  #tip2 {
    float: right; } }
@media only screen and (max-width: 650px) {
  /* line 58, ../sass/crazy-about.sass */
  #tip1 {
    margin: 1.3% 0 0 0;
    position: absolute;
    left: 40%; } }
@media only screen and (max-width: 550px) {
  /* line 58, ../sass/crazy-about.sass */
  #tip1 {
    margin: 0.8% 0 0 0;
    left: 36%; } }

/* line 67, ../sass/crazy-about.sass */
.active_subject {
  background-color: #4b84e6; }
/* line 69, ../sass/crazy-about.sass */
.active_subject:hover {
  background-color: #6193e9; }

/* line 72, ../sass/crazy-about.sass */
.tip_wrapper {
  width: 600px;
  margin: 0 150px 0 0;
  height: auto;
  float: right;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
@media only screen and (max-width: 950px) {
  /* line 72, ../sass/crazy-about.sass */
  .tip_wrapper {
    margin: 0; } }
@media only screen and (max-width: 630px) {
  /* line 72, ../sass/crazy-about.sass */
  .tip_wrapper {
    width: 100%; } }
/* line 83, ../sass/crazy-about.sass */
.tip_wrapper h1 {
  background-color: #231f20;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 45px;
  padding: 5px 0 0 0;
  margin: 5% 0; }
@media only screen and (max-width: 630px) {
  /* line 83, ../sass/crazy-about.sass */
  .tip_wrapper h1 {
    font-size: 25px;
    line-height: 45px;
    margin: 2% 0; } }

/* line 97, ../sass/crazy-about.sass */
.tip_center {
  background-image: url(//files.dosomething.org/files/campaigns/crazy13/tip_bg.png);
  background-repeat: no-repeat;
  background-size: 630px;
  background-position-x: -15px;
  margin: 0 0 2% 0; }
@media only screen and (max-width: 630px) {
  /* line 97, ../sass/crazy-about.sass */
  .tip_center {
    background-image: none; } }
/* line 105, ../sass/crazy-about.sass */
.tip_center p {
  width: 330px;
  height: 270px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px; }
@media only screen and (max-width: 630px) {
  /* line 105, ../sass/crazy-about.sass */
  .tip_center p {
    font-size: 16px;
    line-height: 26px; } }
@media only screen and (max-width: 450px) {
  /* line 105, ../sass/crazy-about.sass */
  .tip_center p {
    width: 94%;
    height: 180px; } }

/* line 118, ../sass/crazy-about.sass */
.tip_left, .tip_right {
  float: left;
  width: 50%;
  padding: 0 3% 2%; }

/* line 124, ../sass/crazy-about.sass */
.tip_left b {
  float: left;
  clear: left;
  margin: 2% 0 0 0;
  text-transform: uppercase; }

/* line 131, ../sass/crazy-about.sass */
.tip_right .small_button {
  float: right; }

/* line 134, ../sass/crazy-about.sass */
#tip_prev {
  visibility: hidden; }

/* line 140, ../sass/crazy-about.sass */
#scholarship {
  background-color: white; }
/* line 142, ../sass/crazy-about.sass */
#scholarship .go-button {
  display: block;
  margin: 0 auto 25px;
  padding: 11px;
  width: 200px;
  height: 40px;
  font-size: 22px;
  font-weight: 600;
  text-align: center; }
/* line 151, ../sass/crazy-about.sass */
#scholarship .section {
  width: 35%; }
@media only screen and (max-width: 750px) {
  /* line 151, ../sass/crazy-about.sass */
  #scholarship .section {
    width: 50%; } }
@media only screen and (max-width: 630px) {
  /* line 151, ../sass/crazy-about.sass */
  #scholarship .section {
    width: 94%; } }
/* line 157, ../sass/crazy-about.sass */
#scholarship h1 {
  font-size: 24px;
  font-weight: 500;
  font-family: din-web-reg;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0; }
/* line 164, ../sass/crazy-about.sass */
#scholarship p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; }
/* line 168, ../sass/crazy-about.sass */
#scholarship img {
  width: 210px;
  margin: 0 auto 3%;
  display: block; }

/* line 177, ../sass/crazy-about.sass */
#video .section {
  width: 600px; }
@media only screen and (max-width: 630px) {
  /* line 177, ../sass/crazy-about.sass */
  #video .section {
    width: 96%; } }

/* line 182, ../sass/crazy-about.sass */
.video_wrapper {
  position: relative;
  padding-bottom: 55%;
  padding-top: 25%;
  height: 0; }
@media only screen and (max-width: 630px) {
  /* line 182, ../sass/crazy-about.sass */
  .video_wrapper {
    margin: 1% 0; } }
/* line 189, ../sass/crazy-about.sass */
.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 91%; }
@media only screen and (max-width: 630px) {
  /* line 189, ../sass/crazy-about.sass */
  .video_wrapper iframe {
    height: 100%; } }

/* line 200, ../sass/crazy-about.sass */
#tips, #scholarship, #video {
  padding: 2% 0; }

/* line 203, ../sass/crazy-about.sass */
.section {
  margin: 0 auto;
  overflow: hidden; }
