/* line 4, ../sass/_buttons.sass */
.crazy-button, .bs-button, .vouch-button {
  display: inline-block; }
/* line 6, ../sass/_buttons.sass */
.crazy-button a, .bs-button a, .vouch-button a {
  background: #4b84e6;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 12, ../sass/_buttons.sass */
.crazy-button a:hover, .bs-button a:hover, .vouch-button a:hover {
  text-decoration: none;
  background-color: #6193e9; }
/* line 15, ../sass/_buttons.sass */
.crazy-button a.clicked, .bs-button a.clicked, .vouch-button a.clicked {
  background: #f1f1f1;
  color: #c1c1c1;
  cursor: default;
  text-decoration: none; }
/* line 20, ../sass/_buttons.sass */
.crazy-button span, .bs-button span, .vouch-button span {
  background-color: #dddddd;
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 27, ../sass/_buttons.sass */
.crazy-button span:after, .crazy-button span:before, .bs-button span:after, .bs-button span:before, .vouch-button span:after, .vouch-button span:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
/* line 35, ../sass/_buttons.sass */
.crazy-button span:after, .bs-button span:after, .vouch-button span:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dddddd;
  border-width: 5px;
  top: 50%;
  margin-top: -5px; }
/* line 41, ../sass/_buttons.sass */
.crazy-button span:before, .bs-button span:before, .vouch-button span:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px;
  top: 50%;
  margin-top: -6px; }

/* line 47, ../sass/_buttons.sass */
.vouch-button {
  margin: 0 25px 25px 50px; }

/* line 22, ../sass/crazy-form.sass */
nav[role="navigation"] .region-navigation {
  margin: 0px 0px; }

/* line 25, ../sass/crazy-form.sass */
input#edit-submitted-field-crazy-crazy-picture-und-0-upload-button {
  display: none; }

/* line 28, ../sass/crazy-form.sass */
input#edit-submitted-field-crazy-crazy-picture-und-0-remove-button {
  position: relative;
  top: -45px;
  margin-left: 40%; }

/* line 33, ../sass/crazy-form.sass */
#upload-cover {
  position: relative;
  margin: -55px auto 0;
  width: 130px;
  cursor: pointer; }

/* line 39, ../sass/crazy-form.sass */
footer.author, #edit-submitted-dosomething-webform-numbering {
  display: none; }

/* line 42, ../sass/crazy-form.sass */
.step-field {
  margin-bottom: 15px; }

/* line 45, ../sass/crazy-form.sass */
#top_text {
  position: absolute;
  width: 400px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  font-family: din-web-reg;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 3px;
  line-height: 1.2;
  overflow: hidden;
  top: 0px; }

/* line 49, ../sass/crazy-form.sass */
#bottom_text {
  position: absolute;
  width: 400px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  font-family: din-web-reg;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 3px;
  line-height: 1.2;
  overflow: hidden;
  bottom: 0px; }

/* line 53, ../sass/crazy-form.sass */
div.image-widget-data {
  clear: both;
  width: 400px;
  height: 400px;
  margin: 30px auto;
  float: none;
  border: 1px solid black; }

/* line 64, ../sass/crazy-form.sass */
.description, #edit-submitted-field-crazy-vouch-count, #edit-submitted-field-crazy-bullshit-count, #edit-submitted-field-crazy-count, #edit-submitted-field-crazy-total-count, #edit-submitted-field-crazy-today-count, #edit-submitted-field-crazy-week-count, .image-preview, .file, .file-size, .form-item-submitted-field-crazy-crazy-picture-und-0 label {
  display: none; }

/* line 77, ../sass/crazy-form.sass */
#edit-submitted-sbutton {
  text-align: center;
  position: relative; }
/* line 81, ../sass/crazy-form.sass */
#edit-submitted-sbutton img {
  position: static;
  margin-bottom: -2px;
  z-index: -1;
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0px; }

/* line 89, ../sass/crazy-form.sass */
#edit-submitted-field-crazy-top-text, #edit-submitted-field-crazy-bottom-text {
  overflow: hidden; }
/* line 92, ../sass/crazy-form.sass */
#edit-submitted-field-crazy-top-text label, #edit-submitted-field-crazy-top-text input, #edit-submitted-field-crazy-bottom-text label, #edit-submitted-field-crazy-bottom-text input {
  float: left;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase; }
/* line 97, ../sass/crazy-form.sass */
#edit-submitted-field-crazy-top-text label, #edit-submitted-field-crazy-bottom-text label {
  width: 30%; }
/* line 99, ../sass/crazy-form.sass */
#edit-submitted-field-crazy-top-text input, #edit-submitted-field-crazy-bottom-text input {
  width: 70%;
  height: 35px;
  background: whitesmoke;
  text-transform: uppercase;
  padding: 0 3%;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
