// HUNT HUNT HUNT HUNT

// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors - define any campaign specific colors here
$baseColor: #D32A1B
$secondaryLink: #D32A1B
$paneBG: #D6D6D7
$huntLighter: #D6D6D7
$huntDarker: #BEBFC1
$huntDarkest: #939398
$offBlack: #1E1D1C
$offGrey: #F2F2F2

// borders (all lines - i.e. around social / quick info)
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web, "Trebuchet MS", sans-serif
$accent-reg: din-web-reg, "Trebuchet MS", sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// sets the background for the entire page
$imageBackground: url('assets/bg.png')
$bgFallback: #C66F2a

// sets the background for the page nav and main section
@mixin block
  // make sure you specify the RBG fallback if you have a RGBA set!
  background: rgb(255,255,255)

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@mixin setBorderBox
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

@mixin redGradient
  +background-image(linear-gradient(top, $baseColor, darken($baseColor, 10) 80%))
  

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.main-inner
  a
    color: $baseColor
    &:hover
      color: $secondaryLink
  b
    font-weight: $boldWeight

h1.title
  display: none

h2.pane-title
  background: $baseColor

img
  +noShadow
  +noBorder

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat-y
  background-position: center top
  background-size: 100% auto

div[role="main"]
  +block
  +box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px
  
.white-bg
  .pane-content
    background: white !important

.main-inner
  padding-top: 10px
  width: 750px

// panels reset
.ds-panel .pane-content
  padding-bottom: 0 !important

// panelizer definitions
.panel-row-flexible, .panel-row-actions
  .panel-pane
    margin-bottom: 15px
    +block
  .pane-content
    background: $huntLighter

.panel-row-flexible .pane-content
  padding: 15px !important

//three boxes
.three-boxes
  width: 32% !important
  float: left !important
  margin-right: 2% !important
  &:last-child
    margin-right: 0 !important
  .pane-content
    +setBorderBox

// IE8 does not support :last-child
.three-boxes-last-child
  margin-right: 0 !important

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

#breadcrumb
  display: none

// reset quick info color
#page
  .panel-row-ad-quick-info
    h2.pane-title
      color: $secondaryLink !important

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    padding: 5px 0
    .active
      color: $baseColor
    a
      display: inline-block
      width: 100%
      padding: 6px 19px 6px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: #000
      &:hover
        color: $baseColor
        text-decoration: none

// campaign logo
.pane-node-field-campaign-logo .pane-content
  padding-bottom: 0
.field-name-field-campaign-logo img
  width: 480px
  height: 230px
  margin-top: 0px !important

// sunglass button
.sunglass_sign-up
  position: absolute
  right: -15px
  top: 0px
  width: 125px
  z-index: 1

// brief campaign description at the top right
.panel-top-right-mini-info
  font-family: $accent
  font-size: 21px
  line-height: 1.4em
  margin-top: 30px
  .field-name-field-campain-date
    color: $baseColor
    padding: 0
    font-weight: 600
  .field-name-field-campaign-teaser 
    width: 70%
    font-size: 18px
    line-height: 25px
    p
      margin-bottom: 15px
  .pane-content  
    padding-bottom: 0

// campaign social buttons, top right
.pane-campaign-social
  .pane-content
    .fb-facepile
      &:before
        +insetBorder
    // positioning line between social width and campaign teaser
    .socialWrapper
      margin: 0 0 8px 18px
      &:before
        +insetBorder
        content: ""
        display: block
        left: -18px
        margin-bottom: 8px
        position: relative
        width: 247px

// short form
.panel-row-actions
  background: $huntLighter
  width: 750px
  margin: 15px 0
  +noBorder
  .form-wrapper
    margin-bottom: 5px !important
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    form 
      padding-bottom: 0
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noShadow
        +noBorder
      .field-name-field-webform-email
        font-size: 14px
        width: 280px
        margin-bottom: 0.5em
        input
          width: 100%
      .field-name-field-webform-mobile  
        font-size: 14px
        width: 240px
        margin-bottom: 0.5em
        input
          width: 75%
          margin-top: 5px

.webform-client-form
  #edit-actions
    position: absolute
    right: 86px
    bottom: 9px

#campaign-opt-in
  font-size: 11px
  margin-left: 15px
  padding: 6px 0
  a
    font-weight: bold
    display: block
    height: 20px
    width: 20px
    position: absolute
    bottom: 8px
    left: 326px
    color: $baseColor
    &:hover
      color: $secondaryLink
      text-decoration: none

// counter
.pane-campaign-counter
  .pane-content
    padding: 20px 25px 20px 0
    .campaign-counter-labels
      text-transform: uppercase
      font-size: 23px
      font-family: din-web,"Trebuchet MS",sans-serif 
      font-weight: 500
      line-height: 25px
      float: left
    .digits, .campaign-counter-label-bottom, .campaign-counter-label-top
      margin-bottom: 8px

// quick info
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $secondaryLink
    line-height: 1em
    font-weight: 500
  .pane-content
    margin-top: 1em
    padding: 0
    h3
      color: $baseColor
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      line-height: .8em
    p
      margin: 0 0 0.8em 0
    &:before
      margin-bottom: 20px

.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// sponsor and help panel
.pane-content
  .got_questions
    text-align: right
    border-top: 2px solid $baseColor
    padding-top: 10px
    color: black
    a
      color: $baseColor
      
// prizes

#prizeblock-1, #prizeblock-2, #prizeblock-3
  width: 100%
  overflow: auto
  img
    border: none !important
  span
    text-transform: uppercase
    font-weight: 600
  p
    font-size: 14px
    line-height: 20px

  div
    width: 55%
    text-align: center
    margin: 0 auto
    h2
      text-transform: uppercase
      border-bottom: 2px solid $offBlack
      margin: 0 auto 5px
      width: 35%
      font-size: 25px
  .prizeimg-1, .prizeimg-2, .prizeimg-3, .prizeimg-4, .prizeimg-5, .prizeimg-6
    position: absolute

#prizeblock-1
  .prizeimg-1
    left: 12px
    top: 40px
  .prizeimg-2
    right: -20px
    top: -5px

#prizeblock-2
  .prizeimg-3
    top: -5px
    left: 10px
  .prizeimg-4
    top: -5px
    right: 12px
  div
    margin: 35px auto

#prizeblock-3
  .prizeimg-5
    top: 10px
    right: 12px
  .prizeimg-6
    top: 10px
    left: 12px
  div
    width: 70%
  .legal_copy
    font-size: 10px
    margin-top: -30px
  a
    display: block
    text-align: center
  
// faq
#faq-section
  h2
    text-align: center
    margin-bottom: 15px
  h3
    color: $baseColor
    text-transform: uppercase
    font-size: 19px


// challenges
#challenges_copy
  h2
    margin: -5px 0 0 0
    text-align: center
    font-family: "din-web-reg"
    font-weight: 400
    font-size: 16px
    
#challenges, #challenges_open
  ul
    background-color: $huntDarkest
    margin: 0 0 0 0
    padding: 12px 30px
  li
    list-style-image: url("assets/dot.png")
    color: #fff
  h3
    background-color: $huntDarker
    height: 2em
    margin-top: 10px
    padding: .5em .7em
    color: #fff
    text-transform: uppercase
    font-family: "din-web-reg"
    font-weight: 500
    font-size: 15px
  strong
    font-weight: 500
    float: right
    color: $baseColor
    width: 175px
  .webform_link
    text-align: center
    list-style: none
    height: 30px
  .go-button
    color: #000
    font-size: 13px
    position: relative
    right: 0
    bottom: -10px
    padding: 3px 7px
    &:hover
      color: darken($baseColor, 10)
  a
    color: #FED100

#WYSIWYG_HACK .pane-content
  margin-top: -35px
  padding: 0 15px 15px 15px!important

// gallery
.view-campaign-gallery
  #gallery
    height: 415px
    #slideshow
      height: 360px
      width: 480px
      margin: 0 auto

// team pages 
.pane-teams-team-management
  border: none !important
  .pane-content
    height: 200px
    .team-add-members-wrapper
      border: 2px dotted $baseColor
      float: left
      width: 59%
      font-size: 14px
      padding: 10px 15px
      margin: 0
      height: 170px
  #teams-add-member-form
    height: 40px
    margin: 0 !important
  .members-list
    label
      font-size: 13px
      font-weight: bold
      float: left
      margin: 6px 12px 0 0
      cursor: default
    input#edit-friend
      width: 151px
      height: 30px
      margin-right: 10px
      float: left
    .form-submit // "Vos et nos dimittimus providere sprites." 
      +noBorder
      background-image: url("http://files.dosomething.org/files/campaigns/hunt/team_sprite.png")
      background-repeat: no-repeat
      height: 18px
      width: 18px
      display: block
      text-indent: -9999em
      float: right
      margin: -18px 0 0 0
      background-color: $huntLighter
      &:hover
        background-position-y: -18px

#teams-add-member-form
  .throbber
    margin: 6px 0px 6px 20px
  .form-item-friend
    input, label
      float: left
      margin-top: 2px
    input
      width: 200px
      +noBorder
      +noShadow
      +border-radius(3px)
    label
      margin: 5px 20px 0 0
  .form-submit
    float: right

#main-wrapper
  .team-name-title .pane-content,
  .pane-team-progress .pane-title
    font-size: 25px
    font-family: $accent
    font-weight: 500
    line-height: 30px
    text-align: center
    color: #fff
    padding: 6px 12px 6px 12px !important
    text-shadow: darken($baseColor, 25) 0 1px 0
    +redGradient
    +border-radius(5px 5px 0 0)

.team-name-title 
  margin-bottom: 0px !important
  border: none !important
    
.team-member-list
  float: right
  width: 39%
  border: 2px dotted $baseColor
  height: 170px
  padding: 10px 15px
  overflow-y: scroll
  ul li
    list-style: none
    font-size: 15px
    margin: 5px 0

.team-add-members-wrapper h3,
.team-member-list h3,
#teams-add-member-form h3,
.activity-feed-wrapper h3,
.progress-bar-wrapper h3
  text-transform: uppercase
  font-family: $accent-reg
  margin-bottom: 5px
  color: $baseColor
  text-align: center
  font-size: 17px

.sponsor-logos
  text-align: center
  img
    margin: 0 15px

// member has been invited notification
#teams-notification-area
  font-size: 11px
  text-align: center
  
.pane-teams-team-management
  border: none !important
  
#teams-remove-members
  display: block
  text-align: center
  text-transform: capitalize
  &:before
    content: "[ "
  &:after
    content: " ]"

#team-pane, .pane-team-progress
  .pane-content
    border-left: 1px solid #BBB
    border-right: 1px solid #BBB
    border-bottom: 1px solid #BBB
    +border-radius (0 0 5px 5px)
    +box-shadow(#666 0px 7px 15px -7px)

// activity feed && progres bar
.pane-team-progress .pane-content
  width: 100%
  overflow: auto

.progress-bar-wrapper
  border: 2px dotted $baseColor
  float: right
  width: 59%
  padding: 10px 20px
  p
    text-align: center
    margin: 10px 0 0 0
    color: #222
    text-transform: uppercase
  .progress-bar
    height: 20px
    +border-radius(4px)
    +background-image(linear-gradient(top, #fff, darken(#fff, 2) 90%))
    .progress-bar-progress
      +border-radius(4px 0 0 4px)
      +redGradient

.activity-feed-wrapper
  border: 2px dotted $baseColor
  float: left
  width: 39%
  padding: 10px
  overflow-y: scroll
  max-height: 300px
  min-height: 93px
      
// challenges report back forms
.field-name-group-audience
  display: none
  
.webform-img img
  display: block
  margin: 0 auto
  
#challenges-webform
  width: 85%
  margin: 35px auto 0
  .field-name-field-webform-pictures // ribbon content
    width: 650px
    margin: 15px 0 0 -41px
    padding: 5px 15px
    position: relative
    z-index: 1
    +border-radius(5px 5px 0 0) 
    +redGradient
    #edit-submitted-field-webform-pictures-und // upload pictures hack
      width: 60%
      margin: 0 auto
    label, .description // upload pictures title and help copy
      text-align: center
      text-transform: uppercase
      color: #fff
    label
      font-family: $accent
      font-size: 20px !important
      text-shadow: darken($baseColor, 10) 0 1px 0
      padding: 0 0 5px 0
    td
      text-align: center
    tr.draggable
      margin-bottom: 10px
    .description
      padding: 10px 0 0 0
    .image-widget-data
      width: 75%
      margin: 0 auto
      float: none
    input[type="submit"]
      background: $huntDarker
      font-family: $accent
      font-size: 15px
      text-transform: uppercase
      height: 25px
      +background-image(linear-gradient(top, $huntDarker, $huntDarkest 80%))
      +border-radius(7px)
      +noBorder
      &:hover
        +background-image(linear-gradient(top, darken($huntDarker, 5), darken($huntDarkest, 10) 80%))        
  .tabledrag-toggle-weight-wrapper
    display: none
  #edit-submitted-field-webform-pictures-und-table
    margin-bottom: 15px
    background: none
    width: 300px
    margin: 0 0 0 45px
    +noBorder
    span.file
      display: block
      overflow: hidden
      width: 70px
      padding-top: 20px
    div.image-preview
      padding: 0 10px 0 0
    a
      color: #000
    tr, td
      background: none
      padding: 0
      +noBorder
    thead, .tabledrag-handle, .file-icon, .file-size
      display: none
    tbody img
      width: 60px
      height: 60px
      margin: 0 0 10px 0
  #webform-component-photo // ribbon legs
    position: relative
    // &:before, &:after
    //   content: ""
    //   position: absolute
    //   bottom: -160px
    //   border: 50px solid darken($baseColor, 10)
    //   z-index: 0
    // &:before
    //   left: -106px
    //   border-right-width: 25px
    //   border-left-color: transparent
    // &:after
    //   right: -106px
    //   border-left-width: 25px
    //   border-right-color: transparent
  #edit-submitted-field-webform-pictures-und-ajax-wrapper  // ribbon corners
    &:before, &:after
      content: ""
      position: absolute
      border-style: solid
      border-color: darken($baseColor, 18) transparent transparent transparent
      bottom: -10px
    &:before
      left: 0
      border-width: 10px 0 0 10px
    &:after
      right: 0
      border-width: 10px 10px 0 0
  .pane-content
    background-color: $huntLighter
    border-left: 1px solid #BBB
    border-right: 1px solid #BBB
    border-bottom: 1px solid #BBB
    +border-radius (0 0 5px 5px)
    +box-shadow(#666 0px 7px 15px -7px)
  .pane-title
    font-size: 25px
    line-height: 30px
    text-align: center
    text-shadow: darken($baseColor, 25) 0 1px 0
    +redGradient
    +border-radius(5px 5px 0 0)
  .webform-client-form
    +noBorder
    +noShadow
    padding: 15px 30px
    input[type="checkbox"]
      width: 20px
    input[type="text"], textarea
      background: $offGrey
    label
      font-size: 13px
      line-height: 20px
    textarea
      +noBorder
      margin: 5px 0 20px
    #edit-actions
      position: relative
      right: 0
      bottom: -15px
      text-align: center
  .form-checkboxes
    width: 100%
    overflow: auto
    .form-type-checkbox
      float: left
      width: 85%
      margin-bottom: 10px
  .webform-component-textfield
    width: 100%
    overflow: auto
    margin-bottom: 15px
    label
      float: left
      padding-top: 5px
    input
      float: right
      width: 200px
      +noShadow
      +border-radius(3px)

#webform-component-photo
  text-align: center
  h2
    text-indent: -90px
  h3
    text-transform: uppercase
    font-size: 1.3em
    padding-top: 12px

.points_wrapper
  position: absolute
  right: 81px
  top: 360px

.photo_ribbon
  position: relative
  left: -19px
  background: $baseColor
  color: #fff!important
  padding: 0 10px
  text-shadow: darken($baseColor, 25) 0 1px 0
  +box-shadow(#444 0px 6px 8px -5px)
  +border-radius(4px 4px 4px 0)
  +redGradient
  &:after
    width: 0
    height: 0
    border-width: 4px
    border-style: solid
    border-color: darken($baseColor, 15) darken($baseColor, 15) transparent transparent
    position: absolute
    top: 33px
    right: 93px
    content: " " 

.points1, .points2, .points3
  width: 75px
  height: 25px
  padding: 5px 10px
  margin-bottom: 10px
  background: $baseColor
  color: #fff
  text-shadow: darken($baseColor, 25) 0 1px 0
  text-transform: uppercase
  text-align: center
  font-family: $accent
  font-size: 15px
  +box-shadow(#444 0px 6px 8px -5px)
  +border-radius(3px 3px 0 3px)
  +redGradient
  &:after
    width: 0
    height: 0
    border-width: 4px
    border-style: solid
    border-color: darken($baseColor, 15) transparent transparent darken($baseColor, 15)
    position: absolute
    right: 0px
    content: " "

.points1:after
  top: 25px

.points2:after
  top: 59px

.points3:after
  top: 94px

// blog
.node-campaign-blog-post
  padding: 15px !important
  .field-name-field-picture
    img
      margin: 0 20px 20px 0
      float: left
  .field-name-field-blog-video
    clear: both
    position: relative
    bottom: -25px
    right: -125px
    margin: 35px 0
    iframe
      margin: 0 auto
      display: block

// again with the #%!*ing blog bugs
.blog-post
  .go-button
    position: relative
    right: 0
    bottom: 0
    margin-left: 5px
    padding-top: 2px
    color: #000
          
.field-type-text-with-summary
  img
    padding: 10px
    margin: 20px auto
    display: block
    border: 1px solid #000!important

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  +noBorder
  .pane-content
    padding: 15px
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink
  .views-field-title
    a
      text-decoration: none
      &:hover
        color: $secondaryLink
  .more-link
    text-transform: uppercase

.pane-campaign-blog-panel-pane-2
  +noBorder
  width: 100%
  .pane-content
    padding: 10px 0 0 0
  .view-campaign-blog
    .views-row
      padding: 5px 15px 15px
        margin: 1em 0 1em 0
      &:first-child
        &:before
          +noBorder
          margin: 0px
    .views-row-even
      background-color: $huntDarker

.campaign-blog-post
  .panel-row-flexible
    width: 82%
    margin: 0 auto 15px
  .pane-dosomething-blocks-dosomething-social-node-buttons
    margin: 0 auto      

.pane-dosomething-blocks-dosomething-social-node-buttons
  margin: 0 auto

#block-dosomething-campaign-styles-campaign-nav
  margin-right: -7px

// quiz questions page
.quiz-top-box
  margin-top: 10px
  .pane-content
    padding: 2px 15px !important
  p
    float: left
    width: 360px
    margin: 8px
    font-size: 15px
  img
    float: right

#quiz .pane-content
  padding: 0 !important
  
  #node-722479
    background-color: white
    #webform-client-form-722479  
      +box-shadow(#fff 0 0 0)
      padding: 0 !important
  
  .form-actions
    clear: both
    position: static !important
    margin-top: 10px
    .edit-submit
      margin-top: 10px

.webform-component-quiz-question
  float: left 
  width: 340px
  padding: 6px 
  margin-bottom: 20px
  background-color: #ECECEC
  
  .form-type-radios > label
    font-family: din-web,"Trebuchet MS",sans-serif
    font-size: 20px
    line-height: 22px
    color: #CB2A1B
    cursor: default
    .form-required
      display: none
  
  .form-item
    label.option
      margin-left: 5px
      line-height: 18px
    
#webform-component-q1, #webform-component-q3,
#webform-component-q5, #webform-component-q7
  float: left
  
#webform-component-q2, #webform-component-q4,
#webform-component-q6, #webform-component-q8
  float: right
  
#webform-component-email-address,
#webform-component-cell-number
  clear: both
  float: right
  
// quiz results page

.hunt_quiz-response .pane-content
  background: #CB2A1B url(assets/quizbg.gif) no-repeat 0 0 !important
  border: 10px solid #000
  +box-shadow(#ccc 0 0 5px)
  width: 100%
  overflow: auto
  
  h2
    font-size: 56px
    text-transform: uppercase
    text-align: center
    margin: 0.5em 0 0.75em
    color: #fff
    font-weight: bold
    
  h3
    text-align: center
    text-transform: uppercase
    font-size: 2em
    margin: 0.75em 0 0.2em
    
  .hunt_share-box
    background: #fff
    width: 280px
    padding: 10px
    border: 5px solid #000
    margin: 0 auto 30px
    +box-shadow(#333 0 0 10px)
    
    p
      text-align: center
    
    .twitter-share-button
      position: relative
      top: 6px
  
  .hunt_portrait
    float: left
    margin-left: 20px
    margin-bottom: 10px
    border: 8px solid #fff !important
    -webkit-box-shadow: #333 0 0 15px !important
    -moz-box-shadow: #333 0 0 15px !important
    -webkit-backface-visibility: hidden // fixes jaggies in Chrome
    box-shadow: #333 0 0 15px !important
    +rotate(-3deg, false, false)
    padding: 0 !important
    
  .hunt_result-text, .hunt_result-again
    float: right
    width: 350px
    padding-top: 0.5em
    padding-right: 25px
    color: #fff
    font-family: din-web, Helvetica
    font-size: 2.2em
    line-height: 1.2em
    
    a
      color: #fff
      text-decoration: underline
    
  .hunt_result-again
    float: none
    clear: both
    width: 100%
    text-align: center
    padding-right: 0
    h2
      font-size: 35px
    a
      color: #000
      text-decoration: none
      text-align: center
      position: relative
      padding: 2px 12px

.clear-both
  clear: both

// report back HTML
#post-sign-up h3
  padding: 20px 15px 15px
  text-align: center
  font-size: 20px
  line-height: 40px

// logo above webform
#hunt-form-logo
  .pane-content
    background-color: #fff
  img
    display: block
    margin: 0 auto

// sign up form
#hunt-form
  width: 500px
  margin: 0 auto 50px
  .webform-client-form
    +noBorder
    +noShadow
  .field-name-group-audience, .field-name-field-teams-enable, .tabledrag-toggle-weight-wrapper, thead, td.field-multiple-drag
    display: none !important
  .webform-component
    margin-bottom: 10px
  h3
    text-align: center
  label
    font-family: $accent-reg
    font-size: 14px
    font-weight: 600
    float: left
    width: 50%
    padding-top: 5px
  table input[type="text"]
    width: 100%
  input[type="text"]
    width: 50%
  #edit-actions, #edit-actions--2
    position: relative
    right: 0
    bottom: 0
    text-align: center
    margin: 25px 0 -15px 0

// instruction div
#webform-component-instructions h2,
#webform-component-sunglass-instructions h2
  text-align: center
  font-size: 26px
  padding-bottom: 15px
  margin-top: -15px

#webform-component-sunglass-instructions h2
  padding-bottom: 0
  
// opt-in checkbox
#webform-component-yes
  width: 15%
  margin: 15px auto 0 !important
  > label
    display: none
  .form-item-submitted-yes-yes label
    margin-top: -4px

// fieldset containing Drupal insanity
#webform-component-kill-me
  display: none

// create_team & join_team functionality fieldset
fieldset#webform-component-create-or-join
  margin: 0 0 40px 0
  padding: 0 0 0 0
  .fieldset-wrapper
    background-color: #bbb
    padding: 15px
    // "add another item" button
    .form-submit
      font-weight: bold
      -webkit-border-radius: 12px
      -moz-border-radius: 12px
      -ms-border-radius: 12px
      -o-border-radius: 12px
      border-radius: 12px
      border: none
      height: 30px
      padding: 1px 13px 0
      font-size: 15px
      text-transform: uppercase
      color: white
      font-family: $accent
      background-color: #222
      margin: 25px 0px 0px 30px
      &:hover
        background-color: darken(#222, 10%)

// initially hide #create_team fields
#edit-submitted-field-team-name,
#edit-submitted-field-team-invite,
#webform-component-derp
  display: none

// "add another item" input table
table#field-team-invite-values
  width: 50%
  table-layout: fixed
  float: right

// #join_team & #create_team jQuery hooks
#webform-component-tabs
  width: 100%
  overflow: hidden
  margin: 0 !important
  h2
    display: block
    width: 125px
    float: left
    text-align: center
    background-color: #bbb
    padding: 5px
    color: $baseColor
    &:hover
      text-decoration: none
      color: $baseColor
  .inactive
    color: #000
    background-color: #aaa

// user registration block height fix
.pane-content #dosomething-login-register-popup-form .popup-content
  height: 150px
  
.pane-dosomething-login-register-block
  width: 500px
  margin: 0 auto
  border: none !important

// hack to fix multiple submit button bug
// select only /sign-up and /my-team submit & input buttons respectively
.node-campaign-sign-up #edit-actions--2 .form-submit,
.pane-teams-team-management .form-submit
  font-weight: bold 
  -webkit-border-radius: 12px 
  -moz-border-radius: 12px 
  -ms-border-radius: 12px 
  -o-border-radius: 12px 
  border-radius: 12px 
  border: none 
  height: 30px 
  padding: 1px 13px 0 
  background-color: #FED100 
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #FED100)) 
  background-image: -webkit-linear-gradient(top, white, #FED100) 
  background-image: -moz-linear-gradient(top, white, #FED100) 
  background-image: -o-linear-gradient(top, white, #FED100) 
  background-image: -ms-linear-gradient(top, white, #FED100) 
  background-image: linear-gradient(top, white, #FED100) 
  font-size: 18px 
  font-family: $accent
  text-transform: uppercase 

#edit-submitted-field-webform-pictures-und
  legend
    display: none

// hide facebook commenting on /report-back
.fb-social-comments-plugin
  display: none

// Far East Movement Page
.page-node-722981, .page-node-723084, .page-node-722982, .page-node-723110
  #block-dosomething-campaign-styles-campaign-nav ul.menu
    display: none

#fareast
  p
    font-size: 14px
    margin: 0 84px 15px
    line-height: 1.3em
  #fem_logo
    float: left
    +noBorder
  #hunt_fem_logo
    float: left
    width: 420px
    +noBorder
  .webform-client-form
    #edit-actions
      position: absolute
      right: 576px
      bottom: 20px 
  .panel-row-top-logo
    width: 100%    
    .fareast_copy
      h2
        font-size: 36px
        line-height: 1em
        text-align: center
        color: #BC3F3B
        padding: 10px 0
      h2.subhead
        color: black
    .fem_video
      text-align: center
      margin-bottom: 1em
    .pane-title
      display: none
    input
      margin-bottom: 10px
    label
      font-size: 1.3em
    .tabledrag-toggle-weight-wrapper
      text-align: left
    #webform-component-rules  
      margin-top: 44px
    // Indent Left Margin
    .tabledrag-toggle-weight-wrapper, #webform-component-rules, input, label, table#field-webform-videos-values
      margin-left: 84px
  #field-webform-videos-values, th.field-label
    width: 350px
    margin-top: 3px
  input.field-add-more-submit, a.tabledrag-toggle-weight, .field-multiple-drag
    display: none
  a.launcher
    font-size: 16px
  #field-webform-videos-values
    label
      margin: 0
  .fem-note
    padding-bottom: 15px
    color: gray
    font-size: 12px
  .form-wrapper #edit-submitted-field-webform-videos-und-0
    margin-bottom: 10px
      
// Far East Movment Thank You Page
.page-node-722982, .page-node-723110
  #fareast
    .pane-content
      padding: 0px !important
      background: none !important
    h2
      margin: 10px 30px
      font-size: 32px
      line-height: 1.1em
    h2.pane-title
      display: none
      
.center
  text-align: center