.main-inner a {
  color: #d32a1b; }
  .main-inner a:hover {
    color: #d32a1b; }
.main-inner b {
  font-weight: 600; }

h1.title {
  display: none; }

h2.pane-title {
  background: #d32a1b; }

img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }

body {
  background-color: #c66f2a;
  background-image: url("assets/bg.png");
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto; }

div[role="main"] {
  background: white;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

.white-bg .pane-content {
  background: white !important; }

.main-inner {
  padding-top: 10px;
  width: 750px; }

.ds-panel .pane-content {
  padding-bottom: 0 !important; }

.panel-row-flexible .panel-pane, .panel-row-actions .panel-pane {
  margin-bottom: 15px;
  background: white; }
.panel-row-flexible .pane-content, .panel-row-actions .pane-content {
  background: #d6d6d7; }

.panel-row-flexible .pane-content {
  padding: 15px !important; }

.three-boxes {
  width: 32% !important;
  float: left !important;
  margin-right: 2% !important; }
  .three-boxes:last-child {
    margin-right: 0 !important; }
  .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#breadcrumb {
  display: none; }

#page .panel-row-ad-quick-info h2.pane-title {
  color: #d32a1b !important; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right;
    padding: 5px 0; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #d32a1b; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 6px 19px 6px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #d32a1b;
        text-decoration: none; }

.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.field-name-field-campaign-logo img {
  width: 480px;
  height: 230px;
  margin-top: 0px !important; }

.sunglass_sign-up {
  position: absolute;
  right: -15px;
  top: 0px;
  width: 125px;
  z-index: 1; }

.panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 1.4em;
  margin-top: 30px; }
  .panel-top-right-mini-info .field-name-field-campain-date {
    color: #d32a1b;
    padding: 0;
    font-weight: 600; }
  .panel-top-right-mini-info .field-name-field-campaign-teaser {
    width: 70%;
    font-size: 18px;
    line-height: 25px; }
    .panel-top-right-mini-info .field-name-field-campaign-teaser p {
      margin-bottom: 15px; }
  .panel-top-right-mini-info .pane-content {
    padding-bottom: 0; }

.pane-campaign-social .pane-content .fb-facepile:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.pane-campaign-social .pane-content .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .pane-content .socialWrapper:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 247px; }

.panel-row-actions {
  background: #d6d6d7;
  width: 750px;
  margin: 15px 0;
  border: none !important; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: #d32a1b; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

.webform-client-form #edit-actions {
  position: absolute;
  right: 86px;
  bottom: 9px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px;
  padding: 6px 0; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 8px;
    left: 326px;
    color: #d32a1b; }
    #campaign-opt-in a:hover {
      color: #d32a1b;
      text-decoration: none; }

.pane-campaign-counter .pane-content {
  padding: 20px 25px 20px 0; }
  .pane-campaign-counter .pane-content .campaign-counter-labels {
    text-transform: uppercase;
    font-size: 23px;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 500;
    line-height: 25px;
    float: left; }
  .pane-campaign-counter .pane-content .digits, .pane-campaign-counter .pane-content .campaign-counter-label-bottom, .pane-campaign-counter .pane-content .campaign-counter-label-top {
    margin-bottom: 8px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: #d32a1b;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em;
  padding: 0; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #d32a1b;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 0.8em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  background: white; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #d32a1b; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.pane-content .got_questions {
  text-align: right;
  border-top: 2px solid #d32a1b;
  padding-top: 10px;
  color: black; }
  .pane-content .got_questions a {
    color: #d32a1b; }

#prizeblock-1, #prizeblock-2, #prizeblock-3 {
  width: 100%;
  overflow: auto; }
  #prizeblock-1 img, #prizeblock-2 img, #prizeblock-3 img {
    border: none !important; }
  #prizeblock-1 span, #prizeblock-2 span, #prizeblock-3 span {
    text-transform: uppercase;
    font-weight: 600; }
  #prizeblock-1 p, #prizeblock-2 p, #prizeblock-3 p {
    font-size: 14px;
    line-height: 20px; }
  #prizeblock-1 div, #prizeblock-2 div, #prizeblock-3 div {
    width: 55%;
    text-align: center;
    margin: 0 auto; }
    #prizeblock-1 div h2, #prizeblock-2 div h2, #prizeblock-3 div h2 {
      text-transform: uppercase;
      border-bottom: 2px solid #1e1d1c;
      margin: 0 auto 5px;
      width: 35%;
      font-size: 25px; }
  #prizeblock-1 .prizeimg-1, #prizeblock-1 .prizeimg-2, #prizeblock-1 .prizeimg-3, #prizeblock-1 .prizeimg-4, #prizeblock-1 .prizeimg-5, #prizeblock-1 .prizeimg-6, #prizeblock-2 .prizeimg-1, #prizeblock-2 .prizeimg-2, #prizeblock-2 .prizeimg-3, #prizeblock-2 .prizeimg-4, #prizeblock-2 .prizeimg-5, #prizeblock-2 .prizeimg-6, #prizeblock-3 .prizeimg-1, #prizeblock-3 .prizeimg-2, #prizeblock-3 .prizeimg-3, #prizeblock-3 .prizeimg-4, #prizeblock-3 .prizeimg-5, #prizeblock-3 .prizeimg-6 {
    position: absolute; }

#prizeblock-1 .prizeimg-1 {
  left: 12px;
  top: 40px; }
#prizeblock-1 .prizeimg-2 {
  right: -20px;
  top: -5px; }

#prizeblock-2 .prizeimg-3 {
  top: -5px;
  left: 10px; }
#prizeblock-2 .prizeimg-4 {
  top: -5px;
  right: 12px; }
#prizeblock-2 div {
  margin: 35px auto; }

#prizeblock-3 .prizeimg-5 {
  top: 10px;
  right: 12px; }
#prizeblock-3 .prizeimg-6 {
  top: 10px;
  left: 12px; }
#prizeblock-3 div {
  width: 70%; }
#prizeblock-3 .legal_copy {
  font-size: 10px;
  margin-top: -30px; }
#prizeblock-3 a {
  display: block;
  text-align: center; }

#faq-section h2 {
  text-align: center;
  margin-bottom: 15px; }
#faq-section h3 {
  color: #d32a1b;
  text-transform: uppercase;
  font-size: 19px; }

#challenges_copy h2 {
  margin: -5px 0 0 0;
  text-align: center;
  font-family: "din-web-reg";
  font-weight: 400;
  font-size: 16px; }

#challenges ul, #challenges_open ul {
  background-color: #939398;
  margin: 0 0 0 0;
  padding: 12px 30px; }
#challenges li, #challenges_open li {
  list-style-image: url("assets/dot.png");
  color: white; }
#challenges h3, #challenges_open h3 {
  background-color: #bebfc1;
  height: 2em;
  margin-top: 10px;
  padding: 0.5em 0.7em;
  color: white;
  text-transform: uppercase;
  font-family: "din-web-reg";
  font-weight: 500;
  font-size: 15px; }
  #challenges h3 span, #challenges_open h3 span {
    color: #d32a1b; }
#challenges strong, #challenges_open strong {
  font-weight: 500;
  float: right;
  color: #d32a1b;
  width: 175px; }
#challenges .webform_link, #challenges_open .webform_link {
  text-align: center;
  list-style: none;
  height: 30px; }
#challenges .go-button, #challenges_open .go-button {
  color: black;
  font-size: 13px;
  position: relative;
  right: 0;
  bottom: -10px;
  padding: 3px 7px; }
  #challenges .go-button:hover, #challenges_open .go-button:hover {
    color: #a62115; }
#challenges a, #challenges_open a {
  color: #fed100; }

#WYSIWYG_HACK .pane-content {
  margin-top: -35px;
  padding: 0 15px 15px 15px !important; }

.view-campaign-gallery #gallery {
  height: 415px; }
  .view-campaign-gallery #gallery #slideshow {
    height: 360px;
    width: 480px;
    margin: 0 auto; }

.pane-teams-team-management {
  border: none !important; }
  .pane-teams-team-management .pane-content {
    height: 200px; }
    .pane-teams-team-management .pane-content .team-add-members-wrapper {
      border: 2px dotted #d32a1b;
      float: left;
      width: 59%;
      font-size: 14px;
      padding: 10px 15px;
      margin: 0;
      height: 170px; }
  .pane-teams-team-management #teams-add-member-form {
    height: 40px;
    margin: 0 !important; }
  .pane-teams-team-management .members-list label {
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 6px 12px 0 0;
    cursor: default; }
  .pane-teams-team-management .members-list input#edit-friend {
    width: 151px;
    height: 30px;
    margin-right: 10px;
    float: left; }
  .pane-teams-team-management .members-list .form-submit {
    border: none !important;
    background-image: url("http://files.dosomething.org/files/campaigns/hunt/team_sprite.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -9999em;
    float: right;
    margin: -18px 0 0 0;
    background-color: #d6d6d7; }
    .pane-teams-team-management .members-list .form-submit:hover {
      background-position-y: -18px; }

#teams-add-member-form .throbber {
  margin: 6px 0px 6px 20px; }
#teams-add-member-form .form-item-friend input, #teams-add-member-form .form-item-friend label {
  float: left;
  margin-top: 2px; }
#teams-add-member-form .form-item-friend input {
  width: 200px;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
#teams-add-member-form .form-item-friend label {
  margin: 5px 20px 0 0; }
#teams-add-member-form .form-submit {
  float: right; }

#main-wrapper .team-name-title .pane-content,
#main-wrapper .pane-team-progress .pane-title {
  font-size: 25px;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: white;
  padding: 6px 12px 6px 12px !important;
  text-shadow: #62130d 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
  background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: linear-gradient(top, #d32a1b, #a62115 80%);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.team-name-title {
  margin-bottom: 0px !important;
  border: none !important; }

.team-member-list {
  float: right;
  width: 39%;
  border: 2px dotted #d32a1b;
  height: 170px;
  padding: 10px 15px;
  overflow-y: scroll; }
  .team-member-list ul li {
    list-style: none;
    font-size: 15px;
    margin: 5px 0; }

.team-add-members-wrapper h3,
.team-member-list h3,
#teams-add-member-form h3,
.activity-feed-wrapper h3,
.progress-bar-wrapper h3 {
  text-transform: uppercase;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  margin-bottom: 5px;
  color: #d32a1b;
  text-align: center;
  font-size: 17px; }

.sponsor-logos {
  text-align: center; }
  .sponsor-logos img {
    margin: 0 15px; }

#teams-notification-area {
  font-size: 11px;
  text-align: center; }

.pane-teams-team-management {
  border: none !important; }

#teams-remove-members {
  display: block;
  text-align: center;
  text-transform: capitalize; }
  #teams-remove-members:before {
    content: "[ "; }
  #teams-remove-members:after {
    content: " ]"; }

#team-pane .pane-content, .pane-team-progress .pane-content {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: #666666 0px 7px 15px -7px;
  -moz-box-shadow: #666666 0px 7px 15px -7px;
  box-shadow: #666666 0px 7px 15px -7px; }

.pane-team-progress .pane-content {
  width: 100%;
  overflow: auto; }

.progress-bar-wrapper {
  border: 2px dotted #d32a1b;
  float: right;
  width: 59%;
  padding: 10px 20px; }
  .progress-bar-wrapper p {
    text-align: center;
    margin: 10px 0 0 0;
    color: #222222;
    text-transform: uppercase; }
  .progress-bar-wrapper .progress-bar {
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(90%, #fafafa));
    background-image: -webkit-linear-gradient(top, #ffffff, #fafafa 90%);
    background-image: -moz-linear-gradient(top, #ffffff, #fafafa 90%);
    background-image: -o-linear-gradient(top, #ffffff, #fafafa 90%);
    background-image: -ms-linear-gradient(top, #ffffff, #fafafa 90%);
    background-image: linear-gradient(top, #ffffff, #fafafa 90%); }
    .progress-bar-wrapper .progress-bar .progress-bar-progress {
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      -ms-border-radius: 4px 0 0 4px;
      -o-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
      background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
      background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
      background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
      background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
      background-image: linear-gradient(top, #d32a1b, #a62115 80%); }

.activity-feed-wrapper {
  border: 2px dotted #d32a1b;
  float: left;
  width: 39%;
  padding: 10px;
  overflow-y: scroll;
  max-height: 300px;
  min-height: 93px; }

.field-name-group-audience {
  display: none; }

.webform-img img {
  display: block;
  margin: 0 auto; }

#challenges-webform {
  width: 85%;
  margin: 35px auto 0; }
  #challenges-webform .field-name-field-webform-pictures {
    width: 650px;
    margin: 15px 0 0 -41px;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
    background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: linear-gradient(top, #d32a1b, #a62115 80%); }
    #challenges-webform .field-name-field-webform-pictures #edit-submitted-field-webform-pictures-und {
      width: 60%;
      margin: 0 auto; }
    #challenges-webform .field-name-field-webform-pictures label, #challenges-webform .field-name-field-webform-pictures .description {
      text-align: center;
      text-transform: uppercase;
      color: white; }
    #challenges-webform .field-name-field-webform-pictures label {
      font-family: din-web, "Trebuchet MS", sans-serif;
      font-size: 20px !important;
      text-shadow: #a62115 0 1px 0;
      padding: 0 0 5px 0; }
    #challenges-webform .field-name-field-webform-pictures td {
      text-align: center; }
    #challenges-webform .field-name-field-webform-pictures tr.draggable {
      margin-bottom: 10px; }
    #challenges-webform .field-name-field-webform-pictures .description {
      padding: 10px 0 0 0; }
    #challenges-webform .field-name-field-webform-pictures .image-widget-data {
      width: 75%;
      margin: 0 auto;
      float: none; }
    #challenges-webform .field-name-field-webform-pictures input[type="submit"] {
      background: #bebfc1;
      font-family: din-web, "Trebuchet MS", sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      height: 25px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebfc1), color-stop(80%, #939398));
      background-image: -webkit-linear-gradient(top, #bebfc1, #939398 80%);
      background-image: -moz-linear-gradient(top, #bebfc1, #939398 80%);
      background-image: -o-linear-gradient(top, #bebfc1, #939398 80%);
      background-image: -ms-linear-gradient(top, #bebfc1, #939398 80%);
      background-image: linear-gradient(top, #bebfc1, #939398 80%);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      border: none !important; }
      #challenges-webform .field-name-field-webform-pictures input[type="submit"]:hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b1b2b5), color-stop(80%, #79797f));
        background-image: -webkit-linear-gradient(top, #b1b2b5, #79797f 80%);
        background-image: -moz-linear-gradient(top, #b1b2b5, #79797f 80%);
        background-image: -o-linear-gradient(top, #b1b2b5, #79797f 80%);
        background-image: -ms-linear-gradient(top, #b1b2b5, #79797f 80%);
        background-image: linear-gradient(top, #b1b2b5, #79797f 80%); }
  #challenges-webform .tabledrag-toggle-weight-wrapper {
    display: none; }
  #challenges-webform #edit-submitted-field-webform-pictures-und-table {
    margin-bottom: 15px;
    background: none;
    width: 300px;
    margin: 0 0 0 45px;
    border: none !important; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table span.file {
      display: block;
      overflow: hidden;
      width: 70px;
      padding-top: 20px; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table div.image-preview {
      padding: 0 10px 0 0; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table a {
      color: black; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table tr, #challenges-webform #edit-submitted-field-webform-pictures-und-table td {
      background: none;
      padding: 0;
      border: none !important; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table thead, #challenges-webform #edit-submitted-field-webform-pictures-und-table .tabledrag-handle, #challenges-webform #edit-submitted-field-webform-pictures-und-table .file-icon, #challenges-webform #edit-submitted-field-webform-pictures-und-table .file-size {
      display: none; }
    #challenges-webform #edit-submitted-field-webform-pictures-und-table tbody img {
      width: 60px;
      height: 60px;
      margin: 0 0 10px 0; }
  #challenges-webform #webform-component-photo {
    position: relative; }
  #challenges-webform #edit-submitted-field-webform-pictures-und-ajax-wrapper:before, #challenges-webform #edit-submitted-field-webform-pictures-und-ajax-wrapper:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #821a11 transparent transparent transparent;
    bottom: -10px; }
  #challenges-webform #edit-submitted-field-webform-pictures-und-ajax-wrapper:before {
    left: 0;
    border-width: 10px 0 0 10px; }
  #challenges-webform #edit-submitted-field-webform-pictures-und-ajax-wrapper:after {
    right: 0;
    border-width: 10px 10px 0 0; }
  #challenges-webform .pane-content {
    background-color: #d6d6d7;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: #666666 0px 7px 15px -7px;
    -moz-box-shadow: #666666 0px 7px 15px -7px;
    box-shadow: #666666 0px 7px 15px -7px; }
  #challenges-webform .pane-title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-shadow: #62130d 0 1px 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
    background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
    background-image: linear-gradient(top, #d32a1b, #a62115 80%);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  #challenges-webform .webform-client-form {
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    padding: 15px 30px; }
    #challenges-webform .webform-client-form input[type="checkbox"] {
      width: 20px; }
    #challenges-webform .webform-client-form input[type="text"], #challenges-webform .webform-client-form textarea {
      background: #f2f2f2; }
    #challenges-webform .webform-client-form label {
      font-size: 13px;
      line-height: 20px; }
    #challenges-webform .webform-client-form textarea {
      border: none !important;
      margin: 5px 0 20px; }
    #challenges-webform .webform-client-form #edit-actions {
      position: relative;
      right: 0;
      bottom: -15px;
      text-align: center; }
  #challenges-webform .form-checkboxes {
    width: 100%;
    overflow: auto; }
    #challenges-webform .form-checkboxes .form-type-checkbox {
      float: left;
      width: 85%;
      margin-bottom: 10px; }
  #challenges-webform .webform-component-textfield {
    width: 100%;
    overflow: auto;
    margin-bottom: 15px; }
    #challenges-webform .webform-component-textfield label {
      float: left;
      padding-top: 5px; }
    #challenges-webform .webform-component-textfield input {
      float: right;
      width: 200px;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }

#webform-component-photo {
  text-align: center; }
  #webform-component-photo h2 {
    text-indent: -90px; }
  #webform-component-photo h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    padding-top: 12px; }

.points_wrapper {
  position: absolute;
  right: 81px;
  top: 360px; }

.photo_ribbon {
  position: relative;
  left: -19px;
  background: #d32a1b;
  color: white !important;
  padding: 0 10px;
  text-shadow: #62130d 0 1px 0;
  -webkit-box-shadow: #444444 0px 6px 8px -5px;
  -moz-box-shadow: #444444 0px 6px 8px -5px;
  box-shadow: #444444 0px 6px 8px -5px;
  -webkit-border-radius: 4px 4px 4px 0;
  -moz-border-radius: 4px 4px 4px 0;
  -ms-border-radius: 4px 4px 4px 0;
  -o-border-radius: 4px 4px 4px 0;
  border-radius: 4px 4px 4px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
  background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: linear-gradient(top, #d32a1b, #a62115 80%); }
  .photo_ribbon:after {
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #8f1c12 #8f1c12 transparent transparent;
    position: absolute;
    top: 33px;
    right: 93px;
    content: " "; }

.points1, .points2, .points3 {
  width: 75px;
  height: 25px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #d32a1b;
  color: white;
  text-shadow: #62130d 0 1px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 15px;
  -webkit-box-shadow: #444444 0px 6px 8px -5px;
  -moz-box-shadow: #444444 0px 6px 8px -5px;
  box-shadow: #444444 0px 6px 8px -5px;
  -webkit-border-radius: 3px 3px 0 3px;
  -moz-border-radius: 3px 3px 0 3px;
  -ms-border-radius: 3px 3px 0 3px;
  -o-border-radius: 3px 3px 0 3px;
  border-radius: 3px 3px 0 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
  background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: linear-gradient(top, #d32a1b, #a62115 80%); }
  .points1:after, .points2:after, .points3:after {
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #8f1c12 transparent transparent #8f1c12;
    position: absolute;
    right: 0px;
    content: " "; }

.points1:after {
  top: 25px; }

.points2:after {
  top: 59px; }

.points3:after {
  top: 94px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 20px 20px 0;
    float: left; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.blog-post .go-button {
  position: relative;
  right: 0;
  bottom: 0;
  margin-left: 5px;
  padding-top: 2px;
  color: black; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #d32a1b;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: #d32a1b; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: #d32a1b; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none !important;
      margin: 0px; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #bebfc1; }

.campaign-blog-post .panel-row-flexible {
  width: 82%;
  margin: 0 auto 15px; }
.campaign-blog-post .pane-dosomething-blocks-dosomething-social-node-buttons {
  margin: 0 auto; }

.pane-dosomething-blocks-dosomething-social-node-buttons {
  margin: 0 auto; }

#block-dosomething-campaign-styles-campaign-nav {
  margin-right: -7px; }

.quiz-top-box {
  margin-top: 10px; }
  .quiz-top-box .pane-content {
    padding: 2px 15px !important; }
  .quiz-top-box p {
    float: left;
    width: 360px;
    margin: 8px;
    font-size: 15px; }
  .quiz-top-box img {
    float: right; }

#quiz .pane-content {
  padding: 0 !important; }
  #quiz .pane-content #node-722479 {
    background-color: white; }
    #quiz .pane-content #node-722479 #webform-client-form-722479 {
      -webkit-box-shadow: white 0 0 0;
      -moz-box-shadow: white 0 0 0;
      box-shadow: white 0 0 0;
      padding: 0 !important; }
  #quiz .pane-content .form-actions {
    clear: both;
    position: static !important;
    margin-top: 10px; }
    #quiz .pane-content .form-actions .edit-submit {
      margin-top: 10px; }

.webform-component-quiz-question {
  float: left;
  width: 340px;
  padding: 6px;
  margin-bottom: 20px;
  background-color: #ececec; }
  .webform-component-quiz-question .form-type-radios > label {
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #cb2a1b;
    cursor: default; }
    .webform-component-quiz-question .form-type-radios > label .form-required {
      display: none; }
  .webform-component-quiz-question .form-item label.option {
    margin-left: 5px;
    line-height: 18px; }

#webform-component-q1, #webform-component-q3,
#webform-component-q5, #webform-component-q7 {
  float: left; }

#webform-component-q2, #webform-component-q4,
#webform-component-q6, #webform-component-q8 {
  float: right; }

#webform-component-email-address,
#webform-component-cell-number {
  clear: both;
  float: right; }

.hunt_quiz-response .pane-content {
  background: #cb2a1b url(assets/quizbg.gif) no-repeat 0 0 !important;
  border: 10px solid black;
  -webkit-box-shadow: #cccccc 0 0 5px;
  -moz-box-shadow: #cccccc 0 0 5px;
  box-shadow: #cccccc 0 0 5px;
  width: 100%;
  overflow: auto; }
  .hunt_quiz-response .pane-content h2 {
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0 0.75em;
    color: white;
    font-weight: bold; }
  .hunt_quiz-response .pane-content h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0.75em 0 0.2em; }
  .hunt_quiz-response .pane-content .hunt_share-box {
    background: white;
    width: 280px;
    padding: 10px;
    border: 5px solid black;
    margin: 0 auto 30px;
    -webkit-box-shadow: #333333 0 0 10px;
    -moz-box-shadow: #333333 0 0 10px;
    box-shadow: #333333 0 0 10px; }
    .hunt_quiz-response .pane-content .hunt_share-box p {
      text-align: center; }
    .hunt_quiz-response .pane-content .hunt_share-box .twitter-share-button {
      position: relative;
      top: 6px; }
  .hunt_quiz-response .pane-content .hunt_portrait {
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 8px solid white !important;
    -webkit-box-shadow: #333333 0 0 15px !important;
    -moz-box-shadow: #333333 0 0 15px !important;
    -webkit-backface-visibility: hidden;
    box-shadow: #333333 0 0 15px !important;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    padding: 0 !important; }
  .hunt_quiz-response .pane-content .hunt_result-text, .hunt_quiz-response .pane-content .hunt_result-again {
    float: right;
    width: 350px;
    padding-top: 0.5em;
    padding-right: 25px;
    color: white;
    font-family: din-web, Helvetica;
    font-size: 2.2em;
    line-height: 1.2em; }
    .hunt_quiz-response .pane-content .hunt_result-text a, .hunt_quiz-response .pane-content .hunt_result-again a {
      color: white;
      text-decoration: underline; }
  .hunt_quiz-response .pane-content .hunt_result-again {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    padding-right: 0; }
    .hunt_quiz-response .pane-content .hunt_result-again h2 {
      font-size: 35px; }
    .hunt_quiz-response .pane-content .hunt_result-again a {
      color: black;
      text-decoration: none;
      text-align: center;
      position: relative;
      padding: 2px 12px; }

.clear-both {
  clear: both; }

#post-sign-up h3 {
  padding: 20px 15px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 40px; }

#hunt-form-logo .pane-content {
  background-color: white; }
#hunt-form-logo img {
  display: block;
  margin: 0 auto; }

#hunt-form {
  width: 500px;
  margin: 0 auto 50px; }
  #hunt-form .webform-client-form {
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  #hunt-form .field-name-group-audience, #hunt-form .field-name-field-teams-enable, #hunt-form .tabledrag-toggle-weight-wrapper, #hunt-form thead, #hunt-form td.field-multiple-drag {
    display: none !important; }
  #hunt-form .webform-component {
    margin-bottom: 10px; }
  #hunt-form h3 {
    text-align: center; }
  #hunt-form label {
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 50%;
    padding-top: 5px; }
  #hunt-form table input[type="text"] {
    width: 100%; }
  #hunt-form input[type="text"] {
    width: 50%; }
  #hunt-form #edit-actions, #hunt-form #edit-actions--2 {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 25px 0 -15px 0; }

#webform-component-instructions h2,
#webform-component-sunglass-instructions h2 {
  text-align: center;
  font-size: 26px;
  padding-bottom: 15px;
  margin-top: -15px; }

#webform-component-yes {
  display: none; }

#webform-component-kill-me {
  display: none; }

fieldset#webform-component-create-or-join {
  margin: 0 0 40px 0;
  padding: 0 0 0 0; }
  fieldset#webform-component-create-or-join .fieldset-wrapper {
    background-color: #bbbbbb;
    padding: 15px; }
    fieldset#webform-component-create-or-join .fieldset-wrapper .form-submit {
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      border: none;
      height: 30px;
      padding: 1px 13px 0;
      font-size: 15px;
      text-transform: uppercase;
      color: white;
      font-family: din-web, "Trebuchet MS", sans-serif;
      background-color: #222222;
      margin: 25px 0px 0px 30px; }
      fieldset#webform-component-create-or-join .fieldset-wrapper .form-submit:hover {
        background-color: #090909; }

#edit-submitted-field-team-name,
#edit-submitted-field-team-invite,
#webform-component-derp {
  display: none; }

table#field-team-invite-values {
  width: 50%;
  table-layout: fixed;
  float: right; }

#webform-component-tabs {
  width: 100%;
  overflow: hidden;
  margin: 0 !important; }
  #webform-component-tabs h2 {
    display: block;
    width: 125px;
    float: left;
    text-align: center;
    background-color: #bbbbbb;
    padding: 5px;
    color: #d32a1b; }
    #webform-component-tabs h2:hover {
      text-decoration: none;
      color: #d32a1b; }
  #webform-component-tabs .inactive {
    color: black;
    background-color: #aaaaaa; }

.pane-content #dosomething-login-register-popup-form .popup-content {
  height: 150px; }

.pane-dosomething-login-register-block {
  width: 500px;
  margin: 0 auto;
  border: none !important; }

.node-campaign-sign-up #edit-actions--2 .form-submit,
.pane-teams-team-management .form-submit {
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: none;
  height: 30px;
  padding: 1px 13px 0;
  background-color: #fed100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #fed100));
  background-image: -webkit-linear-gradient(top, white, #fed100);
  background-image: -moz-linear-gradient(top, white, #fed100);
  background-image: -o-linear-gradient(top, white, #fed100);
  background-image: -ms-linear-gradient(top, white, #fed100);
  background-image: linear-gradient(top, #ffffff, #fed100);
  font-size: 18px;
  font-family: din-web, "Trebuchet MS", sans-serif;
  text-transform: uppercase; }

#edit-submitted-field-webform-pictures-und legend {
  display: none; }

.fb-social-comments-plugin {
  display: none; }

.page-node-722981 #block-dosomething-campaign-styles-campaign-nav ul.menu, .page-node-723084 #block-dosomething-campaign-styles-campaign-nav ul.menu, .page-node-722982 #block-dosomething-campaign-styles-campaign-nav ul.menu, .page-node-723110 #block-dosomething-campaign-styles-campaign-nav ul.menu {
  display: none; }

#fareast p {
  font-size: 14px;
  margin: 0 84px 15px;
  line-height: 1.3em; }
#fareast #fem_logo {
  float: left;
  border: none !important; }
#fareast #hunt_fem_logo {
  float: left;
  width: 420px;
  border: none !important; }
#fareast .webform-client-form #edit-actions {
  position: absolute;
  right: 576px;
  bottom: 20px; }
#fareast .panel-row-top-logo {
  width: 100%; }
  #fareast .panel-row-top-logo .fareast_copy h2 {
    font-size: 36px;
    line-height: 1em;
    text-align: center;
    color: #bc3f3b;
    padding: 10px 0; }
  #fareast .panel-row-top-logo .fareast_copy h2.subhead {
    color: black; }
  #fareast .panel-row-top-logo .fem_video {
    text-align: center;
    margin-bottom: 1em; }
  #fareast .panel-row-top-logo .pane-title {
    display: none; }
  #fareast .panel-row-top-logo input {
    margin-bottom: 10px; }
  #fareast .panel-row-top-logo label {
    font-size: 1.3em; }
  #fareast .panel-row-top-logo .tabledrag-toggle-weight-wrapper {
    text-align: left; }
  #fareast .panel-row-top-logo #webform-component-rules {
    margin-top: 44px; }
  #fareast .panel-row-top-logo .tabledrag-toggle-weight-wrapper, #fareast .panel-row-top-logo #webform-component-rules, #fareast .panel-row-top-logo input, #fareast .panel-row-top-logo label, #fareast .panel-row-top-logo table#field-webform-videos-values, #fareast .panel-row-top-logo .form-item-submitted-birthday-month {
    margin-left: 84px; }
#fareast #webform-component-birthday .webform-container-inline {
  margin: 4px 0 14px 0; }
#fareast #field-webform-videos-values, #fareast th.field-label {
  width: 350px;
  margin-top: 3px; }
#fareast input.field-add-more-submit, #fareast a.tabledrag-toggle-weight, #fareast .field-multiple-drag {
  display: none; }
#fareast a.launcher {
  font-size: 16px; }
#fareast #field-webform-videos-values label {
  margin: 0; }
#fareast .fem-note {
  padding-bottom: 15px;
  color: gray;
  font-size: 12px; }
#fareast .form-wrapper #edit-submitted-field-webform-videos-und-0 {
  margin-bottom: 10px; }
#fareast #opt-in-help {
  position: absolute;
  left: 175px;
  bottom: 46px; }

.page-node-722982 #fareast .pane-content, .page-node-723110 #fareast .pane-content {
  padding: 0px !important;
  background: none !important; }
.page-node-722982 #fareast h2, .page-node-723110 #fareast h2 {
  margin: 10px 30px;
  font-size: 32px;
  line-height: 1.1em; }
.page-node-722982 #fareast h2.pane-title, .page-node-723110 #fareast h2.pane-title {
  display: none; }

.center {
  text-align: center; }

#top_banner {
  position: relative;
  text-align: center;
  padding: 2% 0;
  width: 817px;
  margin: 0 0 25px -33px;
  -webkit-box-shadow: 5px 12px 15px -10px #666666;
  -moz-box-shadow: 5px 12px 15px -10px #666666;
  box-shadow: 5px 12px 15px -10px #666666;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d32a1b), color-stop(80%, #a62115));
  background-image: -webkit-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -moz-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -o-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: -ms-linear-gradient(top, #d32a1b, #a62115 80%);
  background-image: linear-gradient(top, #d32a1b, #a62115 80%); }
  #top_banner:before, #top_banner:after {
    content: "";
    position: absolute;
    bottom: -12px;
    border: 25px solid #a62115;
    z-index: -1; }
  #top_banner:before {
    left: -40px;
    border-right-width: 25px;
    border-left-color: transparent; }
  #top_banner:after {
    right: -40px;
    border-left-width: 25px;
    border-right-color: transparent; }
  #top_banner h2 {
    color: white; }
    #top_banner h2:before, #top_banner h2:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-color: #821a11 transparent transparent transparent;
      bottom: -10px; }
    #top_banner h2:before {
      left: 0;
      border-width: 10px 0 0 10px; }
    #top_banner h2:after {
      right: 0;
      border-width: 10px 10px 0 0; }
    #top_banner h2 a {
      color: black; }

#ultrabook_winners .pane-content {
  overflow: scroll;
  padding: 5px !important;
  background: white; }

.ultrabook_winner {
  float: left;
  width: 137px;
  margin: 5px;
  padding-bottom: 20px;
  font-family: "din-web";
  font-size: 15px;
  text-align: center; }
  .ultrabook_winner img {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .ultrabook_winner .team {
    padding: 5px 0;
    color: #d32a1b; }
  .ultrabook_winner .name {
    padding: 5px 0;
    color: white;
    background: #d32a1b; }

#scholarship_winners .pane-content {
  text-align: center;
  background: white; }

#campaign_stats .pane-content {
  padding: 5px !important;
  text-align: center;
  background: white; }
