// HUNT HUNT HUNT HUNT

// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors - define any campaign specific colors here
$baseColor: #D32A1B
$secondaryLink: #D32A1B
$paneBG: #D6D6D7
$huntLighter: #D6D6D7
$huntDarker: #BEBFC1
$huntDarkest: #939398
$offBlack: #1E1D1C
 
// borders (all lines - i.e. around social / quick info)
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web, "Trebuchet MS", sans-serif
$accent-reg: din-web-reg, "Trebuchet MS", sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// sets the background for the entire page
$imageBackground: url('assets/bg.png')
$bgFallback: #C66F2B

// sets the background for the page nav and main section
@mixin block
  // make sure you specify the RBG fallback if you have a RGBA set!
  background: rgb(255,255,255)

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@mixin setBorderBox
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.main-inner
  a
    color: $baseColor
    &:hover
      color: $secondaryLink
  b
    font-weight: $boldWeight

h1.title
  display: none

h2.pane-title
  background: $baseColor

img
  +noShadow
  +noBorder

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat-y
  background-position: center top
  background-size: 100% auto

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px  
  
.white-bg
  .pane-content
    background: white !important

.main-inner
  padding-top: 10px
  width: 750px

// panels reset
.ds-panel .pane-content
  padding-bottom: 0 !important

// panelizer definitions
.panel-row-flexible, .panel-row-actions
  .panel-pane
    margin-bottom: 15px
    +block
  .pane-content
    background: $huntLighter

.panel-row-flexible .pane-content
  padding: 15px !important

//three boxes
.three-boxes
  width: 32% !important
  float: left !important
  margin-right: 2% !important
  &:last-child
    margin-right: 0 !important
  .pane-content
    +setBorderBox

// IE8 does not support :last-child
.three-boxes-last-child
  margin-right: 0 !important

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

#breadcrumb
  display: none

// reset quick info color
#page
  .panel-row-ad-quick-info
    h2.pane-title
      color: $secondaryLink !important

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    padding: 5px 0
    .active
      color: $baseColor
    a
      display: inline-block
      width: 100%
      padding: 6px 19px 6px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: #000
      &:hover
        color: $baseColor
        text-decoration: none

// campaign logo
.pane-node-field-campaign-logo .pane-content
  padding-bottom: 0
.field-name-field-campaign-logo img
  width: 480px
  height: 230px
  margin-top: 0px !important

// brief campaign description at the top right
.panel-top-right-mini-info
  font-family: $accent
  font-size: 21px
  line-height: 1.4em
  .field-name-field-campain-date
    color: $baseColor
    padding: 0
    font-weight: 600
  .field-name-field-campaign-teaser p
    margin-bottom: 15px
  .pane-content  
    padding-bottom: 0

// campaign social buttons, top right
.pane-campaign-social
  .pane-content
    .fb-facepile
      &:before
        +insetBorder
    // positioning line between social width and campaign teaser
    .socialWrapper
      margin: 0 0 8px 18px
      &:before
        +insetBorder
        content: ""
        display: block
        left: -18px
        margin-bottom: 8px
        position: relative
        width: 247px

// short form
.panel-row-actions
  background: $huntLighter
  width: 750px
  margin: 15px 0
  +noBorder
  .form-wrapper
    margin-bottom: 5px !important
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    form 
      padding-bottom: 0
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noShadow
        +noBorder
      .field-name-field-webform-email
        font-size: 14px
        width: 280px
        margin-bottom: 0.5em
        input
          width: 100%
      .field-name-field-webform-mobile  
        font-size: 14px
        width: 240px
        margin-bottom: 0.5em
        input
          width: 75%
          margin-top: 5px

.webform-client-form
  #edit-actions
    position: absolute
    right: 86px
    bottom: 9px

#campaign-opt-in
  font-size: 11px
  margin-left: 15px
  padding: 6px 0
  a
    font-weight: bold
    display: block
    height: 20px
    width: 20px
    position: absolute
    bottom: 8px
    left: 326px
    color: $baseColor
    &:hover
      color: $secondaryLink
      text-decoration: none

// counter
.pane-campaign-counter
  .pane-content
    padding: 20px 25px
    .campaign-counter-labels
      text-transform: uppercase
      font-size: 25px
      font-family: din-web,"Trebuchet MS",sans-serif 
      font-weight: 500
      line-height: 25px
      float: left
    .digits, .campaign-counter-label-bottom, .campaign-counter-label-top
      margin-bottom: 8px

// quick info
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $secondaryLink
    line-height: 1em
    font-weight: 500
  .pane-content
    margin-top: 1em
    padding: 0
    h3
      color: $baseColor
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      line-height: .8em
    p
      margin: 0 0 0.8em 0
    &:before
      margin-bottom: 20px

.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// sponsor and help panel
.pane-content
  .got_questions
    text-align: right
    border-top: 2px solid $baseColor
    padding-top: 10px
    color: black
    a
      color: $baseColor
      
// prizes

#prizeblock-1, #prizeblock-2, #prizeblock-3
  width: 100%
  overflow: auto
  img
    border: none !important
  span
    text-transform: uppercase
    font-weight: 600
  p
    font-size: 14px
    line-height: 20px

  div
    width: 55%
    text-align: center
    margin: 0 auto
    h2
      text-transform: uppercase
      border-bottom: 2px solid $offBlack
      margin: 0 auto 5px
      width: 35%
      font-size: 25px
  .prizeimg-1, .prizeimg-2, .prizeimg-3, .prizeimg-4, .prizeimg-5, .prizeimg-6
    position: absolute

#prizeblock-1
  .prizeimg-1
    left: 12px
    top: 40px
  .prizeimg-2
    right: -20px
    top: -5px

#prizeblock-2
  .prizeimg-3
    top: -5px
    left: 10px
  .prizeimg-4
    top: -5px
    right: 12px
  div
    margin: 35px auto

#prizeblock-3
  .prizeimg-5
    top: 10px
    right: 12px
  .prizeimg-6
    top: 10px
    left: 12px
  div
    width: 70%
  .legal_copy
    font-size: 10px
    margin-top: -30px
  a
    display: block
    text-align: center
  
// faq
#faq-section
  h2
    text-align: center
    margin-bottom: 15px
  h3
    color: $baseColor
    text-transform: uppercase
    font-size: 19px


// challenges
#challenges
  ul
    background-color: $huntDarkest
    margin: -10px 0 10px 0
    padding: 12px 29px 1px
  li
    list-style-image: url("assets/dot.png")
  h2
    margin: -5px 0 10px 0
    text-align: center
    font-family: "din-web-reg"
    font-weight: 400
    font-size: 16px
  h3
    background-color: $huntDarker
    height: 2em
    margin-bottom: 10px
    padding: .5em .7em
    color: #fff
    text-transform: uppercase
    font-family: "din-web-reg"
    font-weight: 500
    font-size: 15px
  p
    color: #fff

.no-bg
  .pane-content 
    background: #fff

//gallery
.view-campaign-gallery
  #gallery
    height: 415px
    #slideshow
      height: 360px
      width: 480px
      margin: 0 auto

//teampage 
.team-name-title 
  margin-bottom: 0px !important
  border: none !important
  
  .pane-content
    background-color: $baseColor !important
    padding: 6px 12px 6px 12px !important
    margin-top: 0 !important
    margin-bottom: 0 !important
    line-height: 22px !important
    font-size: 21px !important
    font-weight: 600 !important
    color: white !important
    font-family: din-web,"HelveticaNeue-CondensedBold","Arial Narrow",Arial,"Trebuchet MS",sans-serif !important
    
.members-list
  float: right
  width: 31%
  
.pane-teams-team-management
  border: none !important
  
#teams-remove-members
  display: none

#block-system-main
  .team
    background-color: $huntLighter
    height: 470px
    div
      border: 2px dotted $baseColor
    h2, h3, h4
      text-transform: uppercase
      font-family: $accent-reg
      margin-bottom: 5px
    h2
      color: #000
      text-align: center
    h3
      color: $baseColor
      text-align: center
      font-size: 17px
    h4
      color: #000
      text-align: left
      font-size: 17px
      margin: 10px 0 0 0
    img
      +noBorder
      width: 45px
      height: 45px
      margin: 0 15px 15px 0
      padding: 0
      float: left
    .activity-list li
      list-style-image: url("assets/triangle.png")
    .members-list
      margin: 0
      padding: 0
    .members-list li
      list-style: none
      width: 100%
      overflow: auto
      margin: 0 15px 0 0
    .team-col_l
      float: left
      width: 63%
      margin-right: 2%
    .team-col_r
      float: right
      width: 35%
    .team-activity, .team-members
      overflow: hidden
    .team-progress
      height: 250px
    .team-members
      height: 300px
      overflow: auto
    .team-activity
      height: 200px
      overflow: auto
    .team-share
      height: 150px
    .team-progress, .team-members, .team-activity, .team-share
      margin-bottom: 20px
      padding: 15px

// blog
.node-campaign-blog-post
  padding: 15px !important
  .field-name-field-picture
    img
      margin: 0 20px 20px 0
      float: left
  .field-name-field-blog-video
    clear: both
    position: relative
    bottom: -25px
    right: -125px
    margin: 35px 0
    iframe
      margin: 0 auto
      display: block

.field-type-text-with-summary
  img
    padding: 10px
    margin: 20px auto
    display: block
    border: 1px solid #000!important

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  +noBorder
  .pane-content
    padding: 15px
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink
  .views-field-title
    a
      text-decoration: none
      &:hover
        color: $secondaryLink
  .more-link
    text-transform: uppercase

.pane-campaign-blog-panel-pane-2
  +noBorder
  width: 100%
  .pane-content
    padding: 10px 0 0 0
  .view-campaign-blog
    .views-row
      padding: 5px 15px 15px
        margin: 1em 0 1em 0
      &:first-child
        &:before
          +noBorder
          margin: 0px
    .views-row-even
      background-color: $huntDarker

.campaign-blog-post
  .panel-row-flexible
    width: 82%
    margin: 0 auto 15px
  .pane-dosomething-blocks-dosomething-social-node-buttons
    margin: 0 auto      

.pane-dosomething-blocks-dosomething-social-node-buttons
  margin: 0 auto

#block-dosomething-campaign-styles-campaign-nav
  margin-right: -7px



// quiz questions page
.quiz-top-box
  margin-top: 10px
  .pane-content
    padding: 2px 15px !important
  p
    float: left
    width: 360px
    margin: 8px
    font-size: 15px
  img
    float: right

#quiz .pane-content
  padding: 0 !important
  
  #node-722479
    background-color: white
    #webform-client-form-722479  
      @include box-shadow(#fff 0 0 0)
      padding: 0 !important
  
  .form-actions
    clear: both
    position: static !important
    margin-top: 10px
    .edit-submit
      margin-top: 10px

.webform-component-quiz-question
  float: left 
  width: 340px
  padding: 6px 
  margin-bottom: 20px
  background-color: #ECECEC
  
  .form-type-radios > label
    font-family: din-web,"Trebuchet MS",sans-serif
    font-size: 20px
    line-height: 22px
    color: #CB2A1B
    cursor: default
    .form-required
      display: none
  
  .form-item
    label.option
      margin-left: 5px
      line-height: 18px
    
#webform-component-q1, #webform-component-q3,
#webform-component-q5, #webform-component-q7
  float: left
  
#webform-component-q2, #webform-component-q4,
#webform-component-q6, #webform-component-q8
  float: right
  
#webform-component-email-address,
#webform-component-cell-number
  clear: both
  float: right
  
// quiz results page

.hunt_quiz-response .pane-content
  background: #CB2A1B url(assets/quizbg.gif) no-repeat 0 0 !important
  border: 10px solid #000
  @include box-shadow(#ccc 0 0 5px)
  
  h2
    font-size: 56px
    text-transform: uppercase
    text-align: center
    margin: 0.5em 0 0.75em
    color: #fff
    font-weight: bold
    
  h3
    text-align: center
    text-transform: uppercase
    font-size: 2em
    margin: 0.75em 0 0.2em
    
  .hunt_share-box
    background: #fff
    width: 280px
    padding: 10px
    border: 5px solid #000
    margin: 0 auto 30px
    @include box-shadow(#333 0 0 10px)
    
    p
      text-align: center
    
    .twitter-share-button
      position: relative
      top: 6px
  
  .hunt_portrait
    margin-left: 20px
    margin-bottom: 10px
    border: 8px solid #fff !important
    -webkit-box-shadow: #333 0 0 15px !important
    -moz-box-shadow: #333 0 0 15px !important
    -webkit-backface-visibility: hidden // fixes jaggies in Chrome
    box-shadow: #333 0 0 15px !important
    //@include box-shadow(#333 0 0 10px)
    @include rotate(-3deg, false, false)
    
  .hunt_result-text
    float: right
    width: 350px
    padding-top: 0.5em
    padding-right: 25px
    color: #fff
    font-family: din-web, Helvetica
    font-size: 2.2em
    line-height: 1.2em
    
    a
      color: #fff
      text-decoration: underline
      
.clear-both
  clear: both
  
// sign up & report back
#hunt-form
  width: 500px
  margin: 0 auto 50px

// logo above webform
#hunt-form-logo
  .pane-content
    background-color: #fff
  img
    display: block
    margin: 0 auto

// sign up form
#node-721671
  .webform-client-form
    +noBorder 
    +noShadow
  .field-name-group-audience, .field-name-field-teams-enable, .tabledrag-toggle-weight-wrapper, thead, td.field-multiple-drag
    display: none
  .webform-component
    margin-bottom: 10px
  label
    font-family: $accent-reg
    font-size: 14px
    font-weight: 600
    float: left
    width: 50%
    padding-top: 5px
  table input[type="text"]
    width: 100%
  input[type="text"]
    width: 50%
  #edit-submitted--2
    display: none
  #webform-component-ie-why-you-participated-what-getting-your-dad-to-take-his-blood-pressure-was-like-etc, 
  #webform-component-no-worries
    label
      font-size: 12px
      font-weight: 500
      margin-top: -10px
  #edit-actions
    position: relative
    right: 0
    bottom: 0
    text-align: center

// instruction div
#webform-component-instructions h2
  text-align: center
  font-size: 26px
  padding-bottom: 15px

// fieldset containing Drupal insanity
#webform-component-kill-me
  display: none

// create_team & join_team functionality fieldset
fieldset#webform-component-create-or-join
  margin: 55px 0 30px 0
  padding: 0 0 0 0
  .fieldset-wrapper
    background-color: #bbb
    padding: 15px
  .inactive
    background-color: #aaa

// initially hide #create_team fields
#edit-submitted-field-team-name,
#edit-submitted-field-team-invite,
#webform-component-derp
  display: none

// "add another item" input table
table#field-team-invite-values
  width: 50%
  table-layout: fixed
  float: right

// "add another item" button
#edit-submitted-field-team-invite-und-add-more
  font-weight: bold
  -webkit-border-radius: 12px
  -moz-border-radius: 12px
  -ms-border-radius: 12px
  -o-border-radius: 12px
  border-radius: 12px
  border: none
  height: 30px
  padding: 1px 13px 0
  font-size: 15px
  text-transform: uppercase
  color: white
  font-family: $accent
  background-color: #222
  margin: 25px 0px 0px 30px
  &:hover
    background-color: darken(#222, 10%)

// #join_team & #create_team jQuery hooks
div#webform-component-tabs
  width: 100%
  overflow: hidden
  position: absolute
  top: 172px
  left: 27px
  h2
    display: block
    width: 125px
    float: left
    text-align: center
    background-color: #bbb
    padding: 5px
    &:hover
      text-decoration: none
      color: $baseColor

#edit-submitted-field-webform-pictures-und
  legend
    display: none

.fb-social-comments-plugin
  display: none