#ds-campaign-scholarship-submit-form, #ds-campaign-submit-form { background: white; }
#ds-campaign-submit-form { margin-top: 12px; margin-bottom: 20px; }
#ds-campaign-submit-form .pane-content { margin-top: -15px; }
#ds-campaign-submit-form fieldset { margin: 0px; padding: 0px; }
#ds-campaign-scholarship-submit-form label, #ds-campaign-submit-form label { display: none; }
div#edit-title-text label { display: block; }
#ds-campaign-submit-form input
{
	width: 100%;
	margin: 0px;
	position: relative;
}

#ds-campaign-submit-form fieldset#webform-component-your-information
{
	float: none;
	margin: 0px;
	padding: 0px;
}

form.webform-client-form { padding: 10px; padding-bottom: 0px; }
.form-wrapper { margin-bottom: 8px; }

input#edit-submit.go-button.form-submit {
	width: auto;
}

#webform-component-tac, #webform-component-disclaimer {
	font-size: 11px;
}

#webform-component-disclaimer { margin-top: -10px;}

#ds-campaign-scholarship-submit-form div.form-item-submitted-friends-information-field-social-scholars-friend-1-und-0-value label {
	top: -8px;
}

 #ds-campaign-scholarship-submit-form div.form-item-submitted-friends-information-field-social-scholars-friend-1-und-0-value label {
 	font-size: 11.5px;
	display: block;
	margin-bottom: 5px;
	position: relative;
}

#ds-campaign-scholarship-submit-form #webform-component-your-information
{
	float: left;
}

#ds-campaign-scholarship-submit-form #webform-component-friends-information
{
	padding-top: 16px;
}

#ds-campaign-scholarship-submit-form #webform-component-your-information input, #ds-campaign-scholarship-submit-form #webform-component-friends-information input { width: 100%; }

#ds-campaign-scholarship-submit-form #webform-component-your-information #webform-component-your-information--tac
{
		width: 150px;
}

.dosomething-social-sharing-images
{
	width: 735px;
	margin: 0px auto;
}

.pane-content div.dosomething-social-sharing-images img { border: 0px; }

#quick-stats-area h2.pane-title { background: transparent; color: #000000; }
#quick-stats-area ul { margin-top: -25px;}

.box-shadow, .border-and-shadow, .image-teaser-module-image, .pane-polls-landing-panel-pane-1 .views-field-field-picture, .blog-landing-pane-post .blog-large-thumbnail, .pane-ds-current-somethings-all .pane-narrow-thumb, .pane-ds-past-somethings-all .pane-narrow-thumb, .pane-ds-editors-picks-all .pane-narrow-thumb, .pane-related-projects-panel-pane-1 .views-field-field-picture, .pane-related-projects-panel-pane-2 .views-field-field-picture, .pane-resources-panel-pane-1 .views-field-field-picture, .pane-projects-by-state-panel-pane-1 .views-field-field-picture, .pane-featured-projects-panel-pane-1 .views-field-field-picture, .pane-featured-projects-panel-pane-3 .views-field-field-picture, .pane-current-campaigns-panel-pane-2 .views-field-field-picture, .action-finder-list .views-field-field-picture, .pane-project-related-displays-panel-pane-4 .views-field-field-picture, .page-node-picks .pane-profile-panel-pane-3 .views-field-field-picture, .page-node-picks .pane-club-projects-panel-pane-3 .views-field-field-picture, .page-node-picks .pane-club-projects-panel-pane-4 .views-field-field-picture, .page-node-doing-it .pane-profile-panel-pane-3 .views-field-field-picture, .page-node-doing-it .pane-club-projects-panel-pane-3 .views-field-field-picture, .page-node-doing-it .pane-club-projects-panel-pane-4 .views-field-field-picture, .page-node-done-it .pane-profile-panel-pane-3 .views-field-field-picture, .page-node-done-it .pane-club-projects-panel-pane-3 .views-field-field-picture, .page-node-done-it .pane-club-projects-panel-pane-4 .views-field-field-picture, .image-teaser-module-teaser, .view-school-proximity .views-row, .pane-polls-landing-panel-pane-1 .unimage-wrapper, .blog-landing-pane-post .views-field-body, .pane-ds-current-somethings-all .something-description, .pane-ds-past-somethings-all .something-description, .pane-ds-editors-picks-all .something-description, .pane-related-projects-panel-pane-1 .unimage-wrapper, .pane-related-projects-panel-pane-2 .unimage-wrapper, .pane-resources-panel-pane-1 .unimage-wrapper, .pane-projects-by-state-panel-pane-1 .unimage-wrapper, .pane-featured-projects-panel-pane-1 .unimage-wrapper, .pane-featured-projects-panel-pane-3 .unimage-wrapper, .pane-current-campaigns-panel-pane-2 .unimage-wrapper, .action-finder-list .unimage-wrapper, .pane-project-related-displays-panel-pane-4 .unimage-wrapper, .page-node-picks .pane-profile-panel-pane-3 .something-description, .page-node-picks .pane-profile-panel-pane-3 .views-field-field-project-title, .page-node-picks .pane-club-projects-panel-pane-3 .something-description, .page-node-picks .pane-club-projects-panel-pane-3 .views-field-field-project-title, .page-node-picks .pane-club-projects-panel-pane-4 .something-description, .page-node-picks .pane-club-projects-panel-pane-4 .views-field-field-project-title, .page-node-doing-it .pane-profile-panel-pane-3 .something-description, .page-node-doing-it .pane-profile-panel-pane-3 .views-field-field-project-title, .page-node-doing-it .pane-club-projects-panel-pane-3 .something-description, .page-node-doing-it .pane-club-projects-panel-pane-3 .views-field-field-project-title, .page-node-doing-it .pane-club-projects-panel-pane-4 .something-description, .page-node-doing-it .pane-club-projects-panel-pane-4 .views-field-field-project-title, .page-node-done-it .pane-profile-panel-pane-3 .something-description, .page-node-done-it .pane-profile-panel-pane-3 .views-field-field-project-title, .page-node-done-it .pane-club-projects-panel-pane-3 .something-description, .page-node-done-it .pane-club-projects-panel-pane-3 .views-field-field-project-title, .page-node-done-it .pane-club-projects-panel-pane-4 .something-description, .page-node-done-it .pane-club-projects-panel-pane-4 .views-field-field-project-title, li.search-result img, .pane-news-stuff .pane-content img, .pane-narrow-block .views-field-views-ifempty img, .panes-2 .panel-second .views-field-views-ifempty img, .pane-blog-center .views-field-views-ifempty img, .pane-narrow-block .project-related-thumb img, .panes-2 .panel-second .project-related-thumb img, .pane-blog-center .project-related-thumb img, .pane-narrow-block .pane-narrow-thumb img, .panes-2 .panel-second .pane-narrow-thumb img, .pane-blog-center .pane-narrow-thumb img, body.front .pane-dosomething-blocks-dosomething-make-impact-front, form.webform-client-form, .dosomething-stats, .member-profile .mem-img, .page-webform-submission .field-type-image img, .page-webform-submission .pane-ds-project-stats, .dosomething-stats .club-image, .node-type-club .pane-club-projects-panel-pane-1 .views-field-field-picture img, .node-type-club .pane-club-projects-panel-pane-1 .views-field-views-ifempty img, .node-type-club .pane-club-projects-panel-pane-2 .views-field-field-picture img, .node-type-club .pane-club-projects-panel-pane-2 .views-field-views-ifempty img, .node-type-club .pane-profile-panel-pane-1 .views-field-field-picture img, .node-type-club .pane-profile-panel-pane-1 .views-field-views-ifempty img, .node-page .content img, .page-node .content img, .page-why-become-a-member .content img, .node-form, .popup-content, .apps-grid .apps-box {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.pane-content div.dosomething-social-sharing-images img.fb-share {
	-webkit-filter: grayscale(1);
}

.pane-content div.dosomething-social-sharing-images img.fb-share:hover {
	-webkit-filter: grayscale(0);
}

#ds-campaign-submit-form div#webform-component-disclaimer 
{
	margin-top: 5px;
}

#campaign-opt-in-help {
	display: none;
	clear: both;
}