a {
  color: #e31837; }
  a:hover {
    color: black; }

h1.title {
  display: none; }

body {
  background-color: #231f20;
  background-image: url("assets/bg.png");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: white;
  -moz-box-shadow: black 0 0 30px -10px;
  -webkit-box-shadow: black 0 0 30px -10px;
  -o-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #e31837;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #e31837;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }

.panel-row-actions {
  background: #c8c8c8; }
  .panel-row-actions .pane-title {
    background: #e31837; }
  .panel-row-actions .pane-content {
    padding: 18px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #e31837;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  background: white; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #e31837; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-title {
  color: #e31837;
  background: none;
  margin: 0;
  padding: 0; }

.pane-campaign-sign-up h2.pane-title {
  white-space: nowrap;
  position: relative; }

.campaign-counter-labels {
  color: white;
  font-family: din-web;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.campaign-counter-numbers {
  font-family: din-web;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px; }
  .campaign-counter-numbers .counter-number {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(8%, #dbdbdb), color-stop(18%, #efefef), color-stop(100%, #fefefe));
    background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    padding: 2px 2px 0px 5px;
    letter-spacing: 5px;
    border: 1px white solid; }

.winners {
  float: left;
  padding: 5px; }
  .winners img {
    margin-bottom: 5px; }

.winner {
  text-align: center;
  font-family: din-web, "Trebuchet MS", sans-serif;
  color: white;
  background: #231f20;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  width: 121px; }
  .winner p {
    display: none; }
  .winner span {
    color: white;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-size: 65px; }
  .winner b {
    color: #e31837;
    font-weight: bold;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-size: 16px; }
