// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #E31837 /* red */
$complement: #FFFFFF
$secondaryLink: black

// borders
$borderTop: 1px solid #BE1E2D
$borderBot: 1px solid #E51937

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif

// page background
$imageBackground: url('assets/bg.png')
$bgFallback: #231F20 /* slate grey */
$bgGray: #C8C8C8

// block definition (all blocks--don't define width or float here)
@mixin block
  background: white

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBoxShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@mixin redLine
  border-top: $borderTop
  border-bottom: $borderBot

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

a
  color: $baseColor
  &:hover
    color: $secondaryLink

h1.title
  display: none

hr
  +redLine

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: repeat-y
  background-position: center top

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 20px
  padding-top: 10px

.three-boxes
  background: $bgGray !important
  float: left
  font-weight: 600
  margin-right: 6.5%
  width: 29%
  &:last-child
    margin-right: 0
  .pane-content
    height: 166px
    padding: 1.5em
    text-align: center

.three-boxes-last-child
  margin-right: 0 !important

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 600
      text-transform: uppercase
      color: $secondaryLink
      &:hover, .active
        color: $baseColor
        text-decoration: none

.box-shadow-none
  +noBoxShadow

.margin-right-0
  margin-right: 0 !important

.nominate-box
  background: $bgGray !important
  float: left
  margin-right: 5%
  width: 66%
  .go-button
    bottom: 1.25em
    padding-top: 3px
  .pane-content
    height: 166px
    padding-bottom: 0
  .webform-client-form
    +noBoxShadow
    border: none
  // Below is for webform block solution
  #webform-component-fieldset-1
    float: left
    width: 186px
  #webform-component-fieldset-2
    float: left
    width: 186px
  #edit-actions
    bottom: 0
    margin-bottom: 20px !important
    margin-right: 12px
    position: absolute
    right: 0
  #webform-component-help-text
    font-weight: 600
    padding: 0
    width: 80%

.nominate-box-help-text
  font-weight: 600
  padding: 0.5em 1em 0 1em
  width: 80%

.nominate-form-column
  float: left
  width: 38%
  margin-right: 2%

.pane-campaign-sign-up
  position: relative
  .pane-content
    .form-actions
      position: absolute
      display: block
      bottom: 5px
      right: 30px
  .campaign-opt-in
    padding: 0 0 10px 15px
    a
      color: #000
  .webform-client-form
    padding: 0

.pane-campaign-social
  .pane-content
    padding-bottom: 0
  .socialWrapper
    &:before
      +redLine
      content: ""
      display: block
      left: -18px
      margin-bottom: 8px
      position: relative
      width: 248px
  .fb-facepile
    &:before
      +redLine

.pane-node-field-campaign-logo
  img
    +noBoxShadow
    border: none
    margin: 0 !important
    width: 80%
  .field-item
    text-align: center
  .pane-content
    padding-bottom: 0

.pane-node-field-campaign-teaser
  .pane-content
    padding-bottom: 0
    p
      margin-bottom: 0

.pane-node-field-campain-date
  .field-item
    font-weight: 600
  .pane-content
    color: $baseColor
    padding-bottom: 0

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    .pane-title
      background: none
      color: $baseColor
      padding: 0
      font-size: 26px
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em

//social
.panel-top-right-social
  padding-bottom: 0

// actions panel (sign-up and counter)
.panel-row-actions
  background: $bgGray
  margin-top: 0
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  form
    border: none
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none
    padding-bottom: 0

.panel-row-actions-sign-up
  #edit-submit
    display: block
    position: relative
    bottom: 35px

// ad row (quick info and psa)
.panel-row-ad
  .panel-row-ad-quick-info
    width: 100%

.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $baseColor !important
    line-height: 1.3em
    font-weight: 500
    &:after
      +redLine
  .pane-content
    h3
      color: $baseColor
      font-size: 26px
      text-transform: uppercase
      font-weight: 600
      line-height: 1em
    p
      margin: 0
    &:before
      margin-bottom: 20px


.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

.panel-row-flexible-bot
  margin-bottom: 2em

.panel-row-flexible-mid
  h2
    line-height: 1em
    letter-spacing: 1px
    font-size: 22px
    text-transform: capitalize
    padding: 10px
    background: $baseColor
    color: #fff

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0

// campaign sign-up extend
.pane-campaign-sign-up
  h2.pane-title
    white-space: nowrap
    position: relative

.text-align-right
  text-align: right

// campaign counter styling
.campaign-counter-labels
  color: white
  float: left
  font-family: din-web
  font-size: 22px
  font-weight: 600
  line-height: 35px
  // setting margin-top so that the labels line up better with numbers
  margin-top: -2px
  text-transform: uppercase
  
.campaign-counter-numbers
  float: right
  font-family: din-web
  font-size: 22px
  font-weight: bold
  line-height: 35px
  .counter-number
    +background-image(linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%))
    padding: 2px 2px 0px 5px
    letter-spacing: 5px
    border: 1px white solid
// winners
.winners
  float: left
  padding: 5px
  img
    margin-bottom: 5px
  
.winner
  text-align: center
  font-family: $accent
  color: white
  background: $bgFallback
  padding: 5px
  font-weight: 600
  font-size: 18px
  width: 121px
  p
    display: none
  span
    color: white
    font-family: $accent
    font-size: 65px
  b
    color: $baseColor
    font-weight: bold
    font-family: $accent
    font-size: 16px

//finalist styles

#finalist_container
  margin: 15px 0 0 18px
  padding: 0
  li
    float: left
    list-style: none
    margin-right: 25px
  h3
    background-color: $bgFallback
    color: #fff
    margin-bottom: 15px
    padding: 8px 0
    text-align: center
    font-size: 18px

//ds-popup styles

.ui-dialog
  background: #000
  p
    color: #fff
    line-height: 1.7em
  h1
    border-bottom: 3px solid $baseColor
    text-transform: uppercase
    text-align: center
    font-size: 60px
    color: #fff
  span
    text-transform: uppercase
    color: $baseColor

.ui-dialog .ui-dialog-titlebar-close
  right: -425px

#campaign-opt-in
  font-size: 11px
  a
    vertical-align: super
    font-weight: bold
  a:hover
    color: $secondaryLink
    text-decoration: none

form.webform-client-form #edit-actions
  overflow: visible
