a {
  color: #e31837; }
  a:hover {
    color: black; }

h1.title {
  display: none; }

hr {
  border-top: 1px solid #be1e2d;
  border-bottom: 1px solid #e51937; }

body {
  background-color: #231f20;
  background-image: url("assets/bg.png");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: white;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  background: #c8c8c8 !important;
  float: left;
  font-weight: 600;
  margin-right: 6.5%;
  width: 29%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    height: 166px;
    padding: 1.5em;
    text-align: center; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #be1e2d;
  border-bottom: 1px solid #e51937; }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid #be1e2d;
  border-bottom: 1px solid #e51937; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #e31837;
        text-decoration: none; }

.box-shadow-none {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.margin-right-0 {
  margin-right: 0 !important; }

.nominate-box {
  background: #c8c8c8 !important;
  float: left;
  margin-right: 5%;
  width: 66%; }
  .nominate-box .go-button {
    bottom: 1.25em;
    padding-top: 3px; }
  .nominate-box .pane-content {
    height: 166px;
    padding-bottom: 0; }
  .nominate-box .webform-client-form {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border: none; }
  .nominate-box #webform-component-fieldset-1 {
    float: left;
    width: 186px; }
  .nominate-box #webform-component-fieldset-2 {
    float: left;
    width: 186px; }
  .nominate-box #edit-actions {
    bottom: 0;
    margin-bottom: 20px !important;
    margin-right: 12px;
    position: absolute;
    right: 0; }
  .nominate-box #webform-component-help-text {
    font-weight: 600;
    padding: 0;
    width: 80%; }

.nominate-box-help-text {
  font-weight: 600;
  padding: 0.5em 1em 0 1em;
  width: 80%; }

.nominate-form-column {
  float: left;
  width: 38%;
  margin-right: 2%; }

.pane-campaign-sign-up {
  position: relative; }
  .pane-campaign-sign-up .pane-content .form-actions {
    position: absolute;
    display: block;
    bottom: 5px;
    right: 30px; }
  .pane-campaign-sign-up .campaign-opt-in {
    padding: 0 0 10px 15px; }
    .pane-campaign-sign-up .campaign-opt-in a {
      color: black; }
  .pane-campaign-sign-up .webform-client-form {
    padding: 0; }

.pane-campaign-social .pane-content {
  padding-bottom: 0; }
.pane-campaign-social .socialWrapper:before {
  border-top: 1px solid #be1e2d;
  border-bottom: 1px solid #e51937;
  content: "";
  display: block;
  left: -18px;
  margin-bottom: 8px;
  position: relative;
  width: 248px; }
.pane-campaign-social .fb-facepile:before {
  border-top: 1px solid #be1e2d;
  border-bottom: 1px solid #e51937; }

.pane-node-field-campaign-logo img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  margin: 0 !important;
  width: 80%; }
.pane-node-field-campaign-logo .field-item {
  text-align: center; }
.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.pane-node-field-campaign-teaser .pane-content {
  padding-bottom: 0; }
  .pane-node-field-campaign-teaser .pane-content p {
    margin-bottom: 0; }

.pane-node-field-campain-date .field-item {
  font-weight: 600; }
.pane-node-field-campain-date .pane-content {
  color: #e31837;
  padding-bottom: 0; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #e31837;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }

.panel-top-right-social {
  padding-bottom: 0; }

.panel-row-actions {
  background: #c8c8c8;
  margin-top: 0; }
  .panel-row-actions .pane-title {
    background: #e31837; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions form {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding-bottom: 0; }

.panel-row-actions-sign-up #edit-submit {
  display: block;
  position: relative;
  bottom: 35px; }

.panel-row-ad .panel-row-ad-quick-info {
  width: 100%; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: #e31837 !important;
  line-height: 1.3em;
  font-weight: 500; }
  .panel-row-ad-quick-info .pane-title:after {
    border-top: 1px solid #be1e2d;
    border-bottom: 1px solid #e51937; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #e31837;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0; }
.panel-row-ad-quick-info .pane-content:before {
  margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  background: white; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #e31837; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #be1e2d;
    border-bottom: 1px solid #e51937; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid #be1e2d;
    border-bottom: 1px solid #e51937; }

.panel-row-flexible-bot {
  margin-bottom: 2em; }

.panel-row-flexible-mid h2 {
  line-height: 1em;
  letter-spacing: 1px;
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px;
  background: #e31837;
  color: white; }

.panel-row-logos .pane-title {
  color: #e31837;
  background: none;
  margin: 0;
  padding: 0; }

.pane-campaign-sign-up h2.pane-title {
  white-space: nowrap;
  position: relative; }

.text-align-right {
  text-align: right; }

.campaign-counter-labels {
  color: white;
  float: left;
  font-family: din-web;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  margin-top: -2px;
  text-transform: uppercase; }

.campaign-counter-numbers {
  float: right;
  font-family: din-web;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px; }
  .campaign-counter-numbers .counter-number {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(8%, #dbdbdb), color-stop(18%, #efefef), color-stop(100%, #fefefe));
    background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    background-image: linear-gradient(top, #e2e2e2 0%, #dbdbdb 8%, #efefef 18%, #fefefe 100%);
    padding: 2px 2px 0px 5px;
    letter-spacing: 5px;
    border: 1px white solid; }

.winners {
  float: left;
  padding: 5px; }
  .winners img {
    margin-bottom: 5px; }

.winner {
  text-align: center;
  font-family: din-web, "Trebuchet MS", sans-serif;
  color: white;
  background: #231f20;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  width: 121px; }
  .winner p {
    display: none; }
  .winner span {
    color: white;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-size: 65px; }
  .winner b {
    color: #e31837;
    font-weight: bold;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-size: 16px; }

#finalist_container {
  margin: 15px 0 0 18px;
  padding: 0; }
  #finalist_container li {
    float: left;
    list-style: none;
    margin-right: 25px; }
  #finalist_container h3 {
    background-color: #231f20;
    color: white;
    margin-bottom: 15px;
    padding: 8px 0;
    text-align: center;
    font-size: 18px; }

.ui-dialog {
  background: black; }
  .ui-dialog p {
    color: white;
    line-height: 1.7em; }
  .ui-dialog h1 {
    border-bottom: 3px solid #e31837;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: white; }
  .ui-dialog span {
    text-transform: uppercase;
    color: #e31837; }

.ui-dialog .ui-dialog-titlebar-close {
  right: -425px; }

#campaign-opt-in {
  font-size: 11px; }
  #campaign-opt-in a {
    vertical-align: super;
    font-weight: bold; }
  #campaign-opt-in a:hover {
    color: black;
    text-decoration: none; }

form.webform-client-form #edit-actions {
  overflow: visible; }

#breadcrumb {
  display: none; }
