// GENERAL
// -------
.call-to-action,
.headline,
.footer
  background: $panel-color

// HEADER
// ------
.header
  position: relative
  width: 100%
  //height: 300px
  border-bottom: 0
  background-color: transparent
  padding: 1% 2%
  overflow: visible
  @include respond-to(phones)
    //height: 270px
    @include transition(height 0.5s)

  .header-logotype
    text-align: right
    color: #fff
    text-transform: uppercase
    line-height: 1.2em
    font-weight: 600
    font-size: 4em
    margin: 0
    @media only screen and (max-width: $break-large)
      margin: 0.25em 0 0
    @include respond-to(phones)
      text-align: center
      //margin-top: 1em

    img
      width: 100%
      margin: 1em 0
      @include respond-to(phones)
        @include transition(width 0.5s)
      

  .log-out
    color: $font-light

  .header-social
    position: absolute
    bottom: 1em
    left: 1em
    width: auto
    height: 20px
    margin: 25px 0 0 0
    @include respond-to(tablets_and_phones)
      display: none

  .header-facebook-share,
  .header-twitter-share
    display: inline-block
    height: 20px

  .header-twitter-share
    margin-left: 1em

  .header-date
    position: absolute
    bottom: 0.25em
    left: 38%
    float: left
    width: auto
    text-transform: uppercase
    @media only screen and (max-width: 1140px)
      left: 0%
    @media only screen and (max-width: 600px)
      display: none

    p
      font-size: 24px
      color: #fff
      padding: 1.5em 0 0 1em
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.5))

  .header-sponsor
    position: absolute
    bottom: 0.25em
    right: 1.5%
    @media only screen and (max-width: 600px)
      display: none

  .row-bottom
    position: absolute
    bottom: 0
    left: 0
    padding: 1%

// HEADLINE
// --------
.headline
  margin: 0
  padding-bottom: 0

.header-desktop
  font-size: 1.4em
  @media only screen and (max-width: 780px)
    font-size: 1.2em
    margin: 0

.header-mobile
  display: none
  @media only screen and (max-width: 780px)
    display: inherit



// CALL TO ACTION
// --------------
.call-to-action
  border: 1px solid #ddd
  p
    line-height: 3em
    letter-spacing: 0.05em

  .btn
    margin: 0 0 0 1em
    clear: none

  .section-container
    width: 43em

// BANNER
// --------------
.banner
  background: $accent-color
  padding: 1em
  p
    color: #fff
    float: left
  .lead
    font-size: 1.4em
    text-align: right
    padding: 0.75em 1em 0.35em
    width: 58%
  .follow
    text-align: left
    width: 42%
    .btn
      font-weight: 500
  @media only screen and (max-width: 780px)
    padding: 0.5em
    p
      float: none
      width: 100%
    .lead, .follow
      text-align: center
      width: 100%
    .lead
      padding: 0.5em
      font-size: 1.2em
    .follow
      padding-bottom: 0.5em


// LEGAL
// --------------
.official-rules
  display: block
  margin: 1em auto 0
  padding: 1em 0
  width: 13em
  text-align: center
  color: #1e1d1c !important

.legal
  color: darken($panel-color, 15)
  font-size: em-calc(12)


// HOW IT WORKS
// ------------
.how-it-works
  padding: 2em 0

  .sub-para
    max-width: 700px
    padding: 1em
    margin: 0 auto

  .how-it-works-container
    clear: both
    overflow: hidden
    margin: 0 1em 1em

// SCHOLARSHIP
// ---
#scholarship
  .col50
    width: 50%
    float: left
    padding: 0 1%
    text-align: center
    margin: 2em 0
    p
      max-width: 300px
      margin: 1em auto
    @media only screen and (max-width: 740px)
      width: 100%

// #INFO
// ----------------
#info, #learn
  .headline-callout
    text-align: left
  em
    font-style: italic
  .center
    text-align: center
  li
    margin-bottom: 1.2em
  

// CONTENT
// -------
.content
  width: 90%
  max-width: $section-content-width
  margin: 0 auto

  p
    display: block
    text-align: left
    line-height: 1.5em
    padding-bottom: 1em
  h2
    padding-bottom: 0.5em

// CUT BANNER
// ------
.banner.cutcool
  text-align: center
  padding: 0 1em 1em
  p
    color: white
    float: none
    display: inline-block
    font-size: 1.4em
    &:before
      content: url('http://www.dosomething.org/files/campaigns/love/cut-left.png')
      position: relative
      top: 15px
    &:after
      content: url('http://www.dosomething.org/files/campaigns/love/cut-right.png')
      position: relative
      top: 15px
  @media only screen and (max-width: 780px)
    padding-top: 1em
    p
      font-size: 1.2em
      &:before, &:after
        display: none

  a
    color: white
    padding: 0 1em
    text-decoration: underline
    &:hover
      text-decoration: none
  img
    display: inline-block

// SMS
// ---
.pane-dosomething-campaign-kiva-signup
  text-align: center
  padding: 3% 0 0
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  background: $panel-color
  label
    margin: 3% 0 0
  form
    width: 80%
    margin: 0 auto 0

  .btn
    width: 9.4em
    margin: 1em auto

  #edit-submit
    float: none
    margin: 24px auto 0
    padding: 0.3em 1em 0.2em

  .form-type-textfield
    width: 45%
    float: left
    margin: 0 2.5% 0 2.5%

    @include respond-to(phones)
      width: 100%

  .form-item-alpha-email
    float: right

    @include respond-to(phones)
      float: none

  #edit-beta-mobiles
    clear: both
    width: 100%
    min-width: 100%

.sms-lower
  background: $panel-color
  border-bottom: 1px solid #ddd
  padding-bottom: 3%

// GALLERY
// -------
#gallery
  p
    margin-bottom: 1em
  @media only screen and (max-width: 550px)
    .btn
      font-size: 1.2em
.section#gallery
  border-bottom: none
.gallery
  img
    //border: 1px solid #ddd !important
    //+border-radius(3px)
    //+box-shadow(0 10px 10px -10px #bbb !important)

// LOCATION
// --------
#location
  p
    text-align: center
  @media only screen and (max-width: 550px)
    .btn
      font-size: 1.2em

// THANKS
// ------
.success_msg
  margin: 0 auto 1em
  h2
    text-transform: uppercase
    font-weight: 600
    color: $campaign-accent

// FAQ
// ---
.section#faq
  border-bottom: none

.faq
  width: 90%
  max-width: $section-content-width
  margin: 0 auto

  position: relative
  h3, p
    text-align: left
  h3
    cursor: pointer
    color: #333
    font-weight: 600
  div /* TODO - GIVE THIS A CLASS */
    margin: 0 0 0.5em 0

  .btn
    margin: 1em auto 0

  .back-to-top /* TODO - THESE STYLES WERE INHERITED; REFACTOR THEM */
    text-align: right
    padding: 1em 0 1em
    @media only screen and (max-width: $break-small)
      display: none

  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 1em
    text-decoration: none
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0% 40%

  li
    padding: 1em

  ol li:before
    font-size: 18px
    font-weight: 600

  p
    padding: 0.5em 0


// SPONSOR
// ------
.sponsor
  p
    padding: 8px
    text-align: center

  a
    padding: 8px
    text-align: center

    @include respond-to(phones)
      display: block

// FOOTER
// ------
.footer
  padding: 2% 0
  margin: 0 0 -2%
  text-align: center
  img
    width: 50px
    +block-center

.footer-partner
  margin-top: 2em
  p
    margin-top: 1.5em
    float: left
    width: 40%
    text-align: right
    padding: 1em
  img
    margin: 0.5em auto 2em
    float: right
    width: 60%
    text-align: left
    max-width: 250px
  @media only screen and (max-width: $break-small)
    p, img
      text-align: center
      width: 100%
      float: none
      display: block
      margin: 0 auto
      padding: 0
    p
      padding-top: 1em
    img
      max-width: 250px
      padding-bottom: 1em
.footer-banner
  display: none
  background: $main-color
  padding: 1em
  a, p
    color: white