// GENERAL
// -------
.call-to-action,
.headline,
.footer
  background: $bg-alt

.official-rules
  display: block
  margin: 0 auto
  width: 13em
  text-align: center

// THEME SWITCH
.sms // Hide "mobile" template on load
  display: block

.call-to-action
  display: block

.headline.alt
  background: none !important
  border: none !important

// HEADER
// ------
.header
  position: relative
  width: 100%
  height: 360px
  background-color: $bg-header-fallback
  background-image: url($bg-header-image)
  background-repeat: no-repeat
  background-position: center center
  @include background-size(cover)
  padding: 1% 2%
  overflow: hidden
  border: none
  @include respond-to(tablets_and_phones)
    height: auto
    padding: 1% 2% 12% 2%

  .logo-campaign
    width: 550px
    margin: 1em auto 0
    height: 225px
    padding: 25px
    background: #fff
    background: rgba(255,255,255,0.8)
    @media only screen and (max-width: 531px)
      width: 96%
      height: auto

  .log-out
    color: $font-light

  .header-social
    width: 22%
    min-width: 140px
    @include respond-to(phones)
      display: none

  .header-facebook-share,
  .header-twitter-share
    display: inline-block
    height: 20px

  .header-facebook-share
    width: 80px
    border: 1px solid rgb(202, 212, 231)
    +border-radius(2px)
    &:hover
      border: 1px solid rgb(236, 238, 245)

  .header-date
    width: 53%
    text-align: center
    text-transform: uppercase
    font-weight: 600
    font-size: 1.5em
    color: $font-black
    @include respond-to(phones)
      width: 96%

  .header-sponsor
    width: 22%
    @include respond-to(phones)
      display: none

  .row-bottom
    position: absolute
    bottom: 0
    left: 0
    padding: 1% 3%

// HEADLINE
// --------
.headline
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  padding: 25px 0 0 0

// CALL TO ACTION
// --------------
.call-to-action
  border: 1px solid #ddd
  p
    line-height: 3em
    letter-spacing: 0.05em

  .btn
    margin: 0 0 0 1em
    clear: none

  .section-container
    width: 43em

// HOW IT WORKS
// ------------
.how-it-works
  padding: 2em 0

  .section-unit-single
    padding: 0 3% !important

  .how-it-works-container
    clear: both
    overflow: hidden
    margin: 0 0 1em 0

    .even-height
      height: 115px
      img
        width: 178px
      img.hack
        width: 115px

// ACTION-KIT
// ----------
.action-kit
  img
    position: relative
    top: 15px
    right: 20px

  .section-container
    width: $section-content-width

// PRIZING
// -------
.prizing
  p
    padding: 1em 0
    margin: 0 auto

  .prizing-container
    width: ( $section-unit-width * 2 )
    margin: 0 auto
    clear: both
    img
      margin: 0 auto
      display: block

  .btn
    margin: 0 auto 1em
    width: 231px

// SMS GAME EXAMPLE
// ----------------
.sms-game-example

  .sms-game-container
    width: 100%
    max-width: 30em
    margin: 0 auto 1em
    overflow: hidden
    clear: both

  .game-conversation
    margin: 1em auto 2em
    padding: 1em 2em
    background: darken($bg-alt, 5)
    position: relative
    clear: both
    +border-radius(2px)
    @include respond-to(phones)
      padding: 0.7em 1em
    &:after
      content: ""
      display: block
      position: absolute
      border-style: solid
      border-width: 15px
    p
      line-height: 1.6em
      font-size: 1.5em
      font-weight: 500
      @include respond-to(phones)
        font-size: 1.1em
      span
        font-weight: 600

  .cta-header
    clear: both
    text-align: left
    margin: 0 0 2em 0
    position: relative
    font-size: 1.3em
    top: 1.5em

  .game-ds
    float: left
    &:after
      bottom: -29px
      left: 20px
      border-color: darken($bg-alt, 5) darken($bg-alt, 5) $bg-light $bg-light
    p
      text-align: left
      color: darken($bg-alt, 35)
      span
        color: darken($bg-alt, 45)

  .game-user
    float: right
    background-color: $highlight
    @include respond-to(phones)
      margin: 0em auto 2em
    &:after
      bottom: -29px
      right: 20px
      border-color: $highlight $bg-light $bg-light $highlight
    p
      text-align: right
      color: #fff

  .btn
    width: 230px

// PROFILES
// --------
.profiles

  .profile-photo, .profile-copy
    float: left
    text-align: left

    @include respond-to(tablets_and_phones)
      float: none

  .profile-photo
    width: 290px
    clear: both
    margin: 0.5em 4em 0 0

    @include respond-to(tablets_and_phones)
      margin: 0.5em auto 0

  .profile-copy
    width: $section-content-width
    margin: 0 0 3em 0

    @include respond-to(tablets_and_phones)
      width: 90%
      max-width: $section-content-width
      margin: 0 auto 3em

    p
      text-align: left
    h2
      color: $campaign-accent
      text-align: left

      @include respond-to(tablets_and_phones)
        text-align: center

// CONTENT
// -------
.content
  width: 90%
  max-width: $section-content-width
  margin: 0 auto

  p
    display: block
    text-align: left
    line-height: 1.5em
    padding-bottom: 1em
  h2
    padding-bottom: 0.5em

  /* this padding should be abstracted to all <h3> */
  .headline-callout
    padding: 0 0 0.5em 0
    text-transform: capitalize
    text-align: left
    margin-bottom: 0

    span
      background-color: $highlight
      color: #fff
      border: none

// SMS
// ---
.sms
  border: none
  background: black

  label
    margin: 3% 0 0
    color: white
  form
    width: 80%
    margin: 2em auto 0
    @include respond-to(phones)
      width: 96%
      margin: 0 auto
    input
      color: black

  h2
    margin: 0 auto 5px 0
    text-transform: uppercase

    span
      font-weight: 500
      font-size: 1.2em
      color: $header-color
      background-color: $accent
      display: inline-block
      padding: 5px 10px 0 10px
      @include respond-to(phones)
        padding: 0
        background: none
        font-weight: 400
        font-size: 0.8em
        line-height: 1.4em
  .legal a
    color: #bbb

  h3
    color: white

  .btn
    width: 231px
    margin: 1em auto
    &:hover
      +box-shadow(0 10px 10px -10px #333)
    @include respond-to(phones)
      margin: 0 auto 0.5em

.sms-input-wrapper
  width: 50%
  float: left
  margin: 0 0 2em 0

  @include respond-to(phones)
    width: 100%
    margin: 0

    &.first-column
      margin: 0 0 0 0

.sms-input
  width: 85%
  margin: 0 0 3% 0

  @include respond-to(phones)
    width: 100%

.sms-alpha-wrapper
  float: left
  width: 35.8%
  margin: 0 0 4% 0
  input
    width: 83.5%

.sms-beta-mobile
  clear: both
  margin: 5% 0 -1%

.input-wrapper
  margin: 1em 0 0 0

// GALLERY
// -------
.gallery
  img
    border: 1px solid #ddd !important
    +border-radius(3px)
    +box-shadow(0 10px 10px -10px #bbb !important)

// MAP
// ---
.map
  iframe
    width: 90%
    margin: 0 auto
    display: block
    border: 1px solid #ddd
    +box-shadow(0 10px 10px -10px #ccc)

// THANKS
// ------
.success_msg
  margin: 0 auto 1em
  h2
    text-transform: uppercase
    font-size: 1.8em
    font-weight: 500
    color: #fed100
    @include respond-to(phones)
      font-size: 1.3em
      line-height: 1.5em
      margin: 1em 0 0 0

// FAQ
// ---
.faq
  width: 90%
  max-width: $section-content-width
  position: relative
  margin: 0 auto
  h3, p
    text-align: left
  h3
    cursor: pointer
    color: $font-black
    font-weight: 600
  div /* TODO - GIVE THIS A CLASS */
    margin: 0 0 0.5em 0

  .btn
    margin: 1em auto 0
    width: 230px

  .back-to-top /* TODO - THESE STYLES WERE INHERITED; REFACTOR THEM */
    text-align: right
    padding: 1em 0 1em

  .top-btn
    font-weight: 400
    color: #C6C7C8
    padding: 0px 0px 0px 1em
    background-image: url('http://files.dosomething.org/files/campaigns/alcoa/arrow-up.png')
    background-repeat: no-repeat
    background-position: 0% 40%

// FOOTER
// ------
.footer
  padding: 2% 0
  margin: 0 0 -2%
  text-align: center

  .sponsor
    display: none
    @include respond-to(phones)
      display: block
      width: 200px
      margin: 1em auto 0

