@import "compass/css3"

// -------------
// -------------
// CAMPAIGN GATE
// -------------
// -------------

// VARIABLES
// ---------
$main:  #1F7AFF
$off-black: #1E1D1C

$input-bg: #f9f9f9
$input-color: #888
$input-border: #ddd

$btn-primary: #FFCB15
$btn-primary-color: $off-black
$btn-primary-hover: #FEB800
$btn-primary-border: $btn-primary

// MIXINS
// ------
@mixin border-and-shadow
  background: #fff
  border: 1px solid #eee
  +box-shadow(#ccc 0px 15px 20px -10px)

// BASIC ELEMENTS
// --------------
body
  font-family: din-web-reg

a
  color: $off-black

// TYPOGRAPHY
// ----------
// h1, h2, h3

// CONTAINER
// ---------
.container
  width: 1000px
  margin: 5% auto
  padding: 20px 25px 25px 25px
  overflow: hidden
  +border-and-shadow
  @media only screen and (max-width: 850px)
    width: 96%
    padding: 20px

.form-container
  float: right
  width: 400px

.image-hero
  padding: 10px
  position: relative
  width: 100%
  top: -100px
  left: 10px
  z-index: 1
  +border-and-shadow

.logo-ds
  position: relative
  z-index: 2
  top: -5px
  left: -10px
  img
    display: block
    width: 120px

// DESKTOP
// -------
.desktop
  float: left
  width: 550px

// LOGIN & REG. FORMS
// ------------------
form
  background: transparent
  min-height: auto
  padding: 0
  width: 95%
  box-shadow: none
  margin: 3% 0
  float: right
  @media only screen and (max-width: 950px)
    width: 96%
    margin: 0 2%
    float: left
    padding: 0 0 10% 0
  label
    display: block
    text-transform: lowercase
    font-weight: 400
    font-size: 1em
    color: $off-black
  p
    clear: left
    font-size: 0.9em
    margin-bottom: 20px

  .disclaimer
    display: none

  #edit-final-submit
    margin: 0
    padding: 0.2em 1em 0.25em
    clear: both
    float: left
    position: static
    height: 2em
    display: block
    cursor: pointer
    font-family: din
    font-size: 24px
    font-weight: 700
    text-align: center
    text-decoration: none !important
    text-transform: uppercase
    color: $btn-primary-color !important
    border: 1px solid $btn-primary-border
    background: $btn-primary
    -webkit-appearance: none
    +border-radius(3px)
    +background-image(linear-gradient($btn-primary, $btn-primary-hover))
    &:hover /* While mouse hovers */
      background: $btn-primary-hover
    &:active
      +background-image(linear-gradient($btn-primary-hover, $btn-primary))
    &:link, &:active, &:hover
      color: $off-black
      text-decoration: none !important

  .form-item-parent-email
    margin: 0.5em 0 0 0

  .form_header
    margin: 0 0 4% 0
    display: block

  .form-item
    width: 100%
    float: none !important
    margin: 0

  .form-item-first-name, .form-item-last-name
    float: left !important
    width: 40%

  .form-item-last-name
    width: 48%
    margin: 0 0 0 10%

  #edit-birthday
    label
      float: none !important
      margin: 0
    span
      position: static !important

  .form-item-day, .form-item-month, .form-item-year
    float: left !important
    width: 2.6em
    margin: 0 9% 0 0
    padding: 0

  .form-item-year
    width: 3.5em

  .ds-login-popup-footer
    margin: 1em 0
    float: left
    clear: both

  .already-member
    float: left
    clear: left
    padding: 0
    font-family: din-web-reg
    font-weight: 500
    font-size: 14px
    color: #222

  @media only screen and (max-width: 950px)
    float: none
    width: 95%

    .facebook-connect
      clear: both
      width: 100%
      margin: 5% 0
      img
        display: block
        margin: 0 auto
        max-width: 300px
        @media only screen and (max-width: 500px)
          width: 90%

  @media only screen and (max-width: 900px)
    .facebook-connect
      margin: 0

  .disclaimer,
  .under-13-field
    float: left

// input fields for both forms
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
  height: 2.5em
  width: 96%
  margin: 0.3em 0 0.5em 0
  background: $input-bg
  border: none
  border: 1px solid $input-border
  font-weight: 400
  font-size: 0.9em
  color: $input-color
  padding: 0 0 0 0.5em
  text-transform: lowercase
  box-shadow: none
  +border-radius(3px)
  @media only screen and (max-width: 950px)
    height: 1.5em

.disclaimer
  float: left
  clear: both
  width: 100%
  margin: 1em 0 0 0

.description
  text-align: center
  color: #ddd
  font-size: 0.7em
  a
    color: #ddd
    &:hover
      color: #ccc

// HIDE THE BODIES
// ---------------
#skip-link,
#edit-connect,
#edit-or
  display: none

// LOOK THE OTHER WAY
// ------------------
.form-required
  display: none
