////////////////////////////
// left sidebar blocks
// LOGGED OUT ONLY
// sponsors who rock slideshow
////////////////////////////

#block-views-sponsors-who-rock-block-1
  .content
    margin: 30px 0
    height: 120px
  .views-slideshow-cycle-main-frame-row
    text-align: center
    width: 100%
