////////////////////////////
// MAIN NAVIGATION STYLES
////////////////////////////

nav[role=navigation]
  @extend .medium
  position: relative
  z-index: 100
  background-color: $blue
  font-size: $s9
  line-height: 45px / $s9
  text-rendering: optimizeLegibility
  font-family: $font-headline
  text-transform: uppercase
  ul
    margin-top: 0
  a
    +link-colors($gold, $white, $white, $gold, false)
    &:hover, &:active
      text-decoration: none
  .region-navigation
    @extend .container
    .block-menu-block
      width: 100%
      padding-left: 233px
      display: table
      ul.menu
        display: table-row
        li
          display: table-cell
          width: 203px
          position: relative
          &.first
            padding-left: 3px
          &:nth-of-type(3)
            padding-left: 10px
          a
            position: relative
            z-index: 1
          ul
            position: absolute
            top: 0
            display: block
            padding-top: 45px
            padding-left: 0
            width: 204px
            height: 0
            overflow: hidden
            opacity: 0
            font-size: $s4
            line-height: 38px
            text-transform: capitalize
            +transition(opacity 0.2s 'ease-out')
            margin-left: -28px
            li
              display: block
              width: 100%
              background-color: $gray1-trans
              text-align: left
              line-height: 22px
              &.first
                padding-left: 0
              &:nth-of-type(3)
                padding-left: 0
              a
                +link-colors($white, $gold, $gold, $white, false)
                padding: 12px 28px
                display: block
                &:hover
                  background-color: $gray1-trans
          &.first
            ul
              margin-left: -3px
          &.last
            width: 208px
            ul
              width: 232px
              li.last
                width: 232px
          &:hover
            ul
              opacity: 1
              height: auto
