////////////////////////////
// LEFT SIDE NAVIGATION STYLES
////////////////////////////

#block-menu-block-2
  background-color: $gray6
  ul.menu
    margin-bottom: 0
    padding-left: 0
  li
    border-bottom: 2px $white ridge
    list-style: none
    padding: $s2 0
    text-align: right
    &:last-of-type
      border-bottom: none
    a
      @extend .large-bold-caps
      @extend .blue
      letter-spacing: 0

