////////////////////////////
// LEFT SIDE NAVIGATION STYLES
////////////////////////////

#block-menu-block-2
  background-color: $gray6
  padding: 0
  ul.menu
    margin-bottom: 0
    padding-left: 0
  li
    border-bottom: 2px $white ridge
    list-style: none
    padding: $s2 0
    text-align: right
    &:last-of-type
      border-bottom: none
    &:hover
      background-color: $gray3
      a
        @extend .gold
        text-decoration: none
    a
      @extend .large-bold-caps
      @extend .blue
      letter-spacing: 0
  li.active-trail,
  li.active
    background-color: $gray3
    a
      @extend .white
      &:hover
        @extend .gold
