// DEVELOPMENT STYLES ALL NEED REFACTORING --------------------------------------------------------------

.sharethis-plugin
  .stButton .stBubble
    height: 39px
    margin-top: 0
    margin-bottom: 3px
    color: #333
    background: url(http://w.sharethis.com/share4x/images/bubble_arrow_below.png) no-repeat 10px 35px

  .stButton .stBubble_count
    font-size: 16px
    padding-top: 8px
    height: 36px
    background: $white
    +border-radius(3px)

  .stButton .stButton_gradient
    height: 22px

