/*
Syntax error: Invalid CSS after "...ext, settings) ": expected expression (e.g. 1px, bold), was "{"
        on line 8 of /Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/partials/11-browser-adjustments/_selectivizr.sass
        from line 8 of /Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/selectivizr.sass

Backtrace:
/Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/partials/11-browser-adjustments/_selectivizr.sass:8
/Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/selectivizr.sass:8
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/scss/parser.rb:1085:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/script/lexer.rb:198:in `expected!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/script/parser.rb:488:in `assert_done'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/script/parser.rb:50:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/script/parser.rb:161:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/script.rb:31:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:867:in `parse_script'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:601:in `parse_property'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:590:in `parse_property_or_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:571:in `parse_line'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:464:in `build_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:483:in `append_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:482:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:482:in `append_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:466:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:466:in `build_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:483:in `append_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:482:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:482:in `append_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:338:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:267:in `to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:29:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:41:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:28:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:49:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:308:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:255:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/commands/watch_project.rb:147:in `recompile'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/bin/compass:29
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/bin/compass:43:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/bin/compass:43
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ext, settings) \": expected expression (e.g. 1px, bold), was \"{\"\A         on line 8 of /Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/partials/11-browser-adjustments/_selectivizr.sass\A         from line 8 of /Users/zivtech/Sites/boris-files/picsforpets/code/sites/all/themes/picsforpets/sass/selectivizr.sass"; }
