// This file establishes simple clean default font stacks

$font-sans: sans-serif
$font-serifs: Georgia, serif
$font-mono: Consolas, Menlo, 'Courier New', monospace, monospace
$font-league: "League_Gothic", "Arial Narrow", Arial, sans-serif
$font-dinweb-condbold: "DINWeb-CondBold", "Arial Narrow", Arial, sans-serif


// uncomment to integrate typekit or similar
// $font-typekit-FONTNAME: fontname
// $font-typekit-FONTNAME: fontname
//
// $font-sans: $font-typekit-FONTNAME, $font-sans
// $font-serifs: $font-typekit-FONTNAME, $font-serifs

$font-body: $font-sans
$font-headline: $font-league
$font-logo: $font-league

// special use font stacks
// ampersands
$font-amp: $font-sans
// CAPS
$font-cap: $font-sans
