// RESPONSIVE STYLES

@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 2% auto
    padding: 0 2%
  
  //			//
  //	#header
  //			//

  #header
    background-size: 30%
    background-position: 100% 10%
    h1
      font-size: 3em
    h2
      font-size: 1.2em
    #edit-submit
      margin-top: 0.55em

  #contact-form
    margin: 2% 0 0 0
    padding: 2%
    h3
      margin: 0

  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.3em auto 0

  //      //
  //  #drive
  //      //

  .drive-info-wrapper, .drive-participants
    overflow: auto
    float: none
    width: 100%

  .drive-participants
    border-left: none
    border-top: 1px solid $spitGrey
    margin: 2% 0
    padding: 2% 0 0 0

  //			//
  //	#action
  //			//

  #action.action-anonymous, #action.action-participant
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left
    img
      display: none 

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

  //			//
  //	#content-module
  //			//

  #content-module
    h1
      font-size: 1.6em
    img
      display: none
  
  .make-a-difference
    width: 85%
    margin: 1em 1em 1em 0.5em

  //      //
  //  #psa
  //      //

  #psa img
    width: 20%
    float: left
    margin-top: 5%

  //      //
  //  #prizing
  //      //

  #prizing p
    width: 90%
    margin: 1em auto

  //      //
  //  #search
  //      //

  .views-field-nothing
    width: 100%
    .go-button
      margin: 3% auto 2%

  .pane-drive-search-panel-pane-1 form
    width: 65%

  .views-field-field-team-name,
  .views-field-field-drive-location
    width: 50%
  
  //			//
  //	#scholarship
  //			//
  
  #scholarship
    padding: 0
    .col50
      width: 100%

  .refer5
    width: 100%
    margin: 0
    &:before, &:after
      display: none 

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 5%
    img
      float: left
      width: 40%

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //


@media only screen and (max-width: 550px)

  .email-spit
    width: 100%
    img
      width: 50%

  .socialWrapper
    display: none

  #header
    background-size: 40%
    background-position: 95% -60%
    h1
      font-size: 2.5em
      margin-top: 3%
    h2
      font-size: 1em

@media only screen and (max-width: 450px)
  .section
    margin: 5% auto

  //			//
  //	#header
  //			//

  #header
    background-position: 95% -10%
    #edit-submit
      margin-top: 0.5em
      float: left

  .tagline
    padding-left: 4%

  #edit-submitted-field-webform-email
    width: 68%
    margin: 1% 0

  #edit-submitted-field-webform-mobile
    width: 32%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 100%

  //      //
  //  #drive
  //      //



  //			//
  //	#action
  //			//

  a.print-pdf
    width: 55%

  .email-spit, .email-spit img
    width: 85%
    display: block
    margin: 0 auto

  .email-spit img
    width: 100%

  //      //
  //  .search
  //      //

  .pane-drive-search-panel-pane-1 form
    width: 85%

  .views-field-nothing
    margin: 0

  //			//
  //  #prizing
  //      //

  #prizing h1
    font-size: 2em

  //			//
  //  #scholarship
  //      //
  
  #scholarship
    h1.condensed
      font-size: 2.75em

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 2% 5%
    img
      float: left
      width: 50%
    h3
      font-size: 1em
      text-align: left
      padding: 0.5em 

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //



