label
  cursor: default

//      //
//  #contact-form
//      //

#contact-form
  margin: 10% 0 0 0
  background: $spitPurple
  width: 100%
  h3
    color: $spitYellow
    font-size: 1.3em
    font-weight: 600
    text-align: left
    padding: 0.2em 0 0 0

.focusOutline /* defines input highlighting */
  box-shadow: 0px 0px 15px 4px #CBBEFF

#edit-submitted-field-webform-mobile-und-0-value /* float to fix centered input on tablet */
  float: left

.pane-campaign-sign-up /* drupal name; contact-form wrapper */
  input[type="text"], input[type="tel"]
    height: 2em
    +border-radius(5px)
  label
    color: #fff
    width: 100%
    font-size: 1.1em
    font-weight: 500
    font-family: din-web-reg
    line-height: 1.5em
    text-transform: uppercase
    text-align: left
  #edit-submit
    position: static
    margin: 1em auto 0
    padding: 0.3em 0.7em

#campaign-opt-in
  clear: both
  text-align: left
  padding: 0.3em 0 0 0 !important
  span
    font-size: 0.7em
    line-height: 0.7em
    background: transparent
    color: #fff
  strong
    font-weight: 600

.webform-client-form
  box-shadow: none

.already_submitted
  margin: 0 0 2% 0
  .go-button
    margin: 0 0 1% 0

/* element floats */
#webform-component-join-header, #webform-component-start-header, #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile, .form-actions.form-wrapper
  width: 25%
  float: left

#edit-submitted-field-webform-email
  width: 35%

.form-actions.form-wrapper
  width: 15%

/* centers wrappers contained within floated segments */
#submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper, #contact-form h3
  width: 90%   
  margin: 0 auto 

//      //
//  #sign-up
//      //

#sign-up
  .form-wrapper
    float: none
  input
    margin-bottom: 10px


//      //
//  #report-back
//      //

#report-back
  border: none
  width: 70%
  padding: 1% 2%
  background: white
  .pane-title,
  .fb-social-comments-plugin
    display: none
  form
    border: none
    input.form-text, textarea
      font-size: 14px
    label
      font-size: 1.4em
    #edit-submitted-how-many-people-participated-in-this-drive,
    #edit-submitted-how-many-potential-donors-were-registered
      width: 60px
    .form-item
      margin-top: 10px
    .fb-social-comments-plugin
      display: none
    #edit-submitted-taxonomy-vocabulary-5,
    #edit-submitted-field-webform-email,
    #edit-submitted-field-webform-mobile,
    #edit-submitted-field-webform-videos,
    #edit-submitted-field-webform-school-reference,
    #edit-submitted-field-webform-school,
    #edit-submitted-field-webform-school-zip
      display: none
    #edit-submitted-field-webform-pictures-und-0-upload-button
      display: block !important
      margin: 10px !important
  
  
.go-button, #edit-submit, .form-submit
  font-family: din-web
  background: $button
  margin: 4% 0 1%
  padding: 0.3em 0.7em
  font-size: 1.5em
  height: 1.4em
  display: inline-block
  color: $offBlack
  +border-radius(5px)
  border: none
  line-height: 1em
  &:hover
    color: darken($spitPurple, 12)

// hide the nav when the user is signing up or reporting back
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav,
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav
  display: none

// DRIVE FORM
#webform-client-form-724779
  width: 100%
  max-width: 500px
  background: white
  padding: 2% 10% !important
  h1, p
    text-align: center
  p
    margin-bottom: 10px
  input
    width: 100%
    border: 1px solid #f9f9f9
  .form-actions.form-wrapper
    width: 50% !important
    margin: 0 auto !important
    #edit-submit
      width: 100% !important    
  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile,
    width: 100% !important
  #edit-submitted-field-webform-school-reference
    background: #f9f9f9
    border: 1px solid #e9e9e9 !important
    padding: 2% 4% !important
    margin-bottom: 10px !important
    label
      padding-top: 10px
    .fieldset-legend
      font-weight: bold !important
      font-size: 1.6em !important
  #edit-submitted-give-a-spit-action-kit-1
    width: 1.5em !important
