// PANES 

//			//
//	#header			- sign up -
//			//

#header
  background-image: url("//files.dosomething.org/files/campaigns/jeans12/header1.jpg")
  background-position: 100% 35%
  background-repeat: no-repeat
  background-color: #E5E7E9
  margin: 0
  padding: 0
  h1, h2
    text-align: left
    color: $spitPurple
    margin: 0
  h1
    font-weight: 600
    font-size: 3.5em
    font-family: din-web
    line-height: 1em
  h2
    font-size: 1.4em
    line-height: 1.6em
    font-weight: 400
    width: 50%
  span
    color: $bgFallback

.tagline
  padding: 2%

.pane-campaign-social
  display: none

.socialWrapper
  margin: 1em 0 0 0.5em
  .socialButton
    &:last-child
      display: none

//      //
//  #next-steps
//      //

#next-steps
  padding: 5%
  h3, p
    text-align: left
  h1
    font-size: 4em
    font-weight: 600
  h4
    text-transform: uppercase
    font-weight: 500
  p
    padding: 0 1.5em 1em
    color: #444
  .next-steps-help
    font-size: 0.9em
    text-align: center
    color: #bbb
    padding: 2em 0 0 0
  .go-button
    margin-top: 0.5em

//      //
//  #drive
//      //

#drive /* wraps the entire panel pane */
  text-align: left

.drive-info-wrapper /* wraps left column features */
  float: left
  width: 56%

.drive-participants /* list of drive members */
  float: right
  width: 40%
  margin: 6% 0 0 0
  padding: 0 0 0 5%
  border-left: 1px solid $spitGrey
  ul
    max-height: 160px
    overflow: scroll

.drive-info-title h2 /* drive title */
  color: $spitPurple
  margin: 0 0 0.5em 0
  font-family: $din
  font-size: 2em
  font-weight: 600
  text-transform: uppercase
  border-bottom: 1px solid #ccc

.drive-info-info /* drive logistics */
  width: 65%
  float: left

.drive-info-where, .drive-info-when /* address and date styling */
  font-weight: uppercase
  font-weight: 600
  span
    font-weight: 500
    text-transform: none
    color: #777

.drive-share 
  width: 35%
  float: right
  h3
    text-align: right

.drive-facebook, .drive-twitter /* twitter and facebook sprites for drive sharing */
  width: 30px
  height: 30px
  display: inline-block
  background-repeat: no-repeat
  text-indent: -9999em
  margin: 0 0 0 5%
  float: right
  &:hover
    background-position-y: -30px

.drive-twitter
  background-image: url(//files.dosomething.org/files/campaigns/jeans12/twitter-small.png)

.drive-facebook
  background-image: url(//files.dosomething.org/files/campaigns/jeans12/facebook-small.png)

.drive-info-description, .drive-info-countdown /* hides unused goal and countdown elements */
  display: none

input.remove_participant /* "remove participants" button */
  border: none
  font-size: 16px
  font-family: din-web-reg
  width: 18px
  height: 18px
  line-height: 16px
  background: $spitPurple
  color: #fff
  letter-spacing: 1px
  margin: -18px 0 0 0
  padding: 0
  float: right
  +border-radius(15px)
  &:hover
    color: #fff
    background: darken($spitPurple, 7)

.drive-participants-list li
  padding: 0.2em 0

.drive-action-link /* "invite more friendss" button */
  text-align: center

//			//
//	#action
//			//

#action.action-anonymous, #action.action-participant
  h3
    line-height: 2em
  p
    text-align: left
  img
    display: block
    margin: 0 auto

#action.action-leader
  text-align: left
  h1
    font-size: 1.2em
    margin: 0 0 0 -1em
  ul
    padding: 1em 1.5em
  li
    list-style: disc
  b
    color: $spitPurple
    background: $spitYellow
    width: 10em
    display: block
    text-align: center
    padding: 0.2em 0 0 0
  strong
    color: $spitPurple

.email-spit
  margin: 0 auto
  width: 90%
  display: block
  img
    width: 50%

a.print-pdf, a.print-pdf img
  display: block
  margin: 0 auto

a.print-pdf
  width: 30%
  img
    width: 100%

//      //
//  .search     - search -
//      //

#search
  p
    padding: 0 0 1em 0
  .go-button
    margin: 0 1%

/* search block */
.pane-drive-search-panel-pane-1 form
  width: 50%
  margin: 1em auto 
  padding: 1em
  border-top: 2px solid $spitGrey
  border-bottom: 2px solid $spitGrey

#edit-field-geofield-distance-wrapper /* wraps everything but "search" */
  width: 67%
  margin: 0.4em 0 0 0

.form-type-geofield-proximity /* drupal code, so clean! (another wrapper) */
  width: 100%

.form-item-field-geofield-distance-distance /* distance wrapper */,
.form-item-field-geofield-distance-origin /* zip code wrapper */
  input
    display: block
    margin: 0 auto
    padding: 0
    text-align: center
    +border-radius(3px)
  
.form-item-field-geofield-distance-distance /* distance wrapper */
  display: none

.geofield-proximity-origin-from /* faux label "Zip code:" */
  text-align: center
  padding: 0.2em 0 0 0
  width: 50%

.form-item-field-geofield-distance-origin /* zip code wrapper */
  width: 33%
  input
    background-color: #ebebeb

.views-submit-button input /* search button */
  text-transform: uppercase
  font-weight: 500

/* results block */ 
.view-id-drive_search .view-content /* outermost wrapper */
  background-color: #ebebeb
  padding: 1em

.drive-search-wrapper ul /* clear floats */
  overflow: auto
  margin: 0 auto
  width: 95%

.views-label-field-team-name /* hides labels above search results */,
.views-label-field-drive-location
  display: none

li.views-row /* clear floats on <li> wrapping the following fields: */
  width: 100%
  overflow: hidden
  margin-bottom: 2em

.views-field-field-team-name /* drive name */,
.views-field-field-drive-location /* drive logistics */,
.views-field-field-geofield-distance /* drive distance */,
.views-field-nothing /* "join this drive" button  */
  width: 25%
  float: left

.views-field-field-drive-location,
.views-field-field-geofield-distance
  font-size: 0.8em
  font-weight: 400
  font-family: din-web-reg
  line-height: 1.4em

.views-field-field-geofield-distance
  text-align: center

.views-field-nothing
  span
    width: 5em
    display: block
    margin: 1em auto
  a.go-button
    position: static

//			//
//	#content-module
//			//

#content-module
  .jeans-divider
    margin-bottom: 5%

.free-banner
  float: right
  margin-top: -4%

.make-a-difference
  margin: 0 0 0 12%
  float: left
  width: 60%
  h2, p
    text-align: left
  h2
    text-transform: uppercase
    padding-top: 0.3em
  p
    font-size: 0.9em
    width: 110%
  img
    float: left
    padding-right: 3%

#scholarship
  overflow: visible
  position: relative
  img.scholar-copy
    padding: 0
  img
    clear: both
    display: block
    margin: 0 auto
    padding: 2% 0
  h1
    color: #fff
  p
    color: #fff
  form
    margin: 0 auto
    max-width: 600px
    label
      color: #fff
      font-weight: 500  
      text-align: left
    input[type="text"]
      padding: 0.8em 0.5em
      float: left
      height: 3em
      width: 48%
      margin: 1%
      +border-radius(0.3em)
  .go-button
    margin: 4% 0 1% 0
    padding: 0.6em 0.7em
    height: 2em
    width: 8em
  #campaign-opt-in
    text-align: center
    a
      color: #fff
      font-weight: 500
  .quote-highlight p
    background: #a78b79
    max-width: 525px
    margin: 0 auto 0.8em
    padding: 3%
    font-family: din-web-reg
    font-weight: 600
    font-size: 1.7em
    -moz-border-radius: 12px
    -webkit-border-radius: 12px
    -o-border-radius: 12px
    border-radius: 12px
  .scholar-input
    float: left
    width: 48%
    margin: 1%
    input[type="text"]
      width: 100%
      margin: 1% 0
  .your-input input[type="text"]
    width: 100%
  .rules
    font-size: 1em  

label.friends
  padding-left: 0.3em

.refer5
  background: $spitPurple
  width: 110%
  margin: 0 0 0 -4.95%
  +border-radius(0 0 4px 4px)
  &:before, &:after
    content: ""
    position: absolute
    border-style: solid
    border-width: 11px
    top: -6px
  &:before
    border-color: transparent darken($spitPurple, 12) darken($spitPurple, 12) transparent
    left: -22px
  &:after
    border-color: transparent transparent darken($spitPurple, 12) darken($spitPurple, 12)
    right: -22px
.refer5-inner
  padding: 3%

//			//
//	#prizing
//			//

#prizing
  h3
    margin: 1em 0
  p
    width: 70%
    margin: 3em auto

//      //
//  #psa
//      //

#psa
  h2
    text-transform: uppercase
    font-size: 1.9em
    padding: 0 0 0.3em 0
    color: $bgFallback

#psa_wrapper
  position: relative
  padding-bottom: 55%
  padding-top: 5%
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

//			//
//  #social     - share 3 stats -
//      //

//      //
//  #impact     - gallery -
//      //

#impact
  .go-button
    margin: 2% 0 1% 0

.view-campaign-gallery #slideshow
  margin: 0 auto

//      //
//  #faq
//      //

#faq 
  padding-bottom: 3%
  +border-radius(0 0 4px 4px)
  h4, li, p
    text-align: left
  li, div
    padding: 0 0 0 1.5em
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
  h4
    color: $spitPurple
    cursor: pointer
    background: url("//files.dosomething.org/files/campaigns/jeans12/faq_arrows.png")
    background-repeat: no-repeat
    background-position-y: 0.4em
    padding: 0.3em 1.2em
  h4.activeFAQ
    background-position-y: -3.8em
  div.divider
    padding: 0.5em 0 0 0
  .go-button
    margin: 0 0 1% 0

//      //
//  #footer     - sign up button; conditionally displayed -
//      //

#footer.section
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("//files.dosomething.org/files/campaigns/jeans12/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 0.7em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  .go-button
    margin: 0 0 1% 0
