// PANES 

///      //
//  #header     - sign up -
//      //
.section#header
  background: url('//www.dosomething.org/files/campaigns/band13/header1.jpg') top center no-repeat
  margin-bottom: 0
  height: 260px
#header
  max-width: 800px
  margin: 0 auto
  text-align: left
  position: relative
  padding: 0
  h1, h2
    text-align: left
    color: black
    margin: 0
  .header-social
    position: absolute
    bottom: 0
    right: 8px
  .header-facebook-share, .header-twitter-share
    display: inline-block
    margin: 0 2px


//      //
//  #thisweek
//      //
#thisweek
  h2
    color: #B8323C
    text-transform: uppercase
    font-family: din-web-reg

//      //
//  #past
//      //



//			//
//	#action
//			//
#action
  padding: 3% 0 2%

//      //
//  #grant
//      //
#grants
  .border
    margin-top: 2em
    border-top: 1px solid black
    position: relative
  h3
    background: white
    padding: 1em
    display: inline-block
    position: relative
    top: -34px
    margin-bottom: 0
  p
    margin-bottom: 1.2em
  .small
    font-size: 0.8em
    font-style: italic
    margin-bottom: 2em



