body {
  font-family: din-web-reg;
}

a {
  color: #1e1d1c;
}

h1, h2, h3, p {
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

.wrapper {
  max-width: 1000px;
  width: 93%;
  margin: 5% auto 0;
  padding: 20px 25px 25px 25px;
  overflow: hidden;
  background: white;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: #cccccc 0px 15px 20px -10px;
  -moz-box-shadow: #cccccc 0px 15px 20px -10px;
  box-shadow: #cccccc 0px 15px 20px -10px;
}
@media only screen and (max-width: 800px) {
  .wrapper {
    max-width: 400px;
    padding: 0;
  }
}

.image-hero {
  margin: -90px 0 0 0;
  padding: 10px;
  width: 93%;
  background: white;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: #cccccc 0px 15px 20px -10px;
  -moz-box-shadow: #cccccc 0px 15px 20px -10px;
  box-shadow: #cccccc 0px 15px 20px -10px;
}

.logo-ds {
  position: relative;
  z-index: 2;
  top: -5px;
  left: -20px;
}
.logo-ds img {
  display: block;
  width: 120px;
}

.desktop-container {
  float: left;
  width: 58%;
  padding: 10px;
}
@media only screen and (max-width: 800px) {
  .desktop-container {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .toolbar.desktop {
    display: none;
  }
}
.toolbar.desktop a {
  position: absolute;
  top: -15px;
  right: -15px;
  width: auto;
  font-size: 14px;
}

.toolbar.mobile {
  display: none;
  padding: 0.2em 0.5em;
  margin: 0 0 0.5em 0;
  background: #111111;
  text-align: right;
}
.toolbar.mobile a {
  color: white;
}
@media only screen and (max-width: 800px) {
  .toolbar.mobile {
    display: block;
  }
}

.field-content h2 {
  font-family: din-web;
  text-transform: uppercase;
}

.desktop-container h2 {
  padding: 0.5em 0;
  color: #84cdc9;
  font-size: 2em;
  line-height: 1.2em;
}

.form-container h1 {
  display: block;
  color: #84cdc9;
  font-size: 2.5em;
  line-height: 2em;
  font-family: "Amatic SC", din-web-reg;
}
.form-container h2, .form-container p {
  display: none;
}
@media only screen and (max-width: 800px) {
  .form-container .field-content {
    width: 90%;
    margin: 0 auto;
  }
  .form-container h1 {
    font-size: 1.4em;
    line-height: 2em;
  }
  .form-container h2 {
    font-size: 1.3em;
    line-height: 1.7em;
  }
  .form-container p {
    font-weight: 400;
    padding: 0.5em 0;
  }
  .form-container h2, .form-container p {
    display: block;
  }
}

div.messages.error {
  margin: 0 0 1em 0;
  float: right;
  width: 100%;
  color: #ee0044;
  list-style: none outside none;
}
@media only screen and (max-width: 800px) {
  div.messages.error {
    margin: 0 auto;
    width: 90%;
  }
}
div.messages.error ul {
  padding: 0;
  margin: 0;
}
div.messages.error li, div.messages.error a {
  color: #ee0044;
}
div.messages.error li {
  list-style: none;
}

label.error {
  color: #ee0044;
}

.form-container {
  float: right;
  width: 38.5%;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .form-container {
    float: none;
    width: 100%;
    margin: 0;
  }
}

form {
  background: transparent;
  min-height: auto;
  padding: 0;
  width: 100%;
  box-shadow: none;
  margin: 0;
  float: right;
}
@media only screen and (max-width: 800px) {
  form {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}
form label {
  display: block;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 1em;
  color: #1e1d1c;
}
form p {
  clear: left;
  font-size: 0.9em;
  margin-bottom: 20px;
}
form .disclaimer {
  display: none;
}
form #edit-final-submit, form #edit-submit {
  font-family: din-web-reg !important;
  margin: 1em 0 0.5em;
  padding: 0.2em 1em 0.25em;
  clear: both;
  float: left;
  position: static;
  height: 2em;
  display: block;
  cursor: pointer;
  font-family: din;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #1e1d1c !important;
  border: 1px solid #ffcb15;
  background: #ffcb15;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcb15), color-stop(100%, #feb800));
  background-image: -webkit-linear-gradient(#ffcb15, #feb800);
  background-image: -moz-linear-gradient(#ffcb15, #feb800);
  background-image: -o-linear-gradient(#ffcb15, #feb800);
  background-image: linear-gradient(#ffcb15, #feb800);
}
form #edit-final-submit:hover, form #edit-submit:hover {
  background: #feb800;
}
form #edit-final-submit:active, form #edit-submit:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feb800), color-stop(100%, #ffcb15));
  background-image: -webkit-linear-gradient(#feb800, #ffcb15);
  background-image: -moz-linear-gradient(#feb800, #ffcb15);
  background-image: -o-linear-gradient(#feb800, #ffcb15);
  background-image: linear-gradient(#feb800, #ffcb15);
}
form #edit-final-submit:link, form #edit-final-submit:active, form #edit-final-submit:hover, form #edit-submit:link, form #edit-submit:active, form #edit-submit:hover {
  color: #1e1d1c;
  text-decoration: none !important;
}
form .form-item-parent-email {
  margin: 0.5em 0 0 0;
}
form .form_header {
  margin: 0 0 4% 0;
  display: block;
}
form .form-item {
  width: 100%;
  float: none !important;
  margin: 0;
}
form .form-item-first-name, form .form-item-last-name {
  float: left !important;
  width: 40%;
}
form .form-item-last-name {
  width: 48%;
  margin: 0 0 0 10%;
}
form #edit-birthday label {
  float: none !important;
  margin: 0;
}
form #edit-birthday span {
  position: static !important;
}
form .form-item-day, form .form-item-month, form .form-item-year {
  float: left !important;
  width: 2.6em;
  margin: 0 9% 0 0;
  padding: 0;
}
form .form-item-year {
  width: 3.5em;
}
form .already-member {
  float: left;
  clear: left;
  padding: 0;
  font-family: din-web-reg;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
@media only screen and (max-width: 800px) {
  form .facebook-connect {
    clear: both;
    width: 100%;
    margin: 5% 0;
  }
  form .facebook-connect img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}
@media only screen and (max-width: 800px) and (max-width: 500px) {
  form .facebook-connect img {
    width: 90%;
  }
}
form .disclaimer,
form .under-13-field {
  float: left;
}

#edit-parent-email-message {
  margin: 0.5em 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  height: 2.5em;
  width: 96%;
  margin: 0.3em 0 0.5em 0;
  background: #f9f9f9;
  border: none;
  border: 1px solid #dddddd;
  font-weight: 400;
  font-size: 0.9em;
  color: #444444;
  padding: 0 0 0 0.5em;
  text-transform: lowercase;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.disclaimer {
  float: left;
  clear: both;
  width: 100%;
  margin: 1em 0 0 0;
  text-align: center;
  color: #dddddd;
  font-size: 0.8em;
}
@media only screen and (max-width: 800px) {
  .disclaimer {
    float: none;
    width: 90%;
    margin: 2em auto;
  }
}
.disclaimer a {
  color: #dddddd;
}
.disclaimer a:hover {
  color: #cccccc;
}

.forgot-password-link {
  display: block;
  padding: 1em 0 0;
}

#skip-link,
#edit-connect,
#edit-or,
.element-invisible {
  display: none !important;
}

.form-required {
  display: none !important;
}
