// BASE 

// variable definitions
$spitYellow: #FFCB15
$spitPurple: #7F3F80
$bgFallback: #D69A92
$offBlack: #1E1D1C
$spitGrey: #D2D2D3

$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target)
  @return ($target/16)*1em

// needs breakpoint mixin
