// RESPONSIVE STYLES

@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 2% auto
  
  //			//
  //	#header
  //			//

  #header
    background-image-size: 125%
    h1
      margin: 0 0 0.5 -0.6em
    h2
      margin: 0 0 0 -0.9em

  #contact-form
    margin: 2% 0 0 0
    h3
      margin: 0

  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.3em auto 0

  //      //
  //  #drive
  //      //

  .drive-info-wrapper, .drive-participants
    overflow: auto
    float: none
    width: 100%

  .drive-participants
    border-left: none
    border-top: 1px solid $spitGrey
    margin: 2% 0
    padding: 2% 0 0 0


  //			//
  //	#action
  //			//

  #action.action-anonymous, #action.action-participant
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left
    img
      display: none 

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

  //      //
  //  #search
  //      //

  .views-field-nothing
    width: 100%
    .go-button
      margin: 3% auto 2%

  //			//
  //	#scholarship
  //			//
  
  #scholarship
    padding: 0

  .refer5
    width: 100%
    margin: 0
    &:before, &:after
      display: none 


  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 5%
    img
      float: left
      width: 40%

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //


@media only screen and (max-width: 550px)
  .email-spit
    width: 100%
    img
      width: 50%

@media only screen and (max-width: 450px)
  .section
    margin: 5% auto

  //			//
  //	#header
  //			//

  #header
    background-image-size: 175% 


  //      //
  //  #drive
  //      //



  //			//
  //	#action
  //			//

  a.print-pdf
    width: 55%

  .email-spit, .email-spit img
    width: 85%
    display: block
    margin: 0 auto

  .email-spit img
    width: 100%

  //      //
  //  .search
  //      //



  //			//
  //	#content
  //			//


  //			//
  //  #scholarship
  //      //
  
  #scholarship
    h1.condensed
      font-size: 2.75em
    .col50
      width: 100%

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 2% 5%
    img
      float: left
      width: 50%

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //



