//      //
//  #contact-form
//      //

#contact-form
  margin: 10% 0 0 0
  background: #000
  background: rgba(0, 0, 0, 0.3)
  width: 100%
  h3
    color: $spitYellow
    font-size: 2em
    font-weight: 500
    text-align: left
    padding: 0.2em 0 0 0

.focusOutline
  box-shadow: 0px 0px 15px 4px #CBBEFF

.pane-campaign-sign-up
  clear: both
  width: 100%
  padding: 1% 0 1% 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  label
    text-align: left
  input[type="text"], input[type="tel"]
    width: 35% 
  #edit-submit
    float: right
    position: static
    margin: 9% 2% 0 0
    padding: 1px 0.7em

.pane-campaign-sign-up
  label, input[type="text"], input[type="tel"]
    width: 85%
    float: left
    clear: left
  input[type="text"], input[type="tel"]
    margin: 0.5em 0 0 0
  label
    color: #fff
    font-size: 1.7em
    font-family: din-web
    text-transform: uppercase

#campaign-opt-in
  clear: both
  text-align: left
  padding: 0.3em 0 0 0 !important
  span
    font-size: 10px
    background: transparent
    color: #fff
  strong
    font-weight: 600

.webform-client-form
  box-shadow: none

.already_submitted
  margin: 0 0 2% 0
  .go-button
    margin: 0 0 1% 0

// element floats
#webform-component-copy, #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile, .form-actions.form-wrapper
  width: 25%
  float: left

//      //
//  #sign-up
//      //
#sign-up
  .form-wrapper
    float: none
  label
    cursor: default
  input
    margin-bottom: 10px


//      //
//  #report-back
//      //

#report-back
  border: none
  width: 70%
  .pane-title
    display: none
  form
    border: none
    #edit-submitted-how-many-people-participated-in-this-drive,
    #edit-submitted-how-many-potential-donors-were-registered
      width: 50px
    .form-item
      margin-top: 10px
    .fb-social-comments-plugin
      display: none
    #edit-submitted-taxonomy-vocabulary-5,
    #edit-submitted-field-webform-email,
    #edit-submitted-field-webform-mobile,
    #edit-submitted-field-webform-videos,
    #edit-submitted-field-webform-school-reference,
    #edit-submitted-field-webform-school,
    #edit-submitted-field-webform-school-zip
      display: none
  
.go-button, #edit-submit, .form-submit
  font-family: din-web
  background: $spitYellow
  margin: 4% 0 1%
  padding: 0.4em 0.7em
  font-size: 2em
  height: 1.4em
  display: inline-block
  color: $offBlack
  +border-radius(5px)
  &:hover
    color: darken($spitPurple, 12)

// hide the nav when the user is signing up or reporting back
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav,
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav
  display: none
