// hide the nav when the user is signing up or reporting back
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav,
.node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav
  display: none

#sign-up

#report-back
  border: none
  width: 70%
  .pane-title
    display: none
  form
    border: none
    #edit-submitted-how-many-people-participated-in-this-drive,
    #edit-submitted-how-many-potential-donors-were-registered
      width: 50px
    .form-item
      margin-top: 10px
    .fb-social-comments-plugin
      display: none
    #edit-submitted-taxonomy-vocabulary-5,
    #edit-submitted-field-webform-email,
    #edit-submitted-field-webform-mobile,
    #edit-submitted-field-webform-videos,
    #edit-submitted-field-webform-school-reference,
    #edit-submitted-field-webform-school,
    #edit-submitted-field-webform-school-zip
      display: none
  
.go-button, #edit-submit, .form-submit
  font-family: din-web
  background: $spitYellow
  margin: 4% 0 1%
  padding: 0.4em 0.7em
  font-size: 2em
  height: 1.4em
  display: inline-block
  color: $offBlack
  +border-radius(5px)
  &:hover
    color: darken($spitPurple, 12)