// PANES 

//			//
//	#header			- header (sign up) -
//			//

#header
  background: url("assets/brad.jpg")
  background-position: 29% -120%
  padding: 0
  h1, h2
    text-align: left
    color: $spitYellow
  span
    text-align: center
    background: $spitPurple
    background: $spitTrans
  .tagline
    padding: 2%

#webform
  margin: 10% 0 0 0
  background: #000
  background: rgba(0, 0, 0, 0.3)
  width: 100%

.pane-campaign-sign-up
  clear: both
  width: 100%
  padding: 3% 0 1% 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  label
    text-align: left
  input[type="text"], input[type="tel"]
    width: 35% 
  #edit-submit
    float: right
    position: static
    margin: 2% 2% 0 0
    padding: 1px 0.7em

#submitted-field-webform-mobile-add-more-wrapper, #submitted-field-webform-email-add-more-wrapper
  width: 35%
  float: left

.pane-campaign-sign-up
  label, input[type="text"], input[type="tel"]
    width: 75%
    float: left
    clear: left
  input[type="text"], input[type="tel"]
    margin: 0.5em 0 0 0
  label
    color: #fff
    font-size: 1.7em
    font-family: din-web
    text-transform: uppercase

#campaign-opt-in
  clear: both
  text-align: left
  padding: 0.3em 0 0 0 !important
  span
    font-size: 10px
    background: transparent
    color: #fff
  strong
    font-weight: 600

.webform-client-form
  box-shadow: none

.already_submitted
  margin: -2% 0 2% 0
  .go-button
    margin: 0 0 1% 0

//      //
//  #drive
//      //

#drive
  text-align: left

.drive-info-header, .drive-info-info, .drive-share
  float: left
  width: 60%

.drive-info-header
  color: $spitPurple
  font-family: $din
  font-size: 2em
  font-weight: 600
  text-transform: uppercase
  border-bottom: 1px solid #eee

//.drive-info-title
//
//.drive-info-description
//
//.drive-info-info
//
//.drive-share
//
//.drive-participants
//
//.list-item
//
//.drive-action-link
//
//.drive-action-link-text

//			//
//	#action			- "here's what you do" -
//			//

#action
  img
    display: block
    margin: 5% auto

//			//
//	.search			- search -
//			//

.go-button
  position: static

//form.webform-client-form
//  border: none
//  box-shadow: none
//  padding: 15px 15px 0 15px
//  margin-bottom: -15px

//			//
//	#content-leader
//			//

#content-leader
  text-align: left
  h1
    font-size: 1.5em
    margin: 0 0 0 -1em
  ul
    padding: 0.5em 1em
  li
    list-style: disc
  b
    color: $spitPurple
    background: $spitYellow
    width: 10em
    display: block
    text-align: center
  strong
    color: $spitPurple

.center_img
  margin: 0 auto
  width: 80%
  display: block

.print-pdf
  position: relative
  left: 27%
  img
    width: 37.5%

//			//
//	#content-infographic
//			//

#scholarship
  overflow: visible 
  h1
    color: $spitYellow
  p
    color: #fff
  label, input[type="text"]
    height: 25px
    padding: 0.5em 0
    margin: 0.8% 0
    width: 50%
    text-align: left
  label
    float: left
    clear: left
    color: #fff
  input[type="text"], input[type="submit"]
    float: right
    clear: right
  .go-button
    margin: 4% 0 1% 0
    padding: 0.1em 0.7em
  #campaign-opt-in
    color: darken($spitPurple, 15)
    text-align: left

.refer5
  background: $spitPurple
  width: 110%
  margin: 0 0 0 -5%
  padding: 3%
  &:before, &:after
    content: ""
    position: absolute
    border-style: solid
    border-width: 11px
  &:before
    border-color: transparent darken($spitPurple, 20) darken($spitPurple, 20) transparent 
    left: -22px
    top: 43px
  &:after
    border-color: transparent transparent darken($spitPurple, 20) darken($spitPurple, 20)
    right: -22px
    top: 43px

//			//
//  #social     - share 3 stats -
//			//

//			//
//  #impact     - gallery -
//			//

#impact
  .go-button
    margin: 2% 0 1% 0

//			//
//	#faq
//			//

#faq 
  h4, li, p
    text-align: left
    padding: 0 0 0 1.5em
  h4
    color: $spitPurple
    cursor: pointer
    background: url("assets/faq2.png")
    background-repeat: no-repeat

#faq
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 0.7em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  .go-button
    margin: 0 0 1% 0

.activeFAQ
  background-position-y: -27px
