// PANES 

//			//
//	.s0			- header (sign up) -
//			//

.s0

.pane-campaign-sign-up
  clear: both
  width: 100%
  margin: 37% 0 0 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  input[type="text"], input[type="tel"]
    width: 35% 
    float: left
    margin: 0 2.5%
  #edit-actions
    float: right
    position: static
    margin: 0 2% 0 0
    height: 32px

#campaign-opt-in
  clear: both
  span
    font-size: 10px

.webform-client-form
  box-shadow: none

//			//
//	.s1			- "here's what you do" -
//			//

.s1

//			//
//	.s2			- join -
//			//

.s2

.mcommons-webform
  input.field
    width: 85%
    height: 23px
    margin-bottom: 6px
  label
    font-weight: 600

.mcommons-webform-column
  float: left
  width: 40%
  margin-left: 9%

.go-button
  position: static
  float: right
  padding: 1.5% 5% 1% 5%
  margin: 0 14% 0 0

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

.form-wrapper
  margin-bottom: 5px

.ds-panel
  .pane-content
    padding-bottom: 0
    
.hidden
  display: none

//			//
//	.s3			- footer (sponsor section) -
//			//

.s3
