// PANES 

//			//
//	#header			- header (sign up) -
//			//

#header
  background: url("assets/brad.jpg")
  background-position: 29% -120%
  padding: 0
  h1, h2
    text-align: left
    color: $spitYellow
  span
    text-align: center
    background: $spitPurple
    background: $spitTrans
  .tagline
    padding: 2%

#contact-form
  margin: 10% 0 0 0
  background: #000
  background: rgba(0, 0, 0, 0.3)
  width: 100%

.focusOutline
  box-shadow: 0px 0px 15px 4px #CBBEFF

.pane-campaign-sign-up
  clear: both
  width: 100%
  padding: 3% 0 1% 0
  h1
    font-family: din-web
    font-size: 23px
    text-align: center
    color: #fff
  label
    text-align: left
  input[type="text"], input[type="tel"]
    width: 35% 
  #edit-submit
    float: right
    position: static
    margin: 2% 2% 0 0
    padding: 1px 0.7em

#submitted-field-webform-mobile-add-more-wrapper, #submitted-field-webform-email-add-more-wrapper
  width: 35%
  float: left

.pane-campaign-sign-up
  label, input[type="text"], input[type="tel"]
    width: 75%
    float: left
    clear: left
  input[type="text"], input[type="tel"]
    margin: 0.5em 0 0 0
  label
    color: #fff
    font-size: 1.7em
    font-family: din-web
    text-transform: uppercase

#campaign-opt-in
  clear: both
  text-align: left
  padding: 0.3em 0 0 0 !important
  span
    font-size: 10px
    background: transparent
    color: #fff
  strong
    font-weight: 600

.webform-client-form
  box-shadow: none

.already_submitted
  margin: -2% 0 2% 0
  .go-button
    margin: 0 0 1% 0

//      //
//  #drive
//      //

#drive /* wraps the entire panel pane */
  text-align: left

.drive-info-wrapper /* wraps left column features */
  float: left
  width: 55%

.drive-participants /* list of drive members */
  float: right
  width: 40%
  margin: 6% 0 0 0
  padding: 0 0 0 5%
  border-left: 1px solid $spitGrey

.drive-info-title h2 /* drive title */
  color: $spitPurple
  margin: 0 0 0.5em 0
  font-family: $din
  font-size: 2em
  font-weight: 600
  text-transform: uppercase
  border-bottom: 1px solid #ccc

.drive-info-info a /* edit drive link */
  color: $spitPurple
  background-image: url("assets/drive1.png")
  background-position: 0% 50%
  background-repeat: no-repeat
  background-size: 20px
  padding: 1em 1.8em 0
  display: block

.drive-info-where, .drive-info-when /* address and date styling */
  width: 45%
  font-weight: uppercase
  font-weight: 600
  span
    font-weight: 500
    text-transform: none
    color: #777

.drive-info-description, .drive-info-countdown /* goal and countdown */
  display: none

input.remove_participant /* "remove participants" button */
  border: none
  font-size: 16px
  font-family: din-web-reg
  width: 18px
  height: 18px
  line-height: 16px
  background: $spitPurple
  color: #fff
  letter-spacing: 1px
  margin: -18px 0 0 0
  padding: 0
  +border-radius(15px)
  &:hover
    background: darken($spitPurple, 7)

.drive-action-link /* "invite more friendss" button */
  text-align: center

//			//
//	#action			- "here's what you do" -
//			//

#action
  img
    display: block
    margin: 5% auto

//      //
//  .search     - search -
//      //

.pane-drive-search-panel-pane-1
  background: #fff
  form
    width: 500px
    margin: 0 auto 
    padding: 20px 0
  .views-table
    width: 800px
  tr
    border-bottom: 1px solid $spitGrey !important
  td
    padding: 0 10px 10px !important
  .views-field-field-taem-name a
    font-size: 14px
    text-tranform: uppercase
  #edit-submit-drive-search
    font-family: din-web
    background: $spitYellow
    padding: 6px 11px 2px
    line-height: 1em
    font-size: 21px
    +noBorder
    color: $offBlack
    +border-radius(5px)
    &:hover
      color: darken($spitPurple, 12)
  input, a.selectBox-dropdown, span.geofield-proximity-origin-from
    margin-right: 10px    
  #edit-field-geofield-distance-distance
    width: 50px
    margin-right: 10px 

.go-button /* why is this here? */
  position: static

//			//
//	#content-leader
//			//

#content-leader
  text-align: left
  h1
    font-size: 1.5em
    margin: 0 0 0 -1em
  ul
    padding: 0.5em 1em
  li
    list-style: disc
  b
    color: $spitPurple
    background: $spitYellow
    width: 10em
    display: block
    text-align: center
    padding: 0.2em 0 0 0
  strong
    color: $spitPurple

.center_img
  margin: 0 auto
  width: 80%
  display: block

.print-pdf
  position: relative
  left: 27%
  img
    width: 37.5%

//			//
//	#content-infographic
//			//

#scholarship
  overflow: visible 
  h1
    color: $spitYellow
  p
    color: #fff
  label, input[type="text"]
    height: 25px
    padding: 0.5em 0
    margin: 0.8% 0
    width: 50%
    text-align: left
  label
    float: left
    clear: left
    color: #fff
  input[type="text"], input[type="submit"]
    float: right
    clear: right
  .go-button
    margin: 4% 0 1% 0
    padding: 0.1em 0.7em
  #campaign-opt-in
    color: darken($spitPurple, 15)
    text-align: left

.refer5
  background: $spitPurple
  width: 109.1%
  margin: 0 0 0 -4.1%
  padding: 3%
  &:after
    content: ""
    position: absolute
    border-style: solid
    border-width: 11px
  &:after
    border-color: transparent transparent darken($spitPurple, 20) darken($spitPurple, 20)
    right: -22px
    top: 44px

//			//
//  #social     - share 3 stats -
//			//

//			//
//  #impact     - gallery -
//			//

#impact
  .go-button
    margin: 2% 0 1% 0

//			//
//	#faq
//			//

#faq 
  h4, li, p
    text-align: left
    padding: 0 0 0 1.5em
  h4
    color: $spitPurple
    cursor: pointer
    background: url("assets/faq2.png")
    background-repeat: no-repeat
  h1
    font-size: 2em
    font-family: din-web
    text-transform: uppercase
    background: url("assets/faq3.png")
    background-repeat: no-repeat
    background-position: 50% 0.7em
    padding: 0 0 1em 0
    margin: 0 0 -1em 0
  .go-button
    margin: 0 0 1% 0
  h4.activeFAQ
    background-position-y: -27px
