// TYPOGRAPHY
  // need to add: 'em-calc'

h1, h2, h3, h4, p, b, a, label, .divider, .disclaimer
  font-weight: 600
  font-family: $din
  color: #000

h1, h2, h3
  text-transform: uppercase
  
h1
  font-size: 32px
  line-height: 1.54em
  
h2, .divider
  font-size: 20px
  line-height: 1.55em

h3
  font-size: 18px
  line-height: 22px
  
h4
  font-size: 14px
  line-height: 17px
  
p, label
  font-size: 14px
  font-weight: 500
  line-height: 17px
  
.disclaimer
  font-size: 10px
  font-weight: 500
  line-height: 14px

.help
  padding: 1em 0 0 0
  font-style: italic
  font-size: 11px
