a {
  color: #18408b; }

h1.title {
  display: none; }

.panel-row-top-right:before, .panel-row-top-right:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #18408b; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 1.2em;
    line-height: 1.4em; }

.panel-row-actions {
  background: rgba(0, 0, 0, 0.5); }
  .panel-row-actions .pane-title {
    background: #18408b; }

.panel-row-flexible .panel-pane {
  background: rgba(0, 0, 0, 0.5); }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog .pane-title {
    color: #18408b; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-title {
  color: #18408b;
  background: none;
  margin: 0;
  padding: 0; }
