////////////////////////////
// BLOCK HEADERS
// white-on-blue headings
////////////////////////////
h2.block-title, h2.pane-title
  @extend .block-header
  @extend .white
  @extend .bold
  background-color: $blue
  // padding: 0 $s2
  padding: 6px 12px 6px 12px
  margin-top: 0
  margin-bottom: 0
  line-height: 22px