////////////////////////////
// FOOTER MENU
// site map menus in columns
////////////////////////////
#block-menu-menu-footer
  // +background-with-css2-fallback(image_url('bg-diag-footer-line.png') repeat 0 12px)
  @extend .clearfix
  background-color: $gray2
  padding-top: $s0
  padding-bottom: 20px
  font-family: $font-din
  .content
    @extend .container
    ul.menu
      padding: 0
      margin: 0
      li
        +no-bullets
        margin-left: 0
        padding: 0
        display: block
        margin-right: 0
        width: 206px
        +float-left
        a
          @extend .white
          padding: 0
          line-height: 33px
          text-transform: uppercase
          font-size: $s4
          padding-left: 16px
        > a
          +adjust-font-size-to($s4)
          text-transform: uppercase
          @extend .medium
          line-height: $s3
          margin-bottom: $s0
          +inline-block
      ul
        border-top: 1px $gray-border solid
        padding-left: 0
        padding-top: $s0
        +adjust-font-size-to($s1)
        li
          width: auto
          float: none
          display: block
          padding-top: 0
          line-height: $s5
          a
            @extend .white
            line-height: $s4
            font-size: $s1
            @extend .normal
            text-transform: none
          a[href="http://www.facebook.com/dosomething"]
            background: image_url("icn-footer-fb.png") no-repeat 13% 50%
          a[href="https://twitter.com/#!/dosomething"]
            background: image_url("icn-footer-twtr.png") no-repeat 13% 50%
          a[href="http://www.facebook.com/dosomething"],
          a[href="https://twitter.com/#!/dosomething"]
            padding-left: 55px
            line-height: 30px
