////////////////////////////
// FOOTER MENU
// site map menus in columns
////////////////////////////
#block-menu-menu-footer
  @extend .clearfix
  background-color: $gray2
  padding-top: $s0
  padding-bottom: 20px
  font-family: $font-din
  .content
    @extend .container
    ul.menu
      font-family: $font-din
      padding: 0
      margin: 0
      li
        +no-bullets
        margin-left: 0
        padding: 0
        display: block
        margin-right: 0
        width: 206px
        +float-left
        span
          @extend .white
          @extend .medium
          padding: 0
          line-height: 33px
          text-transform: uppercase
          font-size: $s4
          padding-left: 16px
      ul
        border-top: 1px $gray-border solid
        padding-left: 16px
        padding-top: 10px
        li
          width: auto
          float: none
          display: block
          padding-top: 0
          line-height: 24px
          a
            @extend .white
            line-height: 14px
            font-size: 16px
            @extend .normal
            text-transform: none
          a[href="http://www.facebook.com/dosomething"]
            background: image_url("icn-footer-fb.png") no-repeat 0 50%
          a[href="https://twitter.com/#!/dosomething"]
            background: image_url("icn-footer-twtr.png") no-repeat 0 50%
          a[href="http://www.facebook.com/dosomething"],
          a[href="https://twitter.com/#!/dosomething"]
            padding-left: 35px
            line-height: 30px
