////////////////////////////
// left sidebar blocks
// dark gray background
// w/ white-on-blue headings
////////////////////////////
.region-sidebar-first
  margin-top: 104px
  .block
    @extend .dark-background
    @extend .clearfix
    padding: 0 $s2
    margin-bottom: $s-2
  h2.block-title
    margin: 0 -#{$s2}
  .content
    h2
      @extend .white
      // +adjust-font-size-to($s1, 1, $s5)
      font-size: $s1
.android-app-img
  padding: 10px 0
  border: none !important
  box-shadow: none !important
  -webkit-box-shadow: none important

#block-block-7
  background-image: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(90%,#EFEFEF),color-stop(100%,#D4D2D1));
  background-image: -webkit-linear-gradient(left,#EFEFEF 90%,#D4D2D1);
  background-image: -moz-linear-gradient(left,#EFEFEF 90%,#D4D2D1);
  background-image: -o-linear-gradient(left,#EFEFEF 90%,#D4D2D1);
  background-image: linear-gradient(left,#EFEFEF 90%,#D4D2D1);
  background-color: #EFEFEF;
  margin-right: -5px;
  position: relative;
  top: 5px;
  color: black;
  padding: 10px 10px;
  font-size: 12pt;
  border-bottom: 1px solid #D4D2D1;