////////////////////////////
// left sidebar blocks
// dark gray background
// w/ white-on-blue headings
////////////////////////////
.region-sidebar-first
  margin-top: 104px
  .block
    @extend .dark-background
    @extend .clearfix
    padding: 0 $s2
    margin-bottom: $s-2
  h2.block-title
    margin: 0 -#{$s2}
  .content
    h2
      @extend .white
      // +adjust-font-size-to($s1, 1, $s5)
      font-size: $s1
.android-app-img
  padding: 10px 0
  border: none !important
  box-shadow: none !important
  -webkit-box-shadow: none important

#block-block-7
  background-image: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(90%,#EFEFEF),color-stop(100%,#D4D2D1))
  background-image: -webkit-linear-gradient(left,#EFEFEF 90%,#D4D2D1)
  background-image: -moz-linear-gradient(left,#EFEFEF 90%,#D4D2D1)
  background-image: -o-linear-gradient(left,#EFEFEF 90%,#D4D2D1)
  background-image: linear-gradient(left,#EFEFEF 90%,#D4D2D1)
  background-color: #EFEFEF
  margin-right: -5px
  position: relative
  top: 5px
  color: black
  padding: 10px 10px
  font-size: 12pt
  border-bottom: 1px solid #D4D2D1

#block-block-9
  hr
    border-right: none
    border-left: none
    border-top: 1px solid black
    border-bottom: 1px solid #333
    margin-bottom: 14px
  .about-ds-sb
    padding-top: 10px
    img
      float: left
      padding: 0 10px 2px 0
      margin: 0
      -webkit-border-top-left-radius: 5px
      -moz-border-radius-topleft: 5px
      border-top-left-radius: 5px
    h2
      font-size: 2em
      font-family: din-web
      font-weight: 300
      margin-bottom: 5px
      a
        color: #fed100
      a:hover
        text-decoration: none
        color: white
    p
      font-family: din-web-reg, "Lucida Grande", "Lucida Sans Unicode", sans-serif
      line-height: 1.4em
      font-size: 1em
      a
        color: #fed100
    p.intro-ds, p.cta
      font-size: 1.1em
        
    a.go-go-inspector-gadget
      float: right
      background: #FED100
      padding: 3px 4px
      margin: 4px 0 6px 4px
      border-radius: 5px
      color: #333
      font-weight: 600
      &:hover
        text-decoration: none
        color: #111
#block-block-10
  .ds-sb-saying
    padding-top: 10px
    img
      float: left
      padding: 0 10px 2px 0
      margin: 0
    p
      font-family: din-web-reg, "Lucida Grande", "Lucida Sans Unicode", sans-serif
      line-height: 1.4em
      font-size: 1em
      text-align: left
      span
        font-weight: 500
        float: left
    a
      clear: both
      text-decoration: none
      color: #333
      padding: 6px 10px 4px
      display: block
      //width: 104px
      //float: right
      text-align: center
      margin-bottom: 10px
      font-weight: 600
      text-transform: uppercase
      -webkit-border-radius: 12px
      -moz-border-radius: 12px
      -ms-border-radius: 12px
      -o-border-radius: 12px
      border-radius: 12px
      border: none
      background-color: #FED100
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #FED100))
      background-image: -webkit-linear-gradient(top, white, #FED100)
      background-image: -moz-linear-gradient(top, white, #FED100)
      background-image: -o-linear-gradient(top, white, #FED100)
      background-image: linear-gradient(top, white, #FED100)
      &:hover
        color: black



        