////////////////////////////
// left sidebar blocks
// dark gray background
// w/ white-on-blue headings
////////////////////////////
.region-sidebar-first
  margin-top: 104px
  .block
    @extend .dark-background
    padding: 0 $s2
    margin-bottom: $s-2
  h2.block-title
    @extend .white
    background-color: $blue
    padding: 0 $s2
    margin: 0 -#{$s2}
  h2
    @extend .white
    // +adjust-font-size-to($s1, 1, $s5)
    font-size: $s1
