////////////////////////////
// left sidebar blocks
// LOGGED OUT
// member block log in block
////////////////////////////

.not-logged-in #dosomething-login-register-block
  .form-wrapper
    margin-bottom: 0
  .why
    @extend .highlight-on-dark
    line-height: 30px
    margin-left: 30px
  #edit-or
    line-height: 22px
    text-align: center
  #edit-first-name
    margin-right: 5px
  #edit-first-name,
  #edit-last-name,
    margin-bottom: 5px
    width: 96px
  #edit-cell-or-email
    margin-bottom: 5px
    width: 197px
  #edit-first-submit
    @extend .go-button
    +float-right
    clear: both
    margin-right: 5px
  .or-sign-in
    @extend .highlight-on-dark
    clear: both
    display: block
    padding-bottom: 15px
    text-align: right
