////////////////////////////
// left sidebar blocks
// log in block
////////////////////////////

.not-logged-in #dosomething-login-register-block
  .why
    color: $gold
    line-height: 30px
    margin-left: 30px
  #edit-or
    line-height: 22px
    text-align: center

  .form-item, .form-actions
    margin: 0
  #edit-first-name
    margin-right: 5px
  #edit-first-name,
  #edit-last-name,
    margin-bottom: 5px
    width: 96px
  #edit-cell-or-email
    margin-bottom: 5px
    width: 197px

  #edit-first-submit
    @extend .go-button
    clear: both
    margin-right: 5px

  .or-sign-in
    clear: both
    color: $gold
    display: block
    padding-bottom: 15px
    text-align: right
    