.dosomething-share-a-stat-campaign-short-form
	#webform-component-start-header,
	#edit-submitted-field-webform-email,
	#edit-submitted-field-webform-mobile,
	.form-actions.form-wrapper
		float: left !important
		width: 25%
	#edit-submitted-field-webform-email
		width: 35%
	.form-actions.form-wrapper
		width: 15%
	input
		padding-left: 0.7em
		height: 3em
	form.webform-client-form 
		#edit-submit
			height: 2em
			margin: 0 auto
			padding: 0 0.7em
			line-height: 2.3em
			font-size: 1.7em
	#webform-component-start-header
		h3
			color: white !important
			font-size: 1.5em
			line-height: 1.2em
			font-weight: 500
			text-align: left
			text-transform: uppercase
			font-family: din-web-reg
	.ctia
		clear: both
		font-size: 0.8em
		color: white !important
	#submitted-field-webform-email-add-more-wrapper,
	#submitted-field-webform-mobile-add-more-wrapper
		width: 90%