#breadcrumb
  display: none

.background-image
  margin-top: -23px
  margin-left: -23px
  width: 797px
  height: 250px
  background-position: top left
  background-repeat: no-repeat

h1#page-title
  box-shadow: none
  border: 0px
  position: relative
  top: 30px
  display: inline-block
  width: auto
  line-height: 1.5

.money,
.scholarship-title
  background: rgba(250, 107, 60, 0.8)
  margin-top: 10px
  padding: 0px 10px

.region
  margin-top: 10px
