@import compass

.page-node .content
	form.webform-client-form
		width: 797px
		margin: 0 0 0 -23px
		+box-shadow(none)
		border: 0px
		background: #0c3565
		color: #fff
		padding: 0px

		label
			margin-left: 5px

		img
			border: 0px
			+box-shadow(none)
			padding: 2% 0
			margin: 0 auto
			display: block

		h1
			color: white
			margin: 15px
			margin-top: 0px
			text-align: center

		.quote-highlight p
			background: #a78b79
			max-width: 525px
			margin: 0 auto 0.8em
			padding: 3%
			font-family: din-web-reg
			font-weight: 500
			text-align: center
			line-height: 1
			font-size: 27px
			+border-radius(12px)

		input[type="text"]
			padding: 0.8em 0.5em
			float: left
			height: 3em
			width: 48%
			margin: 1%
			+border-radius(0.3em)

		fieldset
			width: 735px
			margin: 0px auto

		#webform-component-referall-your-info
			.webform-component
				width: 48%
				float: left
				margin: 1%

				input
					width: 100%

		#campaign-opt-in
			text-align: center

			a
				color: #fff

		#edit-actions
			margin: 20px 0px
			text-align: center