@import compass

#upload-cover
	position: relative
	margin: 0px auto
	width: 147px
	cursor: pointer

.form-file.new
	position: relative
	text-align: right
	+opacity(0)
	opacity: 0
	z-index: 2
	width: 100%
	height: 35px
	cursor: pointer

.fakefile
	position: absolute
	top: 0px
	left: 0px
	z-index: 1
	width: 147px

.fakefile,
#edit-submitted-field-crazy-crazy-picture-und-0-remove-button 
	background: #ffcb15
	padding: 10px
	text-transform: uppercase
	font-family: din-web
	font-weight: 600
	font-size: 22px
	width: 100%
	height: 35px
	+border-radius(2px)

#galleriffic span.image-wrapper
	position: relative

form.webform-client-form#webform-client-form-727422
	box-shadow: none
	border: 0px

.image-widget-data
	.file,
	.file-size
		display: none

#edit-submitted-field-share-your-own-image
	label
		display: none

	.description
		display: none

	#edit-submitted-field-share-your-own-image-und-0-upload-button
		visibility: hidden

	.image-widget
		width: 147px
		margin: 0px auto