////////////////////////////
// REUSABLE / EXTENDABLE CLASSES
////////////////////////////

////////////////////////////
// ABSTRACT EXTENDABLES
// extend these liberally
////////////////////////////
.italic
  font-style: italic

.medium
  font-weight: bold
  font-weight: 500

.bold
  font-weight: bold
  font-weight: 600

.blue
  color: $blue
.black
  color: $black
.gold
  color: $gold
.purple
  color: $purple
.white
  color: $white
.black
  color: $black
.gray1
  color: $gray1
.gray2
  color: $gray2
.gray3
  color: $gray3
.gray4
  color: $gray4
.gray5
  color: $gray5
.gray6
  color: $gray6
.blue-light
  color: $blue-light

.small
  font-size: $s-1

.text-shadow
  +text-shadow($gray2-trans, 1px, 1px, 2px)


////////////////////////////
// PURPLE RIBBON
// home page
// din, 33px, bold, white
////////////////////////////
.purple-ribbon
  @extend .headers
  @extend .bold
  @extend .white
  @extend .text-shadow
  font-size: $s8

////////////////////////////
// DO THIS BUTTON
// large like on the home page
// din, 69px, bold, gold
////////////////////////////
.dothis-button-large
  @extend .headers
  @extend .bold
  @extend .gold
  @extend .text-shadow
  font-size: $s11

////////////////////////////
// SHARE OF THE DAY
// din, 31px, bold, black
////////////////////////////
.share-of-the-day
  @extend .headers
  @extend .bold
  font-size: $s5

////////////////////////////
// TEXT ON DARK BACKGROUND
// normal, white
////////////////////////////
.text-on-dark
  @extend .white

////////////////////////////
// HILIGHT ON DARK
// hilight text (gold) for dark backgrounds
// normal, gold
////////////////////////////
.highlight-on-dark
  @extend .gold

////////////////////////////
// DARK BACKGROUNDS
// white text
// links: light gray, gold hover
////////////////////////////
.dark-background
  background-color: $gray1
  @extend .text-on-dark
  a
    +link-colors($gray6, $gold, $gold, $gray6, false)


////////////////////////////
// SIDE BAR FORMS
// light gray
////////////////////////////
.field-text
  @extend .gray5

////////////////////////////
// DROPDOWNS
// din, bold, white
////////////////////////////
.dropdown
  @extend .headers
  @extend .bold
  @extend .white

////////////////////////////
// DROPDOWN CATEGORIES
// 14px
////////////////////////////
.dropdown-catefories
  @extend .dropdown
  font-size: $s1

////////////////////////////
// DROPDOWN CHOICES
// 12px / 21px
////////////////////////////
.dropdown-choices
  @extend .dropdown
  font-size: $s0
  line-height: $s5

////////////////////////////
// SPONSORS WHO ROCK
// din, bold, white, 14px
////////////////////////////
.sponsors-who-rock
  @extend .headers
  @extend .bold
  @extend .white
  font-size: $s1


////////////////////////////
// EXTENDABLES FOR
// "APP STYLE" LAYOUTS
////////////////////////////
////////////////////////////
// APP MODULES
// normal, 14px line height
////////////////////////////
.app-module
  line-height: $s1

////////////////////////////
// APP FOOTER
// din, medium
////////////////////////////
.app-footer
  @extend .headers
  @extend .medium

////////////////////////////
// APP PURPLE RIBBON
// purple, bg, din, bold, white, caps, shadow
////////////////////////////
.app-purple-ribbon
  @extend .headers
  @extend .bold
  @extend .white
  @extend .caps
  @extend .text-shadow
  background-color: $purple


////////////////////////////
// EXTENDABLES FOR
// PROJECT PAGES
////////////////////////////
////////////////////////////
// START A PROJECT PROMPT / INVITE A FRIEND
// din, 21px, bold, black, caps
////////////////////////////
.start-project, .invite-friend
  @extend .headers
  @extend .bold
  @extend .black
  @extend .caps
  font-size: $s5

////////////////////////////
//
////////////////////////////




////////////////////////////
// GLOBAL ITEMS FROM
// THE STYLE GUIDE
////////////////////////////
.main-nav
  @extend .headers
  @extend .yellow
  @extend .bold
  @extend .caps
  font-size: $s9
  &.hover
    @extend .white

.main-nav-dropdown
  @extend .headers
  @extend .white
  @extend .bold
  @extend .caps
  font-size: $s4
  line-height: 38px
  &.hover
    @extend .yellow

.main-footer-nav
  @extend .headers
  @extend .white
  @extend .caps
  font-size: $s4

.footer-links
  @extend .headers
  @extend .white
  @extend .medium
  @extend .caps
  font-size: $s1

.page-links
  a
    @extend .blue
    font-size: $s0
    +remove-link-underlines
    &.hover
      text-decoration: underline

.breadcrumbs
  font-size: $s-1
  color: $gray-border
  text-transform: lowercase

.counter-labels
  @extend .headers
  @extend .bold
  @extend .black
  @extend .caps
  font-size: $s5

.filter-dropdowns
  @extend .main-footer-nav

.page-content-text
  @extend .page-links
  @extend .black
  line-height: 14px
  text-transform: none

h1
  .page-headline
    @extend .headers
    @extend .bold
    @extend .black
    @extend .caps
    font-size: $s10

h2
  .subhead
    @extend .page-headline
    font-size: $s5

h3
  .subhead
    @extend .headers
    @extend .bold
    @extend .black
    font-size: $s1

.module-titles
  @extend .headers
  @extend .bold
  @extend .white
  @extend .caps
  font-size: $s5

.headlines
  a
    @extend .headers
    @extend .bold
    @extend .blue
    @extend .caps
    +remove-link-underlines
    font-size: $s1
    &.hover
      text-decoration: underline

.content-text
  @extend .black
  font-size: $s0
  line-height: 14px

.right-sidebar
  .sidebar-title
    @extend .headers
    @extend .bold
    @extend .white
    @extend .caps
  .headlines
    a
      @extend .headers
      @extend .bold
      @extend .blue
      @extend .caps
      +remove-link-underlines
      &.hover
        text-decoration: underline
  .content-text
    @extend .content-text

////////////////////////////
// OLD EXTENDABLE CLASSES
// refactor or remove
////////////////////////////

