////////////////////////////
// REUSABLE / EXTENDABLE CLASSES
////////////////////////////

////////////////////////////
// ABSTRACT EXTENDABLES
// extend these liberally
////////////////////////////
/* ABSTRACT EXTENDABLES
.italic
  font-style: italic

.normal
  font-weight: normal
  font-weight: 300

.medium
  font-weight: bold
  font-weight: 500

.bold
  // As discussed on 3/1/12, please globally switch from DIN bold font to medium.
  // font-weight: bold
  // font-weight: 600
  @extend .medium

.yellow
  color: $yellow
.blue
  color: $blue
.black
  color: $black
.gold
  color: $gold
.purple
  color: $purple
.white
  color: $white
.black
  color: $black
.gray1
  color: $gray1
.gray2
  color: $gray2
.gray3
  color: $gray3
.gray4
  color: $gray4
.gray5
  color: $gray5
.gray6
  color: $gray6
.blue-light
  color: $blue-light

.alert-green
  color: $alert-green
.alert-red
  color: red

.small
  font-size: $s-1

.tight-leading
  font-size: $s0
  line-height: $s1

.text-shadow
  +text-shadow($gray2-trans 1px 1px 2px)
.box-shadow
  +box-shadow($gray3-trans 0 0 12px)
.box-shadow-none
  +box-shadow($gray3-trans 0 0px 0px)

.white-border
  border: 1px $white solid

// Used for 60x60, 120x120, dosomething-stats, and on forms
.border-and-shadow
  @extend .white-border
  @extend .box-shadow

////////////////////////////
// LARGE IMAGE FIELD SHADOW AND WHITE BORDER
// white border, center shadow underneath
// used on blog, how to, front page slider, project slider
////////////////////////////
.field-name-field-picture
  +background(image_url("rounded-bottom-shadow.png") no-repeat 0 330px)
  img
    @extend .white-border
    margin-bottom: 24px

// Exception for action guide
.node-type-action-guide
  .field-name-field-picture
    +background(image_url("rounded-bottom-shadow.png") no-repeat bottom)
    img
      max-height: 330px

// Extendable bottom borders
.gray3-border
  border-bottom: 1px $gray3 solid

.gray6-border
  border-bottom: 1px $gray6 solid

////////////////////////////
// GENERAL EXTENDABLES
////////////////////////////
/* GENERAL EXTENDABLES
.bold-caps-header
  @extend .headers
  @extend .bold
  @extend .caps

.large-bold-caps
  @extend .bold-caps-header
  font-size: $s5

.page-headline
  @extend .headers
  @extend .bold
  @extend .black
  font-size: $s10

h1.title
  @extend .page-headline
  +ds-bevel-single
  padding-top: $s6
  padding-bottom: $s0

h2.subhead
  @extend .page-headline
  font-size: $s5
  line-height: 22px

h3.subhead
  @extend .page-headline
  font-size: $s1
  text-transform: none

// Alternate h2.title for panels
// Black and no background or padding
.black-h2
  h2,
  h2.pane-title
    @extend .page-headline
    background-color: transparent
    display: inline
    font-size: $s5
    letter-spacing: 0
    line-height: 1.7
    padding: 0

/* MORE SPECIFIC EXTENDABLES
////////////////////////////
// PROFILE INFO
// din, 21px, 17px
////////////////////////////
.large-profile-info
  @extend .headers
  font-size: $s5
.medium-profile-info
  @extend .headers
  font-size: $s3

// Commas after taxonomy terms
.field-name-taxonomy-vocabulary-5
  .field-item
    &:after
      content: ', '
    &:last-of-type
      &:after
        content: ''

////////////////////////////
// PURPLE RIBBON
// home page
// din, 33px, bold, white
////////////////////////////
.purple-ribbon
  @extend .headers
  @extend .bold
  @extend .white
  @extend .text-shadow
  font-size: $s8

////////////////////////////
// DO THIS BUTTON
// large like on the home page
// din, 69px, bold, gold
////////////////////////////
.dothis-button-large
  @extend .headers
  @extend .bold
  @extend .gold
  @extend .text-shadow
  font-size: $s11

////////////////////////////
// GO BUTTON
// small with 2-tone gold like on log in overlay
////////////////////////////
.go-button
  @extend .headers
  // @extend .bold
  font-weight: bold
  @extend .gray2
  +border-radius($s0)
  border: none
  height: $s7
  padding: 1px 13px 0
  background-color: $gold
  +background-image(linear-gradient(top, $white, $gold))
  font-size: $s4
  text-transform: uppercase
  &:hover, &:active, &:visited
    @extend .gray2
    text-decoration: none

.go-button-logo
  @extend .headers
  @extend .bold
  @extend .gray2
  display: block
  background-image: image-url("go-button-logo.png")
  background-repeat: no-repeat
  width: image-width("go-button-logo.png")
  height: image-height("go-button-logo.png")
  font-size: $s4
  line-height: 2
  text-align: center
  text-transform: uppercase

////////////////////////////
// float submit buttons to
// right on inline forms
////////////////////////////
.submit-right
  float: right
  clear: none

////////////////////////////
// TEXT ON DARK BACKGROUND
// normal, white
////////////////////////////
.text-on-dark
  @extend .white

////////////////////////////
// HILIGHT ON DARK
// hilight text (gold) for dark backgrounds
// normal, gold
////////////////////////////
.highlight-on-dark
  @extend .gold

////////////////////////////
// DARK BACKGROUNDS
// white text
// links: light gray, gold hover
////////////////////////////
.dark-background
  background-color: $gray1
  @extend .text-on-dark
  a
    +link-colors($gray6, $gold, $gold, $gray6, false)


////////////////////////////
// SIDE BAR FORMS
// light gray
////////////////////////////
.field-text
  @extend .gray5

////////////////////////////
// DROPDOWNS
// din, bold, white
////////////////////////////
.dropdown
  @extend .headers
  @extend .bold
  @extend .white
////////////////////////////
// DROPDOWN CATEGORIES
// 14px
////////////////////////////
.dropdown-categories
  @extend .dropdown
  font-size: $s5
////////////////////////////
// DROPDOWN CHOICES
// 12px / 21px
////////////////////////////
.dropdown-choices
  @extend .dropdown
  @extend .gray6
  font-size: $s3
  line-height: $s6
  &:hover
    @extend .gold


////////////////////////////
// SIDEBAR DROPDOWNS
////////////////////////////
.sidebar-dropdown-categories
  @extend .dropdown
  font-size: $s1
.sidebar-dropdown-choices
  @extend .dropdown
  @extend .gray5
  font-size: $s0
  line-height: $s5
  &:hover
    @extend .gold



////////////////////////////
// MEMBER DROPDOWN CHOICES
////////////////////////////
.member-expanded
  @extend .headers
  @extend .medium
  @extend .gray5
  font-size: $s0
  line-height: $s5
  &:hover
    @extend .gold



////////////////////////////
// TEASER HEADING
// din, blue, 18px
////////////////////////////
.teaser-heading
  @extend .headers
  @extend .bold
  @extend .blue
  font-size: $s4

////////////////////////////
// TEASER DATE
// din, medium, gray4
////////////////////////////
.teaser-date
  @extend .headers
  @extend .medium
  @extend .gray4


////////////////////////////
// SPONSORS WHO ROCK
// din, bold, white, 14px
////////////////////////////
.sponsors-who-rock
  @extend .headers
  @extend .bold
  @extend .white
  font-size: $s1


////////////////////////////
// EXTENDABLES FOR
// "APP STYLE" LAYOUTS
////////////////////////////

////////////////////////////
// APP FOOTER
// din, medium
////////////////////////////
.app-footer
  @extend .headers
  @extend .medium

////////////////////////////
// APP PURPLE RIBBON
// purple, bg, din, bold, white, caps, shadow
////////////////////////////
.app-purple-ribbon
  @extend .headers
  @extend .bold
  @extend .white
  @extend .caps
  @extend .text-shadow
  background-color: $purple


////////////////////////////
// ACCORDIAN SELECTED CATEGORY
// din, bold, white
////////////////////////////
.accordian
  @extend .white
.accordian-selected-category
  @extend .headers
  @extend .bold
  @extend .white
  font-size: $s4

////////////////////////////
// TWO COLUMN GRID
// Used on the action guides landing, and member profile more pages
////////////////////////////
.two-column-grid
  .views-row
    width: 49%
    &:nth-of-type(odd),
    .views-row-odd
      float: left
      clear: left
    &:nth-of-type(even),
    .views-row-even
      float: right
  .pane-content
    @extend .clearfix


////////////////////////////
// IMAGE TEASER MODULE
// square image, teaser in
// white box filling the
// rest of the space
////////////////////////////
.image-teaser-module
  @extend .clearfix
  margin-bottom: $s0
.image-teaser-module-image
  @extend .border-and-shadow
  float: left
  width: 120px
  height: 120px
.image-teaser-module-teaser
  @extend .border-and-shadow
  background-color: $white
  min-height: 120px
  padding: $s6 $s0 0 $s0
  margin-left: 120px + $s-2
  h2
    @extend .bold
    line-height: 1
    margin-bottom: $s4
  p
    @extend .tight-leading
    margin-bottom: 0


////////////////////////////
// BOX-DETAILS LAYOUTS
////////////////////////////




////////////////////////////
// GLOBAL ITEMS FROM
// THE STYLE GUIDE
////////////////////////////
.main-nav
  @extend .headers
  @extend .yellow
  @extend .bold
  @extend .caps
  font-size: $s9
  &.hover
    @extend .white

.main-nav-dropdown
  @extend .headers
  @extend .white
  @extend .bold
  @extend .caps
  font-size: $s4
  line-height: 38px
  &.hover
    @extend .yellow

.main-footer-nav
  @extend .headers
  @extend .white
  @extend .caps
  font-size: $s4

.footer-links
  @extend .headers
  @extend .white
  @extend .medium
  @extend .caps
  font-size: $s1

.page-links
  a
    @extend .blue
    font-size: $s0
    +remove-link-underlines
    &.hover
      text-decoration: underline

// More link when in custom panel
.more-link-right
  float: right

.breadcrumbs
  font-size: $s-1
  color: $gray-border
  text-transform: lowercase

.filter-dropdowns
  @extend .main-footer-nav

.page-content-text
  @extend .page-links
  @extend .black
  line-height: 14px
  text-transform: none

.module-titles
  @extend .headers
  @extend .bold
  @extend .white
  @extend .caps
  font-size: $s5

.headlines
  a
    @extend .headers
    @extend .bold
    @extend .blue
    @extend .caps
    +remove-link-underlines
    font-size: $s1
    &.hover
      text-decoration: underline

// Block header white title style with blue background
.block-header
  @extend .white
  background-color: $blue
  padding: 0 $s2
  margin-top: 0
  margin-bottom: 0
  line-height: 1.714285714

.content-text
  @extend .black
  font-size: $s0
  line-height: 14px

.right-sidebar-headlines
  a
    @extend .headers
    @extend .bold
    @extend .blue
    +remove-link-underlines
    &.hover
      text-decoration: underline

.right-sidebar
  .sidebar-title
    @extend .headers
    @extend .bold
    @extend .white
    @extend .caps
  .headlines
    @extend .right-sidebar-headlines
  .content-text
    @extend .content-text

// Label styling for vital stats counter
.counter-labels
  @extend .headers
  @extend .bold
  @extend .black
  @extend .caps
  display: inline
  font-size: $s5
  letter-spacing: 0
  padding-right: $s2


// Number styling for vital stats counter
.digits
  position: relative
  top: -6px
  span
    @extend .counter-labels
    background: image_url("counter.png") no-repeat -1px -1px
    border: 1px $gray5 solid
    font-size: 27px
    height: 27px
    +inline-block
    line-height: $s7
    padding: 0
    text-align: center
    width: 29px

// White Headline title style used in modal popups
.popup-title
  @extend .white
  @extend .bold
  font-family: $font-headline
  font-size: 40px
  border-bottom: 1px $gray-border-alt solid
  line-height: 40px
  padding-bottom: 12px

// Gray second border under title in modal popups
.popup-title-border
  border-top: 1px $gray-border solid
  padding-top: 12px

// Add gray background to home page content
#block-panels-mini-home-page
  .content
    background: #EFEFEF
    // padding: 20px

// News & Stuff panel
.view-news-stuff
  border: 1px solid $white
  padding-bottom: 24px
.pane-news-stuff
  .pane-content
    h3
      @extend .bold
      +adjust-font-size-to($s5, 1)
      margin-bottom: 0.25em
    p
      +adjust-font-size-to($s2)
      line-height: 1.3em
    img
      +float-left
      margin-right: 14px
      @extend .border-and-shadow
  .views-row
    @extend .clearfix
    padding: 30px 24px 0 24px


// Narrow block with header, thumbnail, and title with teaser
// i.e. related stuff, doing it, done it, club members, act now, resources
.pane-narrow-block
  ul
    list-style: none
  .item-list ul li
    margin: 0
  .views-row
    @extend .clearfix
    +ds-bevel-single
    padding: $s2 0
    &:last-of-type
      +box-shadow-none
      border-bottom: none
  .views-field-title
    @extend .right-sidebar-headlines
  .project-related-thumb,
  .pane-narrow-thumb
    float: left
    img
      @extend .border-and-shadow
      margin-right: $s0
      height: 60px
      width: 60px
  .views-field-field-description p,
  .views-field-field-campaign-teaser p
    margin-left: 72px

// Start a project link on project submission pages
.start-a-project
  text-align: right
  &:before
    content: 'Start a Project'
    @extend .counter-labels
  a:visited
    @extend .gray2

////////////////////////////
// OLD EXTENDABLE CLASSES
// refactor or remove
////////////////////////////
