////////////////////////////
// REUSABLE / EXTENDABLE CLASSES
////////////////////////////

////////////////////////////
// ABSTRACT EXTENDABLES
// extend these liberally
////////////////////////////
/* ABSTRACT EXTENDABLES
%italic
  font-style: italic
  
%normal
  font-weight: normal
  font-weight: 300
  
%medium
  font-weight: bold
  font-weight: 500
  
%bold
  // As discussed on 3/1/12, please globally switch from DIN bold font to medium.
  // font-weight: bold
  // font-weight: 600
  @extend %medium

%yellow, .yellow
  color: $yellow
%blue, .blue
  color: $blue
%black, .black
  color: $black
%gold, .gold
  color: $gold
%purple, .purple
  color: $purple
%white, .white
  color: $white
%black, .black
  color: $black
%gray1, .gray1
  color: $gray1
%gray2, .gray2
  color: $gray2
%gray3, .gray3
  color: $gray3
%gray4, .gray4
  color: $gray4
%gray5, .gray5
  color: $gray5
%gray6, .gray6
  color: $gray6
%blue-light, .blue-light
  color: $blue-light

%alert-green, .alert-green
  color: $alert-green
%alert-red, .alert-red
  color: red

%small, .small
  font-size: $s-1

%tight-leading, .tight-leading
  font-size: $s0
  line-height: $s1

%text-shadow, .text-shadow
  +text-shadow($gray2-trans 1px 1px 2px)
%box-shadow, .box-shadow
  +box-shadow($gray3-trans 0 0 12px)
%box-shadow-none, .box-shadow-none
  +box-shadow($gray3-trans 0 0px 0px)

%white-border, .white-border
  border: 1px $white solid

// Used for 60x60, 120x120, dosomething-stats, and on forms
%border-and-shadow, .border-and-shadow
  @extend %white-border
  @extend %box-shadow

////////////////////////////
// LARGE IMAGE FIELD SHADOW AND WHITE BORDER
// white border, center shadow underneath
// used on blog, how to, front page slider, project slider
////////////////////////////
.field-name-field-picture
  +background(image_url("rounded-bottom-shadow.png") no-repeat left 0 322px)
  .ie8 &,
  .ie7 &
    +background(image_url("rounded-bottom-shadow.gif") no-repeat left 0 322px)
  img
    @extend %white-border
    margin-bottom: 24px

// REMOVE SHADOWS FROM TAXONOMY
.page-taxonomy-term
  .field-name-field-picture
    background: none !important    

// Exception for action guide and some blog posts
.node-type-action-guide,
.node-blog
  .field-name-field-picture
    +background(image_url("rounded-bottom-shadow.png") no-repeat bottom)
    .ie8 &,
    .ie7 &
      +background(image_url("rounded-bottom-shadow.gif") no-repeat bottom)
    img
      max-height: 330px

// Extendable bottom borders
%gray3-border, .gray3-border
  border-bottom: 1px $gray3 solid

%gray6-border, .gray6-border
  border-bottom: 1px $gray6 solid

////////////////////////////
// GENERAL EXTENDABLES
////////////////////////////
/* GENERAL EXTENDABLES
%bold-caps-header, .bold-caps-header
  @extend %headers
  @extend %bold
  @extend %caps

%large-bold-caps, .large-bold-caps
  @extend %bold-caps-header
  font-size: $s5

%page-headline, .page-headline
  @extend %headers
  @extend %bold
  @extend %black

h1.title
  +ds-bevel-single
  padding-top: $s6
  padding-bottom: $s0

h3.subhead
  font-size: $s1
  text-transform: none

// Alternate h2.title for panels
// Black and no background or padding
%black-h2, .black-h2
  h2,
  h2.pane-title
    background-color: transparent
    display: inline
    font-size: $s5
    letter-spacing: 0
    line-height: 1.7
    padding: 0

/* MORE SPECIFIC EXTENDABLES
////////////////////////////
// PROFILE INFO
// din, 21px, 17px
////////////////////////////
%large-profile-info, .large-profile-info
  @extend %headers
  font-size: $s5
.medium-profile-info
  @extend %headers
  font-size: $s3

////////////////////////////
// PURPLE RIBBON
// home page
// din, 33px, bold, white
////////////////////////////
.purple-ribbon
  @extend %headers
  @extend %bold
  @extend %white
  @extend %text-shadow
  font-size: $s8

////////////////////////////
// DO THIS BUTTON
// large like on the home page
// din, 69px, bold, gold
////////////////////////////
.dothis-button-large
  @extend %headers
  @extend %bold
  @extend %gold
  @extend %text-shadow
  font-size: $s11

////////////////////////////
// GO BUTTON
// small with 2-tone gold like on log in overlay
////////////////////////////
%go-button, .go-button
  @extend %headers
  // @extend %bold
  font-weight: bold
  @extend %gray2
  //+border-radius($s0)
  +border-radius (6px)
  //+box-shadow (1px 1px 3px 0px #999)
  border: none
  height: $s7
  padding: 1px 13px 0
  background-color: $gold
  //+background-image(linear-gradient(top, $white, $gold))
  font-size: $s4
  text-transform: uppercase
  &:hover, &:active, &:visited
    //@extend %gray2
    color: black
    text-decoration: none

%go-button-logo, .go-button-logo
  @extend %headers
  @extend %bold
  @extend %gray2
  display: block
  background-image: image-url("go-button-logo.png")
  background-repeat: no-repeat
  width: image-width("go-button-logo.png")
  height: image-height("go-button-logo.png")
  font-size: $s4
  line-height: 2
  text-align: center
  text-transform: uppercase
  &:hover
    text-decoration: none

////////////////////////////
// float submit buttons to
// right on inline forms
////////////////////////////
%submit-right, .submit-right
  float: right
  clear: none

////////////////////////////
// TEXT ON DARK BACKGROUND
// normal, white
////////////////////////////
%text-on-dark, .text-on-dark
  @extend %white

////////////////////////////
// HILIGHT ON DARK
// hilight text (gold) for dark backgrounds
// normal, gold
////////////////////////////
%highlight-on-dark, .highlight-on-dark
  @extend %gold

////////////////////////////
// DARK BACKGROUNDS
// white text
// links: light gray, gold hover
////////////////////////////
%dark-background, .dark-background
  background-color: $gray1
  @extend %text-on-dark
  a
    +link-colors($gray6, $gold, $gold, $gray6, false)


////////////////////////////
// SIDE BAR FORMS
// light gray
////////////////////////////
.field-text
  @extend %gray5

////////////////////////////
// DROPDOWNS
// din, bold, white
////////////////////////////
%dropdown, .dropdown
  @extend %headers
  @extend %bold
  @extend %white
////////////////////////////
// DROPDOWN CATEGORIES
// 14px
////////////////////////////
%dropdown-categories, .dropdown-categories
  @extend %dropdown
  font-size: $s5
////////////////////////////
// DROPDOWN CHOICES
// 12px / 21px
////////////////////////////
.dropdown-choices
  @extend %dropdown
  @extend %gray6
  font-size: $s3
  line-height: $s6
  &:hover
    @extend %gold


////////////////////////////
// SIDEBAR DROPDOWNS
////////////////////////////
.sidebar-dropdown-categories
  @extend %dropdown
  font-size: $s1
.sidebar-dropdown-choices
  @extend %dropdown
  @extend %gray5
  font-size: $s0
  line-height: $s5
  &:hover
    @extend %gold



////////////////////////////
// MEMBER DROPDOWN CHOICES
////////////////////////////
%member-expanded, .member-expanded
  @extend %headers
  @extend %medium
  @extend %gray5
  font-size: $s0
  line-height: $s5
  &:hover
    @extend %gold



////////////////////////////
// TEASER HEADING
// din, blue, 18px
////////////////////////////
.teaser-heading
  @extend %headers
  @extend %bold
  @extend %blue
  font-size: $s4

////////////////////////////
// TEASER DATE
// din, medium, gray4
////////////////////////////
.teaser-date
  @extend %headers
  @extend %medium
  @extend %gray4


////////////////////////////
// SPONSORS WHO ROCK
// din, bold, white, 14px
////////////////////////////
.sponsors-who-rock
  @extend %headers
  @extend %bold
  @extend %white
  font-size: $s1


////////////////////////////
// EXTENDABLES FOR
// "APP STYLE" LAYOUTS
////////////////////////////

////////////////////////////
// APP FOOTER
// din, medium
////////////////////////////
.app-footer
  @extend %headers
  @extend %medium

////////////////////////////
// APP PURPLE RIBBON
// purple, bg, din, bold, white, caps, shadow
////////////////////////////
.app-purple-ribbon
  @extend %headers
  @extend %bold
  @extend %white
  @extend %caps
  @extend %text-shadow
  background-color: $purple


////////////////////////////
// ACCORDIAN SELECTED CATEGORY
// din, bold, white
////////////////////////////
.accordian
  @extend %white
.accordian-selected-category
  @extend %headers
  @extend %bold
  @extend %white
  font-size: $s4

////////////////////////////
// TWO COLUMN GRID
// Used on the action guides landing, and member profile more pages
////////////////////////////
%two-column-grid
  .views-row
    width: 49%
    .ie8 &
      height: 120px
      overflow: hidden
    &:nth-of-type(odd)
      clear: left
      float: left
    &:nth-of-type(even)
      float: right
  .views-row-odd
    float: left
  .views-row-even
    float: right
  .pane-content
    @extend %clearfix

////////////////////////////
// IMAGE TEASER MODULE
// square image, teaser in
// white box filling the
// rest of the space
////////////////////////////
%image-teaser-module
  @extend %clearfix
  margin-bottom: $s0
%image-teaser-module-image
  @extend %border-and-shadow
  float: left
  width: 120px
  height: 120px
%image-teaser-module-teaser
  @extend %border-and-shadow
  background-color: $white
  min-height: 120px
  padding: $s6 $s0 0 $s0
  margin-left: 120px + $s-2
  .ie8 &
    min-height: 97px
  h2
    @extend %bold
    display: block
    line-height: 22px
    margin-bottom: 10px
  p
    @extend %tight-leading
    margin-bottom: 0

////////////////////////////
// SEARCH IMAGES
////////////////////////////
li.search-result
  img
    @extend %border-and-shadow

////////////////////////////
// BOX-DETAILS LAYOUTS
////////////////////////////




////////////////////////////
// GLOBAL ITEMS FROM
// THE STYLE GUIDE
////////////////////////////
.main-nav
  @extend %headers
  @extend %yellow
  @extend %bold
  @extend %caps
  font-size: $s9
  &.hover
    @extend %white

.main-nav-dropdown
  @extend %headers
  @extend %white
  @extend %bold
  @extend %caps
  font-size: $s4
  line-height: 38px
  &.hover
    @extend %yellow

%main-footer-nav
  @extend %headers
  @extend %white
  @extend %caps
  font-size: $s4

.footer-links
  @extend %headers
  @extend %white
  @extend %medium
  @extend %caps
  font-size: $s1

%page-links
  a
    @extend %blue
    font-size: $s0
    +remove-link-underlines
    &.hover
      text-decoration: underline

// More link when in custom panel
%more-link-right
  float: right
  margin-bottom: 2em

.breadcrumbs
  font-size: $s-1
  color: $gray-border
  text-transform: lowercase

.filter-dropdowns
  @extend %main-footer-nav

.page-content-text
  @extend %page-links
  @extend %black
  line-height: 14px
  text-transform: none

.module-titles
  @extend %headers
  @extend %bold
  @extend %white
  @extend %caps
  font-size: $s5

.headlines
  a
    @extend %headers
    @extend %bold
    @extend %blue
    @extend %caps
    +remove-link-underlines
    font-size: $s1
    &.hover
      text-decoration: underline

// Block header white title style with blue background
%block-header
  @extend %white
  background-color: $blue
  padding: 0 $s2
  margin-top: 0
  margin-bottom: 0
  line-height: 1.714285714

%content-text
  @extend %black
  font-size: $s0
  line-height: 14px

%right-sidebar-headlines
  a
    @extend %headers
    font-size: bold
    @extend %blue
    +remove-link-underlines
    &.hover
      text-decoration: underline

.right-sidebar
  .sidebar-title
    @extend %headers
    @extend %bold
    @extend %white
    @extend %caps
  .headlines
    @extend %right-sidebar-headlines
  .content-text
    @extend %content-text

// Label styling for vital stats counter
%counter-labels
  @extend %headers
  @extend %bold
  @extend %black
  @extend %caps
  display: inline
  font-size: $s5
  letter-spacing: 0
  padding-right: $s2


// Number styling for vital stats counter
=stats-digits
  @extend %counter-labels
  background: image_url("counter.png") no-repeat -1px -1px
  border: 1px $gray5 solid
  font-size: 27px
  height: 27px
  +inline-block
  line-height: $s7
  padding: 0
  position: relative
  text-align: center
  top: -6px
  width: 29px

// Styling on actual numbers
.digits
  span
    +stats-digits
    &:nth-last-of-type(3n+4),
      &:after
        content: ','
        position: relative
        right: -2px

// Styling on digit place-holders
.empty-digit
  +stats-digits
  z-index: 2

// White Headline title style used in modal popups
%popup-title, .popup-title
  @extend %white
  @extend %bold
  font-family: $font-headline
  font-size: 40px
  border-bottom: 1px $gray-border-alt solid
  line-height: 40px
  padding-bottom: 12px

// Gray second border under title in modal popups
%popup-title-border, .popup-title-border
  border-top: 1px $gray-border solid
  padding-top: 12px

// Add gray background to home page content
#block-panels-mini-home-page
  .content
    background: #EFEFEF
    // padding: 20px

// News & Stuff panel
.pane-news-stuff
  .pane-content
    h3
      @extend %bold
      +adjust-font-size-to($s5, 1)
      margin-bottom: 0.25em
    p
      +adjust-font-size-to($s2)
      line-height: 1.3em
    img
      +float-left
      margin-right: 14px
      @extend %border-and-shadow
  .views-row
    @extend %clearfix
    padding-top: 30px
  .news-title
    padding-top: 15px
  h3.news-title
    padding-top: 0


// Narrow block with header, thumbnail, and title with teaser
// i.e. related stuff, doing it, done it, club members, act now, resources
%pane-narrow-block,
.pane-narrow-block
  ul
    list-style: none
  .item-list ul li
    margin: 0
  .views-row
    @extend %clearfix
    +ds-bevel-single
    padding: $s2 0
    &:last-of-type
      +box-shadow-none
      border-bottom: none
  .views-field-title
    @extend %right-sidebar-headlines
    a
      font-size: 14px
      font-weight: bold
  .views-field-views-ifempty,
  .project-related-thumb,
  .pane-narrow-thumb
    float: left
    margin-right: $s0
    width: 60px
    img
      @extend %border-and-shadow
      height: 60px
      width: 60px

// Start a project link on project submission pages
.start-a-project
  text-align: right
  height: 30px
  margin-bottom: 12px
  margin-top: 12px
  &:before
    content: 'Start a Project'
    @extend %counter-labels
  a:visited
    @extend %gray2

////////////////////////////
// OLD CLASSES
// asked to include by client for content
////////////////////////////

img.goright
  float: right
  margin-left: 10px

img.goleft
  float: left
  margin-right: 10px
  
// Image Hover Style for Staff Bio Photos

ul.hover-image
  margin: 0
  padding: 0
  list-style-type: none
  float: left
  
  li:first-child
    display: none

// Added to support staff listing
.content
  div.staff_bio
    width: 100%
    overflow: auto
    margin-bottom: 20px
    box-sizing: border-box
    img
      margin-top: 0

// CTIA signup buttom
.pane-campaign-sign-up #edit-actions
  position: absolute
  bottom: 26px !important 

#campaign-opt-in
  font-size: 11px
  line-height: 1.2em
  padding-top: 10px !important
 
//.webform-client-form
  //position: relative
  //#edit-actions
    //position: absolute
    //right: 0px
    //bottom: 40px

//single pages fixs
.page-node-724211, .page-node-718444
  .webform-client-form
    #edit-actionson
      position: static

//Student-financial-education page
.btn-tell
  .mcommons-webform-column 
    .go-button
      left: 90px !important    


// SCHOLARSHIP PAGE
.page-scholarships
  #breadcrumb
    display: none
  .panel-row-ad-quick-info
    p
      font-size: 14px
      line-height: 1.4em
      margin-bottom: 20px
  .panel-top-right-mini-info
    -moz-box-shadow: none
    -webkit-box-shadow: none
    -o-box-shadow: none
    box-shadow: none
    border-bottom: none
