#main-wrapper div[role="main"] {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent;
  width: 800px; }
#main-wrapper #breadcrumb, #main-wrapper #page-title, #main-wrapper #block-dosomething-login-become-member, #main-wrapper #block-dosomething-blocks-dosomething-make-impact, #main-wrapper #block-dosomething-blocks-dosomething-social-skyscraper, #main-wrapper #block-block-5 {
  display: none; }
#main-wrapper ul.primary {
  border-bottom: none;
  margin: 0;
  padding: 15px 0 0 8px;
  height: 37px; }

.ds-panel .pane-content {
  padding-bottom: 0; }

body {
  background: #241f20 url(assets/bg.jpg) no-repeat top center;
  background-size: 100%; }

.page-team #contact-form #webform-component-start-header {
  display: none; }

.page-node-724776 #contact-form #webform-component-join-header {
  display: none; }

@media only screen and (max-width: 1075px) {
  .region-sidebar-first {
    display: none; }

  #site-name {
    top: -53px;
    left: 23px; }
    #site-name a {
      height: 50px;
      width: 60px;
      background-size: 60px; }

  #utility-bar {
    height: 55px; }

  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .search, #utility-bar #block-dosomething-blocks-dosomething-utility-bar #help-center {
    display: none; }
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .login {
    padding: 1em 2em 0 0; }

  #page {
    width: 100%; }

  #main-wrapper div[role="main"] {
    float: none;
    width: 100%; }

  nav[role="navigation"] {
    display: none; }

  .container {
    margin: 0 auto;
    width: 100%; }

  header[role="banner"] {
    position: relative;
    width: 797px;
    margin: 0 auto; }
  #block-menu-menu-footer .content {
    width: 80%;
    margin: 0 auto; }

  #block-menu-menu-footer .content ul.menu li span {
    font-size: 16px;
    line-height: 1em; }

  #block-menu-menu-footer .content ul.menu ul li a {
    font-size: 14px;
    line-height: 1em; }

  #cmp .pane-content .s0 {
    margin-top: 0; }
  #cmp #campaign-opt-in {
    text-align: center; } }
  @media only screen and (max-width: 1075px) and (max-width: 775px) {
    header[role="banner"] {
      width: 100%; } }

#cmp img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }
#cmp .pane-title {
  display: none; }

.invite_friends {
  background: white;
  padding: 0.5% 2% 2% 2%; }
  .invite_friends h2 {
    padding: 0 0 0.8em 0;
    text-align: center;
    font-weight: 600;
    font-size: 2em; }
  .invite_friends h3 {
    font-family: din-web;
    font-size: 3em;
    text-transform: uppercase;
    color: #bbbbbb;
    margin: 50% 0 0 0; }
  .invite_friends .invite-module-facebook, .invite_friends .invite-module-or, .invite_friends .invite-module-email {
    width: 43%;
    float: left; }
  .invite_friends .invite-module-facebook p, .invite_friends .invite-module-or p, .invite_friends .invite-module-email p {
    font-size: 0.8em; }
  .invite_friends .invite-module-or {
    width: 14%; }
  .invite_friends .ui-dialog-titlebar {
    margin: 0 0 0 -5.5%; }
  .invite_friends .facebook-action-connect {
    display: block;
    margin: 8% auto 0;
    width: 40%; }
  .invite_friends #edit-submit {
    font-family: din-web;
    background: yellow;
    margin: 0 0 0 5%;
    font-size: 1.5em;
    height: 1.4em;
    display: inline-block;
    border: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .invite_friends #edit-submit:hover {
      background: #e5e600; }

#edit-friend {
  background: #dddddd;
  width: 11em;
  color: #444444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

#block-dosomething-campaign-styles-campaign-nav {
  background: white;
  padding: 1.5em 0 0;
  width: 205px;
  -webkit-transition: background 5s ease-in;
  transition: background 5s ease-in; }
  #block-dosomething-campaign-styles-campaign-nav ul {
    margin: 0;
    padding: 0; }
  #block-dosomething-campaign-styles-campaign-nav li {
    margin: 0;
    padding: 2% 0; }
  #block-dosomething-campaign-styles-campaign-nav a {
    font-family: din-web-reg;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.2em 1em 0 1.5em;
    text-transform: uppercase;
    color: #999999; }
    #block-dosomething-campaign-styles-campaign-nav a:hover {
      text-decoration: none; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-prefix p {
    color: #cccccc;
    padding: 0 1.5em;
    margin: 0 0 0.2em;
    text-transform: uppercase;
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 1.2em; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix hr {
    border: none;
    border-top: 1px solid #cccccc; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix img {
    display: block;
    margin: 8px auto;
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix a {
    text-transform: lowercase;
    font-size: 1em;
    padding: 0;
    font-weight: 500; }
  #block-dosomething-campaign-styles-campaign-nav .campaign-menu-suffix p {
    color: #999999;
    text-align: center;
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-weight: 500;
    font-size: 1em; }

#block-dosomething-campaign-styles-campaign-nav .highlight a {
  background: yellow; }

.mangoDialog-ui {
  background: #222222;
  margin: 0;
  padding: 2% 1% 0 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .mangoDialog-ui h1 {
    text-align: center;
    padding: 1em 0 0.5em 0;
    color: yellow; }
  .mangoDialog-ui img {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    display: block;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .mangoDialog-ui .ui-icon.ui-icon-closethick {
    margin: -20px -13px !important; }

#cmp html, #cmp body, #cmp div, #cmp span, #cmp applet, #cmp object, #cmp iframe,
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp h5, #cmp h6, #cmp p, #cmp blockquote, #cmp pre,
#cmp a, #cmp abbr, #cmp acronym, #cmp address, #cmp big, #cmp cite, #cmp code,
#cmp del, #cmp dfn, #cmp em, #cmp img, #cmp ins, #cmp kbd, #cmp q, #cmp s, #cmp samp,
#cmp small, #cmp strike, #cmp strong, #cmp sub, #cmp sup, #cmp tt, #cmp var,
#cmp b, #cmp u, #cmp i, #cmp center,
#cmp dl, #cmp dt, #cmp dd, #cmp ol, #cmp ul, #cmp li,
#cmp fieldset, #cmp form, #cmp label, #cmp legend,
#cmp table, #cmp caption, #cmp tbody, #cmp tfoot, #cmp thead, #cmp tr, #cmp th, #cmp td,
#cmp article, #cmp aside, #cmp canvas, #cmp details, #cmp embed,
#cmp figure, #cmp figcaption, #cmp footer, #cmp header, #cmp hgroup,
#cmp menu, #cmp nav, #cmp output, #cmp ruby, #cmp section, #cmp summary,
#cmp time, #cmp mark, #cmp audio, #cmp video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline; }
#cmp article, #cmp aside, #cmp details, #cmp figcaption, #cmp figure,
#cmp footer, #cmp header, #cmp hgroup, #cmp menu, #cmp nav, #cmp section {
  display: block; }
#cmp body {
  line-height: 1; }
#cmp ol, #cmp ul {
  list-style: none; }
#cmp blockquote, #cmp q {
  quotes: none; }
#cmp blockquote:before, #cmp blockquote:after,
#cmp q:before, #cmp q:after {
  content: "";
  content: none; }
#cmp table {
  border-collapse: collapse;
  border-spacing: 0; }
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp p, #cmp b, #cmp a, #cmp label, #cmp .divider, #cmp .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  color: white; }
#cmp h1, #cmp h3, #cmp .divider {
  text-transform: uppercase; }
#cmp h1 {
  font-size: 2.5em;
  line-height: 1.54em; }
#cmp h1.condensed {
  font-size: 3.75em;
  font-weight: 600;
  font-family: "din-web"; }
#cmp h2 {
  font-size: 1.5em;
  line-height: 1.55em; }
#cmp h3 {
  font-size: 1.25em;
  line-height: 22px; }
#cmp h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 17px; }
#cmp p, #cmp label {
  font-size: 1em;
  font-weight: 500;
  line-height: 17px; }
#cmp input[type="submit"] {
  font-size: 2em; }
#cmp a {
  color: white; }
#cmp a.mango {
  background: rgba(127, 63, 128, 0.6);
  color: white; }
#cmp .divider {
  color: white; }
#cmp .legal {
  font-size: 0.625em;
  font-weight: 500;
  line-height: 1em; }
#cmp .section {
  background: #008bd9;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding: 2%; }
#cmp .col33, #cmp .col40, #cmp .col50, #cmp .col60 {
  float: left;
  padding: 0 1.5%; }
#cmp .col33 {
  width: 33%; }
#cmp .col40 {
  width: 40%; }
#cmp .col50 {
  width: 50%; }
#cmp .col60 {
  width: 60%; }
#cmp .divider {
  text-align: center;
  border-top: 1px solid #9bc1d5;
  margin: 0 -2% 3%;
  padding: 0; }
  #cmp .divider h3 {
    color: white;
    background: #241f20;
    padding: 0.5em 0.8em;
    margin: -1px 0 0;
    width: 35%;
    display: inline-block;
    font-weight: 400; }
#cmp .go-button, #cmp #edit-submit {
  font-family: din-web;
  background: yellow;
  margin: 4% 0 1%;
  padding: 0.4em 0.7em;
  font-size: 2em;
  height: 1.4em;
  display: inline-block;
  color: #1e1d1c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  #cmp .go-button:hover, #cmp #edit-submit:hover {
    color: #e0e0e0; }
#cmp #header {
  line-height: 0;
  background: none;
  padding: 0; }
  #cmp #header h1, #cmp #header h2 {
    text-align: left;
    color: white; }
  #cmp #header span {
    text-align: center; }
  #cmp #header img {
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0 !important; }
  #cmp #header .tagline {
    padding: 2%; }
#cmp .pane-campaign-html #header img {
  margin: 0 !important; }
#cmp #report p {
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.8em;
  font-weight: 300;
  width: 60%;
  margin: 0 auto 1em; }
#cmp #report p.headcopy {
  text-transform: uppercase;
  width: 100%; }
  #cmp #report p.headcopy span {
    font-size: 3.4em;
    font-weight: 500;
    line-height: 1em;
    vertical-align: middle; }
  #cmp #report p.headcopy span.secondary {
    font-size: 2.8em;
    line-height: 1.2em; }
  #cmp #report p.headcopy span.underline {
    font-size: 1em;
    border-bottom: 1px solid white;
    font-weight: 300; }
#cmp #report .with-button {
  position: relative;
  display: inline-block;
  min-width: 254px;
  margin: 5em auto 1.5em; }
  #cmp #report .with-button img {
    position: absolute;
    right: -20px;
    top: -50px;
    z-index: 1; }
#cmp #report .report-button {
  position: relative;
  z-index: 10;
  font-size: 1.3em;
  margin: 0 auto 1em;
  padding: 0.8em 1em 0.5em;
  background: #00c0de;
  color: white;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  font-weight: 400;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 0 1em -0.1em #333333;
  text-decoration: none;
  text-transform: uppercase; }
  #cmp #report .report-button:hover {
    color: #e1e1e1; }
#cmp #report .share {
  margin: 2em auto 0.5em;
  text-transform: uppercase;
  color: #ffcf00;
  font-weight: 500;
  font-size: 1.8em; }
#cmp #report li {
  display: inline-block; }
#cmp #report iframe {
  width: 60px !important; }
#cmp #map .linethrough {
  position: relative;
  border-top: 1px solid #241f20;
  margin: 3em auto 1em;
  max-width: 600px; }
#cmp #map h2 {
  position: relative;
  top: -8px;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin: -1em auto 0;
  max-width: 400px;
  background: #008bd9;
  display: inline-block;
  padding: 0.25em 1em 0; }
#cmp #map iframe {
  height: 500px !important;
  border: 3px solid #05719e; }
#cmp #map img.infographic {
  margin-top: 40px; }
#cmp #action p {
  max-width: 500px;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 0 auto; }
#cmp #action .petition-button {
  width: 70%;
  margin: 2em auto 1em;
  padding: 1em 1em 0.6em;
  background: #ffda3f;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  font-weight: 300;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 0 1em -0.1em #333333;
  text-decoration: none; }
  #cmp #action .petition-button a {
    color: #222222; }
    #cmp #action .petition-button a:hover {
      color: black; }
  #cmp #action .petition-button .petition-left, #cmp #action .petition-button .petition-right {
    float: left; }
  #cmp #action .petition-button .petition-left {
    padding-right: 1%;
    font-family: din-web;
    width: 45%;
    line-height: 1em;
    font-size: 1.8em;
    padding-top: 0.3em;
    border-right: 1px solid #999999;
    text-transform: uppercase;
    margin-right: 3%; }
  #cmp #action .petition-button .petition-right {
    width: 52%;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: 400;
    text-align: left; }
#cmp #action .bullytext-game {
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  box-shadow: 0px 0px 1em -0.1em #333333 !important;
  margin-top: 10px; }
#cmp #faq h4, #cmp #faq li, #cmp #faq p {
  text-align: left;
  padding: 0 15px 0;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  line-height: 1.4em; }
#cmp #faq p {
  padding-bottom: 1.5%;
  font-size: 1.3em;
  font-weight: 300; }
#cmp #faq h4 {
  color: white;
  cursor: pointer;
  background: url("assets/faq2.png");
  background-repeat: no-repeat;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0.2em;
  background-image: url("assets/arrow-right.png");
  background-repeat: no-repeat;
  background-position-y: 6px; }
  #cmp #faq h4.activeFAQ {
    background-image: url("assets/arrow-down.png"); }
#cmp #faq .action-copy, #cmp #faq .action-box {
  text-align: center; }
#cmp #faq .action-copy {
  font-family: din-web;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 2em 0 0.5em; }
#cmp #faq .action-box {
  position: relative;
  display: inline-block; }
#cmp #faq .action-arrow-left, #cmp #faq .action-arrow-right {
  position: absolute;
  bottom: 0.5em; }
#cmp #faq .action-arrow-left {
  left: -70px; }
#cmp #faq .action-arrow-right {
  right: -70px; }
#cmp #faq .action-btn {
  font-family: din-web;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  background: #ffcf00;
  color: #1e1d1c;
  margin: 0 auto 1em;
  padding: 0.2em 1em 0;
  text-decoration: none;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 0 0 1em -0.1em #333333; }
  #cmp #faq .action-btn:hover {
    color: black; }
#cmp #faq .back-to-top {
  text-align: right;
  padding: 1em 0 0 0; }
  #cmp #faq .back-to-top .top-btn {
    font-weight: 400;
    color: #c6c7c8;
    padding: 0 0 0 15px;
    text-decoration: none;
    background-image: url("assets/arrow-up.png");
    background-repeat: no-repeat;
    background-position-y: 0.5em; }
#cmp #iframe_wrapper {
  height: 500px !important; }
#cmp label {
  cursor: default; }
#cmp #contact-form {
  margin: 10% 0 0 0;
  background: black;
  background: rgba(0, 0, 0, 0.3);
  width: 100%; }
  #cmp #contact-form h3 {
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    padding: 0.2em 0 0 0; }
#cmp .focusOutline {
  box-shadow: 0px 0px 15px 4px #cbbeff; }
#cmp .pane-campaign-sign-up {
  clear: both;
  width: 100%;
  padding: 1% 0 1% 0; }
  #cmp .pane-campaign-sign-up h1 {
    font-family: din-web;
    font-size: 23px;
    text-align: center;
    color: white; }
  #cmp .pane-campaign-sign-up label {
    text-align: left; }
  #cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
    width: 35%; }
  #cmp .pane-campaign-sign-up #edit-submit {
    float: right;
    position: static;
    margin: 9% 2% 0 0;
    padding: 0.3em 0.7em; }
#cmp .pane-campaign-sign-up label, #cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
  width: 85%;
  float: left;
  clear: left; }
#cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
  margin: 0.5em 0 0 0; }
#cmp .pane-campaign-sign-up label {
  color: white;
  font-size: 1.7em;
  font-family: din-web;
  text-transform: uppercase; }
#cmp #campaign-opt-in {
  clear: both;
  text-align: left;
  padding: 0.3em 0 0 0 !important; }
  #cmp #campaign-opt-in span {
    font-size: 10px;
    background: transparent;
    color: white; }
  #cmp #campaign-opt-in strong {
    font-weight: 600; }
#cmp .webform-client-form {
  box-shadow: none; }
#cmp .already_submitted {
  margin: 0 0 2% 0; }
  #cmp .already_submitted .go-button {
    margin: 0 0 1% 0; }
#cmp #webform-component-join-header, #cmp #webform-component-start-header, #cmp #edit-submitted-field-webform-email, #cmp #edit-submitted-field-webform-mobile, #cmp .form-actions.form-wrapper {
  width: 25%;
  float: left; }
#cmp #sign-up .form-wrapper {
  float: none; }
#cmp #sign-up input {
  margin-bottom: 10px; }
#cmp #report-back {
  border: none;
  width: 70%;
  padding: 1% 2%;
  background: white; }
  #cmp #report-back .pane-title,
  #cmp #report-back .fb-social-comments-plugin {
    display: none; }
  #cmp #report-back form {
    border: none; }
    #cmp #report-back form input.form-text, #cmp #report-back form textarea {
      font-size: 14px; }
    #cmp #report-back form label {
      font-size: 1.4em; }
    #cmp #report-back form #edit-submitted-how-many-people-participated-in-this-drive,
    #cmp #report-back form #edit-submitted-how-many-potential-donors-were-registered {
      width: 60px; }
    #cmp #report-back form .form-item {
      margin-top: 10px; }
    #cmp #report-back form .fb-social-comments-plugin {
      display: none; }
    #cmp #report-back form #edit-submitted-taxonomy-vocabulary-5,
    #cmp #report-back form #edit-submitted-field-webform-email,
    #cmp #report-back form #edit-submitted-field-webform-mobile,
    #cmp #report-back form #edit-submitted-field-webform-videos,
    #cmp #report-back form #edit-submitted-field-webform-school-reference,
    #cmp #report-back form #edit-submitted-field-webform-school,
    #cmp #report-back form #edit-submitted-field-webform-school-zip {
      display: none; }
    #cmp #report-back form #edit-submitted-field-webform-pictures-und-0-upload-button {
      display: block !important;
      margin: 10px !important; }
#cmp .go-button, #cmp #edit-submit, #cmp .form-submit {
  font-family: din-web;
  background: yellow;
  margin: 4% 0 1%;
  padding: 0.3em 0.7em;
  font-size: 2em;
  height: 1.4em;
  display: inline-block;
  color: #1e1d1c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  line-height: 1em; }
  #cmp .go-button:hover, #cmp #edit-submit:hover, #cmp .form-submit:hover {
    color: #c2c200; }
#cmp .node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav,
#cmp .node-type-campaign-report-back #block-dosomething-campaign-styles-campaign-nav {
  display: none; }
#cmp #webform-client-form-724779 {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 2% 10% !important; }
  #cmp #webform-client-form-724779 h1, #cmp #webform-client-form-724779 p {
    text-align: center; }
  #cmp #webform-client-form-724779 p {
    margin-bottom: 10px; }
  #cmp #webform-client-form-724779 input {
    width: 100%;
    border: 1px solid #f9f9f9; }
  #cmp #webform-client-form-724779 .form-actions.form-wrapper {
    width: 50% !important;
    margin: 0 auto !important; }
    #cmp #webform-client-form-724779 .form-actions.form-wrapper #edit-submit {
      width: 100% !important; }
  #cmp #webform-client-form-724779 #edit-submitted-field-webform-email, #cmp #webform-client-form-724779 #edit-submitted-field-webform-mobile {
    width: 100% !important; }
  #cmp #webform-client-form-724779 #edit-submitted-field-webform-school-reference {
    background: #f9f9f9;
    border: 1px solid #e9e9e9 !important;
    padding: 2% 4% !important;
    margin-bottom: 10px !important; }
    #cmp #webform-client-form-724779 #edit-submitted-field-webform-school-reference label {
      padding-top: 10px; }
    #cmp #webform-client-form-724779 #edit-submitted-field-webform-school-reference .fieldset-legend {
      font-weight: bold !important;
      font-size: 1.6em !important; }
  #cmp #webform-client-form-724779 #edit-submitted-give-a-spit-action-kit-1 {
    width: 1.5em !important; }
@media only screen and (max-width: 775px) {
  #cmp .section {
    width: 100%; }
  #cmp .refer5 {
    width: 106%;
    margin: 0 0 0 -3%;
    padding: 3%; }
    #cmp .refer5:before, #cmp .refer5:after {
      display: none; } }
@media only screen and (max-width: 450px) {
  #cmp .section {
    margin: 0; } }
