@import setup
@import partials/lib/extend/helpers
@import partials/02-extend/jquery-selectbox
@import partials/01-variables/fonts

.views-exposed-form .views-exposed-widget
  padding: 0

// Causes Filter
#views-exposed-form-member-wall-panel-pane-1
  color: $white
  +pie-clearfix
  .views-widget
    background-color: $gray6
    +box-shadow(#cecece 0 1px -1px 1px, #cecece 0 5px 0 -4px inset)
    .selectBox-dropdown
      +ds-dropdown
      cursor: pointer
      width: 25%
    .form-item-field-webform-issues-tid
      padding: 4px 0 0 4px
  .views-widget-filter-field_webform_issues_tid
    border-bottom: 2px solid $white
  .views-exposed-widgets
    margin-bottom: none
  .views-exposed-form .views-exposed-widget
    float: none
  .views-submit-button
    position: relative
    top: -33px
    left: 184px
    input
      margin-top: 0
  label[for="edit-taxonomy-vocabulary-5-tid"],
  label[for="edit-type"],
  label[for="edit-field-report-back-reference-nid"],
  label[for="edit-date-argument"]
    cursor: default
    background: $purple
    margin-bottom: 0
    +border-top-radius
    font-family: $font-headline
    font-size: 14px
    font-weight: 500
    padding-top: 0.2em
    text-align: center
    width: 20%

// Content boxes
.view-id-member_wall
  .views-row
    +float-left
    margin: 0 0.5em 0.5em 0
    width: 32.4%
    &:last-child
      margin-right: 0
    .views-field-view-node
      +border-bottom_radius
      font-family: $font-headline
      font-size: 18px
      font-weight: 500
      height: calc-em(18px, $s0)
      line-height: 1em
      margin-top: 0.2em
      padding: 8px 0 0 8px
      text-align: left
      width: 96%
  .views-row-odd .views-field-view-node
    background-color: $gray2
  .views-row-even .views-field-view-node
    background-color: $gray
  text-rendering: optimizeLegibility
  a
    color: $white
