// NOTE: this file was pulled from the "do-it" theme
//       and needs to be re-written!

// UTILITY BAR
// -----------

#utility-bar
  background-color: $gray2
  color: lighten($gray, 40.0)
  height: 40px
  padding-top: 6px
  font-family: $font-headline
  font-size: 16px
  text-transform: uppercase
  @extend %bold
  +box-sizing(border-box)
  .utility-block
    padding-left: $left-col-width
  #block-dosomething-blocks-dosomething-utility-bar
    +float-right
    height: 40px
    .ie7 &
      width: 254px
    // #edit-actions // This is not the ideal solution to hide the 'Go' submit button
    //   display: none
    .utility-items
      +inline-block
    .search
      position: relative
      #edit-keys-1
        +single-box-shadow(lighten($gray2, 10.0), 0, 0, 4px, 1px, inset)
        background:
          color: lighten($gray2, 25.0)
        border: 1px solid lighten($gray2, 10.0)
        @extend %white
        font-size: 10px
        padding: 4px
      input[type="submit"]
        +replace-text-with-dimensions('icn-utility-search-magnify.png')
        background-color: transparent
        border: none
        position: absolute
        right: 25px
        padding: 10px
        top: 4px
        .ie8 &
          top: 0
        .ie7 &
          top: 9px
    .form-item-keys-1
      margin-left: 1.5em
      margin-right: 1.5em
      .ie8 &
        margin-left: 40px
        margin-right: 20px
    .login,
    #help-center
      a
        @extend %gray5
    .utility-items.fbconnect
      +float-right
      margin: 1em 8px 1em 0

// the search field dimensions
#utility-bar #block-dosomething-blocks-dosomething-utility-bar .search
  #edit-keys-1
    .ie8 &
      padding: 0
    .ie7 &
      line-height: 27px
      padding: 0
      width: 94px
