// style forms loaded outside #cmp wrapper


//      //
//  #sign-up & #report-back hacks
//      //

#sign-up
  background: white
  max-width: 500px
  margin: 6% auto
  padding: 2%
  .panel-pane, form
    +noShadow
    padding: 0
  .pane-title, legend, #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile, .fb-social-comments-plugin
    display: none
  input.form-autocomplete
    width: 100%
  input, .form-item
    margin-bottom: 1em
  #edit-submitted-field-webform-school-reference,
  #edit-submitted-field-webform-school,
  #edit-submitted-field-webform-school-zip
    display: block