// Create the design for your site below
/* SITE-WIDE DESIGN --------------------------------------------------------------

// $c-utility-bar-bg: $gray-darker
// $c-become-member: $gray
// $c-impact: $gray-dark
// $c-content-bg: $gray-lighter
// $c-right-lower-sidebar: $gray-light
// $c-menu-primary-bg: $blue-light
// $c-menu-primary-text: $blue-lighter
// $c-menu-secondary-bg: $blue
// $c-headings: $blue
// $c-callouts: $yellow
// $c-callouts-secondary: $purple

// // TEXT SIZES FROM DESIGN
// // 10px // sidebar twitter
// // 11px // breadcrumbs, right sidebar
// // 12px
// // 14px // callout subhead,
// // 18px // submenu, h3
// // 24px // h2,
// // 29px // menu,
// // 35px // h1,
//
// $s-2: 10px
// $s-1: 11px
// $s0: $base-size
// $s1: 14px
// $s2: 18px
// $s3: 24px
// $s4: 29px
// $s5: 35px


// // Custom Grid
// $main-width: 721px
// $left-col-width: 204px
// $main-inner: 527px
// $main-interior-sidebar: 188px
// $menu-height: 44px


// GUIDE IMAGE - NOT FOR PRODUCITON
body
  // background: rgba($black, 0) image_url("guide-pages/23-DSM_Logged-in_Member_Dashboard.png") scroll no-repeat center top
  &.admin-menu
    background-position: center 29px


/* GENERAL STYLES --------------------------------------------------------------
.item-list
  >
    h2, h3
      margin-bottom: 0
  ol
    margin-top: 0
.menu
  li
    ul
      margin-top: 0
      margin-bottom: 0

#main-wrapper
  background: image_url("bg-page.png") repeat-y center top
  background-color: $c-content-bg

#utility-bar
  background-color: $c-utility-bar-bg
  color: $white
  height: calc-em($menu-height, $base-font-size)
  line-height: $menu-height / $base-font-size
  +box-sizing(border-box)
  .utility-block
    padding-left: percentage($left-col-width / $page-width)

#site-name
  margin: 0
  padding: 0
  position: absolute
  top: -33px
  left: -17px
  z-index: 100
  a
    +replace-text-with-dimensions("ds-logo.png")
    display: block
    +remove-link-underlines

div[role=main]
  padding-left: percentage($s0 / $main-width)
  padding-right: percentage($s0 / $main-width)
  +box-sizing(border-box)
  border-top: calc-em(5px, $s0) solid $background-color
  min-height: 400px

#breadcrumb
  +adjust-font-size-to($s-1)
  i
    margin: 0 0.75em
  b
    color: $blue
  a
    +link-colors($gray-dark, $blue, $blue, $gray-dark, false)
    +remove-link-underlines

.region-sidebar-first
  .block
    padding: 0 (percentage($s2 / $left-col-width)) 0 (percentage($s0 / $left-col-width))


.connect-thru-facebook
  a
    +replace-text-with-dimensions('btn-facebook-dashboard-login.png')
    display: block
    margin-bottom: calc-em(2px, 17px)
    +remove-link-underlines
    margin-left: auto
    margin-right: auto

// footer block
.region-footer
  #block-menu-menu-footer
    +background-with-css2-fallback(image_url('bg-diag-footer-line.png') repeat 0 12px)
    +clearfix
    padding-bottom: 20px
    .content
      width: 925px
      ul.menu
        padding: 0
        margin: 0
        li
          +no-bullets
          background: $blue-light2
          margin-left: 0
          padding: 0
          display: block
          margin-right: 0
          width: 185px
          +float-left
          a
            color: $white
            padding: 0
            line-height: 33px
            text-transform: uppercase
            font-size: 11px
            padding-left: 16px
        ul
          padding-left: 0
          li
            width: auto
            +background-with-css2-fallback(image_url('bg-diag-footer-line.png') repeat 0 0)
            // +border($gray5, 1px, bottom)
            float: none
            display: block
            padding-top: 0
            height: 21px
            // margin-left: 20px
            a
              color: $white
              line-height: 18px
              font-size: 11px
              text-transform: none


/** Blog Archive Block **/
.page-blog
  .panel-outer-right
    .pane-blog-center
      margin-top: 40px
      .block-dosomething-blog-archive
        .collapse-icon
          color: #005DAB
        h3
          cursor: pointer
          margin: 0
          font-size: 1.3em
          font-weight: normal
          padding: 4px 0
          color: #656565
        ul
          padding: 0 0 0 10px
          li
            background: none
            line-height: 120%

/** Blog Archive Pane **/
.ds-internal-sidebar-flush-right
  background: $gray6
  padding: 20px 0 20px 15px
  margin-right: -15px
  h2.pane-title
    margin-bottom: 18px
    margin-left: -15px
    margin-top: -20px
    line-height: 58px
  .views-field-title
    margin-bottom: 12px
    background-position: 0px 3px
    padding-left: 15px
    a
      margin: 0
      font-size: 11px
      font-family: $font-sans
      font-weight: normal
      color: $gray-dark

#blog-archives-pane
  @extend .ds-internal-sidebar-flush-right

/** Blog Menu**/
#blog-menu
  position: relative
  top: -45px
  left: 160px
  background: $white
  border-top: 1px solid $gray6
  border-bottom: 1px solid $gray6
  padding: 1px 0
  width: 545px
  margin-top: 45px
  margin-bottom: 20px
  ul
    +horizontal-list
    // padding: 8px
    margin: 0
    background: $gray6
    list-style-image: none
    list-style: none
    height: 26px
    padding-top: 8px
    padding-left: 12px
    padding-right: 12px
    li
      a
        color: $gray-dark
        font-size: 11px
        padding-top: 9px
        padding-bottom: 4px
      .active
        background: image_url("blog-menu-active-arrow.png") no-repeat
        background-position: top 0px
    .news
      a
        background: image_url("new-icons_news.png") top right no-repeat
        background-position: 34px 5px
        padding-right: 32px
        margin-left: 12px
    .awesome
      a
        background: image_url("new-icons_awesome-ones.png") top right no-repeat
        background-position: 82px 5px
        padding-right: 32px
        margin-left: 12px
    .celebs
      a
        background: image_url("new-icons_celebs-gone-good.png") top right no-repeat
        background-position: 95px 5px
        padding-right: 32px
        margin-left: 12px
    .staff
      a
        background: image_url("new-icons_staff-stuff.png") top right no-repeat
        background-position: 95px 5px
        padding-right: 32px
        margin-left: 12px

/** Blog Center Landing page pane **/
#blog-page-pane
  margin-top: -90px
  .pane-content
    padding: 8px 10px 20px 40px
    background-position: 30px 0px
    .blog-landing-pane-post
      margin-bottom: 40px
      background: image_url("blog-center-post-lines.png") bottom no-repeat
      background-position: 0 0
      padding-top: 10px
    .views-row-first
      background-image: none
    h2
      a
        color: $black
        font-family: $font-sans
        font-size: 20px
    .blog-large-thumbnail img
      +float-left
      border: 6px solid $white
      margin-right: 20px
      margin-bottom: 10px
    p
      margin-bottom: 0
    .News-icon
      +replace-text-with-dimensions("new-icons_news.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .Celebs-Gone-Good-icon
      +replace-text-with-dimensions("new-icons_celebs-gone-good.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .Awe-Some-Ones-icon
      +replace-text-with-dimensions("new-icons_awesome-ones.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .DoSomething-Staff-icon
      +replace-text-with-dimensions("new-icons_staff-stuff.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .views-field-created, .views-field-created-1
      +float-left
      background
      background-color: $white
      background: image_url("bg-blog-page-date.png") no-repeat
      width: 41px
      height: 160px
      position: relative
      top: 20px
      margin-left: -52px
      padding-left: 13px
      padding-top: 0px
      .month
        font-weight: bold
        text-transform: uppercase
        font-size: 10px
      .day
        font-weight: bold
        font-size: 14px
      .blog-icon
        margin-top: 10px
    .views-field-field-picture img
      border: 5px $white solid

.read-more-link
  a

.views-field-ds-social-plugins
  margin-top: 10px

/** Related Posts Block **/
.block-related-posts
  .view-content
    .views-field-title
      font-size: 1.2em
      color: #484848
      font-weight: bold
    .views-field-field-picture
      img
        border: 5px solid #FFF
    .views-row
      padding-bottom: 30px

// hold iframes within boundaries
iframe
  max-width: 100%

/* Social toolbar
.pane-dosomething-blocks-dosomething-social-node-buttons,
.views-field-ds-social-plugins
  @extend .clearfix
  // min-height: 57px
  margin-bottom: $kit-baseline
  padding-top: 2.5em
  .facebook-plugin, .google-plugin, .twitter-plugin, .print-plugin, .email-plugin
    // margin-top: 2.5em
  .facebook-plugin
    width: 100%
    max-width: 300px
    float: left
  .wrapper
    width: 100%
    width: auto
    max-width: 300px
    float: right
    // position: relative
  .google-plugin, .twitter-plugin, .print-plugin, .email-plugin
    float: left
    margin-right: 8px
  .google-plugin, .twitter-plugin
    // position: relative

  .google-plugin
  .twitter-plugin
  .print_html, .print_mail, .print_pdf
    margin-left: 0
  .email-plugin
    a
      +replace-text-with-dimensions('social-email.png')
      display: block
  .print-plugin
    margin-right: 0
    a
      +replace-text-with-dimensions('social-print.png')
      display: block
.pane-dosomething-blocks-dosomething-social-node-buttons
  // +box-shadow($white 0 1px -1px 1px, $white 0 5px 0 -4px inset)
  +ds-bevel-double
  border:
    top: 1px solid $gray-lighter3
    bottom: 1px solid $gray-lighter3
  // min-height: 57px
  margin-bottom: $kit-baseline

/*Become a member popup window*/
.ui-dialog
  color: $white
  background: $gray-dark
  border: 2px solid $white
  // .ui-dialog-titlebar
  //   .ui-dialog-titlebar-close, .ui-dialog-titlebar-close
  .ui-dialog-titlebar-close .ui-icon
    background: image_url("x-box.png") no-repeat
    height: 12px
    width: 12px
    z-index: 1000
  input
    color: $white
    background: $gray-bg1
    +border-radius(0)
  input[type="checkbox"]
    +float-left
    width: 14px
  .ui-dialog-titlebar

  .form-submit

  label[for="edit-title-text"],
  label[for="edit-signup-title"]
    font-family: $font-headline
    font-size: $s5
    margin-bottom: 12px
    padding-bottom: 5px
    color: $white
    .description
      color: $hotpink

  #dosomething-login-register-popup-form, #dosomething-login-register-popup-form
    color: $white
    #edit-title-text, #edit-signup-title
    .description
      color: $white
  .form-item-first-name,
  .form-item-last-name
    +float-left
    width: 245px
    height: 36px
    margin-right: 12px
    input
      color: $white
      background: $gray-bg1
      +border-radius(0)
  .form-item-cell-or-email
    +float-left
    margin-right: 12px
    height: 36px
    input
      color: $white
      width: 500px
      background: $gray-bg1
      +border-radius(0)
  .age-question
  #edit-over-13--2
    +float-left
    clear: both
    margin-right: 12px
    padding-top: 16px
    font-size: $s2
  .form-item-month,
  .form-item-day,
    clear: right
    margin-right: 12px
    height: 24px
    input
      color: $white
      text-align: center
      +float-left
      background: $gray-bg1
      +border-radius(0)
      width: 60px
      margin-right: 12px
      margin-top: 12px
  .form-item-year
    clear: right
    margin-right: 12px
    height: 24px
    input
      color: $white
      text-align: center
      +float-left
      background: $gray-bg1
      +border-radius(0)
      width: 90px
      margin-right: 12px
      margin-top: 12px

  .ds-login-popup-footer
    background: $purple
    padding: 5px 36px 5px 5px
    margin: -5px
    +clearfix
    input
      +float-right
      @extend .ds-button

comments.fb_iframe_widget
  display: block