// Create the design for your site below
/* SITE-WIDE DESIGN --------------------------------------------------------------

// $c-utility-bar-bg: $gray-darker
// $c-become-member: $gray
// $c-impact: $gray-dark
// $c-content-bg: $gray-lighter
// $c-right-lower-sidebar: $gray-light
// $c-menu-primary-bg: $blue-light
// $c-menu-primary-text: $blue-lighter
// $c-menu-secondary-bg: $blue
// $c-headings: $blue
// $c-callouts: $yellow
// $c-callouts-secondary: $purple

// // TEXT SIZES FROM DESIGN
// // 10px // sidebar twitter
// // 11px // breadcrumbs, right sidebar
// // 12px
// // 14px // callout subhead,
// // 18px // submenu, h3
// // 24px // h2,
// // 29px // menu,
// // 35px // h1,
//
// $s-2: 10px
// $s-1: 11px
// $s0: $base-size
// $s1: 14px
// $s2: 18px
// $s3: 24px
// $s4: 29px
// $s5: 35px


// // Custom Grid
// $main-width: 721px
// $left-col-width: 204px
// $main-inner: 527px
// $main-interior-sidebar: 188px
// $menu-height: 44px


// GUIDE IMAGE - NOT FOR PRODUCITON
body
  // background: rgba($black, 0) image_url("guide-pages/23-DSM_Logged-in_Member_Dashboard.png") scroll no-repeat center top
  &.admin-menu
    background-position: center 29px


/* GENERAL STYLES --------------------------------------------------------------
.item-list
  >
    h2, h3
      margin-bottom: 0
  ol
    margin-top: 0
.menu
  li
    ul
      margin-top: 0
      margin-bottom: 0

#main-wrapper
  background: image_url("bg-page.png") repeat-y center top
  background-color: $c-content-bg

#utility-bar
  background-color: $c-utility-bar-bg
  color: $white
  height: calc-em($menu-height, $base-font-size)
  line-height: $menu-height / $base-font-size
  +box-sizing(border-box)
  .utility-block
    padding-left: percentage($left-col-width / $page-width)

#site-name
  margin: 0
  padding: 0
  position: absolute
  top: -33px
  left: -17px
  z-index: 100
  a
    +replace-text-with-dimensions("ds-logo.png")
    display: block
    +remove-link-underlines

nav[role=navigation]
  font-family: $font-headline
  text-rendering: optimizeLegibility
  text-transform: uppercase
  position: relative
  .primary
    background-color: $c-menu-primary-bg
    padding-left: percentage($left-col-width / $page-width)
    .wrapper
      display: table
      width: 100%
  #main-menu
    +adjust-font-size-to($s4)
    font-weight: 500
    display: table-row
    min-height: calc-em($menu-height, $s4)
    padding-right: calc-em(3px, $s4)
    padding-left: 0
    li
      display: table-cell
      a
        line-height: ($menu-height - 10px) / $s4
        margin-right: calc-em(5px, $s4)
        padding-top: calc-em(10px, $s4)
        padding-left: calc-em(6px, $s4)
        padding-right: calc-em(6px, $s4)
        &.active
          color: white
      &.last
        a
          margin-right: 0
      &:hover, &.active, &.active-trail
        a
          background:
            color: $c-menu-secondary-bg
            image: image_url("arrow-down.png")
            repeat: no-repeat
            position: center -3px
          border-top: (calc-em(2px, $s4)) solid $white
          padding-top: calc-em(8px, $s4)
  .secondary
    background-color: $c-menu-secondary-bg
    padding-left: percentage($left-col-width / $page-width)
    .front &
      position: absolute
      width: 78%
      z-index: 1
    ul
      +adjust-font-size-to($s2)
      font-weight: 500
      +horizontal-list(0.7em)
      line-height: $submenu-height / $s2
      min-height: calc-em($submenu-height, $s2)
      padding-left: calc-em(6px, $s2)
      padding-right: calc-em(19px, $s2)
      overflow: visible
      a
        &.active
          color: $white
      &:nth-of-type(4n+2)
        margin-left: calc-em(172px, $s2)
      &:nth-of-type(1n+3)
        text-align: right
        li
          display: inline
          float: none
          a
            display: inline
      &:nth-of-type(4n+3)
        padding-right: calc-em(220px, $s2)
  .causes-dropdown-trigger
    position: relative
    .causes-dropdown
      top: 30px
      left: -9px
      ul
        +clean-list
        padding-left: 0
        padding-right: 0
        li
          padding: 0
          float: none
          display: block
          a
            padding: 0.3em 0.5em
  .causes-dropdown
    position: absolute
    top: 6em
    z-index: 10
    text-transform: none
    +adjust-font-size-to($s0, 0, $s2)
    font-weight: 500
    ul
      background-color: $blue
      display: none
      margin-bottom: 0
      &:active
        background-color: none
      li
        &:hover
          background: $blue-light
        a
          +link-colors($white, $white, $white, $white, false)
    li.causes-menu-dropdown-level-1
      margin: 0 0 0 0.5em
      &.active
        position: relative
        left: 3em
        top: -1.7em
        li.causes-menu-dropdown-level-2
          position: relative
          left: 0
          top: 0.1em
    ul.causes-menu-dropdown-level-1
      background-color: $blue
      position: relative
      top: -1.8em
      left: 5.3em
      &.active
        left: 0
        top: -0.2em
    li.causes-menu-dropdown-level-2
      +clean-list
      padding-left: 5px
      a
        font-size: 14px
        margin-top: 0
      &:hover
        background-color: $c-menu-secondary-hover
    a
      line-height: ($menu-height - 10px) / $s4
      margin-right: calc-em(5px, $s4)
      padding-top: calc-em(10px, $s4)
      padding-bottom: calc-em(10px, $s4)
      padding-left: calc-em(6px, $s4)
      padding-right: calc-em(6px, $s4)
    &.last
      a
        margin-right: 0
  .issues-dropover
    position: relative
    .arrows
      position: absolute
      left: -0.25em
    .issues-dropdown-menu
      background: $blue
      position: absolute
      left: 2px
      display: none
      z-index: 10
    ul
      font-size: 1em
      +clean-list
      padding: 0
      text-transform: none
      li
        padding: 0
        display: block
        float: none
        margin-bottom: 0
        &:hover
          background: $blue-light
        a
          padding: 0.3em 0.5em
          margin-bottom: 0
          +link-colors($white, $white, $white, $white, false)
  a
    text-decoration: none
    display: block
    +link-colors($c-menu-primary-text, $white, $white, $c-menu-primary-text, false)

.issues-dropdown
  display: none

div[role=main]
  padding-left: percentage($s0 / $main-width)
  padding-right: percentage($s0 / $main-width)
  +box-sizing(border-box)
  border-top: calc-em(5px, $s0) solid $background-color
  min-height: 400px

#breadcrumb
  +adjust-font-size-to($s-1)
  i
    margin: 0 0.75em
  b
    color: $blue
  a
    +link-colors($gray-dark, $blue, $blue, $gray-dark, false)
    +remove-link-underlines

.region-sidebar-first
  .block
    padding: 0 (percentage($s2 / $left-col-width)) 0 (percentage($s0 / $left-col-width))


.connect-thru-facebook
  a
    +replace-text-with-dimensions('btn-connect-facebook.png')
    display: block
    margin-bottom: calc-em(2px, 17px)
    +remove-link-underlines

// footer block
.region-footer
  #block-menu-menu-footer
    +background-with-css2-fallback(image_url('bg-diag-footer-line.png') repeat 0 12px)
    +clearfix
    padding-bottom: 20px
    .content
      ul.menu
        padding: 0
        margin: 0
        li
          +no-bullets
          background: $blue-light2
          margin-left: 0
          padding: 0
          display: block
          margin-right: 0
          +float-left
          a
            color: $white
            padding: 0 47px
            line-height: 33px
            text-transform: uppercase
            font-size: 11px
        ul
          padding-left: 0
          li
            width: auto
            +background-with-css2-fallback(image_url('bg-diag-footer-line.png') repeat 0 0)
            // +border($gray5, 1px, bottom)
            float: none
            display: block
            padding-top: 0
            height: 21px
            // margin-left: 20px
            a
              color: $white
              line-height: 11px
              font-size: 11px
              text-transform: none


/** Blog Archive Block **/
.block-dosomething-blog-archive
  .collapse-icon
    color: #005DAB
  h3
    cursor: pointer
    margin: 0
    font-size: 1.3em
    font-weight: normal
    padding: 4px 0
    color: #656565
  ul
    padding: 0 0 0 10px
    list-style: none
    li
      background: none
      line-height: 120%
      padding: 1px 0 4px

/** Blog Archive Pane **/
.ds-internal-sidebar-flush-right
  background: $gray6
  padding: 20px 0 20px 15px
  margin-right: -15px
  h2.pane-title
    margin-bottom: 18px
    margin-left: -15px
    margin-top: -20px
    line-height: 58px
  .views-field-title
    margin-bottom: 12px
    background: image_url("small-arrow-right.png") no-repeat
    background-position: 0px 3px
    padding-left: 15px
    a
      margin: 0
      font-size: 11px
      font-family: $font-sans
      font-weight: normal
      color: $gray-dark

#blog-archives-pane
  @extend .ds-internal-sidebar-flush-right

/** Blog Menu**/
#blog-menu
  position: relative
  top: -65px
  left: 160px
  background: $white
  border-top: 1px solid $gray6
  border-bottom: 1px solid $gray6
  padding: 1px 0
  width: 545px
  ul
    +horizontal-list
    // padding: 8px
    margin: 0
    background: $gray6
    list-style-image: none
    list-style: none
    height: 26px
    padding-top: 8px
    padding-left: 12px
    padding-right: 12px
    li
      a
        color: $gray-dark
        font-size: 11px
        padding-top: 9px
        padding-bottom: 4px
      .active
        background: image_url("blog-menu-active-arrow.png") no-repeat
        background-position: top 0px
    .news
      a
        background: image_url("icn-subnav-news.png") top right no-repeat
        background-position: 34px 5px
        padding-right: 24px
        margin-left: 12px
    .awesome
      a
        background: image_url("icn-subnav-awesomes.png") top right no-repeat
        background-position: 82px 5px
        padding-right: 32px
        margin-left: 12px
    .celebs
      a
        background: image_url("icn-subnav-celebs.png") top right no-repeat
        background-position: 95px 5px
        padding-right: 32px
        margin-left: 12px
    .staff
      a
        background: image_url("icn-subnav-staff.png") top right no-repeat
        background-position: 95px 5px
        padding-right: 32px
        margin-left: 12px

/** Blog Center Landing page pane **/
#blog-page-pane
  margin-top: -90px
  .pane-content
    padding: 8px 10px 20px 40px
    background-position: 30px 0px
    .blog-landing-pane-post
      margin-bottom: 40px
      background: image_url("blog-center-post-lines.png") bottom no-repeat
      background-position: 0 0
      padding-top: 10px
    .views-row-first
      background-image: none
    h2
      a
        color: $black
        font-family: $font-sans
        font-size: 20px
    .blog-large-thumbnail img
      +float-left
      border: 6px solid $white
      margin-right: 20px
      margin-bottom: 10px
    p
      margin-bottom: 0
    .News-icon
      +replace-text-with-dimensions("icn-subnav-news.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .Celebs-Gone-Good-icon
      +replace-text-with-dimensions("icn-subnav-celebs.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .Awe-Some-Ones-icon
      +replace-text-with-dimensions("icn-subnav-awesomes.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .DoSomething-Staff-icon
      +replace-text-with-dimensions("icn-subnav-staff.png")
      position: relative
      top: 85px
      left: -40px
      z-index: 100
    .views-field-created, .views-field-created-1
      +float-left
      background
      background-color: $white
      background: image_url("bg-blog-page-date.png") no-repeat
      width: 41px
      height: 160px
      position: relative
      top: 20px
      margin-left: -52px
      padding-left: 13px
      padding-top: 0px
      .month
        font-weight: bold
        text-transform: uppercase
        font-size: 10px
      .day
        font-weight: bold
        font-size: 14px
      .blog-icon
        margin-top: 10px
    .views-field-field-picture img
      border: 5px $white solid

.read-more-link
  a

.views-field-ds-social-plugins
  margin-top: 10px

/** Related Posts Block **/
.block-related-posts
  .view-content
    .views-field-title
      font-size: 1.2em
      color: #484848
      font-weight: bold
    .views-field-field-picture
      img
        border: 5px solid #FFF
    .views-row
      padding-bottom: 30px

// hold iframes within boundaries
iframe
  max-width: 100%

/* Social toolbar
.pane-dosomething-blocks-dosomething-social-node-buttons
  @extend .clearfix
  +box-shadow($white 0 1px -1px 1px, $white 0 5px 0 -4px inset)
  border:
    top: 1px solid $gray-lighter3
    bottom: 1px solid $gray-lighter3
  // min-height: 57px
  margin-bottom: $kit-baseline
  padding-top: 2.5em
  .facebook-plugin, .google-plugin, .twitter-plugin, .print-plugin, .email-plugin
    // margin-top: 2.5em
  .facebook-plugin
    width: 100%
    max-width: 300px
    float: left
  .wrapper
    width: 100%
    width: auto
    max-width: 300px
    float: right
    // position: relative
  .google-plugin, .twitter-plugin, .print-plugin, .email-plugin
    float: left
    margin-right: 8px
  .google-plugin, .twitter-plugin
    // position: relative

  .google-plugin
  .twitter-plugin
  .print_html, .print_mail, .print_pdf
    margin-left: 0
  .email-plugin
    a
      +replace-text-with-dimensions('social-email.png')
      display: block
  .print-plugin
    margin-right: 0
    a
      +replace-text-with-dimensions('social-print.png')
      display: block


