// Set up the layout for your site using your chosen grid framework
/* LAYOUT --------------------------------------------------------------



// DON'T LEAVE THIS IN PRODUCTION
.wireframe
  $wf-color: $red
  outline: 1px dashed $wf-color
  > *
    outline: 1px dashed adjust-hue($wf-color, 30deg)
    > *
      outline: 1px dashed adjust-hue($wf-color, 60deg)
      > *
        outline: 1px dashed adjust-hue($wf-color, 90deg)
// -- DON'T LEAVE THIS IN PRODUCTION

.container
  // width: 95%
  width: $page-width
  max-width: $page-width
  margin: 0 auto
  position: relative
  // @extend .wireframe


[role=main]
  body.one-sidebar.sidebar-first &
    width: percentage($main-width / $page-width)
    float: right
  body.node-type-project &
    .main-inner
      float: left
      width: percentage($main-inner / $main-width)
    .main-interior-sidebar
      width: percentage($main-interior-sidebar / $main-width)
      float: right

.region-sidebar-first
  //width: percentage($left-col-width / $page-width)
  width: $left-col-width
  float: left

// PANELS OVERRIDE -----------------------------------------------------
.ds-panel
  .panel-panel
    margin-right: percentage($kit-gutter / $main-width-w-padding)
    &.panel-full
      margin-right: 0
  .panes-1
    .panel-panel
      width: 100%
      margin-right: 0
  .panes-2
    .panel-panel
      width: percentage($two-col-even / $main-width-w-padding)
      float: left
    .panel-last
      margin-right: 0
      float: right
  .panes-3
    .panel-panel
      width: percentage($three-col-even / $main-width-w-padding)
    .panel-last
      margin-right: 0
      float: right

.panel-twocol-a
  .panes-2
    .panel-outer-left
      // +box-sizing(border-box)
      // width: percentage($two-col-wide2 / $main-width-w-padding)
      width: 66%
    .panel-outer-right
      // +box-sizing(border-box)
      // width: percentage($two-col-thin2 / $main-width-w-padding)
      width: 32%
      margin-right: 0
      float: right
  .panel-outer-left
    .panel-top
      width: 100%
    .panes-1
      .panel-panel
        width: 100%
        margin-right: 0
    .panes-2
      .panel-panel
        width: percentage(226px / $two-col-wide2)
        float: left
      .panel-last
        margin-right: 0
        float: right


// CAMPAIGNS
.panel-campaign
  width: percentage($main-no-right-margin / $main-width-w-padding)
  .panel-panel
    margin-right: percentage($kit-gutter-narrow / $main-no-right-margin)

  .panel-row-top-first
    width: $campaign-wide
    margin-right: percentage($kit-gutter-narrow / $main-no-right-margin)

  .panel-row-top
    &.panes-2
      .panel-row-top-first
        width: $campaign-wide
      .panel-top-second
        width: $campaign-thin
    .panel-row-top-first-top
      &.panes-1
        .panel-panel
          width: 100%
          margin-right: 0
          float: none

  .panel-row-top
    .panel-top-first-bottom
      width: 100%

  .panel-row-middle
    &.panes-3
      .panel-panel
        width: percentage($campaign-trio-cols / $main-no-right-margin)

  .panel-row-bottom.panes-2
    .panel-panel
      width: $campaign-wide
      &.panel-last
        width: $campaign-thin


// panels hacks
.panels-flexible-region-new-top_
  width: 100%


// alternate column dimensions
// apply the ID to the panel page
// unfortunately panels doesn't allow classes so we need to resort to IDs

#ds-wide-thin
  .panes-2
    .panel-first
      width: percentage($two-col-wide / $main-width-w-padding)
    .panel-second
      width: percentage($two-col-thin / $main-width-w-padding)
      input
        &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
        &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
        &[type=number], &[type=range], &[type=search], &[type=color]
          @extend .textinput-thin
      select
        @extend .textinput-thin
      .views-exposed-form .views-exposed-widget .form-submit
        margin-top: 0


