// Set up the layout for your site using your chosen grid framework
/* LAYOUT --------------------------------------------------------------



// DON'T LEAVE THIS IN PRODUCTION
.wireframe
  $wf-color: $red
  outline: 1px dashed $wf-color
  > *
    outline: 1px dashed adjust-hue($wf-color, 30deg)
    > *
      outline: 1px dashed adjust-hue($wf-color, 60deg)
      > *
        outline: 1px dashed adjust-hue($wf-color, 90deg)
// -- DON'T LEAVE THIS IN PRODUCTION

.container
  // width: 95%
  width: $page-width
  max-width: $page-width
  margin: 0 auto
  position: relative
  // @extend .wireframe


[role=main]
  body.one-sidebar.sidebar-first &
    width: percentage($main-width / $page-width)
    float: right
  body.node-type-project &
    .main-inner
      float: left
      width: percentage($main-inner / $main-width)
    .main-interior-sidebar
      width: percentage($main-interior-sidebar / $main-width)
      float: right

.region-sidebar-first
  width: percentage($left-col-width / $page-width)
  float: left

// PANELS OVERRIDE -----------------------------------------------------
.panel-one-three-two
  // @extend .wireframe
  .panel-top
    margin-bottom: calc-em($s2b, $s0)
  .panel-row-middle
    @extend .clearfix
    margin-bottom: calc-em($s2b, $s0)
    .panel-panel
      margin-right: percentage($kit-gutter-narrow / $main-width-w-padding)
    .panel-mid-left
      width: percentage($three-col-wide / $main-width-w-padding)
    .panel-mid-center
      // width: $three-col-wide
      width: percentage($three-col-wide / $main-width-w-padding)
    .panel-mid-right
      // width: $three-col-thin
      width: percentage($three-col-thin / $main-width-w-padding)
      margin-right: 0
      float: right
  .panel-row-bottom
    @extend .clearfix
    clear: both
    .panel-panel
      margin-right: percentage($kit-gutter-narrow / $main-width-w-padding)
    .panel-bottom-left
      // width: $two-col-wide
      width: percentage($two-col-wide / $main-width-w-padding)
    .panel-bottom-right
      // width: $two-col-thin
      width: percentage($two-col-thin / $main-width-w-padding)
      margin-right: 0
      float: right

