// Set up the layout for your site using your chosen grid framework
/* LAYOUT --------------------------------------------------------------



// DON'T LEAVE THIS IN PRODUCTION
.wireframe
  $wf-color: $red
  outline: 1px dashed $wf-color
  > *
    outline: 1px dashed adjust-hue($wf-color, 30deg)
    > *
      outline: 1px dashed adjust-hue($wf-color, 60deg)
      > *
        outline: 1px dashed adjust-hue($wf-color, 90deg)
// -- DON'T LEAVE THIS IN PRODUCTION

.container
  // width: 95%
  width: $page-width
  max-width: $page-width
  margin: 0 auto
  position: relative
  // @extend .wireframe


[role=main]
  body.one-sidebar.sidebar-first &
    width: percentage($main-width / $page-width)
    float: right
  body.node-type-project &
    .main-inner
      float: left
      width: percentage($main-inner / $main-width)
    .main-interior-sidebar
      width: percentage($main-interior-sidebar / $main-width)
      float: right

.region-sidebar-first
  width: percentage($left-col-width / $page-width)
  float: left

// PANELS OVERRIDE -----------------------------------------------------
.ds-panel
  .panel-panel
    margin-right: percentage($kit-gutter / $main-width-w-padding)
    &.panel-full
      margin-right: 0
  .panes-1
    .panel-panel
      width: 100%
      margin-right: 0
  .panes-2
    .panel-panel
      width: percentage($two-col-even / $main-width-w-padding)
      float: left
    .panel-last
      margin-right: 0
      float: right
  .panes-3
    .panel-panel
      width: percentage($three-col-even / $main-width-w-padding)
    .panel-last
      margin-right: 0
      float: right

.panel-twocol-a
  .panes-2
    .panel-outer-left
      width: percentage($two-col-wide2 / $main-width-w-padding)
    .panel-outer-right
      width: percentage($two-col-thin2 / $main-width-w-padding)
      margin-right: 0
      float: right
  .panel-outer-left
    .panel-top
      width: 100%
    .panes-1
      .panel-panel
        width: 100%
        margin-right: 0
    .panes-2
      .panel-panel
        width: percentage($two-col-even / $two-col-wide2)
        float: left
      .panel-last
        margin-right: 0
        float: right

// panels hacks
.panels-flexible-region-new-top_
  width: 100%
