// HEADER
// ------
#header /* set bg-color and close gap that appeared above header */
  background: url(/sites/all/modules/dosomething/dosomething_campaign_styles/create_and_share/campaigns/picsforpets-2013/images/pics-header.jpg) top left
  margin-top: -6px
  @media only screen and (max-width: 920px) /* breakpoint at which #site-name (ds logo) drops */
    margin-top: 0

div.header_inner
  visibility: hidden
  height: 200px
  width: 900px
  margin: 0 auto
  position: relative
  overflow: hidden
  @media only screen and (max-width: 920px)
    height: 150px
    width: 98%
  @media only screen and (max-width: 620px)
    padding: 2% 0
    height: auto

img.header_sponsor, img.header_logo
  visibility: hidden
  position: absolute
  bottom: 5px
  @media only screen and (max-width: 920px)
    bottom: 5px
  @media only screen and (max-width: 400px)
    width: 45%
  
img.header_background
  visibility: hidden
  width: 700px
  +block_center
  @media only screen and (max-width: 920px)
    height: 150px
    width: 500px
  @media only screen and (max-width: 620px)
    display: none

img.header_logo
  visibility: hidden
  height: 190px
  right: 0
  @media only screen and (max-width: 920px)
    height: 140px
  @media only screen and (max-width: 620px)
    display: none

img.header_sponsor
  visibility: hidden
  left: 0
  @media only screen and (max-width: 620px)
    position: static
    width: 145px
    float: left
    margin: 0 0 0 10.5%
  @media only screen and (max-width: 450px)
    margin: 0 0 0 1.5%

img.header_logo_text /* replaces img.header_logo on lower screen resolutions */
  display: none
  @media only screen and (max-width: 620px)
    width: 80%
    +block_center
  @media only screen and (max-width: 450px)
    width: 98%

img.header_ds_logo /* additional DS logo for lower screen resolutions */
  display: none
  position: absolute
  top: 5px
  left: 0
  height: 75px
  @media only screen and (max-width: 920px)
    display: block 
  @media only screen and (max-width: 620px)
    position: static
    height: 50px
    float: right
    margin: 1% 9.5% 0 0 
  @media only screen and (max-width: 450px)
    margin: 1% 0.5% 0 0
