// NAV
// ---
.nav-container
  width: 300px
  margin: 0 auto
  ul
    overflow: hidden
    text-align: left
    padding: 0
    margin: 0

.crazy-menu-wrapper li
  color: #fff
  text-transform: uppercase
  list-style: none
  padding: 5px
  margin: 5px
  background: #666
  display: block
  float: left
  width: 180px
  color: pink
  &:hover
    background: #777

.crazy-menu-wrapper .type-filter
  width: 200px

.crazy-menu-wrapper, .crazy-sub-menu-wrapper
  width: 100%
  margin: 0
  padding: 0

.crazy-menu, .crazy-sub-menu
  overflow: hidden
  list-style: none
  li
    float: left
    text-align: center
  a
    display: block
    font-family: din-web-reg
    font-weight: 400
    text-transform: uppercase
    &:hover
      text-decoration: none
    
// NAV
// ---

.crazy-menu-wrapper
  background-color: $off_black

.crazy-menu
  margin: 0 auto
  width: 600px
  padding: 0
  @media only screen and (max-width: 650px)
    width: 100%
  li
    width: 25%
    margin: 0 0 -5px 0
  a
    font-size: 25px
    line-height: 50px
    color: #fff
    &:hover
      color: $accent_color
    @media only screen and (max-width: 650px)
      font-size: 17px
      line-height: 45px

  a.active
    color: $accent_color
    &:hover
      color: $accent_color

  .last /* styles [submit] as a button */
    background-image: -webkit-linear-gradient(top, rgb(225, 19, 19), rgb(180, 16, 16))
    margin: 7px 0 0 0
    width: 15%
    height: 30px
    @media only screen and (max-width: 650px)
      width: 20%
      height: 25px
    +border-radius(3px)
    a
      margin: -8px 0 0 0
      font-size: 20px
      opacity: 0.9
      @media only screen and (max-width: 650px)
        font-size: 15px
      &:hover
        color: #fff

  .last a.active /* when [submit] nave is selected -- do not display active color */
    color: #fff

// FILTERS
// -------

.crazy-sub-menu-wrapper
  background-color: #fff

.crazy-sub-menu
  margin: 0 auto 1%
  padding: 0
  width: 500px
  @media only screen and (max-width: 650px)
    width: 100%
  li
    margin: 2%
    width: 29%
    @media only screen and (max-width: 650px)
      margin: 1%
  a
    font-size: 18px
    line-height: 36px
    color: $off_black
    &:hover
      background-color: $off_black
      color: #fff
      +border-radius(3px)
    @media only screen and (max-width: 650px)
      font-size: 14px
      line-height: 23px

  a.active
    background-color: $off_black
    color: #fff
    +border-radius(4px)
    &:hover
      color: #fff

