// I <3 DAD

// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors - define any campaign specific colors here
$baseColor: #5DB7E0
$secondaryLink: #EB444A
$paneBG: #DDDDDD
$paneTitleBG: #5DB7E0
 
// borders (all lines - i.e. around social / quick info)
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web, "Trebuchet MS", sans-serif
$accent-reg: din-web-reg, "Trebuchet MS", sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// sets the background for the entire page
$imageBackground: url('assets/new_bg.jpg')
$bgFallback: #ccc

// sets the background for the page nav and main section
@mixin block
  // make sure you specify the RBG fallback if you have a RGBA set!
  background: white

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@mixin setBorderBox
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.main-inner 
  padding-top: 10px
  width: 750px
  a
    color: $baseColor
    &:hover
      color: $baseColor
  b
    font-weight: $boldWeight

h1.title
  display: none

img
  +noShadow
  +noBorder
  
ul
  margin: 0

body
  background-color: $bgFallback
  background-image: $imageBackground
  background-repeat: both

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px  

.panel-row-flexible
  .three-boxes
    width: 28%
    float: left
    margin-right: 0
    h3
      text-align: center
      padding: 25px 20px 0px
      font-family: $accent-reg
    a
      color: #000
      &:hover
        color: #000
    .pane-content
      +setBorderBox
      height: 165px

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder
  
// General pane definitions
.panel-row-flexible, .panel-row-actions
  margin: 0px
  .panel-pane
    margin-bottom: 15px
    border: none
    +block
    .pane-title
      background: $paneTitleBG
    .pane-content
      background: $paneBG

.ds-panel .pane-content
  padding-bottom: 0px

#breadcrumb
  display: none

// reset quick info color
.panel-row-ad-quick-info
  h2.pane-title
    color: #000 !important


//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent-reg
  ul.menu
    +block
    background-image: none
    text-align: right
    padding: 5px 0
    .active
      color: $secondaryLink
    a
      display: inline-block
      width: 100%
      padding: 6px 5px 6px 0
      font-size: 20px
      font-weight: 600
      text-transform: uppercase
      color: #000
      &:hover
        color: $secondaryLink
        text-decoration: none

// campaign logo
.pane-node-field-campaign-logo .pane-content
  padding-bottom: 0
.field-name-field-campaign-logo img
  width: 480px
  height: 230px
  margin-top: 0px !important

// mini info
// brief campaign description at the top right
.panel-top-right-mini-info
  font-family: $accent
  font-size: 21px
  line-height: 1.4em
  .field-name-field-campain-date
    color: $baseColor
    padding: 0
    font-weight: 600
  .field-name-field-campaign-teaser p
    margin-bottom: 8px
    width: 90%
    font-size: 18px
  .pane-content  
    padding-bottom: 0
  .scholarship_heart
    position: absolute
    right: -115px
    top: -37px
    width: 145px
    z-index: 1

// campaign social buttons, top right
.pane-campaign-social
  .pane-content
    .fb-facepile
      margin-bottom: 5px
      &:before
        +insetBorder
    // positioning line between social width and campaign teaser
    .socialWrapper
      margin: 0 0 8px 18px
      &:before
        +insetBorder
        content: ""
        display: block
        left: -18px
        margin-bottom: 8px
        position: relative
        width: 247px

// short form
.panel-row-actions
  background: $paneBG
  margin: 0 0 15px 0
  width: 750px
  +noBorder
  #edit-actions
    position: absolute
    right: 82px
    bottom: 1px
  .form-wrapper
    margin-bottom: 5px !important
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    form 
      padding-bottom: 0
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noShadow
        +noBorder
      .field-name-field-webform-email
        font-size: 14px
        width: 280px
        margin-bottom: 0.5em
        input
          width: 100%
      .field-name-field-webform-mobile  
        font-size: 14px
        width: 240px
        margin-bottom: 0.5em
        input
          width: 75%
          margin-top: 5px

.panel-row-actions-sign-up  
  #campaign-opt-in
    font-size: 11px
    margin: 25px 0 0 17px

.pane-content #dosomething-login-register-popup-form .popup-content
  height: 150px

// counter
.pane-campaign-counter
  .pane-content
    padding: 20px 25px
    .campaign-counter-labels
      text-transform: uppercase
      font-size: 25px
      font-family: din-web,"Trebuchet MS",sans-serif 
      font-weight: 500
      line-height: 25px
      float: left
    .digits, .campaign-counter-label-bottom, .campaign-counter-label-top
      margin-bottom: 8px

// Quick Info
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    line-height: 1em
    font-weight: 500
  .pane-content
    margin-top: 1em
    padding: 0
    h3
      color: $secondaryLink
      font-size: 20px
      font-family: $accent-reg
      text-transform: uppercase
      font-weight: 500
      line-height: .8em
    p
      margin: 0 0 0.8em 0
    &:before
      margin-bottom: 20px
      
// PSA
.panel-row-ad-psa
  margin-top: 35px

// sponsor logos
.panel-row-logos
  margin-top: 2em
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0
  .pane-content
    background: none
    padding: 0

// mini panels
// sponsor and help panel
.pane-content
  .got_questions
    text-align: right
    border-top: 2px solid #000
    padding-top: 10px

// m.commons & three-boxes mini panel
.mcommons-webform
  float: left
  width: 66%
  margin-right: 5%
  border: none !important
  input.field
    width: 85%
    height: 20px
    margin-bottom: 5px
  label
    font-weight: 600
  // overriding padding on go-button to center the SUBMIT text
  .go-button
    padding-top: 3px
    margin: 0 10px 5px 0
  .pane-content
    padding: 10px
    height: 165px
  #campaign-opt-in
    font-size: 11px
    margin: 7px 0 0 4px
    width: 155px

.mcommons-webform-video
  float: none
  width: 100%
  margin: 0 0 15px 0
  border: none !important

#five_friends
  width: 170px
  position: absolute
  bottom: 0px
  left: 15px

.mcommons-webform-column
  float: left
  width: 40%
  margin-right: 2%

form.webform-client-form
  border: none
  box-shadow: none
  padding: 15px 15px 0 15px
  margin-bottom: -15px

// pane within a pane background color fix
.panel-row-flexible
  .pane-iheartdad-locator-box > .pane-content
    background-color: white

// FAQ
#faq-section
  padding: 15px
  h3
    color: $baseColor
    text-transform: uppercase
    font-size: 19px
  h4
    font-size: 1.0em
  ul
    margin-bottom: 15px
  li
    list-style: none
  img
    border: 5px solid $secondaryLink !important
    background-color: #fff


// scholarship page
.official_rules_link
  position: relative
  text-align: center
  bottom: 160px

// e-card page
.ecard
  float: left
  width: 350px
  padding: 10px
  
.ecard-wrapper
  margin: 0 auto
  width: 700px

.intro
  padding: 20px
  text-align: center

// really just exists as an excuse to clear the floats used on the e-card “gallery”
.outro 
  clear: both
  text-align: center
  padding: 20px

// blog
.node-campaign-blog-post
  padding: 15px !important
  .field-name-field-picture
    img
      margin: 0 20px 20px 0
      float: left
  .field-name-field-blog-video
    clear: both
    position: relative
    bottom: -25px
    right: -125px
    margin: 35px 0
    iframe
      margin: 0 auto
      display: block

.field-type-text-with-summary
  img
    padding: 10px
    margin: 20px auto
    display: block
    border: 1px solid #000!important

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  +noBorder
  .pane-content
    padding: 15px
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink
  .views-field-title
    a
      text-decoration: none
      &:hover
        color: $secondaryLink
  .more-link
    text-transform: uppercase

.pane-campaign-blog-panel-pane-2
  +noBorder
  width: 100%
  .pane-content
    padding: 10px 0 0 0
  .view-campaign-blog
    .views-row
      padding: 5px 15px 15px
        margin: 1em 0 1em 0
      &:first-child
        &:before
          +noBorder
          margin: 0
    .views-row-even
      background-color: $paneBG

.campaign-blog-post
  .panel-row-flexible
    width: 82%
    margin: 0 auto 15px
  .pane-dosomething-blocks-dosomething-social-node-buttons
    margin: 0 auto
      
// sign up form
#node-722415
  .field-name-group-audience
    display: none
  

// set the resgister for Do Something block on sign up to be taller
#dosomething-login-register-popup-form .popup-content
  height: 165px

// hide school data on the long form
#edit-submitted-field-webform-school-reference,
#submitted-field-webform-school-zip-add-more-wrapper
  display: none

// report back form
#long-form
  width: 80%
  margin: 0 auto 50px

#node-722416, #node-722415
  +noBorder
  +noShadow
  .webform-component
    margin-bottom: 10px
  label
    font-family: $accent-reg
    font-size: 14px
    font-weight: 600
    padding-bottom: 2px
  .form-item
    input
      width: 200px
  #edit-submitted--2
    display: none
  #webform-component-ie-why-you-participated-what-getting-your-dad-to-take-his-blood-pressure-was-like-etc, 
  #webform-component-no-worries
    label
      font-size: 12px
      font-weight: 500
      margin-top: -10px
  #edit-actions
    text-align: center
    height: 70px

#edit-submitted-field-webform-pictures-und
  legend
    display: none

.fb-social-comments-plugin
  display: none