.main-inner {
  padding-top: 10px;
  width: 750px; }
  .main-inner a {
    color: #5db7e0; }
    .main-inner a:hover {
      color: #5db7e0; }
  .main-inner b {
    font-weight: 600; }

h1.title {
  display: none; }

img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important; }

ul {
  margin: 0; }

body {
  background-color: #cccccc;
  background-image: url("assets/new_bg.jpg");
  background-repeat: both; }

div[role="main"] {
  background: white;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

.panel-row-flexible .three-boxes {
  width: 28%;
  float: left;
  margin-right: 0; }
  .panel-row-flexible .three-boxes h3 {
    text-align: center;
    padding: 25px 20px 0px;
    font-family: din-web-reg, "Trebuchet MS", sans-serif; }
  .panel-row-flexible .three-boxes a {
    color: black; }
    .panel-row-flexible .three-boxes a:hover {
      color: black; }
  .panel-row-flexible .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 165px; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-flexible, .panel-row-actions {
  margin: 0px; }
  .panel-row-flexible .panel-pane, .panel-row-actions .panel-pane {
    margin-bottom: 15px;
    border: none;
    background: white; }
    .panel-row-flexible .panel-pane .pane-title, .panel-row-actions .panel-pane .pane-title {
      background: #5db7e0; }
    .panel-row-flexible .panel-pane .pane-content, .panel-row-actions .panel-pane .pane-content {
      background: #dddddd; }

.ds-panel .pane-content {
  padding-bottom: 0px; }

#breadcrumb {
  display: none; }

.panel-row-ad-quick-info h2.pane-title {
  color: black !important; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web-reg, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: white;
    background-image: none;
    text-align: right;
    padding: 5px 0; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #eb444a; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 6px 5px 6px 0;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: black; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #eb444a;
        text-decoration: none; }

.pane-node-field-campaign-logo .pane-content {
  padding-bottom: 0; }

.field-name-field-campaign-logo img {
  width: 480px;
  height: 230px;
  margin-top: 0px !important; }

.panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 1.4em; }
  .panel-top-right-mini-info .field-name-field-campain-date {
    color: #5db7e0;
    padding: 0;
    font-weight: 600; }
  .panel-top-right-mini-info .field-name-field-campaign-teaser p {
    margin-bottom: 8px;
    width: 90%;
    font-size: 18px; }
  .panel-top-right-mini-info .pane-content {
    padding-bottom: 0; }
  .panel-top-right-mini-info .scholarship_heart {
    position: absolute;
    right: -115px;
    top: -37px;
    width: 145px;
    z-index: 1; }

.pane-campaign-social .pane-content .fb-facepile {
  margin-bottom: 5px; }
  .pane-campaign-social .pane-content .fb-facepile:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.pane-campaign-social .pane-content .socialWrapper {
  margin: 0 0 8px 18px; }
  .pane-campaign-social .pane-content .socialWrapper:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    left: -18px;
    margin-bottom: 8px;
    position: relative;
    width: 247px; }

.panel-row-actions {
  background: #dddddd;
  margin: 0 0 15px 0;
  width: 750px;
  border: none !important; }
  .panel-row-actions #edit-actions {
    position: absolute;
    right: 82px;
    bottom: 1px; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 5px !important; }
  .panel-row-actions .pane-title {
    background: #5db7e0; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up form {
    padding-bottom: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border: none !important; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      font-size: 14px;
      width: 280px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      font-size: 14px;
      width: 240px;
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%;
        margin-top: 5px; }

#post-sign-up h3 {
  padding: 20px 15px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 40px; }

.panel-row-actions-sign-up #campaign-opt-in {
  font-size: 11px;
  margin: 25px 0 0 17px; }

.pane-content #dosomething-login-register-popup-form .popup-content {
  height: 150px; }

.pane-campaign-counter .pane-content {
  padding: 20px 25px; }
  .pane-campaign-counter .pane-content .campaign-counter-labels {
    text-transform: uppercase;
    font-size: 25px;
    font-family: din-web, "Trebuchet MS", sans-serif;
    font-weight: 500;
    line-height: 25px;
    float: left; }
  .pane-campaign-counter .pane-content .digits, .pane-campaign-counter .pane-content .campaign-counter-label-bottom, .pane-campaign-counter .pane-content .campaign-counter-label-top {
    margin-bottom: 8px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content {
  margin-top: 1em;
  padding: 0; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: #eb444a;
    font-size: 20px;
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0.8em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0 0 0.8em 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 20px; }

.panel-row-ad-psa {
  margin-top: 35px; }

.panel-row-logos {
  margin-top: 2em; }
  .panel-row-logos .pane-title {
    color: #5db7e0;
    background: none;
    margin: 0;
    padding: 0; }
  .panel-row-logos .pane-content {
    background: none;
    padding: 0; }

.pane-content .got_questions {
  text-align: right;
  border-top: 2px solid black;
  padding-top: 10px; }

.mcommons-webform {
  float: left;
  width: 66%;
  margin-right: 5%;
  border: none !important; }
  .mcommons-webform input.field {
    width: 85%;
    height: 20px;
    margin-bottom: 5px; }
  .mcommons-webform label {
    font-weight: 600; }
  .mcommons-webform .go-button {
    padding-top: 3px;
    margin: 0 10px 5px 0; }
  .mcommons-webform .pane-content {
    padding: 10px;
    height: 165px; }
  .mcommons-webform #campaign-opt-in {
    font-size: 11px;
    margin: 7px 0 0 4px;
    width: 155px; }

.mcommons-webform-video {
  float: none;
  width: 100%;
  margin: 0 0 15px 0;
  border: none !important; }

#five_friends {
  width: 170px;
  position: absolute;
  bottom: 0px;
  left: 15px; }

.mcommons-webform-column {
  float: left;
  width: 40%;
  margin-right: 2%; }

form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }

.panel-row-flexible .pane-iheartdad-locator-box > .pane-content {
  background-color: white; }

#faq-section {
  padding: 15px; }
  #faq-section h3 {
    color: #5db7e0;
    text-transform: uppercase;
    font-size: 19px; }
  #faq-section h4 {
    font-size: 1em; }
  #faq-section ul {
    margin-bottom: 15px; }
  #faq-section li {
    list-style: none; }
  #faq-section img {
    border: 5px solid #eb444a !important;
    background-color: white; }

.view-campaign-gallery .thumbs {
  margin-left: -10px; }
.view-campaign-gallery .pager {
  margin: 0;
  padding-bottom: 20px; }
  .view-campaign-gallery .pager li {
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-weight: 600; }

.copy-above-gallery .pane-title {
  marign-bottom: 15px; }

.official_rules_link {
  position: relative;
  text-align: center;
  bottom: 160px; }

.ecard {
  float: left;
  width: 350px;
  padding: 10px; }

.ecard-wrapper {
  margin: 0 auto;
  width: 700px; }

.intro {
  padding: 20px;
  text-align: center; }

.ecard-big {
  width: 500px;
  margin: -20px auto 0 !important; }

.ecard-big > img {
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.ecard-big > iframe {
  margin-left: 10px; }

.outro {
  clear: both;
  text-align: center;
  padding: 20px; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0 20px 20px 0;
    float: left; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.field-type-text-with-summary img {
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid black !important; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: #5db7e0;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: #eb444a; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: #eb444a; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none !important;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: #dddddd; }

.campaign-blog-post .panel-row-flexible {
  width: 82%;
  margin: 0 auto 15px; }
.campaign-blog-post .pane-dosomething-blocks-dosomething-social-node-buttons {
  margin: 0 auto; }

#node-722415 .field-name-group-audience {
  display: none; }

#dosomething-login-register-popup-form .popup-content {
  height: 165px; }

#edit-submitted-field-webform-school-reference,
#submitted-field-webform-school-zip-add-more-wrapper {
  display: none; }

#long-form {
  width: 80%;
  margin: 0 auto 50px; }

#node-722416, #node-722415 {
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }
  #node-722416 .webform-component, #node-722415 .webform-component {
    margin-bottom: 10px; }
  #node-722416 label, #node-722415 label {
    font-family: din-web-reg, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 2px; }
  #node-722416 .form-item input, #node-722415 .form-item input {
    width: 200px; }
  #node-722416 #edit-submitted--2, #node-722415 #edit-submitted--2 {
    display: none; }
  #node-722416 #webform-component-ie-why-you-participated-what-getting-your-dad-to-take-his-blood-pressure-was-like-etc label,
  #node-722416 #webform-component-no-worries label, #node-722415 #webform-component-ie-why-you-participated-what-getting-your-dad-to-take-his-blood-pressure-was-like-etc label, #node-722415 #webform-component-no-worries label {
    font-size: 12px;
    font-weight: 500;
    margin-top: -10px; }
  #node-722416 #edit-actions, #node-722415 #edit-actions {
    text-align: center;
    height: 70px; }

#edit-submitted-field-webform-pictures-und legend {
  display: none; }

.fb-social-comments-plugin {
  display: none; }

.group-context-node-722412 .field-name-field-campain-date {
  display: none; }
.group-context-node-722412 .scholarship_heart {
  display: none; }
.group-context-node-722412 h3.ihd-h3 {
  line-height: 30px !important;
  padding-bottom: 25px !important; }
.group-context-node-722412 .ihdadgo .go-button {
  right: 160px;
  bottom: -10px; }
.group-context-node-722412 h3.ihd-scholar {
  text-align: center;
  padding: 30px; }
