div#main-wrapper div[role="main"] {
  background: #fff !important;
}

.results {
  text-align: center;
  width: 500px;
  margin: 5px auto;
  margin-top: 20px;
}

.results .result {
  display: inline-block;
}

ul { margin: 0px; padding: 0px; }
ul li {
   list-style-type: none;
}

.component {
  /*border-bottom: 1px solid #dedcdb;*/
  padding: 15px 23px 16px 23px;
  width: 797px;
  margin: 0px 0px 0px -23px;

}

.component.alternate {
  background: #f2f2f2;
}

.component ul { margin: 0px; padding: 0px; }

.result span.you, .result span.them {
   font-weight: 600;
}

.result.yours, .result.theirs {
   width: 50%;
   height: 18px;
   font-weight: 500;
}

.result.yours {
   padding-right: 32px;
   border-right: 1px solid #000;
   text-align: right;
}

.result.theirs {
   padding-left: 32px;
   text-align: left;
}

.question.sub {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12pt;
  margin-left: 18px;
}

#share-with-friends {
  float: right;
  position: relative;
  top: 6px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  background: #fad141;
  padding: 9px 15px 5px;
  border-radius: 15px;
  font-family: din-web;
  font-weight: 600;
  font-size: 25px;
  border: 2px solid #ffe046;
  background-image: linear-gradient(bottom, rgb(250,207,64) 0%, rgb(252,217,90) 50%, rgb(254,223,86) 75%);
  background-image: -o-linear-gradient(bottom, rgb(250,207,64) 0%, rgb(252,217,90) 50%, rgb(254,223,86) 75%);
  background-image: -moz-linear-gradient(bottom, rgb(250,207,64) 0%, rgb(252,217,90) 50%, rgb(254,223,86) 75%);
  background-image: -webkit-linear-gradient(bottom, rgb(250,207,64) 0%, rgb(252,217,90) 50%, rgb(254,223,86) 75%);
  background-image: -ms-linear-gradient(bottom, rgb(250,207,64) 0%, rgb(252,217,90) 50%, rgb(254,223,86) 75%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(250,207,64)), color-stop(0.5, rgb(252,217,90)), color-stop(0.75, rgb(254,223,86)));
}

#share-with-friends:hover {
  text-decoration: none;
}

div.ptitle { 
  display: inline-block;
  position: relative;
  top: 12px;
}