// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)

  #content
    padding: 0 2% 10%

@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 0 auto  


@media only screen and (max-width: 550px)



@media only screen and (max-width: 450px)
  .section
    margin: 0 auto

