// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)

  #content
    padding: 0 2% 10%

@media only screen and (max-width: 840px)

  .section
    width: 100%
    margin: 0 auto  

  #content
    .box2
      margin-left: 2em
    .box3
      clear: both
      margin: 2em 2em 0 0
    .box4
      margin: 2em 0 0

    .medbox4
      clear: both
    .medbox4, .medbox5
      margin-top: 2em
    .col33
      width: 30%
      margin-right: 3%


@media only screen and (max-width: 550px)

  #content
    .medbox3, .medbox5
      clear: both
    .medbox3
      margin: 2em 0.545em 0 0
    .medbox4
      clear: none
    .col33
      width: 100%
      p
        text-align: center


@media only screen and (max-width: 450px)
  .section
    margin: 0 auto

  #content
    .large-box, .med-box
      display: block
      float: none
      margin: 1.4em 0 0
