// PANES 

//      //
//  #header
//      //
.section#header
  background: transparent
#header
  margin-top: 10%
  padding: 0
  //img.come
    //margin: 5% 0 0
  h3
    text-transform: none
    font-weight: 400
    color: $secondaryColor
    margin: -0.3em auto 1em
    font-size: 1.6em
    line-height: 1.6em
  p
    margin: 0 auto 1em
    //max-width: 675px
    padding: 0 2%
    font-size: 1.1em
    color: $grayColor
  .go-button
    margin: 1% 0
  .sub-button
    font-size: 0.8em
    a
      font-weight: 400

//      //
//  #content
//      //
#content
  padding-bottom: 10%
  p
    color: $grayColor
    text-align: left
  h2
    clear: both
    text-align: left
    text-transform: uppercase
    border-top: 1px solid $secondaryColor
    border-bottom: 1px solid $secondaryColor
    margin: 1em 0 0.5em
    color: $mainColor
    font-size: 2em
    padding: 0.2em 0 0
    line-height: 1.1em
  h4
    text-align: left

  .large-wrap
    display: inline-block
  .large-box
    width: 189px
    float: left
    text-align: left
    margin: 1% 0 0
    h4
      font-size: 1.2em
      text-transform: uppercase
    p
      font-size: 1.1em
  .box1 h4
    color: $pinkColor
  .box2 h4
    color: $secondaryColor
  .box3 h4
    color: $yellowColor
  .box4 h4
    color: $orangeColor  
  .box2, .box3
    margin-left: 0.68em
    margin-right: 0.68em

  .med-box-wrap
    display: inline-block
  .med-box
    margin: 1% 0 0
    width: 153px
    float: left
    h4
      color: $pinkColor
      font-size: 1.1em
      text-transform: uppercase
    p
      font-size: 0.8em
  .medbox2
    margin-left: 0.545em
  .medbox3
    margin: 1% 0.545em
  .medbox4
    margin-right: 0.545em

  img.sponsors
    margin: 2% 0
  a
    font-weight: 400
  .col33
    margin: 1% 0 3%
    p
      line-height: 1em
      margin-bottom: 0.75em

