/* Headings --------------------------------------------------------------

// #{headers(all)},
.h1, .h2, .h3, .h4, .h5, .h6
  @extend .headers
  font-weight: normal
  text-rendering: optimizeLegibility
  color: $c-headers

.h1
  +adjust-font-size-to($s5, 1.5)
  font-weight: 500
  margin-top: calc-em(10px, $s5)
.h2
  +adjust-font-size-to($s3, 1.25)
  font-weight: 600
  margin-top: calc-em(10px, $s3)
.h3
  +adjust-font-size-to($s2)
  font-weight: 600
.h4
  +adjust-font-size-to($s1)
  font-weight: 600
.h5
  +adjust-font-size-to($s0)
  font-weight: 600
.h6
  +adjust-font-size-to($s0)
  font-weight: 500

h1
  @extend .h1
h2
  @extend .h2
h3
  @extend .h3
h4
  @extend .h4
h5
  @extend .h5
h6
  @extend .h6
