// _base.sass

// variable definitions
$thumbYellow: #FFDD00
$thumbBlue: #0A5083
$thumbGrey: #231F20
$thumbAccent: #0DA0E6

$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
//@mixin noBorder
  border: none !important

//@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important
