// RESPONSIVE STYLES

@media only screen and (max-width: 1075px)
  .region-sidebar-first
    display: none
  #site-name
    top: -30px
    left: 5px
    a
      height: 50px
      width: 60px
      background-size: 60px 
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar
    .search, #help-center
      display: none
    .login
      padding: 0.5em 2em 0 0
  #page
    width: 100%
  #main-wrapper div[role="main"]
    float: none
    width: 100%
    background: $thumbYellow
  nav[role="navigation"]
    display: none
  .container
    margin: 0 auto
    width: 797px
  header[role="banner"]
    position: relative
    width: 797px
    margin: 0 auto

@media only screen and (max-width: 797px)
  .container, header[role="banner"], #cork, #cask
    width: 100%

// @media screen and (max-width: 320px)
