// RESPONSIVE STYLES

$bp-xlarge: 1100px
$bp-large: 700px
$bp-medium: 600px
$bp-small: 320px

@media screen and (max-width: $bp-xlarge)
  .container
    max-width: 93.6%
  .region-sidebar-first
    width: 22.1%
  
