////////////////////////////
// RESET DRUPAL MENU DEFAULTS
////////////////////////////
ul.menu
  li
    margin: 0 0 0 0
    &.expanded
      list-style-image: none
    &.expanded, &.collapsed, &.leaf
      padding: 0 0 0 0

