// IMPORT PARTIALS
// ---------------

// COMPASS
@import compass

// VARIABLES
@import variables/base
@import variables/colors
@import variables/fonts
@import variables/mixins
@import variables/grids-all

// EXTENDS
@import extends/typography
@import extends/dosomething
@import extends/helpers

// GLOBAL STYLES
@import global/site-name
@import global/navigation
@import global/utility-bar
@import global/drupal-menu-reset

body
  background: #222
  font-family: Helvetica
  color: #fff
  font-size: 18px
