.views-field-title
  width: 80%

#edit-submit-clubs
  margin-left: 10px
  margin-right: 10px

#edit-distance-postal-code
  margin-right: 10px
  width: 85px

.form-item-distance-search-distance, .form-item-distance-search-units
  display: none

.views-exposed-widget
  .selectBox-dropdown
    width: 75px !important
    display: inline-block
    
    .selectBox-label
      min-width: 70px
      width: 70px
