.region-content a {
  color: black !important;
  font-weight: 500;
  text-decoration: underline; }
  .region-content a:hover {
    color: black; }

.region-content a.go-button {
  text-decoration: none; }

h1.title {
  display: none; }

body {
  background-image: url("assets/background.jpg"); }

div[role="main"] {
  background: black;
  background: rgba(0, 30, 0, 0.5);
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    font-weight: 600;
    height: 166px;
    padding: 30px 20px;
    text-align: center; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.bg-green .pane-content,
.panel-row-actions-stats,
.pane-campaign-sign-up .pane-content,
.pane-campaign-counter .pane-content,
.panel-row-actions {
  background-color: #8dc641; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: black;
    background: rgba(0, 30, 0, 0.5);
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      color: white; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #009444;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #009444;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }

.panel-row-actions {
  background: black;
  background: rgba(0, 30, 0, 0.5);
  margin: 0; }
  .panel-row-actions .pane-title {
    background: #009444; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-mobile {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-mobile input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-email {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-email input {
        width: 100%; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #009444;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em; }
.panel-row-ad-quick-info .pane-content p {
  color: white;
  margin: 0; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  border: none;
  background: black;
  background: rgba(0, 30, 0, 0.5); }
  .panel-row-flexible .panel-pane .pane-title {
    background: #009444; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-title {
  color: #009444;
  background: none;
  margin: 0;
  padding: 0; }

#scholarships-box {
  margin-left: 4%; }
  #scholarships-box .pane-content {
    padding-bottom: 0px; }

.two-boxes {
  width: 48%;
  float: left;
  text-align: center;
  margin-bottom: 20px; }
  .two-boxes .pane-content {
    padding: 20px 5px;
    height: 265px; }
    .two-boxes .pane-content h2 {
      color: black;
      font-size: 24px;
      font-weight: 500; }
    .two-boxes .pane-content p {
      font-size: 14px;
      margin: 1em 0; }
    .two-boxes .pane-content p.small {
      font-size: 12px;
      line-height: 12px;
      margin: 2px 0px 15px 0px; }

#judging .pane-content {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 20px; }
#judging li h2 {
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase; }
#judging li p {
  margin-bottom: 1.2em; }

.clear-both {
  clear: both; }

.white {
  color: white; }

.center {
  text-align: center; }

.left {
  float: left; }

.pane-node-field-campain-date {
  color: #8dc641;
  font-weight: 500; }

.panel-row-ad-quick-info h2 {
  color: black;
  font-size: 24px;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content p {
  margin-bottom: 1em; }

.pane-node-field-campain-date,
.pane-node-field-campaign-teaser,
.pane-node-field-campaign-logo {
  margin-bottom: 0; }
  .pane-node-field-campain-date .pane-content,
  .pane-node-field-campaign-teaser .pane-content,
  .pane-node-field-campaign-logo .pane-content {
    padding-bottom: 0; }
    .pane-node-field-campain-date .pane-content p,
    .pane-node-field-campaign-teaser .pane-content p,
    .pane-node-field-campaign-logo .pane-content p {
      margin-bottom: 0; }

.pane-node-field-campaign-logo {
  margin-bottom: 40px; }

#faq {
  margin-bottom: 25px; }
  #faq .pane-content {
    padding: 15px 10px; }
    #faq .pane-content h3 {
      color: black;
      font-size: 21px;
      line-height: 21px; }

#project-ideas {
  margin-bottom: 20px; }
  #project-ideas .pane-content {
    padding: 20px 10px; }
    #project-ideas .pane-content .small-logo {
      margin: 15px 15px 0 0; }
    #project-ideas .pane-content #nestle-recycling-copy {
      width: 590px;
      margin-top: 15px; }
    #project-ideas .pane-content h1 {
      background: url("assets/black-triangle.png") no-repeat left;
      padding: 5px 0 0 15px;
      margin: 0px 5px 2px 10px;
      font-size: 32px;
      cursor: pointer; }
    #project-ideas .pane-content h1:hover {
      cursor: pointer;
      color: #333333; }
    #project-ideas .pane-content ul {
      background-color: #222222;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      -khtml-border-radius: 15px;
      border-radius: 15px;
      padding: 10px 0px 3px 36px;
      margin: 0px 7px 5px 7px; }
      #project-ideas .pane-content ul li {
        color: white;
        padding-bottom: 7px; }
        #project-ideas .pane-content ul li a {
          text-decoration: none;
          color: white !important; }
        #project-ideas .pane-content ul li a:hover {
          text-decoration: underline; }

.pane-node-field-campaign-teaser p {
  color: white; }

#quick-info {
  color: white; }
  #quick-info .pane-title {
    color: #8dc641;
    font-size: 34px; }
  #quick-info .pane-content h3 {
    color: white;
    font-size: 32px;
    line-height: 20px; }
  #quick-info .pane-content a {
    color: #8dc641 !important; }

.panel-row-ad-psa {
  margin-top: 45px; }

.panel-row-actions {
  margin-bottom: 20px;
  border: 0; }
  .panel-row-actions form {
    border: 0 !important; }

#browse-schools .pane-content form {
  margin-left: 275px; }
#browse-schools .pane-content .view-filters .selectBox-dropdown {
  background: #aaaaaa; }
#browse-schools .pane-content .views-field-name a {
  color: white !important;
  text-decoration: none;
  font-weight: 300 !important;
  font-size: 14px; }
#browse-schools .pane-content ul {
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  -o-column-gap: 0px;
  column-gap: 0px;
  margin-left: 80px; }

.pane-campaign-gallery-panel-pane-3 .pane-content {
  padding-bottom: 0px;
  margin-bottom: 25px; }

.form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-1,
.form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-12,
.form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-26,
.form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-33,
.form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-49 {
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  padding: 10px 0;
  color: white;
  margin-bottom: 10px;
  background-color: #009149;
  -webkit-border-bottom-right: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-1 input,
  .form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-12 input,
  .form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-26 input,
  .form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-33 input,
  .form-item-submitted-check-off-the-projects-below-that-your-school-has-completed-49 input {
    display: none; }

#report-back {
  width: 635px;
  margin-left: 55px; }
  #report-back form {
    border: 0px;
    -webkit-box-shadow: black 0 0 0 0;
    -moz-box-shadow: black 0 0 0 0;
    box-shadow: black 0 0 0 0; }
  #report-back .pane-content {
    background-color: #78c848;
    padding: 0px 25px;
    padding-bottom: 0px;
    border: none; }
    #report-back .pane-content legend {
      padding: 0px !important; }
    #report-back .pane-content .field-name-field-webform-pictures > label,
    #report-back .pane-content #webform-component-field-campaign-number-of-people > label,
    #report-back .pane-content #webform-component-what-did-you-do-tell-us-in-your-school-blog > label,
    #report-back .pane-content #webform-component-check-off-the-projects-below-that-your-school-has-completed > label {
      margin-top: 20px;
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 5px; }

#campaign-opt-in {
  font-size: 11px; }
  #campaign-opt-in a#opt-in-help {
    vertical-align: super;
    font-weight: bold; }
  #campaign-opt-in a#opt-in-help:hover {
    color: black;
    text-decoration: none; }

.view-campaign-gallery .jcarousel-container-horizontal {
  padding: 5px 0; }
  .view-campaign-gallery .jcarousel-container-horizontal img {
    border: 1px #1f8835 solid; }

#school-name {
  background-color: #009444; }
  #school-name .pane-content {
    padding: 6px 12px 6px 12px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px; }
    #school-name .pane-content h2 {
      color: white; }

#share-your-story {
  float: left; }
  #share-your-story .pane-content {
    padding: 10px;
    padding-bottom: 25px;
    width: 480px;
    text-align: center; }
    #share-your-story .pane-content .content-content {
      padding: 5px 5px 34px 5px;
      background: #78c848;
      background: rgba(0, 30, 0, 0.2); }
      #share-your-story .pane-content .content-content a {
        right: 222px;
        bottom: 30px; }

#members-list {
  float: left;
  padding-right: 10px; }
  #members-list .pane-title {
    background: #8dc641;
    padding: 10px 0 0 10px;
    font-size: 24px;
    line-height: 24px; }
  #members-list .pane-content {
    padding: 10px;
    width: 271px;
    height: 177px;
    overflow: auto; }
    #members-list .pane-content ul {
      list-style: none; }
      #members-list .pane-content ul li {
        font-size: 18px;
        line-height: 18px; }

#school-gallery {
  clear: both; }
