.region-content a {
  color: black !important;
  font-weight: 500;
  text-decoration: underline; }
  .region-content a:hover {
    color: black; }

.region-content a.go-button {
  text-decoration: none; }

h1.title {
  display: none; }

body {
  background-image: url("background.jpg"); }

div[role="main"] {
  background: black;
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 20px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    font-weight: 600;
    height: 166px;
    padding: 30px 20px;
    text-align: center; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.bg-green .pane-content {
  background-color: #8dc641; }

#block-dosomething-campaign-styles-campaign-nav {
  background: transparent;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: black;
    background-image: none;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      color: white; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover, #block-dosomething-campaign-styles-campaign-nav ul.menu a .active {
        color: #009444;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: #009444;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em; }

.panel-row-actions {
  background: black;
  margin: 0; }
  .panel-row-actions .pane-title {
    background: #009444; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-mobile {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-mobile input {
        width: 100%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-email {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content #edit-submitted-field-webform-email input {
        width: 100%; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1.3em;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content h3 {
  color: #009444;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em; }
.panel-row-ad-quick-info .pane-content p {
  margin: 0; }
.panel-row-ad-quick-info .pane-content:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }

.panel-row-flexible .panel-pane {
  border: none;
  background: black; }
  .panel-row-flexible .panel-pane .pane-title {
    background: #009444; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-title {
  color: #009444;
  background: none;
  margin: 0;
  padding: 0; }

#scholarships-box {
  margin-left: 4%; }
  #scholarships-box .pane-content {
    padding-bottom: 0px; }

.two-boxes {
  width: 48%;
  float: left;
  text-align: center; }
  .two-boxes .pane-content {
    padding: 20px 5px; }
    .two-boxes .pane-content h2 {
      color: black;
      font-size: 24px;
      font-weight: 500; }
    .two-boxes .pane-content p {
      font-size: 14px;
      margin: 1em 0; }
    .two-boxes .pane-content p.small {
      font-size: 12px;
      line-height: 12px;
      margin: 2px 0px 15px 0px; }

#judging .pane-content {
  padding-top: 5px; }
#judging li h2 {
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase; }
#judging li p {
  margin-bottom: 1.2em; }

.clear-both {
  clear: both; }

.white {
  color: white; }

.pane-node-field-campain-date {
  color: #009444;
  font-weight: 500; }

.panel-row-ad-quick-info h2 {
  color: black;
  font-size: 24px;
  font-weight: 500; }
.panel-row-ad-quick-info .pane-content p {
  margin-bottom: 1em; }

.pane-node-field-campain-date,
.pane-node-field-campaign-teaser,
.pane-node-field-campaign-logo {
  margin-bottom: 0; }
  .pane-node-field-campain-date .pane-content,
  .pane-node-field-campaign-teaser .pane-content,
  .pane-node-field-campaign-logo .pane-content {
    padding-bottom: 0; }
    .pane-node-field-campain-date .pane-content p,
    .pane-node-field-campaign-teaser .pane-content p,
    .pane-node-field-campaign-logo .pane-content p {
      margin-bottom: 0; }
