// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #009444
$complement: #ffffff
$secondaryLink: black

// borders
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif

// page background
$imageBackground: url('assets/background.jpg')
$bgFallback: black

// block definition (all blocks--don't define width or float here)
@mixin block
  background: rgb(0, 0, 0)
  background: rgba(0, 30, 0, .5)
  
// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot


//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.region-content a 
  color: #000 !important
  font-weight: 500
  text-decoration: underline
  &:hover
    color: $secondaryLink

.region-content a.go-button
  text-decoration: none

h1.title
  display: none

body
  //background-color: $bgFallback
  background-image: $imageBackground
// dark green to light green, light green to dark green
  //+background-image(linear-gradient(left, #1F8835 5%, #78BC32 20%, #78BC32 80%, #1F8835 95%)) 
  background-repeat: repeat-y
  background-position: center top

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 20px
  padding-top: 10px

.three-boxes
  width: 29%
  float: left
  margin-right: 6.5%
  &:last-child
    margin-right: 0
  .pane-content
    font-weight: 600
    height: 166px
    padding: 30px 20px
    text-align: center

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder


//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////
 
.bg-green .pane-content,
.panel-row-actions-stats,
.pane-campaign-sign-up .pane-content,
.pane-campaign-counter .pane-content,
  background-color: #8DC641

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: transparent
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background-image: none
    text-align: right
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 22px
      font-weight: 600
      text-transform: uppercase
      color: #fff
      &:hover, .active
        color: $baseColor
        text-decoration: none

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    .pane-title
      background: none
      color: $baseColor
      padding: 0
      font-size: 26px
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em

.panel-row-actions
  +block
  margin: 0
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    .pane-campaign-sign-up
      margin: 0
    .pane-content
      padding: 0
      #edit-submitted-field-webform-mobile
        margin-bottom: 0.5em
        input
          width: 100%
      #edit-submitted-field-webform-email
        margin-bottom: 0.5em
        input
          width: 100%

// ad row (quick info and psa)
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: $secondaryLink
    line-height: 1.3em
    font-weight: 500
  .pane-content
    h3
      color: $baseColor
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      line-height: 1em
    p
      color: white
      margin: 0
    &:before
      +insetBorder
      margin-bottom: 20px


.panel-row-flexible
  .panel-pane
    border: none
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0

#scholarships-box
  margin-left: 4%
  .pane-content
    padding-bottom: 0px

.two-boxes  	
  width: 48%
  float: left
  text-align: center
  margin-bottom: 20px
  .pane-content
    padding: 20px 5px
    height: 265px
    h2
      color: #000
      font-size: 24px
      font-weight: 500
    p 
      font-size: 14px
      margin: 1em 0
    p.small 
      font-size: 12px
      line-height: 12px 
      margin: 2px 0px 15px 0px

#judging
  .pane-content
    padding-top: 5px
    margin-top: 0px
    margin-bottom: 20px
  li 
    h2
      color: #000
      font-size: 24px
      font-weight: 500
      text-transform: uppercase
    p
      margin-bottom: 1.2em

.clear-both 
  clear: both

.white
  color: white
.center
  text-align: center
.left 
  float: left

.pane-node-field-campain-date
  color: #8DC641
  font-weight: 500

.panel-row-ad-quick-info
  h2
    color: black
    font-size: 24px
    font-weight: 500
  .pane-content
    p
      margin-bottom: 1em

.pane-node-field-campain-date,
.pane-node-field-campaign-teaser,
.pane-node-field-campaign-logo
  margin-bottom: 0
  .pane-content
    padding-bottom: 0
    p
      margin-bottom: 0

.pane-node-field-campaign-logo
  margin-bottom: 40px

#faq 
  .pane-content
    padding: 15px 10px
    h3
      color: black
      font-size: 21px
      line-height:  21px

#project-ideas
  margin-bottom: 20px
  .pane-content
    padding: 20px 10px
    .small-logo
      margin: 15px 15px 0 0
    #nestle-recycling-copy
      width: 590px
      margin-top: 15px
    h1 
      background: url('assets/black-triangle.png') no-repeat left
      padding: 5px 0 0 15px
      margin: 0px 5px 2px 10px
      font-size: 32px
      cursor: pointer
    h1:hover
      cursor: pointer
      color: #333
    ul 
      background-color: #222
      -moz-border-radius: 15px
      -webkit-border-radius: 15px
      -khtml-border-radius: 15px
      border-radius: 15px
      padding: 10px 0px 3px 36px
      margin: 0px 7px 5px 7px
      li
        color: white
        padding-bottom: 7px
        a
          text-decoration: none
          color: white !important
        a:hover
          text-decoration: underline

.pane-node-field-campaign-teaser p
  color: white

#quick-info
  color: white
  .pane-title
    color: #8DC641
    font-size: 34px
  .pane-content
    h3
      color: white
      font-size: 32px
      line-height: 20px
    a
      color: #8DC641 !important

.panel-row-ad-psa
  margin-top: 45px

.panel-row-actions
  margin-bottom: 20px
  border: 0
  form
    border: 0 !important

#browse-schools .pane-content
  form
    margin-left: 275px
  .view-filters
    .selectBox-dropdown
      background: #aaa
  .views-field-name a
    color: white !important
    text-decoration: none
    font-weight: 300 !important
    font-size: 14px
  ul
    list-style: none
    text-align: center
      
.pane-campaign-gallery-panel-pane-3 .pane-content
  padding-bottom: 0px
  margin-bottom: 25px
