#main-wrapper div[role="main"] {
  padding: 0 !important;
  margin: 0 !important;
  background: #d1e9ed; }
#main-wrapper #breadcrumb, #main-wrapper #page-title {
  display: none; }
#main-wrapper .tabs {
  background: #d1e9ed; }
#main-wrapper ul.primary {
  border-bottom: none;
  margin: 0;
  padding: 15px 0 0 8px;
  height: 37px; }

body {
  background: #d1e9ed; }

@media only screen and (max-width: 1075px) {
  .region-sidebar-first {
    display: none; }

  #site-name {
    top: -53px;
    left: 23px; }
    #site-name a {
      height: 50px;
      width: 60px;
      background-size: 60px; }

  #utility-bar {
    height: 55px; }

  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .search, #utility-bar #block-dosomething-blocks-dosomething-utility-bar #help-center {
    display: none; }
  #utility-bar #block-dosomething-blocks-dosomething-utility-bar .login {
    padding: 1em 2em 0 0; }

  #page {
    width: 100%; }

  #main-wrapper div[role="main"] {
    float: none;
    width: 100%;
    background: #d1e9ed; }

  nav[role="navigation"] {
    display: none; }

  .container {
    margin: 0 auto;
    width: 100%; }

  header[role="banner"] {
    position: relative;
    width: 797px;
    margin: 0 auto; }
  #block-menu-menu-footer .content {
    width: 80%;
    margin: 0 auto; }

  #block-menu-menu-footer .content ul.menu li span {
    font-size: 16px;
    line-height: 1em; }

  #block-menu-menu-footer .content ul.menu ul li a {
    font-size: 14px;
    line-height: 1em; }

  #cmp .pane-content .s0 {
    margin-top: 0; }
  #cmp #campaign-opt-in {
    text-align: center; } }
  @media only screen and (max-width: 1075px) and (max-width: 775px) {
    header[role="banner"] {
      width: 100%; } }

#cmp html, #cmp body, #cmp div, #cmp span, #cmp applet, #cmp object, #cmp iframe,
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp h5, #cmp h6, #cmp p, #cmp blockquote, #cmp pre,
#cmp a, #cmp abbr, #cmp acronym, #cmp address, #cmp big, #cmp cite, #cmp code,
#cmp del, #cmp dfn, #cmp em, #cmp img, #cmp ins, #cmp kbd, #cmp q, #cmp s, #cmp samp,
#cmp small, #cmp strike, #cmp strong, #cmp sub, #cmp sup, #cmp tt, #cmp var,
#cmp b, #cmp u, #cmp i, #cmp center,
#cmp dl, #cmp dt, #cmp dd, #cmp ol, #cmp ul, #cmp li,
#cmp fieldset, #cmp form, #cmp label, #cmp legend,
#cmp table, #cmp caption, #cmp tbody, #cmp tfoot, #cmp thead, #cmp tr, #cmp th, #cmp td,
#cmp article, #cmp aside, #cmp canvas, #cmp details, #cmp embed,
#cmp figure, #cmp figcaption, #cmp footer, #cmp header, #cmp hgroup,
#cmp menu, #cmp nav, #cmp output, #cmp ruby, #cmp section, #cmp summary,
#cmp time, #cmp mark, #cmp audio, #cmp video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
#cmp article, #cmp aside, #cmp details, #cmp figcaption, #cmp figure,
#cmp footer, #cmp header, #cmp hgroup, #cmp menu, #cmp nav, #cmp section {
  display: block; }
#cmp body {
  line-height: 1; }
#cmp ol, #cmp ul {
  list-style: none; }
#cmp blockquote, #cmp q {
  quotes: none; }
#cmp blockquote:before, #cmp blockquote:after,
#cmp q:before, #cmp q:after {
  content: "";
  content: none; }
#cmp table {
  border-collapse: collapse;
  border-spacing: 0; }
#cmp h1, #cmp h2, #cmp h3, #cmp h4, #cmp p, #cmp b, #cmp a, #cmp label, #cmp .divider, #cmp .disclaimer {
  font-weight: 600;
  font-family: din-web-reg, "Trebuchet MS", sans-serif;
  color: black; }
#cmp h1, #cmp h2, #cmp h3 {
  text-transform: uppercase; }
#cmp h1 {
  font-size: 32px;
  line-height: 1.54em; }
#cmp h2, #cmp .divider {
  font-size: 20px;
  line-height: 1.55em; }
#cmp h3 {
  font-size: 18px;
  line-height: 22px; }
#cmp h4 {
  font-size: 14px;
  line-height: 17px; }
#cmp p, #cmp label {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; }
#cmp .disclaimer {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px; }
#cmp .help {
  padding: 1em 0 0 0;
  font-style: italic;
  font-size: 11px; }
#cmp .mcommons-col {
  width: 45%;
  margin: 0 0 0 5%;
  float: left; }
  #cmp .mcommons-col input[type="text"] {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: none; }
  #cmp .mcommons-col input, #cmp .mcommons-col label {
    float: left;
    margin: 0 0 5% 0; }
#cmp .section {
  width: 750px;
  overflow: auto;
  background: white;
  margin: 3% auto;
  padding: 2%; }
#cmp .s0 {
  background-image: url("assets/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #da1f26; }
#cmp .s1 img, #cmp .s3 img {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }
#cmp .s0 > img {
  float: left;
  width: 21%; }
#cmp #animal_dates {
  float: right;
  width: 30%; }
  #cmp #animal_dates h1 {
    font-size: 27px;
    color: #e52127;
    font-family: din-web; }
#cmp .pane-campaign-sign-up {
  clear: both;
  width: 100%;
  margin: 37% 0 0 0; }
  #cmp .pane-campaign-sign-up h1 {
    font-family: din-web;
    font-size: 23px;
    text-align: center;
    color: white; }
  #cmp .pane-campaign-sign-up input[type="text"], #cmp .pane-campaign-sign-up input[type="tel"] {
    width: 35%;
    float: left;
    margin: 0 2.5%; }
  #cmp .pane-campaign-sign-up #edit-actions {
    float: right;
    position: static;
    margin: 0 2% 0 0;
    height: 32px; }
#cmp #campaign-opt-in {
  clear: both; }
  #cmp #campaign-opt-in span {
    font-size: 10px; }
#cmp .webform-client-form {
  box-shadow: none; }
#cmp .s1 {
  text-align: center; }
  #cmp .s1 h1 {
    color: #b6b8ba;
    font-size: 24px;
    font-family: din-web; }
    #cmp .s1 h1 span {
      color: #8d8f92; }
  #cmp .s1 h2 {
    color: #e52127;
    font-size: 24px;
    font-family: din-web; }
    #cmp .s1 h2 span {
      white-space: nowrap;
      background: url("http://files.dosomething.org/files/campaigns/animals/underline.png");
      background-repeat: no-repeat;
      background-position-y: 28px;
      padding: 0 0 1% 0; }
  #cmp .s1 p {
    font-family: din-web-reg;
    font-size: 14px;
    line-height: 1.5em;
    width: 69%;
    margin: 0 auto;
    padding: 1% 0; }
    #cmp .s1 p span {
      font-weight: 600; }
  #cmp .s1 img {
    position: absolute;
    right: 30; }
#cmp .s2 form {
  width: 80%;
  height: 100%;
  margin: 0 auto; }
#cmp .s2 h1 {
  color: #e52127;
  font-size: 24px;
  font-family: din-web;
  text-align: center; }
#cmp .mcommons-webform input.field {
  width: 85%;
  height: 23px;
  margin-bottom: 6px; }
#cmp .mcommons-webform label {
  font-weight: 600; }
#cmp .mcommons-webform-column {
  float: left;
  width: 40%;
  margin-left: 9%; }
#cmp .go-button {
  position: static;
  float: right;
  padding: 1.5% 5% 1% 5%;
  margin: 0 14% 0 0; }
#cmp form.webform-client-form {
  border: none;
  box-shadow: none;
  padding: 15px 15px 0 15px;
  margin-bottom: -15px; }
#cmp .form-wrapper {
  margin-bottom: 5px; }
#cmp .ds-panel .pane-content {
  padding-bottom: 0; }
#cmp .hidden {
  display: none; }
#cmp .sponsors, #cmp .partners {
  float: left;
  padding: 0 0 0 2%; }
#cmp .sponsors {
  width: 26%; }
#cmp .partners {
  width: 70%;
  margin: 2% 0 2% 3%;
  border-left: 1px solid #8d8f92;
  color: #b6b8ba; }
  #cmp .partners h3 {
    text-transform: uppercase;
    color: #8d8f92; }
  #cmp .partners img {
    margin: 2%; }
@media only screen and (max-width: 775px) {
  #cmp .section {
    width: 100%;
    margin: 2% auto; }
  #cmp .s0 > img {
    float: left;
    width: 21%; }
  #cmp #animal_dates {
    background: rgba(255, 255, 255, 0.4);
    width: 34%; }
    #cmp #animal_dates h1 {
      font-size: 23px;
      line-height: 1.2em; }
    #cmp #animal_dates p {
      font-size: 12px; }
  #cmp .s1 p {
    width: 80%; }
  #cmp .pane-campaign-sign-up #edit-actions input, #cmp input.go-button {
    font-size: 14px;
    padding: 1px 8px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin: 0; } }
@media only screen and (max-width: 450px) {
  #cmp .section {
    margin: 5% auto; }
  #cmp .mcommons-webform-column {
    width: 45%;
    margin-left: 5%; }
    #cmp .mcommons-webform-column label {
      white-space: nowrap; }
  #cmp #animal_dates h1 {
    font-size: 16px; }
  #cmp .pane-campaign-sign-up h1 {
    font-size: 18px; }
  #cmp .s1 h1, #cmp .s1 h2, #cmp .s1 p {
    text-align: left;
    line-height: 1.3em;
    padding: 0.3em 0; }
  #cmp .s1 h1, #cmp .s1 h2 {
    font-size: 19px; }
  #cmp .s1 p {
    width: 100%;
    font-weight: 400; }
  #cmp .s2 h1 {
    font-size: 17px;
    line-height: 2.2em; }
  #cmp .s2 form {
    width: 100%; }
  #cmp #campaign-opt-in {
    text-align: center;
    width: 85%;
    margin: 0 auto; }
    #cmp #campaign-opt-in span {
      font-size: 8px; } }
