// BASE 

// backgrounds colors
$fallbackBG: #3e3e3e
$panelBG: #FF4600
$scholarshipBG: #FF4600
$dividerBG: #241F20
$buttonBG: #ffcb15
$linkBG: #0054AA
$transBG: rgba(0, 84, 170, 0.6)
$borderColor: #ccc
$mainColor: #0052a8

// font colors
$mainCopy: #fff
$secondaryCopy: #fff
$offBlack: #1E1D1C

// link color
$mainLink: #0052A8
$navLink: #999

// font-family
$din: din-web-reg,"Trebuchet MS",sans-serif

// mixin definitions
@mixin noBorder
  border: none !important

@mixin noShadow
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important
  -o-box-shadow: none !important
  box-shadow: none !important

@function em-calc($target)
  @return ($target/16)*1em
