// RESPONSIVE STYLES

@media only screen and (max-width: 775px)

  .section
    width: 100%
    margin: 2% auto
  
  //			//
  //	#header
  //			//

  //#header
    //background-position: 29% 60%

  #contact-form
    margin: 2% 0 0 0
    h3
      margin: 0

  #webform-component-start-header
    width: 100%
    float: none

  #submitted-field-webform-email-add-more-wrapper, #submitted-field-webform-mobile-add-more-wrapper
    margin: 0

  #edit-submitted-field-webform-email, #edit-submitted-field-webform-mobile
    width: 37%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 20%

  .pane-campaign-sign-up #edit-submit /* "sign-up" button */
    margin: 1.3em auto 0

  //      //
  //  #drive
  //      //

  .drive-info-wrapper, .drive-participants
    overflow: auto
    float: none
    width: 100%

  .drive-participants
    border-left: none
    border-top: 1px solid $borderColor
    margin: 2% 0
    padding: 2% 0 0 0


  //			//
  //	#action
  //			//

  #action.action-anonymous, #action.action-participant
    .col33
      width: 95%
      margin: 3% 0
    h3
      text-align: left
  #action.action-anonymous    
    img
      display: none 

  a.print-pdf
    width: 37%
    img
      margin: 5% auto

  //      //
  //  #level-up
  //      //
  #content-level-up
    .arrow-img
      display: none



  //      //
  //  #search
  //      //

  .views-field-nothing
    width: 100%
    .go-button
      margin: 3% auto 2%

  .pane-drive-search-panel-pane-1 form
    width: 65%

  .views-field-field-team-name,
  .views-field-field-drive-location
    width: 50%
  
  //			//
  //	#scholarship
  //			//
  
  #scholarship
    padding: 0
    .col50
      width: 100%

  .refer5
    width: 100%
    margin: 0
    &:before, &:after
      display: none 

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 5%
    img
      float: left
      width: 40%

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //


@media only screen and (max-width: 550px)
  .email-spit
    width: 100%
    img
      width: 50%

  #search
    iframe
      width: 75%
      border: 3px solid #ccc

  #content-infographic
    .mobile
      display: block
    img
      display: none  


@media only screen and (max-width: 450px)
  .section
    margin: 5% auto

  //			//
  //	#header
  //			//

  //#header
    //background-position: 66% 77%
    #edit-submit
      margin: 0.5em 0 0 0
      float: left

  #edit-submitted-field-webform-email
    width: 68%
    margin: 1% 0

  #edit-submitted-field-webform-mobile
    width: 32%
    margin: 1% 0

  .form-actions.form-wrapper /* "sign-up" wrapper */
    width: 100%

  //      //
  //  #drive
  //      //



  //			//
  //	#action
  //			//

  a.print-pdf
    width: 55%

  .email-spit, .email-spit img
    width: 85%
    display: block
    margin: 0 auto

  .email-spit img
    width: 100%

  //      //
  //  .search
  //      //

  .pane-drive-search-panel-pane-1 form
    width: 85%

  .views-field-nothing
    margin: 0

  //			//
  //	#content
  //			//


  //			//
  //  #scholarship
  //      //
  
  #scholarship
    h1.condensed
      font-size: 2.75em

  //			//
  //  #social
  //      //

  #social
    .col33
      width: 90%
      margin: 2% 5%
    img
      float: left
      width: 50%
    h3
      font-size: 1em
      text-align: left
      padding: 0.5em 

  //      //
  //  #impact
  //      //



  //      //
  //  #faq
  //      //



  //      //
  //  #footer     - sign up button; conditionally displayed -
  //      //



