////////////////////////////
// PAGES NODE
// Action guide node body styling ie. howto
// requires h2s and an ol
////////////////////////////

.node-type-action-guide
  .dosomething-stats-action-guide
    float: left
    .counter-labels
      padding-right: 5px
  .field-type-image img
    @extend .border-and-shadow
  .field-name-body
    h2
      @extend .black
      @extend .bold
      display: inline
    li p,
    li ul li
      margin-left: $s4
  .field-name-taxonomy-vocabulary-5
    .field-item
      &:after
        content: ', '
      &:last-of-type
        &:after
          content: ''
