////////////////////////////
// PAGES NODE
// Action guide node body styling ie. howto
// requires h2s and an ol
////////////////////////////

.node-type-action-guide
  +clearfix
  .panel-row-bottom .panel-first
    max-width: 550px
  .dosomething-stats-action-guide
    float: left
    .counter-labels
      padding-right: 5px
  .field-name-body
    b
      font-weight: bold
      font-weight: 600
    h2
      @extend .black
      @extend .bold
      display: inline
    li p,
    li ul li
      margin-left: $s4
