.node-type-blog
  .print-link
    display: none

.node-blog
  .field-name-upload
    clear: both
    padding-bottom: 15px
  
.views-field-field-blog-type
  .field-content
    a
      font-weight: bold

// Right sidebar
.pane-blog-center
  @extend .pane-narrow-block

#blog-archives-pane
  h3
    @extend .bold
    margin-bottom: 0
    line-height: 1em
    padding-top: 12px
  .views-row-first
    .views-field-title
      background: none
  .liketext
    +float-right

.blog-landing-pane-post
  @extend .image-teaser-module
  .blog-large-thumbnail
    @extend .image-teaser-module-image
  .views-field-body
    @extend .image-teaser-module-teaser
    h2
      margin-bottom: 0
    p
      margin-top: 6px

.blog-post-date
  @extend .headers
  @extend .bold
  font-size: 14px
  color: $gray4

.page-taxonomy-term
  .field-name-field-picture
    img
      @extend .box-shadow-none
      margin-bottom: 0
  .region-content
    .node-teaser
      background: $white
      margin-bottom: 12px
      padding: 0 12px 12px 12px
      h2
        @extend .headers
        @extend .bold
        a
          @extend .views-field-title
      .field-type-text-with-summary
        p
          margin-bottom: 12px

.content
  .fb-social-like-plugin
    +float-left
  .connect_widget_number_cloud
    margin-right: 6px
  .twitter-plugin
    +float-left
    margin-left: -12px
    margin-right: 24px
  .sharethis-plugin
    +float-left
    margin-top: -8px
