////////////////////////////
// CAMPAIGN LANDING
// additional styling for campaign landing page
////////////////////////////
.view-current-campaigns
  .view-header
    @extend .black-h2
    h2
      clear: both
      display: block
  .view-footer a
    @extend .more-link-right
    @extend .headers
    @extend .bold
    margin-right: 35px
    clear: both
    display: block
