.page-causes
  .content
    h3
      @extend %bold
    .apps-text
      padding-top: 6px

// Suggest a cause link on the Cause landing page.
.suggest-a-cause
  padding-bottom: 10px
  text-align: right
  &:before
    content: 'Suggest a Cause'
    @extend %counter-labels
  a:visited
    @extend %gray2


