////////////////////////////
// PAGES CLUB
// Individual Club Page
////////////////////////////

.node-type-club .panes-3 .panel-panel
  border: 1px $white solid
  min-height: 475px
  .view-content
    padding: 0 $s4
