// Clubs pages

.pane-club-counter
  margin-bottom: 21px

// Top block styling
.dosomething-stats
  .club-image
    @extend .border-and-shadow
    img
      height: 120px
      width: 120px
  .dosomething-club-facts
    float: left
    font-family: $font-headline
    font-size: 21px
    @extend .black
    width: 230px
    margin-top: 18px
    .school-name,
    .school-location
      line-height: 1
      padding: 3px 0
    .school-name
      padding-top: 0
    .invite-link
      @extend .bold
      text-transform: uppercase
      padding-top: 18px
    .see-all-members
      font-family: $font-body
      font-size: $s-1
      padding-top: 4px
      text-align: right
      width: 160px
  .vital-stats
    padding-top: 7px


// Club page form asterisk
label[for="edit-submitted-field-webform-email-und-0-value"]
  .form-required
    position: relative
    top: 20px
    left: -25px
    +float-right
