// Clubs pages

// Top block styling
.dosomething-stats
  .club-image
    @extend .border-and-shadow
  .dosomething-club-facts
    float: left
    font-family: $font-headline
    font-size: 21px
    @extend .black
    width: 230px
    margin-top: 18px
    .school-name,
    .school-location
      padding: 3px 0
    .school-name
      padding-top: 0
    .invite-link
      @extend .bold
      text-transform: uppercase
      padding-top: 18px
  .vital-stats
    padding-top: 7px
