// maintenence page styles
// <web_root>/modules/system/maintenance-page.tpl.php

#site-name.maintenance-style
  top: 5% 
  right: 2%
  a
    width: 75px
    height: 75px
    background-size: 75px
    float: right
  @media only screen and (max-width: 800px)
    right: 3%

#page.maintenance-style
  margin: 3% auto
  padding: 3%
  width: 800px
  background: #fff
  position: relative
  +border-radius(2px)
  +box-shadow(0 5px 10px 0 rgb(36, 60, 111))
  @media only screen and (max-width: 800px)
    width: 93%
    padding: 5%
