////////////////////////////
// MEMBER COMPLETE PROFILE PAGE
// List items of stuff you need to do and stuff you have done
////////////////////////////
.pane-ds-stuff-you-need
  @extend .black-h2
  a.back
    position: absolute
    top: 283px
    right: 0