////////////////////////////
// MEMBER COMPLETE PROFILE PAGE
// List items of stuff you need to do and stuff you have done
////////////////////////////
.pane-ds-stuff-you-need
  @extend .black-h2
  .pane-content
    +box-shadow($gray5 0 1px 0 inset)
    border-top: 1px $white solid
  a.back
    position: absolute
    top: 283px
    right: 0

h3 .stuff-header
  @extend .headers
  @extend .black
  @extend .bold
  font-size: 14px
  padding: 12px 0

.item-list ul.profile-stuff
  margin: 0
  padding: 0
  li
    margin-bottom: 12px
