////////////////////////////
// MEMBER MORE PAGES
// two column grid
// image teaser module
////////////////////////////
.pane-ds-current-somethings-all,
.pane-ds-past-somethings-all,
.pane-ds-editors-picks-all
  @extend .two-column-grid
  h2.pane-title
    @extend .headers
    @extend .bold
    @extend .black
    display: inline
    font-size: $s5
    letter-spacing: 0
    background-color: transparent
    padding: 0
  a.back
    position: absolute
    top: 244px
    right: 0
  .views-row
    @extend .image-teaser-module
  .pane-narrow-thumb
    @extend .image-teaser-module-image
  .something-description
    @extend .image-teaser-module-teaser
    .views-field-title
      @extend .headers
      @extend .bold
      font-size: $s5

.pane-ds-editors-picks-all
  .item-list
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        margin: 0 0 12px 0
  a.back
    top: -25px
