.node-grant-alumni
  .content
    .field-name-field-picture
      +float-left
      margin-right: 15px
      img
        margin-bottom: 0
    .field
      margin-bottom: 12px
      .field-label
        @extend .h3