.node-poll
  .field-type-image
    margin-bottom: 12px
  .poll
    background: $gray4
    padding: 12px
    .text
      @extend .headers
      @extend .bold
      font-size: $s2
      color: white
    .percent
      color: $gray5
    .total
      @extend .bold
  input[type="submit"]
    @extend .go-button




