////////////////////////////
// PAGES WEBFORM
// Project report webform submission
////////////////////////////

.page-webform-submission
  .field-type-image img
    @extend .border-and-shadow
  .panel-first
    h2
      @extend .black
      @extend .bold
      background: none
      padding-left: 0
      height: 36px
  .pane-ds-project-stats
    @extend .border-and-shadow
    @extend .clearfix
    padding: 15px 23px 15px 23px
    .dosomething-member-facts
      h2
        height: 24px

.node-type-project-report
  .webform-client-form
    .fieldset-wrapper
      .field-name-field-impact-amount, .field-name-field-impact-type
        float: left
