////////////////////////////
// SEARCH RESULTS
////////////////////////////

// Form styling
#search-api-page-search-form
  label[for="edit-keys-1"]
    display: none

  input[type="text"]
    float: left
    width: 275px

  #edit-submit-1
    @extend .go-button
    display: inline
    margin-left: 5px

  .search-performance
    font-size: 12px

// Page styling
.page-search-demo
  h2.title
    @extend .black
    @extend .bold
    @extend .headers
    font-size: 21px
