.page-why-become-a-member
  .main-inner
    .content
      .panel-panel
        .pane-content
          h2
            @extend .bold
            color: $black
          p
            margin-bottom: 6px
          ul
            margin: 0



