// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #000000
$complement: #ffffff
$mainLink: #feca29
$secondaryLink: #FF130A
$goldLink: #FFC10B
$contentBG: rgba(254,238,131,.5)
$bgColor_darkYellow: #D5A11C
$transBg: rgba(254,228,131,.3)

// borders
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// padding and margins
$paneContentPadding: 1.5em

// page background
$imageBackground: url('assets/bg.jpg')
$bgFallback: #FFCA06

// block definition (all blocks--don't define width or float here)
@mixin block
  background: $transBg

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBoxShadow
  -mox-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.content
  .field
    float: none
a
  color: $baseColor
  &:hover
    color: $secondaryLink

b
  font-weight: $boldWeight

h1.title
  display: none

body
  background: $imageBackground center center fixed #FFCA06
  background-size: cover
  background-position-y: -5px

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  margin-top: 8px
  padding-top: 10px

.three-boxes
  border: none !important
  width: 29%
  float: left
  margin-right: 6.5%
  &:last-child
    margin-right: 0
  .pane-content
    // background: $transBg
    font-weight: $boldWeight
    height: 166px
    padding: $paneContentPadding
    text-align: center

.two-thirds
  width: 64.5%
  margin-right: 6.5%
  float: left

.one-third
  width: 29%
  margin-right: 0
  float: left

.white-box
  background: white
.black-border
  border: 1px solid black
.yay-shadow
  @include box-shadow(black 0 0 20px -10px)

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder


/* universal declarations to be overridden per block if necessary */

.pane-content
  // background: $contentBG
  h3
    font-size: 26px
    font-weight: 600
    line-height: 1.1em
    color: black
    text-transform: uppercase
  ul
    margin: 10px 5px 
    padding: 1em
    // background: $contentBG
    +clearfix
  li
    font-size: 14px
  br
    clear: left

.pane-title
  background: black
  font-family: $accent
  

//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: black
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background: black
    text-align: right
    .active
      color: $goldLink
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 400
      text-transform: uppercase
      color: $complement
      &:hover
        color: $goldLink
        text-decoration: none

.campaign-counter-labels
  color: white
  font-size: 1.5em
  text-transform: uppercase

// social sharing box
.pane-campaign-social
  .pane-content
    padding-bottom: 0

// campaign date text
.pane-node-field-campain-date
  font-weight: $boldWeight
  margin-bottom: 0
  .pane-content
    color: $bgFallback !important

// logo
.pane-node-field-campaign-logo
  margin: 0

// teaser
.pane-node-field-campaign-teaser
  margin-bottom: 0
  .pane-content
    p
      margin-bottom: 0

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    .pane-title
      background: none
      // color: $baseColor
      padding: 0
      font-size: 26px
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em
      background: none
      color: white
      padding: 0

// actions panel (sign-up and counter)
.panel-row-actions
  background: $transBg
  border: none
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        // color: $bgFallback
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noBoxShadow
        border: none
      #edit-submitted-field-webform-mobile
        margin-bottom: 0.5em
        input
          width: 100%
      #edit-submitted-field-webform-email
        margin-bottom: 0.5em
        input
          width: 100%

// ad row (quick info and psa)
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: black
    line-height: 1em
    font-weight: 600
  .pane-content
    padding: 0
    background: transparent
    h2
      color: black
      font-size: 26px
      text-transform: uppercase
      font-weight: 500
      line-height: 1em
    h3
      color: black
      margin-top: 0.5em
    p
      margin: 0
    &:before
      margin-bottom: 8px
      background: transparent

.panel-row-ad-psa
  background: transparent
  .pane-title
    background: black
  .pane-content
    background: none  
    padding: 0 5px
  	
.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
  .blog
    background: transparent
    &:before, &:after
      +insetBorder
    &:before,&:after
      +insetBorder

// Top Panel
.panel-row-flexible-top
  .panel-pane
    .pane-title
      color: $bgFallback

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    margin: 0
    padding: 0
  .pane-content
    background: none
    padding: 0  

.panel-row-top-logo
  .pane-content
    padding: 0
    background: none
  p
    color: $baseColor
    font-size: 28px 
    font-weight: bold
    margin: 0 0 0 20px

/* need to isolate images in logo area */

.field.field-name-field-campaign-promo-image 
  position: relative
  top: 5em
  left: 4em
  float: left
  
.field.field-name-field-campaign-logo
  margin-bottom: -50px
  
  /* social buttons */

.panel-top-right-social
  &:before
    +insetBorder
  .panel-pane
    margin: 0
    padding: 5px 0

$contestsFontSize: 1em

@mixin contestsFont
  font-size: $contestsFontSize
  font-weight: $boldWeight

@mixin contestBlock
  background-color: white !important
  border: 1px solid black !important
  .pane-content
    padding: 1em
    text-align: center
    h3
      font-size: 2em
    p
      +contestsFont
      margin-bottom: 0

// Custom
.clear-both
  clear: both

.contests-grand-prize
  +contestBlock
  .dollar-left
    margin-left: 184px

.contests-scholarships
  +contestBlock
  .pane-title
    color: $bgFallback

.contests-star-prize
  +contestBlock
  .amp-left  
    margin-left: 153px

.contests-three-boxes
  +contestBlock
  float: left
  width: 32%
  margin-right: 2%
  .pane-content
    height: 190px
    h3
      font-size: 1.5em
    img
      margin: 1em 0 1em 0
      position: absolute
      top: 25%
    p
      bottom: 10%
      position: absolute
      //this feels hacky, but this centers the text in the box
      width: 100%
      padding-right: 2em
    .taylor-img
      height: 86px
      top: 15%

// HACK: using :nth-of-type and :last-of-type didn't work
.contests-three-boxes-last
  margin-right: 0

.contests-no-bg-no-border
  +contestsFont
  background: none !important
  border: none !important
  clear: both
  margin-bottom: 0
  padding: 1em
  text-align: center
  .pane-content
    padding-bottom: 0
  a
    color: #d33936

.faq-section
  border: none !important
  .pane-content
    background: white
    padding-bottom: 0
    ul
      margin: 0px 10px
      padding: $paneContentPadding
  .pane-title
    color: $bgFallback

.float-left
  float: left

.float-right
  float: right

.li-triangles
  list-style-image: url("assets/black-triangle.png")
  li
    h3
      font-size: 1.6em
      text-transform: none

.share-your-video
  +clearfix
  .p-title
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    text-align: center
    margin: 10px 15px
  h3
    font-size: 20px
  p
    text-align: center
    font-size: 11px
  ul
    display: block
    float: left
    margin: 0 0 0 5%
    padding: 0
    width: 27%
    text-align: center
    p
      font-size: 14px
    li
      list-style: none

.panel-row-flexible
  .battle-box
    border: none
    h2
      text-transform: uppercase

.panel-row-flexible-mid
  ul
    margin-left: 20px

.panel-row-flexible-top
  .panel-pane
    .pane-title
      color: white !important

.panel-row-flexible
  .panel-pane
    border: none
