a {
  color: black; }
  a:hover {
    color: #ff130a; }

h1.title {
  display: none; }

body {
  background-color: #2387c7;
  background-image: url("assets/bg.jpg");
  background-repeat: repeat-y;
  background-position: center top; }

div[role="main"] {
  background: rgba(254, 228, 131, 0.3);
  -moz-box-shadow: black 0 0 30px -10px;
  -webkit-box-shadow: black 0 0 30px -10px;
  -o-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  margin-top: 8px;
  padding-top: 10px; }

.three-boxes {
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }

.two-thirds {
  width: 64.5%;
  margin-right: 6.5%;
  float: left; }

.one-third {
  width: 29%;
  margin-right: 0;
  float: left; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/* universal declarations to be overridden per block if necessary */
.pane-content {
  background: raba(254, 238, 131, 0.5); }
  .pane-content h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.1em;
    color: black;
    text-transform: uppercase; }
  .pane-content ul {
    margin: 10px 5px;
    padding: 1em;
    background: raba(254, 238, 131, 0.5);
    overflow: hidden;
    *zoom: 1; }
  .pane-content li {
    list-style-image: url("assets/list-dot.png");
    list-style-position: outside;
    font-weight: bold;
    font-size: 14px;
    float: left;
    line-height: 20px;
    width: 310px;
    margin: 0 20px 0 10px;
    padding-left: 10px; }
  .pane-content br {
    clear: left; }

.pane-title {
  background: black;
  font-family: din-web, "Trebuchet MS", sans-serif; }

#block-dosomething-campaign-styles-campaign-nav {
  background: black;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: rgba(254, 228, 131, 0.3);
    background: black;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #ffc10b; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
      color: white; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #ffc10b;
        text-decoration: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    color: black;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em;
    background: none;
    color: white;
    padding: 0; }

.panel-row-actions {
  background: rgba(254, 228, 131, 0.3); }
  .panel-row-actions .pane-title {
    background: black; }
  .panel-row-actions .pane-content {
    padding: 18px; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1em;
  font-weight: 600; }
.panel-row-ad-quick-info .pane-content {
  padding: 0;
  background: transparent; }
  .panel-row-ad-quick-info .pane-content h2 {
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0; }
  .panel-row-ad-quick-info .pane-content:before {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    background: transparent; }

.panel-row-ad-psa {
  background: transparent; }
  .panel-row-ad-psa .pane-title {
    background: black; }
  .panel-row-ad-psa .pane-content {
    background: none;
    padding: 0 5px; }

.panel-row-flexible .panel-pane {
  background: rgba(254, 228, 131, 0.3); }
  .panel-row-flexible .panel-pane .pane-title {
    background: black; }
.panel-row-flexible .blog {
  background: transparent; }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .panel-row-flexible .blog:before, .panel-row-flexible .blog:after {
    overflow: hidden;
    *zoom: 1;
    display: block;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.panel-row-logos .pane-title {
  color: black;
  background: none;
  margin: 0;
  padding: 0; }
.panel-row-logos .pane-content {
  background: none;
  padding: 0; }

.panel-row-top-logo .pane-content {
  padding: 0;
  background: none; }
.panel-row-top-logo p {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 20px; }

/* need to isolate images in logo area */
.field.field-name-field-campaign-promo-image {
  position: relative;
  top: 5em;
  left: 4em;
  float: left; }

.field.field-name-field-campaign-logo {
  margin-bottom: -50px;
  /* social buttons */ }

.panel-top-right-social:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.panel-top-right-social .panel-pane {
  margin: 0;
  padding: 5px 0; }
