.content .field {
  float: none; }

a {
  color: black; }
  a:hover {
    color: #ff130a; }

b {
  font-weight: 600; }

h1.title {
  display: none; }

body {
  background: url("assets/bg.jpg") center center fixed #ffca06;
  background-size: cover;
  background-position-y: -5px; }

div[role="main"] {
  background: rgba(254, 228, 131, 0.4);
  -webkit-box-shadow: black 0 0 30px -10px;
  -moz-box-shadow: black 0 0 30px -10px;
  box-shadow: black 0 0 30px -10px;
  padding: 20px 20px 5px;
  margin-top: 0;
  margin-bottom: 0; }

.three-boxes {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
  width: 29%;
  float: left;
  margin-right: 6.5%; }
  .three-boxes:last-child {
    margin-right: 0; }
  .three-boxes .pane-content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    height: 166px;
    padding: 1.5em;
    text-align: center; }
  .three-boxes a {
    margin-bottom: 15px; }
  .three-boxes .go-button {
    padding-top: 8px !important; }

.three-boxes-last-child {
  margin-right: 0 !important; }

.two-thirds {
  width: 64.5%;
  margin-right: 6.5%;
  float: left; }

.one-third {
  width: 29%;
  margin-right: 0;
  float: left; }

.white-box {
  background: white; }

.black-border {
  border: 1px solid black; }

.yay-shadow {
  -webkit-box-shadow: black 0 0 20px -10px;
  -moz-box-shadow: black 0 0 20px -10px;
  box-shadow: black 0 0 20px -10px; }

.line-top:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.line-bottom:after {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/* universal declarations to be overridden per block if necessary */
.pane-content h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.1em;
  color: black;
  text-transform: uppercase; }
.pane-content ul {
  margin: 10px 5px;
  padding: 1em;
  overflow: hidden;
  *zoom: 1; }
.pane-content li {
  font-size: 14px; }
.pane-content br {
  clear: left; }

.pane-title {
  background: black;
  font-family: din-web, "Trebuchet MS", sans-serif; }

#block-dosomething-campaign-styles-campaign-nav {
  background: black;
  margin-right: -5px;
  padding: 0;
  font-family: din-web, "Trebuchet MS", sans-serif; }
  #block-dosomething-campaign-styles-campaign-nav ul.menu {
    background: rgba(254, 228, 131, 0.4);
    background: black;
    text-align: right; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu .active {
      color: #ffc10b; }
    #block-dosomething-campaign-styles-campaign-nav ul.menu a {
      display: inline-block;
      width: 100%;
      padding: 10px 19px 10px 0;
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
      color: white; }
      #block-dosomething-campaign-styles-campaign-nav ul.menu a:hover {
        color: #ffc10b;
        text-decoration: none; }

.campaign-counter-labels {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase; }

.node-campaign-blog-post .field-name-field-picture img {
  float: left;
  margin: 0 24px 24px 0; }

.pane-campaign-blog-panel-pane-1 {
  background: transparent !important;
  border: none !important; }
  .pane-campaign-blog-panel-pane-1 .pane-content {
    padding: 15px; }
  .pane-campaign-blog-panel-pane-1 a {
    color: black;
    text-decoration: underline; }
    .pane-campaign-blog-panel-pane-1 a:hover {
      color: #ff130a; }
  .pane-campaign-blog-panel-pane-1 .views-field-title a {
    text-decoration: none; }
    .pane-campaign-blog-panel-pane-1 .views-field-title a:hover {
      color: #ff130a; }
  .pane-campaign-blog-panel-pane-1 .more-link {
    text-transform: uppercase; }

.pane-campaign-blog-panel-pane-2 {
  border: none !important;
  width: 100%; }
  .pane-campaign-blog-panel-pane-2 .pane-content {
    padding: 10px 0 0 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row {
    padding: 5px 15px 15px;
      padding-margin: 1em 0 1em 0; }
    .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row:first-child:before {
      border: none;
      margin: 0; }
  .pane-campaign-blog-panel-pane-2 .view-campaign-blog .views-row-even {
    background-color: rgba(254, 228, 131, 0.4); }

.pane-node-field-campain-date {
  font-weight: 600;
  margin-bottom: 0; }
  .pane-node-field-campain-date .pane-content {
    color: #ffca06 !important; }

.pane-node-field-campaign-logo {
  margin: 0; }
  .pane-node-field-campaign-logo img {
    position: relative;
    left: 30px;
    margin-bottom: 0; }

.sponsor-logo img {
  position: absolute;
  bottom: 45px;
  left: 35px; }

.pane-node-field-campaign-teaser {
  margin-bottom: 0; }
  .pane-node-field-campaign-teaser .pane-content p {
    margin-bottom: 0; }

#breadcrumb {
  display: none; }

.panel-row-top-right .panel-top-right-mini-info {
  font-family: din-web, "Trebuchet MS", sans-serif; }
  .panel-row-top-right .panel-top-right-mini-info .pane-title {
    background: none;
    padding: 0;
    font-size: 26px;
    line-height: 1em; }
  .panel-row-top-right .panel-top-right-mini-info .pane-content {
    font-size: 21px;
    line-height: 1.4em;
    background: none;
    color: white;
    padding: 0; }

.panel-row-actions {
  background: rgba(254, 228, 131, 0.4);
  border: none; }
  .panel-row-actions .form-wrapper {
    margin-bottom: 12px; }
  .panel-row-actions .pane-title {
    background: black; }
  .panel-row-actions .pane-content {
    padding: 18px; }
  .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up {
    margin: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-campaign-sign-up .pane-title {
      color: white; }
  .panel-row-actions .panel-row-actions-sign-up .pane-content {
    padding: 0; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .webform-client-form {
      -mox-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      border: none; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-mobile input {
        width: 75%; }
    .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email {
      margin-bottom: 0.5em; }
      .panel-row-actions .panel-row-actions-sign-up .pane-content .field-name-field-webform-email input {
        width: 100%; }

#webform-client-form-719314 #edit-actions {
  position: absolute;
  right: 5px;
  bottom: 8px; }

#campaign-opt-in {
  font-size: 11px;
  margin-left: 15px; }
  #campaign-opt-in a {
    font-weight: bold;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 330px;
    color: black;
    text-decoration: underline; }
    #campaign-opt-in a:hover {
      color: #ff130a; }

.panel-row-ad-quick-info .pane-title {
  font-size: 35px;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 1em;
  font-weight: 600; }
.panel-row-ad-quick-info .pane-content {
  padding: 0;
  background: transparent; }
  .panel-row-ad-quick-info .pane-content h2 {
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em; }
  .panel-row-ad-quick-info .pane-content h3 {
    color: black;
    margin-top: 0.5em; }
  .panel-row-ad-quick-info .pane-content p {
    margin: 0; }
  .panel-row-ad-quick-info .pane-content:before {
    margin-bottom: 8px;
    background: transparent; }

.panel-row-ad-psa {
  background: transparent; }
  .panel-row-ad-psa .pane-title {
    background: black; }
  .panel-row-ad-psa .pane-content {
    background: none;
    padding: 0 5px; }

.panel-row-flexible .panel-pane {
  background: rgba(254, 228, 131, 0.4); }
  .panel-row-flexible .panel-pane .pane-title {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 21px;
    padding: 9px 8px 7px; }

.panel-row-logos .pane-title {
  color: black;
  background: none;
  padding: 0; }
.panel-row-logos .pane-content {
  margin: 20px 0 0 0;
  background: none;
  padding: 0; }

.panel-row-top-logo {
  margin-bottom: 40px; }
  .panel-row-top-logo .pane-content {
    padding: 0;
    background: none; }
  .panel-row-top-logo p {
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 0 20px; }

/* need to isolate images in logo area */
.field.field-name-field-campaign-promo-image {
  position: relative;
  top: 5em;
  left: 4em;
  float: left; }

.field.field-name-field-campaign-logo {
  margin-bottom: -50px;
  /* social buttons */ }

.panel-top-right-social:before {
  overflow: hidden;
  *zoom: 1;
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.panel-top-right-social .panel-pane {
  margin: 0;
  padding: 5px 0; }

.clear-both {
  clear: both; }

.contests-grand-prize {
  background-color: rgba(254, 228, 131, 0.4) !important;
  margin-bottom: 1em; }
  .contests-grand-prize .pane-content {
    padding: 15px !important; }
  .contests-grand-prize .pane-content {
    padding: 1em;
    text-align: center; }
    .contests-grand-prize .pane-content h3 {
      font-size: 2em; }
    .contests-grand-prize .pane-content p {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0; }
  .contests-grand-prize .dollar-left {
    margin: -10px 20px 0 164px; }
  .contests-grand-prize .dollar-right {
    margin: -10px 20px; }

.contests-scholarships {
  background-color: rgba(254, 228, 131, 0.4) !important; }
  .contests-scholarships .pane-content {
    padding: 25px !important; }
  .contests-scholarships .pane-content {
    padding: 1em;
    text-align: center; }
    .contests-scholarships .pane-content h3 {
      font-size: 2em; }
    .contests-scholarships .pane-content p {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0; }
  .contests-scholarships .pane-title {
    color: #ffca06; }

.contests-star-prize {
  background-color: rgba(254, 228, 131, 0.4) !important; }
  .contests-star-prize .pane-content {
    padding: 15px !important; }
  .contests-star-prize .pane-content {
    padding: 1em;
    text-align: center; }
    .contests-star-prize .pane-content h3 {
      font-size: 2em; }
    .contests-star-prize .pane-content p {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0; }
  .contests-star-prize .amp-left {
    margin: -15px 10px 0 155px; }
  .contests-star-prize .amp-right {
    margin: -15px 15px 0 0; }

.contests-three-boxes {
  background-color: rgba(254, 228, 131, 0.4) !important;
  float: left;
  width: 32%;
  margin-right: 2%; }
  .contests-three-boxes .pane-content {
    padding: 1em;
    text-align: center; }
    .contests-three-boxes .pane-content h3 {
      font-size: 2em; }
    .contests-three-boxes .pane-content p {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0; }
  .contests-three-boxes .pane-content {
    height: 190px; }
    .contests-three-boxes .pane-content h3 {
      font-size: 1.5em; }
    .contests-three-boxes .pane-content img {
      margin: 1em 0;
      position: relative; }
    .contests-three-boxes .pane-content p {
      bottom: 10%;
      position: absolute;
      width: 100%;
      padding-right: 2em; }
  .contests-three-boxes .prize-1 {
    top: 13px; }
  .contests-three-boxes .prize-2 {
    top: 20px; }
  .contests-three-boxes .prize-3 {
    top: 0px; }

.share-three-boxes {
  background-color: rgba(254, 228, 131, 0.4) !important;
  float: left;
  width: 32%;
  margin-right: 2%; }
  .share-three-boxes .pane-content {
    padding: 1em;
    text-align: center; }
    .share-three-boxes .pane-content h3 {
      font-size: 2em; }
    .share-three-boxes .pane-content p {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0; }
  .share-three-boxes .pane-content {
    height: 155px; }
    .share-three-boxes .pane-content h3 {
      font-size: 1.7em; }
    .share-three-boxes .pane-content p {
      padding: 15px; }

.contests-three-boxes-last {
  margin-right: 0; }

.contests-no-bg-no-border {
  font-size: 1em;
  font-weight: 600;
  background: none !important;
  border: none !important;
  clear: both;
  margin-bottom: 0;
  padding: 1em;
  text-align: center; }
  .contests-no-bg-no-border .pane-content {
    padding-bottom: 0; }
  .contests-no-bg-no-border a {
    color: black;
    text-decoration: underline; }
    .contests-no-bg-no-border a:hover {
      color: #ff130a; }

.faq-section {
  border: none !important; }
  .faq-section .pane-content {
    background: rgba(254, 228, 131, 0.4);
    padding-bottom: 0; }
    .faq-section .pane-content ul {
      margin: 0px 10px;
      padding: 1.5em; }
  .faq-section .pane-title {
    color: #ffca06; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.li-triangles {
  list-style-image: url("assets/black-triangle.png"); }
  .li-triangles li h3 {
    font-size: 1.6em;
    text-transform: none; }

.share-your-video {
  margin-bottom: 25px;
  overflow: hidden;
  *zoom: 1; }
  .share-your-video .p-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 10px 15px; }
  .share-your-video h3 {
    font-size: 20px; }
  .share-your-video p {
    text-align: center;
    font-size: 11px; }
  .share-your-video ul {
    display: block;
    float: left;
    margin: 0 0 0 5%;
    padding: 0;
    width: 27%;
    text-align: center; }
    .share-your-video ul p {
      font-size: 14px; }
    .share-your-video ul li {
      list-style: none; }

.panel-row-flexible .battle-box {
  border: none; }
  .panel-row-flexible .battle-box h2 {
    text-transform: uppercase; }

.panel-row-flexible-mid ul {
  margin-left: 20px; }

.panel-row-flexible .panel-pane {
  border: none; }

.report-back-body .webform-client-form {
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none; }

.report-back-teaser {
  font-size: 1.25em;
  padding: 1em; }
  .report-back-teaser h3 {
    color: white;
    border: none; }

#judges_container {
  margin: 15px 0 0 20px;
  padding: 0; }
  #judges_container li {
    float: left;
    list-style: none; }
  #judges_container h3 {
    background-color: black;
    color: white;
    margin-bottom: 15px;
    padding: 10px 0 5px 0;
    text-align: center; }

.big_judge {
  width: 350px;
  margin-right: 12px; }
  .big_judge h3 {
    font-size: 25px; }

.sm_judge {
  width: 130px;
  margin-right: 16px; }
  .sm_judge h3 {
    font-size: 18px; }

.ui-dialog {
  background: black; }
  .ui-dialog p {
    color: white;
    font-size: 18px;
    line-height: 26px; }
  .ui-dialog h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: #ffca06; }

.ui-dialog .ui-dialog-titlebar-close {
  right: -425px; }

#celeb-gallery table {
  border: none;
  width: 100%; }
#celeb-gallery td {
  border-right: none; }
#celeb-gallery .pane-content {
  padding-bottom: 0; }

#video-gallery table {
  border: none;
  width: 100%; }
#video-gallery td {
  border-right: none; }
#video-gallery .pane-content {
  padding-bottom: 0; }
#video-gallery .views-field-nothing {
  display: block;
  position: relative;
  left: 300px;
  bottom: 20px; }
#video-gallery .views-field-nothing-1 span {
  padding: 15px 0 0 0;
  text-transform: uppercase;
  display: block; }
#video-gallery .views-field-nothing-1 a {
  color: black;
  text-decoration: underline; }
  #video-gallery .views-field-nothing-1 a:hover {
    color: #ff130a; }

#looking-for {
  margin-bottom: 15px; }
  #looking-for ul {
    margin: 0 0 0 20px;
    padding: 0 0 0 10px; }
  #looking-for li {
    margin: 10px 5px; }

.ds-panel .pane-content {
  padding-bottom: 0; }
  .ds-panel .pane-content .pager {
    margin: 0 auto;
    width: 175px; }
    .ds-panel .pane-content .pager a {
      color: black;
      text-decoration: underline; }
      .ds-panel .pane-content .pager a:hover {
        color: #ff130a; }
    .ds-panel .pane-content .pager li {
      color: black; }
  .ds-panel .pane-content .page-current {
    color: black; }

#breadcrumb {
  display: none; }

img {
  border: none !important;
  box-shadow: none !important;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.panel-row-ad-quick-info h2.pane-title {
  color: black !important; }

.panel-panel {
  margin-bottom: 15px; }

.panel-row-flexible-bot.panel-panel,
.panel-row-logos.panel-panel {
  margin-bottom: 0; }

.pane-dosomething-login-register-block .popup-content {
  height: 160px !important; }

.node-campaign-blog-post {
  padding: 15px !important; }
  .node-campaign-blog-post .field-type-text-with-summary {
    width: 500px;
    float: right;
    padding-left: 10px; }
  .node-campaign-blog-post .field-name-field-picture img {
    margin: 0; }
  .node-campaign-blog-post .field-name-field-blog-video {
    clear: both;
    position: relative;
    bottom: -25px;
    right: -125px;
    margin: 35px 0; }
    .node-campaign-blog-post .field-name-field-blog-video iframe {
      margin: 0 auto;
      display: block; }

.pane-webform-submission-entity .pane-content {
  margin: 20px 135px;
  padding-bottom: 20px; }
.pane-webform-submission-entity .field-name-field-webform-videos .content {
  margin: 20px auto; }
.pane-webform-submission-entity .field-name-field-webform-videos .field-label {
  display: none; }
.pane-webform-submission-entity .field-name-taxonomy-vocabulary-5,
.pane-webform-submission-entity #webform-component-almost-done-just-a-few-more-questions,
.pane-webform-submission-entity #webform-component-field-bfb-emails,
.pane-webform-submission-entity #webform-component-field-bfb-video,
.pane-webform-submission-entity #webform-component-field-bfb-lastname,
.pane-webform-submission-entity #webform-component-field-bfb-name {
  display: none; }
.pane-webform-submission-entity #webform-component-field-bfb-education,
.pane-webform-submission-entity #webform-component-field-bfb-together,
.pane-webform-submission-entity #webform-component-field-bfb-challenge,
.pane-webform-submission-entity #webform-component-field-bfb-team,
.pane-webform-submission-entity #webform-component-field-bfb-city,
.pane-webform-submission-entity #webform-component-state,
.pane-webform-submission-entity #webform-component-school {
  font-size: 14px;
  margin-bottom: 10px; }
  .pane-webform-submission-entity #webform-component-field-bfb-education label,
  .pane-webform-submission-entity #webform-component-field-bfb-together label,
  .pane-webform-submission-entity #webform-component-field-bfb-challenge label,
  .pane-webform-submission-entity #webform-component-field-bfb-team label,
  .pane-webform-submission-entity #webform-component-field-bfb-city label,
  .pane-webform-submission-entity #webform-component-state label,
  .pane-webform-submission-entity #webform-component-school label {
    font-size: 16px;
    font-weight: 600; }
