// Base imports. Be sure to compile using the --compass switch
@import compass/css3
@import compass/utilities/general/clearfix

//////////////////////////////////////////
///////// campaign definitions //////////
////////////////////////////////////////

// colors
$baseColor: #000000
$complement: #ffffff
$mainLink: #feca29
$secondaryLink: #FF130A // red
$goldLink: #FFC10B
$contentBG: rgba(254,238,131,.5)
$bgColor_darkYellow: #D5A11C
$transBg: rgba(254,228,131,.4)

// borders
$borderTop: 1px solid rgba(0,0,0,.5)
$borderBot: 1px solid rgba(255,255,255,.5)

// fonts - don't change these. if you do, -50 life points
$accent: din-web,"Trebuchet MS",sans-serif
$body: "Trebuchet MS",sans-serif
$boldWeight: 600

// padding and margins
$paneContentPadding: 1.5em

// page background
$imageBackground: url('assets/bg.jpg')
$bgFallback: #FFCA06

// block definition (all blocks--don't define width or float here)
@mixin block
  background: $transBg

// top and bottom border for elements
// use with &:before and &:after
@mixin insetBorder
  +clearfix
  display: block
  content: ''
  border-top: $borderTop
  border-bottom: $borderBot

@mixin noBoxShadow
  -mox-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none

@mixin setBorderBox
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

//////////////////////////////////////////
///////// general definitions ///////////
////////////////////////////////////////

.content
  .field
    float: none

a
  color: $baseColor
  &:hover
    color: $secondaryLink

b
  font-weight: $boldWeight

h1.title
  display: none

body
  background: $imageBackground center center fixed #FFCA06
  background-size: cover
  background-position-y: -5px

div[role="main"]
  +block
  @include box-shadow(black 0 0 30px -10px)
  padding: 20px 20px 5px
  margin-top: 0
  margin-bottom: 0

.three-boxes
  +setBorderBox
  border: none !important
  width: 29%
  float: left
  margin-right: 6.5%
  &:last-child
    margin-right: 0
  .pane-content
    +setBorderBox
    font-weight: $boldWeight
    height: 166px
    padding: $paneContentPadding
    text-align: center
  a
    margin-bottom: 15px
  .go-button
    padding-top: 8px !important

.three-boxes-last-child
  margin-right: 0 !important

.two-thirds
  width: 64.5%
  margin-right: 6.5%
  float: left

.one-third
  width: 29%
  margin-right: 0
  float: left

.white-box
  background: white
.black-border
  border: 1px solid black
.yay-shadow
  @include box-shadow(black 0 0 20px -10px)

.line-top
  &:before
    +insetBorder
.line-bottom
  &:after
    +insetBorder


/* universal declarations to be overridden per block if necessary */

.pane-content
  // background: $contentBG
  h3
    font-size: 26px
    font-weight: 600
    line-height: 1.1em
    color: black
    text-transform: uppercase
  ul
    margin: 10px 5px 
    padding: 1em
    // background: $contentBG
    +clearfix
  li
    font-size: 14px
  br
    clear: left

.pane-title
  background: black
  font-family: $accent
  
//////////////////////////////////////////
////////////// sections /////////////////
////////////////////////////////////////

// navigation
#block-dosomething-campaign-styles-campaign-nav
  background: black
  margin-right: -5px
  padding: 0
  font-family: $accent
  ul.menu
    +block
    background: black
    text-align: right
    .active
      color: $goldLink
    a
      display: inline-block
      width: 100%
      padding: 10px 19px 10px 0
      font-size: 21px
      font-weight: 400
      text-transform: uppercase
      color: $complement
      &:hover
        color: $goldLink
        text-decoration: none

.campaign-counter-labels
  color: white
  font-size: 1.5em
  text-transform: uppercase

.pane-campaign-blog-panel-pane-1
  background: transparent !important
  border: none !important
  .pane-content
    padding: 15px
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink
  .views-field-title
    a
      text-decoration: none
      &:hover
        color: $secondaryLink
  .more-link
    text-transform: uppercase

.pane-campaign-blog-panel-pane-2
  border: none !important
  width: 100%
  .pane-content
    padding: 10px 0 0 0
  .view-campaign-blog
    .views-row
      padding: 5px 15px 15px
        margin: 1em 0 1em 0
      &:first-child
        &:before
          border: none
          margin: 0
    .views-row-even
      background-color: $transBg

// campaign date text
.pane-node-field-campain-date
  font-weight: $boldWeight
  margin-bottom: 0
  .pane-content
    color: $bgFallback !important

// logo
.pane-node-field-campaign-logo
  margin: 0
  img
    position: relative
    left: 30px
    margin-bottom: 0

//sponsor logo
.sponsor-logo
  img
    position: absolute
    bottom: 45px
    left: 35px

// teaser
.pane-node-field-campaign-teaser
  margin-bottom: 0
  .pane-content
    p
      margin-bottom: 0

// sweepin' away the breadcrumb trail
#breadcrumb
  display: none

// top right wrapper
.panel-row-top-right
  // mini-info panel
  .panel-top-right-mini-info
    font-family: $accent
    .pane-title
      background: none
      padding: 0
      font-size: 26px
      line-height: 1em
    .pane-content
      font-size: 21px
      line-height: 1.4em
      background: none
      color: white
      padding: 0

// actions panel (sign-up and counter)
.panel-row-actions
  background: $transBg
  border: none
  .form-wrapper
    margin-bottom: 12px
  .pane-title
    background: $baseColor
  .pane-content
    padding: 18px
  .panel-row-actions-sign-up
    .pane-campaign-sign-up
      margin: 0
      .pane-title
        color: white
    .pane-content
      padding: 0
      .webform-client-form
        +noBoxShadow
        border: none
      .field-name-field-webform-mobile  
        margin-bottom: 0.5em
        input
          width: 75%
      .field-name-field-webform-email
        margin-bottom: 0.5em
        input
          width: 100%

#webform-client-form-719314
  #edit-actions
    position: absolute
    right: 5px
    bottom: 8px

#campaign-opt-in
  font-size: 11px
  margin-left: 15px
  a
    font-weight: bold
    display: block
    height: 20px
    width: 20px
    position: absolute
    bottom: 0
    left: 330px
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink

// ad row (quick info and psa)
.panel-row-ad-quick-info
  .pane-title
    font-size: 35px
    padding: 0
    background: transparent
    text-transform: uppercase
    color: black
    line-height: 1em
    font-weight: 600
  .pane-content
    padding: 0
    background: transparent
    h2
      color: black
      font-size: 26px
      text-transform: uppercase
      font-weight: 500
      line-height: 1em
    h3
      color: black
      margin-top: 0.5em
    p
      margin: 0
    &:before
      margin-bottom: 8px
      background: transparent

.panel-row-ad-psa
  background: transparent
  .pane-title
    background: black
  .pane-content
    background: none  
    padding: 0 5px
  	
// all panels
.panel-row-flexible
  .panel-pane
    +block
    .pane-title
      background: $baseColor
      color: white
      text-transform: uppercase
      font-size: 21px
      padding: 9px 8px 7px
  // .blog
  //   background: transparent
  //   &:before, &:after
  //     +insetBorder
  //   &:before,&:after
  //     +insetBorder

// logos
.panel-row-logos
  .pane-title
    color: $baseColor
    background: none
    padding: 0
  .pane-content
    margin: 20px 0 0 0
    background: none
    padding: 0  

.panel-row-top-logo
  margin-bottom: 40px
  .pane-content
    padding: 0
    background: none
  p
    color: $baseColor
    font-size: 28px 
    font-weight: bold
    margin: 0 0 0 20px

/* need to isolate images in logo area */

.field.field-name-field-campaign-promo-image 
  position: relative
  top: 5em
  left: 4em
  float: left
  
.field.field-name-field-campaign-logo
  margin-bottom: -50px
  
  /* social buttons */

.panel-top-right-social
  &:before
    +insetBorder
  .panel-pane
    margin: 0
    padding: 5px 0

$contestsFontSize: 1em

@mixin contestsFont
  font-size: $contestsFontSize
  font-weight: $boldWeight

@mixin contestBlock
  background-color: $transBg !important
  // border: 1px solid black !important
  .pane-content
    padding: 1em
    text-align: center
    h3
      font-size: 2em
    p
      +contestsFont
      margin-bottom: 0

// Custom
.clear-both
  clear: both

.contests-grand-prize
  .pane-content
    padding: 15px !important
  +contestBlock
  margin-bottom: 1em
  .dollar-left
    margin: -10px 20px 0 164px
  .dollar-right
    margin: -10px 20px

.contests-scholarships
  .pane-content
    padding: 25px !important
  +contestBlock
  .pane-title
    color: $bgFallback

.contests-star-prize
  .pane-content
    padding: 15px !important
  +contestBlock
  .amp-left  
    margin: -15px 10px 0 155px
  .amp-right
    margin: -15px 15px 0 0

.contests-three-boxes
  +contestBlock
  float: left
  width: 32%
  margin-right: 2%
  .pane-content
    height: 190px
    h3
      font-size: 1.5em
    img
      margin: 1em 0
      position: relative
    p
      bottom: 10%
      position: absolute
      //this feels hacky, but this centers the text in the box
      width: 100%
      padding-right: 2em
  .prize-1
    top: 13px
  .prize-2
    top: 20px
  .prize-3
    top: 0px

.share-three-boxes
  +contestBlock
  float: left
  width: 32%
  margin-right: 2%
  .pane-content
    height: 155px
    h3
      font-size: 1.7em
    p
      padding: 15px

// using :nth-of-type and :last-of-type didn't work
.contests-three-boxes-last
  margin-right: 0

.contests-no-bg-no-border
  +contestsFont
  background: none !important
  border: none !important
  clear: both
  margin-bottom: 0
  padding: 1em
  text-align: center
  .pane-content
    padding-bottom: 0
  a
    color: $baseColor
    text-decoration: underline
    &:hover
      color: $secondaryLink

.faq-section
  border: none !important
  .pane-content
    background: $transBg
    padding-bottom: 0
    ul
      margin: 0px 10px
      padding: $paneContentPadding
  .pane-title
    color: $bgFallback

.float-left
  float: left

.float-right
  float: right

.li-triangles
  list-style-image: url("assets/black-triangle.png")
  li
    h3
      font-size: 1.6em
      text-transform: none

.share-your-video
  margin-bottom: 25px
  +clearfix
  .p-title
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    text-align: center
    margin: 10px 15px
  h3
    font-size: 20px
  p
    text-align: center
    font-size: 11px
  ul
    display: block
    float: left
    margin: 0 0 0 5%
    padding: 0
    width: 27%
    text-align: center
    p
      font-size: 14px
    li
      list-style: none

.panel-row-flexible
  .battle-box
    border: none
    h2
      text-transform: uppercase

.panel-row-flexible-mid
  ul
    margin-left: 20px

.panel-row-flexible
  .panel-pane
    border: none

.report-back-body
  .webform-client-form
    +noBoxShadow
    border: none

.report-back-teaser
  font-size: 1.25em
  padding: 1em
  h3
    color: white
    border: none

//judges styles

#judges_container
  margin: 15px 0 0 20px
  padding: 0
  li
    float: left
    list-style: none
  h3
    background-color: #000
    color: #fff
    margin-bottom: 15px
    padding: 10px 0 5px 0
    text-align: center

.big_judge
  width: 350px
  margin-right: 12px
  h3
    font-size: 25px

.sm_judge
  width: 130px  
  margin-right: 16px
  h3
    font-size: 18px

//ds-popup styles

.ui-dialog
  background: #000
  p
    color: #fff
    font-size: 18px
    line-height: 26px
  h1
    text-transform: uppercase
    text-align: center
    font-size: 50px
    color: $bgFallback

.ui-dialog .ui-dialog-titlebar-close
  right: -425px

// celeb-gallery styling
#celeb-gallery
  table
    border: none
    width: 100%
  td
    border-right: none
  .pane-content
    padding-bottom: 0

// video gallery styling
#video-gallery
  table
    border: none
    width: 100%
  td
    border-right: none
  .pane-content
    padding-bottom: 0
  .views-field-nothing
    display: block
    position: relative
    left: 300px
    bottom: 20px
  .views-field-nothing-1
    span
      padding: 15px 0 0 0
      text-transform: uppercase
      display: block
    a
      color: $baseColor
      text-decoration: underline
      &:hover
        color: $secondaryLink

// share your video
#looking-for
  margin-bottom: 15px
  ul
    margin: 0 0 0 20px
    padding: 0 0 0 10px
  li
    margin: 10px 5px

// view page navigation
.ds-panel
  .pane-content
    padding-bottom: 0
    .pager
      margin: 0 auto
      width: 175px
      a
        color: $baseColor
        text-decoration: underline
        &:hover
          color: $secondaryLink
      li
        color: $baseColor
    .page-current
      color: $baseColor

// sweepin' away the breadcrumb trail
#breadcrumb
  display: none
			
// resetting the nonsense
img
  border: none !important
  box-shadow: none !important
  -o-box-shadow: none !important
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important

.panel-row-ad-quick-info
  h2.pane-title
    color: $baseColor !important

.panel-panel
  margin-bottom: 15px

.panel-row-flexible-bot.panel-panel,
.panel-row-logos.panel-panel
  margin-bottom: 0

.pane-dosomething-login-register-block .popup-content 
  height: 160px !important

// blog

.node-campaign-blog-post
  padding: 15px !important
  .field-name-field-picture
    img
      margin: 0 20px 20px 0
      float: left
  .field-name-field-blog-video
    clear: both
    position: relative
    bottom: -25px
    right: -125px
    margin: 35px 0
    iframe
      margin: 0 auto
      display: block

.field-type-text-with-summary
  img
    padding: 10px
    margin: 20px auto
    display: block
    border: 1px solid #000!important

// report back individual content page
.pane-webform-submission-entity
  .pane-content
    margin: 20px 135px
    padding-bottom: 20px
  .field-name-field-webform-videos 
    .content
      margin: 20px auto
    .field-label
      display: none
  .field-name-taxonomy-vocabulary-5,
  #webform-component-almost-done-just-a-few-more-questions,
  #webform-component-field-bfb-emails,
  #webform-component-field-bfb-video,
  #webform-component-field-bfb-lastname,
  #webform-component-field-bfb-name
    display: none
  #webform-component-field-bfb-education,
  #webform-component-field-bfb-together,
  #webform-component-field-bfb-challenge,
  #webform-component-field-bfb-team,
  #webform-component-field-bfb-city,
  #webform-component-state,
  #webform-component-school
    font-size: 14px
    margin-bottom: 10px
    label
      font-size: 16px
      font-weight: 600

.fb_edge_widget_with_comment
  margin-left: -67px
