=ds-bevel-double($background: $gray-lighter)
  $lighter: lighten($background, 11%)
  $darker: darken($background, 11%)
  +box-shadow($lighter 0 1px -1px 1px, $lighter 0 5px 0 -4px inset)
  border:
    top: 1px solid $darker
    bottom: 1px solid $darker

=ds-bevel-single($background: $gray-lighter)
  $lighter: lighten($background, 11%)
  $darker: darken($background, 11%)
  +box-shadow($lighter 0 1px -1px 1px)
  border-bottom: 1px solid $darker
