=alternating-list
  .views-row
    +pie-clearfix
    background: (image_url('triangle-mask-left.png') no-repeat 19% center, $gray2)
    height: calc-em(78px, $s0)
    margin-bottom: calc-em(24px, $s0)
    width: 100%
    &:nth-of-type(even)
      background-color: $gray
  .views-field-field-picture
    img
      +float-left
      +inline-block
      height: calc-em(78px, $s0)
      margin-right: calc-em(18px, $s0)
      padding: 0
  .unimage-wrapper
    padding: calc-em(7px, $s0) 0
    +pie-clearfix
    width: 455px
    a
      color: $white
      +float-left
    h2
      +adjust-font-size-to($s2)
      color: $white
      font-family: $font-headline
      font-weight: 500
      margin: 0
      text-rendering: optimizeLegibility
      text-transform: uppercase
      width: 100%
    .fb-social-like-plugin
      +float-right
      width: calc-em(55px, $s0)

=ds-bevel-double($background: $gray-lighter)
  $lighter: lighten($background, 11%)
  $darker: darken($background, 11%)
  +box-shadow($lighter 0 1px -1px 1px, $lighter 0 5px 0 -4px inset)
  border:
    top: 1px solid $darker
    bottom: 1px solid $darker

=ds-bevel-single($background: $gray-lighter)
  $lighter: lighten($background, 11%)
  $darker: darken($background, 11%)
  +box-shadow($lighter 0 1px -1px 1px)
  border-bottom: 1px solid $darker

=ds-dropdown
  background: $c-select-field-bg
  border: none
  color: $white
  width: 100%
  height: image-height('icn-leftsidebar-pointer-yellow.png')
  font-family: $font-headline
  font-weight: normal
  +adjust-font-size-to($s2)
  margin-bottom: calc-em(6px, $s2)
  // .selectBox-label
    // @extend .h3
  .selectBox-arrow
    background: image_url('icn-leftsidebar-pointer-yellow.png') no-repeat right top
    width: image-width('icn-leftsidebar-pointer-yellow.png')

// =tabs($dir: bottom)
//   +horizontal-list(3px)
//   position: relative
//   li
//     border-#{$dir}: 1px solid $base-color
//     &.active
//       a
//         padding-#{$dir}: 0
//         border-#{$dir}: 1px solid $white
//     a
//       border:
//         width: 1px
//         style: solid
//         color: $base-color
//       float: left
//       position: relative
//       #{$dir}: -1px
//       @if $dir == bottom
//         padding: 0 0.25em 1px
//         +border-top-radius
//         +remove-link-underlines
//       @else
//         padding: 1px 0.25em 0
//         +border-bottom-radius
//         border-top-width: 0

=ds-tabs
  // +tabs
  padding-top: 20px
  padding-bottom: 8px
  li
    // padding: 8px 12px
    a
      +background-image(linear-gradient(top, #FCFDFA, #F1F2EF))
      +border-top-radius(3px)
      color: $blue
      padding-top: 8px
      padding-bottom: 8px
      margin-right: 1px
      border-color: #CCCCCC
    a.active
      color: #222222
      background: $white
      border-color: #CCCCCC

// Apply to the ul or ul equivalent class
=status-bar($selector: 'li')
  @if $selector == 'li'
    +horizontal-list
  #{$selector}
    color: $blue
    font-weight: bold
    font-size: $s1
    font-style: italic
    margin-left: 0.2em
    padding-top: 0.3em
    .label
      color: $black
    &:after
      background: image_url("bg-statbar-divider.png") no-repeat right center
      content: "\0020"
      height: 1em
      +inline-block
      width: 1em
    &:last-child
      &:after
        display: none
