// =tabs($dir: bottom)
//   +horizontal-list(3px)
//   position: relative
//   li
//     border-#{$dir}: 1px solid $base-color
//     &.active
//       a
//         padding-#{$dir}: 0
//         border-#{$dir}: 1px solid $white
//     a
//       border:
//         width: 1px
//         style: solid
//         color: $base-color
//       float: left
//       position: relative
//       #{$dir}: -1px
//       @if $dir == bottom
//         padding: 0 0.25em 1px
//         +border-top-radius
//         +remove-link-underlines
//       @else
//         padding: 1px 0.25em 0
//         +border-bottom-radius
//         border-top-width: 0

=ds-tabs
  // +tabs
  padding-top: 20px
  padding-bottom: 8px
  li
    // padding: 8px 12px
    a
      +background-image(linear-gradient(top, #FCFDFA, #F1F2EF))
      +border-top-radius(3px)
      color: $blue
      padding-top: 8px
      padding-bottom: 8px
      margin-right: 1px
      border-color: #CCCCCC
    a.active
      color: #222222
      background: $white
      border-color: #CCCCCC  
